{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>推广奖励</h1>
<table cellpadding="10" cellspacing="0" class="righttable">
  <tr>
	<td height="100" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;
	如果有人通过您的推荐链接访问本站您将会获得奖励。<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;<b>奖励办法：</b>每推荐一个访问者我们将奖励您<font color="red">{$number}</font>。注意：同一IP在24小时内只有第一次有效，并且通过域名 {$domain} 上的链接而访问本站无效。<br />
	&nbsp;&nbsp;&nbsp;&nbsp;<b>推荐链接：</b>
	</td>
  </tr>
  <tr>
	<td align="center">
		<input id="reflink" type="text" size="50" value="{$reflink}" onfocus="this.select();this.blur();document.getElementById('copyBtn').disabled=false;">&nbsp;<input type="button" value="选　择" onclick="document.getElementById('reflink').select();"><br>
			<input id="copyBtn" type="button" value="复制到剪贴板" onclick="document.execCommand('Copy',false,document.getElementById('reflink').value);" disabled></td>
		</tr>
      </table>
     </div></div>
<br />
<div class="memberborder_1">
<div class="memberborder_2">
<h1>推广奖励记录</h1>
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="20%" class="td_center">IP</td>
      <td width="40%" class="td_center">来路</td>
      <td width="15%" class="td_center">奖励</td>
      <td width="25%" class="td_center">访问时间</td>
    </tr>
{loop $bills $bill}
    <tr>
      <td class="td_center">{$bill[ip]}</td>
      <td class="td_center">&nbsp;<a href="{$bill[refurl]}" target="_blank">{$bill[refurl]}</a></td>
      <td class="td_center">{$bill['number']}{if $bill['type'] == 'points'}点 {elseif $bill['type'] == 'days'}天 {else} 元 {/if}</td>
      <td class="td_center">{$bill[addtime]}</td>
    </tr>
{/loop}
  </table>
<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">{$pages}</td>
  </tr>
</table>
</div></div>
    </td>
   </tr>
</table>
{template 'phpcms','footer'}