.c1{color:#000;}
.c2{color:#fff;}
.c3{color:#008000;}
.c4{color:#800000;}
.c5{color:#808000;}
.c6{color:#000080;}
.c7{color:#800080;}
.c8{color:#808080;}
.c9{color:#ff0;}
.c10{color:#0f0;}
.c11{color:#0ff;}
.c12{color:#f0f;}
.c13{color:#f00;}
.c14{color:#00f;}
.c15{color:#008080;}

.bg1{background-color:#000;}
.bg2{background-color:#fff;}
.bg3{background-color:#008000;}
.bg4{background-color:#800000;}
.bg5{background-color:#808000;}
.bg6{background-color:#000080;}
.bg7{background-color:#800080;}
.bg8{background-color:#808080;}
.bg9{background-color:#ff0;}
.bg10{background-color:#0f0;}
.bg11{background-color:#0ff;}
.bg12{background-color:#f0f;}
.bg13{background-color:#f00;}
.bg14{background-color:#00f;}
.bg15{background-color:#008080;}

.b{font-weight:bold;}
