/*弹出层*/
.jqmWindow {display: none;position: absolute;z-index:3000;top: 17%;left: 50%;margin-left: -301px; width:600px; overflow:hidden; background: #fff; border:1px solid #B9DFF9;}
.jqmWindow h5 {margin:0; border:0; background:url(images/bg_table.jpg) repeat-x 0 0; font-size:12px; padding:0 10px; border-bottom:1px solid #B9DFF9;color:#077AC7; height:28px;line-height:28px; width:100%; text-align:left; }
.jqmWindow table {width:100%;}
.jqmWindow table th { font-weight:bold; text-align:right; padding-right:5px;}
.jqmWindow table td { font-size:12px; height:28px;	line-height:28px; padding-left:5px;}
.jqmOverlay { background-color: #000;z-index:2999;}
.jqmClose {float:right;margin-top:6px;margin-right:15px;cursor:pointer;}
#protocol {	line-height:180%; overflow:auto; padding:10px;}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

div.jqmDialog {
  display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -200px;
  width: 400px;

  overflow: hidden;
  font-family:verdana,tahoma,helvetica;
}