/*公共属性*/
body, dl, dt, dd, ol, ul, pre, form, field, input, p, blockquote, th, td, h1, h2, h3, h4, h5, h6 { font-family:"宋体",Arial, Helvetica, sans-serif; margin:0; padding:0;color:#333; font-size:12px;}
body {text-align:left; background:#FFF url(images/bg_2.jpg) repeat-x 0 -94px;}
a:link{color:#333;text-decoration:none}
a:visited{color:#333;text-decoration:none}
a:hover,a:active,a:focus{color:#ff2121; text-decoration:underline}
ul, ol { list-style:none;}
input, textarea, select, button, file {	font-size:12px;}
img { border:0;}
p, li {	line-height:1.8em;}
/*单选框复选框*/
.radio_style, .checkbox_style {border:0;}
/*按钮样式*/
.button_style {	background:url(images/bg_admin.jpg) repeat-x 0 -51px; text-align:center; border:1px solid #9cc9e0; padding:1px 4px;*padding-top:3px; color:#077ac7; cursor:pointer; height:21px; }
/*布局*/
#top{ width:980px; margin:3px auto 0; background:transparent; height:27px; line-height:27px; color:#077ac7; overflow:hidden;}
#top td,.cribox_bdr_1 td{ padding:0 6px;}
#head, #main, #foot,#menu,#submenu{ width:980px; margin:10px auto 0; background:#fff; text-align:left; clear:both; overflow:hidden;}
#head{ background:transparent; overflow:hidden;}
#main {	background:url(images/main_bg.gif) repeat-y right 0; /*height:100%; overflow:hidden;*/}
#foot { background:url(images/bg_foot.jpg) repeat-x 0 0; padding:10px 0; text-align:center; line-height:25px;	color:#454545;	font-family:arial; color:#077ac7;}
#foot a{ margin:8px auto;}
#main_l { float:left; width:640px;	overflow:hidden;}
#main_l h1 { font-size:18px; text-align:center;	margin:10px auto;}
#main_r { float:right; width:315px;	padding:5px; overflow:hidden;}
#logo { float:left; width:180px;}
/*头部banner*/
#topbanner{float:right; width:638px;}

/*菜单*/
#menu,#submenu{ background:#000 url(images/bg_2.jpg) repeat-x 0 -5px; height:34px; clear:both;}
#menu ul{ margin-left:20px; width:100%;}
#menu ul li{ display:inline;}
#menu ul li a,#menu ul li a span{ display:block; float:left; height:30px; color:#fff; text-decoration:none; cursor:pointer;}
#menu ul li a span{padding:8px 10px 0;}
#menu ul li a:hover,#menu ul li a:hover span,#menu ul li a.selected,#menu ul li a.selected span{ background:url(images/bg_menu_l.gif) no-repeat 0 0; display:block; float:left; height:30px; color:#333;}
#menu ul li a:hover span,#menu ul li a.selected span{ background: url(images/bg_menu_r.gif) no-repeat right 0; padding:8px 10px 0;}
#submenu{ height:24px; line-height:24px; margin-top:0; background-position:0 -35px;}
#submenu a{ padding:0 0 0 6px;}
/* 视频basic */
.clear {clear:both;font-size:0px;height:0px;line-height:0px;}
.f_l{float:left;}
.f_r{float:right;}
.fb{font-weight:bold;}
.f14{font-size:14px;}
/* 颜色属性 */
.red,.red a{color:#FF0006!important;text-decoration:none;}
.red a:hover{color:#FF0006!important;text-decoration:underline;}
.blue,.blue a{color:#2872b5!important;text-decoration:none}
.blue a:hover{color:#2872b5!important;text-decoration:underline}
.gray,.gray a{color:#999;!important;text-decoration:none;}
.gray a:hover{color:#999;!important;text-decoration:underline;}

/* CSS空白 */
.blank1{margin:0 auto;height:1px;font-size:1px;clear:both;}
.blank2{margin:0 auto;height:2px;font-size:1px;clear:both;}
.blank3{margin:0 auto;height:3px;font-size:1px;clear:both;}
.blank5{margin:0 auto;height:5px;font-size:1px;clear:both;}
.blank8{margin:0 auto;height:8px;font-size:1px;clear:both;}
.blank10{margin:0 auto;height:10px;font-size:1px;clear:both;}
.blank15{margin:0 auto;height:15px;font-size:1px;clear:both;}
.blank20{margin:0 auto;height:20px;font-size:1px;clear:both;}
.blank25{margin:0 auto;height:25px;font-size:1px;clear:both;}
.blank35{margin:0 auto;height:35px;font-size:1px;clear:both;}
.list12{padding-left:10px;}
.list12 li{background:url(images/sprites.gif) no-repeat left -231px;padding-left:8px;font-size:12px;line-height:23px;width:220px; white-space:nowrap;overflow:hidden;}
.list12 li a,.list12 li avisited{color:#3c3c3c;text-decoration:none;}
.list12 li a:hover{text-decoration:underline;}
.list14{padding-left:10px;}
.list14 li{background:url(images/sprites.gif) no-repeat left -231px;padding-left:8px;font-size:14px;line-height:23px; white-space:nowrap;overflow:hidden;}
.img_padding img{border:1px solid #ccc;padding:2px;}
.img_padding:hover img{border:1px solid #ff7f18;}
.dashed{background:url(images/dashed_line.gif) repeat-x left top;height:1px;margin:3px auto;width:92%;overflow:hidden;}
.mar_10{margin-bottom:10px;}

#main{background:none;margin-top:6px;}
.left{float:left;}
.right{float:right;}
.w250{width:250px;}
.w252{width:252px;}
.w254{width:254px;}
.left10{margin-left:10px;}
.w250 .tit{background:url(images/sprites.gif) no-repeat left -120px;width:252px;height:31px;line-height:31px;text-indent:18px;color:#2872b5;}
.midcon{border:1px solid #add5ed;border-top:none;height:auto;overflow:hidden;background:#fff;}
.pic_txt li{padding-left:10px;margin-bottom:8px;}
.pic_txt li p{line-height:18px; text-align:left;width:150px;float:right;padding-right:4px;}
.pic_txt li span{display:block;color:#838486;}
.pic_txt li img{padding:2px;border:1px solid #ccc;}
.pic_txt li a:hover img{border:1px solid #ff7f18;padding:2px;}
 
.focus{width:456px;margin-left:10px;_margin-left:8px;}

.search{width:254px;height:36px; background:#b4e5f9;}
.input_txt{ background:url(images/sprites.gif) no-repeat left -180px;width:181px;height:28px;border:none;padding:0px 0px 1px 5px;font-size:13px;line-height:28px;margin-top:4px;margin-left:8px;float:left;margin-rgiht:6px;}
.button_bg{background:url(images/sprites.gif) no-repeat -424px -120px;width:51px;height:26px;border:none; text-align:center; cursor:pointer;color:#fff;margin-top:5px;}
.tit{background:url(images/sprites.gif) no-repeat left -71px;height:31px;line-height:31px; text-indent:12px;}
.tit span{background:url(images/sprites.gif) no-repeat right -40px;height:31px;display:block;}
.allcon_hd{background:url(images/sprites.gif) repeat-x left -340px;height:31px;line-height:31px;text-indent:12px;}
.allcon_hd h2{background:url(images/sprites.gif) no-repeat left -380px;height:31px;}
.allcon_hd .more{float:right;line-height:31px;font-size:12px;font-weight:normal; background:url(images/sprites.gif) no-repeat right -40px;height:31px;display:block;padding-right:8px;}
.allcon_hd .more a,.allcon_hd .more a:visited{ text-decoration:none;color:#2872b5;}
.allcon_hd .more a:hover{ text-decoration:underline;}

.leftcon{width:723px;float:left;border-right:1px solid #add5ed;height:294px;}
.itimg{margin-bottom:6px;padding-left:15px;margin-right:20px;text-align:center;}
.itimg img{margin-bottom:4px;}
.itimg h2{line-height:26px;}
.itimg p{line-height:22px; text-align:left;color:#434a50;}

.top_img{float:left;}
.top_img .img_padding{position:relative;display:block;}
.top_img .v_time{position:absolute;left:3px;top:3px;padding:0px 3px;line-height:12px;font-size:10px; background:#666666;color:#fff;}
.top_img h2{font-weight:normal;}
.top_img p{color:#6c737a;}
.top_img li{float:left;width:130px;overflow:hidden;margin-right:16px;padding-left:8px;_margin-right:14px;_padding-left:6px;}
.top_img li a,.top_img li a:visited{text-decoration:none;}

.list_vedio .img_padding{position:relative;display:block;}
.list_vedio .v_time{position:absolute;left:3px;top:3px;padding:0px 3px;line-height:12px;font-size:10px; background:#666666;color:#fff;}
.list_vedio li{width:130px;overflow:hidden;margin-right:16px;padding-left:16px;*margin-right:18px;*padding-left:18px;margin-bottom:5px;display:inline;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
.list_vedio li a,.list_vedio li a:visited{text-decoration:none;}
.list_vedio h2{font-weight:normal;}
.list_vedio p{color:#6c737a;}


.txt_list{width:450px;}
.txt_list li{width:200px;float:left;background:url(images/sprites.gif) no-repeat left -231px;padding-left:8px;font-size:12px;line-height:24px;margin-right:8px;padding-left:6px;}

.titleBar{height:25px; background:url(images/sprites.gif) repeat-x left -566px;line-height:25px;}
.titleBar h3{float:left;line-height:25px;color:#e87f18;font-size:14px;padding-left:16px;}
.tagList{border-left:1px solid #add5ed;height:25px;line-height:25px;background:url(images/sprites.gif) repeat-x left -496px;height:25px;line-height:25px;}
.tagList li{float:left; text-align:center;width:50px;border:1px solid #add5ed;border-bottom:none;margin-left:-1px;cursor:pointer;height:24px;line-height:24px;border-right:none;}
.tagList li.r_border{border-right:1px solid #ADD5ED;!important}
.tagList .on{background:#fff; text-align:center}

.rtlist li{padding-left:8px;font-size:12px;line-height:24px; white-space:nowrap;overflow:hidden;}
.rtlist li span{float:left;color:#2872b5;font-family:Arial;font-weight:bold;font-size:12px;margin-right:8px;}
.navtit{float:right;line-height:31px;font-size:12px;font-weight:normal;font-size:12px;}
.navtit a{margin-right:15px;color:#2872b5;}
.nav_channel{background:url(images/sprites.gif) repeat-x left -420px;height:30px;float:left;width:980px;margin:0 auto;line-height:30px;}
.nav_channel h2{background:url(images/sprites.gif) no-repeat left -453px;height:30px;float:left; text-indent:28px;color:#505050;}
.midbar{float:left;margin-left:20px;}
.rbar{background:url(images/sprites.gif) no-repeat right -211px;height:30px;float:right;display:block;}

.w670{width:670px;overflow:hidden;}
.w292{width:292px;}
.w368{width:368px;_width:364px;}
.w302{width:302px;}
.player_txt{background:#e5e5e5;line-height:26px;height:26px;width:292px;overflow:hidden;}
.player_txt h2{padding-left:6px;}
.player_txt p{line-height:26px;padding-right:3px;}

.w368 h2{font-family:黑体;font-size:20px;font-weight:100;line-height:24px;margin:7px 0 4px; text-align:center;}
.w368 p{ text-align:center;line-height:22px;}
.w368 p a{margin-right:8px;color:#2872b5;}

.hotpic_list li{float:left;width:100px;padding-left:10px;margin-right:10px;_margin-right:6px;_padding-left:6px;display:inline;}
.hotpic_list li h2{font-size:12px;font-weight:normal;font-family:"宋体"; text-align:left;line-height:18px;}
.hotpic_list li h2 a,.hotpic_list li h2 a:visited{color:#2872b5;}

.inner_title{background:url(images/sprites.gif) repeat-x left -340px;line-height:31px;height:31px;}
.inner_title h2{background:url(images/sprites.gif) no-repeat left -380px;height:31px; text-indent:12px}
.inner_title .more{float:right;display:block; background:url(images/sprites.gif) no-repeat right -40px;padding-right:10px;}

.r_tit{background:url(images/sprites.gif) no-repeat left -295px;height:33px; text-indent:22px;color:#e87f18;line-height:36px;_line-height:33px;}
.subject_img {padding:10px 0;}
.subject_img li{float:left;width:126px;height:98px;padding-left:12px;margin-right:8px;margin-bottom:8px;}

.subject_list{padding-left:8px;}
.subject_list li{width:136px;float:left;background:url(images/sprites.gif) no-repeat left -231px;padding-left:8px;font-size:12px;line-height:23px;white-space:nowrap;overflow:hidden;}

.gg302{margin:10px 0;}
.box{width:668px;}
.box_r{width:300px;}
.box_l{width:248px;}
.box_all{width:978px;}
.w252{width:252px;}
.r_vedio li .img_padding{position:relative;display:block;}
.r_vedio li .v_time{position:absolute;left:3px;top:3px;padding:0px 3px;line-height:12px;font-size:10px; background:#666666;color:#fff;}
.r_vedio li{width:130px;overflow:hidden;margin:0 6px 10px 8px;display:inline;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
.r_vedio li a,.r_vedio li a:visited{text-decoration:none;}
.r_vedio li h2{font-weight:normal;}
.r_vedio li p{color:#6c737a;}

/*内容页*/
.areaLeft{float:left;width:554px; background:#f5faff;border:1px solid #add5ed;padding:10px 20px;overflow:hidden;}
.areaRight{float:right;width:376px;overflow:hidden;}
.areaLeft h2{ font-family:黑体;font-size:20px;font-weight:100;line-height:24px;margin:15px 0 10px;text-align:center;}
.videoPlay{ text-align:center;margin-bottom:10px;}
.btnZhuang{background:url(images/sprites.gif) no-repeat -280px -180px;height:32px;width:187px;line-height:32px; text-indent:38px; cursor:pointer;margin-bottom:10px;}
.shareModule{background:#fff;border:1px solid #cde1f6;padding:10px 15px; position:relative;_position:static;margin-bottom:10px;}
.quteArrow{position:absolute;top:-9px;left:36px; background:url(images/sprites.gif) no-repeat right -260px;width:24px;height:9px;} 
.shareModule p{line-height:24px;}
.shareModule input{background:#fff;border:1px solid #E1E1E1;height:16px;padding:3px;width:432px;float:left;margin:0 8px 10px 0px;color:#3399cc;}
.shareModule .btnCopy{background:url(images/sprites.gif) no-repeat -280px -120px;width:62px;height:23px;line-height:23px; text-align:center;display:block;float:left;}

.xinqing{background:#fff;border:1px solid #cde1f6;margin-bottom:10px;}
.xinqing .hd{background:url(images/sprites.gif) repeat-x left -530px;height:31px;line-height:31px;text-indent:14px;}
.xinqing li{display:inline;float:left;line-height:24px;margin:9px;text-align:center;}

.commnent{background:#fff;border:1px solid #cde1f6;margin-bottom:10px;}
.commnent .hd{background:url(images/sprites.gif) repeat-x left -530px;height:31px;line-height:31px;text-indent:14px;}
.commnent .more{float:right; padding-right:6px;font-weight:normal;color:#fe7421;}


.ccTil{height:40px;line-height:40px; text-align:right;padding-right:8px;}
.bar{background:#F5F5F5;padding:8px 15px;display:block;line}
.con{padding:10px;line-height:24px;margin-top:10px; position:relative;}
.huiy{position:absolute;right:10px;bottom:6px;}

.rcon{border:1px solid #add5ed;padding:10px;width:354px;margin-bottom:10px;position:relative;overflow:hidden;}
.rcon .title{font-size:14px;line-height:30px;height:30px;margin-bottom:6px; text-indent:6px;font-weight:bold;}
.playList .listpic{background:none;margin-bottom:4px;}
.playList .listpic .img{float:left;widh:110px;height:64px;margin-right:10px;overflow:hidden;display:block;width:112px;}
.playList .listpic h3{font-weight:normal;}
.playList li{background:url(images/sprites.gif) no-repeat left -231px;padding-left:8px;font-size:12px;line-height:24px;width:345px; white-space:nowrap;overflow:hidden;}
.playList li span{margin-left:8px;color:#9b9b9b}
.pagesVideo{position:absolute; bottom:5px;right:10px;}
.rcon_vedio li{width:110px;padding-left:2px;margin:0px 2px 8px 0px;*padding-left:4px;*margin:0px 4px 8px 0px;overflow:hidden;display:inline;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
.rcon_vedio li .rimg{width:106px;height:81px;display:block;overflow:hidden;}
.rcon_vedio li .rimg img{width:100px;height:75px;}
.rcon_vedio h2{font-weight:normal;}


#text_1{line-height:26px;height:26px; text-align:right; background:#d5e5f5;margin-bottom:10px;padding-right:6px;}
.commnentTxt{margin-left:4px;margin-top:4px;}
.commnentTxt textarea{background:url(http://demo.phpcms.cn/images/bg_logo.gif) no-repeat scroll 260px 40px;height:110px;
padding:4px;width:530px;}

.commnentTxt li input {float:left;margin:0 3px;}
.commnentTxt li img {float:left;margin:0 5px 5px;}
.titles{border:1px solid #CDE1F6;margin-bottom:10px;}
.titles h3{background:url(images/sprites.gif) repeat-x left -530px;height:31px;line-height:31px;text-indent:14px;}
.titles li{display:inline;float:left;line-height:24px;margin:9px;text-align:center;}
#column li {margin:5px 14px;}
#column li div {background-color:#EEF7F7;border:1px solid #C8DDF2;height:79px;padding:0;position:relative;width:20px;}
#column li div img {bottom:0;left:0;position:absolute;width:20px;}

.channel_pages{margin:0px 0 0;padding:5px 0;text-align:center;}
.channel_pages a{margin-left:2px;padding:3px 7px 0;}
.channel_pages a:link, .channel_pages a:visited {border:1px solid #CCCCCC;color:#666666;text-decoration:none;}
.channel_pages a:hover,.channel_pages a:active,.channel_pages a.current:link,.channel_pages a.current:visited{background:#4398CE;border:1px solid #4398CE;color:#FFF;}

.search_res{height:30px;line-height:30px;background:#e6f5fb; text-indent:15px;border:1px solid #d0e5ee;}
.search_res .hd{margin-right:16px;padding-left:10px;}
.search_list h2{font-size:18px;font-weight:normal;color:#0060cc;line-height:28px;}
.search_list p{text-indent:2em;line-height:24px;font-size:13px;}

.input_txt2{ background:url(images/sprites.gif) no-repeat left -572px;width:401px;height:28px;border:none;padding:0px 0px 1px 5px;font-size:13px;line-height:28px;margin-top:4px;margin-left:8px;float:left;margin-rgiht:6px;}

.condition{padding-left:30px;}
.condition tr,.condition td{height:30px;}
.condition td select{margin-bottom:8px;padding:2px;border:1px solid #98c1d1;vertical-align:middle;font-family:'lucida grande',tahoma,verdana,arial,simsun,sans-serif;}
.search_input{border:1px solid #98c1d1;height:18px;margin-bottom:8px;padding:6px 0px 1px 6px;font-size:13px;}
#start{border:1px solid #98c1d1;height:14px;margin-bottom:8px;padding:6px 0px 1px 6px;font-size:13px;}
#end{border:1px solid #98c1d1;height:14px;margin-bottom:8px;padding:6px 0px 1px 6px;font-size:13px;}
.search_bt{background:url(images/sprites.gif) no-repeat -388px -453px;width:88px;height:30px;border:none; text-align:center; cursor:pointer;line-height:30px;color:#fff;font-size:14px;font-weight:bold;}
.pagesVideo a{margin:0px 3px;}

.weizhi{width:978px;border:1px solid #add5ed;height:28px;line-height:28px; background:#f3f9fb;margin:0 auto 10px; text-indent:15px;color:#2872b5;font-size:13px;}
.homepage{background:url(images/homepage.jpg) no-repeat left top;width:17px;height:15px;}
.weizhi a{color:#2872b5;margin-right:6px;width:66px;background:url(images/weizhi.jpg) no-repeat right top;padding-right:12px;}
.special_summary{padding:0px 10px 8px;text-indent:1.6em;}

