<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="http://js.phpcms.cn/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="http://js.phpcms.cn/js/formvalidatorregex.js" charset="UTF-8"></script>
</head>
<body>
<center>
<form action="{APP_PATH}?m=special&c=index&a=comment&commentid={$commentid}&id={$_GET[id]}" method="post">
<input type="hidden" name="id" value="{$id}">
<input type="hidden" name="siteid" value="{$siteid}">
<input type="hidden" name="username" id="username" value="{$username}">
<input type="hidden" name="date" id="date" value="{$date}">
<textarea id="content" rows='8' cols='40' name='content' style='width:95%;'>文明上网，登录发贴</textarea><br />
<label style="float:left;padding:0 0 0 14px;">验证码：<input type="text" name="code"  class="input-text" id="yzmText" onfocus="var offset = $(this).offset();$('#yzm').css({'left': +offset.left-8, 'top': +offset.top-$('#yzm').height()});$('#yzm').show();$('#yzmText').data('hide', 1)" onblur='$("#yzmText").data("hide", 0);setTimeout("hide_code()", 3000)' /></label><span id="content_tip" style="color:red"></span>
		  <div id="yzm" class="yzm">{form::checkcode()}<br />点击图片更换</a><span id="content_tip"></span></div>
<input type="submit" name="dosubmit" id="dosubmit" class="dialog">
</form>
</center>
</body>
<script type="text/javascript">
	$('#content').click(function (){
		if($('#content').val()=='' || $('#content').val()=='文明上网，登录发贴') {
			$('#content').val('');
		}
	});
	$(document).ready(function(){
	 $.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({content:msg,lock:true,width:'220',height:'70'}, function(){this.close();$(obj).focus();})}});
	$("#content").formValidator({tipid:"content_tip",onshow:"请输入评论内容!",onfocus:"评论内容至少3个汉字以上",oncorrect:"正确!"}).inputValidator({min:6,onerror:"评论内容至少3个汉字以上"});
})

</script>
</html>
