{template 'special', 'header'}
<!--main-->
<div class="main">
	<div class="col-left new">
    	<div class="box intro"><strong>导读：</strong>{$description}</div>
        <div class="news-hot">
		{pc:special  action='content_list' specialid='$specialid' isthumb='1' listorder='3' num='1'}
		{loop $data $r}
                <p><a href="{$r[url]}" target="_blank"><img src="{$r['thumb']}" width="90"></a>{str_cut($r['description'], 100)}</p>
				{/loop}
				{/pc}
				{pc:special  action='content_list' specialid='$specialid' listorder='3' num='3'}
				{loop $data $r}
                <div class="bk20 hr"><hr></div><h4 class="blue"><a href="{$r['url']}" target="_blank">{$r['title']}</a></h4>
                <p>{str_cut($r['description'], 150)}</p>
				{/loop}
				{/pc}
        </div>
    </div>
    <div class="col-left img-text">
    	<div class="box">
		{php $block_n = 'special_block_'.$specialid;}
			{pc:block pos="$block_n"} 
			{/pc}
        </div>
        <div class="bk10"></div>
        <div class="box vote">
        	<h5 class="title-2">在线调查</h5>
            <div class="content vote">
            <script language="javascript" src="http://test.phpcms.cn/index.php?m=vote&c=index&a=show&action=js&id=102"></script>
            </div>
        </div>
    </div>
    <div class="col-auto int">
    <h3><div class="btn rt"><input type="submit" id="addComment" value="发表评论" /></div><strong>网友互动</strong></h3>
        <div class="box" id="comment_content">
		<script type="text/javascript">
			var nowtime = (new Date).getTime();/*当前时间戳*/ 
			/*转换时间，计算差值*/ 
			function comptime(beginTime,endTime){ 
				var secondNum = parseInt(endTime-beginTime);//计算时间戳差值    
				
				if(secondNum>=0&&secondNum<60){ 
					return secondNum+'秒前'; 
				} 
				else if (secondNum>=60&&secondNum<3600){ 
					var nTime=parseInt(secondNum/60); 
					return nTime+'分钟前'; 
				} 
				else if (secondNum>=3600&&secondNum<3600*24){ 
					var nTime=parseInt(secondNum/3600); 
					return nTime+'小时前'; 
				} 
				else{
					beginTime = beginTime*1000;
					var dateObj = new Date(beginTime);
					 
					return dateObj.getMonth()+'-'+dateObj.getDate()+' '+dateObj.getHours()+':'+dateObj.getMinutes(); 
				} 
			} 
			$(document).ready(function(){
			$.get('{APP_PATH}index.php', {m:'comment', c:'index', a:'ajax', commentid:'{$commentid}', num:8, times:Math.random()*5}, function (data){
				eval('var jsObject = '+data+';');
				var data = jsObject['data'];
				var htmlstr = '';
				for(var i=0;i<data.length;i++) {
					if (data[i]['username']=='') data[i]['username'] = '游客';
					htmlstr += '<h4>'+data[i]['username']+' 在 <font color="#999999">'+comptime(data[i]['creat_at'],'{php echo SYS_TIME}')+'</font>说：</h4><p>'+data[i]['content']+'</p><div class="bk10 hr"></div>';
				}
				$('#comment_content').html(htmlstr);
			});
			})
		</script>
        </div>
    </div>
	{loop $types $t}
    <div class="bk10"></div>
    <div class="box">
        		<h5>{$t['name']}<a href="{$t['url']}" class="more">更多>></a></h5>
				{pc:special action="content_list" specialid='$id' typeid='$t[typeid]' isthumb='1' listorder='3' num='6'}
            <ul class="content news-photo picbig">
			{loop $data $r}
            	<li>
                    <div class="img-wrap">
                        <a href="{$r['url']}"><img src="{thumb($r['thumb'], 110, 85)}" /></a>
                    </div>
                    <a href="{$r['url']}">{str_cut($r['title'], 20)}</a>
                </li>
         {/loop}
            </ul>
			{/pc}
			{pc:special action='content_list' specialid='$id' typeid='$t[typeid]' listorder='3' num='10'}
				<ul class="list f14 lh26 row-2">
				{loop $data $r}
                <li>·<a href="{$r['title']}" target="_blank">{str_cut($r['title'], 36)}</a></li>
            {/loop}
            </ul>
        </div>
		{/loop}
{/pc}	
{php $siteid = get_siteid(); $commentid = id_encode('special', $id, $siteid);}
</div>
<script type="text/javascript"> 
<!--

$(function(){
	 var _html = $('#copy').html();
   $('#addComment').click(function () {
		art.dialog({lock:false,title:'发表评论',id:'comment', iframe:'{APP_PATH}index.php?m=special&c=index&a=comment&commentid={$comment}&id={$id}',width:'500',height:'180',yesText:'提交'}, function(){var d = window.top.art.dialog({id:'comment'}).data.iframe;// 使用内置接口获取iframe对象
		var username = d.document.getElementById('username').value; if(username=='') username = '游客'; var content = d.document.getElementById('content').value;
		$('#comment_content').prepend('<h4>'+username+' 在 <font color="#999999">1秒前</font> 说：</h4><p>'+content+'</p><div class="bk10 hr"></div>');
		var form = d.document.getElementById('dosubmit');form.click();window.top.art.dialog({id:'comment'}).close()}, function(){window.top.art.dialog({id:'comment'}).close()});
		return false;				
	});
	
})
//-->
</script>
{template 'content', 'footer'}