  <div id="left">
    <div id="treemenu">
      <h5>短消息</h5>
      <ul>   	
		<li><a href="{$M['url']}send.php">发送短消息</a></li>
        <li><a href="{$M['url']}inbox.php">收件箱{if $_message && $new_message}<strong class="c_orange">({$new_message})</strong>{/if}</a></li>
        <li><a href="{$M[url]}outbox.php">发件箱{if $_message && $new_out_message}<strong class="c_orange">({$new_out_message})</strong>{/if}</a></li>
      </ul>
    </div>
    <ol>
      <li class="local"><a href="{SITE_URL}">返回网站首页</a></li>
      <li class="exit"><a href="{$MODULE['member']['url']}logout.php">退出登录</a></li>
    </ol>
  </div>
  {if $_message}<bgsound src="images/message.wav" id="message_sound" >{/if}