<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>发送激活/退订邮件模板</title>
</head>
<body>
<table cellpadding="2" cellspacing="1" width="500" align="center" style="margin-top:50px">
  <tr>
    <th height="35" align="left">这封邮件是来自{$PHPCMS['sitename']}的激活订阅/退订电子邮件</td>  
  </tr>
  <tr>
    <td height="30"><font color="#0066ff">请点击下面的连接或直接复制该连接到浏览器中激活订阅或退订</font></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#999999"></td>
  </tr>
  <tr>
     <td><a href="{$authurl}" target="_blank">{$authurl}</a></td>
  </tr>
  <tr>
     <td><a href="{$PHP_SITEURL}">{$PHPCMS[sitename]}</a><br>
            {$PHP_SITEURL}</td>
  </tr>
</table>
</body>
</html>