{template 'house','header'}
{include PHPCMS_ROOT.'/data/house_search_inc.html'}
<div id="content">
  <div class="house_left">
   {template 'house','left'}
  </div>

  <div class="house_wright">

      <div class="position">
	    <ul>当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; {$areapos} {if $infocat}{$CAT[$infocat][name]}{/if}</ul>
		<ul>
		  <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1">发布出租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2">发布求租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3">发布合租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4">发布出售</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5">发布求购</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6">发布置换</a></li>
		  <li><a href="{$MOD[linkurl]}displaymgr.php?action=add">发布楼盘</a></li>
		</ul>
	  </div>
	  {if $child && $arrchildid}
	  <div style="padding:3px;line-height:180%;">
	  {loop $arrchild $child}
	  <a href="{$child[linkurl]}">{$child[areaname]}</a>&nbsp;
	  {/loop}
	  </div>
	  {/if}
	  <div id="house_wright_name">
        <ul>
          <li class="name">名称</li>
          <li class="area">区域</li>
          <li class="type">&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;型</li>
          <li class="price">价&nbsp;格</li>
          <li class="time">&nbsp;登记时间</li>
        </ul>
	  </div>
      <div id="house_wright_list">
       {tag_房产终极地区信息列表}
	  </div>

</div>
{template 'house','footer'}