{template 'house','header-m'}
<script type="text/javascript">
// 表单提交检测
function doCheck()
{
	// 检测表单的有效性
	// 如：标题不能为空，内容不能为空，等等....
	if ($('name').value==''){
		alert('请指定新楼市名称！');
		$('name').focus();
		return false;
	}
	if ($('develop').value=='') {
		alert('请填写开发商名称！');
        $('develop').focus();
		return false;
	}
	if ($('areaid').value=='') {
		alert('请指定区域！');
		return false;
	}
	if ($('email').value!='' && !Common.isemail($('email').value)) {
		alert('Email格式错误！');
        $('email').focus();
		return false;
	}
	if ($('address').value=='') {
		alert('请填写楼市详细地址！');
        $('address').focus();
		return false;
	}	
	{if $MOD['enablecheckcode']}
	if ($('checkcodestr').value=='') {
		alert("请输入验证码!");
		$('checkcodestr').focus();
		return false;
	}
	{/if}
}

var imgn=0;
function addInputFile(obj)
{
	imgn++;
    var src   = obj.parentNode.parentNode;
    var idx   = rowindex(src);
    var tbl   = document.getElementById('household_image');
    var row   = tbl.insertRow(idx + 1);
    var cell  = row.insertCell(-1);
    var createtd="<table cellpadding=\"2\" cellspacing=\"1\" border=\"0\"><tr><td>房型标题:<input type=\"text\" name=\"householdimage_title[]\" size=\"18\"  value=\"__室__厅__卫__厨\"/>&nbsp;&nbsp;面积:<input type=\"text\" name=\"householdimage_area[]\" size=\"10\" />㎡&nbsp;&nbsp;图片:<input type=\"text\" name=\"householdimage_url[]\"  size=\"20\" id=\"pdt_images\" />&nbsp;<input type=\"button\" value=\" 上传 / 预览 \" onclick=\"javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&file=uppic&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}&uploadtext=pdt_images','upload','350','200')\">&nbsp;&nbsp;</td><td><input type=\"button\" onclick=\"deleteInputFile(this)\" value=\"删除该项目\"></td></tr></table>";
    cell.innerHTML=createtd.replace(/(.*)(pdt_images)(.*)(pdt_images)/,"$1pdt_images"+imgn+"$3pdt_images"+imgn);
    cell.className = 'tablerow';       
}
function deleteInputFile(obj)
{
    var row = rowindex(obj.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode);
    var tbl = document.getElementById('household_image');
    tbl.deleteRow(row);
}
function deleteAddedInputFile(obj)
{
    var row = rowindex(obj.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode);
    var tbl = document.getElementById('household_image_added');
    tbl.deleteRow(row);
}
function rowindex(tr)
{
    if (Browser.isIE)
    {
        return tr.rowIndex;
    }
    else
    {
      table = tr.parentNode.parentNode;

      for (i = 0; i < table.rows.length; i++)
      {
          if (table.rows[i] == tr)
          {
              return i;
              break;
          }
      }
    }
}
</script>

<table cellspacing="0" cellpadding="0" border="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
<div class="membercatslist">
<ul>
<li><a href="{$MOD[linkurl]}displaymgr.php?action=add"><span>发布新楼盘</span></a></li>
<li><a href="{$MOD[linkurl]}displaymgr.php?action=manage"><span>管理新楼盘</span></a></li>
<li><a href="{$MOD[linkurl]}displaymgr.php?action=manage&status=0"><span>待审核楼盘</span></a></li>
</ul>
</div>
<div class="clearboth"></div>
<div class="memberborder_1">
<div class="memberborder_2">
{if $action=='add'}
<h1>发布新楼盘信息</h1>
   <form action="{$PHPCMS[siteurl]}house/displaymgr.php?action=add" method="post" name="myform" onsubmit="return doCheck();">
     <table cellpadding="2" cellspacing="1" class="righttable">
	 <tr  class="memberborder_1">
    <td colspan="4" align="left" style="color:#D4380E;">基本信息</td>
  	</tr>
       <tr>
         <td  width="88"  class="td_left" > <strong>楼盘名称：</strong></td>
         <td class="td_left"><input name="display[name]" type="text" id="name" size="25">
           <span style="color:red; ">*</span></td>
         <td class="td_left" width="83"><strong>开发商：</strong></td>
         <td class="td_left"><input name="display[develop]" type="text" id="develop" size="25">
           <span style="color:red; ">*</span></td>
       </tr>
       <tr>
         <td class="td_left" ><strong>所在区域：</strong></td>
         <td class="td_left">
        {$ajax_area_select('display[areaid]', $mod, $areaid)}
           <span style="color:red; ">*</span>
		   </td>
         <td  class="td_left" ><strong>物业类别：</strong></td>
         <td  class="td_left"><select name="house[propertytype]" id="propertytype" >
           <option value="" selected>-- 请选择 --</option>           
             {loop $PARS['type'] $k $v}             
           <option value="{$v}">{$k}</option>           
             {/loop}           
         </select></td>
       </tr>      
      
       <tr>         
         <td class="td_left" ><strong>起始价格：</strong></td>
         <td class="td_left"><input name="display[startprice]" type="text" value="0"  size="8" id="startprice">元/㎡</td>
          <td class="td_left" ><strong>平均价格：</strong></td>
           <td class="td_left"><input name="display[avgprice]" type="text" value="0"  size="8" id="avgprice">元/㎡</td>
       </tr>      
       
       <tr>
         <td class="td_left" ><strong>详细地址：</strong></td>
         <td class="td_left">
           <input name="display[address]" type="text" id="address" size="30">
           <span style="color:red; ">*</span></td>
         <td class="td_left" ><strong>物业管理费：</strong></td>
         <td class="td_left"><input name="display[managefee]" type="text" id="managefee" size="10">           </td>
       </tr>
       <tr>
         <td class="td_left" ><strong>开盘时间：</strong></td>
         <td class="td_left">
           <input name="display[starttime]" type="text" id="starttime" size="20"></td>
         <td class="td_left"><strong>入住时间：</strong></td>
         <td class="td_left"><input name="display[staytime]" type="text" id="staytime" size="20"></td>
       </tr>
       <tr>
         <td  class="td_left" ><strong>容积率：</strong></td>
         <td class="td_left">
           <input name="display[capacity]"  type="text" id="capacity" value="%" size=10>
           </td>
         <td class="td_left"><strong>绿化率：</strong></td>
         <td class="td_left">
           <input name="display[green]"   type="text" id="green" value="%" size=10>
           </td>
       </tr>       
       <tr>
         <td class="td_left" ><strong>建筑面积</strong></td>
         <td class="td_left"><input type="text" size=10 id="buildarea" name="display[buildarea]">㎡</td>
         <td class="td_left"><strong>占地面积：</strong></td>
         <td class="td_left"><input type="text" size=10 id="area" name="display[area]">㎡</td>
       </tr>
	   <tr>
         <td class="td_left" ><strong>预售许可证：</strong></td>
         <td colspan="3" class="td_left"><input name="display[licence]" type="text" id="licence" size="35"></td>
	   </tr>
	     <tr>
         <td class="td_left" ><strong>公交状况：</strong></td>
         <td colspan="3" class="td_left"><input name="display[transit]" type="text" id="transit" size="68"></td>
         </tr>
		  <tr>
         <td class="td_left" ><strong>周边配套：</strong></td>
         <td colspan="3" class="td_left"><input name="display[peripheral]" type="text" id="peripheral" size="68"></td>
         </tr>
  <tr>
    <td class="td_left" ><strong>楼盘简介：</strong></td>
    <td colspan="3" class="td_left"><textarea name="display[introduce]" cols="56" rows="8" id="introduce"></textarea></td>
  </tr>
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">图片信息</td>
    </tr>
  <tr>
    <td class="td_left" ><strong>标题图片：</strong></td>
    <td colspan="3" class="td_left"><input name="display[thumb]" type="text" id="thumb" size="38" value="{$thumb}"> <input name="btn1" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=thumb&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  <tr>
    <td ><strong>示意图：</strong></td>
    <td class="td_left"><input  name="display[image]"  type=text id="image" size=26 readonly>
        <input name="btn1" type="button" onClick="javascript:openwinx('{$PHPCMS[siteurl]}upload.php?keyid={$mod}&uploadtext=image&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传">
    </td>
    <td class="td_left"><strong>位置图:</strong></td>
    <td class="td_left">
      <input  name="display[img1]"  type=text id="img1" size=26 readonly>
      <input name="btn2" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img1&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    </tr>    
  <tr>
    <td ><span class="td_left"><strong>环境图:</strong></span></td>
    <td class="td_left"><input  name="display[img2]"  type=text id="img2" size=26 readonly>
        <input name="btn3" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img2&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left"><strong>室内图:</strong></td>
    <td class="td_left"><input  name="display[img3]"  type=text id="img3" size=26 readonly>
        <input name="btn4" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img3&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    </tr>
  
    <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">户型图（可添加多套）</td>
  </tr>
     <tr>
    	<td colspan='4'  class="td_left">    	 
        	<table cellpadding="2" cellspacing="1" id="household_image" border="0" align="center" width="100%" style="background:White;">
			<tr>
			<td class='tablerow' valign="middle" id='createtd'><table cellpadding="2" cellspacing="1" border="0"><tr><td>房型标题:<input type="text" name="householdimage_title[]" size="18" value="__室__厅__卫__厨"/>&nbsp;&nbsp;面积:<input type="text" name="householdimage_area[]" size="10" />㎡&nbsp;&nbsp;图片:<input type="text" name="householdimage_url[]"  size="20" id="pdt_images"/>&nbsp;<input type="button" value=" 上传 " onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&file=uppic&uploadtext=pdt_images&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','350','200')">&nbsp;&nbsp;</td><td><input type="button"  onclick="addInputFile(this)" value="增加房型图" style="color:blue;"></td></tr></table></td>
			</tr>
			</table>
    	</td>
    </tr>  
    
    
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">售楼资料</td>
  </tr>
  <tr>
    <td ><strong>售楼地址：</strong></td>
    <td class="td_left"><input  name="display[saleaddress]"  type=text id="saleaddress" size='30'></td>
    <td class="td_left"><strong>售楼热线：</strong></td>
    <td class="td_left"><input  name="display[saletele]"  type=text id="saletele" size='20'  value="{$_telephone}"></td>
  </tr>
  <tr>
    <td ><strong>联 系 人：</strong></td>
    <td class="td_left"><input  name="display[contract]"  type=text id="contract" size='20' value="{$_truename}"></td>
    <td class="td_left"><strong>电子邮件：</strong></td>
    <td class="td_left"><input  name="display[email]"  type=text id="email" size='20'  value="{$_email}"></td>
  </tr>
  <tr>
    <td ><strong>楼盘网址：</strong></td>
    <td class="td_left"><input  name="display[url]"  type='text' id="url" size='30'  value="{$_homepage}"></td>
    <td class="td_left"><strong>传&nbsp;&nbsp;&nbsp;&nbsp;真：</strong></td>
    <td class="td_left"><input  name="display[fax]"  type='text' id="fax" size='20' ></td>
  </tr>
  {if $MOD['enablecheckcode']}
    <tr> 
      <td><strong>验证码:</strong></td>
      <td class="td_left" colspan="4"><input name="checkcodestr" type="text" size="15" id="checkcodestr">
	  <img src="{PHPCMS_PATH}checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
  <tr>
    <td colspan="4" align="center" >
          <input type="submit" name="dosubmit" value="发布信息">&nbsp;&nbsp;&nbsp;&nbsp;     
          <input type="reset" name="doreset" value=" 重填 ">
	</td>
  </tr>
     </table>
   </form>
<!--//--->
{elseif $action=='edit'}

<h1>编辑楼盘信息</h1>
   <form action="{$MOD[linkurl]}displaymgr.php?action=edit" method="post" name="myform" onsubmit="return doCheck();">
     <table cellpadding="2" cellspacing="1" class="righttable">
	 <tr  class="memberborder_1">
    <td colspan="4" align="left" style="color:#D4380E;">基本信息</td>
  	</tr>
       <tr>
         <td  width="88"  class="td_left" > <strong>楼盘名称：</strong></td>
         <td class="td_left"><input name="display[name]2" type="text" id="display[name]" size="25" value="{$name}">           <span style="color:red; ">*</span></td>
         <td class="td_left" width="83"><strong>开发商：</strong></td>
         <td class="td_left"><input name="display[develop]" type="text" id="develop" size="25" value="{$develop}">
           <span style="color:red; ">*</span></td>
       </tr>
       <tr>
         <td class="td_left" ><strong>所在区域：</strong></td>
         <td class="td_left">
		 <span onclick="this.style.display='none';$('select_area').style.display='';" style="cursor:pointer;">{$AREA[$areaid]['areaname']} <font color="red">点击重选</font></span><span id="select_area" style="display:none;">
         {$ajax_area_select('display[areaid]', $mod, $areaid)}
           <span style="color:red; ">*</span>
		   </td>
         <td  class="td_left" ><strong>物业类别：</strong></td>
         <td  class="td_left"><select name="display[housetype]" id="housetype" >
           <option value="" selected>-- 请选择 --</option> 
             {loop $PARS['type'] $k $v}
           <option value="{$v}" {if $v==$housetype}selected{/if}>{$k}</option>
             {/loop}
         </select></td>
       </tr>
       <tr>         
         <td class="td_left" ><strong>起始价格：</strong></td>
         <td class="td_left"><INPUT name="display[startprice]" type="text" size="8" id="startprice" value="{$startprice}">
           元/㎡</td>
           
          <td class="td_left" ><strong>平均价格：</strong></td>
           <td class="td_left"><INPUT name="display[avgprice]" type="text" size="8" id="avgprice"  value="{$avgprice}">
             元/㎡          </td>
       </tr>      
       
       <tr>
         <td class="td_left" ><strong>详细地址：</strong></td>
         <td class="td_left">
           <input name="display[address]" type="text" id="address" size="30" value="{$address}">
           <span style="color:red; ">*</span></td>
         <td class="td_left" ><strong>物业管理费：</strong></td>
         <td class="td_left"><input name="display[managefee]" type="text" id="managefee" size="10" value="{$managefee}">           </td>
       </tr>
       <tr>
         <td class="td_left" ><strong>开盘时间：</strong></td>
         <td class="td_left">
           <input name="display[starttime]" type="text" id="starttime" size="20" value="{$starttime}"></td>
         <td class="td_left"><strong>入住时间：</strong></td>
         <td class="td_left"><input name="display[staytime]" type="text" id="staytime" size="20" value="{$staytime}"></td>
       </tr>
       <tr>
         <td  class="td_left" ><strong>容积率：</strong></td>
         <td class="td_left">
           <INPUT name="display[capacity]"  type="text" id="capacity" size=10 value="{$capacity}">
           </td>
         <td class="td_left"><strong>绿化率：</strong></td>
         <td class="td_left">
           <INPUT name="display[green]"   type="text" id="green"  size=10 value="{$green}">
           </td>
       </tr>       
       <tr>
         <td class="td_left" ><strong>建筑面积：</strong></td>
         <td class="td_left"><INPUT  type="text" size=10 id="buildarea" name="display[buildarea]"  value="{$buildarea}">㎡</td>
         <td class="td_left"><strong>占地面积：</strong></td>
         <td class="td_left"><INPUT  type="text" size=10 id="area" name="display[area]"  value="{$area}">㎡</td>
       </tr>
	    <tr>
    <td class="td_left" ><strong>预售许可证：</strong></td>
    <td colspan="3" class="td_left"><input name="display[licence]" type="text" id="licence" size="38" value="{$licence}"></td>
	   </tr>
	   <tr>
    <td class="td_left" ><strong>公交状况：</strong></td>
    <td colspan="3" class="td_left"><input name="display[transit]" type="text" id="transit" size="38" value="{$transit}"></td>
	   </tr>
  <tr>
    <td class="td_left" ><strong>周边配套：</strong></td>
    <td colspan="3" class="td_left"><input name="display[peripheral]" type="text" id="peripheral" size="38" value="{$peripheral}"></td>
  </tr>
  <tr>
    <td class="td_left" ><strong>楼盘简介：</strong></td>
    <td colspan="3" class="td_left"><textarea name="display[introduce]" cols="56" rows="6" id="introduce">{$introduce}</textarea></td>
  </tr>
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">图片信息</td>
    </tr>
  <tr>
    <td class="td_left" ><strong>标题图片：</strong></td>
    <td colspan="3" class="td_left"><input name="display[thumb]" type="text" id="thumb" size="38" value="{$thumb}"> <input name="btn1" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=thumb&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  <tr>
    <td ><strong>示意图：</strong></td>
    <td class="td_left"><input  name="display[image]"  type="text" id="image" size="26" readonly  value="{$image}">
        <input name="btn1" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=image&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传">
    </td>
    <td class="td_left"><strong>位置图:</strong></td>
    <td class="td_left">
      <input  name="display[img1]"  type="text" id="img1" size="26" readonly value="{$img1}">
      <input name="btn2" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img1&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    </tr>    
  <tr>
    <td ><span class="td_left"><strong>环境图:</strong></span></td>
    <td class="td_left"><input  name="display[img2]"  type=text id="img2" size=26 readonly value="{$img2}">
        <input name="btn3" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img2&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left"><strong>室内图:</strong></td>
    <td class="td_left"><input  name="display[img3]"  type=text id="img3" size=26 readonly value="{$img3}">
        <input name="btn4" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img3&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    </tr>
  
    <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">户型图（可添加多套）</td>
  </tr>
  
  <tr>
			<td class='tablerow' valign="middle" colspan="4">&nbsp;已上传户型图：{$uploadimagescount}张</td>
			</tr>
			<?php
			if(is_array($uploadimages))
			{
				foreach ($uploadimages as $k=>$uploadimage)
				{
				?>
			<tr>
    	<td colspan='4'  class="td_left">  <table cellpadding="2" cellspacing="1" border="0" align="center" width="100%" style="background:White;">
			<tr>
			<td valign="middle" id='createdtd'><table cellpadding="2" cellspacing="1" border="0" id="household_image_added"><tr><td> 
			<?php echo ++$k;?>、房型标题<input type="text" name="householdimage_title[]" size="18" value="{$uploadimage[title]}"/>&nbsp;&nbsp;面积:<input type="text" name="householdimage_area[]"  value="{$uploadimage['area']}" size="10" />㎡&nbsp;&nbsp;图片:<input type="text" name="householdimage_url[]"  size="34" id="pdt_images"  value="{$uploadimage[image]}"/>&nbsp;<input type="button" value=" 上传 " onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&file=uppic&uploadtext=pdt_images&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','350','200')">&nbsp;<input type="button" value=" 删 除 " onclick="javascript:deleteAddedInputFile(this)"> </td>
			 </tr></table></td>
			</tr>
				
			</table></td></tr>		
			<?php
				}
			}
			?>
			
    
      <tr>
			<td class='tablerow' valign="middle" colspan="6">&nbsp;继续添加户型图</td>
			</tr>
     <tr>
    	<td colspan='4'  class="td_left">    	 
        	<table cellpadding="2" cellspacing="1" id="household_image" border="0" align="center" width="100%" style="background:White;">
			<tr>
			<td class='tablerow' valign="middle" id='createtd'><table cellpadding="2" cellspacing="1" border="0"><tr><td>房型标题:<input type="text" name="householdimage_title[]" size="18" value="__室__厅__卫__厨"/>&nbsp;&nbsp;面积:<input type="text" name="householdimage_area[]" size="10" />㎡&nbsp;&nbsp;图片:<input type="text" name="householdimage_url[]"  size="20" id="pdt_images"/>&nbsp;<input type="button" value=" 上传 " onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&file=uppic&uploadtext=pdt_images&type=both&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','350','200')">&nbsp;&nbsp;</td><td><input type="button"  onclick="addInputFile(this)" value="增加房型图" style="color:blue;"></td></tr></table></td>
			</tr>
			</table>
    	</td>
    </tr>   
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">售楼资料</td>
  </tr>
  <tr>
    <td ><strong>售楼地址：</strong></td>
    <td class="td_left"><INPUT  name="display[saleaddress]"  type=text id="saleaddress" size='30' value="{$saleaddress}"></td>
    <td class="td_left"><strong>售楼热线：</strong></td>
    <td class="td_left"><input  name="display[saletele]"  type=text id="saletele" size='20'  value="{$saletele}"></td>
  </tr>
  <tr>
    <td ><strong>联 系 人：</strong></td>
    <td class="td_left"><INPUT  name="display[contract]"  type=text id="contract" size='20' value="{$contract}"></td>
    <td class="td_left"><strong>电子邮件：</strong></td>
    <td class="td_left"><INPUT  name="display[email]"  type=text id="email" size='20'  value="{$email}"></td>
  </tr>
  <tr>
    <td ><strong>楼盘网址：</strong></td>
    <td class="td_left"><INPUT  name="display[url]"  type='text' id="url" size='30'  value="{$url}"></td>
    <td class="td_left"><strong>传&nbsp;&nbsp;&nbsp;&nbsp;真：</strong></td>
    <td class="td_left"><INPUT  name="display[fax]"  type='text' id="fax" size='20' value="{$fax}"></td>
  </tr>
  {if $MOD['enablecheckcode']}
    <tr> 
      <td><strong>验证码:</strong></td>
      <td class="td_left" colspan="4"><input name="checkcodestr" type="text" size="15" id="checkcodestr">
	  <img src="{PHPCMS_PATH}checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
  <tr>
    <td colspan="4" align="center" >
          <input type="hidden" name="displayid" value="{$displayid}">
		  <input type="hidden" name="forward" value="{$PHP_REFERER}">
          <input type="submit" name="dosubmit" value="修改信息">&nbsp;&nbsp;&nbsp;&nbsp;     
          <input type="reset" name="doreset" value=" 重置 ">
	</td>
  </tr>
     </table>
   </form>

{elseif $action=='manage'}
<h1>新楼盘管理</h1>
<table width="60%" cellpadding="2" cellspacing="1" class="righttable">
{loop $displays $display}
<tbody onmouseout="this.style.backgroundColor='#FFFFFF'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor='#FFFFFF'>
<tr>
<td width="15%" rowspan="3" class="td_center"><a href="{$display[linkurl]}" target="_blank"><img src="{$display[thumb]}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" /></a></td>
<td width="15%" height="42" class="td_right">名&nbsp;&nbsp;称：</td>
<td width="60%" class="td_left"><a href="{$display[linkurl]}" target="_blank" style="color:blue">{$display[name]}</a></td>
<td width="10%" rowspan="3" class="td_center"> <a href="{$MOD[linkurl]}displaymgr.php?action=edit&displayid={$display[displayid]}">编辑</a><br /><br />  <a href="javascript:if(confirm('确认删除该条新楼盘信息?')) location='{$MOD[linkurl]}displaymgr.php?action=delete&displayid={$display[displayid]}';">删除</a></td>
</tr>
<tr>
<td class="td_right">所属区域：</td>
<td class="td_left">{$display[areaname]}</td>
</tr>
<tr>
  <td class="td_right">开发单位：</td>
  <td class="td_left">{$display[develop]}</td>
</tr>  
</tbody>
{/loop}
</table>

<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">{$pages}</td>
  </tr>
</table>
{/if}</div></div></td>
</tr>
 
</table>
{template 'phpcms','footer'}