{template 'house','header-m'}
<script type="text/javascript">
// 表单提交检测
function doCheck(){

	// 检测表单的有效性
	// 如：标题不能为空，内容不能为空，等等....
	if ($('validperiod').value==''){
		alert('请指定信息的有效期限！');
		$('validperiod').focus();
		return false;
	}
	if ($('areaid').value=='') {
		alert('请选定区域！');
		return false;
	}
	if ($('address').value=='') {
		alert('请填写地址！');
        $('address').focus();
		return false;
	}
	if ($('email').value!='' && !Common.isemail($('email').value)) {
		alert('Email格式错误！');
        $('email').focus();
		return false;
	}
	{if $MOD['enablecheckcode']}
	if ($('checkcodestr').value=='') {
		alert("请输入验证码!");
		$('checkcodestr').focus();
		return false;
	}
	{/if}

}
</script>

<table cellspacing="0" cellpadding="0" border="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
<div class="membercatslist">
<ul>
<li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type={$type}"><span>发布{$types[$type]}信息</span></a></li>
<li><a href="{$MOD[linkurl]}frontmgr.php?action=manage&type={$type}"><span>管理{$types[$type]}信息</span></a></li>
<li><a href="{$MOD[linkurl]}frontmgr.php?action=manage&type={$type}&status=0"><span>待审核信息</span></a></li>
<li><a href="{$MOD[linkurl]}frontmgr.php?action=manage&type={$type}&overdue=1"><span>过期信息</span></a></li>
</ul>
</div>
<div class="clearboth"></div>
<div class="memberborder_1">
<div class="memberborder_2">
{if $action=='add'}
<h1>发布{$infotype}信息</h1>
   <form action="{$PHPCMS[siteurl]}house/frontmgr.php?action=add" method="post" name="myform" onsubmit="return doCheck();">
     <table cellpadding="2" cellspacing="1" class="righttable">
	 <tr  class="memberborder_1">
    <td colspan="4" align="left" style="color:#D4380E;">基本信息</td>
  	</tr>
       <tr>
         <td  width="88"  class="td_left" > <strong>信息类别：</strong></td>
         <td class="td_left"><font color="red"><strong>{$infotype}</strong></font></td>
         <td class="td_left" width="83"><strong>有效期：</strong></td>
         <td class="td_left"><select name="house[validperiod]" size="1" id="validperiod">
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['period'] $k $v}
             <option value="{$v}">{$k}</option>
             {/loop}
         </select>
         <span style="color:red; ">*</span></td>
       </tr>
       <tr>
       {if $type==3}
       <td class="td_left" ><strong>是否有房：</strong></td>
         <td class="td_left">
         <input name="coop[havehouse]" type="radio" value="1" checked>
      有
        <input type="radio" name="coop[havehouse]" value="0">
      无
      </td>
       {/if}
         <td  class="td_left" ><strong>房&nbsp;&nbsp;型：</strong></td>
         <td {if $type!=3}colspan="3"{/if} class="td_left">
		 <select name="type_1">
           <option selected>不限</option>
		   <option value="〇">〇</option>
           <option value="一">一</option>
           <option value="二">二</option>
           <option value="三">三</option>
           <option value="四">四</option>
           <option value="五">五</option>
           <option value="六">六</option>
           <option value="七">七</option>
           <option value="八">八</option>
           <option value="九">九</option>
           <option value="十">十</option>
         </select>      
           室
        <select name="type_2">
          <option selected>不限</option>
		  <option value="〇">〇</option>
          <option value="一">一</option>
          <option value="二">二</option>
          <option value="三">三</option>
          <option value="四">四</option>
          <option value="五">五</option>
          <option value="六">六</option>
          <option value="七">七</option>
          <option value="八">八</option>
          <option value="九">九</option>
          <option value="十">十</option>
        </select>
        厅
        <select name="type_3">
          <option selected>不限</option>
		  <option value="〇">〇</option>
          <option value="一">一</option>
          <option value="二">二</option>
          <option value="三">三</option>
          <option value="四">四</option>
          <option value="五">五</option>
        </select>
        卫
        <select name="type_4">
          <option selected>不限</option>
		  <option value="〇">〇</option>
          <option value="一">一</option>
          <option value="二">二</option>
          <option value="三">三</option>
          <option value="四">四</option>
          <option value="五">五</option>
        </select>
        阳台<span style="color:red; ">*</span></td>
       </tr>
       
       
       {if $type==3}
       <tr>         
         <td class="td_left" ><strong>我的性别：</strong></td>
         <td class="td_left"><select name="coop[mygender]" id="mygender">
             <option value="">-- 不限 --</option>             
             <option value="1">男</option>
             <option value="2">女</option>  
			 <option value="3">夫妻/情侣</option>            
           </select></td>
           
          <td class="td_left" ><strong>你的性别：</strong></td>
           <td class="td_left"><select name="coop[yourgender]" id="yourgender">
             <option value="">-- 不限 --</option>             
             <option value="1">男</option>
             <option value="2">女</option>  
			 <option value="3">夫妻/情侣</option>               
           </select>
           </td>
       </tr>
       {/if}      
       
       <tr>
         <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}所在区域：</strong></td>
         <td class="td_left">
           {$ajax_area_select('house[areaid]', $mod, $areaid)}
           <span style="color:red; ">*</span>
		   </td>
         <td class="td_left" ><strong>{if $type==2||$type==5}期望商圈/区域：{else}物业地址：{/if}</strong></td>
         <td class="td_left"><input name="house[address]" type="text" id="address" size="18">
           <span style="color:red; ">*</span></td>
       </tr>

       <tr>
         <td class="td_left" ><strong>{if $type==2||$type==5}信息标题：{else}物业名称：{/if}</strong></td>
         <td class="td_left">
           <input name="house[name]" type="text" id="name" size="20"></td>
         <td class="td_left"><strong>所在楼层：</strong></td>
         <td class="td_left">第<input name="house[currentfloor]" type="text" id="currentfloor" size=2>
      层/共<input type="text" name="house[totalfloor]" id="totalfloor" size=2>
      层</td>
       </tr>

       <tr>
         <td  class="td_left" ><strong>建筑面积：</strong></td>
         <td class="td_left">
           <input  type="text" size=10 id="buildarea" name="house[buildarea]">
           <font face="宋体" size=3>㎡</font></td>
         <td class="td_left"><strong>使用面积：</strong></td>
         <td class="td_left">
           <input   type="text" size=10 id="usearea" name="house[usearea]">
           <font face="宋体" size=3>㎡</font></td>
       </tr>       
       <tr>
         <td class="td_left" ><strong>装潢程度：</strong></td>
         <td class="td_left"><select name="house[decorate]" id="decorate">
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['decorate'] $k $v}
             <option value="{$v}">{$k}</option>
             {/loop}
         </select>
           <span style="color:red; ">*</span></td>
         <td class="td_left"><strong>物业管理：</strong></td>
         <td class="td_left"><input name="house[manage]" type="radio" value="1" checked>
      有
        <input type="radio" name="house[manage]" value="0">
      无</td>
       </tr>
       <tr>
         <td class="td_left" ><strong>房产类型：</strong></td>
         <td class="td_left">
           <select name="house[propertytype]" id="propertytype" >
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['type'] $k $v}
             <option value="{$v}">{$k}</option>
             {/loop}
           </select>
           <span style="color:red; ">*</span>         </td>
         <td class="td_left"><strong>建成时间：</strong></td>
         <td class="td_left"><INPUT type="text" size="6" name="house[buildtime]">年左右</td>
       </tr>
       <tr>
         <td class="td_left" ><strong>房屋朝向：</strong></td>
         <td class="td_left"><select name="house[towards]" id="towards">
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['towards'] $k $v}
             <option value="{$v}">{$k}</option>
             {/loop}
         </select></td>
         <td class="td_left"><strong>{if ($type==1||$type==2||$type==3)}租&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：{else}交易价格：{/if}</strong></td>
         <td class="td_left"><INPUT name="house[price]" type="text" value="0"  size="8" >
           <select name="house[unit]" id="unit" >
             <option value="1" selected>元/月</option>
             <option value="2">元/季度</option>
             <option value="3">元/年</option>
             <option value="4">元/天</option>
             <option value="5">元/平米*天</option>
			 <option value="6">元</option> 
			 <option value="7">万元</option>           
           </select>         
           (0为面议)<span style="color:red; ">*</span></td>
       </tr>
  <tr>
    <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}基础设施：</strong></td>
    <td colspan="3" class="td_left">{loop $PARS['infrastructure'] $k $v}<input type="checkbox" value="{$v}" name="house[infrastructure][]">{$k}{/loop}
	</td>
  </tr>
  <tr>
    <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}室内设施：</strong></td>
    <td colspan="3" class="td_left">{loop $PARS['indoor'] $k $v}<input type="checkbox" value="{$v}" name="house[indoor][]">{$k}{/loop} </td>
  </tr>
  {if $type!=5&&$type!=2}
  <tr>
    <td class="td_left" ><strong>周边设施：</strong></td>
    <td colspan="3" class="td_left">{loop $PARS['peripheral'] $k $v}<input type="checkbox" value="{$v}" name="house[peripheral][]">{$k}{/loop}</td>
  </tr>
  <tr>
    <td class="td_left" ><strong>公交状况：</strong></td>
    <td colspan="3" class="td_left"><input name="house[transit]" type="text" id="transit" size="60"></td>
  </tr>
  {/if}
  <tr>
    <td class="td_left" ><strong>其他描述：</strong></td>
    <td colspan="3" class="td_left"><textarea name="house[description]" cols="56" rows="6"></textarea></td>
  </tr>
  
  {if $type!=2 && $type!=5}
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">图片信息</td>
    </tr>
  <tr>
    <td  class="td_left">位置图</td>
    <td class="td_left"><INPUT  name="house[img1]"  type=text id="img1" size=26 readonly>
	<input name="button" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img1&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left">环境图</td>
    <td class="td_left"><INPUT  name="house[img2]"  type=text id="img2" size=26 readonly>     
	 <input name="button3" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img2&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  <tr>
    <td  class="td_left">室内图</td>
    <td class="td_left"><INPUT  name="house[img3]"  type=text id="img3" size=26 readonly>
      <input name="button2" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img3&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left">户型图</td>
    <td class="td_left"><INPUT  name="house[img4]"  type=text id="img4" size=26 readonly>
      <input name="button4" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img4&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  {/if}
  
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">联系资料</td>
  </tr>

  {if $my_house_membertype>1}
    <tr>
    <td class="td_left">公司：</td>
    <td class="td_left" colspan="3">{$my_house_corpname} </td>
  </tr>
  {/if}
  
  <tr>
    <td  class="td_left">联 系 人：</td>
    <td class="td_left"><INPUT  name="house[contract]"  type=text id="contract" size='33' value="{$truename}"></td>
    <td class="td_left">联系电话：</td>
    <td class="td_left"><INPUT  name="house[telephone]"  type=text id="telephone" size='33'  value="{$telephone}"></td>
  </tr>
  <tr>
    <td  class="td_left">电子邮件：</td>
    <td class="td_left"><INPUT  name="house[email]"  type='text' id="email" size='33'  value="{$email}"></td>
    <td class="td_left">手&nbsp;&nbsp;&nbsp;&nbsp;机：</td>
    <td class="td_left"><INPUT  name="house[mobile]"  type='text' id="mobile" size='33' value="{$mobile}" ></td>
  </tr>
  <tr>
    <td  class="td_left">QQ：</td>
    <td class="td_left"><INPUT  name="house[qq]"  type='text' id="qq" size='33'  value="{$qq}"></td>
    <td class="td_left">MSN：</td>
    <td class="td_left"><INPUT  name="house[msn]"  type='text' id="msn" size='33' value="{$msn}" ></td>
  </tr>
  {if $MOD['enablecheckcode']}
    <tr> 
      <td><strong>验证码:</strong></td>
      <td class="td_left" colspan="4"><input name="checkcodestr" type="text" size="15" id="checkcodestr">
	  <img src="{PHPCMS_PATH}checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
  {/if}
  <tr>
    <td colspan="4" align="center" >
    <input type="hidden" name="type" value="{$type}">
          <input type="submit" name="dosubmit" value="发布信息">&nbsp;&nbsp;&nbsp;&nbsp;     
          <input type="reset" name="doreset" value=" 重填 ">
	</td>
  </tr>
     </table>
   </form>
{elseif $action=='edit'}
<h1>修改{$infotype}信息</h1>
   <form action="{$MOD[linkurl]}frontmgr.php?action=edit" method="post" name="myform" onsubmit="return doCheck();">
     <table cellpadding="2" cellspacing="1" class="righttable">
	 <tr  class="memberborder_1">
    <td colspan="4" align="left" style="color:#D4380E;">基本信息</td>
  	</tr>
       <tr>
         <td  width="88"  class="td_left" > <strong>信息类别：</strong></td>
         <td class="td_left">{$infotype}</td>
         <td class="td_left" width="83"><strong>有效期：</strong></td>
         <td class="td_left"><select name="house[validperiod]" size="1" id="validperiod">
             <option value="">-- 请选择 --</option>
             {loop $PARS['period'] $k $v}
             <option value="{$v}" {if $v==$validperiod} selected{/if}>{$k}</option>
             {/loop}
         </select>
         <span style="color:red; ">*</span></td>
       </tr>
       <tr>
       {if $type==3}
       <td class="td_left" ><strong>是否有房：</strong></td>
         <td class="td_left">
         <input name="coop[havehouse]" type="radio" value="1" {if $havehouse} checked{/if}>
      有
        <input type="radio" name="coop[havehouse]" value="0" {if !$havehouse} checked{/if}>
      无
      </td>
       {/if}
         <td  class="td_left" ><strong>房&nbsp;&nbsp;型：</strong></td>
         <td {if $type!=3}colspan="3"{/if} class="td_left">
		 <select name="type_1">
           <option>不限</option>
		   <option value="〇" {if '〇'==$type_1} selected{/if}>〇</option>
           <option value="一" {if '一'==$type_1} selected{/if}>一</option>
           <option value="二" {if '二'==$type_1} selected{/if}>二</option>
           <option value="三" {if '三'==$type_1} selected{/if}>三</option>
           <option value="四" {if '四'==$type_1} selected{/if}>四</option>
           <option value="五" {if '五'==$type_1} selected{/if}>五</option>
           <option value="六" {if '六'==$type_1} selected{/if}>六</option>
           <option value="七" {if '七'==$type_1} selected{/if}>七</option>
           <option value="八" {if '八'==$type_1} selected{/if}>八</option>
           <option value="九" {if '九'==$type_1} selected{/if}>九</option>
           <option value="十" {if '十'==$type_1} selected{/if}>十</option>
         </select>      
           室
        <select name="type_2">
          <option >不限</option>
		  <option value="〇" {if '〇'==$type_2} selected{/if}>〇</option>
          <option value="一" {if '一'==$type_2} selected{/if}>一</option>
          <option value="二" {if '二'==$type_2} selected{/if}>二</option>
          <option value="三" {if '三'==$type_2} selected{/if}>三</option>
          <option value="四" {if '四'==$type_2} selected{/if}>四</option>
          <option value="五" {if '五'==$type_2} selected{/if}>五</option>
          <option value="六" {if '六'==$type_2} selected{/if}>六</option>
          <option value="七" {if '七'==$type_2} selected{/if}>七</option>
          <option value="八" {if '八'==$type_2} selected{/if}>八</option>
          <option value="九" {if '九'==$type_2} selected{/if}>九</option>
          <option value="十" {if '十'==$type_2} selected{/if}>十</option>
        </select>
        厅
        <select name="type_3">
          <option>不限</option>
		  <option value="〇" {if '〇'==$type_3} selected{/if}>〇</option>
          <option value="一" {if '一'==$type_3} selected{/if}>一</option>
          <option value="二" {if '二'==$type_3} selected{/if}>二</option>
          <option value="三" {if '三'==$type_3} selected{/if}>三</option>
          <option value="四" {if '四'==$type_3} selected{/if}>四</option>
          <option value="五" {if '五'==$type_3} selected{/if}>五</option>
        </select>
        卫
        <select name="type_4">
          <option>不限</option>
		  <option value="〇" {if '〇'==$type_4} selected{/if}>〇</option>
          <option value="一" {if '一'==$type_4} selected{/if}>一</option>
          <option value="二" {if '二'==$type_4} selected{/if}>二</option>
          <option value="三" {if '三'==$type_4} selected{/if}>三</option>
          <option value="四" {if '四'==$type_4} selected{/if}>四</option>
          <option value="五" {if '五'==$type_4} selected{/if}>五</option>
        </select>
        阳台<span style="color:red; ">*</span></td>
       </tr>
       
       
       {if $type==3}
       <tr>         
         <td class="td_left" ><strong>我的性别：</strong></td>
         <td class="td_left"><select name="coop[mygender]" id="mygender">
             <option value="">-- 不限 --</option>             
             <option value="1"{if '1'==$mygender} selected{/if}>男</option>
             <option value="2"{if '2'==$mygender} selected{/if}>女</option>  
			 <option value="3"{if '3'==$mygender} selected{/if}>夫妻/情侣</option>               
           </select></td>
           
          <td class="td_left" ><strong>你的性别：</strong></td>
           <td class="td_left"><select name="coop[yourgender]" id="yourgender">
             <option value="">-- 不限 --</option>             
             <option value="1" {if '1'==$yourgender} selected{/if}>男</option>
             <option value="2" {if '2'==$yourgender} selected{/if}>女</option>  
			 <option value="3" {if '3'==$yourgender} selected{/if}>夫妻/情侣</option>               
           </select>
           </td>
       </tr>
       {/if}      
       
       <tr>
         <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}所在区域：</strong></td>
         <td class="td_left">
		 <span onclick="this.style.display='none';$('select_area').style.display='';" style="cursor:pointer;">{$AREA[$areaid]['areaname']} <font color="red">点击重选</font></span><span id="select_area" style="display:none;">
         {$ajax_area_select('house[areaid]', $mod, $areaid)}
           <span style="color:red; ">*</span>
		   </td>
         <td class="td_left" ><strong>{if $type==2||$type==5}期望商圈/区域：{else}物业地址：{/if}</strong></td>
         <td class="td_left"><input name="house[address]" type="text" id="address" size="18" value="{$address}">
           <span style="color:red; ">*</span></td>
       </tr>
       <tr>
         <td class="td_left" ><strong>{if $type==2||$type==5}信息标题：{else}物业名称：{/if}</strong></td>
         <td class="td_left">
           <input name="house[name]" type="text" id="name" size="20"  value="{$name}"></td>
         <td class="td_left"><strong>所在楼层：</strong></td>
         <td class="td_left">第<INPUT name="house[currentfloor]" type="text" id="currentfloor" size=2  value="{$currentfloor}">
      层/共<INPUT  type="text" name="house[totalfloor]" id="totalfloor" size=2   value="{$totalfloor}">
      层</td>
       </tr>
       <tr>
         <td  class="td_left" ><strong>建筑面积：</strong></td>
         <td class="td_left">
           <input type="text" size=10 id="buildarea" name="house[buildarea]"   value="{$buildarea}">
           <font face=宋体 size=3>㎡</font></td>
         <td class="td_left"><strong>使用面积：</strong></td>
         <td class="td_left">
           <input type="text" size=10 id="usearea" name="house[usearea]" value="{$usearea}">
           <font face=宋体 size=3>㎡</font></td>
       </tr>       
       <tr>
         <td class="td_left" ><strong>装潢程度：</strong></td>
         <td class="td_left"><select name="house[decorate]" id="decorate">
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['decorate'] $k $v}
             <option value="{$v}"  {if $v==$decorate} selected{/if}>{$k}</option>
             {/loop}
         </select>
           <span style="color:red; ">*</span></td>
         <td class="td_left"><strong>物业管理：</strong></td>
         <td class="td_left"><input name="house[manage]" type="radio" value="1" {if 1==$manage} checked{/if}>
      有
        <input type="radio" name="house[manage]" value="0" {if 0==$manage} checked{/if}>
      无</td>
       </tr>
       <tr>
         <td class="td_left" ><strong>房产类型：</strong></td>
         <td class="td_left">
           <select name="house[propertytype]" id="propertytype" >
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['type'] $k $v}
             <option value="{$v}" {if $v==$propertytype} selected{/if}>{$k}</option>
             {/loop}
           </select>
           <span style="color:red; ">*</span>         </td>
         <td class="td_left"><strong>建成时间：</strong></td>
         <td class="td_left"><INPUT type="text" size="6" name="house[buildtime]" value="{$buildtime}">年左右</td>
       </tr>
       <tr>
         <td class="td_left" ><strong>房屋朝向：</strong></td>
         <td class="td_left"><select name="house[towards]" id="towards">
             <option value="" selected>-- 请选择 --</option>
             {loop $PARS['towards'] $k $v}
             <option value="{$v}" {if $v==$towards} selected{/if}>{$k}</option>
             {/loop}
         </select></td>
         <td class="td_left"><strong>{if ($type==1||$type==2||$type==3)}租&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：{else}交易价格：{/if}</strong></td>
         <td class="td_left"><INPUT name="house[price]" type="text" size="8" value="{$price}">
		  <select name="house[unit]" id="unit" >
             <option value="1" {if $unit==1} selected{/if}>元/月</option>
             <option value="2" {if $unit==2} selected{/if}>元/季度</option>
             <option value="3" {if $unit==3} selected{/if}>元/年</option>
             <option value="4" {if $unit==4} selected{/if}>元/天</option>
             <option value="5" {if $unit==5} selected{/if}>元/平米*天</option>
			 <option value="6" {if $unit==6} selected{/if}>元</option>   
			 <option value="7" {if $unit==7} selected{/if}>万元</option>          
           </select>  
		   (0为面议)<span style="color:red; ">*</span></td>
       </tr>
  <tr>
    <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}基础设施：</strong></td>
    <td colspan="3" class="td_left">
    {loop $PARS['infrastructure'] $k $v}
    <input type="checkbox" value="{$v}" name="house[infrastructure][]" {if in_array($v,$infrastructure)} checked{/if}>{$k}
    {/loop}
	</td>
  </tr>
  <tr>
    <td class="td_left" ><strong>{if $type==2||$type==5}要求{/if}室内设施：</strong></td>
    <td colspan="3" class="td_left">
    {loop $PARS['indoor'] $k $v}
    <input type="checkbox" value="{$v}" name="house[indoor][]"  {if in_array($v,$indoor)} checked{/if}>{$k}
    {/loop} </td>
  </tr>
   {if $type!=5&&$type!=2}
  <tr>
    <td class="td_left" ><strong>周边设施：</strong></td>
    <td colspan="3" class="td_left">
    {loop $PARS['peripheral'] $k $v}
    <input type="checkbox" value="{$v}" name="house[peripheral][]"  {if in_array($v,$peripheral)} checked{/if}>{$k}
    {/loop}</td>
  </tr>
  <tr>
    <td class="td_left" ><strong>公交状况：</strong></td>
    <td colspan="3" class="td_left"><input name="house[transit]" type="text" id="transit" size="60" value="{$transit}"></td>
  </tr>
  {/if}
  <tr>
    <td class="td_left" ><strong>其他描述：</strong></td>
    <td colspan="3" class="td_left"><textarea name="house[description]" cols="56" rows="6">{$description}</textarea></td>
  </tr>
    {if $type!=2 && $type!=5}
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">图片信息</td>
    </tr>
  <tr>
    <td >位置图</td>
    <td class="td_left"><INPUT  name="house[img1]"  type=text id="img1" size=26 readonly value="{$img1}">
	<input name="button" type="button" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img1&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left">环境图</td>
    <td class="td_left"><INPUT  name="house[img2]"  type=text id="img2" size=26 readonly value="{$img2}">     
	 <input name="button3" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img2&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  <tr>
    <td >室内图</td>
    <td class="td_left"><INPUT  name="house[img3]"  type=text id="img3" size=26 readonly value="{$img3}">
      <input name="button2" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img3&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
    <td class="td_left">户型图</td>
    <td class="td_left"><INPUT  name="house[img4]"  type=text id="img4" size=26 readonly value="{$img4}">
      <input name="button4" type="button" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$mod}&uploadtext=img4&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')" value="上传"></td>
  </tr>
  {/if}
  
  
  <tr class="memberborder_1">
    <td colspan="4" align="left"  style="color:#D4380E;">联系资料</td>
  </tr>
  <tr>
    <td >联 系 人：</td>
    <td class="td_left"><INPUT  name="house[contract]"  type=text id="contract" size=33 value="{$contract}"></td>
    <td class="td_left">联系电话：</td>
    <td class="td_left"><INPUT  name="house[telephone]"  type=text id="telephone" size=33  value="{$telephone}"></td>
  </tr>
  <tr>
    <td >电子邮件：</td>
    <td class="td_left"><INPUT  name="house[email]"  type=text id="email" size=33  value="{$email}"></td>
    <td class="td_left">手&nbsp;&nbsp;&nbsp;&nbsp;机：</td>
    <td class="td_left"><INPUT  name="house[mobile]"  type=text id="mobile" size=33 value="{$mobile}" ></td>
  </tr>
    <tr>
    <td >QQ：</td>
    <td class="td_left"><INPUT  name="house[qq]"  type=text id="qq" size=33  value="{$qq}"></td>
    <td class="td_left">MSN：</td>
    <td class="td_left"><INPUT  name="house[msn]"  type=text id="msn" size=33 value="{$msn}" ></td>
  </tr>
  {if $MOD['enablecheckcode']}
    <tr> 
      <td><strong>验证码:</strong></td>
      <td class="td_left" colspan="4"><input name="checkcodestr" type="text" size="15" id="checkcodestr">
	  <img src="{PHPCMS_PATH}checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
  <tr>
    <td colspan="4" align="center" >
    <input type="hidden" name="type" value="{$type}">
    <input type="hidden" name="houseid" value="{$houseid}">
          <input type="submit" name="dosubmit" value="修改信息">&nbsp;&nbsp;&nbsp;&nbsp;     
          <input type="reset" name="doreset" value=" 重置 ">
	</td>
  </tr>
     </table>
   </form>

{elseif $action=='preview'}

<h1>{$name}</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
  <tr>
    <td colspan="2" class="td_right">在管理员设置发布信息需要审核时您可以在这里先行预览！</td>
	</tr>
  <tr>
    <td width="15%" class="td_right"><span class="td_left"><strong>信息类别</strong></span></td>
	<td class="td_left">{$title}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>关键词</strong></td>
    <td class="td_left">{$keywords}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>日期</strong></td>
    <td class="td_left">{$adddate}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>标题图片</strong></td>
    <td class="td_left"><a href="{$thumb}" target="_blank">{$thumb}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>作者</strong></td>
    <td class="td_left">{$author}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>来源</strong></td>
    <td class="td_left">{$copyfrom}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>内容简介</strong></td>
    <td class="td_left">{$introduce}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>内容</strong></td>
    <td class="td_left">{$content}</td>
  </tr>
{loop $fields $f}
    <tr>
    <td class="td_right"><strong>{$f[title]}</strong></td>
    <td class="td_left">{$f[value]}</td>
  </tr>
  {/loop}
  <tr>
   <td class="td_right"> </td>
    <td class="td_left" align="right">
	<a href="#" onclick="javascript:history.go(-1);">返回</a>
	<a href="{$MOD[linkurl]}frontmgr.php?action=edit&houseid={$houseid}">编辑</a>
	<a href="{$MOD[linkurl]}frontmgr.php?action=delete&houseid={$houseid}">删除</a>	
	</td>
  </tr>
 </tbody>
</table>

{elseif $action=='manage'}
<h1>房产管理{if $type}（<span class="td_center">{$infotype}</span>）{/if}</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
<tr>
<td class="td_left">区域/名称</td>
<td width="18%" class="td_center">房型</td>
<td width="20%" class="td_left">地址</td>
<td width="13%" class="td_center">价格</td>
<td width="13%" class="td_center">发布日期</td>
<td width="12%" class="td_center">管理操作</td>
</tr>
{loop $houses  $house}
<tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor="#ffffff">
<td class="td_left"><a href="{$house[linkurl]}" target="_blank">{$AREA[$house[areaid]][areaname]} {$house[name]}</a></td>
<td class="td_center">{$house['housetype']}</td>
<td class="td_left">{$house[address]}</td>
<td class="td_center">{if $house['price']}{$house[price]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
<td class="td_left">{$house[adddate]}</td>
<td class="td_center"><a href="{$MOD[linkurl]}frontmgr.php?action=edit&houseid={$house[houseid]}">编辑</a> | <a href="javascript:if(confirm('确认删除该条{$infotype}信息?')) location='{$MOD[linkurl]}frontmgr.php?action=delete&houseid={$house[houseid]}';">删除</a></td>
</tr>
{/loop}
</table>

<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">{$pages}</td>
  </tr>
</table>
{/if}
</div></div>
</td>
</tr>
 </tbody>
</table>
{template 'phpcms','footer'}