<div id="house_search">
  <ul>
  <li>	
	<form action="{$PHPCMS['siteurl']}{$MOD['moduledir']}/search.php" name="search_house" target="_blank">
	   <select name="infocat" id="infocat">
          <option value="1">出租</option>
          <option value="2">求租</option>
          <option value="4">出售</option>
          <option value="5">求购</option>
          <option value="6">置换</option>
        </select>

       {$area_select('areaid', '区域')}


        <select name="type1p" id="type1p">
          <option value="0" selected>室</option>
          <option value="一" >一</option>
          <option value="二" >二</option>
          <option value="三" >三</option>
          <option value="四">四</option>
          <option value="五">五</option>
          <option value="六">六</option>
          <option value="七">七</option>
          <option value="八">八</option>
          <option value="九">九</option>
          <option value="十">十</option>
        </select>
	
        <select name="type2p" id="type2p">
          <option value="0" selected>厅</option>
          <option value="一">一</option>
          <option value="二">二</option>
          <option value="三">三</option>
          <option value="四">四</option>
          <option value="五">五</option>
          <option value="六">六</option>
          <option value="七">七</option>
          <option value="八">八</option>
          <option value="九">九</option>
          <option value="十">十</option>
		</select>

        <select name="type3p" id="type3p">
          <option value="0"  selected >卫</option>
          <option value="一">一</option>
          <option value="二">二</option>
          <option value="三">三</option>
          <option value="四">四</option>
          <option value="五">五</option>
		</select>

		  <select name="propertytype" id="select2" >
            <option value="" selected>物业类型</option>
             {loop $PARS['type'] $k $v}
            <option value="{$v}" {if $v==$propertytype} selected{/if}>{$k}</option>
             {/loop}           
		    </select>

			<select name="isinter">
              <option value="0">来源</option>
              <option value="2">中介</option>
              <option value="1">个人</option>
            </select>

	    <select name="type1p" id="type1p">
          <option value="0" selected>发布时间</option>
          <option name="searchtime" type="radio" value="" checked>全部</option>
          <option name="searchtime" type="radio" value="7">一星期</option>
          <option name="searchtime" type="radio" value="15">半月</option>
          <option name="searchtime" type="radio" value="30">一个月</option>
        </select>

	  <input name="keywords" type="text" id="keywords" size="10">

	  <input type="hidden" name="search" value="1">
	  <input type="hidden" name="action" value="house">
	  <input class="btn" type="submit" name="submit" value=" 搜索 " /> <a href="{$MOD[linkurl]}search.php?action=house">高级</a>
	</form>
      </li>
  </ul>
</div>