{template 'house','header'}
{include PHPCMS_ROOT.'/data/house_search_inc.html'}
<div id="content">
  <div class="house_left">
 {template 'house','left'}
  </div>

  <div class="house_wright">

      <div class="position">
	    <span>当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; <a href="{$MOD[linkurl]}listdisplay.php">楼盘列表信息</a> &gt;&gt; 查看楼盘</span>
		<ul>
		  <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1">发布出租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2">发布求租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3">发布合租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4">发布出售</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5">发布求购</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6">发布置换</a></li>
		  <li><a href="{$MOD[linkurl]}displaymgr.php?action=add">发布楼盘</a></li>
		</ul>
	  </div>
    <div id="newhouse_cont">

<div class="newhouse_left">
<table cellpadding="0" cellspacing="1" width="100%">
<tr><td bgcolor="#FFF7E7" width="20%">开发商：</td>
<td>{$develop}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">区域：</td>
<td>{$AREA[$areaid][areaname]}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">物业类别：</td>
<td>{$housetype}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">起价：</td>
<td>{$startprice} 元/㎡</td>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">均价：</td>
<td>{$avgprice} 元/㎡</td>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">地址：</td>
<td>{$address}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">物业管理费：</td>
<td>{$managefee}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">开盘时间：</td>
<td>{$starttime}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">入住时间：</td>
<td>{$staytime}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">建筑面积：</td>
<td>{$buildarea}㎡</td>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">占地面积：</td>
<td>{$area}㎡</td>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">容积率：</td>
<td>{$capacity}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">绿化率：</td>
<td>{$green}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">预售许可证：</td>
<td>{$licence}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">公交状况：</td>
<td>{$transit}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">周边配套：</td>
<td>{$peripheral}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
</table>
</div>
<div class="newhouse_right">
<h5>{$name}楼盘</h5>{if $MOD['showhits']} 浏览次数：<span id="hits"></span>&nbsp;{/if}
<ul>
<li><img src="{$img1}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="楼盘位置图" /></li>
<li>楼盘位置图</li>
<li><img src="{$img2}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}"  alt="楼盘环境图"/></li>
<li>环境图</li>
<li><img src="{$img3}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="楼盘室内图" /></li>
<li>室内图</li>
</ul>
</div>
</div>
<div class="newhouse_left_title">{$name}售楼资料</div>
<div class="house_reltaed">
  <ul>
    <li>售楼地址：{$saleaddress}</li>
    <li>售楼热线：{$saletele}</li>
    <li>联 系 人：{$contract}</li>
    <li>电子邮件：{$email}</li>
    <li>传&nbsp;&nbsp;&nbsp;&nbsp;真：{$fax}</li>
    <li>楼盘网址：<a href="{$url}" title="{$name}网站" target="_blank">{$url}</a></li>
  </ul>
</div>


<div class="newhouse_left_title">{$name}户型图</div>
<div id="demo" style="width:660px;">
<div id="indemo">
<div id="demo1">
{loop $holds $hold}
<div class="house_pic"><ul><li><a href="{$hold[image]}" target="_blank"><img src="{$hold[thumb]}" alt="{$hold[title]}" height=75 width=98 border=1 style="BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-STYLE: solid"></a></li>
<li><a href="{$hold[image]}" target="_blank">{$hold[title]} 面积：{$hold[area]}㎡</a></li>
</ul></div>
{/loop}
</div>
<div id="demo2"></div>
</div>
</div>
<script type="text/javascript">
 var speed=50; //数字越大速度越慢 
var tab=document.getElementById("demo"); 
var tab1=document.getElementById("demo1"); 
var tab2=document.getElementById("demo2"); 
tab2.innerHTML=tab1.innerHTML; 
function Marquee(){ 
if(tab2.offsetWidth-tab.scrollLeft<=0) 
tab.scrollLeft-=tab1.offsetWidth 
else{ 
tab.scrollLeft++; 
} 
} 
var MyMar=setInterval(Marquee,speed); 
tab.onmouseover=function() {clearInterval(MyMar)
}; 
tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)
}; 
</script>

<div class="newhouse_left_title">{$name}简介</div>
<p><a id=newprice>{$introduce}</a></p>

</div>
<div class="k"></div>
</div>
<script type="text/javascript" src="{$MOD[linkurl]}show_js.php?itemid={$displayid}&key=displayid"></script>
{template 'house','footer'}