{template 'house','header'}
<body>
<script language="javascript">
function CheckForm(){
	if($F('fromprice')!='' && !Common.isnumber($F('fromprice')))
	{
		alert('价格必须为整/小数');
		$('fromprice').focus();
		return FALSE;
	}
	if($F('toprice')!='' && !Common.isnumber($F('toprice')))
	{
		alert('价格必须为整/小数');
		$('toprice').focus();
		return FALSE;
	}
}
</script>
<div class="search">
<div class="position">
	    <span>当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; 新楼盘搜索</span>
		<ul>
		  <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1">发布出租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2">发布求租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3">发布合租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4">发布出售</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5">发布求购</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6">发布置换</a></li>
		  <li><a href="{$MOD[linkurl]}displaymgr.php?action=add">发布楼盘</a></li>
		</ul>
	  </div>
	    <!--{if $search}-->
<div class="searchresult"><!--{if $keywords}-->您输入的关键词<strong><font color="red">{$keywords}</font></strong>，<!--{/if}-->共找到<font color=red>{$number}</font>个结果</div>
 <table width="910" cellspacing="1" cellpadding="0">
	<tr>
	<td>
	<table width="100%"  cellspacing="1" cellpadding="1" style="border:1px solid #666666;">
	</tr>
        <tr style="background:#EEEEEE; ">
          <td width="10%" class="search_l" style="text-align:center;">区域</td>
          <td width="15%" class="search_l" style="text-align:center;">楼盘名称</td>
          <td width="10%" class="search_l" style="text-align:center;">起始价格</td>
          <td width="10%" class="search_l" style="text-align:center;">平均价格</td>
		  <td width="20%" class="search_l" style="text-align:center;">开发商</td>
          <td width="25%" class="search_l" style="text-align:center;">楼盘地址</td>       
          <td width="10%" class="search_l" style="text-align:center;">发布时间</td>
        </tr>
		{loop $searchs $house}
        <tr style="background:#F9F9F9; ">
          <td class="search_l" align="center"><a href="{$change_url('areaid', $house['areaid'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[areaname]}</a></td>
          <td class="search_l" align="left"><a href="{$house[linkurl]}" target="_blank">{$house[name]}</a></td>
          <td class="search_l" align="center">{if $house['startprice']}{$house[startprice]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
          <td class="search_l" align="center">{if $house['avgprice']}{$house[avgprice]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
		  <td class="search_l" align="left"><a href="{$change_url('develop', $house['develop'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[develop]}</a></td>
          <td class="search_l" align="left">{$house[address]}</td>
          <td class="search_l" align="center">{$house[addtime]}</td>
        </tr>
		{/loop}
        <tr bgcolor="#F1F2F3">
          <td height="30" colspan="8"  class="pages" style="text-align:right; ">{$pages} </td>
        </tr>
      </table>	
    </td>
	</tr>	
	<!--{/if}-->
</table> 
<div style="height:10px"></div>
 <table width="910" cellspacing="2" cellpadding="5" style="border:1px solid #dddddd; display:">
   <form name="myform" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/search.php" method="get" onSubmit="return CheckForm();">
     <tr>
       <td width="11%" class="search_l" style="text-align:left;"><strong>所属区域：</strong>        </td>
       <td width="89%" class="search_l" style="text-align:left;">
	   {if is_numeric($areaid) && $areaid>0}<span onclick="this.style.display='none';$('select_area').style.display='';" style="cursor:pointer;"><?=$AREA[$areaid]['areaname']?> <font color="red">点击重选</font></span><span id="select_area" style="display:none;">{/if}
       {$ajax_area_select('areaid', $mod, $areaid)}
	   </td>
     </tr>
     <tr>
       <td class="search_l"  style="text-align:left;"><strong>物业类型：</strong></td>
       <td class="search_l"  style="text-align:left;"><select name="propertytype" id="select5" >
         <option value="" selected>不限</option>
             {loop $PARS['type'] $k $v}           
         <option value="{$v}" {if $v==$propertytype} selected{/if}>{$k}</option>                                 
             {/loop}
       </select></td>
     </tr>
     <tr>
       <td class="search_l"  style="text-align:left;"><strong>起始价格：</strong></td>
       <td class="search_l"  style="text-align:left;">
	   <input name="startprice_from" type="text" id="startprice_from" size="5" value="{$startprice_from}"> ～ <input name="startprice_to" type="text"  id="startprice_to" size="5" value="{$startprice_to}"> 留空表示不限</td>
     </tr>
     <tr>
       <td class="search_l"  style="text-align:left;"><strong>平均价格：</strong></td>
       <td class="search_l"  style="text-align:left;">
	   <input name="avgprice_from" type="text" id="avgprice_from" size="5" value="{$avgprice_from}"> ～ <input name="avgprice_to" type="text"  id="avgprice_to" size="5" value="{$avgprice_to}"> 留空表示不限</td>
     </tr>
	  <tr>
       <td class="search_l"  style="text-align:left;">
	   <strong>关键词：</strong>
        </td>
       <td width="89%" class="search_l" style="text-align:left;">
         <select name="searchtype" id="select4">
           <option value="name" {if $searchtype=='name'} selected{/if}>楼盘名称</option>
		   <option value="address" {if $searchtype=='address'} selected{/if}>楼盘地址</option>
		   <option value="develop" {if $searchtype=='develop'} selected{/if}>开发商</option>
         </select>
         <input name="keywords" type="text" size="30" value="{$keywords}">
* 多个关键词之间用空格隔开	   
	   </td>
      </tr>
     <tr>
       <td height="30"><strong>排序方式：</strong></td>
       <td class="search_l"  style="text-align:left;">
           <select name="ordertype">
             <option value="0" {if $ordertype==0}selected{/if}>房产信息排序</option>
             <option value="1" {if $ordertype==1}selected{/if}>平均价格降序</option>
             <option value="2" {if $ordertype==2}selected{/if}>平均价格升序</option>
			 <option value="3" {if $ordertype==3}selected{/if}>面积降序</option>
             <option value="4" {if $ordertype==4}selected{/if}>面积升序</option>
             <option value="5" {if $ordertype==5}selected{/if}>发布时间降序</option>
             <option value="6" {if $ordertype==6}selected{/if}>发布时间升序</option>
             <option value="7" {if $ordertype==7}selected{/if}>浏览次数降序</option>
             <option value="8" {if $ordertype==8}selected{/if}>浏览次数升序</option>
           </select>
		</td>
     </tr>
     <tr>
       <td colspan="2" class="search_l" style="text-align:left;">
         <input type="hidden" name="search" value="1">
	     <input type="hidden" name="action" value="building">
         <input name="dosubmit" type="submit" class="btn" value="立即搜索" />
        <input name="button" type="button" class="btn" onClick="window.location='search.php?action=building'" value="重新搜索" /> 
	   </td>
      </tr>
   </form>
 </table>
</div>
{template 'house','footer'}