{template 'house','header'}
<body>
<script language="javascript">
function CheckForm(){
	if($F('fromprice')!='' && !Common.isnumber($F('fromprice')))
	{
		alert('价格必须为整/小数');
		$('fromprice').focus();
		return FALSE;
	}
	if($F('toprice')!='' && !Common.isnumber($F('toprice')))
	{
		alert('价格必须为整/小数');
		$('toprice').focus();
		return FALSE;
	}
}
</script>
<div class="search">
<div class="position">
	    <span>当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; 合租信息搜索</span>
		<ul>
		  <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1">发布出租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2">发布求租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3">发布合租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4">发布出售</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5">发布求购</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6">发布置换</a></li>
		  <li><a href="{$MOD[linkurl]}displaymgr.php?action=add">发布楼盘</a></li>
		</ul>
	  </div>
<!--{if $search}-->
<div class="searchresult"><!--{if $keywords}-->您输入的关键词<strong><font color="red">{$keywords}</font></strong>，<!--{/if}-->共找到<font color=red>{$number}</font>个结果</div>
 <table width="100%" cellspacing="1" cellpadding="0">
	<tr>
	<td>
	{if $yesnumber}
	  <table width="100%"  cellspacing="1" cellpadding="1" style="border:1px solid #cccccc;">
		<tr style="background:#cccccc; ">
		  <td colspan="8" style="line-height:30px;text-align:center"><strong>有房合租信息</strong></td>
		</tr>
        <tr style="background:#EEEEEE;text-align:center;">
          <td width="8%">区域</td>
          <td width="34%">物业名称/地址</td>
          <td width="15%">房型</td>
          <td width="8%">面积</td>
          <td width="7%">楼层</td>
          <td width="6%">装修</td>
          <td width="12%">价格</td>
          <td width="10%">发布时间</td>
        </tr>
		{loop $yessearchs $house}
        <tr style="background:#F9F9F9;" align="center">
          <td class="search_l"><a href="{$change_url('areaid', $house['areaid'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[areaname]}</a></td>
          <td class="search_l" align="left"><a href="{$house[linkurl]}" target="_blank">{$house[name]} {$house[address]}</a></td>
          <td class="search_l">{$house[housetype]}</td>
          <td class="search_l">{$house[buildarea]}㎡</td>
          <td class="search_l">{$house[currentfloor]}/{$house[totalfloor]}</td>
          <td class="search_l">{$house[decorate]}</td>
          <td class="search_l">{if $house['price']}{$house[price]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
          <td class="search_l">{$house[addtime]}</td>
        </tr>
		{/loop}
        <tr bgcolor="#F1F2F3">
          <td height="30" colspan="8"  class="pages" style="text-align:right; ">{$yespages}</td>
        </tr>
		 </table>	
	{/if}
		 <br />
	{if $nonumber}
	  <table width="100%"  cellspacing="1" cellpadding="1" style="border:1px solid #cccccc;">
		<tr style="background:#cccccc; ">
		  <td colspan="8" style="line-height:30px;text-align:center"><strong>无房合租信息</strong></td>
		</tr>
        <tr style="background:#EEEEEE;text-align:center;">
          <td width="8%">区域</td>
          <td width="38%">物业名称/地址</td>
          <td width="11%">房型</td>
          <td width="8%">面积</td>
          <td width="7%">楼层</td>
          <td width="6%">装修</td>
          <td width="12%">价格</td>
          <td width="10%">发布时间</td>
        </tr>
		{loop $nosearchs $house}
        <tr style="background:#F9F9F9;text-align:left;">
          <td class="search_l" align="center"><a href="{$change_url('areaid', $house['areaid'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[areaname]}</a></td>
          <td class="search_l"><a href="{$house[linkurl]}" target="_blank">{$house[name]}-{$house[address]}</a></td>
          <td class="search_l">{$house[housetype]}</td>
          <td class="search_l">{$house[buildarea]}</td>
          <td class="search_l">{$house[currentfloor]}/{$house[totalfloor]}</td>
          <td class="search_l">{$house[decorate]}</td>
          <td class="search_l">{$house[price]} {$PARS[unit][$house[unit]]}</td>
          <td class="search_l">{$house[addtime]}</td>
        </tr>
		{/loop}
        <tr bgcolor="#F1F2F3">
          <td height="30" colspan="8"  class="pages"  style="text-align:right; ">{$nopages} </td>
        </tr>
	  </table>
	  {/if}
	</td>
	</tr>	
</table> 
<!--{/if}-->

<div style="height:10px"></div>
 <table width="100%"  cellspacing="2" cellpadding="5" style="border:1px solid #dddddd; display:">
   <form name="myform" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/search.php" method="get" onSubmit="return CheckForm();">
     <tr>
       <td class="search_l"><strong>期望区域：</strong>
	   </td>
       <td class="search_l"  style="text-align:left;">
	   {if is_numeric($areaid) && $areaid>0}<span onclick="this.style.display='none';$('select_area').style.display='';" style="cursor:pointer;"><?=$AREA[$areaid]['areaname']?> <font color="red">点击重选</font></span><span id="select_area" style="display:none;">{/if}
       {$ajax_area_select('areaid', $mod, $areaid)}
       </td>
     </tr>
     <tr>
       <td class="search_l"><strong>对方条件： </strong>
	   </td>
       <td class="search_l"  style="text-align:left;">
		<input type="radio" value="-1" name="havehouse" {if $havehouse==-1}checked{/if}> 不限
		<input type="radio" value="1" name="havehouse" {if $havehouse==1}checked{/if}> 对方有房
		<input type="radio" value="0" name="havehouse" {if $havehouse==0}checked{/if}> 对方没房
       </td>
     </tr>
     <tr>
       <td class="search_l"  style="text-align:left;"><strong>对方性别：</strong>
	   </td>
       <td class="search_l"  style="text-align:left;">
       <input id="radio10" type="radio" checked value="0" name="yourgender" {if $yourgender==0}checked{/if}>
		不限
		<input id="radio11" type="radio" value="1" name="yourgender" {if $yourgender==1}checked{/if}>
		男&nbsp;
		<input id="radio12" type="radio" value="2" name="yourgender" {if $yourgender==2}checked{/if}>
		女&nbsp;
		<input id="radio12" type="radio" value="3" name="yourgender" {if $yourgender==3}checked{/if}>
		夫妻/情侣&nbsp;
		</td>
     </tr>
     <tr>
       <td class="search_l" style="text-align:left;">
         <strong>价格：</strong>
		 </td>
       <td class="search_l"  style="text-align:left;">
         <input name="fromprice" type="text" id="fromprice" size="5" value="{$fromprice}"> ～ <input name="toprice" type="text"  id="toprice3" size="5" value="{$toprice}"> 留空表示不限
		 </td>
     </tr>
     <tr>
       <td class="search_l" style="text-align:left;">
        <strong>来源：</strong>
		</td>
       <td class="search_l"  style="text-align:left;">
	    <input name="isinter" type="radio" value="0" {if $isinter==0}checked{/if}> 不限 
        <input name="isinter" type="radio" value="2" {if $isinter==2}checked{/if}> 中介
        <input name="isinter" type="radio" value="1" {if $isinter==1}checked{/if}> 个人
		 </td>
     </tr>
     <tr>
       <td class="search_l" style="text-align:left;"><strong>发布时间：</strong>
	   </td>
       <td class="search_l"  style="text-align:left;">
	    <input name="publishtime" type="radio" value="0" {if !$publishtime}checked{/if}> 全部 
        <input name="publishtime" type="radio" value="2" {if $publishtime==2}checked{/if}>近两天
        <input name="publishtime" type="radio" value="7" {if $publishtime==7}checked{/if}>一星期
		<input name="publishtime" type="radio" value="10" {if $publishtime==10}checked{/if}>十天
		<input name="publishtime" type="radio" value="15" {if $publishtime==15}checked{/if}>半月
		<input name="publishtime" type="radio" value="30" {if $publishtime==30}checked{/if}>一个月
		<input name="publishtime" type="radio" value="60" {if $publishtime==60}checked{/if}>两个月
		</td>
     </tr>
	  <tr>
       <td class="search_l"  style="text-align:left;"><strong>关键字：</strong>
	   </td>
       <td class="search_l"  style="text-align:left;">
                <input name="keywords" type="text" size="30" value="{$keywords}">
* 多个关键词之间用空格隔开	   </td>
      </tr>
     <tr>
       <td>
         <strong>排序方式：</strong>
		 </td>
       <td class="search_l"  style="text-align:left;">
           <select name="ordertype">
             <option value="0" {if $ordertype==0}selected{/if}>房产信息排序</option>
             <option value="1" {if $ordertype==1}selected{/if}>价格降序</option>
             <option value="2" {if $ordertype==2}selected{/if}>价格升序</option>
			 <option value="3" {if $ordertype==3}selected{/if}>面积降序</option>
             <option value="4" {if $ordertype==4}selected{/if}>面积升序</option>
             <option value="5" {if $ordertype==5}selected{/if}>发布时间降序</option>
             <option value="6" {if $ordertype==6}selected{/if}>发布时间升序</option>
             <option value="7" {if $ordertype==7}selected{/if}>浏览次数降序</option>
             <option value="8" {if $ordertype==8}selected{/if}>浏览次数升序</option>
           </select>
		</td>
     </tr>
     <tr>
       <td class="search_l" style="text-align:left;">
	   </td>
       <td class="search_l"  style="text-align:left;">
         <input type="hidden" name="search" value="1">
	     <input type="hidden" name="action" value="coop">
         <input name="dosubmit" type="submit" class="btn" value="立即搜索" />
        <input name="button" type="button" class="btn" onClick="window.location='search.php?action=coop'" value="重新搜索" />
		 </td>
     </tr>
   </form>
 </table>
</div>
{template 'house','footer'}