{template 'house','header'}
{include PHPCMS_ROOT.'/data/house_search_inc.html'}
<div id="content">
  <div class="house_left">
	{template 'house','left'}
  </div>

  <div class="house_wright">

      <div class="position">
	    <span>当前位置:<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; <a href="{$CAT[$infocat][linkurl]}">{$infotypename}信息</a> &gt;&gt; {$name}</span>
		<ul>
		  <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1">发布出租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2">发布求租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3">发布合租</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4">发布出售</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5">发布求购</a></li>
	      <li><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6">发布置换</a></li>
		  <li><a href="{$MOD[linkurl]}displaymgr.php?action=add">发布楼盘</a></li>
		</ul>
	  </div>

<div id="newhouse_cont">

<div class="newhouse_left">
<table cellpadding="2" cellspacing="0" width="100%">
<tr>
<td bgcolor="#FFF7E7" width="20%">信息类别：</td>
<td>{$infotypename}</td>
</tr>
<tr>
<td bgcolor="#FF9A10" colspan="2" height="1"> </td>
</tr>

<tr><td bgcolor="#FFF7E7">{if $infocat==2||$infocat==5}要求{/if}所在区域：</td>
<td>{$AREA[$areaid][areaname]}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">所在楼层：</td>
<td>第{$currentfloor}层/共{$totalfloor}层</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">建筑面积：</td>
<td>{$buildarea} ㎡</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">物业管理：</td>
<td>{$manage}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">建成时间：</td>
<td>{$buildtime}年左右</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">{if ($infocat==1||$infocat==2||$infocat==3)}租&nbsp;&nbsp;&nbsp;&nbsp;金：{else}交易价格：{/if}</td>
<td>{if $price}{$price} {$PARS[unit][$unit]}{else}面议{/if}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">发布时间：</td>
<td>{$adddate}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">房 型：</td>
<td>{$housetype}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">{if $infocat==2||$infocat==5}期望商圈/区域：{else}物业地址：{/if}</td>
<td>{$address}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
{if $infocat==3}
<tr><td bgcolor="#FFF7E7">是否有房：</td>
<td>{$havehouse}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">我的性别：</td>
<td>{$mygender}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
{/if}
<tr><td bgcolor="#FFF7E7">装潢程度：</td>
<td>{$DECORATES[$decorate]}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">使用面积：</td>
<td>{$usearea}㎡</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">房产类型：</td>
<td>{$house_propertytype}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">房屋朝向：</td>
<td>{$house_towards}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">{if $infocat==3}你的性别：{else}有效期：{/if}</td>
<td>{if $infocat==3}{$yourgender}&nbsp;{else}{$validperiod}&nbsp;天{/if}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">有效至：</td>
<td>{$validdate}</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">{if $infocat==2||$infocat==5}要求{/if}基础设施：</td>
<td>{$infrastructure}&nbsp;</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">{if $infocat==2||$infocat==5}要求{/if}室内设施： </td>
<td>{$indoor}&nbsp;</td></tr>
{if $infocat!=5&&$infocat!=2}
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">周边设施：</td>
<td>{$peripheral}&nbsp;</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">公交状况：</td>
<td>{$transit}&nbsp;</td></tr>
{/if}
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
<tr><td bgcolor="#FFF7E7">其他描述：</td>
<td>{$description}&nbsp;</td></tr>
<tr><td bgcolor="#FF9A10" colspan="2" height="1"> </td></tr>
</table>
</div>
<div class="newhouse_right">
<h5>{$infotypename}信息：{$name} </h5>
{if $MOD['showhits']} 浏览次数：<span id="hits"></span>&nbsp;{/if} 
<ul>
 {if $infocat!=5&&$infocat!=2}
               <li><img src="{$img1}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="位置图" /></li>
                <li> 位置图 </li>
               <li><img src="{$img2}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="环境图" /></li>
                <li> 环境图</li>
              </tr>
			  <tr height="110">
               <li><img src="{$img3}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="室内图" /></li>
                <li> 室内图</li>
               <li><img src="{$img4}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="户型图" /></li>
                <li> 户型图 </li>
			  {/if}
			  </ul>
</div>
<div class="k"></div>
<div class="newhouse_left_title">联系信息</div>
<div class="house_reltaed">
  <ul>
  {if $msg}
   <li>{$msg}</li>
  {else}
    <li> 是否中介： {$inter}</li>
    <li> 联系人： {$contract}</li>
    <li> 联系电话： {$telephone}</li>
    <li> 电子邮件： {$email}</li>
    <li> 手机： {$mobile}</li>
    <li> QQ： {$qq}</li>
    <li> MSN： {$msn}</li>
	<li>{if $isinter} 公司：{$corpname}{/if}</li>
	{/if}
  </ul>
</div>

 <br style="clear:both;"/>
 <!--相关评论js调用-->
 <div style="width:675px;clear:both;">
 <script type="text/javascript" src="{$MODULE[comment][linkurl]}list_js.php?keyid={$mod}&itemid={$houseid}&title={$urlencode($name)}&commentnum=10&ordertype=1"></script>
 </div>
</div>
</div>
<script type="text/javascript" src="{$MOD[linkurl]}show_js.php?itemid={$houseid}&key=houseid"></script>
{template 'house','footer'}