{template 'house','header'}
	<table width="100%"  cellspacing="1" cellpadding="1" style="border:1px solid #cccccc;">
        <tr style="background:#EEEEEE;text-align:center;">
          <td>中介名称</td>
          <td width="10%">联系人</td>
		  <td width="12%">电话</td>
          <td width="33%">地址</td>
          <td width="15%">最近登录</td>
          <td width="12%">注册日期</td>
        </tr>
        <tr style="background:#F9F9F9;text-align:center;">
          <td colspan="9">{tag_房产首页中介列表}</td>
        </tr>
	   </table>	
{template 'house','footer'}