{template 'yp','center_header'}
<style type="text/css">
#right{margin-top:0px;}
.table_form td{line-height:24px;padding:3px;}
</style>
<div id="main">
{template "yp","center_left"}
<div id="right">
{if $company_user_infos[endtime] && $company_user_infos[endtime]<TIME-108000}
<div class="box_2" style="margin-top:0px;">您的服务期将于{date('Y年m月d日',$company_user_infos[endtime])}到期，请及时续交服务费</div>
{/if}
<table border=0 cellspacing=1 class="table_form">
	<tr>
		<td width="50%" class="center_panel"><h2>个人信息</h2></td>
		<td width="50%" class="center_guide"><h2>四大优势</h2></td>
	</tr>
	<tr>
        <td class="tablerow">
		<table cellpadding="2" cellspacing="2" width="100%" >
		<tr><td> ·用 户 名：<font color="blue">{$_username}</font></td></tr>
		<tr><td> ·当前身份：<font color="blue">{$GROUP[$_groupid]}</font></td></tr>
		<tr><td> ·短消息：<a href="{$MODULE[message][url]}" title="点击查看新消息">您有 <font color="red">{$new_message_number}</font> 条新消息！</a></td></tr>
		<tr><td> ·登录时间：<font color="blue">{date('Y-m-d H:i:s',$lastlogintime)}</font></td></tr>
		<tr><td> ·注册时间：<font color="blue">{date('Y-m-d',$regtime)}</font></td></tr>
		<tr><td> ·登 录 IP：<font color="blue">{IP}</font></td></tr>
		<tr><td> ·登录次数：<font color="blue">{$logintimes}</font> 次</td></tr>
		<tr><td> ·企业主页访问地址：{if $M[enableSecondDomain] && !$company_user_infos[sitedomain]}<a href="{BUSINESSDIR}?file=company"><font color='red'><B>您还没有绑定域名，请点击这里</B></font></a>{else}<a href="{$siteurl}" target="_blank"><font color="blue">{$siteurl}</font></a>{/if}</td></tr>
		<tr><td> ·企业后台管理地址：<a href="{BUSINESSDIR}" target="_blank"><font color="blue">{SITE_URL}{BUSINESSDIR}</font></a></td></tr>
		<tr><td> ·最新留言数：<a href="{BUSINESSDIR}?file=guestbook"><font color="red">{$new_guestbook_number}</font></a> 条 </td></tr>
		</table>
<td>
<ul class="superior">
<li class="superior_1"><h2>提高企业知名度</h2><P>利用互联网为载体，更广泛的为您传播,宣传企业的文化，价值。</P></li>
<li class="superior_2"><h2>带来更多财富</h2><P>向更多的买家推广企业和宣传产品 从而更易于获得贸易商机和订单。</P></li>
<li class="superior_3"><h2>个性、美观</h2><P>多种模板可任意选择、可自定义，风格完全由自己掌握。</P></li>
<li class="superior_4"><h2>信息多方位展示</h2><P>凭借我们的品牌效应，让您的产品在多个页面进行全方位展示。</P></li>
</ul>	
</td>
	</td>
      </tr>
    </table>
	<table cellpadding="0" cellspacing="1" border="0" class="table_form" style="*margin-top:10px;">
	<caption>官方最新消息</caption>
  <tr>
    <td><p>{$content}</p>
		</td>
  </tr>
</table>
	  </div>
	</div>
	<div class="clear"></div>
{template 'phpcms','footer'}