{template 'yp','center_header'}
<div id="main">
{template "yp","center_left"}
{if $action=='manage'}
<div id="right">

<form action="{URL}" method="post" name="myform">
<table cellpadding="0" cellspacing="1" class="table_list">
<caption>菜单管理</caption>
<tr>
    <th width="15%">启用</th>
    <th width="25%">菜单名称</th>
    <th>链接地址</th>
</tr>
{$strings}
<tr>
	<td class="align_c"><font color="red">新增+</font></td>
    <td class="align_c"><input name='newcatname' type='text' size='15' maxlength='30' ></td>
    <td class="align_c"><input name='linkurl' type='text' id='catdir' size='55' maxlength='50'>  </td>
</tr>
    <tr> 
      <td colspan="3"> 
	  <input type="hidden" name="forward" value="{$forward}"> 
	  <input type="submit" name="dosubmit" value=" 保存设置 "> 
	  </td>
    </tr>
</table>
</form>
<table cellpadding="0" cellspacing="1" class="table_info">
		  <caption>
		  提示信息
		  </caption>
		  <tr>
			<td> 如果需要删除链接，只需要将连接地址设置为空，保存设置即可。
			</td>
		  </tr>
		</table>
</div>
{/if}
	</div>
	<div class="clear"></div>
{template 'phpcms','footer'}
<SCRIPT LANGUAGE="JavaScript">
<!--
$().ready(function() {
  $('form').checkForm(1);
});
//-->
</SCRIPT>
<script type="text/javascript" src="images/js/form.js"></script>
<script type="text/javascript" src="images/js/validator.js"></script>