<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords">
<meta content="{$head[description]}" name="description">
<base href="{$PHPCMS[siteurl]}" />
<script language="JavaScript" src="data/config.js"></script>
<script language="JavaScript" src="images/js/jquery.min.js"></script>
<script language="JavaScript" src="images/js/css.js"></script>
<script language="JavaScript" src="images/js/common.js"></script>
<link href="{SKIN_PATH}center_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="head">
  <div id="menu"><a href="">网站首页</a><a href="{$siteurl}">公司首页</a><a href="{$MODULE[member][url]}">会员中心</a></div>
</div>