<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords" />
<meta content="{$head[description]}" name="description" />
<base href="{$PHPCMS[siteurl]}" />
<link href="{WEB_SKIN}style.css" rel="stylesheet" type="text/css" />
<link href="{SKIN_DIY}" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="data/config.js"></script>
<script language="JavaScript" src="images/js/common.js"></script>
<script language="JavaScript" src="images/js/jquery.min.js"></script>
<script type="text/javascript" src="images/js/jqModal.js"></script>
<script language="JavaScript" src="images/js/validator.js"></script>
</head>
<body>
<!--头部--> 
<div class="main_all"> 
<div id="top">
<span class="f_r"><a href="javascript:window.external.AddFavorite(window.location.href,'{$head[title]}')" rel="sidebar" title="{$head[title]}">加入收藏</a>　｜　<a id="StranLink" href="javascript:StranBody()" title="点击以繁体中文方式浏览">繁体显示</a></span>
  <!--企业标志-->
  <h1>{$companyname}</h1>
</div>
<script language="JavaScript" src="images/js/Std_StranJF.Js"></script>
<div id="head">
  <!--企业宣传图片-->
  <div><img src="{$banner}" alt="{$head[title]}"/></div>

<!--菜单-->
<div id="menu">
<ul>
{loop $m_system $ms}
<li><a href="{$ms[url]}"><span>{$ms[catname]}</span></a></li>
{/loop}
</ul>
  <div class="cb"></div>
</div></div>
</div>