{template 'yp','com_default-header'}
<!--主体-->
<div class="main_all"> 
<div id="main">
  <!--右侧-->
  <div id="right">
    <p id="position"><strong>当前位置</strong>：{$position}</p>
    <h3>{$system_name[$category]}</h3>
    <div class="box p_l_20">
      <ul class="txt_list">
        <li>电话：{magic_image($telephone)}</li>
        <li>传真：{magic_image($fax)}</li>
        <li>邮箱：{magic_image($email)}</li>
        <li>地址：{$address}</li>
        <li>邮编：{$zip}</li>
        <hr/>
              </ul>
{if $map!=''}
<script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
<script language="javascript" src="http://api.51ditu.com/js/ezmarker.js"></script>
<div id="maps" style="position:relative; width:90%; height:350px; border:black solid 1px;"> 
   <script language="javascript">
	var maps = new LTMaps( "maps" );
	var c = new LTSmallMapControl();
	maps.addControl(c);
	var point = new LTPoint({$x},{$y}); 
    maps.centerAndZoom( point, {$z} );
	var text=new LTMapText(point,[0,-18]);
	text.setLabel( "{$company_user_infos[companyname]}" );
	setTimeout("maps.addOverLay( text );",3000);
	var icon=new LTIcon("{$M[url]}images/centerPoi.gif",[24,24],[12,12]);
	var marker=new LTMarker(new LTPoint({$x},{$y}),icon);
	maps.addOverLay(marker);
</script>
</div>
{/if}

      <div class="cb"></div>
     
    </div>
  </div>
  <!--左侧-->
  <div id="left">
{if $m_user}<h3>热点导航</h3>
<div class="hot_nav">
      <ul>
{loop $m_user $ms}
  <li><a href="{$ms[url]}">{$ms[catname]}</a></li>
{/loop}
      </ul>
    </div>{/if}
	<h3>最新消息</h3>
    <div class="box">
      <ul>
{get sql="SELECT * FROM `phpcms_yp_news` WHERE `userid`='$userid' AND status=99 ORDER BY id DESC" rows="10"}
<li><a href="{show_url('news',$r[id])}" title="{$r[title]}">{str_cut($r[title],28,'')}</a></li>
{/get}
      </ul>
    </div>
	<h3>站内搜索</h3>
    <form class="box" action="{$M['url']}web/query.php">
      <input type="text" name="q" size="16"/><input name="search" type="submit" id="search" value="搜索"/><br/>
	  <input type="radio" name="type" checked="checked" value="product"/>商品<input type="radio" name="type" value="buy"/>商机<input value="news" type="radio" name="type"/>新闻<input type="hidden" value="search" name="action" /><input name="userid" value="{$userid}" type="hidden" />
    </form>
  </div>
  <div class="cb"></div>
</div>
</div>
<!--尾部-->
<div id="foot">{$companyname}<br/> 地址：{$address}</div>
</body>
</html>