{template 'yp','com_default-header'}
<!--主体-->
<div class="main_all">
<div id="main">
  <!--右侧-->
  <div id="right">
    <p id="position"><strong>当前位置</strong>：{$position}</p>
    <h3>{$system_name[$category]}</h3>
    <div class="box p_l_20">
      <ul class="txt_list">
        <li><B>职位名称</B>：{$title}</li>
        <li><B>工作地点</B>：{$workplace}</li>
        <li><B>招聘人数</B>：{$employ}</li>
        <li><B>工作经验</B>：{$experience}</li>
        <li><B>工作性质</B>：{$worktype}</li>
        <li><B>工作性质</B>：{$worktype}</li>
        <li><B>性别要求</B>：{$sex}</li>
        <li><B>学历要求</B>：{$degree}</li>
        <li><B>月薪</B>：{$pay}</li>
		<li><B>更新时间</B>：{date("Y-m-d",$updatetime)}</li>
        <li><B>有效期</B>：{$period}天</li>
        <li><B>职位描述</B>：<BR>{$content}</li>		
      </ul>
	<ul align="right" style="margin:10px;"><span class="two_button"></a><a href="javascript:void(0)" onclick="javascript:postapply({$id});"><img src="templates/default/yp/images/job_join.gif" border="0"/></a> <a href="javascript:void(0)" onclick="javascript:favorapply({$id});"><img src="templates/default/yp/images/job_shou.gif" border="0"/></a></span></ul>
	  <h4>联系方式</h4>
	  <ul class="txt_list">
        <li>电话：{magic_image($telephone)}</li>
        <li>传真：{magic_image($fax)}</li>
        <li>邮箱：{magic_image($email)}</li>
        <li>地址：{$address}</li>
        <li>邮编：{$zip}</li>
      </ul>
      <div class="cb"></div>
     
    </div>
  </div>
  <!--左侧-->
  <div id="left">
{if $m_user}
	<h3>热点导航</h3>
	<div class="hot_nav">
		  <ul>
	{loop $m_user $ms}
	  <li><a href="{$ms[url]}">{$ms[catname]}</a></li>
	{/loop}
		  </ul>
		</div>
{/if}
	<h3>最新消息</h3>
    <div class="box">
      <ul>
{get sql="SELECT * FROM `phpcms_yp_news` WHERE `userid`='$userid' AND status=99 ORDER BY id DESC" rows="10"}
<li><a href="{show_url('news',$r[id])}" title="{$r[title]}">{str_cut($r[title],28,'')}</a></li>
{/get}
      </ul>
    </div>
	<h3>站内搜索</h3>
    <form class="box" action="{$M['url']}web/query.php">
      <input type="text" name="q" size="16"/><input name="search" type="submit" id="search" value="搜索"/><br/>
	  <input type="radio" name="type" checked="checked" value="product"/>商品<input type="radio" name="type" value="buy"/>商机<input value="news" type="radio" name="type"/>新闻<input type="hidden" value="search" name="action" /><input name="userid" value="{$userid}" type="hidden" />
    </form>
  </div>
  <div class="cb"></div>
</div>
</div>
<!--尾部-->
<div id="foot">{$companyname}<br/> 地址：{$address}</div>
<script type="text/javascript">
var postapply =  function(jobid)
{
	$.get("{$M[url]}myjob.php",{'action':'postapply','jobid':jobid,'ran':Math.random()},function(data){if(data == '-2')alert('非法参数');else if(data == "-1")alert('请先建立您的简历');else if(data == "1")alert("简历投递成功");else if(data == '0') alert("您已经申请过这个职位了");else if(data == '-3') alert("这个职位已经过期了");else{window.location.href="{$MODULE[member][url]}login.php?forward="+encodeURI(window.location.href);}});
}

var favorapply =  function(jobid)
{
	$.get("{$M[url]}myjob.php",{'action':'favorapply','jobid':jobid,'ran':Math.random()},function(data){if(data == '-2')alert('非法参数');else if(data == "-1")alert('请先建立您的简历');else if(data == "1")alert("职位收藏成功");else if(data == '0')  alert("您已经收藏过这个职位了");else{window.location.href="{$MODULE[member][url]}login.php?forward="+encodeURI(window.location.href);}});
}
</script>
</body>
</html>