{template 'yp','com_default-header'}
<!--主体-->
<div class="main_all">
<div id="main">
  <!--右侧-->
  <div id="right">
    <p id="position"><strong>当前位置</strong>：{$position}</p>
    <h3>{$system_name[$category]}</h3>
    <div class="box">
      <div id="pro_show" class="f_r">
        <h2>{$title}</h2>
        <ul>
          <li>所属分类：{$CATEGORY[$catid][catname]}</li>
		  <li>产品型号：{$standard}</li>
          <li>产品价格：{if $price}{$price} 元左右/{$quantifier}{else}<a href="{$siteurl}/category-guestbook/label-buy/id-{$id}.html">我要询价</a>{/if}</li>
          <li>计量单位：{$quantifier}</li>
          <li>更新时间：{date("Y-m-d",$updatetime)}</li>
		  {if $period}<li>有效期限：{$period}天</li>{/if}
        </ul>
      </div>
      <div id="pro_pic" class="f_l"><img src="{thumb($thumb,210,240)}" alt="{$title}" width="210"/></div>
      <div class="cb"></div>
      <h4>详细说明</h4>
      <div class="box_1">{$content}</div>
    </div>
  </div>
  <!--左侧-->
   <div id="left">
{if $m_user}
	<h3>热点导航</h3>
	<div class="hot_nav">
		  <ul>
	{loop $m_user $ms}
	  <li><a href="{$ms[url]}">{$ms[catname]}</a></li>
	{/loop}
		  </ul>
		</div>
{/if}
    <h3>站内搜索</h3>
    <form class="box" action="{$M['url']}web/query.php">
      <input type="text" name="q" size="16"/><input name="search" type="submit" id="search" value="搜索"/><br/>
	  <input type="radio" name="type" checked="checked" value="product"/>商品<input type="radio" name="type" value="buy"/>商机<input value="news" type="radio" name="type"/>新闻<input type="hidden" value="search" name="action" /><input name="userid" value="{$userid}" type="hidden" />
    </form>
  
  </div>
  <div class="cb"></div>
</div>
</div>
<!--尾部-->
<div id="foot">{$companyname}<br/> 地址：{$address}</div>
</body>
</html>