{template 'yp', 'header'}
<div id="main">
  <div id="right">
    <div id="position"><strong>当前位置：</strong><a href="yp/">企业黄页</a><a href="yp/company.php">企业</a>{$catname}</div>
   	{if $catid}
	<dl id="catlist">
	<dt>{$catname}</dt>
	   <!--{loop $arrchildid $cid $c}-->
		<dd><a href="{$M[url]}company.php?catid={$cid}">{$c[catname]}</a><span>({$CATEGORY[$cid][citems]})</span></dd>
	   <!--{/loop}-->
    </dl>
	{/if}
    <div class="bk_10"></div>
    <div id="hy">
      <div class="f_r" id="show_num"><span>每页显示信息数量</span><a href="{$M[url]}company.php?pagesize=20&listtype={$listtype}&areaname={$areaname}&catid={$catid}">20</a><a href="{$M[url]}company.php?pagesize=40&listtype={$listtype}&areaname={$areaname}&catid={$catid}">40</a><a href="{$M[url]}company.php?pagesize=60&listtype={$listtype}&areaname={$areaname}&catid={$catid}">60</a></div>
      <ul>
        <li {if $listtype=="all"}class="on_1"{else}class="on_5"{/if}><a href="{$M[url]}company.php?pagesize={$pagesize}&listtype=all&areaname={$areaname}&catid={$catid}">所有企业</a></li>
        <li {if $listtype=="new"}class="on_1"{else}class="on_5"{/if}><a href="{$M[url]}company.php?pagesize={$pagesize}&listtype=new&areaname={$areaname}&catid={$catid}">最新企业</a></li>
        <li {if $listtype=="elite"}class="on_1"{else}class="on_5"{/if}><a href="{$M[url]}company.php?pagesize={$pagesize}&listtype=elite&areaname={$areaname}&catid={$catid}">推荐企业</a></li>
      </ul>
    </div>
    <div class="gsxx_1">
      <span class="gsjs">公司信息</span>
      <span class="zczj">公司类型</span>
      <span class="area">
        <form name='myform' id='myform' method="get">
			<input type="hidden" name="pagesize" value="{$pagesize}">
			<input type="hidden" name="catid" value="{$catid}">
			<input type="hidden" name="order" value="{$order}">
			<select name="areaname" id="areaname" onchange="my_submit(this.form);">
			<option value="0"> 所在地</option>
			<option value='江苏,浙江,上海'>江浙沪</option>
			<option value='广州,深圳,中山,珠海,佛山,东莞,惠州'>珠三角</option>
			<option value='香港,澳门,台湾'>港澳台</option>
			<option value='海外'>海外</option>
			<option value='北京'>北京</option>
			<option value='上海'>上海</option>
			<option value='杭州'>杭州</option>
			<option value='广州'>广州</option>
			<option value='深圳'>深圳</option>
			<option value='南京'>南京</option>
			<option value='武汉'>武汉</option>
			<option value='天津'>天津</option>
			<option value='成都'>成都</option>
			<option value='哈尔滨'>哈尔滨</option>
			<option value='重庆'>重庆</option>
			<option value='宁波'>宁波</option>
			<option value='无锡'>无锡</option>
			<option value='济南'>济南</option>
			<option value='苏州'>苏州</option>
			<option value='温州'>温州</option>
			<option value='青岛'>青岛</option>
			<option value='沈阳'>沈阳</option>
			<option value='福州'>福州</option>
			<option value='西安'>西安</option>
			<option value='长沙'>长沙</option>
			<option value='合肥'>合肥</option>
			<option value='南宁'>南宁</option>
			<option value='南昌'>南昌</option>
			<option value='郑州'>郑州</option>
			<option value='厦门'>厦门</option>
			<option value='大连'>大连</option>
			<option value='常州'>常州</option>
			<option value='石家庄'>石家庄</option>
			<option value='东莞'>东莞</option>
			<option value='安徽'>安徽</option>
			<option value='福建'>福建</option>
			<option value='甘肃'>甘肃</option>
			<option value='广东'>广东</option>
			<option value='广西'>广西</option>
			<option value='贵州'>贵州</option>
			<option value='海南'>海南</option>
			<option value='河北'>河北</option>
			<option value='黑龙江'>黑龙江</option>
			<option value='河南'>河南</option>
			<option value='湖北'>湖北</option>
			<option value='湖南'>湖南</option>
			<option value='江苏'>江苏</option>
			<option value='江西'>江西</option>
			<option value='吉林'>吉林</option>
			<option value='辽宁'>辽宁</option>
			<option value='内蒙古'>内蒙古</option>
			<option value='宁夏'>宁夏</option>
			<option value='青海'>青海</option>
			<option value='山东'>山东</option>
			<option value='山西'>山西</option>
			<option value='陕西'>陕西</option>
			<option value='四川'>四川</option>
			<option value='新疆'>新疆</option>
			<option value='西藏'>西藏</option>
			<option value='云南'>云南</option>
			<option value='浙江'>浙江</option>
			<option value="">所有地区</option>
			<option value='other'>其它</option>
          </select>
		</form>
      </span>
    </div>
    <div class="clear"></div>
	{if $listtype=="new"}
	{get sql="SELECT DISTINCT c.* FROM `phpcms_member_company` `c`,`phpcms_yp_relation` `r` WHERE c.userid = r.userid AND $where ORDER BY c.userid DESC" rows="$pagesize" distinctfield="\c.userid"}
	<dl class="list_1">
      <dt><strong><a href="{company_url($r[userid],$r[sitedomain])}"><samp class="{$r['style']}">{$r[companyname]}</samp></a>{group_icon($r[userid])}</strong><span class="zczj">{$r['genre']}</span><span class="area"><a href="{$M[url]}company.php?pagesize={$pagesize}&listtype={$listtype}&areaname={$r[areaname]}&catid={$catid}">{$r[areaname]}</a></span></dt>
      <dd><strong>公司简介：</strong>{str_cut(strip_tags($r['introduce']),180,'..')} </dd>
      <dd><strong>主营：</strong>{substr($r['catids'],1,-1)}</dd>
    </dl>
	{/get}
	{else}
    {get sql="SELECT DISTINCT c.* FROM `phpcms_member_company` `c`,`phpcms_yp_relation` `r` WHERE c.userid = r.userid AND $where ORDER BY c.userid DESC" rows="$pagesize" page="$page" urlrule="$M[url]company.php?pagesize=$pagesize&listtype=$listtype&areaname=$areaname&catid=$catid|$M[url]company.php?pagesize=$pagesize&listtype=$listtype&areaname=$areaname&catid=$catid&page=\\$page" distinctfield="\c.userid"}
	<dl class="list_1">
      <dt><strong><a href="{company_url($r['userid'],$r[sitedomain])}"><samp class="{$r['style']}">{$r[companyname]}</samp></a>{group_icon($r[userid])}</strong><span class="zczj">{$r['genre']}</span><span class="area"><a href="{$M[url]}company.php?pagesize={$pagesize}&listtype={$listtype}&areaname={$r[areaname]}&catid={$catid}">{$r[areaname]}</a></span></dt>
      <dd><strong>公司简介：</strong>{str_cut(strip_tags($r['introduce']),180,'..')} </dd>
      <dd><strong>主营：</strong>{substr($r['catids'],1,-1)}</dd>
    </dl>
	{/get}
	{/if}
    <div id="pages">{$pages}</div>
  </div>
  <div id="left">
    <div class="box_t">
      <h3>产品库大类列表</h3>
    </div>
    <div class="box_c">
      <ul class="text_list w_100">
	  {get sql="SELECT catname,catid FROM `phpcms_category` WHERE module = 'yp' AND parentid = '0' ORDER BY listorder ASC"}
	  <li><a href="{list_url('company',$r[catid])}">{$r['catname']}</a></li>
	  {/get}
      </ul>
      <div class="clear"></div>
    </div>
    <div class="box_b"></div>
    <div class="bk_10"></div>
    <div class="box_t">
      <h3>浏览过的产品</h3>
    </div>
    <div class="box_c">
      <ul class="pic_list_1">
      {if $prowhere}
	  {get sql="SELECT id,title,thumb FROM `phpcms_yp_product` WHERE id IN ($prowhere) AND status = '99' ORDER BY FIND_IN_SET(id,'$prowhere')" rows="10"}
	  <li><a href="{show_url('product',$r[id])}"><img src="{thumb($r['thumb'],48,48,1,'images/no_pic_50_50.gif')}" alt="" width="48" height="48"/></a><a href="{show_url('product',$r[id])}" title="{$r['title']}">{$r['title']}</a></li>
	  {/get}
	  {else}
	  <li>您还没有浏览过任何商品</li>
	  {/if}
      </ul>
      <div class="clear"></div>
    </div>
    <div class="box_b"></div>
    <div class="bk_10"></div>
    <div class="box_t">
      <h3>最新产品</h3>
    </div>
    <div class="box_c">
      <ul class="pic_list">
        {get sql="SELECT p.id,p.title,p.thumb,c.companyname,p.userid FROM `phpcms_yp_product` `p`,`phpcms_member_company` `c` WHERE c.userid = p.userid AND p.status = '99' ORDER BY id DESC" rows="10"}
			<li>
				<img src="{thumb($r['thumb'],48,48,1,'images/no_pic_50_50.gif')}" alt="" width="48" height="48"/>
				<a href="{show_url('product',$r[id])}" title="{$r['title']}"><strong>{str_cut($r['title'],20,'')}</strong></a>
				<span><a href="{company_url($r['userid'])}" title="{$r['companyname']}">{str_cut($r['companyname'],20,'')}</a></span>
			</li>
		{/get}
      </ul>
    </div>
    <div class="box_b"></div>
    <div class="bk_10"></div>
    <div class="box_t">
      <h3>推荐产品</h3>
    </div>
    <div class="box_c">
      <ul class="pic_list">
        {get sql="SELECT p.id,p.title,p.thumb,c.companyname,p.userid FROM `phpcms_yp_product` `p`,`phpcms_member_company` `c` WHERE c.userid = p.userid AND p.elite = 1 AND p.status = '99' ORDER BY id DESC" rows="10"}
			<li><img src="{thumb($r['thumb'],48,48,1,'images/no_pic_50_50.gif')}" alt="" width="48" height="48"/><a href="{show_url('product',$r[id])}"><strong>{str_cut($r['title'],20,'')}</strong></a><a href="{company_url($r['userid'])}"><span>{str_cut($r['companyname'],20,'')}</span></a></li>
		{/get}
      </ul>
    </div>
    <div class="box_b"></div>
  </div>
</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function my_submit(form)
{
	form.submit();
}
$("#areaname").children().each(function(){  if (this.value == '{if $areaname}{urldecode($areaname)}{else}0{/if}')this.selected = true;});

//-->
</SCRIPT>
{template 'yp', 'footer'}
