<div id="foot">
    <a href="">网站首页</a>{tag_关于我们} | <a href="sitemap.html">网站地图</a> | <a href="{$MODULE[ads][url]}">广告预订</a> | <a href="{$MODULE[guestbook][url]}">留言本</a><br />
	<strong>{$PHPCMS['copyright']}</strong><br />
	<!--{if $PHPCMS['enabletm']}-->
	{include CACHE_PATH.'tm.html'}<br />
	<!--{/if}-->
	<a href="http://www.miibeian.gov.cn/" target="_blank">{$PHPCMS[icpno]}</a>
	<a href="http://www.phpcms.cn/" class="copyright" target="_blank">Powered by Phpcms 2008</a>
</div>
<script language="JavaScript" src="images/js/Std_StranJF.Js"></script>
</body>
</html>