{template 'yp', 'header'}
<div id="main">
  <div id="right">
    <h3 class="bt mar_10">推荐招聘企业</h3>
     <div class="box">
     <div class="tj">
	 {get sql="SELECT c.companyname, c.userid, j.title, j.id FROM phpcms_member_company c LEFT JOIN phpcms_yp_job j ON j.userid = c.userid WHERE j.elite = 1 GROUP BY j.userid" rows="12"}
     <h5><a href="{company_url($r['userid'])}" title="">{$r['companyname']}</a></h3>
     <p><a href="yp/job.php?action=show&id={$r['id']}"><samp class="{$r['style']}">{$r['title']}</samp></a></p>
      {/get}     
     </div>
     <div class="clear"></div>
     </div>
   <div class="bk_10"></div>
	<h3 class="bt mar_10">最新招聘职位</h3><span class="yp_more"><a href="yp/job.php?action=list">更多职位>></a></span>
	<div class="box">
		
		<div class="zhiwei">
			<ul class="zhiwei_list">
			{get sql="SELECT c.companyname, c.userid, j.title, j.id, j.updatetime FROM phpcms_yp_job j LEFT JOIN phpcms_member_company c ON j.userid = c.userid WHERE j.status = '99' ORDER BY j.updatetime DESC" rows="12"}
			<li><a href="{company_url($r['userid'])}" class="gray">{$r['companyname']}</a><span><a href="yp/job.php?action=show&amp;id={$r['id']}"><samp class="{$r['style']}">{$r['title']}</samp></a></span><span>[ {date("Y-m-d",$r['updatetime'])} ]</span></li>
			{/get}
			</ul>
		</div>
		
	<div class="clear"></div>
	</div>
	
	<h3 class="bt mar_10">最新求职简历</h3><span class="yp_more"><a href="yp/job.php?action=applylist">更多简历>></a></span>
	<div class="box">
		
		<div class="zhiwei">
			<ul class="zhiwei_list">
			{get sql="SELECT a.truename, t.name, a.userid, t.typeid FROM phpcms_yp_apply a LEFT JOIN phpcms_type t ON a.station = t.typeid WHERE a.status = '3' ORDER BY a.addtime DESC" rows="12"}
			<li><a href="{job_list_url($inputtime,$r['typeid'],$genre)}" class="gray"><samp class="{$r['style']}">{$r['name']}</samp></a><span><a href="yp/apply.php?applyid={$r['userid']}">{$r['truename']}</a></span></li>
			{/get}
			</ul>
		</div>
		
	<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
  </div>
  <div id="left">
    <div class="box_t">
      <p class="job_tag"><a href="javascript:void(0)" onclick="javascript:job.show('sjob','speople');" id="sjobl">找工作</a><a  href="javascript:void(0)" onclick="javascript:job.show('speople','sjob');" id="speoplel" class="s1">找人才</a></p>
    </div>
    <form action="yp/job.php" method="get" class="box_c">
      <ul class="form_01">
        <li><input type="hidden" name="action" value="searchlist" /><span class="select-type"><select name="station" style="width:200px;">
          <option>选择岗位类别</option>
		  {loop $types $type}
		  <option value="{$type['typeid']}">{$type['name']}</option>
		  {/loop}
        </select></span></li>
        <li><span class="select-type"><select name="degree" style="width:200px;">
          <option value="">选择学历</option>
		  <option value="不限">不限</option>
		  <option value="高中">高中</option>
		  <option value="大专">大专</option>
		  <option value="本科">本科</option>
		  <option value="研究生">研究生</option>
		  <option value="硕士">硕士</option>
		  <option value="博士">博士</option>
          </select></span></li>
        <li>
          <span class="select-type"><select name="workplace" style="width:200px;">
            <option value="" selected="selected">所有地区</option>
            <option value="海外">海外</option>
			<option value='江苏,浙江,上海'>江浙沪</option>
			<option value='广州,深圳,中山,珠海,佛山,东莞,惠州'>珠三角</option>
			<option value='香港,澳门,台湾'>港澳台</option>
			<option value='海外'>海外</option>
			<option value='北京'>北京</option>
			<option value='上海'>上海</option>
			<option value='杭州'>杭州</option>
			<option value='广州'>广州</option>
			<option value='深圳'>深圳</option>
			<option value='南京'>南京</option>
			<option value='武汉'>武汉</option>
			<option value='天津'>天津</option>
			<option value='成都'>成都</option>
			<option value='哈尔滨'>哈尔滨</option>
			<option value='重庆'>重庆</option>
			<option value='宁波'>宁波</option>
			<option value='无锡'>无锡</option>
			<option value='济南'>济南</option>
			<option value='苏州'>苏州</option>
			<option value='温州'>温州</option>
			<option value='青岛'>青岛</option>
			<option value='沈阳'>沈阳</option>
			<option value='福州'>福州</option>
			<option value='西安'>西安</option>
			<option value='长沙'>长沙</option>
			<option value='合肥'>合肥</option>
			<option value='南宁'>南宁</option>
			<option value='南昌'>南昌</option>
			<option value='郑州'>郑州</option>
			<option value='厦门'>厦门</option>
			<option value='大连'>大连</option>
			<option value='常州'>常州</option>
			<option value='石家庄'>石家庄</option>
			<option value='东莞'>东莞</option>
			<option value='安徽'>安徽</option>
			<option value='福建'>福建</option>
			<option value='甘肃'>甘肃</option>
			<option value='广东'>广东</option>
			<option value='广西'>广西</option>
			<option value='贵州'>贵州</option>
			<option value='海南'>海南</option>
			<option value='河北'>河北</option>
			<option value='黑龙江'>黑龙江</option>
			<option value='河南'>河南</option>
			<option value='湖北'>湖北</option>
			<option value='湖南'>湖南</option>
			<option value='江苏'>江苏</option>
			<option value='江西'>江西</option>
			<option value='吉林'>吉林</option>
			<option value='辽宁'>辽宁</option>
			<option value='内蒙古'>内蒙古</option>
			<option value='宁夏'>宁夏</option>
			<option value='青海'>青海</option>
			<option value='山东'>山东</option>
			<option value='山西'>山西</option>
			<option value='陕西'>陕西</option>
			<option value='四川'>四川</option>
			<option value='新疆'>新疆</option>
			<option value='西藏'>西藏</option>
			<option value='云南'>云南</option>
			<option value='浙江'>浙江</option>
			<option value='other'>其它</option>
          </select></span>
        </li>
        <li><span class="select-type"><select name="inputtime" style="width:200px;">
        <option>更新时间</option>
		<option value="不限">不限</option>
          <option value="1">一天内</option>
          <option value="3">3天内</option>
          <option value="7">一周内</option>
          <option value="30">一个月内</option>
        </select></span></li>
        <li><span class="select-type"><select name="experience" style="width:200px;">
        <option>工作经验</option>
		<option value="不限">不限</option>
		<option value="1年">1年</option>
		<option value="2年">2年</option>
		<option value="3年">3年</option>
		<option value="4年">4年</option>
		<option value="5年">5年</option>
		<option value="6年以上">6年以上</option>
        </select></span></li>
        <li><input type="submit" value="搜索" /><input type="hidden" name="stype" id="stype" value="0" />
        <a href="{$M['url']}/myjob.php?action=add" id="sjob">免费发布个人简历</a><a href="{$M['url']}/business" id="speople" style="display:none;">免费发布企业信息</a></li>
      </ul>
      <div class="clear"></div>
    </form>
    <div class="box_b"></div>
    <div class="bk_10"></div>
    <div class="box_t">
      <h3>职位分类列表</h3>
    </div>
    <div class="box_c">
    <table width="222" border="0" cellspacing="0" cellpadding="0" class="table_list">
	{get sql="SELECT count(*) AS number,j.station,t.name FROM phpcms_yp_job j,phpcms_type t WHERE t.typeid = j.station AND j.status = '99' GROUP BY station ORDER BY t.listorder DESC"}
		<tr>
		<td><a href="{job_list_url(0,$r['station'],0)}">{$r['name']}</a>（{$r['number']}）</td>
		</tr>
	{/get}  
	</table>
    </div>
    <div class="box_b"></div>
  </div>
</div>
<script type="text/javascript">
var job = new Object();
job.show = function(id1,id2)
{
	$("#"+id1).show();
	$("#"+id2).hide();
	$("#"+id1+"l").removeClass("s1");
	$("#"+id2+"l").addClass("s1");
	if(id1=="speople")$("#stype").val(1);
	else $("#stype").val(0);
}

job.clearTxt = function(obj,bool)
{
	if(obj.value == '公司或者职位关键字' && bool)obj.value = '';
	if(obj.value == '' && !bool)obj.value = '公司或者职位关键字';
}
</script>
{template 'yp','footer'}