{template 'yp', 'header'}
<div id="main">
  <div id="right">
  <div id="position"><strong>当前位置：</strong><a href="yp/">企业黄页</a><a href="yp/job.php">企业招聘</a>搜索结果</div>
  <h3 class="bt mar_10">{if $stype}人才搜索{else}职位搜索{/if}</h3>
  <div class="box">
<ul class="list13">
{if $stype}
	{if $rs['result'][0]}
	{loop $rs['result'] $result}
	<li><span><a href="yp/apply.php?applyid={$result['userid']}">{$result['truename']}</a></span><span>工作经验：{$result['experience']}年</span><span>毕业院校：{$result['school']}</span><span>专业：{$result['specialty']}</span><span>工作性质：{$result['worktype']}</span>
	<P>个人鉴定：{str_cut(strip_tags($result['introduce']),182)}</P></li>
	{/loop}
	{else}
	<li>没有找到匹配的信息</li>
	{/if}
{else}
	{if $rs['result'][0]}
	{loop $rs['result'] $result}
	<li><span><a href="{show_url('job',$result[id])}" target="_blank">{$result['title']}</a></span><span><a href="{company_url($result['userid'],$result[sitedomain])}">{$result['companyname']}</a></span><span>招聘人数({$result['employ']}人)</span><P>职位简介：{str_cut(strip_tags($result['content']),182)}</P></li>
	{/loop}
	{else}
	<li>没有找到匹配的信息</li>
	{/if}
{/if}
</ul>
</div>
<div class="clear"></div>
    <div id="pages">{$pages}</div>
  </div>
  <!--right结束-->
  <div id="left">
     <div class="box_t">
      <h3>职位分类列表</h3>
    </div>
    <div class="box_c">
    <table width="222" border="0" cellspacing="0" cellpadding="0" class="table_list">
	{get sql="SELECT count(*) AS number,j.station,t.name FROM phpcms_yp_job j,phpcms_type t WHERE t.typeid = j.station AND j.status = '99' GROUP BY j.station ORDER BY t.listorder DESC"}
		<tr>
		<td><a href="{job_list_url(0,$r['station'],0)}">{$r['name']}</a>（{$r['number']}）</td>
		</tr>
	{/get}  
	</table>
    </div>
    <div class="box_b"></div>
    </div>
  </div>
{template 'yp', 'footer'}
