{template 'yp', 'header'}
<div id="main">
  <div id="right">
    <div id="position"><strong>当前位置：</strong><a href="{$M[url]}">企业黄页</a>企业资讯</div>
    <div class="mar_10">
      <div style="text-align:center;">	  
        <h1 id="p_name" style="text-align:center; float:none;">{$rs['title']}</h1>
		<div class="clear">
        <h3>发布时间：{date("Y-m-d H:i:s",$rs['inputtime'])}</h3>
		</div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="pro_intro">　　
      <p>{$rs['content']}</p>
    </div>
    <div class="bk_10"></div>
    <div class="tit_1">
      <h3>联系方式</h3>
    </div>
    <div class="clear"></div>
    <div>
      <div class="f_r" style="width:400px;">
        <ul class="d_list">
          <li>　公司名称：{$c['companyname']}</li>
		  <li>　联系人：{$c['linkman']}</li> 
		  <li>　联系电话：{magic_image($c['telephone'])}</li> 
		  <li>　电子邮箱：{magic_image($c['email'])}</li> 
          <li>　公司类型：{$c['genre']}</li>
          <li>　地　址：{$c['address']}</li>          
          <li>　公司网站：<a href="{company_url($c[userid],$c[sitedomain])}">{company_url($c[userid],$c[sitedomain])}</a></li>
		  <li>　<a href="{company_url($c[userid],$c[sitedomain])}">查看公司详情</a></li>
        </ul>
      </div>
      <div class="f_l"><img src="{$c['logo']}" alt="公司标志" width="240" onerror="this.src='images/nopic_small.gif'"/></div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="left">
    <div class="box_t">
      <h3>最新产品</h3>
    </div>
    <div class="box_c">
      <ul class="pic_list">
        {get sql="SELECT p.id,p.title,p.thumb,c.companyname,c.sitedomain,p.userid FROM `phpcms_yp_product` `p`,`phpcms_member_company` `c` WHERE c.userid = p.userid AND p.status = '99' ORDER BY id DESC" rows="10"}
			<li>
				<img src="{thumb($r['thumb'],48,48,1,'images/no_pic_50_50.gif')}" alt="" width="48" height="48"/>
				<a href="{show_url('product',$r[id])}" title="{$r['title']}"><strong>{str_cut($r['title'],20,'')}</strong></a>
				<span><a href="{company_url($r[userid],$r[sitedomain])}" title="{$r['companyname']}">{str_cut($r['companyname'],20,'')}</a></span>
			</li>
		{/get}
      </ul>
    </div>
    <div class="box_b"></div>
	<div class="bk_10"></div>
    <div class="box_t">
      <h3>相关资讯</h3>
    </div>
    <div class="box_c">
      <ul class="text_list">
        {get sql="SELECT id,title FROM `phpcms_yp_news` WHERE $news_where ORDER BY id ASC" rows="10"}
        <li><a href="{show_url('news',$r['id'])}" title="{$r['title']}">{str_cut($r['title'],28)}</a></li>
		{/get}
      </ul>
      <div class="clear"></div>
    </div>
    <div class="box_b"></div>
  </div>
</div>
{template 'yp', 'footer'}
