{loop $data $n $r}
<dl class="list_1 list_2">
  <dt><strong><a href="#">产品名称</a><span class="time">2009-03-20 16:06</span></strong><span class="zczj">1000万元人民币</span><span class="area"><a href="#">[北京]</a></span></dt>
  <dd class="pic"><a href="#"><img src="yp/images/company.jpg" alt="产品图片" width="120" height="80"/></a></dd>
  <dd><strong>产品简介：</strong>兄弟控股集团有限公司(原浙江兄弟铝业有限公司）创建于一九九三年，地处“中国五金之都”——浙江省永康市，座落于浙江省的黄金通道永东公路旁地处浙.. </dd>
  <dd><strong>生产商：</strong><a href="#">生产商公司名称</a>&nbsp;<strong>联系人：</strong><a href="#">康康</a></dd>
</dl>
{/loop}