{template 'member','header'}
<div id="main">
  {template 'order' , 'left'}
  <div id="right">
    <p id="position"><strong>当前位置：</strong><a href="">首页</a><a href="{$MODULE[member][url]}">会员中心</a><a href="{$M[url]}">订单</a>订单备注</p>
    <div class="clear"></div>
    <table cellpadding="0" cellspacing="1" class="table_list">
      <caption>订单信息</caption>
		<tr>
           <th>产品</th>
           <th width="12%">单价</th>
           <th width="8%">数量</th>
           <th width="10%">运费</th>
           <th width="10%">总价</th>
        </tr>
		<tr>
            <td class="align_l"><a href="{$goodsurl}">{$goodsname}</a></td>
            <td>{$price}元/{$unit}</td>
            <td>{$number}{$unit}</td>
            <td>{$carriage}元</td>
            <td>{$amount}元</td>
        </tr>
	</table>
	<form name="myform" action="{$M[url]}index.php?action=memo&orderid={$orderid}" method="post">
    <table cellpadding="0" cellspacing="1" class="table_info">
      <caption>订单备注</caption>
		<tr>
           <td><textarea name="memo" style="width:100%;height:200px">{$memo}</textarea></td>            
        </tr>
        <tr>
          <td class="align_c"><input type="submit" name="dosubmit" value=" 确定 "> &nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" name="reset" value=" 重置 "></td>
        </tr>
	</table>
    </form>
  </div>
</div>
<div class="clear"></div>
{template 'member','footer'}
