{template 'member','header'}
<script type="text/javascript" src="images/js/validator.js"></script>
<div id="main">
  {template 'order' , 'left'}
  <div id="right">
    <p id="position"> <strong>当前位置：</strong><a href="{$MODULE[member][url]}">会员中心</a><a href="{$M[url]}">订单</a>确认订单</p>
<form action="{$M[url]}order.php?action=add" method="post">
    <input type="hidden" name="forward" value="{$forward}" />
    <input type="hidden" name="goodsid" value="{$goodsid}" />
    <input type="hidden" name="goodsname" value="{$goodsname}" />
    <input type="hidden" name="goodsurl" value="{$goodsurl}" />
    <input type="hidden" name="price" value="{$price}" />
    <input type="hidden" name="unit" value="{$unit}" />
    <input type="hidden" name="carriage" value="{$carriage}" />
	<input type="hidden" name="stock" value="{$stock}" />
    <input type="hidden" name="verify" value="{$verify}" />
    <input type="hidden" name="number" value="{$number}" />
    <input type="hidden" name="note" value="{$note}" />
    <input type="hidden" name="isnewdeliver" value="{$isnewdeliver}" />

    <input type="hidden" value="{$d[areaid]}" name="d[areaid]" />
    <input type="hidden" value="{$d[consignee]}" name="d[consignee]" />
    <input type="hidden" value="{$d[telephone]}" name="d[telephone]" />
    <input type="hidden" value="{$d[mobile]}" name="d[mobile]" />
    <input type="hidden" value="{$d[address]}" name="d[address]" />
    <input type="hidden" value="{$d[postcode]}" name="d[postcode]" />
    <table cellpadding="0" cellspacing="1" class="table_form">
      <caption>订单信息</caption>
	  <tr>
        <th style="width:20%">产品ID：</th>
        <td>{$goodsid}</td>       
      </tr>
	  <tr>
        <th>产品名称：</th>
        <td><a href="{$goodsurl}" target="_blank">{$goodsname}</a></td>       
      </tr>
{if $carriage}
	  <tr>
        <th>产品运费：</th>
        <td>￥{$carriage}元</td>       
      </tr>
{/if}
      <tr>
        <th>产品单价：</th>
        <td style="color:red">￥{$price}元/{$unit}</td>       
      </tr>
      <tr>
        <th>订购数量：</th>
        <td style="color:red">{$number} {$unit}</td>       
      </tr>
      <tr>
        <th>合计：</th>
        <td style="color:red">￥{$amount}元</td>       
      </tr>
      <tr>
        <th>给卖家留言：</th>
        <td>{$note}</td>       
      </tr>
    </table>
    <table cellpadding="0" cellspacing="1" class="table_form">
      <caption>收货信息</caption>
    <tbody id="newdeliver">
	  <tr>
        <th style="width:20%">配送区域：</th>
        <td>{$AREA[$d['areaid']][name]}</td>       
      </tr>
      <tr>
        <th>收货人姓名：</th>
        <td>{$d[consignee]}</td>       
      </tr>
	  <tr>
        <th>固定电话：</th>
        <td>{$d[telephone]}</td>     
      </tr>
	  <tr>
        <th>移动电话：</th>
        <td>{$d[mobile]}</td>       
      </tr>
	  <tr>
        <th>收货地址：</th>
        <td>{$d[address]}</td>       
      </tr>
      <tr>
        <th>邮编：</th>
        <td>{$d[postcode]}</td>       
      </tr>
       <tr>
        <th>验证码：</th>
        <td>{form::checkcode('checkcodestr', 6, ' require="true" datatype="require" msg="请输入验证码" msgid="msg_checkcode"')}<span id="msg_checkcode"></span></td>       
      </tr>
      <tr>
        <th> </th>
        <td><input type="submit" name="dosubmit" value=" 确认订单 " /> &nbsp;&nbsp;<input type="button" onclick="history.back(-1)" value=" 返回 " /> </td>       
      </tr>
    </table></form>	
  </div>
</div>
<div class="clear"></div>
{template 'member','footer'}
<script language="javascript" type="text/javascript">
$().ready(function() {
	  $('form').checkForm(1);
	});
</script>