{template 'phpcms','header'}
<table cellpadding="2" cellspacing="1" width="980" align="center" border="0" >
  <tr>
   <td align="center">

<div class="memberborder_1">
<div class="memberborder_2">
<h1>广告位预定</h1>

<table cellpadding="2" cellspacing="1" class="righttable">
   <form action="{$MOD[linkurl]}add.php" method="post" name="myform">
    <tr> 
      <td class="td_right">广告位</td>
      <td class="td_left">{$place[placename]}<input size=40 name="ads[placeid]" type="hidden" value="{$place[placeid]}"></td>
    </tr>
<tr> 
  <td class="td_right">广告名称</td>
  <td class="td_left"><input size=40 name="ads[adsname]" type="text"> <font color="red">*</font></td>
</tr>
<tr> 
  <td class="td_right">广告说明</td>
  <td class="td_left"><input size=60 name="ads[introduce]" type=text></td>
</tr>
<tr> 
  <td class="td_right">广告类型</td>
  <td class="td_left">
  <input type='radio' name='ads[type]' value='image' onclick="document.all.imageid.style.display='block';document.all.flashid.style.display='none';document.all.textid.style.display='none';document.all.codeid.style.display='none';" checked> 图片 
  <input type='radio' name='ads[type]' value='flash' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='';document.all.textid.style.display='none';document.all.codeid.style.display='none';"> FLASH 
  <input type='radio' name='ads[type]' value='text' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='none';document.all.textid.style.display='';document.all.codeid.style.display='none';"> 文本 
  <input type='radio' name='ads[type]' value='code' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='none';document.all.textid.style.display='none';document.all.codeid.style.display='';"> 代码 
  <font color="red">*</font>
</td>
</tr>
<tr> 
<td class="td_right">广告内容</td>
  <td class="td_left" >

<table cellpadding="2" cellspacing="1" width="100%" align="center" border="0">
<tr id="imageid" style="display:block">
<td>
  图片地址：<input type="text" name="imageurl" size="50">&nbsp;<input type="button" name="upload" onclick="window.open('{PHPCMS_PATH}upload.php?keyid=ads&type=thumb&uploadtext=imageurl','viewads','height=200,width=400,status=yes,toolbar=no,menubar=no,location=no,resizable=yes');" value=" 上传文件 " target="_blank"><font color="red">*</font><br/>图片提示：<input type="text" name="ads[alt]" size="50"><br/>链接地址：<input name="ads[linkurl]" type="text" size="50" value="http://"> <font color="red">*</font>
</td>
<tr>
<tr id="flashid" style="display:none">
<td>
FLASH地址：<input type="text" name="flashurl" size="50">&nbsp;<input type="button" name="upload" onclick="window.open('{PHPCMS_PATH}upload.php?keyid=ads&uploadtext=flashurl','viewads','height=200,width=400,status=yes,toolbar=no,menubar=no,location=no,resizable=yes');" value=" 上传文件 " target="_blank"><font color="red">*</font><br/>背景透明：<input type='radio' name='ads[wmode]' value='transparent' checked> 是 <input type='radio' name='ads[wmode]' value=''> 否
</td>
<tr>
<tr id="textid"  style="display:none">
<td>
<textarea name='ads[text]' cols='64' rows='15' id='text'></textarea> <font color="red">*</font>
</td>
<tr>
<tr id="codeid"  style="display:none">
<td>
<textarea name='ads[code]' cols='64' rows='15' id='text'></textarea> <font color="red">*</font>
</td>
<tr>
</table>

</td>
</tr>
<tr> 
  <td class="td_right">广告发布日期</td>
  <td class="td_left">
  {date_select('ads[fromdate]',$fromdate)}
 <font color="red">*</font>
	</td>
	</tr>
		<tr> 
	<td class="td_right">广告投放时间</td>
	<td class="td_left">{$_month}</td>
	</tr>
    <tr> 
      <td class="td_right"></td>
      <td class="td_left"> <input type="submit" name="submit" value=" 我要预订 "> 
        &nbsp; <input type="reset" name="reset" value=" 重置 "> </td>
    </tr>
  </form>
</table>

</div>
</div>
</td>
</tr>
</table>
{template 'phpcms','footer'}