{template 'formguide','header'}
<div id="main_full">
<form name="myform" action="{$M[url]}index.php" method="post" enctype="multipart/form-data">
<table cellpadding="0" cellspacing="1" class="table_form">
	<caption>{$formname}表单</caption>
{loop $forminfos $form}
	<tr>
    	<th><strong>{$form[name]}</strong></th>
    	<td>{$form[form]}</td>
    </tr>
{/loop}
	<tr>
    	<th></th>
        <td>
        <input type="hidden" name="dataid" value="{$dataid}" />
        <input type="hidden" name="formid" value="{$formid}" />
        <input type="submit" name="dosubmit" value="确定" />
        <input type="reset" name="reset" value="取消" />
        </td>
    </tr>
</table>
</form>
</div>
{template 'phpcms','footer'}