/*公共属性*/
body, dl, dt, dd, ol, ul, pre, form, field, input, p, blockquote, th, td, h1, h2, h3, h4, h5, h6,sub,sups{ font-family:"宋体"; margin:0; padding:0; color:#333; font-size:12px;}
body { font-size:12px; text-align:left; background:#FFF url(images/bg_2.jpg) repeat-x 0 -94px;}
a:link, a:visited {	text-decoration:none; color:#077ac7;}
a:hover, a:active {	text-decoration:underline; color:#077ac7;}
ul, ol { list-style:none;}
input, textarea, select, button, file {	font-size:12px;}
img { border:0;}
p, li {	line-height:1.8em;}
/*表单相关*/
input {	font-family:"宋体";	font-size:12px;	border:1px solid #dcdcdc;}
.input_focus, .input_blur {	height:15px; line-height:15px; border:1px solid #dcdcdc; padding:2px;}
.input_focus, .textarea_focus {	background-color:#F6FCFF; font-size: 12px; border:1px solid #C7E8F9;}
/*列表菜单 文本区域*/
select, .textarea_style { border:1px solid #dcdcdc;}
/*单选框复选框*/
.radio_style, .checkbox_style {	border:0;}
/*按钮样式*/
.button_style {	background:url(images/bg_admin.jpg) repeat-x 0 -51px; text-align:center; border:1px solid #9cc9e0; padding:1px 4px;
 *padding-top:3px; color:#077ac7; cursor:pointer; height:21px; }
 /*布局*/
#top{ width:980px; margin:3px auto 0; background:transparent; height:27px; line-height:27px; color:#077ac7; overflow:hidden;}
#top td,.cribox_bdr_1 td{ padding:0 6px;}
#head, #main, #foot,#menu { width:980px; margin:10px auto 0; background:#fff; text-align:left; clear:both; overflow:hidden;}
#head{ background:transparent; overflow:hidden;}
#main { repeat-y right 0;/* height:100%;*/ }
#foot { background:url(images/bg_foot.jpg) repeat-x 0 0; padding-top:10px; text-align:center; line-height:25px;	color:#454545;	font-family:arial;}
#main_l { float:left; width:640px;/*border:1px solid #6DC0E9;*/	overflow:hidden;}
#main_l h1 { font-size:18px; text-align:center;	margin:10px auto;}
#main_r { float:right; width:315px;	padding:5px; overflow:hidden;}
#logo { float:left; width:180px;}
/*头部banner*/
#topbanner{ float:right; width:638px;}
.clear { clear:both; }
/*面包屑导航*/
#position{ background:#E4F3FC url(images/bg_position.gif) no-repeat 0 0; padding-left:90px; height:28px; line-height:28px; border:1px solid #fff; }
#position a{ font-weight:bold; color:#09c; background:url(images/bg_position.gif) no-repeat right -40px; padding-right:20px;}

/*链接样式*/
a.orange:hover, a.orange:active { color:#ff4800; text-decoration:underline;}
a.orange:link, a.orange:visited { color:#ff4800; text-decoration:underline;}
a.red:hover, a.red:active {	color:#f00;	text-decoration:underline;}
a.red:link, a.red:visited {	color:#f00;	text-decoration:underline;}
a.white:hover, a.white:active {	color:#fff;	text-decoration:underline;}
a.white:link, a.white:visited {	color:#fff;	text-decoration:underline;}
a.green:hover, a.green:active {	color:#090;	text-decoration:underline;}
a.green:link, a.green:visited {	color:#999;	text-decoration:underline;}
a.gray:hover, a.gray:active {	color:#444;	text-decoration:underline;}
a.gray:link, a.gray:visited {	color:#444;	text-decoration:none;}
/*粗体*/
.b{ font-weight:bold;}
/*f_开头为float漂浮,l:左 r:右*/
.f_l, #slide{ float:left;}
.f_r, .date { float:right;}
/*日期样式*/
.date{ color:#ccc; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin-right:8px;}
/*内容位置*/
.align_l{ text-align:left;}
.align_c{ text-align:center;}
.align_r{ text-align:right;}
/*c_开头为字体颜色*/
.c_gray { color:#999;}
.c_blue { color:#09c;}
.c_red { color:#900;}
.c_green { color:#090;}
.c_orange {	color:#ff4800;}

/*w_开头表示宽度,bdr_为对边框的设置,这两个组合使用*/
.w_100{ width:100%;}
.w_310{ width:310px;}
.bdr_1 { border:1px solid #B9DFF9;}
.bdr_2 { border-bottom:1px solid #B9DFF9; margin-top:8px;}

/*图文排版*/
.pic img { padding:1px;	border:1px solid #ccc; margin:8px auto;}
.list_1 p {	text-indent:2em;}
/*文字列表*/
.text_list {}
.text_list li { text-align:left; padding-left:1.2em; background:url(images/list_bg.gif) no-repeat 5px 9px; line-height:200%;}
/*排行*/
.text_list_1{ background:url(images/bg_model.gif) no-repeat left -34px;}
.text_list_1 li{ padding-left:24px; line-height:200%;}
/*14号字体*/
.text_list_f14{ padding:5px;}
.text_list_f14 li{ border-bottom:1px dotted #eee; }
.text_list_f14 li a{ font-size:14px; }
/*图片列表*/
.pic_list { width:100%; overflow:hidden;}
.pic_list li { margin:2px 6px; display:inline; float:left; text-align:center; background-image:none; padding:0;}
.pic_list li img,.pic_txt_list li img{ padding:1px;	border:1px solid #ccc;}
.pic_list li a{ font-size:12px;}
/*专题精选*/
.pic_txt_list{}
.pic_txt_list ul{ margin:5px 4px;}
.pic_txt_list ul li{ border-bottom:1px dashed #dcdcdc; margin:5px auto; padding-bottom:5px; height:66px;}
.pic_txt_list ul li img{ float:left; margin-right:6px; display:block;}
.pic_txt_list_1{ text-align:center;}
.pic_txt_list_1 img{ margin-top:5px;}
.pic_txt_list_1 p{ text-indent:2em; margin:5px; text-align:left;}

/*分页*/
#pages { margin:15px auto; text-align:center; clear:both;}
#pages a { padding:3px 6px 2px; margin:3px; border:1px solid #B9DFF9; text-align:center; color:#077ac7;}
#pages a.now{ background:#077ac7; color:#fff; border:0;}
#pages a:hover,#pages a.now:hover{ background:#077ac7; color:#fff;}
/*右侧边栏栏目样式*/
#main_r h4 { background:url(images/bg_model.gif) no-repeat 0 2px; height:28px; line-height:28px; border-bottom:1px solid #fff; font-size:14px; font-weight:bold; padding-left:20px; color:#1589c8; zoom:1;}
#main_r h4 a{ float:right;}
#main_r div { border-top:1px solid #B9DFF9; background:#fff url(images/bg_maindiv.gif) repeat-x 0 bottom; padding:5px 0;}
.mar_10{ margin-top:10px;}
.mar_5{ margin-left:5px;}
/*logo*/
#logo{}
#rss{}
/*广告*/
.ad{ padding:1px; border:1px solid #dcdcdc;}

/*菜单*/
#menu{ background:#000 url(images/bg_2.jpg) repeat-x 0 -5px; height:34px; clear:both; margin-top:10px;}
#menu ul{ margin-left:20px; width:100%; display: block;}
#menu ul li{ display:inline;}
#menu ul li a,#menu ul li a span{  display:block; float:left; height:30px; color:#fff; text-decoration:none; cursor:pointer;}
#menu ul li a span{padding:8px 10px 0;}
#menu ul li a:hover,#menu ul li a:hover span,#menu ul li a.selected,#menu ul li a.selected span{ background:url(images/bg_menu_l.gif) no-repeat 0 0; display:block; float:left; height:30px; color:#333;}
#menu ul li a:hover span,#menu ul li a.selected span{ background: url(images/bg_menu_r.gif) no-repeat right 0; padding:8px 10px 0;}
#menu div{ height:20px; line-height:20px;}
#menu div a{ padding:0 5px;}
/*digg*/
#digg { width:140px; margin:0 auto 10px; overflow:hidden;}
#digg span,#digg span.cai{ background:url(images/bg_digg.png) no-repeat 0 0; width:53px; display:block; text-align:center; line-height:24px; padding-top:8px; text-decoration:none; color:#f90; float:left; cursor:pointer;}
#digg span strong { color:#fff; font-family:Arial; font-size:14px;}
#digg span.cai { background-position: -62px 0; width:53px; color:#09c; float:right;}
#digg samp{cursor:pointer;}
.digg_text_list {padding-top:5px;}
.digg_text_list li{background-image:none; padding-left:2px;}
.digg_text_list li span{ background: url(images/bg_digg.png) no-repeat 0 -57px; font-size:11px; margin-right:2px; color:#fff; width:42px; text-align:center; height:18px; line-height:18px; display:block; float:left; padding:0;}
.margin_10{ margin:10px;}
/*一些小的图片*/
.icon_1,.icon_2,.icon_3,.icon_4{ background:url(images/bg_member_1.gif) no-repeat 0 -371px; padding-left:20px;margin-right:6px;  color:#077ac7; height:18px;}
.icon_2{ background-position:0 -551px;}
.icon_3{ background-position:0 -587px;}
.icon_4{ background-position:0 -620px;}
/*布尔样式*/
span.yes, span.no { background:url(images/member_bg_1.gif) no-repeat 0 -418px; padding:0.4em 0 0 1.6em; color:#070; line-height:18px; height:18px;}
span.no { background-position:0 -450px; color:#c00;}
/*心情指数模块*/
.titles {	margin:10px 20px; border:1px solid #B9DFF9; width:596px; overflow:hidden;}
.titles h3 { font-size:12px;	background-color:#E4F3FC; color:#077ac7; line-height:22px; border:1px #fff solid; padding:0 8px;}
.titles div { padding:10px 0;}
.titles a {	width:280px; float:left;	padding-left:8px; line-height:150%;}
#xinqing li { margin:9px; text-align:center; display:inline; float:left; line-height:24px;}
#column{}
#column li{margin:5px 14px;}
#column li div{background-color:#EEF7F7; height:79px; width:20px; border:1px solid #C8DDF2; padding:0; position:relative;}
#column li div img{width:20px; position:absolute;bottom:0;left:0;}
/*首页调用友情链接*/
.logo_list,.textlogo_list{ width:100%; overflow:hidden; clear:both;}
.logo_list a,.textlogo_list a{ margin:5px 5px; display:block; float:left;}
.textlogo_list a{ margin:5px; display:block; float:left; width:116px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.c1{color:#000;}
.c2{color:#fff;}
.c3{color:#008000;}
.c4{color:#800000;}
.c5{color:#808000;}
.c6{color:#000080;}
.c7{color:#800080;}
.c8{color:#808080;}
.c9{color:#ff0;}
.c10{color:#0f0;}
.c11{color:#0ff;}
.c12{color:#f0f;}
.c13{color:#f00;}
.c14{color:#00f;}
.c15{color:#008080;}