@import url("table.css");
* {
	margin:0;
	padding:0;
}
body, dl, dt, dd, ol, ul, pre, form, field, input, p, blockquote, th, td, h1, h2, h3, h4, h5, h6 {
	font-family:"宋体";
	margin:0;
	padding:0;
	color:#333;
}
body {
	background-color:#FFF;
	font-size:12px;
	text-align:left;
}
a:link, a:visited {
	text-decoration:none;
	color:#000;
}
a:hover, a:active {
	text-decoration:underline;
	color:#000;
}
ul, ol {
	list-style:none;
}
textarea{
	line-height:16px;
	border:1px solid #dcdcdc;
	font-size:12px;
}
select{font-size:12px;}
img {
	border:0;
}
p, li {
	line-height:1.8em;
}
/**/
#head, #main, #foot {
	width:980px;
	margin:10px auto 0;
	background:#fff;
	text-align:left;
}
#foot {
	text-align:center;
	color:#454545;
}
#content {
	background-color:#fff;
}
#main_l {
	float:left;
	width:680px;
	border:1px solid #6DC0E9;
}
#main_r {
	float:right;
	width:280px;
}
#main_r div {
	border:1px solid #6DC0E9;
	margin-bottom:10px;
}
#logo {
}

.clear {clear:both; height:0; overflow:hidden; display:block;}

/*面包屑导航*/
#position, #box {
	background:url(images/center_member_bg.jpg) repeat-x 0 0;
	height:53px;
	margin:1px;
	line-height:53px;
	padding-left:10px;
	color:#454545;
}
#position strong {
	background:url(images/center_member_bg_1.gif) no-repeat left -110px;
	padding-left:20px;
}
#position a {
	background:url(images/center_member_bg_1.gif) no-repeat right -128px;
	padding-right:18px;
	color:#f90;
}
a.orange:hover, a.orange:active {
	color:#f90;
	text-decoration:underline;
}
a.orange:link, a.orange:visited {
	color:#f90;
	text-decoration:underline;
}
a.white:hover, a.white:active {
	color:#fff;
	text-decoration:underline;
}
a.white:link, a.white:visited {
	color:#fff;
	text-decoration:underline;
}
/*f_开头为float漂浮,l:左 r:右*/
.f_l {
	float:left;
}
.f_r, .date {
	float:right;
}
/*c_开头为字体颜色*/
.c_gray {
	color:#999;
}
.c_blue {
	color:#09f;
}
.c_red {
	color:#900;
}
.c_green {
	color:#090;
}
.c_orange {
	color:#f90;
}
/*w_开头表示宽度,bdr_为对边框的设置,这两个组合使用*/
.w_530 {
	width:530px;
}
.w_630 {
	width:630px;
}
.w_370 {
	width:370px;
	padding:5px 9px;
}
.bdr_1 {
	border:1px solid #9CC9E0;
}
/*图文排版*/
.list_1 {
}
.pic {
}
.pic img {
	padding:1px;
	border:1px solid #ccc;
	margin:8px auto;
}
.list_1 p {
	text-indent:2em;
}
/*文字列表*/
ul.t_list {
	margin:5px auto;
}
ul.t_list li {
	padding-left:10px;
	background:url(images/list_bg.gif) no-repeat 0 7px;
	line-height:180%;
}
/*图片列表*/
.list_2 {
	padding:0;
}
ul.pic_list {
}
ul.pic_list li {
	margin:10px;
	width:85px;
	float:left;
	text-align:center;
	display:inline;
}
ul.pic_list li img {
	padding:1px;
	border:1px solid #ccc;
}
.list_3 {
	margin:10px;
}
.pic_list_1 {
	width:200px;
	text-align:center;
}
.list_4 {
	margin:0 auto;
	padding:0;
}
.list_4 h4, #main_r h4 {
	background:url(images/center_bg.jpg) repeat-x 0 0;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#fff;
	position:relative;
	text-indent:1em;
	color:#fff;
}
.list_4 h4 span {
	position:absolute;
	bottom:0;
	right:5px;
	width:220px;
}
.list_4 h4 span a {
	background:url(images/center_bg.jpg) repeat-x 0 -39px;
	height:20px;
	line-height:20px;
	border:1px solid #2270C6;
	color:#fff;
	margin:0 2px;
	width:80px;
	display:block;
	text-align:center;
	float:left;
	border-bottom-width:0;
	color:#ffffff;
}
.list_4 h4 span a:hover {
	background:#fff;
	color:#318DD9;
}
.list_4 ul {
	background:url(images/list_bg_1.gif) no-repeat 6px 5px;
	padding-left:30px;
	margin:5px auto;
}
.list_4 ul li {
	line-height:24px;
	height:24px;
}
.list_5 {
}
.list_5 h4 {
	line-height:30px;
	font-size:14px;
	color:#069;
}
.list_5 img {
	margin-right:5px;
}
.list_1, .list_2, .list_3, .list_4, .list_5 {
	margin:10px auto;
	padding:0;
	float:left;
}
.list_1 h3, .list_2 h3, .list_3 h3, .list_4 h3 {
	font-size:12px;
	line-height:28px;
}
/*内容页*/
#content h1 {
	text-align:center;
	font-size:18px;
	color:#000;
}
#text {
	margin:10px auto;
	line-height:30px;
	text-align:center;
}
#digest {
	margin:10px;
	border:1px solid #eee;
	padding:10px;
	line-height:180%;
}
#digest strong {
	color:#f00;
}
#endtext {
	font-size:14px;
	line-height:1.8em;
}
#endtext h2 {
	font-size:14px;
}
#endtext p {
	margin:5px;
	text-indent:2em;
}
#endtext .icon {
	border:0;
	margin:3px 0 0;
}
#endtext img {
	border:1px solid #ccc;
}
#endtext table {
	table-layout:fixed;
}
<!--
#endtext td {
	overflow:hidden;
	text-overflow:ellipsis;
}
-->
#endtext a {
	text-decoration:underline;
	color:#1f3a87;
}
#endtext a:hover {
	color:#bc2931;
}
/*分页*/
#pages {margin:5px auto -8px;*margin:5px auto;padding:5px;text-align:center;}
#pages a {
	padding:3px 6px 2px;
	margin:3px;
	border:1px solid #2e6ab1;
	text-align:center;
	color:#2e6ab1;
}
#pages .input_blur,#pages .input_focus{float:none;}
#pages a:hover {
	background:#2e6ab1;
	color:#fff;
	border:1px solid #000080;
}
#main_r h4 {
	margin-top:5px;
}
#main_r ul.pic_list li {
	margin:5px 4px;
}
#main_r ul.t_list {
	padding:0 5px;
}

/*表单相关*/
body{ background:#fff url(images/center_bg.gif) repeat-x 0 -120px;}
input {font-family:"宋体";font-size:12px;}
.input_1 {border:0;}
.input_focus, .input_blur {	height:16px;line-height:16px;border:1px solid #dcdcdc;}
.input_focus {background-color:#F6FCFF;	font-size: 12px;border:1px solid #C7E8F9;}
.input_blur {background:url(bg.gif) repeat-x 0 0;}
/*注册*/
table {padding:0;margin:0;width:98%;}
th {text-align:right;padding-right:5px;	font-weight:normal;}
td {line-height:200%;padding:0 5px;text-align:left;}
caption{ text-align:left; text-indent:20px;}
.table_reg{ text-align:left; padding:6px 30px; font-size:14px; font-weight:bold; background:url(images/login_bg.gif) no-repeat -1px -77px; border-bottom:1px solid #9cc9e0; margin:10px auto; width:98%;}
.table_reg td{ padding:8px 5px;}
.table_form caption,h3{ text-align:left; padding:0px 0 0 20px; font-size:14px;line-height:29px;height:28px; font-weight:bold; background:url(images/login_bg2.gif) no-repeat 6px center; margin:10px auto 0;}
.table_form td{ padding:8px 5px;}
.table_form p{text-indent:2em;padding:4px;color:#666;}
h3{ background:#E2F1F9; border-width:0; border-left:4px solid #94C5E5; margin:10px 0; color:#0B7DC1; padding-left:10px;}
#m_t10{*margin-top:10px;}
/*列表样式，表单样式，提示信息样式*/
.table_list, .table_info,.table_form {margin:0px auto;width:100%; }
.table_list caption, .table_info caption, h4 {font-weight:bold;	color:#000;	border:1px solid #94C5E5;border-bottom-width:0;	background:url(images/center_bg.gif) repeat-x 0 -93px;height:25px;line-height:25px;margin:10px auto 0;}
.table_info caption h5{background:url(images/center_caption.gif) no-repeat left center;padding-left:5px;font-size:12px;padding-top:1px;margin:0 10px;}
.table_list caption{text-align:center;}
.table_info caption{margin:10px auto 0px;}
.table_list{border:0;}
.table_info {border:1px solid #94C5E5;}
.table_info td {line-height:150%;	padding:4px;}
.table_info th strong {	color:#000;}
.table_list {border:1px solid #94C5E5;}
.table_list td {border-left:1px solid #fff;	text-align:center;}
.table_list th, th.form_th {text-align:center;	color:#333;	border-top:1px solid #fff;	border-right:1px solid #94C5E5;border-left:1px solid #fff;background:#E2F1F9;	line-height:22px;height:22px;}
th.form_th {text-align:left;text-indent:2em;font-weight:bold;padding:0;	border:1px solid #94C5E5;border-right-width:0;	border-top-width:0;	line-height:1.8em;}
td.align_left {	text-align:left;}
.table_info td {padding:10px;}
#protocol {width:960px;	height:400px;line-height:180%;overflow:auto;border:1px solid #eee;padding:10px;	margin-top:10px;}
.yes, .no {	background:url(images/center_member_bg_1.gif) no-repeat 0 -420px;8background:url(images/center_member_bg_1.gif) no-repeat 0 -422px;	padding-left:1.6em;	color:#070;	line-height:18px;	height:18px;display:inline-block;margin-left:0.6em;}
.no {background-position:0 -451px;color:#c00;}
/*会员中心*/
#main {width:980px;	background-color:transparent;}
#left,#right{float:left;width:180px;}
#left img {	padding:1px;margin:0 auto;}
.s_pic_list li img{padding:4px;border:1px solid #ccc;}
.s_pic_list li a:hover img{border:#0059d1 1px solid;}

/*左边菜单*/
#treemenu .treemenu_hd{  background:url(images/center_bg.gif) repeat-x 0 -94px;  border-bottom:1px solid #94C5E5; height:24px; line-height:25px;font-weight:normal;}
#treemenu .treemenu_hd h5{float:left;width:55%;font-size:12px; padding-left:6px;font-weight:bold;}
.back_index{float:right;margin-right:0.8em;}
#treemenu ul, #treemenu ol {margin:0;padding:0;}
#treemenu ul li, #left ol li {text-indent:30px;line-height:24px;margin:4px 0; }
#treemenu ul li a,#left ol li a {text-decoration:none;width:100%; color:#0B7DC1; font-weight:bold;}
#treemenu ul li{ text-indent:10px; border-bottom:#DBEEF8 1px solid;/* background:url(images/center_bg_1.gif) no-repeat 160px -50px;*/}
#treemenu ul li a:hover{text-decoration:underline;}
/*#treemenu ul li a:hover,a.sel_1 {background:#F2F9FD url(images/center_bg_1.gif) no-repeat 160px -76px;font-weight:bold;color:#069;}*/

#treemenu ul li ul{ width:160px; margin-left:20px;}
#treemenu ul li ul li,#treemenu ul li ul li a,#treemenu ul li ul li a:hover{background:#fff url(images/center_bg_1.gif) no-repeat 0 -98px; height:24px; line-height:24px; text-indent:16px; border-bottom-width:0;}
a.msg {	background:url(images/center_member_bg_1.gif) no-repeat 0 -88px;padding-left:20px;}
a.edit {background:url(images/center_member_bg_1.gif) no-repeat 0 -345px;	padding-left:18px;}
#left ol{background:url(images/center_bg.gif) repeat-x 0 0; height:94px;}
#left ol li.local {	background:url(images/center_member_bg_1.gif) no-repeat 10px -143px;}
#left ol li.help {	background:url(images/center_member_bg_1.gif) no-repeat 8px -170px;}
#left ol li.exit {background:url(images/center_member_bg_1.gif) no-repeat 8px -200px;}
#left ol li a:hover, a.msg:hover, a.edit:hover {color:#f90;	text-decoration:none;}
#right {float:right;width:780px;border-width:0;margin-top:-10px;*margin-top:0px;}
.email {background:url(images/center_member_bg_1.gif) no-repeat right -87px; padding-right:20px;}
#memberinfo { padding:10px; width:300px;}
#memberinfo a {	background:url(images/center_member_bg_1.gif) no-repeat 0 -370px;	padding-left:20px;	color:#f90;	text-decoration:underline;	margin-left:20px;}
.arial{font-family:Arial;font-size:11px;}
#head{height:80px; background:url(images/center_memberhead_bg.jpg) no-repeat center -3px; margin:0 auto; text-align:center; position:relative;}
#foot{ padding:10px 0 15px 0; background:url(images/center_memberfoot_bg.jpg) repeat-x 0 15px;line-height:25px; margin-bottom:0px;}

#menu{position:absolute;top:57px;left:240px;}
#menu a{ font-size:14px; font-weight:bold; color:#fff; width:80px; display:block; float:left;}
.align_center{ text-align:center; padding:10px;}
#left,.bdr_4{border:1px solid #9cc9e0; background:#fff;}
.box_1,.box_2{padding:5px 10px; height:24px; line-height:24px; color:#F00; margin:10px 0;}
.box_1{ border:1px solid #F1EA8A; background:#FFFECB;}
.box_2{ border:1px solid #FAB68D; background:#FEE7D8; }
.f_14{ font-size:14px; font-weight:bold;}
.icon_1,.icon_2{ background:url(images/center_bg_1.gif) no-repeat 2px 4px; float:left; display:block; width:20px; height:24px; line-height:24px;}
.icon_2{ background-position:2px -25px;}
/*说明文字*/
.expla{ font-size:12px;}
.expla dt{ font-weight:bold; color:#f00; height:24px; line-height:24px;}
.expla dd{ color:#666; height:30px; line-height:24px;}
.bg_1{ padding-left:40px; background:url(images/center_bg_2.gif) no-repeat 10px 10px; }
.tag_1{margin-bottom:8px;}
.tag_1,.tag_1 a,.tag_1 a.s_3{background:url(images/center_bg_3.jpg) repeat-x 0 -45px; height:22px; line-height:22px;}
.tag_1{ padding-left:10px;}
.tag_1 a,.tag_1 a.s_3,.tag_1 a:hover{ background-position:0 0; border:1px solid #94C5E5; border-width:0 1px; display:block; float:left; padding:0 10px; margin-right:10px;}
.tag_1 a{background-position:0 -23px;}

/*表单相关*/
input,select,textarea,.textarea_style{	font-family:"宋体";	border:1px solid #dcdcdc;}
.inputtitle{ background:url("images/ruler.gif") repeat-x 0 5px; height:18px;line-height:18px;padding-left:2px;float:left;}
.input_focus, .input_blur {	height:18px; line-height:18px; border:1px solid #dcdcdc;  padding-left:2px;margin-right:6px;float:left;}
.input_focus, .textarea_focus {	background-color:#F6FCFF; font-size: 12px; border:1px solid #C7E8F9;}
/*单选框复选框*/
.radio_style, .checkbox_style {	border:0;}
/*按钮样式*/
.button_style {	background:url(images/bg_admin.jpg) repeat-x 0 -51px; text-align:center; border:1px solid #9cc9e0; padding:1px 4px;
 *padding-top:3px; color:#077ac7; cursor:pointer; height:21px; } 
.box_2 .input_blur,.box_2 .input_focus{float:none;}
 .c1{color:#000;}
.c2{color:#fff;}
.c3{color:#008000;}
.c4{color:#800000;}
.c5{color:#808000;}
.c6{color:#000080;}
.c7{color:#800080;}
.c8{color:#808080;}
.c9{color:#ff0;}
.c10{color:#0f0;}
.c11{color:#0ff;}
.c12{color:#f0f;}
.c13{color:#f00;}
.c14{color:#00f;}
.c15{color:#008080;}

 .bg1{background-color:#000;}
.bg2{background-color:#fff;}
.bg3{background-color:#008000;}
.bg4{background-color:#800000;}
.bg5{background-color:#808000;}
.bg6{background-color:#000080;}
.bg7{background-color:#800080;}
.bg8{background-color:#808080;}
.bg9{background-color:#ff0;}
.bg10{background-color:#0f0;}
.bg11{background-color:#0ff;}
.bg12{background-color:#f0f;}
.bg13{background-color:#f00;}
.bg14{background-color:#00f;}
.bg15{background-color:#008080;}
.b{font-weight:bold;}

/*按钮区域*/
.button_box {margin:5px 0; padding-left:10px; text-align:left;}
.center_panel,.center_guide{ background:#fff;margin:0;padding:0;height:29px;}
.center_guide h2{font-size:13px;background:url(images/center_guide.png) no-repeat 5px 0px;padding:0px 0 0 35px;color:#FF0000;font-weight:bold;}
.center_panel h2{background:url(images/center_panel.png) no-repeat 5px center;font-size:13px;padding:0px 0 0 33px;font-weight:normal;color:#0B7DC1}
.center_message_bg{background:url(images/center_message_bg.gif) no-repeat;height:30px;width:780px;margin:0 auto;}
.tablerow tr td{line-height:22px;}

.superior{padding:5px 0 0 6px;}
.superior li{ text-align:left;padding-left:98px;height:77px;overflow:hidden;}
.superior li h2{font-size:13px; color:#FF0000;font-weight:bold;}
.superior li p{color:#666;}
.superior_1,.superior_2,.superior_3,.superior_4{background:url(images/center_superior.jpg) no-repeat 0 0;}
.superior_2{background-position:0px -90px;}
.superior_3{background-position:0px -170px;}
.superior_4{background-position:0px -250px;}
.black5{margin:0 auto;height:5px;font-size:1px;clear:both;}
.blank10{margin:0 auto;height:10px;font-size:1px;clear:both;}

.bg_yellow{background:#fffff2;}

/* 颜色 */
.red,.red a{color:#f30000!important;text-decoration:none;}
.red a:hover{color:#f30000!important;text-decoration:underline;}
.table_none{border:none;}
.table_nonetr{border:none;}
.table_none tr td{border:none; line-height:22px;}
.f13{font-size:13px;}
.fabu{float:right;}
#treemenu .bg_se{background:#F2F9FD /*url(images/center_bg_1.gif) no-repeat 160px -76px; */!important}
#fabu{margin-right:0.8em;}
#fabu a:link{color:#7f7f7f;font-weight:normal;!important}
#fabu a:visited{color:#7f7f7f;font-weight:normal;!important;}
#fabu a:hover{color:#7f7f7f;!important; text-decoration:underline;}

.category_select{border:2px solid #ff0000;color:#ff0000;}
.category_no_select{border:1px solid #DCDCDC;color:#000000;}
