body{background-color:#fff;}
img{margin:0;padding:0;}
th,td{height:28px; line-height:28px;}
#head{}
#left{font-size: 12px; width:230px; float:left;}
#right{width:730px; float:right;}
#hy,.tit_1{border-bottom:3px solid #87CCF1; height:23px;}
#qy{margin:8px 0 0; zoom:1;}
.tit_1{margin:10px 0;}
.f_r{float:right;}
#hy li,#qy li,#sj p span,.s_pic_list li{float:left; display:inline;}
#hy li.on_1,#hy li.on_2,#qy li.on_3,#qy li.on_4,#hy li.on_5,h3.bt,.tit_1 h3{background:url(images/bg_yp.gif) no-repeat -114px -67px;font-size:13px; line-height:23px; height:23px; text-align:center; width:108px; font-weight:bold; cursor:pointer;}
#hy li.on_6,#hy li.on_7{background:url(images/new_yp_on.gif) no-repeat 0px 0px;font-size:13px; line-height:23px; height:23px; text-align:center; width:60px; font-weight:bold; cursor:pointer;display:block;}
#hy li.on_7{background-position:0px -80px;}
#hy li.on_6,#hy li.on_7{margin-right:4px;}
#hy li.on_7 a{color:#e18600;}
.yp_more{float:right;margin-top:-16px;margin-right:6px;}
.job_search_bt{background:url(images/bg_yp.gif) no-repeat -114px -93px;font-size:13px; line-height:22px; height:22px; text-align:center; width:108px; font-weight:bold; cursor:pointer; color:#ad6800;}
.list13{padding:8px 0 0 14px;}
.list13 li{text-align:left;padding:3px 0 0 10px;font-size:13px; background:url(images/icon_1.gif) no-repeat left 12px;}
.list13 li span{margin-right:18px;}
.list13 li p{color:#999;}
#hy li.on_1,#hy li.on_2,#hy li.on_5{padding-right:4px;}
#hy li.on_2{background-position:-114px -92px; color:#f60;}
#hy li.on_5,h3.bt{background-position:-115px -118px;}
#hy li span{ width:30px; display:block; float:left; cursor:pointer; height:20px; line-height:20px;}
span.tp,span.tw,span.wz,span.tw_1,span.wz_1,span.tp_1{background:url(images/yp_text.gif) no-repeat 0 0;padding-left:20px;}
span.wz{background-position:-52px 0px;}
span.tp{background-position:-104px 0px;}
span.tw_1,span.wz_1,span.tp_1{color:#f90;}
span.tw_1{background-position:-0px -20px;}
span.wz_1{background-position:-52px -20px;}
span.tp_1{background-position:-104px -20px;}
#qy li.on_3,#qy li.on_4{background-position:0 -70px; width:91px;height:26px;float:left;color:#278CCD;line-height:26px;}
.w_8{float:left;width:8px;height:1px;display:block;}
#qy li.on_4{background-position:0 -97px;}
#qy li a{line-height:26px; height:26px; width:91px; display:block;}
.qy_c{background:url(images/bg_yp_y.jpg) repeat-y -240px 0; width:180px; padding:0 5px;}
.qy_c li{background:url(images/list_bg2.gif) no-repeat 0px 9px; padding-left:10px;}
.qy_b{background:url(images/bg_yp.gif) no-repeat 0 -55px; height:7px; overflow:hidden;}
.box_t{background:url(images/bg_yp.gif) no-repeat 0 0; font-size:14px; height:37px; line-height:30px; text-indent:20px;}
.box_t h3,h3,#hy li.on_1,#hy li.on_5,#hy li.on_6{color:#278CCD;}
.box_c{background:url(images/bg_yp_y.jpg) repeat-y 0 -35px; padding-left:4px;}
.box_b{background:url(images/bg_yp.gif) repeat-y 0 -40px; height:10px;}
.clear{clear:both;}
.bk_5,.bk_10{clear:both; height:5px; overflow:hidden; display:block;}
.bk_10{height:10px;}
.pic_list img{ float:left; margin-right:10px;}
.pic_list li a{display:block; width:140px; float:right;  text-align:left;}

.pic_list li a strong{display:block;}
.pic_list_1{ padding-left:5px; width:220px;}
.pic_list_1 li{ display:inline; float:left; margin-right:5px; height:76px; overflow:hidden; text-align:center;}
.pic_list_1 li img{padding:1px; border:1px solid #ccc;}
.pic_list_1 li a{ width:100px; display:block;}
.yp_slide{width:520px; border:1px solid #333; padding:1px; float:left;}
#py_list{background:#D3ECFA; line-height:29px; height:29px;}
#py_list dt{font-weight:bold; font-size:14px; width:70px; display:block; float:left; text-align:center;}
#py_list dd{display:inline; float:left;}
#py_list dd a{width:25px; display:block; text-align:center; font-size:14px; font-weight:bold; font-family:Arial;}
#py_list dd a:hover{border:1px solid #fff; background-color:#FFF7E6; width:23px; border-width:0 1px;}

.cat_list{width:350px; float:left; padding:5px;}
.cat_list h3{font-size:14px; height:24px; line-height:24px; border-bottom:1px dashed #87CCF1;}
.cat_list p{color:#ccc; line-height:24px; margin-top:5px;}
.box{border:1px solid #87CCF1; padding:1px; background-color:#fff;margin:0;font-size:1px;}
.box h3{background:url(images/bg_yp_x.jpg) repeat-x 0 -1px; font-size:14px; line-height:29px; height:29px; padding-left:15px;}	
.box h3 span a{}
/*.box h4{font-size:14px; border-bottom:1px dotted #87CCF1; height:28px; line-height:28px; padding-left:6px;}
.box h4 span{float:right;}
.box h4 span a{font-size:12px;}*/
.text_list li{background:url(images/bg_yp.gif) no-repeat -210px -144px;}
#yp_menu{position:relative; width:100%;}
#yp_menu ul{border-left:1px solid #87CCF1; height:21px;	width:500px; position:absolute; left:350px; bottom:-1px;}
#yp_menu li{display:inline; float:left;border:1px solid #87CCF1; border-width:1px 1px 0 0;}
#yp_menu li a,#yp_menu li a.s2{width:62px;  background-color:#fff; display:block; text-align:center; height:20px; line-height:20px; }
#yp_menu li a.s2{background:url(images/bg_yp.gif) no-repeat -168px -275px;}
#yp_submenu{background:#278CCD url(images/bg_11.jpg) no-repeat 0 0; height:76px; color:#fff; position:relative;}
#yp_submenu a{color:#fff;}
#gy{width:260px; position:absolute; left:40px; top:9px; z-index:8;}
#search{width:600px; position:absolute; left:320px; top:3px;}
#search  li{line-height:26px;}
#keywords{background:url(images/bg_yp.gif) no-repeat -180px -200px; padding-left:50px; height:24px;text-indent:0.6em;}
#logo{width:200px;float:left; margin-bottom:5px; background:#fff}
/*快捷菜单*/
#kj_menu{position:absolute; left:5px; top:56px;}
#kj_menu li{display:inline; float:left;  padding:0 8px;}
#kj_menu li a{color:#333;}
.w_100{width:220px;}
.w_190{width:190px;}
.w_220{width:220px; text-align:center; margin:0 auto;} 
.w_220 img{margin:5px;}
.w_500{width:500px;}
.w_500 li,.w_100 li{width:225px; display:inline; float:left; margin-right:6px;}
.w_500 li span,.text_list li span,.w_100 li a{float:right; color:#999; font-size:11px; font-family:Arial; line-height:24px;}
.w_100 li{width:100px; padding-left:4px;}
.w_100 li a{width:90px; display:block; color:#278ccd; font-size:12px; padding-left:0;}
.w_360{width:350px; padding:5px;}
.w_720{width:714px; padding-left:10px;}
.w_720 img{margin:6px 10px 6px 2px;*margin:6px 10px 6px 5px;}

/*商机*/
#sj{position:relative;}
#sj p{position:absolute; top:-24px; right:120px;}
#sj p span a{width:45px; display:block; height:23px; text-align:center;}
#sj p span a:hover,a.s3{background:url(images/bg_yp.gif) no-repeat -115px -144px;}

#sj ul{margin-top:8px;}

.list_1,.list_2{border-bottom:1px dotted #ccc; padding:0 5px 8px; margin-bottom:8px;}
.list_1 dt,.list_2 dt{height:24px;line-height:24px; margin-top:6px;}
.list_1 dt strong{font-size:14px; color:#278CCD; width:500px; float:left;}
.list_1 dd{line-height:20px; color:#999;}
.list_1 dd strong{color:#444; font-weight:normal;}
.zczj,.area,.gsjs{width:110px; text-align:center; display:block; float:left; color:#f60;}
.area{float:right;}
.gsxx_1{background:#E4F3FC; height:24px;line-height:24px;}
.gsxx_1 span{line-height:24px; font-weight:bold; color:#278CCD;}
.pai_lie{width:150px;float:left;padding:3px 0 0 10px;}
.pai_lie li a{ background-color:#E4F3FC;}
.pai_lie li span{width:30px; display:block; float:left; cursor:pointer; height:20px; line-height:20px;font-weight:normal;}
.gsjs{width:490px; padding-left:5px;}
.gsjs2{width:340px;padding-left:5px;text-align:center;display:block;float:left;}
#catlist{background:url(images/bg_yp_x.jpg) repeat-x 0 -44px;}
#catlist dt{font-size:14px; font-weight:bold; height:30px; line-height:30px; color:#278ccd;}
#catlist dd{width:170px; padding:5px; display:block; float:left;}
/*每页显示条数*/
#show_num{width:180px; display:block;}
#show_num span{width:105px; float:left;}
#show_num a{background:url(images/bg_yp.gif) no-repeat 0 -155px; color:#fff; display:block; float:left; height:16px; line-height:16px; margin-right:8px; text-align:center; width:16px; text-decoration:none;}
#show_num a:hover{background-position:0 -130px;}
.time{font-weight:normal; color:#999; font-size:12px;}
dd.pic{float:left; margin-right:10px;}
/*产品列表*/
.list_2{ width:716px;}
.list_2 dt,.list_2 dd{ width:580px; float:right;}
.list_2 dt strong{width:360px;}
.list_2 dd.pic{width:124px; margin:0 10px 0 0; float:left;}
.list_1:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
/*筛选*/
.box_1{ background:#F5FAFE; border:1px solid #87CCF1; padding:5px 10px;}
.box_1 dl{ clear:both; margin:3px 0 ;}
.box_1 dt{ background:url(images/bg_yp.gif) no-repeat -165px -240px; display:block; float:left; text-align:center;width:65px; height:20px; line-height:20px; color:#fff;}
.box_1 dd{ display:inline; float:left; padding:0px 5px;}
.box_1 dd a{ display:block; padding:2px 6px;}
.box_1 dd a:hover{ background:#278CCD; color:#fff;}
#right .selectlink{background:#077AC7;color:#FFFFFF;}
/*.table_list{background:url(images/bg_yp_x.jpg) repeat-x 0 -70px;}*/
.table_list th{ text-align:center; font-weight:bold;  height:30px;line-height:30px; color:#278CCD; border-bottom:1px solid #87CCF1; text-align:left; padding-left:8px;}
.table_list td{ border-width:0;border-top:1px solid #fff; border-bottom:1px dashed #ccc; height:28px; line-height:28px; padding-left:8px;}
/*人才标签页*/
.job_tag{ height:22px; margin-left:10px;}
.job_tag a,a.s1{background:url(images/bg_yp.gif) no-repeat 0 -194px; display:block; font-size:12px; font-weight:bold; float:left; height:22px; width:77px; margin:6px 5px 0 0;}
a.s1{ background-position:0 -216px; color:#fff;}
.table_1,.table_2{background-color:#87CCF1;}
.table_1 td,.table_2 td{background-color:#fff;}
.table_1 th,.table_2 th{background-color:#D3ECFA;}
.table_2 th{text-align:center;} 
.table_2 td{padding-left:8px;} 
td.c_b{ background-color:#E9F5FC;}

.d_list li{ border-bottom:1px dashed #ccc; height:30px; line-height:30px;font-size:14px;overflow:hidden;}
.d_list li img{ *padding-top:6px;}
.s_pic_list li img{ padding:1px; border:1px solid #87CCF1; margin-right:10px;}
.pic a:hover img,.s_pic_list li a:hover img{border:1px solid #ff932a;} 
#p_name{height:50px; line-height:50px; font-size:18px;}
.pro_intro,.pro_intro p{font-size:14px;}
.btn_box{padding:20px 10px;}
.btn_box a:hover,.btn_box a:active {color:#fff;	text-decoration:none;}
.btn_box a:link,.btn_box a:visited {color:#fff;	text-decoration:none;}
a.btn_01,a.btn_02{ background:url(images/bg_yp.gif) no-repeat 0 -243px; width:90px; height:30px; line-height:30px; display:block; padding-left:28px; font-size:14px;float:left;}
a.btn_02{ background-position:0 -274px; float:right;}
.s_pic_list{ padding-left:8px;}
.s_pic_list li{ width:130px; margin:5px 12px 10px 0; display:inline; float:left; text-align:center; overflow:hidden;height:111px;}
.s_pic_list li img{ padding:1px; border:1px solid #ccc; display:block; margin-bottom:5px; width:126px;}
.s_pic_list li strong{display:block;}
.s_pic_list_1 li{width:54px;}
.s_pic_list_1 li img{ width:50px;}
.text_list_f14 li{ line-height:28px;height:28px;}
.text_list_f14 samp{padding-right:0px;font-size:12px;margin-right:0px;}
.good_name{float:left;width:300px;}
.company_name{float:left;width:220px;}
.good_money{float:left;width:100px;}
.form_01 li{ height:26px; line-height:26px; padding-left:8px;}
#foot{ border-top:2px solid #06c;}
#position{ background:#fff; border:1px solid #87ccf1; padding-left:8px; height:22px; line-height:22px;}
#position strong{color:#278CCD;}
#position a{ font-weight:normal; text-decoration:underline; background:url(images/bg_yp.gif) no-repeat right -318px; padding-right:14px;}
.box h4{font-size:12px; height:auto; line-height:24px; padding-left:6px; color:#29A5E7;}
.box h4 span{float:right;}
.box h4 span a{font-size:12px; color:#fff; text-decoration:none;padding-right:3px;font-weight:normal;}
.box h4 span a:visited{text-decoration:none;}
.tit_02{background:url(images/bg_3.gif) no-repeat right 3px;}
/*推荐企业样式*/
.tj{padding:8px 0px 0 18px;float:left;text-align:left;width:220px;overflow:hidden;}
.box .tj h5{font-size:13px;font-weight:bold;line-height:26px;}
.tj p{font-size:12px;color:#666;line-height:22px;}
.tj p a{margin-right:10px;}
.box .tj h5 a,.box .tj h5 a:link{color:#F30327;}
.box .tj h5 a:visited{color:#F30327;}
.dotLine {background:url(images/dashed_line.gif) 0 0 repeat-x; height:1px; display:block; clear:both; overflow:hidden;width:694px;margin:3px auto;}

select{margin:-1px;}
.select-type {border:1px solid #077ac7;overflow:hidden;display:-moz-inline-box;display:inline-block;}
.hr_search table{text-align:center;margin:0 auto;}
.search_term{ width:265px}
.search_term th{ text-align:right; padding-right:10px;}
.search_term td{ height:36px; line-height:36px; text-align:left; }
.hr_search input{float:left;}
.zhiwei{width:100%;}
.bgblue{background:#f2faff;}
.zhiwei_list{padding:0px 0 0 14px;}
.zhiwei_list li{float:left;line-height:24px;height:24px;width:48%;}
.zhiwei_list li span{margin-right:8px;padding-left:8px;}
a.blue:link, a.blue:visited {	color:#444;	text-decoration:none;}
a.blue:hover, a.blue:active {	color:#444;	text-decoration:underline;}

#p_name{float:left;}
.two_button{float:right;padding-top:8px;}
.two_button a{margin-right:6px;}

/* CSS空白 */
.blank1{margin:0 auto;height:1px;font-size:1px;clear:both;}
.blank2{margin:0 auto;height:2px;font-size:1px;clear:both;}
.blank3{margin:0 auto;height:3px;font-size:1px;clear:both;}
.blank5{margin:0 auto;height:5px;font-size:1px;clear:both;}
.blank8{margin:0 auto;height:8px;font-size:1px;clear:both;}
.blank10{margin:0 auto;height:10px;font-size:1px;clear:both;}
.blank15{margin:0 auto;height:15px;font-size:1px;clear:both;}
.blank20{margin:0 auto;height:20px;font-size:1px;clear:both;}

.more{color:#999999;}
