{template 'phpcms','header'}
<!--主体标签-->
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
<td width="760" valign="top">
<!--位置导航-->
<div class="position">当前位置：{$position}</div>
<div class="subnav">{tag_频道子栏目列表}</div>
<!--{if $enableadd}-->
<div class="cat_box">
<div class="cat_title">
  <div class="cat_name">{$catname}</div>
  <div class="cat_url"><a href="{$linkurl}" class="more">更多</a></div>
</div>
{tag_栏目页图片文章列表}
{tag_一级栏目文章列表}
</div>
<!--{/if}-->
<!--{loop $arrchildid $i $childcat}-->
<div class="cat_box">
  <div class="cat_title">
    <div class="cat_name">{$childcat[catname]}</div>
	<div class="cat_url"><a href="{$childcat[linkurl]}" target="{$childcat[target]}" class="more">更多</a></div>
  </div>
{tag_子栏目文章列表}
</div>
<!--{if $i%2!==1}--><div class="float_left"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" /></div><!--{/if}-->
<!--{/loop}-->
   <table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
    <div class="clearboth"></div>
	</td>
	<td width="10"></td>
	<td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>推荐文章</h1><h2><a href="{$CHA[linkurl]}search.php?catid={$catid}&elite=1&search=1" class="more">更多</a></h2></div>
{tag_推荐文章列表}
    <div class="rightcats"><h1>热点文章</h1><h2><a href="{$CHA[linkurl]}search.php?catid={$catid}&ordertype=3&search=1" class="more">更多</a></h2></div>
{tag_热点文章列表}
	</td>
  </tr>
</table>
{template 'phpcms','footer'}