{template 'phpcms','header'}
<script type="text/javascript">
function fontZoom(size)
{
   $('content').style.fontSize=size+'px';
}
</script>
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="760" valign="top" class="content">
<!--位置导航-->
     <div class="position_1">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</div>
<!--主标题--><h1>{$title} {if $paginationtype && $page}({$page}){/if}</h1>
<!--副标题-->{if $subheading}<h2>——{$subheading}</h2>{/if}
<!--文章属性-->
        <div id="property"> {$adddate}&nbsp;&nbsp;作者：<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$author}</a>&nbsp;&nbsp;来源：<a href="{$copyfromurl}" target="_blank">{$copyfromname}</a>&nbsp;&nbsp;{if $MOD['show_hits']}浏览次数：<span id="hits">{$hits}</span>&nbsp;&nbsp;{/if}文字大小：【<a href="javascript:fontZoom(16)">大</a>】【<a href="javascript:fontZoom(14)">中</a>】【<a href="javascript:fontZoom(12)">小</a>】</div>
<!--引用地址-->
	{if $introduce}<div class="introduce"><strong>简介：</strong>{$introduce}</div>{/if}
	{if $keywords}<div class="introduce"><strong>关键字：</strong>{loop $keywords $keyword}<a href="{$channelurl}/search.php?searchtype=keywords&keywords={urlencode($keyword)}&search=1" target="_blank">{$keyword}</a>{/loop}</div>{/if}

<div class="content_text" id="content">{$content}</div>
<script type="text/javascript">
function ImgZoom(Id)//重新设置图片大小 防止撑破表格
{
	var w = $(Id).width;
	var m = {$img_maxwidth};
	if(w < m)
	{
		return;
	}
	else
	{
		var h = $(Id).height;
		$(Id).height = parseInt(h*m/w);
		$(Id).width = m;
	}
}
window.onload = function()
{
	var Imgs = $("content").getElementsByTagName("img");
	var i=0;
	for(;i<Imgs.length;i++)
	{
		ImgZoom(Imgs[i]);
	}
}
</script>
			<!--自定义字段//-->
			<table width="100%" align="center" cellspacing="0" cellpadding="0">
             {loop $fields $v}
              <tr>
                <td>{$v[title]}：{$v[value]}</td>
              </tr>
             {/loop}
			 </table>
			 <!--自定义字段\\-->
<!--分页--><div class="td_center">{$pages}</div>
        <h3>责任编辑：<a href="{PHPCMS_PATH}member/member.php?username={$checker}" class="member_url">{$checker}</a></h3>

		
<div class="mar_10"><span class="font_1">本文引用地址：</span>&nbsp;<span class="border_2"><a href="{$itemurl}">{$itemurl}</a></span> </div>

<!--上下文-->
{if $MOD['show_pre_and_next']}<div class="border_1" id="pre_and_next"></div>{/if}
       <br/>

  <div id="par" class="iconbox">
  <form action="{$MODULE['mail']['linkurl']}sendmail.php" name="sendmail" id="sendmail">
<input type="hidden" name="title" value="推荐《{$title}》" />
<input type="hidden" name="content" value="<a href={$itemurl} target=_blank>{$title}<br/>{$itemurl}</a>" />
</form>
  <a href="#comment" class="comment_icon">发表评论</a>　<a href="javascript:window.external.addFavorite(window.location,'{$title}')" class="favorites_icon">加入收藏</a>　<a href="javascript:$('sendmail').submit();" class="friend_icon">告诉好友</a>　<a href="javascript:window.print();" class="print_icon">打印本页</a>　<a href="javascript:window.close()" class="close_icon">关闭窗口</a>　<a href="#top" class="top_icon">返回顶部</a></div>
<!--相关文章列表-->
<div class="cat_title">
  <div class="cat_name">相关文章</div>
  <div class="cat_url"><a href="#" class="more"></a></div></div>
     {tag_相关文章列表}
 <script type="text/javascript" src="{$MODULE['comment']['linkurl']}list_js.php?keyid={$channelid}&itemid={$articleid}&commentnum=10&ordertype=1&title={$urlencode($title)}"></script>
    </td>
    <td width="10">&nbsp;</td>
    <td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>最新文章</h1><h2><a href="#" class="more">更多</a></h2></div>
      {tag_内容页面最新文章列表}
	<div class="rightcats"><h1>推荐文章</h1><h2><a href="{$channelurl}search.php?catid={$catid}&amp;posid=1&amp;search=1" class="more">更多</a></h2>
	</div>
      {tag_推荐文章列表}
	<div class="rightcats"><h1>热点文章</h1><h2><a href="{$channelurl}search.php?catid={$catid}&ordertype=3&search=1" class="more">更多</a></h2></div>
      {tag_热点文章列表}
	</td>
  </tr>
</table>
{if $MOD['show_hits'] || $MOD['show_pre_and_next']}
<script type="text/javascript" src="{$channelurl}show_js.php?itemid={$itemid}"></script>
{/if}
{template 'phpcms','footer'}