{template 'phpcms','header'}
<!--主体标签-->
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="265" class="slidepic"><!--260X220-->{tag_文章频道首页幻灯片}</td>
    <td width="8"></td>
    <td valign="top" width="470">
<script>
	function ShowarticleContent(id)
	{
		for (var i = 0;i < 3;i++)
		{
			var articlenav = document.getElementById("articlenav" + i);
			var articlecontent = document.getElementById("articlecontent" + i);
			if (i == id)
			{
				articlenav.className = 'bg_nav';
				articlecontent.style.display = "";
			}
			else
			{
				articlenav.className = 'bg_nav_current';
				articlecontent.style.display = "none";
			}
		}
	}
</script>
<div class="nav_1">
  <li onmouseover="ShowarticleContent('0')" id="articlenav0" class="bg_nav">焦点文章</li>
  <li onmouseover="ShowarticleContent('1')" id="articlenav1" class="bg_nav_current">推荐文章</li>
  <li onmouseover="ShowarticleContent('2')" id="articlenav2" class="bg_nav_current">热点文章</li>
</div>
<div class="showbox">
  <div id="articlecontent0">{tag_频道首页焦点文章}</div>
  <div id="articlecontent1" style="display:none;">{tag_频道首页推荐}</div>
  <div id="articlecontent2" style="display:none;">{tag_频道首页热点}</div>
</div>
    </td>
    <td width="8"></td>
    <td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>最新公告</h1><h2><a href="{$MODULE[announce][linkurl]}index.php?keyid={$channelid}" class="more">更多</a></h2></div>
<!--最新公告列表-->{tag_频道首页最新公告}
	<div class="rightcats"><h1>最新专题</h1><h2><a href="{$CHA[linkurl]}special/" class="more">更多</a></h2></div>
<!--最新专题列表-->{tag_文章频道首页专题列表}</td>


  </tr>
</table>
<table width="980" cellpadding="0" cellspacing="0" class="mar_5">
  <tr>
    <td width="760" valign="top">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
<table height="5" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>
</table>
	<div class="cat_box_1">
          <div class="cat_title">
	   <div class="cat_name">图片文章</div>
	  </div>
          {tag_频道首页图片文章}
        </div>
<!--搜索框-->
<!--自定义栏目开始-->
{loop $childcats $i $cat}

    <div class="cat_box">
          <div class="cat_title">
	      <div class="cat_name">{$cat[catname]}</div>
	      <div class="cat_url"><a href="{$cat[linkurl]}" class="more">更多</a></div>
	  </div>
          {tag_频道首页栏目最新文章}
      </div>
{if $i%2!=1}
<!--两列之间的间隔-->
<div class="float_left"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>
{/if}
{/loop}
<!--自定义栏目结束-->

	</td>
    <td width="10"></td>
    <td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>投票调查</h1><h2><a href="{$MODULE[vote][linkurl]}index.php?keyid={$channelid}" class="more">更多</a></h2></div>

     <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td>{tag_文章频道首页投票}</td>
        </tr>
      </table>
	  {if $MODULE[digg]}
<div class="rightcats"><h1>今日文章DIGG排行</h1><h2><a href="{PHPCMS_PATH}/digg/list.php?digg_mod={$mod}{if $catid}&digg_catid={$catid}{/if}">更多</a></h2></div>

     <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td>{tag_今日文章DIGG列表}</td>
        </tr>
      </table>
	  {/if}

<div class="rightcats"><h1>友情链接</h1><h2><a href="{$MODULE[link][linkurl]}" class="more">更多</a></h2></div>
{tag_文章频道首页logo链接}
<br/>
{tag_文章频道首页文字链接}
    </td>
  </tr>
</table>

{template 'phpcms','footer'}