{template 'phpcms','header'}
<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="260" align="center">

<!--幻灯片标签-->
{$slidepicarticle(0,$channelid,0,1,0,5,30,0,0,5,250,180,5000,-1)}

    </td>
    <td width="10"></td>
    <td valign="top" width="490">

    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td class="titlebar" width="100">推荐文章</td>
        <td width="10" height="25"><img src="{$skindir}/images/tit3_r.jpg"></td>
        <td align="right" class="bg_titlebar"><a href="{$channelurl}search.php?elite=1&search=1" class="more">更多</a>&nbsp;</td>
        <td width="36"><img src="{$skindir}/images/tit2_r.jpg"></td>
      </tr>
    </table>

<!--推荐文章列表-->
{$articlelist(0,$channelid,0,1,0,0,10,50,0,1,0,1,2,1,0,0,1,1)}
   </td>
    <td width="10"></td>
    <td width="210" valign="top" class="gray">
      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
          <td width="62%">最新公告</td>
          <td width="14%"><a href="{PHPCMS_PATH}announce/?channelid={$channelid}" class="more">更多</a></td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
        </tr>
      </table>
<!--最新公告列表-->
{$announcelist(0,$channelid,0,5,30,0,0,1,200,100)}
	</td>
  </tr>
</table>
<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
  <tr>
    <td width="760" valign="top">
	<!--图片文章-->
	<table width="100%"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="titlebar" width="107">图片文章</td>
        <td width="10" height="25"><img src="{$skindir}/images/tit3_r.jpg"></td>
        <td class="bg_titlebar" width="602" align="right"></td>
        <td  width="37"><img src="{$skindir}/images/tit2_r.jpg"></td>
      </tr>
    </table>
	{$picarticle(0,$channelid,0,0,0,0,5,22,0,0,0,1,1,1,134,96,5)}
<!--搜索框--><script language="Javascript" src="{PHPCMS_PATH}data/js/search.js"></script>
</td>
    <td width="10"> </td>
    <td width="210" valign="top" class="gray">
    <table width="100%"  cellspacing="0" cellpadding="5" class="sidebar">
      <tr>
        <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
        <td width="62%">最新专题</td>
        <td width="14%"><a href="{$channelurl}special/" class="more">更多</a></td>
        <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
      </tr>
    </table>
<!--最新专题列表-->
{$speciallist(0,$channelid,0,0,1,28,50,0,0,4,100,100,1)}
	</td>
  </tr>
</table>
<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10">  </td>
  </tr>
</table>
<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="760" valign="top">
<!--自定义栏目开始-->
	  <table width="100%"  cellspacing="0" cellpadding="0">
 {loop $childcats $i $cat}
      {if $i%2==0}<tr>{/if}
        <td valign="top" style="padding:0 5px;">
	  <table width="100%"  cellspacing="0" cellpadding="0">
            <tr>
              <td class="titlebar" width="100">{$cat[catname]}</td>
              <td width="10" height="25"><img src="{$skindir}/images/tit3_r.jpg"></td>
              <td width="225" align="right" class="bg_titlebar"><a href="{$cat[caturl]}" class="more">更多</a>&nbsp;</td>
              <td  width="36"><img src="{$skindir}/images/tit2_r.jpg"></td>
            </tr>
          </table>

	  {$articlelist(0,$channelid,$cat[catid],1,0,0,10,30,0,0,0,$cat[ordertype],2,1,0,0,$cat[target],1)}

	</td>
     {if $i%2==1}</tr>{/if}
{/loop}
      </table>
<!--自定义栏目结束-->
	</td>
    <td width="10">&nbsp;</td>
    <td width="210" valign="top" class="gray">
      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
          <td width="62%">投票调查</td>
          <td width="14%"><a href="{PHPCMS_PATH}vote/?channelid={$channelid}" class="more">更多</a></td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
        </tr>
      </table>
<!--投票调查-->
     <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td>{$voteshow(0,0,$channelid)}</td>
        </tr>
      </table>

      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
          <td width="62%">友情链接</td>
          <td width="14%"><a href="{PHPCMS_PATH}link/?channelid={$channelid}" class="more">更多</a></td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
        </tr>
      </table>
<!--友情链接-->
{$linklist(0,$channelid,1,0,10,2)}
{$linklist(0,$channelid,0,0,10,2)}
	  </td>
  </tr>
</table>
{template 'phpcms','footer'}