<table cellpadding="0" cellspacing="0" class="tag_box">
{loop $articles $i $article}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}">
{if $datetype}<span class="datetime f_r">{$article[adddate]}</span>{/if}
·{if $showcatname}<a href="{$article[catlinkurl]}"{$target}>[{$article[catname]}]</a>{/if} {$article[type]} <a href="{$article[linkurl]}" title="{$article[title]}" {$target} class="tag_title_link">{$article[stitle]}</a>
{if $article['showcommentlink']}&nbsp;<a href="{$MODULE['comment']['linkurl']}index.php?keyid={$channelid}&itemid={$article[articleid]}&itemurl={$urlencode($article[linkurl])}&title={$urlencode($article[title])}" target="_blank"><span class="font_red">评</span></a> {/if}
{if $showhits}({$article[hits]}){/if}
{if $showauthor}[作者:{$article[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$article[introduce]}</span>{/if}    
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}