<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
{loop $articles $i $article}
<tr>
   <td height="20">
{$article[img]} <a href="{$article[url]}" title="{$article[alt]}" class="tag_title_link">{$article[title]}</a>
{if $article[showcommentlink]}&nbsp;<a href="{PHPCMS_PATH}comment/index.php?item=articleid&itemid={$article[articleid]}" target="_blank"><span class="color_red">评</span></a>{/if}
{if $datetype}[<span class="tag_date">{$article[adddate]}</span>]{/if}
   </td>
</tr>
{/loop}
</table>