<div class="membercatslist">
<ul>
<li><a href="{$MOD[linkurl]}manage.php?action=stats"><span>统计信息</span></a></li>
<li><a href="{$MOD[linkurl]}manage.php?action=code"><span>获取代码</span></a></li>
<li><a href="{$MOD[linkurl]}manage.php?action=visit"><span>访问记录</span></a></li>
<li><a href="{$MOD[linkurl]}manage.php?action=reguser"><span>注册用户</span></a></li>
<li><a href="{$MOD[linkurl]}manage.php?action=expend"><span>用户消费记录</span></a></li>
<li><a href="{$MOD[linkurl]}manage.php?action=pay"><span>结算记录</span></a></li>
<li><a href="{$MOD[linkurl]}edit.php"><span>修改资料</span></a></li>
</ul>
</div>
<br />
<table cellpadding="2" cellspacing="1" class="mar_10 border_1" width="750">
  <tr>
    <td class="td_left">
	&nbsp;&nbsp;&nbsp;&nbsp;如果您有网站或者博客，您可以在网站上做文字或者图片广告链接到 <font color="red">{$PHP_SITEURL}union/?{$_userid}</font> ，当然您也可以把这个链接发到QQ好友、QQ群或者论坛。<br />
	&nbsp;&nbsp;&nbsp;&nbsp;只要访客点击该广告链接并且在3个月内注册为 {$PHP_SITEURL} 的用户，那么该用户就会成为您的下线，以后该用户在本站的所有消费都将按照 <font color="red">{$profitmargin}%</font> 给您提成。我们将于<font color="red">每月1号至10号</font>把您应得的推广提成支付到您的支付宝帐号。
	</td>
  </tr>
</table>
<br />