{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10">
</td>
<td class="right" valign="top">
{template "union","menu"}
<div class="memberborder_1">
<div class="memberborder_2">
<h1>推广联盟统计信息</h1>
  <table cellpadding="2" cellspacing="1" class="righttable">
  <tr>
    <td class="td_left" width="20%">用户名：</td>
    <td class="td_left">{$_username}</td>
  </tr>
  <tr>
    <td class="td_left">来访次数：</td>
    <td class="td_left">{$visits} 次 （<a href="{$MOD[linkurl]}manage.php?action=visit">查看来访记录</a>）</td>
  </tr>
  <tr>
    <td class="td_left">注册用户数：</td>
    <td class="td_left">{$registers} 个（<a href="{$MOD[linkurl]}manage.php?action=reguser">查看注册用户</a>）</td>
  </tr>
   <tr>
    <td class="td_left">本期用户消费总额：</td>
    <td class="td_left">{$settleexpendamount}元 （<a href="{$MOD[linkurl]}manage.php?action=expend&starttime={$lastpaytime}">查看本期用户消费记录</a>）</td>
  </tr>
  <tr>
    <td class="td_left">本期应结算金额：</td>
    <td class="td_left"><font color="red">{$settleamount}元</font></td>
  </tr>
  <tr>
    <td class="td_left">本期利润率：</td>
    <td class="td_left">{$profitmargin}%</td>
  </tr>
  <tr>
    <td class="td_left">用户消费总额：</td>
    <td class="td_left">{$allexpendamount}元 （<a href="{$MOD[linkurl]}manage.php?action=expend">查看用户消费记录</a>）</td>
  </tr>
   <tr>
    <td class="td_left">已结算的用户消费总额：</td>
    <td class="td_left">{$totalexpendamount}元</td>
  </tr>
   <tr>
    <td class="td_left">已结算总额：</td>
    <td class="td_left">{$totalpayamount}元 （<a href="{$MOD[linkurl]}manage.php?action=pay">查看结算记录</a>）</td>
  </tr>
   <tr>
    <td class="td_left">上期结算金额：</td>
    <td class="td_left">{$lastpayamount}元</td>
  </tr>
  <tr>
    <td class="td_left">上期结算时间：</td>
    <td class="td_left">{$lastpaydate}</td>
  </tr>
</table>
</div></div>
<br />
<div class="memberborder_1">
<div class="memberborder_2">
<h1>推广联盟代码</h1>
  <table cellpadding="2" cellspacing="1" class="righttable">
  <tr>
    <td class="td_left">推广链接</td>
    <td class="td_left">{$PHP_SITEURL}union/?{$_userid}</td>
  </tr>
  <tr>
    <td class="td_left" colspan=2>
	·点击“<a href="{$MOD[linkurl]}manage.php?action=stats">统计信息</a>”可查看您的业绩情况<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=visit">访问记录</a>”可查看点过广告的访客记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=reguser">注册用户</a>”可查看点过广告并注册为会员的注册用户记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=expend">用户消费记录</a>”可查看您的下线会员的所有消费记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=pay">结算记录</a>”可查看每次本站给您支付的推广提成记录<br />
	·点击“<a href="{$MOD[linkurl]}edit.php">修改资料</a>”可修改您的支付宝帐号和联系方式<br />
	</td>
  </tr>
</table>
</div></div>

</td>
</tr>
</table>
{template "phpcms","footer"}