{template "phpcms","header"}
<link href="{$skindir}/search.css" rel="stylesheet" type="text/css" />
<script language="javascript">

function validEmail(emailV)
{
if (emailV.length < 6) return false;
   	if (emailV.indexOf("@") < 1) return false;
   	if (emailV.indexOf("@") > (emailV.length-4)) return false;
for (var i=0; i < emailV.length; i++)
{
	var tempV = emailV.substring(i, i+1);
	if (tempV == ' ' || tempV == '"' || tempV == "'" || tempV == ";" || tempV == "`" || tempV == "<" || tempV == ">")
	{ 
	return false;
	}
}
return true;
}

function check()
{

   if (validEmail(myform.mail_to.value)==false)
   {
   		alert("请输入有效的收件人邮件地址!");
		myform.mail_to.focus();
		return false ;
   }
   if (myform.subject.value == "")
   {
   		alert("请输入邮件主题!");
		myform.subject.focus();
		return false ;
   }
   return true;     
 }
</script>
<div id="censent">
<div class="search33 boxmargin"><h6  id="bt11" class="boxmargin">{$mailmessage}</h6>
		<form name="myform" action="{$channelurl}search.php" method="get">
		<ul class="hhh1"><li>收件人Email：</li><li>邮件主题：</li><li>邮件内容：</li><li>验证码：</li><li>&nbsp;</li></ul><ul class="hhh2">
		<li><input name="mailto" type="text" id="mail_to" size="30" value="{$mailto}">
          <font color="red">*</font>
        </li>
		<li><input name="title" type="text" id="title" size="50" value="{$title}"><font color="red">*</font></li>
		<li><textarea name="content" rows="10" cols="50">{$content}</textarea>{$editor("content","phpcms",550,350)}<font color="red">*</font></li>
		<li><input name="checkcodestr" type="text" id="checkcodestr" size="6" value="">
		  <img src="{PHPCMS_PATH}checkcode.php"  onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" />
          <font color="red">*</font></li>
       <li><input name="dosubmit" type="submit" class="button" value=" 发送 ">
            <input name="Reset" type="reset" class="button" value=" 重置 "></li>
</ul>
</form>
  </div>
</div>
{template "phpcms","footer"}