{template 'phpcms','header'}
<link href="{$skindir}/movie.css" rel="stylesheet" type="text/css">
<div id="censent">
  <div id="movecenl">
    <div class="movebtleft"><div><span><a href="{$linkurl}">&nbsp;</a></span>影片排行</div></div>
    <div class="movenr" >
<ul>
{tag_影片排行}
</ul>
    <div id="clear"></div>
    </div><div class="mvoecbot boxmargin "></div>
  </div>
  <div id="movecenr">
<div class="boxmargin" id="bt11"><a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</div>
<div class="layout search boxmargin boxl">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
</div>

{tag_终极栏目影片列表}</div>
</div>
</div>
{template 'phpcms','footer'}