{template 'phpcms','header'}
<link href="{$skindir}/movie.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
// 表单提交检测
function doCheck(){

	// 检测表单的有效性
	// 如：标题不能为空，内容不能为空，等等....
	if ($('catid').value=='0'){
		alert('指定的栏目不允许添加影片！只允许在其子栏目中添加影片。');
		$('catid').focus();
		return false;
	}
	if ($('title').value=='') {
		alert('对不起，标题不能为空！');
        $('title').focus();
		return false;
	}

	{if $MOD['check_code']}
	if ($('checkcodestr').value=='') {
		alert("请输入验证码!");
		$('checkcodestr').focus();
		return false;
	}
	{/if}

}
</script>
<script type="text/javascript">
function setid()
{
	str='';
	if(!$F('num'))
	$F('num')=1;
	for(i=$F('num');i<=$F('endnum');i++)
	{
	if($F('endnum')<10)
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><br>';
	}
	else if($F('endnum')<100)
	{
	if(i<10)
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+'0'+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><BR>';
	}
	else
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><BR>';
	}
	} 
	else if($F('endnum')<1000)
	{
	if(i<10)
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+'00'+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><BR>';
	} 
	else if(i<100)
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+'0'+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><BR>';
	}
	else
	{
	str+='<input type="text" name="url[]" size=50 value="'+$F('pc_movieieurl')+''+i+''+$F('pc_vodie')+'" class="Input">&nbsp;前台显示<input name="txt[]" type="text" value="'+i+'" size="4" class="Input"/><BR>';
	}
	}
	}
	$('upid').innerHTML=str+'<br>';
	$('showupid').style.display='block';
} 
</script>
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
<div class="membercatslist">
<ul>
<li><a href="{$channelurl}myitem.php?action=add"><span>发表影片</span></a></li>
<li><a href="{$channelurl}myitem.php?action=manage&status=3"><span>已通过</span></a></li>
<li><a href="{$channelurl}myitem.php?action=manage&status=1"><span>待审核</span></a></li>
<li><a href="{$channelurl}myitem.php?action=manage&status=0"><span>草稿</span></a></li>
<li><a href="{$channelurl}myitem.php?action=manage&status=2"><span>退稿</span></a></li>
</ul>
</div>
<div class="clearboth"></div>
<table cellpadding="0" cellspacing="0" class="righttable">
  <tr>
    <td class="td_right"><font color="red">Tips:请务必认真填写，信息一经通过，将无法修改！ </font></td>
  </tr>
</table>
<div class="memberborder_1">
<div class="memberborder_2">
{if $action=='add'}
<h1>发布影片</h1>
<form action="{$channelurl}myitem.php?action=add" method="post" name="myform" onsubmit="return doCheck();">
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
    <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 所属栏目</strong></td>
      <td class="td_left" width="85%">{$category_select}</td>
    </tr>
  <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 选择播放器</strong></td>
      <td class="td_left" width="85%">
<table width="40%" border="0" cellpadding="0" cellspacing="0">
<tr>
	<td><span {if $MOD['choose_mode']}style="display:none"{/if} id="autoselect">{$player_select}</span></TD>
	<td><input name="autoselect" type="radio"  value="1"  {if $MOD['choose_mode']} checked{/if} onclick="$('autoselect').style.display='none'"/> 自动
	<input name="autoselect" type="radio"  value="0" {if !$MOD['choose_mode']} checked{/if} onclick="$('autoselect').style.display='block'"/> 手动</td>
</tr>
</table>
	</td>
    </tr>

    <tr> 
      <td class="td_right"><strong><font color="#FF0000">*</font> 标题</strong></td>
      <td class="td_left">{$type_select} <input name="title" type="text" id="title" size="50"></td>
    </tr>
	<tr> 
	<td class="td_right"><strong>开头字母</strong></td>
	<td class="td_left"><input name="letter" type="text" id="letter" size="5" value="{$letter}"> 程序会自动添加标题的第一个字符</td>
	</tr>
    <tr> 
      <td class="td_right"><strong>关键词</strong></td>
      <td class="td_left"><input name="keywords" type="text" id="keywords" size="50"> 多个关键词之间请用半角逗号“,”隔开</td>
    </tr>
	<tr> 
	<td class="td_right"><strong>观看方式</strong></td>
	<td class="td_left">
	<input type="checkbox" name="onlineview" value="1" {if $MOD['onlineview']} checked {/if}> 在线播放
	<input type="checkbox" name="allowdown" value="1" {if $MOD['allowdown']} checked {/if}> 允许下载

	</td>
	</tr>
	<tr> 
	<td class="td_right"><strong>连载状态</strong></td>
	<td class="td_left">
	<input name="serialization" type="radio"  value="0" {if !$MOD['serialization']} checked{/if}/> 连载中
	<input name="serialization" type="radio"  value="1" {if $MOD['serialization']} checked{/if}/> 连载完成
	</td>
	</tr>
	 <tr> 
      <td class="td_right"><strong>大缩略图</strong></td>
      <td class="td_left">
         <input name="bigthumb" type="text" id="bigthumb" size="50"> <input type="button" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}uppic.php?channelid={$channelid}&uploadtext=bigthumb&type=thumb&width={$MOD[bigthumb_width]}&height={$MOD[bigthumb_height]}','upload','360','300')">
		</td>
    </tr>
	 <tr> 
      <td class="td_right"><strong>小缩略图</strong></td>
      <td class="td_left">
         <input name="thumb" type="text" id="thumb" size="50"> <input type="button" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}uppic.php?channelid={$channelid}&uploadtext=thumb&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')">
		</td>
    </tr>
  <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 影片服务器</strong></td>
      <td class="td_left" width="85%">{$server_select} </td>
    </tr>
	<tr> 
		<td class="td_right"><strong>播放地址</strong></td>
		<td class="td_left">
		<input name="pc_movieieurl" type="text" class="Input" id="pc_movieieurl" size="35" />
		开始集数：
		<input name="num" type="text" class="Input" id="num" value="1" size="4" />
		结束
		<label>
		<input name="enum" type="text" class="Input" id="endnum" value="1" size="4">
		</label>
		节目格式：
		<input name="pc_vodie" type="text" class="Input" id="pc_vodie" value=".{$MOD['extension']}" size="6" />
		<input name="Submit2" type="button" class="Button" onClick="setid();" value="设定" />
		</td>
	</tr>
	<tr id="showupid" style="display:none"> 
		<td class="td_right">&nbsp;</td>
		<td class="td_left" id="upid"></td>
	</tr>
    <tr> 
      <td class="td_right"><strong>简介</strong></td>
      <td class="td_left">
		<textarea name="introduce" id="introduce" cols="100" rows="25"></textarea>
		{$editor("introduce",$MOD['editor_mode'],$MOD['editor_width'],$MOD['editor_height'])}
   </td>
    {$fields}
{if $MOD['check_code']}
    <tr> 
      <td class="td_right"><strong>验证码</strong></td>
      <td class="td_left"><input name="checkcodestr" type="text" size="15" id="checkcodestr"><img src="<?=PHPCMS_PATH?>checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
    <tr> 
      <td class="td_center" colspan="2"><input type="submit" name="dosubmit" value=" 发表 "> &nbsp; <input type="reset" name="reset" value=" 重置 "></td>
    </tr>
	<tr> 
      <td class="td_right"><strong>影片状态</strong></td>
      <td class="td_left">
		<input name="status" type="radio" value="3" {if $status==3}checked{/if} {if $disabled}disabled{/if}> 已通过
		<input name="status" type="radio" value="1" {if !isset($status) || $status==1}checked{/if} > 待审核
		<input name="status" type="radio" value="0" {if isset($status) && $status==0}checked{/if}>草稿
	</td>
    </tr>
</tbody>
</table>
</form>

{elseif $action=='edit'}
<form action="{$channelurl}myitem.php?action=edit&movieid={$movieid}" method="post" name="myform" onsubmit="return doCheck();">
<h1>编辑投稿</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
    <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 所属栏目</strong></td>
      <td class="td_left" width="85%">{$category_select}</td>
    </tr>
  <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 选择播放器</strong></td>
      <td class="td_left" width="85%">
		<table width="40%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><span {if $autoselect}style="display:none"{/if} id="autoselect">{$player_select}</span></TD>
			<td><input name="autoselect" type="radio"  value="1"  {if $autoselect} checked{/if} onclick="$('autoselect').style.display='none'"/> 自动
			<input name="autoselect" type="radio"  value="0" {if !$autoselect} checked{/if} onclick="$('autoselect').style.display='block'"/> 手动</td>
		</tr>
		</table>
	</td>
    </tr>

    <tr> 
      <td class="td_right"><strong><font color="#FF0000">*</font> 标题</strong></td>
      <td class="td_left">{$type_select} <input name="title" type="text" id="title" size="50" value="{$title}"></td>
    </tr>
	<tr> 
	<td class="td_right"><strong>开头字母</strong></td>
	<td class="td_left"><input name="letter" type="text" id="letter" size="5" value="{$letter}"> 程序会自动添加标题的第一个字符</td>
	</tr>
    <tr> 
      <td class="td_right"><strong>关键词</strong></td>
      <td class="td_left"><input name="keywords" type="text" id="keywords" size="50" value="{$keywords}"> 多个关键词之间请用半角逗号“,”隔开</td>
    </tr>
	<tr> 
	<td class="td_right"><strong>观看方式</strong></td>
	<td class="td_left">
	<input type="checkbox" name="onlineview" value="1" {if $onlineview} checked {/if}> 在线播放
	<input type="checkbox" name="allowdown" value="1" {if $allowdown} checked {/if}> 允许下载

	</td>
	</tr>
	<tr> 
	<td class="td_right"><strong>连载状态</strong></td>
	<td class="td_left">
	<input name="serialization" type="radio"  value="0" {if !$serialization} checked{/if}/> 连载中
	<input name="serialization" type="radio"  value="1" {if $serialization} checked{/if}/> 连载完成
	</td>
	</tr>
	 <tr> 
      <td class="td_right"><strong>大缩略图</strong></td>
      <td class="td_left">
         <input name="bigthumb" type="text" id="bigthumb" size="50" value="{$bigthumb}"> <input type="button" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}uppic.php?channelid={$channelid}&uploadtext=bigthumb&type=thumb&width={$MOD[bigthumb_width]}&height={$MOD[bigthumb_height]}','upload','360','300')">
		</td>
    </tr>
	 <tr> 
      <td class="td_right"><strong>小缩略图</strong></td>
      <td class="td_left">
         <input name="thumb" type="text" id="thumb" size="50" value="{$thumb}"> <input type="button" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}uppic.php?channelid={$channelid}&uploadtext=thumb&type=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}','upload','360','300')">
		</td>
    </tr>
  <tr> 
      <td class="td_right" width="15%"> <strong><font color='#FF0000'>*</font> 影片服务器</strong></td>
      <td class="td_left" width="85%">{$server_select} </td>
    </tr>
	<tr> 
		<td class="td_right"><strong>播放地址</strong></td>
		<td class="td_left">
		<input name="pc_movieieurl" type="text" class="Input" id="pc_movieieurl" size="35" />
		开始集数：
		<input name="num" type="text" class="Input" id="num" value="{$editEndnum}" size="4" />
		结束
		<label>
		<input name="enum" type="text" class="Input" id="endnum" value="{$editEndnum}" size="4">
		</label>
		节目格式：
		<input name="pc_vodie" type="text" class="Input" id="pc_vodie" value=".{$MOD['extension']}" size="6" />
		<input name="Submit2" type="button" class="Button" onClick="setid();" value="设定" />
		</td>
	</tr>
	<tr> 
	<td class="td_right"></td>
	<td class="td_left">{$movieUrlEdit}
	</td>
	</tr>
	<tr id="showupid" style="display:none"> 
		<td class="td_right">&nbsp;</td>
		<td class="td_left" id="upid"></td>
	</tr>
    <tr> 
      <td class="td_right"><strong>简介</strong></td>
      <td class="td_left">
		<textarea name="introduce" id="introduce" cols="100" rows="25">{$introduce}</textarea>
		{$editor("introduce",$MOD['editor_mode'],$MOD['editor_width'],$MOD['editor_height'])}
   </td>
    {$fields}
{if $MOD['check_code']}
    <tr> 
      <td class="td_right"><strong>验证码</strong></td>
      <td class="td_left"><input name="checkcodestr" type="text" size="15" id="checkcodestr"><img src="<?=PHPCMS_PATH?>checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
    <tr> 
      <td class="td_center" colspan="2"><input type="submit" name="dosubmit" value=" 编辑 "></td>
    </tr>
	<tr> 
      <td class="td_right"><strong>影片状态</strong></td>
      <td class="td_left">
		<input name="status" type="radio" value="3" {if $status==3}checked{/if} {if $disabled}disabled{/if}> 已通过
		<input name="status" type="radio" value="1" {if !isset($status) || $status==1}checked{/if} > 待审核
		<input name="status" type="radio" value="0" {if isset($status) && $status==0}checked{/if}>草稿
	</td>
    </tr>
</tbody>
</table>
</form>

{elseif $action=='preview'}
<h1>{$title}</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
  <tr>
    <td class="td_right" width="15%"><strong>标题</strong></td>
	<td class="td_left" width="85%">{$title}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>栏目</strong></td>
	<td class="td_left">{$catname}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>标题</strong></td>
	<td class="td_left">{$title}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>关键词</strong></td>
    <td class="td_left">{$keywords}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>日期</strong></td>
    <td class="td_left">{$adddate}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>作者/厂商</strong></td>
    <td class="td_left">{$author}</td>
  </tr>
  <tr>
    <td class="td_right"><strong>官方主页</strong></td>
    <td class="td_left">{$homepage}</td>
  </tr>
  
  <tr>
    <td class="td_right"><strong>简介</strong></td>
    <td class="td_left">{$introduce}</td>
  </tr>
    <tr>
    <td class="td_right"><strong>缩略图</strong></td>
    <td class="td_left"><a href="{$thumb}" target="_blank">{$thumb}</td>
  </tr>

   <tr>
    <td class="td_right"><strong>影片地址</strong></td>
    <td class="td_left">
	{loop $movieurls $v}
	<a href="{$v[url]}" >{$v[name]}: {$v[url]}</a><br/>
	{/loop}
	</td>
  </tr>
  {loop $fields $f}
    <tr>
    <td class="td_right"><strong>{$f[title]}</strong></td>
    <td class="td_left">{$f[value]}</td>
  </tr>
  {/loop}
  <tr>
   <td class="td_right"> </td>
    <td class="td_left"  align="right">
	<a href="#" onclick="javascript:history.go(-1);">返回</a>
	<a href="{$channelurl}myitem.php?action=edit&movieid={$movieid}">编辑</a>
	<a href="{$channelurl}myitem.php?action=delete&movieid={$movieid}">删除</a>	
	</td>
  </tr>
</table>
{elseif $action=='manage'}
<h1>影片管理 [ {if $status==3}已通过{elseif $status==1}待审核{elseif $status==0}草稿{elseif $status==2}退稿{/if} ]</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
<tr align="center">
<td width="8%" class="td_center">ID</td>
<td width="43%" class="td_center">标题</td>
<td width="15%" class="td_center">栏目</td>
<td width="12%" class="td_center">发表时间</td>
<td width="10%" class="td_center">点击</td>
<td width="12%" class="td_center">管理操作</td>
</tr>
{loop $movies  $movie}
<tr align="center" onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor="#ffffff">
<td class="td_center">{$movie[movieid]}</td>
<td class="td_left">&nbsp;{if $movie[type]}{$movie[type]} {/if}{if $movie['status']==3}<a href="{$movie['linkurl']}" target="_blank">{else}<a href="{$channelurl}myitem.php?action=preview&movieid={$movie[movieid]}">{/if}{$movie['title']}</a>
</td>
<td class="td_center"><a href="{$movie['catlinkurl']}" target="_blank">{$movie['catname']}</a></td>
<td class="td_center">{$movie['adddate']}</td>
<td class="td_center">{$movie['hits']}</td>
<td class="td_center">{if $movie['status']<3}<a href="{$channelurl}myitem.php?action=edit&movieid={$movie[movieid]}">编辑</a> | <a href="{$channelurl}myitem.php?action=delete&movieid={$movie[movieid]}">删除</a>{else}<span style="color:#C0C0C0">编辑 | 删除</span>{/if}</td>
</tr>
{/loop}
</tbody>
</table>

<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">{$pages}</td>
  </tr>
</table>
<form name="search" action="{$channelurl}myitem.php">
<table width="100%" cellpadding="0" cellspacing="0" class="righttable">
<tbody>
  <tr>
    <td height="30" class="td_center">
    <input name="status" type="hidden" value="{$status}">
	<select name="srchtype">
	<option value="0" {if $searchtype==0}selected{/if}> 标题 </option>
	<option value="2" {if $searchtype==1}selected{/if}> 作者 </option>
	</select>&nbsp;
	<input name="keywords" type="text" size="30" value="{$keywords}">&nbsp;
	{$category_select}
	<select name="ordertype">
	<option value="0" {if $ordertype==0}selected{/if}>影片排序排序</option>
	<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
	<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
	<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
	<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
	</select>
	<input name="submit" type="submit" value="影片搜索"></td>
  </tr>
</tbody>
</table>
</form>
{/if}
</div></div>
</td>
</tr>
</table>
{template 'phpcms','footer'}