{loop $movies $i $movie}
<div class="piccentent"><a href="{$movie['linkurl']}" {$target}><img src="{$movie[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$movie[alt]}" /></a>
<a href="{$movie['linkurl']}" title="{$movie['title']}" {$target} class="tag_title_link"><strong>{$movie[type]}
{$movie[stitle]}{if $datetype}[<span class="datetime">{$movie[adddate]}</span>]{/if}
</strong></a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$movie['linkurl']}" {$target} >{$movie[introduce]}</a><DIV style="CLEAR: both"></DIV></div>
{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}