{loop $movies $i $movie}
     <div class="mxiannr boxmargin"><a href="{$movie[linkurl]}" title="{$movie[title]}"{$target}><img src="{$movie[thumb]}" width="{$imgwidth}" height="{$imgheight}"/></a><a href="{$movie[linkurl]}" title="{$movie[title]}"{$target}><h3>{$movie[stitle]}</h3></a>
    <ul>
        <li>主要演员：{$my_actor}</li>
        <li>观看次数：{$movie[totalview]}</li>
        <li>评分等级：{$movie[stars]}</li>
        <li>内容介绍：</li>
      </ul>
        <div class="mnrjs">&nbsp;&nbsp;{$movie[introduce]}</div>
        <div id="clear"></div></div>
		{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}