<table width="100%"  cellpadding="4" cellspacing="0">
{loop $movies $i $movie}
{if $i%$cols==0}<tr>{/if}
<td width="{$width}" valign="top">

	<table width="100%" cellpadding="0" cellspacing="0" class="movie_tab">
	<tr>
	<td align="center"><a href="{$movie['linkurl']}" {$target}><img src="{$movie[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$movie[alt]}" /></a></td>
	</tr>
	<tr>
	<td align="center">
	{$movie[type]} <a href="{$movie['linkurl']}" title="{$movie['title']}" {$target} class="tag_title_link">{$movie[stitle]}</a>
	{if $datetype}[<span class="datetime">{$movie[adddate]}</span>]{/if}
	</tr>
	{if $introducelen}
	<tr>
	<td><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$movie[introduce]}</span></td>
	</tr>
	{/if}
	</table>

</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}