<!--{loop $movies $i $movie}-->
<div class="xunhuan">
        <a href="{$movie['linkurl']}" {$target}><img src="{$movie[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$movie[alt]}"></a>
        <a href="{$movie['linkurl']}" {$target}><b>{$movie[stitle]}</b></a>
        {if $datetype}<span>日期：[<span class="datetime">{$movie[adddate]}</span>]</span>{/if}
	<br><span>主演：{$movie[my_actor]}</span><br>
        <span>等级：{$movie[stars]}</span><br><span>点播次数：{$movie[totalview]}</span>
        </div>
		<!--{/loop}-->
<!--{if $pages}-->
<div class="pages">{$pages}</div>
<!--{/if}-->