{template 'product','header'}
<link href="{$skindir}/mall.css" rel="stylesheet" type="text/css">
<div  id="censent">
  <div id="mallleft">
    <div class="gwmall boxmargin" ><a href="{$MOD[linkurl]}cart.php" target="_blank"><img src="{$skindir}/images/ckgwc.gif" class="wztp" /></a><img src="{$skindir}/images/gwaw.gif" class="wztp" />
    <div class="rhgm"><img src="{$skindir}/images/gwli.gif" />&nbsp;如何购买&nbsp;<img src="{$skindir}/images/gwli.gif" />&nbsp;如何购买</div>
    </div>
    <div class="mbtleft">
      <div>浏览过的商品</div> 
    </div>
    <div class="boxmargin xianmall">
    <div  class="mallx1">
<!--浏览过的商品列表-->
<div class="product_liulan" id="visitedproduct">
<ul>
正在加载浏览过的商品列表......
</ul></div>
    </div>
    <div id="clear"></div>
    </div>
  </div>
  <div id="mallright">
  <div class="search_c1"> 
<!--搜索开始-->
<ul>
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
<li class="c4">搜索：</li><li>
<select name="searchtype">
<option value="pdt_name">按商品名称</option>
<option value="pdt_No">按商品编号</option>
<option value="introduce">按商品介绍</option>
</select></li>
<li class="c4">关键字：</li>
<li><input class="c2" name="keyword" type="text" /></li>
<li class="c4">价格范围：</li>
<li><input class="c3" name="fromprice" type="text" />-<input class="c3" name="toprice" type="text" /></li>
<li><input type="hidden" name="dosubmit" value="1" />
<input type="hidden" name="search" value="1" />
<input src="{$skindir}/images/ss.gif" alt="搜索" type="image" /></li>
<li class="c4"><a href="{$MOD[linkurl]}search.php" class="red">详细</a></li>
</form></ul>
<!--搜索结束-->
</div>
    <div class="mbtleft">
      <div><em class="btys">当前位置：<a href="{PHPCMS_PATH}product/">商城首页</a> >> {$position} {$title}</em></div> 
    </div>
	

<div class="xianmall boxmargin mallx1">
<div style="margin-top:15px;clear:both"></div>
 <div class="cat_box_1">
   <div class="cat_title">
     <h1> 确认收货地址</h1>
   </div>
<form action="{$MOD[linkurl]}payment.php?action=showorder" method="POST" onSubmit="return CheckForm();">
     <table width="100%" cellspacing="0" cellpadding="0" class="righttable">
       <tr>
         <td width="18%" class="td_right">收货人姓名：</td>
         <td width="78%" class="td_left"><input type="text" name="checkaddress[truename]" id="truename" value="{$truename}" /></td>
       </tr>
       <tr>
         <td class="td_right">省/市：</td>
         <td class="td_left"><select name="checkaddress[province]" id="province" onchange="javascript:loadcity(this.value);">
             <option value="0" selected="selected">请选择</option>
           </select>
             <select name="checkaddress[city]" id="city" onchange="javascript:loadarea($('province').value, this.value);">
               <option value="0" selected="selected">请选择</option>
             </select>
             <select name="checkaddress[area]" id="area">
               <option value="0" selected="selected">请选择</option>
             </select>
             <script language="JavaScript" type="text/javascript">
<!--
var phpcms_path = '{PHPCMS_PATH}';
var selectedprovince = '{$province}';
var selectedcity = '{$city}';
var selectedarea = '{$area}';
//-->
   </script>
             <script type="text/javascript" src="{PHPCMS_PATH}include/js/area.js"></script>         </td>
       </tr>
       <tr>
         <td class="td_right">邮件地址：</td>
         <td class="td_left"><input type="text" name="checkaddress[email]" id="email" value="{$email}" /></td>
       </tr>
       <tr>
         <td class="td_right">详细地址：</td>
         <td class="td_left"><textarea name="checkaddress[address]" cols="36" rows="2" id="address">{$address}</textarea></td>
       </tr>
       <tr>
         <td class="td_right">邮政编码：</td>
         <td class="td_left"><input type="text" name="checkaddress[postid]"  id="postid" value="{$postid}" /></td>
       </tr>
       <tr>
         <td class="td_right">电话：</td>
         <td class="td_left"><input type="text" name="checkaddress[telephone]" id="telephone" value="{$telephone}" /></td>
       </tr>
       <tr>
         <td class="td_right">手机：</td>
         <td class="td_left"><input type="text" name="checkaddress[mobile]" id="mobile" value="{$mobile}" /></td>
       </tr>
       <tr>
         <td class="td_right">备注信息：</td>
         <td class="td_left"><textarea name="checkaddress[note]" cols="36" rows="2">{$note}</textarea></td>
       </tr>
       <tr>
         <td class="td_right">&nbsp;</td>
         <td class="td_left"><input type="submit" name="submit2" value="确定" /></td>
       </tr>
     </table>
   </form>
 </div>
 <div id="clear"></div>
  <div>
  </div>
  </div>
  </div></div>
  <script type="text/javascript" src="{$MOD[linkurl]}visited.php?productid=0&visitednum={$MOD[visitednum]}"></script>
{template 'phpcms','footer'}