{template 'product','header'}
<link href="{$skindir}/search.css" rel="stylesheet" type="text/css" />
<div id="censent">
  <div class="search33 boxmargin" style="display:{if $notshow && $MOD['showsearchtable']}none{else}block{/if};"><h6  id="bt11" class="boxmargin">商品搜索</h6>
<form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit="return CheckForm();">
<ul class="hhh1"><li>搜索范围</li><li>关键字</li><li>所属栏目</li><li>所属品牌</li><li>商品价格</li><li>市场价格</li><li>热卖商品</li><li>附属分类</li><li>更新时间</li><li>排序方式</li></ul>
<ul class="hhh2">
  <li><input type="radio" class="radio" name="searchtype" value="pdt_name" {if $searchtype=='pdt_name'}checked{/if}> 
		商品名称
		<input type="radio" class="radio" name="searchtype" value="pdt_No" {if $searchtype=='pdt_No'}checked{/if}>		
		 商品编号
		 <input type="radio" class="radio" name="searchtype" value="introduce" {if $searchtype=='introduce'}checked{/if}> 
		 商品介绍</li>
		<li> <input name="keywords" type="text" size="30" value="{$keywords}"> * 多个关键词之间用空格隔开</li>
		<li>{$category_select}</li>
		<li>{$brand_select}</li>
		<li>从
            <input name="fromprice" id="fromprice" type="text" size="10" value="{$fromprice}">
            到
            <input name="toprice" type="text" id="toprice" size="10" value="{$toprice}"></li>
          <li>从
            <input name="frommarketprice" type="text" size="10" value="{$frommarketprice}">
到
<input name="tomarketprice" type="text" size="10" value="{$tomarketprice}"></li>
		  
          <li>超过
            <input name="sales" type="text" size="8" value="{$sales}">
            次</li>
		  
		<li>{$subtype_select}</li>
		<li>
		<select name="searchfrom">
		<option value="0" {if !$searchfrom}selected{/if}>全部时间</option>
		<option value="1" {if $searchfrom==1}selected{/if}>1 天前</option>
		<option value="2" {if $searchfrom==2}selected{/if}>2 天前</option>
		<option value="7" {if $searchfrom==7}selected{/if}>1 周前</option>
		<option value="30" {if $searchfrom==30}selected{/if}>1 个月前</option>
		<option value="90" {if $searchfrom==90}selected{/if}>3 个月前</option>
		<option value="180" {if $searchfrom==180}selected{/if}>6 个月前</option>
		<option value="365" {if $searchfrom==365}selected{/if}>1 年前</option>
		</select>
		<input type="radio" class="radio" name="before" value="0" {if !$before}checked{/if}> 之后
		<input type="radio" class="radio" name="before" value="1" {if $before}checked{/if}> 之前
		</li>

<li>
		<select name="ordertype">
		<option value="0" {if $ordertype==0}selected{/if}>商品排序排序</option>
		<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
		<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
		<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
		<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
		</select>
		</li>

		<li style="padding-left:125px;">
	            <input type="hidden" name="search" value="1">
	            <input type="submit" value="立即搜索" class="btn" />
	            <input type="button" onClick="window.location='search.php'" value="重新搜索" class="btn" />		
        </li>
</ul>
		</form>
<div style="clear:both"></div>
	<!--{if $search}-->
	<div class="ssjg">您输入的关键词<strong><font color=red>{$keywords}</font></strong>，共搜索到<font color=red>{$number}</font>个结果</div>

	<!--{loop $searchs $product}-->
	<div class="wznn">
	<h2><a href="{$product[linkurl]}" target="_blank" class="searchtitle">{$product[pdt_name]}</a></h2> [价格：{$product[price]}]
	<!--{if $product['pdt_thumb']}-->
	<img src="{$imgurl($product['pdt_thumb'])}">
	<!--{/if}-->
	
	<!--{if $MOD['showsearchintroduce'] && $product['introduce']}-->
	{$product[introduce]}
	<!--{/if}-->
	</div>
	<div style="clear:both"></div>
	<!--{/loop}-->
<div class="pages">{$pages}</div>
<!--{/if}-->
</div>
<div style="clear:both"></div>
</div>
<div style="clear:both"></div>
<script language="javascript">
function CheckForm(){
	if($F('fromprice')!='' && !Common.isnumber($F('fromprice')))
	{
		alert('价格必须为整/小数');
		$('fromprice').focus();
		return FALSE;
	}
	if($F('toprice')!='' && !Common.isnumber($F('toprice')))
	{
		alert('价格必须为整/小数');
		$('toprice').focus();
		return FALSE;
	}
	if($F('frommarketprice')!='' && !Common.isnumber($F('frommarketprice')))
	{
		alert('价格必须为整/小数');
		$('frommarketprice').focus();
		return FALSE;
	}
	if($F('tomarketprice')!='' && !Common.isnumber($F('tomarketprice')))
	{
		alert('价格必须为整/小数');
		$('tomarketprice').focus();
		return FALSE;
	}
}
</script>

{template 'phpcms','footer'}