<!--{loop $products $k $product}-->
<div class="mtplistz">
    <div class="mtplist"><a href="{$product[linkurl]}" title="{$product[pdt_name]}" {$target}><img src="{$product[pdt_thumb]}" width="{$imgwidth}" height="{$imgheight}" border="0" {if $showalt} alt="{$product[alt]}" {/if} hspace="10" /></a><span><img src="images/fd.gif" width="20" height="19" /><a href="{$product[pdt_thumb]}">查看更多图片</a></span></div>
    <div><ul>
<li class="mbtw"><!--{if $showcatname}-->[<a href="{$product[catlinkurl]}" {$target}  class="tag_title_link">{$product[catname]}</a>]<!--{/if}-->
				<!--{if $showtitle}--><a href="{$product[linkurl]}" title="{$product[pdt_name]}" {$target} class="tag_title_link">{$product[cut_pdt_name]}</a><br/><!--{/if}--></li>
<li class="mcpjj"> 产品简介</li>
<li><!--{if $descriptionlen}--><span class="tag_introduce">{$product[pdt_description]}</span><!--{/if}--></li>
<li class="mscj"><!--{if $showmarketprice}-->市场价格:<s>{$product[marketprice]}</s><!--{/if}-->
<!--{if $showprice}-->  价格:{$product[price]}<br/><!--{/if}-->
<!--{if $showcartlink}--><a href="{$MODULE[product][linkurl]}cart.php?productid={$product[productid]}&action=add">放入购物车</a>&nbsp;&nbsp;<!--{/if}-->
			<!--{if $showviewlink}-->	<a href="{$product[linkurl]}">查看商品</a>&nbsp;<!--{/if}-->
</li>
    </ul>
    </div>
    <div  style="clear:both"></div>
  </div>
<!--{/loop}-->