<!--{loop $products $i $product}-->
<li><span>01</span>
<!--{if $showbrand}-->[{$product[brandname]}]<!--{/if}--><!--{if $showcatname}-->[<a href="$r['catlinkurl']" {$target}>{$product[catname]}</a>]<!--{/if}--> <a href="{$product[linkurl]}" title="{$product[pdt_name]}"  {$target}>{$product[cut_pdt_name]}</a>
<!--{if $showhits}-->({$product[hits]}次)<!--{/if}-->
<!--{if $showprice}-->[价格:{$product[price]}]<!--{/if}-->
<!--{if $showmarketprice}-->[市场价格:{$product[marketprice]}]<!--{/if}-->
<!--{if $datetype}-->[<span class="tag_date">{$product[addtime]}</span>]<!--{/if}-->
<!--{if $descriptionlen}--><br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$product[pdt_description]}</span><!--{/if}--> 
<!--{if $showcartlink}-->&nbsp;&nbsp;<a href="{$MODULE[product][linkurl]}cart.php?productid={$product[productid]}&action=add">放入购物车</a>&nbsp;&nbsp;<!--{/if}-->
<!--{if $showviewlink}--><a href="{$product[linkurl]}">查看商品</a>&nbsp;<!--{/if}--></li>
<!--{/loop}-->
