{template 'movie','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="760" valign="top">
<!--位置导航-->
	<div class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}
    </div>
<!--子栏目名称列表-->
    <div class="subnav">{tag_频道子栏目列表}</div>

<!--{if $enableadd}-->
<div class="cat_box_1">
<div class="cat_title">
<div class="cat_name">{$catname}</div>
<div class="cat_url"><a class="more" href="{$linkurl}">更多 &gt;&gt;</a></div>
</div>
<table cellspacing="0" cellpadding="0" width="100%">
	<tbody>
		<tr>
		<td valign="top" width="50%">{tag_一级栏目影片列表}</td>
		<td width="10"></td>
		<td valign="top"  width="50%">{tag_栏目页图片影片列表}</td>
		</tr>
	</tbody>
</table>
</div>
<!--{/if}-->

<!--自定义栏目开始-->
{loop $arrchildid $i $childcat}
<div class="cat_box">
  <div class="cat_title">
    <div class="cat_name">{$childcat[catname]}</div>
	<div class="cat_url"><a href="{$childcat[linkurl]}" target="{$childcat[target]}" class="more">更多</a></div>
  </div>
{tag_子栏目最新影片}</div>
{if $i%2!==1}<!--两列之间的间隔--><div class="float_left"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>{/if}{/loop}
<!--自定义栏目结束-->
<!--搜索框-->
  </td>
    <td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>推荐影片</h1></div>
        {tag_推荐影片}
	  <div class="rightcats"><h1>影片排行</h1></div>
        {tag_影片排行}
    </td>
  </tr>
</table>
{template 'phpcms','footer'}