{template 'movie','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="760" valign="top">
<!--位置导航-->
	<div class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}</div>

<!--影片列表-->
{tag_终极栏目影片列表}
	</td>
	<td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>推荐影片</h1></div>
        {tag_推荐影片}
	  <div class="rightcats"><h1>影片排行</h1></div>
        {tag_影片排行}
    </td>
  </tr>
</table>
{template 'phpcms','footer'}