{template 'movie','header'}

<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="760" valign="top" class="content">
	<!--位置导航-->
	<div class="position_1">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</div>
<!--影视文档名称-->
<h1>{$title}</h1>
<div class="border_3 mar_5">
    <table width="100%" class="border_4 righttable">
  <tr>
    <td width="117" rowspan="4" class="td_center">
<!--影视文档图片-->
    <img src="{$thumb}" border="0" width="115" height="160" /></td>
<!--影视文档属性-->
    <td width="74" class="td_right">主演：</td>
    <td colspan="3" class="td_left">{$my_actor}&nbsp;</td>
    </tr>
  
  
  <tr>
    <td class="td_right">国家/地区：</td>
    <td width="117" class="td_left">{$areaType}&nbsp;</td>
    <td width="73" class="td_right">发布人：</td>
    <td width="354" class="td_left"><a href="{$MODULE[member][linkurl]}member.php?username={$username}" class="member_url">{$username}</a> &nbsp;</td>
  </tr>
  
  <tr>
    <td class="td_right">评分等级：</td>
	<td class="td_left">{$stars}</td>
    <td class="td_right">添加时间：</td>
	<td class="td_left">{$adddate}</td>
  </tr>
  <tr>
	<td class="td_right">浏览次数：</td>
	<td class="td_left"><span id="hits">{$hits}</span></td>
    <td class="td_right">&nbsp;点播次数：</td>
	<td class="td_left">&nbsp;<span id="totalview">0</span>（今日：<span id="todayview">0</span>，本周：<span id="weekview">0</span>，本月：<span id="monthview">0</span>）&nbsp;</td>
  </tr>
</table>
</div>
<!--影视地址-->
	<table width="740" cellpadding="0" cellspacing="5" class="downaddress">
      <tr>
        <td width="14%" align="center"><img src="{$skindir}/images/onlineview.gif" width="82" height="20"></td>
        <td width="86%"> {loop $movieUrls $movieUrl} <a href="javascript:openwinx('{$channelurl}play.php?itemid={$movieid}&id={$movieUrl['id']}','play{$movieid}{$movieUrl['id']}','620','400')">【{$movieUrl['txt']}】</a> {/loop}</td>
      </tr>
	  {if $allowdown}
	  <tr>
        <td width="14%" align="center"><img src="{$skindir}/images/down.gif" width="82" height="20"></td>
        <td width="86%"> {loop $movieUrls $movieUrl} <a href="javascript:openwinx('{$channelurl}down.php?itemid={$movieid}&id={$movieUrl['id']}','down','620','400')">【{$movieUrl['txt']}】</a> {/loop}</td>
      </tr>
	  {/if}
    </table>
	<table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
  <div class="cat_title">
    <div class="cat_name">影片介绍</div>
    <div class="cat_url"><a href="#" class="more"></a></div></div>
	{$introduce}</div>
<div id="par" class="iconbox">
  <form action="{$MODULE['mail']['linkurl']}sendmail.php" name="sendmail" id="sendmail">
<input type="hidden" name="title" value="推荐《{$title}》" />
<input type="hidden" name="content" value="<a href={$itemurl} target=_blank>{$title}<br/>{$itemurl}</a>" />
</form>
  <a href="#comment" class="comment_icon">发表评论</a>　<a href="javascript:window.external.addFavorite(window.location,'{$title}')" class="favorites_icon">加入收藏</a>　<a href="javascript:$('sendmail').submit();" class="friend_icon">告诉好友</a>　<a href="javascript:window.print();" class="print_icon">打印本页</a>　<a href="javascript:window.close()" class="close_icon">关闭窗口</a>　<a href="#top" class="top_icon">返回顶部</a></div>
  <div class="cat_title">
    <div class="cat_name">相关影视</div>
	<div class="cat_url"><a href="#" class="more"></a></div>
  </div>
{tag_相关影视}
  </div>
<!--评论部分-->
<script type="text/javascript" src="{$MODULE['comment']['linkurl']}list_js.php?keyid={$channelid}&itemid={$movieid}&commentnum=10&ordertype=1&title={$urlencode($title)}"></script>
</td>
    <td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>最新影视</h1></div>
        {tag_侧栏最新影视}
	<div class="rightcats"><h1>推荐影视</h1></div>
        {tag_推荐影片}
	<div class="rightcats"><h1>影视排行</h1></div>
       {tag_影片排行}
	</td>
  </tr>
</table>
<script type="text/javascript" src="{$channelurl}show_js.php?itemid={$itemid}"></script>
<BR>
{template 'phpcms','footer'}