<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$head[title]}-{$PHPCMS[sitename]}</title>
<meta name="keywords" content="{$head[title]}">
<meta name="description" content="{$head[title]}">
<link href="{$skindir}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width="300" align="center" cellpadding="0" cellspacing="5" bgcolor="#f4f4f4" style="border:1px solid #dcdcdc; margin-top:100px">
  <tr>
    <td height="200" align="center" bgcolor="#FFFFFF">
	{if $purview_message}
	{$purview_message}
	{else}
	<a href="{$channelurl}download.php?auth={$auth}"><img src="{$skindir}/images/down_1.gif" alt="" border="0"></a>
	{/if}
	</td>
  </tr>
</table>
<!--{if isset($MODULE['stat'])}--><script type="text/javascript" src="{$MODULE[stat][linkurl]}stat.php"></script><!--{/if}-->
</body>
</html>