{template 'movie','header'}
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="265" class="slidepic" valign="top">
	<script>
	function ShowarticleContent(id)
	{
		for (var i = 0;i < 3;i++)
		{
			var articlenav = document.getElementById("articlenav" + i);
			var articlecontent = document.getElementById("articlecontent" + i);
			if (i == id)
			{
				articlenav.className = 'bg_nav';
				articlecontent.style.display = "";
			}
			else
			{
				articlenav.className = 'bg_nav_current';
				articlecontent.style.display = "none";
			}
		}
	}
</script>
<div class="movie_1">
  <li onClick="ShowarticleContent('0')" id="articlenav0" class="bg_nav">最新上榜</li>
  <li onClick="ShowarticleContent('1')" id="articlenav1" class="bg_nav_current">点播排行</li>
  <li onClick="ShowarticleContent('2')" id="articlenav2" class="bg_nav_current">推荐影视</li>
</div>
<div class="showbox_movie">
  <div id="articlecontent0">{tag_频道首页最新电影}</div>
  <div id="articlecontent1" style="display:none;">{tag_频道首页热门电影}</div>
  <div id="articlecontent2" style="display:none;">{tag_频道首页推荐电影}</div>
</div></td>
    <td width="8"></td>
    <td valign="top" width="470">{tag_影片频道首页幻灯片}</td>
    <td width="8"></td>
    <td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>最新公告</h1><h2><a href="{$MODULE[announce][linkurl]}index.php?keyid={$channelid}" class="more">更多</a></h2></div>
<!--最新公告列表-->{tag_频道首页最新公告}
	<div class="rightcats"><h1>最新专题</h1><h2><a href="{$CHA[linkurl]}special/" class="more">更多</a></h2></div>
<!--最新专题列表-->
{tag_影片频道首页专题} </td>
  </tr>
</table>

<table width="980" cellpadding="0" cellspacing="0" class="mar_5">
  <tr>
    <td width="760" valign="top">
	<table width="100%"  cellspacing="0" cellpadding="0">
	<tbody>
      <tr>
        <td valign="top">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
<table height="5" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>
</table>
            <!--自定义栏目开始-->
          {loop $childcats $i $cat}
          <div class="cat_box">          
            <div class="cat_title">
              <div class="cat_name">{$cat[catname]}</div>
              <div class="cat_url"><a href="{$cat[linkurl]}" class="more">更多</a></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="60%" valign="top">{tag_影片频道首页自定义栏目列表}</td>
                <td width="40%" valign="top">{tag_频道自定义栏目列表}</td>
              </tr>
            </table>
            </div>
          {if $i%2!=1}
          <!--两列之间的间隔-->
          <div class="float_left"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>
          {/if}
          {/loop}
          <!--自定义栏目结束--></td>
      </tr>
     </tbody>
    </table></td>
    <td width="10"></td>
    <td width="210" valign="top" class="right_bg"><!--最新专题列表标签-->
      <!--最新公告列表标签-->
      <div class="rightcats"><h1>按字母浏览</h1><h2><a href="{$MOD['linkurl']}letter.php" class="more">更多</a></h2></div>
	  <div class="letter">
<ul>
<li><a href="{$MOD['linkurl']}letter.php?letter=a" target="_self" >A</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=b" target="_self" >B</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=c" target="_self" >C</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=d" target="_self" >D</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=e" target="_self" >E</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=f" target="_self" >F</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=g" target="_self" >G</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=h" target="_self" >H</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=i" target="_self" >I</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=j" target="_self" >J</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=k" target="_self" >K</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=l" target="_self" >L</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=m" target="_self" >M</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=n" target="_self" >N</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=o" target="_self" >O</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=p" target="_self" >P</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=q" target="_self" >Q</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=r" target="_self" >R</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=s" target="_self" >S</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=t" target="_self" >T</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=u" target="_self" >U</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=v" target="_self" >V</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=w" target="_self" >W</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=x" target="_self" >X</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=y" target="_self" >Y</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=z" target="_self" >Z</a></li>
</ul>
</div>
	  <div class="rightcats"><h1>投票调查</h1><h2><a href="{$MODULE[vote][linkurl]}index.php?keyid={$channelid}" class="more">更多</a></h2></div>
       <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td>{tag_影片频道首页投票}</td>
        </tr>
       </table>
	   <div class="rightcats"><h1>播放工具</h1></div>
       <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td><a href="http://download.microsoft.com/download/ie6sp1/finrel/6_sp1/W98NT42KMeXP/CN/ie6setup.exe"><img src="{$skindir}/images/ie.jpg" ></a> <a href="http://download.microsoft.com/download/9/4/0/94072943-9188-4a60-b31f-3031f18404e4/mpsetup.exe"><img src="{$skindir}/images/wm.jpg" ></a></br>
		  <a href=""><img src="{$skindir}/images/rp.jpg" ></a> <a href="{$skindir}/BoBo_ActiveX_V3.exe"><img src="{$skindir}/images/BoBo_Player.gif" ></a></td>
        </tr>
       </table>
	  <div class="rightcats"><h1>友情链接</h1><h2><a href="{$MODULE[link][linkurl]}" class="more">更多</a></h2></div> 
{tag_影片频道首页logo链接}
{tag_影片频道首页文字链接}</td>
  </tr>
</table>
{template 'phpcms','footer'}