{template 'movie','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
<td width="760" valign="top">
	<!--位置导航-->
	<div class="position">当前位置：<a href="{$CHA[linkurl]}">频道首页</a> >> <a href="{$CHA[linkurl]}letter.php">按字母浏览首页</a> >></div>
    <!--搜索框-->
	{loop $letters $letter}
	<div class="cat_title">
	<div class="cat_name">{$letter} </div>
	</div>
	<table width="100%" cellpadding="0" cellspacing="0">
	  <tr>
	   <td width="98%" valign="top">
		{tag_字母终级调用列表}
	   </td>
	  </tr>
	</table>
{/loop}
</td>
<td width="10"></td>
    <td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>按字母浏览</h1><h2><a href="{$MOD['linkurl']}letter.php" class="more">更多</a></h2></div>

<div class="letter">
<ul>
<li><a href="{$MOD['linkurl']}letter.php?letter=a" target="_self" >A</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=b" target="_self" >B</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=c" target="_self" >C</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=d" target="_self" >D</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=e" target="_self" >E</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=f" target="_self" >F</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=g" target="_self" >G</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=h" target="_self" >H</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=i" target="_self" >I</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=j" target="_self" >J</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=k" target="_self" >K</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=l" target="_self" >L</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=m" target="_self" >M</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=n" target="_self" >N</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=o" target="_self" >O</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=p" target="_self" >P</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=q" target="_self" >Q</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=r" target="_self" >R</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=s" target="_self" >S</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=t" target="_self" >T</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=u" target="_self" >U</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=v" target="_self" >V</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=w" target="_self" >W</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=x" target="_self" >X</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=y" target="_self" >Y</a></li>
<li><a href="{$MOD['linkurl']}letter.php?letter=z" target="_self" >Z</a></li>
</ul>
</div>
   </td>
  </tr>
</table>
{template 'phpcms','footer'}