<table cellSpacing=0 cellPadding=0 border=0>
{loop $movies $i $movie}
 {if $i%$cols==0}
 <tr ><td colspan=4><hr size=6 noshade="noshade" color="#F7F7F7"/></td></tr>
  <tr>
{/if}
    <td width="15%" height="25" align="left" >
<table cellSpacing=3 cellPadding=0 border=0>
		<tr> 
			<td><IMG height=4 src="{$skindir}/images/01.gif" width=130></td>
		</tr>
		<tr> 
			<td vAlign=center align=middle class="thumb02" height=170><a href="{$movie[linkurl]}" title="{$movie[title]}" {$target}><IMG height={$imgheight} src="{$movie[thumb]}" width={$imgwidth} border=0 ></A></td>
		</tr>
		<tr> 
			<td><IMG height=4 src="{$skindir}/images/03.gif" width=130></td>
		</tr>
</table>
</td>
    <td align="left" >
	名称：<a href="{$movie[linkurl]}" title="{$movie[title]}" {$target}><B>{$movie[stitle]}</B></a><br />
	主演：{$movie[my_actor]}<br />
	地区：{$movie[type]}<br />
    等级：{$movie[stars]} <br /> 
    添加时间：{$movie[adddate]} <br /> 
    点播次数：{$movie[totalview]} <br />
	影片简介：{$movie[introduce]} </td>
 {if $i%$cols==($cols-1)}
  </tr>
{/if}

{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}