{template 'movie','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
<td width="760" valign="top">
	<!--位置导航-->
	<div class="position">当前位置：<a href="{$CHA[linkurl]}">频道首页</a> >> <a href="{$CHA[linkurl]}type.php">类别首页</a> >></div>
    <!--搜索框-->
	<div class="cat_title">
	<div class="cat_name"><a href="{$CHA[linkurl]}type.php?typeid={$typeid}" class="more">{$name}</a></div>
	</div>
    <!--类别列表-->
    {tag_类别影片列表}
</td>
<td width="10"></td>
    <td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>类别导航</h1><h2></h2></div>
      <div class="slidepic_1">{phpcms_type(0, $channelid)}</div>
   </td>
  </tr>
</table>

{template 'phpcms','footer'}