{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template 'member','left'}
</td>
<td width="10">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>基本资料</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tr>
<td width="15%" class="td_right">用 户 名：&nbsp;</td>
<td width="35%" class="td_left">{$username}&nbsp;</td>
<td width="15%" class="td_right">E-MAIL：&nbsp;</td>
<td width="35%" class="td_left">{$email}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">会 员 组：&nbsp;</td>
<td  class="td_left">{$groupname}&nbsp;{if $groupnames}（{$groupnames}）{/if}</td>
<td  class="td_right">计费方式：&nbsp;</td>
<td  class="td_left">{$chargetype}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">资金余额：&nbsp;</td>
<td  class="td_left">{$money}元&nbsp;</td>
<td  class="td_right">消费金额：&nbsp;</td>
<td  class="td_left">{$payment}元&nbsp;</td>
</tr>
<tr>
<td  class="td_right">可用点数：&nbsp;</td>
<td  class="td_left">{$point}点&nbsp;</td>
<td  class="td_right">可用积分：&nbsp;</td>
<td  class="td_left">{$credit}分&nbsp;</td>
</tr>
<tr>
<td  class="td_right">服务起始日期：&nbsp;</td>
<td  class="td_left">{$begindate}&nbsp;</td>
<td  class="td_right">服务截止日期：&nbsp;</td>
<td  class="td_left">{$enddate}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">发布特权：&nbsp;</td>
<td  class="td_left">{$enableaddalways}&nbsp;</td>
<td  class="td_right">购买折扣：&nbsp;</td>
<td  class="td_left">{$discount}%&nbsp;</td>
</tr>
<tr>
<td  class="td_right">注册时间：&nbsp;</td>
<td  class="td_left">{$regtime}&nbsp;</td>
<td  class="td_right">注册IP：&nbsp;</td>
<td  class="td_left">{$regip}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">最后登录时间：&nbsp;</td>
<td  class="td_left">{$lastlogintime}&nbsp;</td>
<td  class="td_right">最后登录IP：&nbsp;</td>
<td  class="td_left">{$lastloginip}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">登录次数：&nbsp;</td>
<td  class="td_left">{$logintimes}次&nbsp;</td>
<td  class="td_right">当前状态：&nbsp;</td>
<td  class="td_left">{$status}&nbsp;</td>
</tr>
</table>
<h1>详细资料</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
<tr>
<td width="15%"  class="td_right">真实姓名：&nbsp;</td>
<td width="35%"  class="td_left">{$truename}&nbsp;</td>
<td width="15%"  class="td_right">性别：&nbsp;</td>
<td width="35%"  class="td_left">{$gender}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">生日：&nbsp;</td>
<td  class="td_left">{$birthday}&nbsp;</td>
<td  class="td_right">年龄：&nbsp;</td>
<td  class="td_left">{$old}岁&nbsp;</td>
</tr>
<tr>
<td  class="td_right">证件类型：&nbsp;</td>
<td  class="td_left">{$idtype}&nbsp;</td>
<td  class="td_right">证件号码：&nbsp;</td>
<td  class="td_left">{$idcard}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">所在地区：&nbsp;</td>
<td  class="td_left">{$province} - {$city} - {$area}&nbsp;</td>
<td  class="td_right">所属行业：&nbsp;</td>
<td  class="td_left">{$industry}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">教育水平：&nbsp;</td>
<td  class="td_left">{$edulevel}&nbsp;</td>
<td  class="td_right">职    业：&nbsp;</td>
<td  class="td_left">{$occupation}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">收入状况：&nbsp;</td>
<td  class="td_left">{$income}&nbsp;</td>
<td  class="td_right">电话：&nbsp;</td>
<td  class="td_left">{$telephone}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">手机：&nbsp;</td>
<td  class="td_left">{$mobile}&nbsp;</td>
<td  class="td_right">地址：&nbsp;</td>
<td  class="td_left">{$address}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">邮编：&nbsp;</td>
<td  class="td_left">{$postid}&nbsp;</td>
<td  class="td_right">主页：&nbsp;</td>
<td  class="td_left">{$homepage}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">QQ：&nbsp;</td>
<td  class="td_left"><a href="http://wpa.qq.com/msgrd?V=1&Uin={$qq}&Site={$PHP_DOMAIN}&Menu=yes" title="点击QQ交谈" target="_blank">{$qq}</a>&nbsp;</td>
<td  class="td_right">MSN：&nbsp;</td>
<td  class="td_left">{$msn}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">ICQ：&nbsp;</td>
<td  class="td_left">{$icq}&nbsp;</td>
<td  class="td_right">Skype：&nbsp;</td>
<td  class="td_left">{$skype}&nbsp;</td>
</tr>
<tr>
<td  class="td_right">支付宝帐号：&nbsp;</td>
<td  class="td_left">{$alipay}&nbsp;</td>
<td  class="td_right">贝宝帐号：&nbsp;</td>
<td  class="td_left">{$paypal}&nbsp;</td>
</tr>
</table>
{if $fields}
<h1>其他资料</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
{$fields}
</table>
{/if}
</div></div>
</td>
</tr>
</table>
{template 'phpcms','footer'}