<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$CONFIG['charset']}">
<title>点卡数变化邮件模板</title>
</head>
<body>
<table cellpadding="2" cellspacing="1" class="tableborder">
  <tr>
    <th colspan=2>这封邮件是来自{$PHPCMS['sitename']}的点卡数变化确认邮件</td>
  </tr>
  <tr>
    <th colspan=2><br>
    </tr>
  <tr>
     <td height="25" align="right" class="tablerow">&nbsp;</td>
     <td class="tablerow">您的帐户于{$date('Y-m-d H:i:s',$PHP_TIME)}时间在我们的网站点卡数发生了变化，请确认</td>
  </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow">点卡变化数：{$readpoint} </td>
        </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow">剩余点卡：{$_point} </td>
        </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow">如果该操作不是您进行的，请联系我们</td>
        </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow"><a href="{$PHP_SITEURL}">{$PHPCMS[sitename]}</a><br>
  {$PHP_SITEURL}</td>
        </tr>
</table>
</body>
</html>