{template 'member','header'}
<div id="main">
	<div id="left">
    <div id="space">
      <h5>{$_username}的个人空间</h5>
      <img src="{$avatar}" alt="{$username}" height="150" width="150"/>
      <p>{if $is_host}<a href="{$MODULE[message][url]}inbox.php" class="msg">查看短消息</a> |{/if} <a href="{$MODULE[message][url]}send.php" class="edit">写短消息</a></p>
      <div class="clear"></div>
    </div>
    <ol>
      <li class="local"><a href="{SITE_URL}">返回网站首页</a></li>
      {if $is_host}<li class="exit"><a href="{$MODULE[member][url]}logout.php">退出登录</a></li>{/if}
    </ol>
    </div>
	<div id="right">
    	  <p id="position">
      		<strong>当前位置：</strong><a href="{$M[url]}">会员中心</a>我的收藏
          </p>
          <table cellpadding="0" cellspacing="1" class="table_list">
          	<caption>
            	{$_username}收藏的信息
            </caption>
            <tr>
            	<th><strong>标题</strong></th><th><strong>栏目</strong></th><th><strong>收藏日期</strong></th><th><strong>删除</strong></th>
            </tr>
			{loop $data['collect'] $c}
			<tr>
                <td>{$c['contentid']}、<a href="{$c['url']}" target='_blank'>{$c['title']}</td><td>{$CATEGORY[$c['catid']]['catname']}</td><td>{date('Y-m-d', $c['addtime'])}</td><td><a href='member/collect.php?action=delete&id={$c[id]}'>删除</a></td>
            </tr>
			{/loop}
          </table>
    </div>
    <div id="pages">{$data['pages']}</div>
  </div>
</div>
{template 'phpcms','footer'}