<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords">
<meta content="{$head[description]}" name="description">
<base href="{$PHPCMS[siteurl]}" />
<script language="JavaScript" src="data/config.js"></script>
<script language="JavaScript" src="images/js/jquery.min.js"></script>
<script language="JavaScript" src="images/js/css.js"></script>
<script language="JavaScript" src="images/js/common.js"></script>
<link href="{SKIN_PATH}member.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#fff">
<div id="head">
  <div id="logo"><a href="{$M[url]}" alt=""><img src="images/logo_member.gif" alt="{$PHPCMS[sitename]}"></a></div><div id="banner"></div>
</div>
<div id="membermenu">
{php $m = load('menu.class.php'); $menuid = $m->menuid('member_0');$menus = menu($menuid);}
<?=menu($menuid, '<a href="$url" >$name</a>')?>
<a href="member/collect.php">我的收藏</a>
</div>
