{template 'member','header'}
<div id="main">
{template "member","left"}
  <div id="right">
    <div id="box">
      <div class="box_l">您好，<strong>{$_username}</strong>| <a href="{$M[url]}logout.php" class="orange">退出登录</a><br />
	   类型：<strong>{$MODEL[$_modelid][name]}</strong>{if $MODULE[message]}您有 <a href="{$MODULE['message']['url']}inbox.php" class="orange">{$msg_num}</a> 条短消息{if $_message}，<a href="{$MODULE['message']['url']}inbox.php" class="orange email">收件箱</a>{/if}{/if} 
	  可用点数：<strong>{$_point}点</strong>可用资金：<strong>{$_amount}元</strong></div>
      {tag_会员中心公告}
    </div>
    <div class="clear"></div>
	{php $menuid = $m->menuid('member_1');$menus = menu($menuid);}
    <div id="quick_menu">
      <h3>控制面板</h3>
	  {loop $menus $menu}
	  {php $i++; }
		<a href="{$menu[url]}"><img src="{if $menu[image]}{$menu[image]}{else}images/icon_{$i}.jpg{/if}" alt="{$menu[name]}" /><br />{$menu[name]}</a>
	  {/loop}
        <div class="clear"></div>
      </div>
    <div class="clear"></div>
  </div>
</div>
{if $_message}<bgsound src="images/message.wav" id="message_sound" >{/if}
{template 'phpcms','footer'}