{template 'phpcms','header'}
<style type="text/css">
<!--
body {text-align:left; background:#FFF url({SKIN_PATH}images/bg_2.jpg) repeat-x 0 -94px;}
#head{ margin-top:10px; height:60px;}
#logo { float:left; width:200px; height:60px; position:static; top:0;}
-->
</style>
<div id="main">
    <div id="left">
    <div id="treemenu">
      <h5>会员类型</h5>
      <ul>
		{loop $member_model $model}
		<li><a href="{$M[url]}list.php?modelid={$model[modelid]}">{$model[name]}</a></li>
      	{/loop}
		<li><a href="{$M[url]}search.php">会员搜索</a></li>
      </ul>
    </div>
    <ol>
      <li class="local"><a href="{SITE_URL}">返回网站首页</a></li>
      <li class="exit"><a href="{$M['url']}logout.php">退出登录</a></li>
    </ol>
  </div>
  <div id="right">
  <div class="modellist_2">
    <h3>{$MODEL[$modelid][name]}</h3>
	{tag_按模型列出用户} 
 </div>
 </div>
{template 'member','footer'}
