{loop $data $k $v} 
<dl class="search_member">
<dt>
	<a href="{$MODULE[member][url]}view.php?userid={$v[userid]}" title="{$v[username]}" target="_blank"><img src="{avatar($v[userid])}" alt="{$v[username]}"  target="_blank"/></a>
</dt> 
<dd>
	<a href="{$MODULE[member][url]}view.php?userid={$v[userid]}" class="name"><span style="color:red">{$v[username]}</span></a>
	<em>所在地区： {$AREA[$v[areaid]][name]}</em>
	<em>用户组：{$GROUP[$v[groupid]]}</em>
	<em>最后登录时间：{date('Y-m-d', $v[lastlogintime])}</em>
</dd> 
<dd>
	联系方式：<em>{$v[email]}</em>
</dd>
<dd>个人空间：<a href="{url($MODULE[space][url], 1)}?userid={$v[userid]}" class="green">{url($MODULE[space][url], 1)}?userid={$v[userid]}</a>
</dd> 
</dl> 
{/loop} <div id="pages">{$pages}</div>