{template "member","header"}
<div id="main">
{template "member","left"}
<div id="right">
  <p id="position"> <strong>当前位置：</strong><a href="">首页</a><a href="{$M[url]}index.php">会员中心</a>会员升级</p>
  <form action="{$M[url]}upgrade.php" method="post" name="myform" id="myform">
    <table cellpadding="0" cellspacing="1" class="table_list">
    <caption>会员升级</caption>
      <tr>
        <th width="13%">会员级别</th>
        <th width="50%">会员特权</th>
        <th width="20%">服务期限</th>
        <th width="12%">会员资费</th>
        <th width="5%">操作</th>
      </tr>
{loop $data $n $r}
      <tr>
        <td>{$r[name]}</td>
        <td class="align_l">{str_cut(strip_tags($r[description]), 170)} <a href="{$M[url]}upgrade.php?action=view&groupid={$r[groupid]}" style="color:red">了解更多...</a></td>
        <td>
		{if $r['iscontinue']}
		<span style="color:{if $r['isexpired']}gray{else}blue{/if}">{$r['startdate']} ~ {$r['enddate']}</span>
		{/if}</td>
        <td style="color:orange;font-weight:bold;text-align:left">{if $r['price_y']>0}{$r[price_y]}元/年<br />{/if}{if $r['price_m']>0}{$r[price_m]}元/月<br />{/if}{if $r['price_d']>0}{$r[price_d]}元/天{/if}</td>
        <td>
		{if $r[disabled] || !$r[allowupgrade]}
			<font color="#cccccc">{if $r['iscontinue']}续费{else}升级{/if}</font>
		{else}
			{if $r['iscontinue']}
			<a href="{$M[url]}upgrade.php?action=continue&groupid={$r[groupid]}" style="color:green">续费</a>
			{else}
			<a href="{$M[url]}upgrade.php?action=pay&groupid={$r[groupid]}" style="color:red">升级</a>
			{/if}
		{/if}
		</td>
      </tr>
{/loop}
    </table>
  </form>
</div>
</div>
{template "member","footer"}