{template 'member','header'}
<div id="main">
	<div id="left">
    <div id="space">
      <h5>{$username}的个人空间</h5>
      <img src="{$avatar}" alt="{$username}" height="150" width="150"/>
      <p>{if $is_host}<a href="{$MODULE[message][url]}inbox.php" class="msg">查看短消息</a> |{/if} <a href="{$MODULE[message][url]}send.php?userid={$userid}" class="edit">写短消息</a></p>
      <div class="clear"></div>
    </div>
    <ol>
      <li class="local"><a href="{SITE_URL}">返回网站首页</a></li>
      {if $is_host}<li class="exit"><a href="{$MODULE[member][url]}logout.php">退出登录</a></li>{/if}
    </ol>
    </div>
	<div id="right">
    	  <p id="position">
      		<strong>当前位置：</strong><a href="{$M[url]}">会员中心</a><a href="{$M[url]}view.php?userid={$userid}">查看会员资料</a>
          </p>
          <table cellpadding="0" cellspacing="1" class="table_form">
          	<caption>
            	{$username}的资料
            </caption>
            <tr>
            	<th width="25%"><strong>用户名：</strong></th><td width="*">{$username}</td>
            </tr>
			{if $userid==$_userid}
			<tr>
            	<th><strong>E-mail：</strong></th>
                <td>{$email}</td>
            </tr>
			{/if}
			<tr>
            	<th><strong>用户组：</strong></th><td>{$GROUP[$groupid]}</td>
            </tr>
			<tr>
            	<th><strong>所在地区：</strong></th><td>{$AREA[$areaid][name]}</td>
            </tr>
			<tr>
            	<th><strong>积分：</strong></th><td>{$point}</td>
            </tr>
			<tr>
            	<th><strong>最后登录时间：</strong></th><td>{$lastlogintime}</td>
            </tr>
            <tr>
            	<th><strong>注册时间：</strong></th><td>{$regtime}</td>
            </tr>
            {if is_array($forminfos) && !empty($forminfos)}
            {loop $forminfos $k $forminfo}
            <tr>
            	<th><strong>{$k}：</strong></th><td>{$forminfo}</td>
            </tr>
            {/loop}
            {/if}
          </table>
    </div>
    <div class="clear"></div>
  </div>
</div>
{template 'phpcms','footer'}