{template 'product','header'}
<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
<tr>
    <td width="220" valign="top">
<!--查看购物车-->
<table width="210" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="{$MOD[linkurl]}cart.php" target="_blank"><img src="{$skindir}/images/cart.gif" alt="查看购物车" border="0"/></a></td>
      </tr>
    </table>
<!--商品分类-->
	<table width="10" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
<table width="210" cellspacing="0" cellpadding="0" class="shopleft_box">
      <tr>
        <td class="box_header_4">&nbsp;</td>
      </tr>
      <tr>
        <td height="180" valign="top" class="box_border_3">
<!--浏览过的商品列表-->
<div class="product_4" id="visitedproduct">
&nbsp;&nbsp;正在加载浏览过的商品列表......
</div>
		</td>
      </tr>
      <tr>
        <td class="box_footer_3"></td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top">
<div class="position">当前位置：<a href="{PHPCMS_PATH}product/">商城首页</a> >> 购物车</div>
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
	  <table width="100%" cellspacing="0" cellpadding="0" class="shopsearch">
  <tr>
    <td width="21%">查找范围：
      <select name="searchtype">
    <option value="pdt_name">按商品名称</option>
    <option value="pdt_No">按商品编号</option>
    <option value="introduce">按商品介绍</option>
    </select></td>
    <td width="25%">关键字：
      <input name="keyword" type="text" size="20" /></td>
    <td width="19%">起始价：
      <input name="fromprice" type="text" size="10" /></td>
    <td width="18%">结束价：
      <input name="toprice" type="text" size="10" /></td>
<input type="hidden" name="dosubmit" value="1" />
<input type="hidden" name="search" value="1" />
    <td width="9%"><input src="{$skindir}/images/found.gif" alt="搜索" type="image" /></td>
    <td width="8%"><a href="{$MOD[linkurl]}search.php" class="red">详细搜索</a></td>
  </tr>
</table>
</form>

<form action="?" onSubmit="return checkform();" method="POST">
<input type="hidden" name="action" value="modifynum">
<!--购物清单-->
 <div class="cat_box_1">
    <div class="cat_title"><h1>购物车</h1></div>
<table width="100%" cellspacing="0" cellpadding="0" class="righttable">
<tbody>
  <tr>
    <td width="4%" class="td_center">序号</td>
    <td width="18%" class="td_center">您选择商品</td>
    <td width="18%" class="td_center">商品编号</td>
    <td width="10%" class="td_center">市场价</td>
    <td width="10%" class="td_center">本店价</td>
    <td width="10%" class="td_center">您的价格</td>
    <td width="10%" class="td_center">数量</td>
    <td width="10%" class="td_center">金额</td>
    <td width="10%" class="td_center">操作</td>
  </tr>
<!--{loop $pdt_carts $i $v}-->
  <tr>
    <td class="td_center"><?=++$i?></td>
	<td class="td_left"><a href="{$v[linkurl]}" target="_blank">{$v[pdt_name]}</a></td>
    <td class="td_left">{$v[pdt_No]}</td>
    <td class="td_center"><s>{$v[marketprice]}</s></td>
    <td class="td_center">{$v[price]}</td>
    <td class="td_center"><font color='red'>{$v[member_price]}</font></td>
    <td class="td_center"><input type='text' name='pdt_number[{$v[cart_id]}][]' Id='pdt_number'  value='{$v[pdt_number]}' size="5"/></td>
    <td class="td_center">{$v[pdt_amount]}</td>
    <td class="td_center"><a href='{$MOD[linkurl]}cart.php?action=delete&productid={$v[productid]}'>删除该商品</a></td>
  </tr>
<!--{/loop}-->
  <tr>
    <td colspan="5" class="td_center">&nbsp;</td>
	<td colspan="3" class="td_left"><input type="submit" value="修改数量" name="dosubmit"></td>
  </tr>
</tbody>
   </table>
 </form>
<table width="100%" cellspacing="0" cellpadding="0" class="righttable">
<tbody>
  <tr>
    <td width="25%">&nbsp;</td>
    <td width="15%">总金额：￥{$total_mount}</td>
    <td width="12%">折扣：{$discount}</td>
    <td width="18%" class="font_red">您应付：￥{$member_mount}</td>
    <td width="13%"><a href="{$MOD[linkurl]}payment.php?num={count($pdt_carts)}"><img src="{$skindir}/images/pay.gif" alt="结算中心" width="78" height="18" /></a></td>
    <td width="17%"><a href="{$MOD[linkurl]}"><img src="{$skindir}/images/cont.gif" alt="继续购物" width="79" height="18" /></a></td>
  </tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<script type="text/javascript" src="{$MOD[linkurl]}visited.php?productid=0&visitednum={$MOD[visitednum]}"></script>
{template 'phpcms','footer'}

