{template 'product','header'}
<script language="javascript">
<!--
function CheckForm() {
if ($F('truename') == "")
	{
	    alert("请输入真实姓名！")
		Field.clear('truename')
		Field.focus('truename');
	    return false
	 }
if ($F('email') == "")
	{
	    alert("请输入邮件！")
		Field.clear('email')
		Field.focus('email');
	    return false
	 }
if ($F('address') == "")
	{
	    alert("请输入详细地址！")
		Field.clear('address')
		Field.focus('address');
	    return false
	 }
if ($F('telephone') == "")
	{
	    alert("请输入电话号码！")
		Field.clear('telephone')
		Field.focus('telephone');
	    return false
	 }
}
//-->
</script>

<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
<tr>
    <td width="220" valign="top">
<!--查看购物车-->
<table width="210" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="{$MOD[linkurl]}cart.php" target="_blank"><img src="{$skindir}/images/cart.gif" alt="查看购物车" border="0"/></a></td>
      </tr>
    </table>
<!--产品分类-->
	<table width="10" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
<table width="210" cellspacing="0" cellpadding="0" class="shopleft_box">
      <tr>
        <td class="box_header_4">&nbsp;</td>
      </tr>
      <tr>
        <td height="180" valign="top" class="box_border_3">
<!--浏览过的产品列表-->
<div class="product_4" id="visitedproduct">
&nbsp;&nbsp;正在加载浏览过的产品列表......
</div>
		</td>
      </tr>
      <tr>
        <td class="box_footer_3"></td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top">
<div class="position">当前位置：<a href="{PHPCMS_PATH}product/">商城首页</a> >> 购物车</div>
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
	  <table width="100%" cellspacing="0" cellpadding="0" class="shopsearch">
  <tr>
    <td width="21%">查找范围：
      <select name="searchtype">
    <option value="pdt_name">按产品名称</option>
    <option value="pdt_No">按产品编号</option>
    <option value="introduce">按产品介绍</option>
    </select></td>
    <td width="25%">关键字：
      <input name="keyword" type="text" size="20" /></td>
    <td width="19%">起始价：
      <input name="fromprice" type="text" size="10" /></td>
    <td width="18%">结束价：
      <input name="toprice" type="text" size="10" /></td>
<input type="hidden" name="dosubmit" value="1" />
<input type="hidden" name="search" value="1" />
    <td width="9%"><input src="{$skindir}/images/found.gif" alt="搜索" type="image" /></td>
    <td width="8%"><a href="{$MOD[linkurl]}search.php" class="red">详细搜索</a></td>
  </tr>
</table>
</form>
<!--购物清单-->
<div class="cat_box_1">
    <div class="cat_title"><h1>  确认收货地址</h1></div>
<form action="{$MOD[linkurl]}payment.php?action=showorder" method="POST" onSubmit="return CheckForm();">
	<table width="100%" cellspacing="0" cellpadding="0" class="righttable">
  <tr>
    <td width="18%" class="td_right">收货人姓名：</td>
    <td width="78%" class="td_left"><input type="text" name="checkaddress[truename]" id="truename" value="{$truename}"></td>
    </tr>
  <tr>
    <td class="td_right">省/市：</td>
    <td class="td_left"><select name="checkaddress[province]" id="province" onChange="javascript:loadcity(this.value);">
<option value="0" selected="selected">请选择</option>
</select>

<select name="checkaddress[city]" id="city" onChange="javascript:loadarea($('province').value, this.value);">
<option value="0" selected="selected">请选择</option>
</select>

<select name="checkaddress[area]" id="area">
<option value="0" selected="selected">请选择</option>
</select>

<script language="javascript">
<!--
var phpcms_path = '{PHPCMS_PATH}';
var selectedprovince = '{$province}';
var selectedcity = '{$city}';
var selectedarea = '{$area}';
//-->
</script>
<script type="text/javascript" src="{PHPCMS_PATH}include/js/area.js"></script>	 </td>
    </tr>
  <tr>
    <td class="td_right">邮件地址：</td>
    <td class="td_left"><input type="text" name="checkaddress[email]" id="email" value="{$email}"></td>
    </tr>
  <tr>
    <td class="td_right">详细地址：</td>
    <td class="td_left"><textarea name="checkaddress[address]" cols="36" rows="2" id="address">{$address}</textarea></td>
    </tr>
  <tr>
    <td class="td_right">邮政编码：</td>
    <td class="td_left"><input type="text" name="checkaddress[postid]"  id="postid" value="{$postid}"></td>
  </tr>
  <tr>
    <td class="td_right">电话：</td>
    <td class="td_left"><input type="text" name="checkaddress[telephone]" id="telephone" value="{$telephone}"></td>
  </tr>
  <tr>
    <td class="td_right">手机：</td>
    <td class="td_left"><input type="text" name="checkaddress[mobile]" id="mobile" value="{$mobile}"></td>
  </tr>
  <tr>
    <td class="td_right">备注信息：</td>
    <td class="td_left"><textarea name="checkaddress[note]" cols="36" rows="2">{$note}</textarea></td>
  </tr>
  <tr>
    <td class="td_right">&nbsp;</td>
    <td class="td_left">&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">&nbsp;</td>
    <td class="td_left"><input type="submit" name="submit" value="确定"></td>
  </tr>
</table>
</form>
</div>
</td>
</tr>
</table>
<script type="text/javascript" src="{$MOD[linkurl]}visited.php?productid=0&visitednum={$MOD[visitednum]}"></script>
{template 'phpcms','footer'}
