{template 'product','header'}
<style type="text/css">
<!--
.unnamed1 {font-size: 12px; font-weight: bold}
.tref {
background:#efefef;
}
.tdef{
LEFT: 0px;
WORD-WRAP: break-word;
}
.tbl{
border:1px solid #555555;
}
.trl{
border:1px solid #EEEEEE;
}
.tr_left{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #EFEFEF;
}
.td_kuang{
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: efefef;
	border-bottom-width: 1px;
	border-bottom-color: efefef;
}
-->
</style>
<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
  <tr class="position">
    <td  class="footer_border_1">　　以下是您选择的 <strong>{$pcount} </strong>款商品的对比表：</td>
  </tr>
</table>
<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="10"  class="tref"><h5>商品概况</h5></td>
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang"><font color=#000000>　　品牌</font></td>
    <!--{loop $pdts $i $k}-->
    <td class="td_kuang">　{$BRAND[$k['brand_id']]['brand_name']}</td>
  <!--{/loop}-->
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang"><font color=#000000>　　商品名称</font></td>
    <!--{loop $pdts $i $k}-->
    <td class="td_kuang">　{$k['pdt_name']}</td>
  <!--{/loop}-->
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang">　　重量</td>
    <!--{loop $pdts $i $k}-->
    <td class="td_kuang">　{$k['pdt_weight']} kg</td>
  <!--{/loop}-->
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang"><font color=#000000>　　图片</font></td>
    <!--{loop $pdts $i $k}-->
    <td class="td_kuang">　<img src="{$k['pdt_img']}"  alt="{$k['pdt_name']}"/></td>
  <!--{/loop}-->
  </tr>
  <tr   class="tref">
    <td colspan="10"><h5>产品报价</h5></td>
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang"><font color="#000000">　　本店价格</font></td>
    <!--{loop $pdts $k}-->
    <td class="td_kuang">　{$k['price']}</td>
  <!--{/loop}-->
  </tr>
  <tr class="tr_left">
    <td width="10%" class="td_kuang"><font color="#000000">　　市场价格</font></td>
    <!--{loop $pdts $k}-->
    <td class="td_kuang">　{$k['market_price']}</td>
  <!--{/loop}-->
  </tr>
  <tr   class="tref">
    <td colspan="10"><h5>详细参数</h5></td>
  </tr>
  <!--{loop $att_names $key $attname}-->
  <tr class="trl">
    <td class="td_kuang">　　{$attname}</td>
    <!--{loop $pdts $k}-->
    <td class="td_kuang">　{$k['att_value'][$key]['att_value']}</td>
    <!--{/loop}-->
	</tr>
  <!--{/loop}-->
</table>
{template 'phpcms','footer'}
