{template 'product','header'}
<style>
.noverify{
color:red;
}
.noship{
color:red;
}
.nopay{
color:red;
}
</style>
<table cellspacing="0" cellpadding="0" class="member">
  <tr>
    <td valign="top" class="left">
      {template 'member','left'}
    </td>
    <td width="10"></td>
    <td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
  <h1>我的订单</h1>
	<table width="100%" cellspacing="0" cellpadding="0" class="righttable">
      <tr>
        <td width="10%" class="td_center">序号</td>
        <td width="40%" class="td_center">订单号</td>
        <td width="25%" class="td_center">下单时间</td>
        <td width="25%" class="td_center">状态</td>
      </tr>
  <!--{loop $orders $k $odr}-->
    <tr>
      <td class="td_center"><?=++$k?></td>
      <td class="td_left">
	<a href='{$MOD[linkurl]}myorder.php?action=vieworder&odr_id={$odr[odr_id]}'>{$odr[odr_No]}</a>
	  {if $odr['ispay']=='未付款'}&nbsp;<a href='{$MOD[linkurl]}order.php?action=showpay&odr_id={$odr[odr_id]}'><font color="#0033FF">立即付款</font></a>{/if}
	  </td>
      <td class="td_center">{$odr[addtime]}</td>
      <td class="td_center">{$odr[isverify]} {$odr[ispay]} {$odr[isship]}</td>
    </tr>
  <!--{/loop}-->
  </table>
  </div></div>
  </td>
 </tr>
</table>
{template 'phpcms','footer'}
