<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>完成订单确认邮件模板</title>
</head>
<body>
<table cellpadding="2" cellspacing="1" class="tableborder">
  <tr>
    <th colspan=2>这封邮件是来自{$PHPCMS['sitename']}的订单确认邮件</td>
  </tr>
  <tr>
    <th colspan=2><br>
    </tr>
  <tr>
     <td height="25" align="right" class="tablerow">&nbsp;</td>
     <td class="tablerow">您于{$date('Y-m-d H:i:s',$PHP_TIME)}时间在我们的网站下了订单</td>
  </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow">订单号：{$odr_No} </td>
        </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow">请确认后继续付款或与我们联系上完成此此交易</td>
        </tr>
        <tr>
          <td height="35" class="tablerow">&nbsp;</td>
          <td class="tablerow"><a href="{$PHP_SITEURL}">{$PHPCMS[sitename]}</a><br>
  {$PHP_SITEURL}</td>
        </tr>
</table>
</body>
</html>