<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>购物车</title>
</head>

<body>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="2" colspan="8" ></td>
  </tr>  
  <tr>
    <td width="172" height="30">您选择购买的商品</td>
    <td width="83" align="center">商品编号</td>
    <td width="71" align="center">市场价</td>
    <td width="81" align="center">本店价</td>
    <td width="88" align="center">数量</td>
    <td width="76" align="center">金额</td>
    <td width="115">操作</td>
  </tr>
  <!--{loop $pdt_carts $v}-->
  <tr>
    <td height="31">{$v[pdt_name]}</td>
    <td align="center">{$v[pdt_No]}</td>
    <td align="center"><s>{$v[pdt_marketprice]}</s></td>
    <td align="center"><font color='red'>{$v[pdt_price]}</font></td>
    <td align="center">{$v[pdt_number]}</td>
    <td align="center">{$v[pdt_amount]}</td>
    <td align="center"><a href='{$PHP_URL}?action=delete&productid={$v[productid]}'>删除该商品</a></td>
  </tr>
  <!--{/loop}-->
  <tr>
    <td >总金额</td>
    <td colspan="8">{$total_mount}</td>
  </tr>
  <br>
  <tr>
  <td colspan="8" align="center"><a href="#">继续购物</a>&nbsp;<a href="#">去收银台</a></td>
  </tr>
  </table>
 
</body>
</html>
