{template 'product','header'}
<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
<tr>
    <td width="220" valign="top">
<!--查看购物车-->
<table width="210" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="{$MOD[linkurl]}cart.php" target="_blank"><img src="{$skindir}/images/cart.gif" alt="查看购物车" border="0"/></a></td>
      </tr>
    </table>
<!--商品分类-->
	<table width="10" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
<table width="210" cellspacing="0" cellpadding="0" class="shopleft_box">
      <tr>
        <td class="box_header_4">&nbsp;</td>
      </tr>
      <tr>
        <td height="180" valign="top" class="box_border_3">
<!--浏览过的商品列表-->
<div class="product_4" id="visitedproduct">
&nbsp;&nbsp;正在加载浏览过的商品列表......
</div>
		</td>
      </tr>
      <tr>
        <td class="box_footer_3"></td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top">
	<div class="position">当前位置：首页 >> 栏目列表 >> 查看订单</div>
 <div class="cat_box_1">
    <div class="cat_title"><h1>支付方式</h1></div>
<table width="100%"  cellspacing="0" cellpadding="0" class="righttable">
<form action="{$MOD[linkurl]}order.php?action=pay&odr_id={$odr_id}" method="POST">
	 <tr>
	 <td width="16%" class="td_right">您的帐户余额:</td>
	 <td width="84%" class="td_left"><font color="red">￥：{$_money}</font></td>
	 </tr>
	 <tr>
	 <td class="td_right">您的折扣:</td>
	 <td class="td_left">{$discount}</td>
	 </tr>
	 <tr>
	 <td class="td_right">本次订单需要支付:</td>
	 <td class="td_left">{$total_mount}×{$discount} = ￥：<font color="Red">{$member_mount}</font></td>
	 </tr>
	 <tr>
	 <td colspan="2">&nbsp;</td>
	 </tr>
	 <tr>
	 <td colspan="2" class="td_center">
       <input type="submit" name="directpay" value="直接支付"  {if $_money<$total_mount} disabled {/if}>&nbsp;&nbsp;&nbsp;
<input type="button" name="onlinepay" value="在线充值"  {if $_money>$total_mount} disabled {/if} onclick="location='{$MODULE[pay]['linkurl']}payonline.php?amount={$amount}'">
</td>
	 </tr>
  </form>
</table>
</div> 
    </td>
  </tr>
</table>
<script type="text/javascript" src="{$MOD[linkurl]}visited.php?productid=0&visitednum={$MOD[visitednum]}"></script>
{template 'phpcms','footer'}
