<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
<!--{loop $products $k $product}-->
<!--{if $k%$cols==0}--><tr><!--{/if}-->
<td height="20" width="{$width}">

		<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
		<tr>
			<td width="{$imgwidth}"><a href="{$product[linkurl]}" title="{$product[pdt_name]}" {$target}><img src="{$product[pdt_img]}" width="{$imgwidth}" height="{$imgheight}" border="0" {if $showalt} alt="{$product[alt]}" {/if} hspace="5" /></a></td>
			<td valign="top" align="left" style="line-height:20px">
				<!--{if $showcatname}-->[<a href="{$product[catlinkurl]}" {$target}  class="tag_title_link">{$product[catname]}</a>]<!--{/if}-->
				<!--{if $showtitle}--><a href="{$product[linkurl]}" title="{$product[pdt_name]}" {$target}><strong>{$product[cut_pdt_name]}</strong></a><br/><!--{/if}-->
				<!--{if $showbrand}-->品牌:{$product[brandname]}<br/><!--{/if}-->
				<!--{if $showprice}-->价格:{$product[price]}<br/><!--{/if}-->
				<!--{if $showmarketprice}-->市场价格:<s>{$product[marketprice]}</s><br/><!--{/if}-->				
				<!--{if $datetype}-->上架:<span class="tag_date">{$product[addtime]}</span><br/><!--{/if}-->
				<!--{if $descriptionlen}--><span class="tag_introduce">{$product[pdt_description]}</span><!--{/if}-->
				<br />
				<!--{if $showcartlink}--><a href="{$MODULE[product][linkurl]}cart.php?productid={$product[productid]}&action=add"><img src="{$skindir}/images/buy.gif" alt="购买商品" width="63" height="18" border="0" /></a><!--{/if}-->&nbsp;
<!--{if $showviewlink}--><a href="{$product[linkurl]}" {$target}><img src="{$skindir}/images/fav.gif" alt="查看商品" width="63" height="18" border="0" /></a><!--{/if}-->
			</td>
		</tr>
	</table>
</td>
<!--{if $k%$cols==($cols-1)}--></tr><!--{/if}-->
<!--{/loop}-->
<!--{if $pages}-->
<tr>
<td class="pages">{$pages}</td>
</tr>
<!--{/if}-->
</table>