{template 'product','header'}
<table width="980" align="center" cellpadding="0" cellspacing="0" class="mar_10">
<tr>
    <td width="220" valign="top">
<!--查看购物车-->
<table width="210" cellspacing="0" cellpadding="0">
      <tr>
        <td  height="62"><a href="{$MODULE[product][linkurl]}cart.php" target="_blank"><img src="{$skindir}/images/cart.gif" alt="查看购物车" border="0"/></a></td>
      </tr>
    </table>
<!--产品分类-->
	<table width="210" cellspacing="0" cellpadding="0" class="shopleft_box">

      <tr>
        <td class="box_header_2">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top" class="box_border_2">
<!--产品分类列表-->

<!--{loop $childcats $i $cat}-->
<div class="catlist">
  <h1><a href="{$cat[linkurl]}">{$cat[catname]}</a></h1>
<!--{loop $subcats[$i] $k $c}-->
  <li><a href="{$c[linkurl]}">{$c[catname]}</a></li>
<!--{/loop}-->
</div> 
<!--{/loop}-->
</td>
      </tr>
      <tr>
        <td class="box_footer_2"></td>
      </tr>
    </table>
<table width="210" cellspacing="0" cellpadding="0" class="shopleft_box">
      <tr>
        <td class="box_header_4">&nbsp;</td>
      </tr>
      <tr>
        <td height="180" valign="top" class="box_border_3">
<!--浏览过的产品列表-->
<div class="product_4" id="visitedproduct">
&nbsp;&nbsp;正在加载浏览过的产品列表......
</div>
		</td>
      </tr>
      <tr>
        <td class="box_footer_3"></td>
      </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top">
	<div class="position">当前位置：<a href="{$MOD[linkurl]}" target="_blank">首页</a> >> 查看订单</div>
<table cellspacing="0" cellpadding="0" width="100%" align="center"><tr><td>
<table width="100%" align="center" cellpadding="0" cellspacing="2">
  <tr>
    <td width="49%" valign="top">
<div class="border_3">
  <table width="100%" cellpadding="0" cellspacing="0" class="righttable border_5">
  <td colspan=2 class="td_center"><strong>订单信息</strong></td>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td  width="115" class="td_right"><strong>订单号</strong></td>
    <td class="td_left">{$odr_info[odr_No]}</td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>下单时间</strong></td>
    <td class="td_left">{$odr_info[addtime]}</td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>用户名</strong></td>
    <td class="td_left">{$odr_info[username]}</td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>审核状态</strong></td>
    <td class="td_left">{$odr_info[isverify]}
      操作人：
        {$odr_info[verifyuser]}
      时间：
      {$odr_info[verifytime]}    </td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>付款状态</strong></td>
    <td class="td_left">{$odr_info[ispay]}
      操作人：
        {$odr_info[payuser]}
      时间：
      {$odr_info[paytime]}</td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>发货状态</strong></td>
    <td class="td_left">{$odr_info[isship]}
      操作人：
        {$odr_info[shipuser]}
      时间：
      {$odr_info[shiptime]}</td>
  </tr>
  <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
    <td class="td_right"><strong>付款方式</strong></td>
    <td class="td_left">{$odr_info[paytype]}</td>
  </tr>
  </table>
</div></td>
<td width="10"></td>
<td valign="top">
<div class="border_3">
<table width="100%" cellpadding="2" cellspacing="1" class="border_5 righttable">
<td colspan=2 class="td_center"><strong>发货信息</strong></td> 
<tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td width="34%" class="td_right"><strong>收货人</strong>（真实姓名）</td>
<td width="66%">{$odr_info[truename]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>省市</strong>（邮编）</td>
<td>{$odr_info[province]}  {$odr_info[city]} {$odr_info[area]}&nbsp;&nbsp;邮编：{$odr_info[zipcode]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>详细地址</strong></td>
<td>{$odr_info[address]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>电话</strong></td>
<td>{$odr_info[telephone]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>手机</strong></td>
<td>{$odr_info[mobile]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>Email</strong></td>
<td>{$odr_info[email]}</td>
</tr>
<tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'"  bgcolor="#ffffff"  height="22">
<td class="td_right"><strong>备注</strong></td>
<td>{$odr_info[note]}</td>
</tr>
</table>
</div></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="5">
  <tr>
    <td></td>
  </tr>
</table>
<div class="border_3">
  <table align="center" cellpadding="0" cellspacing="0" class="righttable border_5">
    <tr>
      <td colspan=9 class="td_center"><strong>产品信息</strong></td>
    </tr>
    <form method="post" action="?mod={$mod}&file={$file}&action=listorder">
      <tr align="center">
        <td width="5%" class="td_center">ID</td>
        <td width="16%" class="td_center">产品编号</td>
        <td width="12%" class="td_center">产品名称</td>
        <td width="11%" class="td_center">分类</td>
        <td width="12%" class="td_center">品牌</td>
        <td width="13%" class="td_center">价格</td>
        <td width="10%" class="td_center">订购数量</td>
        <td width="15%" class="td_center">小计</td>
      </tr>
 <!--{loop $odr_pdts $odr_pdt}-->
      <tr  onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#dFeFFF'" bgcolor='#ffffff' height="22">
        <td class="td_center">{$odr_pdt[productid]}</td>
        <td class="td_center"><a href="{$linkurl($odr_pdt[linkurl])}" target="_blank">
          {$odr_pdt[pdt_No]}
        </a></td>
        <td class="td_center"><a href="{$linkurl($odr_pdt[linkurl])}" target="_blank">
          {$odr_pdt[pdt_name]}
        </a></td>
        <td class="td_center"><a href="{$CATEGORY[$odr_pdt[catid]][linkurl]}" target="_blank">
          {$CATEGORY[$odr_pdt[catid]][catname]}
        </a></td>
        <td class="td_center"><a href="{$MOD[linkurl]}search.php?searchtype=pdt_name&keywords=&catid=0&brand_id={$odr_pdt[brand_id]}&fromprice=&toprice=&frommarketprice=&tomarketprice=&sales=&posid=0&searchfrom=0&before=0&ordertype=0&search=1&notshow=1" target="_blank">
        {$BRANDS[$odr_pdt[brand_id]][brand_name]}</a></td>
        <td class="td_center">{$odr_pdt[price]}</td>
        <td class="td_center">{$odr_pdt[pdt_number]}</td>
        <td class="td_center">{$odr_pdt[item_total]}</td>
      </tr>
<!--{/loop}-->
      <tr align="right" height="26">
        <td colspan="8"  align="right">总计： <strong>￥
          {$total_mount}
        </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr align="right" height="26">
        <td colspan="8"  align="right"> 您的折扣：<strong><font color="red">{$discount}</font></strong> 折扣后应收：￥<strong>
          <font color="red">{$total_mount}</font>
        </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </form>
  </table>
</div>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="td_center" height="25"><input type="button" name="submits" value="返回" onClick="history.back(-1);"> </td>
  </tr>
</table>
</TD></TR></TABLE></td>
</tr>
</table>
<script type="text/javascript" src="{$MODULE[product][linkurl]}visited.php?productid=0&visitednum={$MOD[visitednum]}"></script>
{template 'phpcms','footer'}
