{template 'phpcms','header'}
<table width="980" align="center" cellpadding="1" cellspacing="1" style="background:#C0C0C0;">
<tr bgcolor="#FFFFFF">
<td>
<table width="100%"  border="0" cellspacing="3" cellpadding="3" align="center">
<tr>
<td height="23" bgcolor="#F5F5F5">&nbsp;当前位置:<a href="{PHPCMS_PATH}">网站首页</a>&gt;&gt;{$position}</td>
</tr>
</table>

<table width="100%"  border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="35" valign="middle" width="200">&nbsp;&nbsp;<a href="{$MODULE[guestbook][linkurl]}index.php?keyid={$keyid}"><img src="{PHPCMS_PATH}images/guestbook/home.gif" width="76" height="24" border="0" alt="留言首页" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$MODULE[guestbook][linkurl]}post.php?keyid={$keyid}"><img src="{PHPCMS_PATH}images/guestbook/add.gif" width="76" height="24" border="0" alt="签写留言" /></a></td>
	<form method="get" name="search" action="{$MODULE[guestbook][linkurl]}index.php?keyid={$keyid}">
	<td>
	<input name='keyid' type='hidden' value='{$keyid}'>

	关键字：
	<input name='keywords' type='text' size='30' value='{$keyword}'>&nbsp;
	<input type="radio" name="srchtype" value="0" {if (!$srchtype)} checked {/if}> 标题 	
	<input type="radio" name="srchtype" value="1" {if ($srchtype==1)} checked {/if}> 内容	
	<input type="radio" name="srchtype" value="2" {if ($srchtype==2)} checked {/if}> 会员
	<input name='submit' type='submit' value='留言搜索'>
	</td>
  </tr>
  </form>
</table>

<table width="100%"  border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>
<!--{loop $gbooks $gbook}-->
	<table width="100%"  border="0" cellspacing="0" cellpadding="0" align="center" class="guestbook_title">
	<tr>
	<td width="90%">&nbsp;&nbsp;&nbsp;<b>留言主题 :  </b>{$gbook['title']} ---- [{$gbook['addtime']}]</td>
	<td width="10%">No:{$gbook['gid']}&nbsp;</td>
	</tr>
	</table>

	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
	<td width="160" class="left_line">
		        <li><img src="{PHPCMS_PATH}images/guestbook/face/{$gbook[head]}.gif" width="88" height="99" alt="" /></li>

		        <li><b>{$gbook['username']}</b></li>

		        <li><!--{if $gbook['homepage']}--><a href="{$gbook['homepage']}" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/url.gif" width="45" height="16" border="0" alt="Homepage:{$gbook['homepage']}"></a>
				<!--{else}-->
				<img src="{PHPCMS_PATH}images/guestbook/nourl.gif" width="45" height="16" border="0" alt="Homepage">
				<!--{/if}-->
		<!--{if $gbook['email']}--><a href="mailto:{$gbook['email']}" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/email.gif" width="45" height="16" border="0" alt="Email:{$gbook['email']}"></a>
		<!--{else}-->
		<img src="{PHPCMS_PATH}images/guestbook/noemail.gif" width="45" height="16" border="0" alt="Email">
		<!--{/if}-->
		<!--{if $gbook['qq']}--><a href="http://wpa.qq.com/msgrd?V=1&Uin={$gbook['qq']}&Site={$_SERVER[HTTP_HOST]}&Menu=yes" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/oicq.gif" width="45" height="16" border="0" alt="QQ:{$gbook['qq']}">
		<!--{else}-->
		<img src="{PHPCMS_PATH}images/guestbook/nooicq.gif" width="45" height="16" border="0" alt="QQ">
		<!--{/if}-->
		        </li>
	      </td>
	<td valign="top" class="guestbook_text">
	
		    <p>{$gbook['content']}</p>
<!--{if $gbook['reply']}--><div class="dot_pane"><b>管理员 [ <font color="red">{$gbook['replyer']}</font> ] 于 <font color="red">{$gbook['replytime']}</font> 回复：</b><br>{$gbook['reply']}</div>
<!--{/if}-->
	      </td>
	
	</tr>
	</table>
	<!--{/loop}-->
<!--{if $pages}--><div class="pages">{$pages}</div><!--{/if}-->
</td>
</tr>
</table>
</td>
</tr>
</table>
{template 'phpcms','footer'}