{template 'yp','header'}
<link href="{$skindir}/yp/yellow.css" rel="stylesheet" type="text/css" />
<div id="censent"><!--content-->
  <div  id="rightproduct">
  <div id="bt11">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a> >> <a href="{$MOD[linkurl]}product.php">企业产品首页>> {$position}</div>
    <div class="listynn"><strong>按栏目选择</strong>
    {if $child && $arrchildid}
     {loop $arrchildid $child}
	  <a href="{$child[linkurl]}">{$child[catname]}</a>&nbsp;-
	  {/loop}
    {/if}</div>
    <div><ul>
    {tag_大栏目产品图片列表}
 <div id="clear" ></div>
    </div> 
  </div>
  <div id="leftproduct">
    <div class="yleftbox boxmargin">
      <div class="pbtl"><div>产品分类</div></div>
 
<div class="ynr">{loop $CATEGORY $cats}{if !$cats[parentid]}<h6><a href="{$cats[linkurl]}">{$cats[catname]}</a></h6>
<ul>{loop $CATEGORY $childcats} {if $childcats[parentid]==$cats[catid]}<a href="{$childcats[linkurl]}" class="yellow_link_1">{$childcats[catname]}</a> {/if}{/loop}</ul>{/if}{/loop}
</div>
</div>
<div>
<!--广告位-->
</div>

</div>

</div>
{template 'phpcms','footer'}