<script language="javascript">
<!--
function CheckForm()
{
	if ($F('yourname') == "")
	{
		alert("用户名不能为空！")
		Field.focus('yourname');
		return false
	}
	if ($F('telephone') == "")
	{
		alert("电话不能为空！")
		Field.focus('telephone');
		return false
	}
	if ($F('unit') == "")
	{
		alert("所在单位名称不能为空！")
		Field.focus('unit');
		return false
	}

	if ($F('email') == "")
	{
		alert("Email地址不能为空！")
		Field.focus('email');
		return false
	}
	else
	{
		var mail = $F('email');
		if(!RegExp(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/).test(mail))
		{
			alert("Email 地址错误，请检查")
			Field.focus('email');
			return false
		}
	}
	if ($F('content') == "")
	{
		alert("内容不能为空！")
		Field.focus('content');
		return false
	}
}
//-->
</script>
<div id="centent">
<div id="rightpbox">
<h2>
<div>留言本</div>
</h2>
<form action="{$guestbookurl}index.html" method="post" name="myform" id="myform" onsubmit='return CheckForm();'>
<div class=""> 
<ul class="guest"> 
	 <li class="guestform1">您的姓名：</li>
	 <li class="guestform1">公司传真：</li>
	 <li class="guestform1">联系电话：</li>
</ul>
<ul class="guest"> 
	 <li><input name="yourname" id="yourname" type="text" size="20" maxlength="10" /> *</li>
	 <li><input name="fax" id="fax" type="text" size="20"> *</li>
	 <li><input name="telephone" id="telephone" type="text" size="20" maxlength="50" value="{$telephone}"/> *</li>
</ul>
<ul class="guest"> 
	 <li class="guestform3"> QQ：</li>
	 <li class="guestform3"> 所在单位：</li>
	 <li class="guestform3"> MSN：</li>
</ul>
<ul class="guest"> 
	 <li><input name="qq" id="qq" type="text" size="20" maxlength="9" value="{$qq}"/> </li>
	 <li><input name="unit" id="unit" type="text" size="20"> * </li>
	 <li><input name="msn" id="msn" type="text" size="20" value="{$msn}"></li>
</ul>
<ul class="guest"> <li>Email：&nbsp;&nbsp;&nbsp;&nbsp;<input name="email" id="email" type="text" size="20" /></li></ul>
<ul class="guest" ><li class="guestform5">留言内容：<br />
             <textarea name="content" id="content" rows="6" cols="54"></textarea>
           <br /><input name="dosubmit" type="submit" value=" 提交询价 " />
                  <input name="companyid" type="hidden" value="{$product[companyid]}" />
                  <input name="label" type="hidden" value="{$label}" />
                  <input name="item" type="hidden" value="{$item}" />

          </li></ul></form>
</div>
<div></div>
</div>
<div id="lefepbox4">
<h2><div>热点导航</div></h2>
<ul class="rddh">
  {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2><span><a href="{$producturl}index.html">更多</a></span>
<div>热门产品</div>
</h2>
<ul class="xwzx">
{tag_企业产品页热门产品}
</ul> 
<h2><span><a href="{$salesurl}index.html">更多</a></span>
<div>促销信息</div>
</h2>
<ul class="xwzx">
{tag_企业主页促销列表}</ul>
</div>
<div style="clear:both"></div></div>	
{template 'yp','com_xhtml-footer'}