<div id="centent">

<div id="rightpbox">
<h3>
<div>求购列表</div>
</h3>
<div class="qgxx">
<ul class="xwzx">
{tag_求购信息列表}
</ul></div>
</div>

<div id="lefepbox4">
<h2><div>热点导航</div></h2>
<ul class="rddh">
  {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2><span><a href="{$producturl}index.html">更多</a></span>
<div>热门产品</div>
</h2>
<ul class="xwzx">
{tag_企业产品页热门产品}
</ul> 
<h2>
<div>最新求购</div>
</h2>
<ul class="xwzx">
{tag_企业主页最新求购列表}
</ul>
</div>
<div style="clear:both"></div></div>
{template 'yp','com_xhtml-footer'}