<div id="centent">
<div id="lefebox">
<h2><div>热点导航</div></h2>

<ul class="rddh">
{loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2><span><a href="{$articleurl}">更多</a></span>
  <div>最新新闻</div>
</h2>
<ul class="xwzx">
{tag_xhtml首页最新新闻}
</ul> 
<h2><span><a href="{$salesurl}">更多</a></span>
<div>促销信息</div>
</h2>
<ul class="xwzx">
{tag_xhtml首页促销信息}
</ul>
</div>
<div id="rightbox">
<h3><span><a href="{$introduceurl}">更多</a></span>
  <div>公司简介</div></h3>
<div class="gsjj"><img src="{$skindir}/comep.gif" /><p>{$introduce}</p>
</div>
<h3><span><a href="{$producturl}">更多</a></span>
  <div>产品展示</div></h3>
<ul class="cpzs">
{tag_企业主页最新图片产品}
</ul>
<div></div>
</div>
<div style="clear:both"></div></div>
{template 'yp','com_xhtml-footer'}