<div id="centent">

<div id="rightbox">
<h3><span><a href="{$articleurl}">更多</a></span><div>新闻正文</div></h3>
<div class="qyxxn">
<h4>{$article[title]} </h4>
{$article[content]}</div>
</div>
<div></div>

<div id="lefebox">
<h2><div>热点导航</div></h2>
<ul class="rddh">
 {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2><span><a href="{$articleurl}">更多</a></span><div>最新新闻</div></h2>
<ul class="xwzx">
  {tag_xhtml首页最新新闻}
</ul>
<h2><span><a href="{$salesurl}">更多</a></span>
  <div>促销信息</div></h2>
<ul class="xwzx">
  {tag_xhtml首页促销信息}
</ul>
</div>
</div><div style="clear:both"></div></div>
{template 'yp','com_xhtml-footer'}