<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>{$pagename}{$head[title]}-{$PHPCMS[sitename]}</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META content="all" name="ROBOTS">
<META content="{$pagename}" name="keywords">
<META content="{$pagename}" name="description">
<base href="{$PHPCMS[siteurl]}">
<script language="javascript" src="{PHPCMS_PATH}include/js/common.js"></script>
<script language="javascript" src="{PHPCMS_PATH}include/js/prototype.js"></script>

<link href="{$skindir}/compcss.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
{if $backgroundtype==1}background-image:url({$background});background-repeat: repeat;background-color:#F1F1F1;{elseif $backgroundtype==2} background-color:{$background}{else}background-image:url({$skindir}/bg.jpg);background-repeat:repeat-x;background-color:#F1F1F1;{/if}
}
-->
</style>
</head>
<body>

<div id="head">
  <div id="logo"><span>{$pagename}</span></div>
  <div  id="littemenv"><div> <span class="gwly1"> <a href="{$guestbookurl}companyid-{if $companyid}{$companyid}{else}{$enterprise}{/if}.html" target="_blank">
			给我留言</a></span><span class="jrsc1"><a href="javascript:window.external.addFavorite('{$mydomain}','{$pagename}')">加入收藏</a></span><span class="sy1"><a href="{$mydomain}">首页</a></span></div><div id="searchdiv"><br />
  <form name="myform" method="post" action="{$MOD['linkurl']}search.php?searchtype=product">
					<input name="keyword" type="text" value="关键字" size="15" onFocus="this.value=''">&nbsp;<input name="dosubmit" type="image" src="{$skindir}/search.gif" style="position:absolute">
					  <input name="search" type="hidden" value="1">
    </form></div>
	</div>
  <div id="menv">
  {template 'yp','com_xhtml-menu'}
</div>
<div id="banner"><img src="{$skindir}/banner.gif" /></div>