<div id="centent">

<div id="rightpbox">
<h3>
<div>招聘列表</div>
</h3>
<div class="qgxx">

{loop $jobs $i $job}
{php $j=$i+1;}
<ul class="joblist">
<li class="jobli">职位{$j}：<a name="pattern-{$i}"></a></li>
<li class="jobli">公司名称：</li>
<li class="jobli">招聘人数：</li>
<li class="jobli">性别要求：</li>
<li class="jobli">学历要求：</li>
<li class="jobli">薪水:</li>
<li class="jobli">工作地点：</li>
<li class="jobli">截至日期：</li>
<li class="jobli3">职位描述：</li>
<li class="jobli">联 系 人：</li>
<li class="jobli">联系电话：</li>
<li class="jobli">Email：</li>
<li class="jobli">联系地址：</li>
<li class="jobli4"></li>
</ul>
<ul class="joblist">
<li class="jobli2"><a href="{$job[linkurl]}">{$job[title]}</a> &nbsp;&nbsp; <span><a onClick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=apply&jobid={$job[jobid]}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onMouseOver="this.style.cursor='hand'"><font color="#FF0000">申请该职位</font></a> &nbsp;&nbsp; <a onClick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=save&jobid={$job[jobid]}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onMouseOver="this.style.cursor='hand'"><font color="#FF0000">存入职位库</font></a></span></li>
<li class="jobli2"><a href="{$job[linkurl]}">{$pagename}</a></li>
<li class="jobli2"><!--{if $job['employ']}--> {$job['employ']} <!--{else}-->若干<!--{/if}--></li>
<li class="jobli2"><!--{if $job['sex']==1}-->男<!--{elseif $job['sex']==2}-->女<!--{else}-->不限<!--{/if}--></li>
<li class="jobli2">{$job[degree]}</li>
<li class="jobli2"><!--{if $job['pay']}-->{$job['pay']}<!--{else}-->面议<!--{/if}--></li>
<li class="jobli2">{$job[area]}</li>
<li class="jobli2">{$job[period]}</li>
<li class="jobli2"><a href="{$job[linkurl]}">{str_cut($job[introduce],120)}</a></li>
<li class="jobli2">{$job[linkman]}</li>
<li class="jobli2">{$job[phone]}</li>
<li class="jobli2">{$job[email]}</li>
<li class="jobli2">{$job[address]}</li>
<li class="jobli4"></li>
</ul>
{/loop}
</div>
</div>
<div id="lefepbox4">
<h2><div>热点导航</div></h2>
<ul class="rddh">
  {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2>
<div>招聘岗位</div>
</h2>
<ul class="xwzxn">
{loop $jobs $i $job}
<li>
<a href="{$PHP_URL}#pattern-{$i}">{$job[title]}</a>
</li>
{/loop}
</ul> 
<h2><span><a href="{$salesurl}index.html">更多</a></span>
<div>促销信息</div>
</h2>
<ul class="xwzx">
{tag_企业主页促销列表}
</ul>
</div>
</div>
{template 'yp','com_xhtml-footer'}