<div id="centent">
<div id="rightpbox">
<h3><div>产品展示</div></h3>
<ul class="cpzsgd">
{tag_商户图片列表}</ul>
<h3><div>产品列表</div></h3>
<div class="cplb">
<ul >{tag_商户产品列表}</ul>
</div>
<div></div>
</div>

<div id="lefepbox4">
<h2><div>热点导航</div></h2>
<ul class="rddh">
  {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2>
<div>热门产品</div>
</h2>
<ul class="xwzx">
{tag_企业产品页热门产品}
</ul> 
<h2><span><a href="{$salesurl}index.html">更多</a></span>
<div>促销信息</div>
</h2>
<ul class="xwzx">
{tag_企业主页促销列表}</ul>
</div>


<div style="clear:both"></div></div>	
{template 'yp','com_xhtml-footer'}