<div id="centent">

<div id="rightpbox">
<h3>
<div>招聘列表</div>
</h3>
<div>
<ul class="joblist2">
<li><span><b>职位名称：</b></span>{$job[title]} <span style="padding-left:250px;">浏览次数：<span id="hits">0</span></span></li>
<li><span><b>公司名称：</b>{$pagename} &nbsp;&nbsp; <span><a onclick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=apply&amp;jobid={$jobid}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onmouseover="this.style.cursor='hand'"><font color="#FF0000">申请该职位</font></a> &nbsp;&nbsp; <a onclick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=save&amp;jobid={$jobid}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onmouseover="this.style.cursor='hand'"><font color="#FF0000">存入职位库</font></a> </span></li>
<li><span><b>招聘人数：</b><!--{if $job['employ']}--> {$job['employ']} <!--{else}-->若干<!--{/if}--></li>
<li><span><b>性别要求：</b><!--{if $job['sex']==1}-->男<!--{elseif $job['sex']==2}-->女<!--{else}-->不限<!--{/if}--></li>
<li><span><b>学历要求：</b>{$job[degree]}</li>
<li><span><b>薪水：</b><!--{if $job['pay']}-->{$job['pay']}<!--{else}-->面议<!--{/if}--></li>
<li><span><b>工作地点：</b>{$job[area]}</li>
<li><span><b>截至日期：</b>{$job[period]}</li>
<li><span><b>职位描述：</b>{$job[introduce]}</li>
<li><span><b>联 系 人：</b>{$job[linkman]}</li>
<li><span><b>联系电话：</b>{$job[phone]}</li>
<li><span><b>Email：</b>{$job[email]}</li>
<li><span><b>联系地址：</b>{$job[address]}</li>
<li><span><b>公司简介：</b>{$introduce}</li>
</ul>

</div>
</div><div id="lefepbox4">
<h2><div>热点导航</div></h2>
<ul class="rddh">
  {loop $m_user $ms}
  <li><a href="{$ms[url]}">- {$ms[menutitle]}</a></li>
{/loop}
</ul>
<h2><span><a href="{$joburl}">更多</a></span>
<div>招聘岗位</div>
</h2>
<ul class="xwzxn">
{loop $jobs $i $job}
<li>
<a href="{$job[linkurl]}#pattern-{$i}">{$job[title]}</a>
</li>
{/loop}
</ul> 
</div>
<div style="clear:both"></div></div>
<script type="text/javascript" src="{$PHPCMS['siteurl']}yp/web/show_js.php?label=job&item={$jobid}"></script>
{template 'yp','com_xhtml-footer'}