{template 'yp','header'}
<link href="{$skindir}/yp/yellow.css" rel="stylesheet" type="text/css" />
<script language="javascript">
<!--
function CheckForm()
{
	if ($('keyword').value == "")
	{
		alert("关键字不能为空！")
		Field.clear('keyword')
		Field.focus('keyword');
		return false
	}
}
-->
</script>

<div id="censent"><!--content-->
  <div  id="rightproduct">
  <div id="bt11">当前位置：<a href="{$PHPCMS[siteurl]}">首页</a> >> <a href="{$MOD[linkurl]}">企业黄页</a> >> <a href="{$MOD[linkurl]}company.php">企业库</a> >> </div><div style="clear:both;"></div>
<div class="d_qyn"><font color="#F96706"><b>经营模式：</b></font>{$pattern}</div>
<div class="search"><form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit='return CheckForm();'>
    <td align="right"> &nbsp;&nbsp;关键字：
      <input name="keyword" type="text" id="keyword" size="44"/> 
	{trade_select('tradeid', '请选择行业')} <span id="select_area"> {area_select('areaid', '请选择地区')}
      <input name="search" type="hidden" value="1"/>
	  &nbsp;
      <input name="searchtype" type="hidden" value="company"/>
      <input name="Input2" type="submit" value=" 搜 索 "/>	  </td>
   </form></div>
<div class="qynrnbt">
<ul><li class="qyn1">企业列表</li><li class="qyn2">行 业</li><li class="qyn2">性 质</li><li class="qyn2">经营模式</li><li class="qyn2">加盟日期</li></ul></div>
{tag_经营模式页面列表}
  </div>
  <div id="leftproduct">
    <div class="yleftbox boxmargin">
      <div class="pbtl"><div>行业分类</div></div>
{loop $TRADE $trade}	  
{if !$trade[parentid]}
<ul class="pgyfln"><li class="csbt"><a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR></li>
<li>{loop $TRADE $childtrade}
{if $childtrade[parentid]==$trade[tradeid]} <a href="{$childtrade[linkurl]}">{$childtrade[tradename]}</a> {/if}
{/loop}</li>
</ul>
{/if}
{/loop}	  
    </div>
	
  </div>
</div>
{template 'phpcms','footer'}