{template 'yp','header'}
<link href="{$skindir}/yp/yellow.css" rel="stylesheet" type="text/css" />
<div id="censent"><!--content-->
  <div  id="rightyellow">
    <div class="boxmargin">
      <div class="rlbox boxmargin"><h5>企业新闻</h5>
{tag_频道首页推荐图文}
<div><ul class="List-1">
{tag_企业推荐新闻}
</ul></div>
</div>
      <div class="rrbox">
<div class="gwmall boxmargin ytoppic" ><a href="{$MOD[linkurl]}register.php"><img src="{$skindir}/yp/yellow/zcwqy.gif" /></a><a href="{$PHPCMS[siteurl]}yp/admin.php"><img src="{$skindir}/yp/yellow/zcxx.gif" /></a></div>
    <script>
        function showContentyellow(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var navyellow = document.getElementById("navyellow" + i);
        var articlecontentyellow = document.getElementById("articlecontentyellow" + i);
        if (i == id)
        {
        navyellow.className = 'yellowoff';
        articlecontentyellow.style.display = "";
        }
        else
        {
        navyellow.className = 'yellowon';        
        articlecontentyellow.style.display = "none";
        }
        }
        }
        </script>
      <div class="boxmargin ">
        <div class="yellowicbot">
<p class="yellowoff" onMouseOver="showContentyellow('0')"  id="navyellow0">最新新闻</p>
<p class="yellowon" onMouseOver="showContentyellow('1')" id="navyellow1">最新加盟</p>
<p class="yellowon" onMouseOver="showContentyellow('2')"id="navyellow2">热点企业</p>
</div>
<div class="xianyellow2" >
<dl>
<div id="articlecontentyellow0"><ul class="down-List-1">
{tag_最新新闻列表}
</ul>
</div>
</dl>
<dl>
<div id="articlecontentyellow1" style="display:none;"><ul class="down-List-1">
{tag_最新加盟}
</ul></div>
</dl>
<dl>
<div id="articlecontentyellow2" style="display:none;"><ul class="down-List-1">
{tag_热点企业}
</ul></div>
</dl>
</div></div></div></div>
    <div style="clear:both"></div>
    <script>
        function showContentyn(id)
        {
        for (var i = 0;i < 2;i++)
        {
        var nynva = document.getElementById("nynva" + i);
        var articlecontentyn = document.getElementById("articlecontentyn" + i);
        if (i == id)
        {
        nynva.className = 'ybton';
        articlecontentyn.style.display = "";
        }
        else
        {
        nynva.className = 'ybtoff';        
        articlecontentyn.style.display = "none";
        }
        }
        }
        </script> 
<div><p class="ybton" onClick="showContentyn('0')" id="nynva0">推荐产品</p><p class="ybtoff" onClick="showContentyn('1')" id="nynva1">新品展示</p></div>
<div class="ynrrbox clearfix" id="articlecontentyn0"><ul >
{tag_频道首页推荐产品}</ul><div  style="clear:both" ></div></div>
<div class="ynrrbox clearfix" id="articlecontentyn1" style="display:none;">
<ul>{tag_频道首页新品展示}</ul><div style="clear:both"></div>
    </div>
    <script>
        function showContentyna(id)
        {
        for (var i = 0;i < 2;i++)
        {
        var nynvaa = document.getElementById("nynvaa" + i);
        var articleContentyna = document.getElementById("articleContentyna" + i);
        if (i == id)
        {
        nynvaa.className = 'ybton';
        articleContentyna.style.display = "";
        }
        else
        {
        nynvaa.className = 'ybtoff';        
        articleContentyna.style.display = "none";
        }
        }
        }
        </script> 
        <div style="height:8px"></div>
    <div><p class="ybton" onClick="showContentyna('0')" id="nynvaa0">求 购</p><p class="ybtoff" onClick="showContentyna('1')" id="nynvaa1">促 销</p></div>
    <div class="ynrrbox" id="articleContentyna0">

<div class="yp_qg">
<ul class="yp_qg_ul">
<li class="s_1 s_1_1">类型</li><li class="s_2 s_1_1">信息列表</li><li class="s_3  s_1_1">联系人</li><li class="s_4  s_1_1"></li><li class="s_4  s_1_1">价格</li><li class="s_4  s_1_1">发布日期</li>
</ul>
{tag_黄页首页求购}
<div style="clear:both"></div>
</div>

    <div style="clear:both"></div>
    </div>
    <div class="ynrrbox" id="articleContentyna1" style="display:none;">
<div class="yp_cx">{tag_黄页首页促销图片列表}</div>
<div style="clear:both"></div>
    </div>
        <script>
        function showContentynb(id)
        {
        for (var i = 0;i < 2;i++)
        {
        var nynvab = document.getElementById("nynvab" + i);
        var articleContentynb = document.getElementById("articleContentynb" + i);
        if (i == id)
        {
        nynvab.className = 'ybton';
        articleContentynb.style.display = "";
        }
        else
        {
        nynvab.className = 'ybtoff';        
        articleContentynb.style.display = "none";
        }
        }
        }
        </script> 
        <div style="height:8px"></div>
    <div><p class="ybton" onClick="showContentynb('0')" id="nynvab0">企业招聘</p><p class="ybtoff" onClick="showContentynb('1')" id="nynvab1">个人求职</p></div>
    <div class="ynrrbox clearfix" id="articleContentynb0">
{tag_黄页首页最新招聘列表}
    <div style="clear:both"></div>
    </div>
    <div class="ynrrbox clearfixx" id="articleContentynb1" style="display:none;">
{tag_黄页频道首页求职}
<div style="clear:both"></div>
    </div>
  </div>
<div id="leftyellow">
<div class="boxmargin">{tag_黄页频道首页幻灯片}</div>
<div class="yleftbox boxmargin">
<h4>产品分类</h4>
<div class="ynr">{loop $CATEGORY $cats}{if !$cats[parentid]}<h6><a href="{$cats[linkurl]}">{$cats[catname]}</a></h6>
<ul>{loop $CATEGORY $childcats} {if $childcats[parentid]==$cats[catid]}<a href="{$childcats[linkurl]}" class="yellow_link_1">{$childcats[catname]}</a> {/if}{/loop}</ul>{/if}{/loop}
</div>
    </div>
      <div class="yleftbox boxmargin">
      <h4>推荐企业</h4>
      <div class="ynr">
        {tag_推荐企业}
      </div>
    </div>
  </div>
</div>
{template 'phpcms','footer'}