{template 'yp','header'}
<link href="{$skindir}/yp/yellow.css" rel="stylesheet" type="text/css" />
<div id="censent"><!--content-->
  <div  id="rightlead">
  <div id="bt11" class="boxmargin">当前位置：<a href="">黄页首页</a> >> <a href="{$MOD[linkurl]}job.php">人才招聘</a> >> 招聘搜索</div>
  <div class="search" style="margin:0 0 8px 0;">
<script language="javascript">
<!--
function CheckForm()
{
	if ($('keyword').value == "" || $('keyword').value == '输入岗位名称')
	{
		alert("关键字不能为空！")
		Field.clear('keyword')
		Field.focus('keyword');
		return false
	}
}
-->
</script>
<form name="myform" action="{$MOD[linkurl]}job.php" method="get" onSubmit='return CheckForm();'>
 关键字：
      <input name="keyword" id="keyword" type="text" value="输入岗位名称" onfocus="this.value=''"/> 
      <span id="select_area">
      {area_select('areaid', '请选择地区', $areaid)}
	&nbsp;
	<select name="searchfrom">
	<option value="1" >1 天内</option>
	<option value="3" >3 天内</option>
	<option value="7" >1 周内</option>
	<option value="10" >10 天内</option>
	<option value="20" >20 天内</option>
	<option value="30" selected>1 个月内</option>
	<option value="60" >2 个月内</option>
	<option value="90" >3 个月内</option>
	</select>
      <input name="action" type="hidden" value="search"/>
      <input name="dosubmit" type="submit" value=" 搜 索 "/>
	  </form>
  </div>
    <div class="boxmargin">
    <ul class="btzpli">
      <li class="zpli1">职位</li> <li class="zpli2">工作性质</li>  <li class="zpli3"> 性别 </li>  
      <li class="zpli1">学历</li>  
      <li class="zpli2"> 待遇</li> 
      <li class="zpli4">招聘单位</li><li class="zpli1">添加时间</li>
    </ul>
{loop $jobs $i $job}
<ul class="btzpli2">
<li class="zpli1">{$job[title]}</li>
<li class="zpli2">{$job[worktype]}</li>
<li class="zpli3"> {if $job[sex]==1}男{elseif $job[sex]==2}女{else}女{/if} </li>
<li class="zpli1">{if $job[degree]}{$job[degree]}{else}不限{/if}</li>
<li class="zpli2">{if $job[degree]}{$job[degree]}{else}不限{/if} </li> 
<li class="zpli4"><a href="{$job[linkurl]}" target="_blank">{$job[unit]}</a></li>
<li class="zpli1">{$job[adddate]}</li>
</ul>{/loop}

<div  style="clear:both"></div>
    </div>
<div class="pages">{$pages}</div>
    </div>
  <div id="leftlead">
    <div class=" boxmargin"><a href="{PHPCMS_PATH}yp/admin.php?file=job&action=add"><img src="{$skindir}/yellow/fbzp.gif" /></a><a href="{PHPCMS_PATH}yp/myitem.php"><img src="{$skindir}/yp/yellow/fbqz.gif" /></a><a href="{PHPCMS_PATH}yp/register.php"><img src="{$skindir}/yp/yellow/zcqyr.gif" /></a><a href="{PHPCMS_PATH}yp/admin.php"><img src="{$skindir}/yellow/fbqy.gif" /></a></div>
    <div class="yleftbox boxmargin">
      <div class="pbtl"><div>推荐企业</div></div>
     <div class="yqytj">
	 {tag_推荐企业列表}
	 </div>
      
      <div  style="clear:both"></div>
    </div>
	<div class="yleftbox boxmargin">
      <div class="pbtl">
        <div>最新招聘</div>
      </div>
     <div class="yqytj">
	 {tag_最新招聘列表}
	 </div>
      <div  style="clear:both"></div>
    </div>
  </div>
</div>
{template 'phpcms','footer'}