{template 'yp','header'}
<link href="{$skindir}/yp/yellow.css" rel="stylesheet" type="text/css" />
<div id="censent"><!--content-->
  <div  id="rightlead">
  <div id="bt11">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a>  &gt;&gt; <a href="{$MOD[linkurl]}buy.php"> 找买家</a> &gt;&gt;  {$tradepos} </div>
    <div class="listynn">
{if $child && $arrchildid}
	  <div style="padding:3px;line-height:180%;">
	  <span class="STYLE1">选择子分类：</span>
	  {loop $arrchild $child}
	  <a href="{$child[linkurl]}">{$child[tradename]}</a>&nbsp;-
	  {/loop}	  </div>
	  {/if}	
	</div>
{tag_促销栏目终极页面}
   
  </div>
  <div id="leftlead">
    <div class="leadtop boxmargin"><span><a href="{$MOD[linkurl]}register.php">注册为企业</a></span><span><a href="{PHPCMS_PATH}yp/admin.php">发布企业信息</a></span></div>
    <div class="yleftbox boxmargin">
      <div class="pbtl"><div>促销分类</div></div>
<div class="ynr">{loop $TRADE $trade}{if !$trade[parentid]}<h6><a href="{$trade[linkurl]}">{$trade[tradename]}</a></h6>
<ul>{loop $TRADE $j $childcats}{if $childcats[parentid]==$trade[tradeid]}
<a href="{$childcats[linkurl]}">{$childcats[tradename]}</a>{/if}{/loop}</ul>{/if}{/loop}
</div>
</div>
  </div>
</div>
{template 'phpcms','footer'}