 <table width="100%"  cellspacing="2" cellpadding="5" align="center" style="font-size:12px;">
		<form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit="return CheckForm();">
		<tr>
		<td class="search_r">
		<input type="radio" class="radio" name="searchtype" value="article" checked onclick="$('tx_2').style.display='none';$('tx_3').style.display='none';$('tx_4').style.display='none';$('tx_5').style.display='block';$('tx_6').style.display='none'"> 
		企业快讯
		<input type="radio" class="radio" name="searchtype" value="product" onclick="$('tx_2').style.display='block';$('tx_3').style.display='none';$('tx_4').style.display='none';$('tx_5').style.display='none';$('tx_6').style.display='block'">		
		 产品库
		 <input type="radio" class="radio" name="searchtype" value="company" onclick="$('tx_2').style.display='none';$('tx_5').style.display='none';$('tx_6').style.display='none';$('tx_3').style.display='block';$('tx_4').style.display='block'"> 
		 企业库</td>
		</tr>
		<tr>
		<td class="search_r"><input name="keyword" id="keyword" type="text" size="15" value="请输入关键字" onFocus="this.value=''"> 
		  </td>
		</tr>
		<tr id="tx_4" style="display:none">
		
		<td class="search_r">{$trade_selected}</td>
		</tr>
		<tr id="tx_5">
		
		<td class="search_r">{$article_categorys}</td>
		</tr>
		<tr id="tx_6" style="display:none">
		
		<td class="search_r">{$category_select}</td>
		</tr>
       <tr id="tx_2" style="display:none">
          <td class="search_r">
            <input name="fromprice" id="fromprice" type="text" size="10" value="价格从" onFocus="this.value=''">
            到
            <input name="toprice" type="text" id="toprice" size="10" value="结束" onFocus="this.value=''"></td>
		  </tr>
		<tr id="tx_3" style="display:{if $searchtype=='company'}block{else}none{/if}">
		<td class="search_r">{$type_selected}</td>
		</tr>
		<tr>
		<td class="search_r">
		<select name="searchfrom">
		<option value="0" {if !$searchfrom}selected{/if}>全部时间</option>
		<option value="1" {if $searchfrom==1}selected{/if}>1 天前</option>
		<option value="2" {if $searchfrom==2}selected{/if}>2 天前</option>
		<option value="7" {if $searchfrom==7}selected{/if}>1 周前</option>
		<option value="30" {if $searchfrom==30}selected{/if}>1 个月前</option>
		<option value="90" {if $searchfrom==90}selected{/if}>3 个月前</option>
		<option value="180" {if $searchfrom==180}selected{/if}>6 个月前</option>
		<option value="365" {if $searchfrom==365}selected{/if}>1 年前</option>
		</select>
		<input type="radio" class="radio" name="before" value="0" {if !$before}checked{/if}> 之后
		<input type="radio" class="radio" name="before" value="1" {if $before}checked{/if}> 之前
		</td>
		</tr>

		<tr>
		<td class="search_r">
		<select name="ordertype">
		<option value="0" {if $ordertype==0}selected{/if}>按ID排序排序</option>
		<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
		<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
		<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
		<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
		</select>
		</td>
		</tr>

<tr bgcolor="#F1F2F3">
<td height="30" colspan="2" class="td_center">
		<input type="hidden" name="search" value="1">
		<input type="submit" value="立即搜索" class="btn" />	
		</td>
</tr>

</form>
</table>