<table cellpadding="5" cellspacing="1" class="tag_box" width="100%">
{loop $jobs $i $job}
{if $i%$cols==0}<tr {if $i%2==0}bgcolor="#FFFFFF"{else}bgcolor="#f6f9ff"{/if}>{/if}
<td height="24" width="{$width}" >
<a href="{$job[url]}" target="_blank"><font color="#829966">{$job[companyname]}</font></a><BR>
<font size="2">诚聘：</font><a href="{$job[linkurl]}" title="{$job[title]}" {$target} class="tag_title_link"><font color="#cd3300">{$job[stitle]}</font></a>
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>