<table cellpadding="0" cellspacing="0" width="98%">
{loop $products $i $product}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}" class="zuo-6px">{$product[my_selecttype]}
{if $datetype}<span class="datetime f_r">{$product[adddate]}</span>{/if}
·{if $showcatname}<a href="{$product[catlinkurl]}"{$target}>[{$product[catname]}]</a>{/if}
<a href="{$product[linkurl]}" title="{$product[title]}" {$target} class="tag_title_link">{$product[stitle]}</a>
{if $showhits}({$product[hits]}){/if}
{if $showauthor}[作者:{$product[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$product[introduce]}</span>{/if}    
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}