<script type="text/javascript">
var number={count($articles)}; //定义条目数

function LMYC() {
var lbmc;
    for (i=1;i<=number;i++) {
        lbmc = eval('LM' + i);
        lbmc.style.display = 'none';
    }
}
 
function ShowFLT(i) {
    lbmc = eval('LM' + i);
    if (lbmc.style.display == 'none') {
        LMYC();
        lbmc.style.display = '';
    }
    else {
        lbmc.style.display = 'none';
    }
}
</script>
<table width="98%" border="0" cellspacing="2" cellpadding="0">
{loop $articles $i $article}
{php $j=$i+1;}
  <tr>
    <td width="10" height="24" align="right" class="dotline"><img src="{PHPCMS_PATH}images/3j.gif"></td>
    <td width="934" height="24" class="dotline">{if $datetype}<span class="datetime f_r">{$article[adddate]}</span>{/if}<a onClick=javascript:ShowFLT({$j}) href="javascript:void(null)">
{$article[stitle]}</a></td>
  </tr>
  <tr id=LM{$j} {if $i}style="DISPLAY: none"{/if}>
    <td height="30" align="left" bgcolor="#f5f9ed" colspan="2">{$article[introduce]} 
	<font color="#FF0000">&nbsp; </font>
	<a href="{$article[linkurl]}" title="{$article[title]}" {$target} class="tag_title_link">
	<span style="text-decoration: none"><font color="#FF0000">查看全文&gt;&gt;</font></span></a></td>
  </tr>
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}