{loop $products $i $product}
<div class="cplb">
<ul class="product_x"><li class="btcplb"><a href="{$product[linkurl]}" title="{$product[title]}" {$target}>{$product[stitle]}</a></li>
<li>型    号：{$product[model]}</li>  
<li>价    格：{$product[price]} 元</li>
<li class="xhintroduce">{$product[introduce]}</li></ul><a href="{$product[linkurl]}" title="{$product[title]}" {$target}><img border="0" src="{$product[thumb]}" width="117" height="92"></a>
</div>
{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}