{loop $companys $i $company}
<div class="qynrn"><h3 class="btbj"><a href="{$company[linkurl]}" {$target} class="tag_company_link">
{$company[companyname]}</a></h3><ul>
<li class="qyn1"> <p>{$company[introduce]}</p>
<p><strong>主营</strong>：{$company[product]}</strong></a></p>
<p><a href="{$MOD[linkurl]}web/index.php?{$company[userid]}/categroy-guestbook/companyid-{$company[companyid]}.html" target="_blank"><img src="{$skindir}/yp/yellow/fcly.gif" /></a>&nbsp;<a href="{$company[linkurl]}/categroy-introduce.html#contact"><img src="{$skindir}/yp/yellow/lxfs.gif" /></a></p></li>
<li class="qyn2">{$company[catname]}</li><li class="qyn2">{$company[typeid]}</li><li class="qyn2">{$company[pattern]}</li><li class="qyn2">{if $datetype}<span class="datetime f_r">{$company[adddate]}</span>{/if}</li></ul>
<div id="clear"></div></div>{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}