<SCRIPT src="/include/js/flashobject.js" type=text/javascript></SCRIPT>
<div id=flashcontent><a 
href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW"></a>
    <object 
codebase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0 
height=0 width=0 classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
      <param name="quality" value="high" />
      <param name="movie" value="/images/yp/focus.swf" />
      <embed src="/images/yp/focus.swf" quality="high" 
pluginspage="http://www.macromedia.com/go/getflashplayer" 
type="application/x-shockwave-flash" width="{$imgwidth}" height="{$imgheight}"></embed>
    </object>
</div>
<script type=text/javascript>
    var fo = new FlashObject("/images/yp/focus.swf", "focus", "{$imgwidth}", "{$imgheight}","0", "#ffffff");
    fo.addParam("quality", "high");//高质量播放
    fo.addParam("menu","false");//不显示右键菜单
    fo.addParam("wmode", "transparent");//透明方式
    fo.addVariable("pics", "{$flash_pics}");//图片地址
    fo.addVariable("links", "{$flash_links}");//图片链接
    fo.addVariable("texts", "{$flash_texts}");//图片文字
    fo.write("flashcontent");//输出内容
</script>