<table cellpadding="0" cellspacing="0">
{loop $articles $i $article}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}">
{if $datetype}<span class="datetime f_r">{$article[adddate]}</span>{/if}
{if $showcatname}<a href="{$article[catlinkurl]}"{$target}><span style="color:#FF0000;font-weight:bold; ">[{$article[catname]}]</span></a>{/if} <a href="{$article[linkurl]}" title="{$article[title]}" {$target}><span style="color:#FF0000;font-weight:bold; ">{$article[stitle]}</span></a>
{if $showhits}({$article[hits]}){/if}
{if $showauthor}[作者:{$article[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$article[introduce]}</span>{/if}    
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>