{loop $companys $i $company}
<div class="ltplist">{if $company[logo]}<img src="{$imgurl($company[logo])}" width="80" height="60" />{else}<img src="{$skindir}/images/zanwu.gif" width="80" height="60" />{/if}
<strong>{if $company[vip]} <font color="#FF0000">VIP</font> {/if}
<a href="{$company[linkurl]}" {$target} class="tag_title_link">
{$company[companyname]}  {if $showcontact}{$company[linkman]} {$company[telephone]}{/if}
{if $showhits}({$company[hits]}){/if}</a></strong><br />
{$company[introduce]}</div>{/loop}<div style="clear:both"></div>
{if $pages}
<div class="pages">{$pages}</div>
{/if}