<table cellpadding="0" cellspacing="0" width="100%">
{loop $companys $i $company}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}" class="zuo-6px">
<img src="{PHPCMS_PATH}images/3j.gif"> {if $datetype}<span class="datetime f_r">{$company[adddate]}</span>{/if} 
{if $company[vip]} <font color="#FF0000">VIP</font> {/if}
<a href="{$company[linkurl]}" {$target} class="tag_title_link">
{$company[companyname]}  {if $showcontact}{$company[linkman]} {$company[telephone]}{/if}
{if $showhits}({$company[hits]}){/if}</a><BR>
{$company[introduce]}
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}