{template 'phpcms','header'}
<script type="text/javaScript">
function docheck(){
if (myform.content.value=="") {
alert("请输入评论内容!");
myform.content.focus();
return false;
}
{if $_PHPCMS['comment_checkcode']}
if (myform.checkcode.value=="") {
alert("请输入验证码!");
myform.checkcode.focus();
return false;
}
{/if}
return true;
}
</script>
<table width="980" align="center" cellpadding="0" cellspacing="0">
<tr>
<td width="760">
	<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
	<td class="bg_m" width="105">评论列表</td>
	<td width="10" height="25"><img src="{$skindir}/images/tit3_r4.jpg"></td>
	<td class="bg_titlebar" width="587" align="right">
	<span style="color:red ">评论内容只代表网友个人观点，与本网站立场无关。</span></td>
	<td  width="36"><img src="{$skindir}/images/tit2_r.jpg"></td>
	</tr>
	</table>
	<table width="100%" cellpadding="2" cellspacing="2">
	<tr>
	<td bgcolor="#F5F5F5" height="23" align="center">共<font color="red">{$totalnumber}</font>人参与评论，总评价为：<font color="red">{$avgscore}</font></td>
	</tr>
    </table>

	{$commentlist(0,$item,$itemid,$page,15,0)}

	<table width="100%" border="0" cellpadding="2" cellspacing="2">
	<tr bgcolor="#f5f5f5">
	<td height="24px">&nbsp;<b>发表评论</b> </td><td align="right">【<a href="#top">返回顶部</a>】【<a href="javascript:window.close();">关闭窗口</a>】【<a href="{$itemurl}">返回原文</a>】&nbsp;</td>
	</tr>
	<form name="myform" method="post" action="{PHPCMS_PATH}comment/index.php?action=add&submit=1" onSubmit="return docheck();">
	<input name="item" type="hidden" value="{$item}">
	<input name="itemid" type="hidden" value="{$itemid}">
	<input name="itemurl" type="hidden" value="{$itemurl}">
	<tr>
	<td valign="top">&nbsp;评分：
        <input name="score" type="radio" class="radio" title="很差" value="1"> 1 
        <input name="score" type="radio" class="radio" title="差" value="2"> 2 
        <input name="score" type="radio" class="radio" title="一般" value="3" checked> 3 
        <input name="score" type="radio" class="radio" title="好" value="4"> 4 
        <input name="score" type="radio" class="radio" title="很好" value="5"> 5 
        <br/>
	<textarea name="content" cols="50" rows="8" id="content"></textarea><br/>
	{if $_PHPCMS['comment_checkcode']}
	&nbsp;&nbsp;<font color="red">*</font> 验证码：<input name="checkcode" type="text" id="checkcode" size="5"> <img src="{PHPCMS_PATH}checkcode.php"  />&nbsp;
	{/if}
	<input name="submit" type="submit" value=" 发表 " class="btn" >&nbsp;&nbsp;
        <input name="reset" type="reset" value=" 重置 " class="btn">
        <a name="comment">
	</td>
	<td valign="top">
		<ul style="border:#c0c0c0 1px dotted;padding:5px;">
		<li>请遵守《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律法规。 </li>
		<li>严禁发表危害国家安全、损害国家利益、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容的评论 。</li>
		<li>用户需对自己在使用本站服务过程中的行为承担法律责任（直接或间接导致的）。</li> 
		<li>本站管理员有权保留或删除评论内容。</li>
		</ul>
	</td>
	</tr>
	</form>
	</table>


</td>
<td width="10"></td>
<td width="210" class="gray"><br></td>
</tr>
</table>

{template 'phpcms','footer'}
