# 将 RewriteEngine 模式打开
RewriteEngine On

# 修改以下语句中的 / 为你的网站目录地址，如果程序放在二级目录中，如/phpcms 请将 / 修改为 /phpcms
RewriteBase /

# Rewrite 系统规则请勿修改             
RewriteRule ^(.*)area-([0-9]+)-([0-9]+)\.html$ $1/area.php?areaid=$2&page=$3
RewriteRule ^(.*)showinfo-([0-9]+)\.html$ $1/showinfo.php?houseid=$2
RewriteRule ^(.*)list-([0-9]+)-([0-9]+)\.html$ $1/listinfo.php?infocat=$2&page=$3  
RewriteRule ^(.*)newhouse-([0-9]+)\.html$ $1/newhouse.php?displayid=$2
RewriteRule ^(.*)listdisplay-([0-9]+)\.html$ $1/listdisplay.php?page=$2