{template 'phpcms','header'}

<div class="main">
<div class="main_content">
	<div class="main_left">

		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />{$catname}</li>	{$articlelist(0,$channelid,$catid,0,0,$page,$maxperpage,60,0,0,0,$itemordertype,1,0,0,0,0,1)}
			</ul>
		</div>

		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />图片{$_CHANNEL[$channelid][channelname]}</li>
			</ul>
			<ul>
			{$picarticle(0,$channelid,$catid,1,0,0,5,12,0,0,0,1,1,0,100,100,5)}
			</ul>
		</div>
		
	</div>
	<div class="main_right">

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">推荐{$_CHANNEL[$channelid][channelname]}</li>
		{$articlelist(0,$channelid,$catid,1,0,0,10,24,0,1,0,1,0,0,0,0,1,1)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">热点{$_CHANNEL[$channelid][channelname]}</li>
		{$articlelist(0,$channelid,$catid,1,0,0,10,24,0,0,60,5,0,0,0,0,1,1)}
		</ul>
		</div>

	</div>
</div>
</div>
{template 'phpcms','footer'}