{template 'phpcms','header'}
<link href="{$skindir}/digg.css" rel="stylesheet" type="text/css">
<!--主体标签-->
<div id="censent">
  <!--content-->
  <div id="left">
    <div class="boxmargin">
      <div id="flash">{tag_flash_新闻频道首页}</div>
      <script>
        function showContentnew(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var navnew = document.getElementById("navnew" + i);
        var articlecontentnew = document.getElementById("articlecontentnew" + i);
        if (i == id)
        {
        navnew.className = 'news-on';
        articlecontentnew.style.display = "";
        }
        else
        {
        navnew.className = 'news-off';        
        articlecontentnew.style.display = "none";
        }
        }
        }
        </script>
      <div id="jhxxn">
        <div id="btnewmenu">
          <ul>
            <li>焦点文章</li>
          </ul>
        </div>
        <div id="articlecontentnew0">
          <ul class="List-1">
            {tag_频道首页焦点文章}
          </ul>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="search">
      <script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
    </div>
    <div id="photoxh" class="boxmargin bgcss">
    <div class="duoyu">
    {tag_频道首页图片文章}
    </div>
    </div>
    <div style="clear:both"></div>
    <!--自定义栏目开始-->
    {loop $childcats $i $cat}
    <div {if $i%2!=1}id="xwzxboxl"{else}id="xwzxboxr"{/if}>
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on"><span>{$cat[catname]}</span></div>
        </li>
        <li class="xw-right"><a href="{$cat[linkurl]}" class="more">更多</a></li>
      </ul>
      <div class="xian boxzwzx boxmargin" >
        <ul class="List-1">
          {tag_频道首页栏目最新文章}
        </ul>
      </div>
    </div>
    {/loop}
    <!--自定义栏目结束-->
  </div>
  <div id="right">
    <!--推荐专题 -->
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>推荐专题</span></div>
        </li>
        <li class="xw-right"><a href="{$CHA[linkurl]}special/">更多</a></li>
      </ul>
      <div class="xian boxmargin"> {tag_文章频道首页专题列表}
        <ul class="phtoph">
          {tag_推荐专题名称列表}
        </ul>
      </div>
    </div>
    <div  class="boxmargin"><script language="javascript" src="{PHPCMS_PATH}data/js/6.js"></script></div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn" id="bgnew"><span>推荐文章</span></div>
        </li>
        <li class="xw-right"><a href="{$channelurl}search.php?catid={$catid}&amp;posid=1&amp;search=1" class="more">更多</a></li>
      </ul>
      <div class="xian boxmargin">
        <ul class="List-1">
          {tag_频道首页_右列_推荐}
        </ul>
      </div>
    </div>
    <div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"id="bgnew"><span>热点文章</span></div>
        </li>
        <li class="xw-right"><a href="{$channelurl}search.php?catid={$catid}&ordertype=3&search=1" class="more">更多</a></li>
      </ul>
      <div class="xian boxmargin">
        <ul class="List-1">
          {tag_频道首页_右列_热点}
        </ul>
      </div>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn" id="bgnew"><span>今日DIGG排行</span></div>
        </li>
        <li class="xw-right"><a href="{PHPCMS_PATH}digg/list.php?digg_mod={$mod}{if $catid}&digg_catid={$catid}{/if}">更多</a></li>
      </ul>
      <div class="xian boxmargin">
        <ul class="digg_listt">
          {tag_今日文章DIGG列表}
        </ul>
      </div>
    </div>
    
  </div>
</div>
{template 'phpcms','footer'}