
{template 'phpcms','header'}
<link href="{$skindir}/search.css" rel="stylesheet" type="text/css" />
<div id="censent">
  <div class="search33 boxmargin"><h6  id="bt11" class="boxmargin">{$channelname}搜索</h6>
<form name="myform" action="{$channelurl}search.php" method="get">
<ul class="hhh1"><li>搜索范围</li><li>包含的关键字</li><li> 所属栏目</li><li>附属分类</li><li>添加日期</li><li>排序方式</li></ul><ul class="hhh2">
  <li><input type="radio" class="radio" name="searchtype" value="title" {if $searchtype=='title'}checked{/if}>
            标题
			<input type="radio" class="radio" name="searchtype" value="keywords" {if $searchtype=='keywords'}checked{/if}>
            关键字
            <input type="radio" class="radio" name="searchtype" value="introduce" {if $searchtype=='introduce'}checked{/if} />
            内容摘要
            <input type="radio" class="radio" name="searchtype" value="content" {$searchtype['content']} {if !$PHPCMS['searchcontent']}disabled{/if} />
            内容
            <input type="radio" class="radio" name="searchtype" value="username" {if $searchtype=='username'}checked{/if}>
            会员
            <input type="radio" class="radio" name="searchtype" value="author" {if $searchtype=='author'}checked{/if}>
            作者 </li><li><input name="keywords" type="text" size="30" value="{$keywords}" /> <font color="red">*多个关键词之间用空格隔开</font></li><li>
              {$category_select}
            </li>
  <li>{$type_select('typeid', '请选择', $typeid)}</li><li>从 {$date_select('fromdate', $fromdate)} 至 {$date_select('todate', $todate)} </li><li><select name="ordertype">
		<option value="0" {if $ordertype==0}selected{/if}>文章排序排序</option>
		<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
		<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
		<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
		<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
		<option value="5" {if $ordertype==5}selected{/if}>评论次数降序</option>
		<option value="6" {if $ordertype==6}selected{/if}>评论次数升序</option>
		</select></li>
</ul>
{if $searchform}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
{$searchform}
</table>
{/if}
<div class="serch_8px"><input type="hidden" name="search" value="1">
<input type="submit" value="立即搜索" class="btn" />
<input type="button" onClick="window.location='search.php'" value="重新搜索" class="btn" />
</div>
</form>
<div style="clear:both"></div>
  <div class="ssjg">您输入的关键词是<strong><font color=red>{$keywords}</font></strong>，一共从<font color=red>{$CHA[items]}</font>个结果中搜到<font color=red>{$number}</font>个结果</div>
  </div>
{if $search}
{loop $searchs $article}
  <div class="wznn"><div><span style="float:right;right">[{$article[adddate]}]</span><strong><a href="{$article[linkurl]}" target="_blank" class="searchtitle">{$article[title]}</a>{$article[type]}</strong></div>
{if $article['introduce']}{$article[introduce]}{/if}</div>{/loop}

<div class="pages">{$pages}</div>
{/if}
</div> 
{template 'phpcms','footer'}