{loop $articles $i $article}
<dl>
<a href="{$article['linkurl']}" {$target}><img src="{$article[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$article[alt]}" /></a>
    <dt>
        {$article[type]} <a href="{$article['linkurl']}" title="{$article['title']}" {$target}>{$article[stitle]}</a>
        {if $datetype}[<span class="datetime">{$article[adddate]}</span>]{/if}
        {if $introducelen}<span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$article[introduce]}</span>{/if}
    </dt>
</dl>
{/loop}

{if $pages}
<div class="pages">{$pages}</div>
{/if}