<div id="xwlb" >
    <ul>      
{loop $articles $i $article}
 <li style="width:{$width}">
   {if $datetype}<span>{$article[adddate]}</span> {/if}
   {if $showcatname}<a href="{$article[catlinkurl]}"{$target}>[{$article[catname]}]</a>{/if}{$article[type]} <a href="{$article[linkurl]}" title="{$article[title]}" {$target}>·{$article[stitle]}</a>
   {if $introducelen}<div>{$article[introduce]}<!--文章简介--></div>{/if}
  </li>
{/loop}
   </ul>
</div>
{if $pages}
<div class="pages">{$pages}</div>
{/if}