{template 'phpcms','header'}
<div id="censent">
  <!--content-->
  <div id="left">
    <!--位置导航-->
    <div class="boxmargin"id="bt11">&nbsp;当前位置：<a href="{$CHA[linkurl]}">频道首页</a> >> <a href="{$CHA[linkurl]}type.php">类别首页</a> >></div>
    
    <!--搜索-->
    <div class="search">
      <script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
    </div>
    <div class="clear"></div>
    <!--自定义栏目开始-->
    {loop $TYPE $typeid $type}
    <div id="xwzxboxl xjj">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on"><span>{$type[name]}</span></div>
        </li>
        <li class="xw-right"><a href="{$CHA[linkurl]}type.php?typeid={$type[typeid]}" class="more">更多</a></li>
      </ul>
      <div class="xian jjsss boxmargin" style="width:664px;">
        <ul class="List-1">
          {tag_类别最新文章}
        </ul>
      </div>
    </div>
    {/loop}
    <!--自定义栏目结束-->
  </div>
  <div id="right">
    <div class="boxmargin">
      <script language="javascript" src="{PHPCMS_PATH}data/js/7.js"></script>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn" id="bg"><span>推荐文章</span></div>
        </li>
        <li class="xw-right"></li>
      </ul>
      <div class="xian boxmargin boxr">
        <ul class="down-List-1">
          {tag_频道首页_右列_推荐}
        </ul>
      </div>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn" id="bg"><span>热点文章</span></div>
        </li>
        <li class="xw-right"><a href="#"></a></li>
      </ul>
      <div class="xian boxmargin boxr">
        <ul class="down-List-1">
          {tag_频道首页_右列_热点}
        </ul>
      </div>
    </div>
  </div>
</div>
{template 'phpcms','footer'}