{template 'house','header'}
<style type="text/css">
<!--
.fc {border: 1px solid #FDE0C6;background-color: #FEF7EF;padding: 8px;
width:958px;margin:0 auto;
margin-bottom:8px;}
-->
</style>
<div class="fc">{include PHPCMS_ROOT.'/data/house_search_inc.html'}</div>
<div  id="censent">
  <div id="homeleft">
    <div class="boxmargin" align="center"><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1"><img src="{$skindir}/house_new/images/home/top_03.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2"><img src="{$skindir}/house_new/images/home/top_04.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3"><img src="{$skindir}/house_new/images/home/top_06.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4"><img src="{$skindir}/house_new/images/home/top_07.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5"><img src="{$skindir}/house_new/images/home/top_08.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6"><img src="{$skindir}/house_new/images/home/top_09.gif" /></a></div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn">新楼盘搜索</div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome"> {include PHPCMS_ROOT.'/data/building_search_inc.html'} </div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn"><span>合租搜索</span></div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome"> 
	{include PHPCMS_ROOT.'/data/coop_search_inc.html'}
 </div>
  </div>
  <div id="homeright">
    <div id="bt11">当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; {$areapos} {if $infocat}{$CAT[$infocat][name]}{/if}</div>
    <div class="homen">
      <li class="homeny1">名称</li>
      <li class="homeny2">区域</li>
      <li class="homeny3">户型</li>
      <li class="homeny5">价格</li>
      <li class="homeny4">登记时间</li>
    </div>
    {tag_房产终极地区信息列表} </div>
</div>
{template 'phpcms','footer'}