	<div class="left_top_box">
      <!--<h5>新楼盘搜索</h5> -->
	  <ul>
	    <form action="{$PHPCMS['siteurl']}{$MOD['moduledir']}/search.php?action=building" method="GET" name="search_building">
        <li>
所属区域：
{$area_select('areaid', '不限', '', 'style="width:120px;"')}

        </li>
		<li>
物业类型：
         <select name="propertytype" id="propertytype3" >
          <option value="" selected>不限</option> 
          {loop $PARS['type'] $k $v}
		  <option value="{$v}" {if $v==$propertytype} selected{/if}>{$k}</option>
		  {/loop}
          </select>
        </li>
		<li>
价格范围： <input name="fromprice" type="text" id="fromprice" size="5">～<input name="toprice" type="text"id="toprice" size="5">元
        </li>
		<li>
搜索项目： <select name="searchtype" id="searchtype">
          <option value="name">楼盘名称</option>
          <option value="address">楼盘地址</option>
          <option value="develop">开发商</option>
          </select>
        </li>
		<li>
          <input type="hidden" name="search" value="1">
		  <input type="hidden" name="action" value="building">
          <input name="keywords" type="text" id="keywords" size="10" height="9">
          <input class="btn" type="image" src="{$skindir}/house_new/images/home/search.gif" name="dosubmit" value=" 搜索 " align="absmiddle"/> <a href="{$MOD[linkurl]}search.php?action=building">高级</a>
        </li>
        </form>
      </ul>
	</div>