{template 'house','header'}
<div class="fc">{include PHPCMS_ROOT.'/data/house_search_inc.html'}</div>
<div id="censent">
  <div id="homeleft">
    <div class="boxmargin" align="center"><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1"><img src="{$skindir}/house_new/images/home/top_03.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2"><img src="{$skindir}/house_new/images/home/top_04.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3"><img src="{$skindir}/house_new/images/home/top_06.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4"><img src="{$skindir}/house_new/images/home/top_07.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5"><img src="{$skindir}/house_new/images/home/top_08.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6"><img src="{$skindir}/house_new/images/home/top_09.gif" /></a></div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn">新楼盘搜索</div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome">
      {include PHPCMS_ROOT.'/data/building_search_inc.html'}
    </div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn"><span>合租搜索</span></div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome">
	{include PHPCMS_ROOT.'/data/coop_search_inc.html'}
	<!--以上是合租-->
<div style="clear:both;"></div>
      
    </div>
  </div>
  <div id="homeright">
    <div  class="homel">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>最新楼盘介绍</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listdisplay.php">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
{tag_首页最新楼盘图片}
        <div style="clear:both"></div>
      </div>
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房出售</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=4">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页出售}
        </ul>
      </div>
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房求购</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=5">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页求购}
        </ul>
      </div>
	  <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房求租</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=2">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页求租}
        </ul>
      </div>
	  <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房合租</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=3">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页合租}
        </ul>
      </div>
	  <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房出租</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=1">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页出租}
        </ul>
      </div>
	  <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><span>楼房置换</span></div>
        </li>
        <li class="xw-right"><a href="{$MOD[linkurl]}listinfo.php?infocat=6">更多</a></li>
      </ul>
      <div class="xianhome boxmargin">
        <ul class="homelist">
          {tag_房产首页置换}
        </ul>
      </div>
    </div>
    <div  class="homer">
      <script>
        function showContentwhy(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var navwhy = document.getElementById("navwhy" + i);
        var articlecontentwhy = document.getElementById("articlecontentwhy" + i);
        if (i == id)
        {
        navwhy.className = 'homeon';
        articlecontentwhy.style.display = "";
        }
        else
        {
        navwhy.className = 'homeoff';        
        articlecontentwhy.style.display = "none";
        }
        }
        }
        </script>
      <div class="boxmargin">
        <div class="homeicleft">
          <div>
            <p class="homeon" onMouseOver="showContentwhy('0')"  id="navwhy0">近日推荐</p>
            <p class="homeoff"onMouseOver="showContentwhy('1')" id="navwhy1">热门楼盘</p>
            <p class="homeoff" onMouseOver="showContentwhy('2')"id="navwhy2">特价楼盘</p>
          </div>
        </div>
        <div class="xianhome2" >
          <div class="whytopic" id="articlecontentwhy0">
            <ul>
              {tag_房产首页推荐楼盘}
            </ul>
          </div>
          <div class="whytopic" id="articlecontentwhy1" style="display:none;">
            <ul>
              {tag_房产首页热门楼盘}
            </ul>
          </div>
          <div class="whytopic" id="articlecontentwhy2" style="display:none;">
            <ul>
              {tag_房产首页特价楼盘}
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript">
	  function showContent(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var nav = document.getElementById("nav" + i);
        var articlecontent = document.getElementById("articlecontent" + i);
        if (i == id)
        {
        nav.className = 'homeon';
        articlecontent.style.display = "";
        }
        else
        {
        nav.className = 'homeoff';        
        articlecontent.style.display = "none";
        }
        }
        }
        </script>
        
      <div class="boxmargin">
        <div class="homeicleft">
          <div>
            <p class="homeon" onMouseOver="showContent('0')"  id="nav0">地区分类</p>
            <p class="homeoff" onMouseOver="showContent('1')" id="nav1">房产中介</p>
            <p class="homeoff" onMouseOver="showContent('2')" id="nav2">物业流行</p>
          </div>
        </div>
        <div class="xianhome2 " >
          <div class="whytopic1 clearfix" id="articlecontent0">
            <ul>
            <div class="dyd">
            <ul>
            {loop $AREA $are}
			  {if !$are[parentid]}<li><a href="{$MOD['linkurl']}{$are[linkurl]}" target="_blank">{$are[areaname]}</a></li>{/if}
			 {/loop}
             </ul>
            </div>
             <div style="clear:both"></div>
            </ul>
            <div style="clear:both"></div>
          </div>
          <div class="whytopic" id="articlecontent1" style="display:none;">
            <ul>
            {tag_最新房产中介}
            </ul>
          </div>
          <div class="whytopic" id="articlecontent2" style="display:none;">
            <ul>
              {tag_房产排行}
            </ul>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
      <script>
        function showContenthome(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var navhome = document.getElementById("navhome" + i);
        var articleContenthome = document.getElementById("articleContenthome" + i);
        if (i == id)
        {
        navhome.className = 'homeon';
        articleContenthome.style.display = "";
        }
        else
        {
        navhome.className = 'homeoff';        
        articleContenthome.style.display = "none";
        }
        }
        }
        </script>
      <script>
        function showContenthome(id)
        {
        for (var i = 0;i < 3;i++)
        {
        var navhome = document.getElementById("navhome" + i);
        var articleContenthome = document.getElementById("articleContenthome" + i);
        if (i == id)
        {
        navhome.className = 'whyoff';
        articleContenthome.style.display = "";
        }
        else
        {
        navhome.className = 'whyon';        
        articleContenthome.style.display = "none";
        }
        }
        }
        </script>
    </div>
  </div>
</div>
{template 'phpcms','footer'}