{template 'house','header'}
<style type="text/css">
<!--
.fc {border: 1px solid #FDE0C6;background-color: #FEF7EF;padding: 8px;
width:958px;margin:0 auto;
margin-bottom:8px;}
-->
</style>
<div class="fc">{include PHPCMS_ROOT.'/data/house_search_inc.html'}</div>
<div  id="censent">
  <div id="homeleft">
  <div class="boxmargin" align="center"><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1"><img src="{$skindir}/house_new/images/home/top_03.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2"><img src="{$skindir}/house_new/images/home/top_04.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3"><img src="{$skindir}/house_new/images/home/top_06.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4"><img src="{$skindir}/house_new/images/home/top_07.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5"><img src="{$skindir}/house_new/images/home/top_08.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6"><img src="{$skindir}/house_new/images/home/top_09.gif" /></a></div>
    <ul class="xw-1"><li class="xw-left">
      <div class="xw-onn">新楼盘搜索</div>
    </li><li class="xw-right"></li></ul>
    <div class="boxmargin xianhome">
     {include PHPCMS_ROOT.'/data/building_search_inc.html'}
    </div>
    <ul class="xw-1"><li class="xw-left">
      <div class="xw-onn"><span>合租搜索</span></div>
    </li><li class="xw-right"></li></ul>
    <div class="boxmargin xianhome">
	{include PHPCMS_ROOT.'/data/coop_search_inc.html'}
     
    </div>
  </div>
  <div id="homeright">
  <div id="bt11" class="boxmargin">当前位置:<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; <a href="{$CAT[$infocat][linkurl]}">楼盘列表</a></div>
 
  {tag_楼盘信息列表}

  <div style="clear:both"></div>
</div>
  </div>
</div>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>
{template 'phpcms','footer'}
