<!--{loop $houses $i $house}-->
<li><!--{if $showareaname}-->[<a href="{$MODULE[house][linkurl]}area.php?areaid={$house[areaid]}">{$AREA[$house[areaid]][areaname]}</a>] <!--{/if}-->
<a href="{$house[linkurl]}" title="{$house[name]}"  {$target} class="tag_title_link">{$house[cut_name]}</a>
<!--{if $showhits}-->({$house[hits]}次)<!--{/if}-->
<!--{if $showprice}--> 价格：{if $house['price']}{$house[price]}{$PARS[unit][$house[unit]]}{else}面议{/if}<!--{/if}-->
<!--{if $datetype}--> [<span class="tag_date">{$house[addtime]}</span>]<!--{/if}-->
<!--{if $descriptionlen}--><br/>
<span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$house[introduce]}</span><!--{/if}--></li>
<!--{/loop}-->
<!--{if $pages}-->
<div class="pages">{$pages}</div>
<!--{/if}-->