{template 'house','header'}
<table cellspacing="0" cellpadding="0" border="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
<div class="clearboth"></div>
<div class="memberborder_1">
<div class="memberborder_2">

<div class="k"></div>
   <ul style="padding:10px;text-align:left">
  <form name="myform" method="post" action="{$PHPCMS[siteurl]}/{$MOD[moduledir]}/membertype.php" onSubmit='return CheckForm();'>
   <li><b>你正在访问房产频道，请在发布信息前选择您的用户类型：</b></li>
         <li></li>
    <li>用户类型：&nbsp;<span class="tablerow">
        <input type='radio' name='membertype' value='1' checked onClick="ChangeCorpStatus(1);">个人会员&nbsp;
        <input type='radio' name='membertype' value='2' onClick="ChangeCorpStatus(2);">中介机构
        <input type='radio' name='membertype' value='3' onClick="ChangeCorpStatus(3);"> 
        房地产开发商</span> (一旦设置成功就不可修改) 
	</li>
<ul id='li_corpname' style="display:none">
    <li>单位名称：&nbsp;<input name="corpname" type="text" id="corpname" size="40" disabled>
(个人会员无需设置)</li>
      <li></li>
	  <li>单位介绍：<br /><textarea name='my_house_introduce' id="my_house_introduce" cols="60" rows="4">{$my_house_introduce}</textarea>{$editor('my_house_introduce', 'introduce', 600, 400)}</li>
</ul>
	  <li><br/><input name="dosubmit" type="hidden" id="dosubmit" value="1">
          <input name="forward" type="hidden" id="forward" value="{$forward}">
          <input type="submit" name="submit" value=" 确 定 " class="btn">		　
		  <input type="reset" name="Submit" value=" 重 置 " class="btn">
		  <br/><br/>更详细的个人资料请点击 <a href="{$MODULE[member][linkurl]}edit.php" target="_blank"><strong>这里</strong></a> 在个人控制面板内修改</td>
      </li>
</form>
</ul>

<script language="javascript">
function ChangeCorpStatus($obj)
{
	if($obj==1)
	{
	    $('corpname').disabled = true;
		$('li_corpname').style.display='none';
	}
	else if($obj==2 || $obj==3)
	{
		$('corpname').disabled = false;
		$('li_corpname').style.display='block';
	}
}
</script>

</div></div>
</td>
</tr>
 </tbody>
</table>

{template 'phpcms','footer'}