{template 'house','header'}
<style type="text/css">
<!--
.fc {border: 1px solid #FDE0C6;background-color: #FEF7EF;padding: 8px;
width:958px;margin:0 auto;
margin-bottom:8px;}
-->
</style>
<div class="fc">{include PHPCMS_ROOT.'/data/house_search_inc.html'}</div>
<div  id="censent">
  <div id="homeleft">
    <div class="boxmargin" align="center"><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1"><img src="{$skindir}/house_new/images/home/top_03.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2"><img src="{$skindir}/house_new/images/home/top_04.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3"><img src="{$skindir}/house_new/images/home/top_06.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4"><img src="{$skindir}/house_new/images/home/top_07.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5"><img src="{$skindir}/house_new/images/home/top_08.gif" /></a><a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6"><img src="{$skindir}/house_new/images/home/top_09.gif" /></a></div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn">新楼盘搜索</div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome"> {include PHPCMS_ROOT.'/data/building_search_inc.html'} </div>
    <ul class="xw-1">
      <li class="xw-left">
        <div class="xw-onn"><span>合租搜索</span></div>
      </li>
      <li class="xw-right"></li>
    </ul>
    <div class="boxmargin xianhome"> {include PHPCMS_ROOT.'/data/coop_search_inc.html'}
</div>
  </div>
  <div id="homeright">
    <div id="bt11" class="boxmargin">当前位置:<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; <a href="{$MOD[linkurl]}listdisplay.php">楼盘列表信息</a> &gt;&gt; {$name}</div>
    <div class="boxmargin">
      <ul>
        <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=1"><img src="{$skindir}/house_new/images/home/fbcz.gif" /></a> <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=2"><img src="{$skindir}/house_new/images/home/fbqz.gif" /></a> <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=3"><img src="{$skindir}/house_new/images/home/fbhz.gif" /></a> <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=4"><img src="{$skindir}/house_new/images/home/fbcs.gif" /></a> <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=5"><img src="{$skindir}/house_new/images/home/fbqg.gif" /></a> <a href="{$MOD[linkurl]}frontmgr.php?action=add&type=6"><img src="{$skindir}/house_new/images/home/fbzh.gif" /></a> <a href="{$MOD[linkurl]}displaymgr.php?action=add"><img src="{$skindir}/house_new/images/home/fblp.gif" /></a>
      </ul>
    </div>
    <div class="qznr">
      <ul>
        <li><span>开发商：</span>{$develop}<div style="clear:both"></div></li>
        <li><span>区域：</span>{$AREA[$areaid][areaname]}<div style="clear:both"></div></li>
        <li><span>物业类别：</span>{$housetype}<div style="clear:both"></div></li>
        <li><span>起价：</span>{$startprice} 元/㎡<div style="clear:both"></div></li>
        <li><span>均价：</span>{$avgprice} 元/㎡<div style="clear:both"></div></li>
        <li><span>地址：</span>{$address}<div style="clear:both"></div></li>
        <li><span>物业管理费：</span>{$managefee}<div style="clear:both"></div></li>
        <li><span>开盘时间：</span>{$starttime}<div style="clear:both"></div></li>
        <li><span>入住时间：</span>{$staytime}<div style="clear:both"></div></li>
        <li><span>建筑面积：</span>{$buildarea}㎡<div style="clear:both"></div></li>
        <li><span>占地面积：</span>{$area}㎡<div style="clear:both"></div></li>
        <li><span>容积率：</span>{$capacity}<div style="clear:both"></div></li>
        <li><span>绿化率：</span>{$green}<div style="clear:both"></div></li>
        <li><span>预售许可证：</span>{$licence}<div style="clear:both"></div></li>
        <li><span>公交状况：</span>{$transit}<div style="clear:both"></div></li>
        <li>
        <span>周边配套：</span>{$peripheral}
        <div style="clear:both"></div>
        </li>
        <li><span class="biaotis">{$name}售楼资料</span><div style="clear:both"></div></li>
        <li><span>售楼地址：</span>{$saleaddress}<div style="clear:both"></div></li>
        <li><span>售楼热线：</span>{$saletele}<div style="clear:both"></div></li>
        <li><span>联&nbsp;系&nbsp;人：</span>{$contract}<div style="clear:both"></div></li>
        <li><span>电子邮件：</span>{$email}<div style="clear:both"></div></li>
        <li><span>传&nbsp;&nbsp;&nbsp;&nbsp;真：</span>{$fax}<div style="clear:both"></div></li>
        <li><span>楼盘网址：</span><a href="{$url}" title="{$name}网站" target="_blank">{$url}</a><div style="clear:both"></div></li>
      </ul>
    </div>
    <div class="newhouse_right">
      <h5>{$name}</h5>
      {if $MOD['showhits']} 浏览次数：<span id="hits"></span>&nbsp;{/if}
      <ul>
        <li><img src="{$img1}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="楼盘位置图" /></li>
        <li>楼盘位置图</li>
        <li><img src="{$img2}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}"  alt="楼盘环境图"/></li>
        <li>环境图</li>
        <li><img src="{$img3}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt="楼盘室内图" /></li>
        <li>室内图</li>
      </ul>
    </div>
  </div>
  
</div>
</div>
<script type="text/javascript" src="{$MOD[linkurl]}show_js.php?itemid={$displayid}&key=displayid"></script>
{template 'phpcms','footer'}