{template 'house','header'}
<script language="javascript">
function CheckForm(){
	if($F('fromprice')!='' && !Common.isnumber($F('fromprice')))
	{
		alert('价格必须为整/小数');
		$('fromprice').focus();
		return FALSE;
	}
	if($F('toprice')!='' && !Common.isnumber($F('toprice')))
	{
		alert('价格必须为整/小数');
		$('toprice').focus();
		return FALSE;
	}
}
</script>
<link href="{$skindir}/search.css" rel="stylesheet" type="text/css" />
<div id="censent">
  <div class="search33 boxmargin">
<div id="bt11">当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; 新楼盘搜索</div>
<div style="height:10px"></div>
<ul class="hhh1"><li>所属区域：</li><li>物业类型：</li><li>起始价格：</li><li>平均价格：</li><li>关键词：</li><li>排序方式：</li></ul>
   <form name="myform" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/search.php" method="get" onSubmit="return CheckForm();">
<ul class="hhh3"><li>
	   {if is_numeric($areaid) && $areaid>0}<span onClick="this.style.display='none';$('select_area').style.display='';" style="cursor:pointer;"><?=$AREA[$areaid]['areaname']?> <font color="red">点击重选</font></span><span id="select_area" style="display:none;"></span>{/if}
       {$ajax_area_select('areaid', $mod, $areaid)}
	   </li><li>
     <select name="propertytype">
         <option value="" selected>不限</option>
             {loop $PARS['type'] $k $v}           
         <option value="{$v}" {if $v==$propertytype} selected{/if}>{$k}</option>                                 
             {/loop}
       </select> </li><li>
	   <input name="startprice_from" type="text" id="startprice_from" size="5" value="{$startprice_from}"> ～ <input name="startprice_to" type="text"  id="startprice_to" size="5" value="{$startprice_to}"> 留空表示不限 </li><li>
	   <input name="avgprice_from" type="text" id="avgprice_from" size="5" value="{$avgprice_from}"> ～ <input name="avgprice_to" type="text"  id="avgprice_to" size="5" value="{$avgprice_to}"> 留空表示不限 </li><li>
         <select name="searchtype" id="select4">
           <option value="name" {if $searchtype=='name'} selected{/if}>楼盘名称</option>
		   <option value="address" {if $searchtype=='address'} selected{/if}>楼盘地址</option>
		   <option value="develop" {if $searchtype=='develop'} selected{/if}>开发商</option>
         </select>
         <input name="keywords" type="text" size="30" value="{$keywords}">
* 多个关键词之间用空格隔开	   
	  </li><li>
           <select name="ordertype">
             <option value="0" {if $ordertype==0}selected{/if}>房产信息排序</option>
             <option value="1" {if $ordertype==1}selected{/if}>平均价格降序</option>
             <option value="2" {if $ordertype==2}selected{/if}>平均价格升序</option>
			 <option value="3" {if $ordertype==3}selected{/if}>面积降序</option>
             <option value="4" {if $ordertype==4}selected{/if}>面积升序</option>
             <option value="5" {if $ordertype==5}selected{/if}>发布时间降序</option>
             <option value="6" {if $ordertype==6}selected{/if}>发布时间升序</option>
             <option value="7" {if $ordertype==7}selected{/if}>浏览次数降序</option>
             <option value="8" {if $ordertype==8}selected{/if}>浏览次数升序</option>
           </select>
		 </li><li style="padding-left:125px;">
         <input type="hidden" name="search" value="1">
	     <input type="hidden" name="action" value="building">
         <input name="dosubmit" type="submit" class="btn" value="立即搜索" />
        <input name="button" type="button" class="btn" onClick="window.location='search.php?action=building'" value="重新搜索" /> 
	   </li></ul>
   </form>
  <!--{if $search}-->
<div class="ssjg"><!--{if $keywords}-->您输入的关键词<strong><font color="red">{$keywords}</font></strong>，<!--{/if}-->共找到<font color=red>{$number}</font>个结果</div>
 <table width="100%" cellspacing="1" cellpadding="0">
	<tr>
	<td>
	<table width="100%"  cellspacing="1" cellpadding="1" style="border:0px solid">
	</tr>
        <tr style="background:#f1f7fc;text-align:center;">
          <td class="search_l" style="text-align:center;">区域</td>
          <td class="search_l" style="text-align:center;">楼盘名称</td>
          <td class="search_l" style="text-align:center;">起始价格</td>
          <td class="search_l" style="text-align:center;">平均价格</td>
		  <td class="search_l" style="text-align:center;">开发商</td>
          <td class="search_l" style="text-align:center;">楼盘地址</td>       
          <td class="search_l" style="text-align:center;">发布时间</td>
        </tr>
		{loop $searchs $house}
        <tr style="background:#F9F9F9; ">
          <td class="search_l" align="center"><a href="{$change_url('areaid', $house['areaid'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[areaname]}</a></td>
          <td class="search_l" align="left"><a href="{$house[linkurl]}" target="_blank">{$house[name]}</a></td>
          <td class="search_l" align="center">{if $house['startprice']}{$house[startprice]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
          <td class="search_l" align="center">{if $house['avgprice']}{$house[avgprice]}{$PARS[unit][$house[unit]]}{else}面议{/if}</td>
		  <td class="search_l" align="left"><a href="{$change_url('develop', $house['develop'], $PHP_URL)}" title="查看{$house[areaname]}的全部房产信息">{$house[develop]}</a></td>
          <td class="search_l" align="left">{$house[address]}</td>
          <td class="search_l" align="center">{$house[addtime]}</td>
        </tr>
		{/loop}
        <tr bgcolor="#F1F2F3">
          <td height="30" colspan="8"  class="pages" style="text-align:center; ">{$pages} </td>
        </tr>
      </table>	
    </td>
	</tr></table>
	<!--{/if}-->
</div>
{template 'phpcms','footer'}