{loop $displays $i $display}
  <div class="display_list_box">
  <ul><a href="{$display[linkurl]}" target="_blank"><img src="{$display[thumb]}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" /></a></ul>
  <ul style="padding-top:10px;"><li>名&nbsp;&nbsp;&nbsp;&nbsp;称：&nbsp;&nbsp;<a href="{$display[linkurl]}" target="_blank"><span>{$display[name]}</span></a>&nbsp;</li>
    <li>所属区域：&nbsp;&nbsp;<a href="{$MOD[linkurl]}listdisplay.php?areaid={$display[areaid]}">{$AREA[$display[areaid]][areaname]}</a></li>
    <li>开发单位：&nbsp;&nbsp;{$display[develop]}</li>
    </ul>
	<br /><br /><a href="{$display[linkurl]}" target="_blank" class="f_r"><img src="{$skindir}/house/images/end_details.gif" /></a>
  </div>
{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}
