{loop $displays $i $display}
<div class="loupan">
<a href="{$display[linkurl]}" target="_blank"><img src="{$display[thumb]}" border="0" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" /></a><ul>
<li class="btnnn">名称:<font color="#FA7905">{$display[name]}</font></li>
<li>所属区域：<a href="{$MOD[linkurl]}listdisplay.php?areaid={$display[areaid]}">{$AREA[$display[areaid]][areaname]}</a></li>
<li>开发单位：{$display[develop]}</li></ul>
</div>
{/loop}
<div style="clear:both;"></div>
{if $pages}
<div class="pages">{$pages}</div>
{/if}