<style type="text/css">
<!--
a:link {color: #333333;}
a:hover {color: #666666;}
a:visited {color: #CCCCCC;}
a {font-size: 12px;}
a:active {color: #333333;}
.demo_1 {line-height: 22px;}
-->
</style>
<CENTER>
  <TABLE cellSpacing=0 cellPadding=0 width=500 align=center border=0>
  <TBODY>
  <TR>
    <TD height="108">
      <DIV id=demo style="OVERFLOW: hidden; WIDTH: 500; COLOR: #ffffff">
      <TABLE cellSpacing=0 cellPadding=0 align=left border=0 cellspace="0">
        <TBODY>
        <TR>
          <TD id=demo1 vAlign=top><table width="500" height="98"  border="0" cellpadding="0" cellspacing="0">
            <tr>
{loop $displays $display}
<td width="100" height="98"><div class="demo_1" align="center"><a href="{$display[linkurl]}" target="_blank"><IMG src="{$display[thumb]}" alt="{$display[name]}" width="100" height="75" border="0"></a><br>
  <a href="{$display[linkurl]}" target="_blank">{$display[name]}</a></div></td>{/loop}
            </tr>
          </table></TD>
          <TD id=demo2 vAlign=top>&nbsp;</TD></TR></TBODY></TABLE></DIV>
</TD></TR></TBODY></TABLE></TD></TR></TABLE>
</CENTER><script language=JavaScript src="/js/scrollpic.js"></script>