<div class="homen1">
     {loop $houses $i $house} <ul>

    <li class="homeny1"><strong><a href="{$house[linkurl]}" title="{$house[name]}" {$target}>{$house[cut_name]}</a></strong>({$house[isinter]})</li><!--名称 -->
    <li class="homeny2">{$house[address]}</li><!--区域 -->
    <li class="homeny3">{$house[infocatname]}{$house[housetype]}&nbsp;</li><!--户型 -->
    <li  class="homeny5">{if $house['price']}{$house[price]}{$PARS[unit][$house[unit]]}{else}面议{/if}</li><!--价格 -->
    <li class="homeny4">{$house[addtime]}</li><!--时间 -->

  </ul>
  <div style="clear:both"></div>{/loop}
</div>

{if $pages}
<div class="pages">{$pages}</div>
{/if}