{template 'house','header'}
<style type="text/css">
<!--
#house_web li {float: left;}
#bt11{margin-bottom:8px;}
#house_web {width:980px;margin:0 auto;}
.web_1 {background-color: #E1EDFF;height: 24px;}
.web_2{border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #BFCFFF;line-height: 26px;height: 26px;padding-top: 5px;}
.center {text-align: center;}
#house_web li {height: 24px;line-height: 24px;}
#house_web .w_1,.w_2,.w_4,.w_5{margin-left: 1px;background-color: #E1EDFF;}
#house_web .c_1,.c_2,.c_4,.c_5{margin-left: 1px;}
#house_web .w_1,.c_1 {width: 170px;}
#house_web .w_2,.c_2 {width: 120px;}
#house_web .w_4,.c_4 {width: 323px;}
#house_web .w_5,.c_5 {width: 120px;}
/*分页*/
.pages_1 {text-align: right;height: 26px;clear: both;line-height: 26px;padding-right: 25px;border: 1px solid #9CC3D9;background-color: #F0F9FE;padding-top: 4px;padding-bottom: 4px;}
-->
</style>
   <div id="house_web">
<div id="bt11"><span>当前位置：<a href="{$MOD[linkurl]}">房产首页</a> &gt;&gt; <a href="{$MOD[linkurl]}web.php">中介主页</a> &gt;&gt; {$my_house_corpname}</span></div>
<div class="web">
   <ul class="h_1 center">
<li class="w_1">中介名称</li>
<li class="w_2 center">联系人</li>
<li class="w_2">电话</li>
<li class="w_4">地址</li>
<li class="w_5 center">最近登录</li>
<li class="w_5 center">注册日期</li>
   </ul>
   <br style="clear:both">
   </div>
   {tag_房产首页中介列表}
</div>
{template 'phpcms','footer'}