{template 'video','header'}
<div id="main">
<div class="gg980 mar_10"><!--预留978*60广告位--></div>
<div class="weizhi">当前位置：<a href="{$M[url]}">视频首页</a>{catpos($catid)}</div>
<div class="w670 left">
<div class="w292 left">
<div class="player">
{tag_栏目页头条}
</div>
<!--player结束-->
</div>
<div class="w368 left10 left">
{tag_栏目页头条3条}
<div class="dashed"></div>
<ul class="list14">
{tag_栏目页推荐3条}
</ul>
<div class="dashed"></div>
<div class="blank5"></div>
<ul class="hotpic_list">
{tag_栏目页最新3条}
</ul>
</div>
<!--w368结束-->
{loop $arrchildid $cid $c}
<!--循环开始-->
{php $catids = get_sql_catid($cid);}
<div class="blank10"></div>
<div class="inner_title"><span class="more blue"><a href="{$c[url]}">更多>></a></span><h2 class="f14 blue"><a href="{$c[url]}">{$c['catname']}</a></h2></div>
<div class="midcon">
<div class="blank10"></div>
<ul class="list_vedio">
{get sql="SELECT * FROM phpcms_video a,phpcms_video_count b WHERE a.vid=b.vid AND a.status=99 $catids ORDER BY a.vid DESC" rows="8"}
<li><a href="{video_show_url("$r[vid]","$r[url]")}" class="img_padding"><span class="v_time">{format_time($r[timelen])}</span>
<img src="{$r[thumb]}" width="124" height="94"/></a><h2 class="blue"><a href="{video_show_url($r[vid],$r[url])}">{str_cut($r[title],'36','')}</a></h2><p>播放: 2471</p></li>
{/get}
</ul>
<div class="blank10"></div>
</div>
<!--循环结束-->
{/loop}

</div>
<!--w670结束-->

<div class="w302 right">
<div class="ph">
<div class="titleBar">
<h3>排行榜</h3>
<ul class="tagList right">
<li class="on" id="linktab_1" onmouseover="showmenu(1, 3, 'linktab', 'link')">本周</li>
<li id="linktab_2" onmouseover="showmenu(2, 3, 'linktab', 'link')">本月</li>
<li  class="r_border" id="linktab_3" onmouseover="showmenu(3, 3, 'linktab', 'link')">今日</li>
</ul>
</div>
<div class="clear"></div>
<div class="midcon">
<div class="blank8"></div>
<ul class="rtlist" id="link_1">
{get sql="SELECT * FROM phpcms_video a,phpcms_video_count b WHERE a.vid=b.vid AND status=99 $catids AND hits_time>$week_time ORDER BY b.hits_week DESC" rows="10"}
<li><span>{str_pad($n, 2, 0, STR_PAD_LEFT)}</span><a href='{video_show_url("$r[vid]","$r[url]")}'>{str_cut($r[title],36,'')}</a></li>
{/get}
</ul>
<div class="clear"></div>
<ul class="rtlist" id="link_2" style="display:none">
{get sql="SELECT * FROM phpcms_video a,phpcms_video_count b WHERE a.vid=b.vid AND status=99 $catids AND hits_time>$month_time ORDER BY b.hits_month  DESC" rows="10"}
<li><span>{str_pad($n, 2, 0, STR_PAD_LEFT)}</span><a href='{video_show_url("$r[vid]","$r[url]")}'>{str_cut($r[title],36,'')}</a></li>
{/get}
</ul>
<div class="clear"></div>
<ul class="rtlist" id="link_3" style="display:none">
{get sql="SELECT * FROM phpcms_video a,phpcms_video_count b WHERE a.vid=b.vid AND status=99 $catids AND hits_time>$day_time ORDER BY b.hits_month  DESC" rows="10"}
<li><span>{str_pad($n, 2, 0, STR_PAD_LEFT)}</span><a href='{video_show_url("$r[vid]","$r[url]")}'>{str_cut($r[title],36,'')}</a></li>
{/get}
</ul>
<div class="clear"></div>
</div>
</div>
<!--排行结束-->
<div class="blank10"></div>
<div class="r_tit fb f14">最新专辑</div>
<div class="midcon">
<ul class="subject_img">
{get sql="SELECT * FROM phpcms_video_special WHERE disabled=0 ORDER BY specialid DESC" rows="12"}
{if $n<3}<li><a href='{video_special_url("$r[specialid]")}'><img src="{$r[thumb]}" width="124" height="94"/></a></li>
{if $n==2}</ul>
<div class="clear"></div>
<ul class="subject_list">
{/if}
{else}
<li><a href='{video_special_url("$r[specialid]")}'>{$r[title]}</a></li>
{/if}
{/get}
</ul>
<div class="clear"></div>
</div>
<!--最新专辑结束-->
<div class="gg302"><!--预留广告位304*156--></div>
<!--推荐视频-->
<div class="r_tit fb f14">推荐视频</div>
<div class="midcon">
<div class="blank10"></div>
<ul class="r_vedio">
{tag_列表页推荐视频}
</ul>
<div class="blank5"></div>
</div>
<!--推荐视频结束-->

</div>
<!--w300结束-->

</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function showmenu(id, all, menu, tab)
{
	for (var i = 1; i<= all; i++)
	{
		$('#'+tab+'_'+i).hide();
		$('#'+menu+'_'+i).removeClass('on');
	}
	$('#'+menu+'_'+id).addClass('on');
	$('#'+tab+'_'+id).show();
}
//-->
</SCRIPT>
{template 'phpcms','footer'}