{template 'video','header'}
<div class="blank10"></div>
<div class="weizhi"><span>当前位置：</span><a href="#">首页</a><a href="{$M[url]}">视频</a>搜索</div>
<!--begin main-->
<div id="main">
<div class="blank20"></div>
<div class="condition">
  <!--搜索条件-->
<form name="myform" method="get" action="">
  <table cellpadding="0" cellspacing="1" class="search_term">
{loop $where $field $r}
    <tr>
      <th width="30%" style="font-size:14px;color:#0060cc;">{$r[name]}</th>
      <td>{$r[form]}</td>
    </tr>
{/loop}
    <tr>
      <th style="font-size:14px;color:#0060cc;">排序方式</th>
      <td><?=form::select($order, 'orderby', 'orderby', 'a.contentid DESC', 1)?></td>
    </tr>
    <tr>
      <th></th>
      <td><input class="search_bt" type="submit" value="立即搜索" />
        <input class="search_bt" type="reset" value="重新搜索" /></td>
    </tr>
  </table>
  <input type="hidden" name="mod" value="{$mod}"> 
  <input type="hidden" name="file" value="{$file}"> 
  <input type="hidden" name="action" value="{$action}"> 
  <input type="hidden" name="dosubmit" value="1"> 
</form>
</div>
<div class="blank10"></div>
  <!--搜索结果-->
{if $dosubmit}
  <div class="search_res blue">共找到到符合条件的结果 <span style="color:red">{$total}</span> 条</div>
	{loop $data $i $r}
	<div class="blank20"></div>
  <div class="search_list">
    <h2><a href="{$r[url]}" target="_blank" class="blue">{$r[title]}</a></h2>
    <p>{$r[description]}</p>
    <p style="color:#008000; text-indent:0px;">{url($r[url], 1)}　{if $r[updatetime]}{date('Y-m-d', $r[updatetime])}{/if}</p>
  </div>
	{/loop}
{/if}
  <!--分页-->
  <div id="pages" class="channel_pages">{$pages}</div>
</div>
<!--end main-->
<!--begin foot-->
{template 'phpcms','footer'}
