<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}">         
<meta http-equiv="cache-control" content="no-cache">  
<title>提示信息</title>
<style type="text/css">
<!--
.STYLE1 {
	color: #FFFFFF;
	font-weight: bold;
}
body,td,th {
	font-size: 12px;
}
body {
	background-color: #F0F0F0;
}
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #003399;
}
a:hover {
	text-decoration: underline;
	color: #0066FF;
}
a:active {
	text-decoration: none;
	color: #0066FF;
}
-->
</style>
<script language="JavaScript" src="{PHPCMS_PATH}include/js/common.js"></script>
</head>
<body>
<table width="450" border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#CCCCCC">
  <tr>
    <td bgcolor="#FFFFFF"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
      <tr>
        <td height="25" align="center" bgcolor="#0066CC"><span class="STYLE1">提示信息</span></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#DDE8F4"><table width="100%" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td align="center">
<br/>

{$msg}

<br/>

{if $url_forward=="goback"}

<br/><a href="javascript:history.back();" >[点这里返回上一页]</a>

{elseif $url_forward=="close"}

<br/><input type="button" name="close" value=" 关闭 " onClick="window.close();">

{elseif $url_forward}

<br/><a href="{$url_forward}">如果您的浏览器没有自动跳转，请点击这里</a>

<script language="javascript">setTimeout("redirect('{$url_forward}');",{$ms});</script>

{/if}
           </td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>