<table cellspacing="1" cellpadding="0" width="100%" bgcolor="#dddddd" border="0">
    <tbody>
        <tr>
            <td align="center" bgcolor="#f5f5f5" height="30">
            <table cellspacing="0" cellpadding="3" width="100%" border="0">
                <form onsubmit="this.action=document.search.channelsearch.value" method="get" target="_blank" name="search">
                    <tbody>
                        <tr>
                            <td align="right" width="350">站内搜索：<input size="40" name="keywords" /> </td>
                            <td align="center" width="120"><select name="channelsearch"> {loop $CHANNEL $channel} {if $channel['islink']==0}
                            <option value="{$channel[linkurl]}search.php">{$channel[channelname]}</option>
                            {/if} {/loop}
							{if isset($MODULE['product'])}
                            <option value="{$MODULE['product']['linkurl']}search.php">{$MODULE['product']['name']}</option>
                            {/if}</select> </td>
                            <td align="left"><input type="hidden" name="search" value="1" /> <input class="btn" type="submit" name="submit" value=" 搜 索 " /> </td>
                        </tr>
                    </tbody>
                </form>
            </table>
            </td>
        </tr>
    </tbody>
</table>