<style type="text/css">
<!--
#content {
	width:210px;
	overflow:hidden;
	padding:5px;
	float:left;
}
#content img{
    border:1px solid #333;
    float:right;
    padding:3px;
}
#text{
   clear:left;
   }
#spetitle{
	font-size:12px;
	font-weight:bold;
	background-color:#666;
	color:#fff;
	text-align:center;
	height:20px;
	line-height:20px;
	margin-bottom:5px;
	width:100%;
	}
-->
</style>
<table width="100%" align="center" cellpadding="0" cellspacing="0">
   <!-- 专题列表循环显示开始 -->
   {loop $specials $i $special}
       {if $i%$cols==0}
           <tr>
       {/if}
     <td class="dot" width="{$width}">
       {if $showtype==1}
         <!-- 图片+标题+内容简介：上下排列 开始 -->
         <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
           <tr>
              <td class="spec_img"><a href='{$special[url]}' target='_blank'><img src='{$special[specialpic]}' alt='{$special[alt]}' width='{$imgwidth}' height='{$imgheight}' border='0'></a></td>
           </tr>
           <tr>
              <td height='22'><a href='{$special[url]}' target='_blank' title='{$special[alt]}'><b>{$special[specialname]}</b></a></td>
           </tr>
          {if $descriptionlen}
           <tr>
              <td>{$special[introduce]} <a href='{$special[url]}' target='_blank'>详细>></a></td>
           </tr>
          {/if}
         </table>
         <!-- 图片+标题+内容简介：上下排列 结束 -->

       {elseif $showtype==2}

         <!-- （图片+标题：上下排列）+内容简介：左右排列 开始 -->
         <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
           <tr>
              <td width='{$imgwidth}' class="spec_img"><a href='{$special[url]}' target='_blank'><img src='{$special[specialpic]}' alt='{$special[alt]}' width='{$imgwidth}' height='{$imgheight}' border='0'></a></td>
              <td rowspan='2' valign="top">{$special[introduce]} <a href='{$special[url]}' target='_blank'>详细>></a></td>
           </tr>
           <tr>
              <td height='22'><a href='{$special[url]}' target='_blank' title='{$special[alt]}'><b>{$special[specialname]}</b></a></td>
           </tr>
         </table>
         <!-- （图片+标题：上下排列）+内容简介：左右排列 结束 -->

       {elseif $showtype==3}

         <!-- 图片+（标题+内容简介：上下排列）：左右排列 开始 -->
         <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
           <tr>
              <td width='{$imgwidth}' height='{$imgheight}' rowspan='2' class="spec_img"><a href='{$special[url]}' target='_blank'><img src='{$special[specialpic]}' alt='{$special[alt]}' width='{$imgwidth}' height='{$imgheight}' border='0'></a></td>
              <td height='22' class="gray"><a href='{$special[url]}' target='_blank' title='{$special[alt]}'><b>{$special[specialname]}</b></a></td>
           </tr>
           <tr>
              <td valign="top">{$special[introduce]} <a href='{$special[url]}' target='_blank'>详细>></a></td>
           </tr>
         </table>
        <!-- 图片+（标题+内容简介：上下排列）：左右排列 结束 -->

       {elseif $showtype==4}

         <!-- 专题名称+（图片+专题简介：左右排列）：上下排列 开始 -->
         <table width="100%"  border="0" cellspacing="0" cellpadding="2">
           <tr>
             <td height="25" colspan="2"><a href='{$special[url]}' target='_blank' title='{$special[alt]}' class='specialname'><b>{$special[specialname]}</b></a></td>
           </tr>
           <tr>
             <td align="center" width='{$imgwidth}' height='{$imgheight}'><a href='{$special[url]}' target='_blank'><img src='{$special[specialpic]}' alt='{$special[alt]}' width='{$imgwidth}' height='{$imgheight}' border='0'></a></td>
             <td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;{$special[introduce]} <a href='{$special[url]}' target='_blank'>详细>></a></td>
           </tr>
         </table>
        <!-- 专题名称+（图片+专题简介：左右排列）：上下排列 结束 -->
{elseif $showtype==5}
         <!-- 专题+（图片+内容简介：混合排列）：上下排列 开始 -->
<div id="content"><div id="spetitle">{$special[specialname]}</div>
  <a href='{$special[url]}' target='_blank'><img src='{$special[specialpic]}' alt='{$special[alt]}' width='{$imgwidth}' height='{$imgheight}' border='0'></a>
  {if $descriptionlen}<div id="text">&nbsp;&nbsp;&nbsp;&nbsp;<a href='{$special[url]}' target='_blank'>{$special[introduce]} 详细>></a> </div>{/if}
</div>
         <!-- 专题+（图片+内容简介：混合排列）：上下排列 结束 -->

       {else}

         <table width="100%" align="center" cellpadding="0" cellspacing="5">
           <tr>
              <td height='22'>·<a href='{$special[url]}' target='_blank' title='{$special[alt]}'><b>{$special[specialname]}</b></a></td>
           </tr>
	{if $descriptionlen}
           <tr>
              <td valign="top">{$special[introduce]} <a href='{$special[url]}' target='_blank'>详细>></a></td>
           </tr>
	{/if}
         </table>

       {/if}

             </td>
       {if $i%$cols==($cols-1)}
          </tr>
       {/if}
   {/loop}
   <!-- 专题列表循环显示结束 -->
</table>

   <!-- 如果 $pages 不为空则显示分页 -->
{if $pages}
           <div class="pages">{$pages}</div>
{/if}
   <!-- 分页显示结束 -->