在线咨询：
{loop $qqs $qq}
<a href="http://wpa.qq.com/msgrd?V=1&Uin={$qq}&Site={$PHP_DOMAIN}&Menu=yes" title="点击咨询&#10;QQ：{$qq}" target="_blank"><img src="http://wpa.qq.com/pa?p=1:{$qq}:4" border="0" align="absmiddle" /></a>&nbsp;&nbsp;
{/loop}
{loop $msns $msn}
<a href="msnim:chat?contact={$msn}" title="点击咨询&#10;MSN：{$msn}" target="_blank"><img src="http://osi.hshh.org:8888/msn/{$msn}" border="0" align="absmiddle" onerror="this.onerror=null;this.src='http://osi.hshh.org/msnunknown.gif';" /></a>&nbsp;&nbsp;
{/loop}
{loop $skypes $skype}
<a href="callto://{$skype}" title="点击咨询&#10;SKYPE：{$skype}"><img src="http://goodies.skype.com/graphics/skypeme_btn_small_green.gif" border="0" align="absmiddle" /></a>&nbsp;&nbsp;
{/loop}
{loop $taobaos $taobao}
<a href="http://amos1.taobao.com/msg.ww?v=2&uid={$urlencode($taobao)}&site=cntaobao&s=1" target="_blank" title="点击咨询&#10;帐号：{$taobao}"><img src="http://amos1.taobao.com/online.ww?v=2&uid={$urlencode($taobao)}&site=cntaobao&s=1" border="0" align="absmiddle" /></a>&nbsp;&nbsp;
{/loop}
{loop $alibabas $alibaba}
<a href="http://web.im.alisoft.com/msg.aw?v=2&uid={$alibaba}&site=cnalichn&s=4" target="_blank" title="点击咨询&#10;帐号：{$alibaba}"><img src="http://web.im.alisoft.com/online.aw?v=2&uid={$alibaba}&site=cnalichn&s=4" border="0" align="absmiddle" /></a>&nbsp;&nbsp;
{/loop}