{template 'yp','header'}
<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
<td background="{$skindir}/yp/top.ht2.gif">
<!--搜素开始-->
<table cellpadding="0" style="font-size:12px;" cellspacing="5">
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
<tr>
<td> 关键字： <input name="keyword" id="keyword" type="text" size="30" value="{$keyword}">

{$article_selected}

<select name="searchfrom">
		<option value="0" selected>全部时间</option>
		<option value="1">1 天前</option>
		<option value="2">2 天前</option>
		<option value="7">1 周前</option>
		<option value="30">1 个月前</option>
		<option value="90">3 个月前</option>
		<option value="180">6 个月前</option>
		<option value="365">1 年前</option>
		</select>
		<input type="radio" class="radio" name="before" value="0" checked> 之后
		<input type="radio" class="radio" name="before" value="1"> 之前
		
		<select name="ordertype">
		<option value="0"selected>按ID排序排序</option>
		<option value="1">更新时间降序</option>
		<option value="2">更新时间升序</option>
		<option value="3">浏览次数降序</option>
		<option value="4">浏览次数升序</option>
		</select></td>
<td> <input type="hidden" name="search" value="1">
<input type="submit" value="立即搜索" class="btn" /></td>
</tr>
</form>
</table>
<!--搜索结束-->
</td>
</tr>
</table>
<table width="920" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
<tr><td height="2"></td></tr>

  <tr>
    <td width="259" valign="top">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6" id="table13">
			<tr>
				<td></td>
			</tr>
	  </table>
	<table width="50" height="161" border="0" cellpadding="0" cellspacing="0" class="ta2">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">
							新闻分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $TRADE $trade}
					<tr>
						<td valign="top" >
							{if !$trade[parentid]}<a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR>
							{loop $TRADE $j $childcats}
								{if $childcats[parentid]==$trade[tradeid]} <a href="{$childcats[linkurl]}">{$childcats[tradename]}</a> {/if}
							{/loop}
							{/if}
						</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
        </tr>
      </table>
	  <table width="50" border="0" cellspacing="0" cellpadding="0" class="ta2">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">热点新闻</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg">　</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196">{tag_热点新闻列表}</td>
                </tr>
              </table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="5"></td>
        </tr>
      </table>
    </td>
    <td width="10"></td>
	 <td valign="top">
	 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="5"></td>
   
  </tr>
</table>
<table width="631" height="21" border="0" cellpadding="0" cellspacing="0" class="tt">
        <tr>
          <td width="21" align="center" valign="middle"><img src="{$skindir}/yp/tubiao.jpg" width="11" height="11" /></td>
          <td width="610" height="25">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a> >> <a href="{$MOD[linkurl]}article.php">企业新闻 </a>>>{$tradepos}</td>
        </tr>
		{if $child && $arrchildid}
        <tr>
          <td align="center" valign="middle" bgcolor="#FFF8E6">　</td>
          <td height="25" bgcolor="#FFF8E6"><strong><span class="STYLE10">择子分类：</span>&nbsp;</strong>{loop $arrchild $child}
	  <a href="{$child[linkurl]}">{$child[tradename]}</a>&nbsp;-
	  {/loop}</td>
        </tr>
		{/if}
      </table>
	 
	  <div>
          <div class="cat_title"> <div class="cat_title-1"></div>
	      <div class="cat_name">图片新闻</div> <div class="cat_title-2"></div>
	      <div class="cat_url"></div>
	  </div>
          {tag_黄页新闻栏目列表图片}     </div>
		  
		  <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6" id="table41">
			<tr>
				<td></td>
			</tr>
		</table>
		  <div>
          <div class="cat_title"><div class="cat_title-1"></div>
	      <div class="cat_name">{$TRADE[$catid][tradename]}</div><div class="cat_title-2"></div>
	  </div>
          {tag_黄页频道新闻最终栏目页列表}     </div>
	 </td>
  </tr>
</table>
{template 'yp','footer'}