{template 'yp','header'}

<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
<td background="{$skindir}/yp/top.ht2.gif">
<!--搜素开始-->
<table cellpadding="0" style="font-size:12px;" cellspacing="5">
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
<tr>
<td> 关键字： 
<input name="keyword" id="keyword" type="text" size="40" value="{$keyword}">

{$article_selected}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td> <input type="hidden" name="search" value="1">
<input type="submit" value="立即搜索" class="btn" /></td>
</tr>
</form>
</table>
<!--搜索结束-->
</td>
</tr>
</table>
<table width="920" height="350" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="left" valign="top"><table width="241" border="0" cellpadding="0" cellspacing="0" style="margin-right: 6px;float: left;">
      <tr>
        <td height="670" align="left" valign="top"><table width="89" height="69" border="0" cellpadding="0" cellspacing="0" class="ta2_1">
          <tr>
            <td align="left" valign="top"><table width="271" height="207" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="207" align="center">{tag_企业新闻幻灯片}       </td>
              </tr>
              
            </table></td>
          </tr>
        </table>
		<table border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" align="left" valign="top" bgcolor="#FFFFFF"><table width="50"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">新闻分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg">　</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $TRADE $trade}
					<tr>
						<td valign="top" >
							{if !$trade[parentid]}<a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR>
							{loop $TRADE $j $childcats}
								{if $childcats[parentid]==$trade[tradeid]} <a href="{$childcats[linkurl]}">{$childcats[tradename]}</a> {/if}
							{/loop}
							{/if}
						</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
          <table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">热点新闻</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg">　</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196">{tag_热点新闻列表}</td>
                </tr>
              </table></td>
            </tr>
          </table>
          </td>
      </tr>
    </table></td><td valign="top">
	<table border="0" cellpadding="0" width="100%" style="border-collapse: collapse">
        <tr valign="top">
          <td width="640" height="202">
			<table width="312" height="195" border="0" cellpadding="0" cellspacing="0" class="ta2_11">
            <tr>
              <td width="300" height="24" align="left" valign="top" background="{$skindir}/yp/xinwen_03.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tt">
                <tr>
                  <td width="14" height="23">　</td>
                  <td width="266"><span class="STYLE8">最新新闻</span></td>
                  <td width="44" align="center">　</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="166" bgcolor="#FFFFFF"  valign="top"><span class="hy-5" >{tag_企业新闻页面最新}</span></td>
            </tr>
          </table>
            <table width="312" height="195" border="0" cellpadding="0" cellspacing="0" class="ta2_12">
              <tr>
                <td width="300" height="24" align="left" valign="top" background="{$skindir}/yp/xinwen_03.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tt">
                  <tr>
                    <td width="14" height="23">　</td>
                    <td width="266"><span class="STYLE7">推荐新闻</span></td>
                    <td width="44" align="center">　</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="169" bgcolor="#FFFFFF" valign="top"><span class="hy-5">{tag_企业新闻页面推荐}</span></td>
              </tr>
            </table></td>
        </tr>
       
        <tr valign="top">
        
<td><!--自定义栏目开始-->
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table52" height="75">
{php $j=0;}
{loop $TRADE $i $cat}
{if !$cat[parentid]}
{if $j%2==0}<tr>{/if}
<td width="317">
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%">
<tr>
<td class="cat_title">
<div class="cat_title-1"></div>
<div class="cat_name">{$cat[tradename]}</div>
<div class="cat_title-2"></div>
<div class="cat_url"><a href="{$cat[linkurl]}"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></a></div>
</td>
</tr>
<tr>
<td class="ta2_12-1">{tag_企业新闻首页栏目自定义列表}</td>
</tr>
</table>
</td>
<td width="6"></td>
{if $j%2==1}
</tr>
<tr><td colspan="2" height="6"></td></tr>
{/if}
{php $j++;}
{/if}
{/loop}
</table>
<!--自定义栏目结束-->
</td></tr></table></td>
  </tr>
</table>
{template 'yp','footer'}