<table border="0" width="100%" id="table7" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
	<div align="center">
	<table width="760" height="271" border="0" cellpadding="0" cellspacing="0" id="table3" style="border-collapse: collapse">
		<tr>
			<td width="178" valign="top">
			<table border="0" width="178" id="table4" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table5" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">&nbsp;&nbsp;<span class="column_b"> 热点导航</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table8" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td valign="top">
					<TABLE cellSpacing="2" cellPadding="1" width="100%" border="0">
{loop $m_user $ms}
<TR bgColor="#F1F3F5" onmouseout="this.style.backgroundColor='#F1F3F5'"  onmouseover="this.style.backgroundColor='#BFDFFF'">
	<TD align="right" height="25">
	<SPAN style="PADDING-RIGHT: 70px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">
	<a href="{$ms[url]}">{$ms[menutitle]}</a>
	</SPAN>
	</TD>
</TR>
{/loop}
</TABLE>
					</td>
				</tr>
			</table>
<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<table border="0" width="178" id="table4" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table5" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">
							<span class="column_b">&nbsp;&nbsp; 最新新闻</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table8" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td valign="top" style="padding-left: 8px;">{tag_企业主页最新新闻}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
			<table border="0" width="178" id="table13" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table14" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">				
							<span class="column_b">&nbsp;&nbsp; 促销信息</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table15" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td style="padding-left: 8px;">{tag_企业主页促销列表}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table16" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
			<table border="0" width="178" id="table21" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table22" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">
							<span class="column_b">&nbsp;&nbsp; 求购信息</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table23" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td style="padding-left: 8px;">{tag_企业主页求购列表}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table24" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
			</td>
			<td width="6">　</td>
			<td valign="top">
			<table border="0" width="100%" id="table25" cellpadding="0" style="border-collapse: collapse" height="199">
				<tr>
					<td>
					<table border="0" width="519" id="table26" cellpadding="0" style="border-collapse: collapse" height="199">
						<tr>
							<td height="3">
							<IMG SRC="{$skindir}/images/sj_12.gif"></td>
						</tr>
						<tr>
						  <td background="{$skindir}/images/sj_16.gif" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="5">
                            <tr>
                              <td><strong>公司简介</strong></td>
                            </tr>
                            <tr>
                              <td>{$introduce}</td>
                            </tr>
                            
                          </table></td>
						</tr>
						<tr>
							<td height="3" valign="top"><IMG SRC="{$skindir}/images/sj_22.gif"></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
<table border="0" width="100%" id="table41" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<table border="0" width="100%" id="table29" cellpadding="0" style="border-collapse: collapse" height="35">
	<tr>
		<td width="90" background="{$skindir}/images/sj_25.gif"><span class="column_b">&nbsp;&nbsp;&nbsp;&nbsp; <a name='contact'></a>联系方式</span></td>
		<td background="{$skindir}/images/sj_26.gif" width="475">　</td>
	</tr>
</table>
<table border="0" width="100%" id="table30" cellpadding="0" style="border-collapse: collapse" bgcolor="#EDF8FE">
	<tr>
		<td valign="top"><TABLE cellSpacing=2 cellPadding=1 width="94%" align=center border=0>
					<tr>
						<td>联 系 人：</td>
						<td>{$linkman}</td>
						<td>E-mail：</td>
						<td>{$email}</td>
					</tr>
					<tr>
						<td>联系电话：</td>
						<td>{$telephone}</td>
						<td>联系地址：</td>
						<td>{$address}</td>
					</tr>
					<tr>
						<td>传真：</td>
						<td>{$fax}</td>
						<td>邮编：</td>
						<td>{$postid}</td>
					</tr>
					</table></td>
	</tr>
</table>
<table border="0" width="100%" id="table35" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
{if $map!=''}
<table border="0" width="100%" id="table29" cellpadding="0" style="border-collapse: collapse" height="35">
	<tr>
		<td width="90" background="{$skindir}/images/sj_25.gif"><span class="column_b">&nbsp;&nbsp;&nbsp;&nbsp; <a name='contact'></a>所在位置</span></td>
		<td background="{$skindir}/images/sj_26.gif" width="475">　</td>
	</tr>
</table>
<table border="0" width="100%" id="table30" cellpadding="0" style="border-collapse: collapse" height="171" bgcolor="#EDF8FE">
	<tr>
		<td valign="top">
<script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
<table width="100%"  border="0" cellpadding="5" cellspacing="2" class="tableborder">
<TR>
	<TD>
<div id="maps" style="position:relative; width:100%; height:350px; border:black solid 1px;"> 
                                                  <script language="javascript">
	var maps = new LTMaps( "maps" );
	maps.cityNameAndZoom( "西安" , 2);
	var c = new LTSmallMapControl();
	maps.addControl(c);
	var point = new LTPoint({$x},{$y}); 
    maps.centerAndZoom( point, {$z} );
	var text=new LTMapText(point,[0,-18]);
	text.setLabel( "{$pagename}" );
	setTimeout("maps.addOverLay( text );",3000);
	var icon=new LTIcon("<?=$SITEURL?>/images/centerPoi.gif",[24,24],[12,12]);
	var marker=new LTMarker(new LTPoint({$x},{$y}),icon);
	maps.addOverLay(marker);
</script>
                  </div></TD>
</TR>
</TABLE>
</td>
	</tr>
</table>
{/if}
<table border="0" width="100%" id="table35" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
            </td>
		</tr>
</table>
</div>
<div align="center">
	<table width="700" height="11" border="1" cellpadding="0" id="table42" style="border-collapse: collapse; border-left-width:0px; border-right-width:0px; border-top-width:0px" bordercolor="#FFA400">
		<tr><td style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium" height="5"></td>
		</tr>
</table>
		</div>
{template 'yp','com_blue-footer'}