<table border="0" width="100%" id="table7" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
	<div align="center">
	<table width="760" height="271" border="0" cellpadding="0" cellspacing="0" id="table3" style="border-collapse: collapse">
		<tr>
			<td width="178" valign="top">
			<table border="0" width="178" id="table4" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table5" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">&nbsp;<span class="column_b"> 热点导航</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table8" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td valign="top">
					<TABLE cellSpacing="2" cellPadding="1" width="100%" border="0">
{loop $m_user $ms}
<TR bgColor="#F1F3F5" onmouseout="this.style.backgroundColor='#F1F3F5'"  onmouseover="this.style.backgroundColor='#BFDFFF'">
	<TD align="right" height="25">
	<SPAN style="PADDING-RIGHT: 70px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">
	<a href="{$ms[url]}">{$ms[menutitle]}</a>
	</SPAN>
	</TD>
</TR>
{/loop}
</TABLE>
					</td>
				</tr>
			</table>
<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>

<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
			<table border="0" width="178" id="table13" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table14" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">
							<font color="#FFFFFF"><b>
							<span style="font-size: 10pt">&nbsp;&nbsp; 企业新闻</span></b></font></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table15" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td style="padding-left: 8px;">{tag_企业主页新闻列表}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table16" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
		
			</td>
			<td width="6">　</td>
		  <td valign="top"><table border="0" width="100%" id="table29" cellpadding="0" style="border-collapse: collapse" height="35">
	<tr>
		<td width="89" background="{$skindir}/images/sj_25.gif"><span class="column_b">&nbsp;&nbsp;&nbsp;&nbsp; <a name='contact'></a>人才招聘</span></td>
		<td background="{$skindir}/images/sj_26.gif" width="374">　<strong>职位名称：</strong>{$job[title]}</td>
	    <td background="{$skindir}/images/sj_26.gif" width="98">浏览次数：<span id="hits">0</span></td>
	</tr>
</table>
              <table width="100%" border="0" cellpadding="5" cellspacing="2"  bgcolor="#F9F9F9">
                <tr>
                  <td width="13%" class="table-x">公司名称：</td>
                  <td width="37%" class="table-x">{$pagename}</td>
                  <td width="15%" class="table-x">&nbsp;</td>
                  <td width="35%" class="table-x"><a onclick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=apply&amp;jobid={$jobid}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onmouseover="this.style.cursor='hand'"><font color="#FF0000">申请该职位</font></a> &nbsp;&nbsp; <a onclick="javascript:window.open('{$PHPCMS[siteurl]}yp/signin.php?action=save&amp;jobid={$jobid}','newwindow', 'height=360, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" onmouseover="this.style.cursor='hand'"><font color="#FF0000">存入职位库</font></a> </td>
                </tr>
                <tr>
                  <td class="table-x">岗位名称：</td>
                  <td class="table-x">{$job[station]}</td>
                  <td class="table-x">&nbsp;</td>
                  <td class="table-x">&nbsp;</td>
                </tr>
                <tr>
                  <td class="table-x">招聘人数：</td>
                  <td class="table-x"><!--{if $job['employ']}--> {$job['employ']} <!--{else}-->若干<!--{/if}--></td>
                  <td class="table-x">性别要求：</td>
                  <td class="table-x"><!--{if $job['sex']==1}-->男<!--{elseif $job['sex']==2}-->女<!--{else}-->不限<!--{/if}--></td>
                </tr>
                <tr>
                  <td class="table-x">学历要求：</td>
                  <td class="table-x">{$job[degree]}</td>
                  <td class="table-x">薪水：</td>
                  <td class="table-x"><!--{if $job['pay']}-->{$job['pay']}<!--{else}-->面议<!--{/if}--></td>
                </tr>
                <tr>
                  <td class="table-x">工作地点：</td>
                  <td class="table-x">{$job[area]}</td>
                  <td class="table-x">&nbsp;</td>
                  <td class="table-x">&nbsp;</td>
                </tr>
                <tr>
                  <td class="table-x">截至日期：</td>
                  <td class="table-x">{$job[period]}</td>
                  <td class="table-x">&nbsp;</td>
                  <td class="table-x">&nbsp;</td>
                </tr>
                <tr>
                  <td class="table-x">职位描述：</td>
                  <td colspan="3" class="table-x">{$job[introduce]}</td>
                </tr>
                <tr>
                  <td colspan="4" bgcolor="#E6EDE2" class="table-x"><strong>联系方式</strong></td>
                </tr>
                <tr>
                  <td class="table-x">联 系 人：</td>
                  <td class="table-x">{$job[linkman]}</td>
                  <td class="table-x">联系电话：</td>
                  <td class="table-x">{$job[phone]}</td>
                </tr>
                <tr>
                  <td class="table-x">Email：</td>
                  <td class="table-x">{$job[email]}</td>
                  <td class="table-x">联系地址：</td>
                  <td class="table-x">{$job[address]}</td>
                </tr>
                <tr>
                  <td colspan="4" bgcolor="#E6EDE2" class="table-x"><strong>公司简介</strong></td>
                </tr>
                <tr>
                  <td colspan="4" class="table-x">{$introduce}</td>
                </tr>
              </table></td>
		</tr>
</table>
</div>
<div align="center">
	<table width="700" height="11" border="1" cellpadding="0" id="table42" style="border-collapse: collapse; border-left-width:0px; border-right-width:0px; border-top-width:0px" bordercolor="#FFA400">
		<tr><td style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium" height="5"></td>
		</tr>
</table>
</div>
<script type="text/javascript" src="{$PHPCMS['siteurl']}yp/web/show_js.php?label=job&item={$jobid}"></script>
{template 'yp','com_blue-footer'}