<table border="0" width="100%" id="table7" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
	<div align="center">
	<table width="760" height="271" border="0" cellpadding="0" cellspacing="0" id="table3" style="border-collapse: collapse">
		<tr>
			<td width="178" valign="top">
			<table border="0" width="178" id="table4" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table5" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">&nbsp;<span class="column_b">&nbsp;&nbsp;热点导航</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table8" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td valign="top">
					<TABLE cellSpacing="2" cellPadding="1" width="100%" border="0">
{loop $m_user $ms}
<TR bgColor="#F1F3F5" onmouseout="this.style.backgroundColor='#F1F3F5'"  onmouseover="this.style.backgroundColor='#BFDFFF'">
	<TD align="right" height="25">
	<SPAN style="PADDING-RIGHT: 70px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px">
	<a href="{$ms[url]}">{$ms[menutitle]}</a>
	</SPAN>
	</TD>
</TR>
{/loop}
</TABLE>
					</td>
				</tr>
			</table>
<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
<table border="0" width="178" id="table4" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table5" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">&nbsp;<span class="column_b">&nbsp; 热门产品</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table8" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td valign="top"  style="padding-left: 8px;">{tag_企业产品页热门产品}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table9" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
			<table border="0" width="178" id="table13" cellpadding="0" style="border-collapse: collapse" height="24">
				<tr>
					<td background="{$skindir}/images/sj_9.gif">
					<table border="0" width="77" id="table14" cellpadding="0" style="border-collapse: collapse" height="24">
						<tr>
							<td width="77" background="{$skindir}/images/sj_8.gif">
							<font color="#FFFFFF"><b>
							<span style="font-size: 10pt">&nbsp;&nbsp; 促销信息</span></b></font></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table15" bgcolor="#F9F9F9" cellpadding="0" style="border-collapse: collapse">
				<tr>
					<td  style="padding-left: 8px;">{tag_企业主页促销列表}</td>
				</tr>
			</table>
<table border="0" width="100%" id="table16" cellpadding="0" style="border-collapse: collapse" height="6">
	<tr>
		<td></td>
	</tr>
</table>
		
			</td>
			<td width="6">　</td>
			<td valign="top"><table border="0" width="100%" id="table29" cellpadding="0" style="border-collapse: collapse" height="35">
	<tr>
		<td width="90" background="{$skindir}/images/sj_25.gif"><span class="column_b">&nbsp;&nbsp;&nbsp;&nbsp; <a name='contact'></a>求购信息</span></td>
		<td background="{$skindir}/images/sj_26.gif" width="475">　</td>
	</tr>
</table>
<table width="100%" border="0" cellpadding="2" cellspacing="3" id="table30" style="border-collapse: collapse">
	<tr>
		<td valign="top">{tag_求购信息列表} </td>
	</tr>
</table>
          </td>
		</tr>
</table>
</div>
<div align="center">
	<table width="700" height="11" border="1" cellpadding="0" id="table42" style="border-collapse: collapse; border-left-width:0px; border-right-width:0px; border-top-width:0px" bordercolor="#FFA400">
		<tr><td style="border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium" height="5"></td>
		</tr>
</table>
		</div>
{template 'yp','com_blue-footer'}