{template 'yp','header'}
<!--主体标签-->
<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
<td background="{$skindir}/yp/top.ht2.gif">
<!--搜素开始-->

<table border="0" cellpadding="0" cellspacing="0" >
  <tr><form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit='return CheckForm();'>
    <td align="right">&nbsp;&nbsp;关键字：
      <input name="keyword" type="text" id="keyword" size="20"/> 
	{trade_select('tradeid', '请选择行业')} <span id="select_area"> {area_select('areaid', '请选择地区')} 
	<select name="searchfrom">
		<option value="0" selected>全部时间</option>
		<option value="1">1 天前</option>
		<option value="2">2 天前</option>
		<option value="7">1 周前</option>
		<option value="30">1 个月前</option>
		<option value="90">3 个月前</option>
		<option value="180">6 个月前</option>
		<option value="365">1 年前</option>
		</select>
		<select name="ordertype">
		<option value="0"selected>按ID排序排序</option>
		<option value="1">更新时间降序</option>
		<option value="2">更新时间升序</option>
		<option value="3">浏览次数降序</option>
		<option value="4">浏览次数升序</option>
		</select>
      <input name="search" type="hidden" value="1"/>
      <input name="searchtype" type="hidden" value="company"/>
      <input name="Input2" type="submit" value=" 搜 索 "/>	  </td>
   </form></tr>
 
</table>

<!--搜索结束-->
</td>
</tr>
</table>
<table width="920" cellpadding="0"  cellspacing="0" bgcolor="#FFFFFF" align="center">
  <tr>
    <td width="650" valign="top">
<!--位置导航-->
  <div class="position">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a> >> <a href="{$MOD[linkurl]}company.php">企业库</a> >> {$item}</div>
     <div class="cat_box_3">
	 <div class="cat_title"><div class="cat_title-1"></div>
	     <div class="cat_name">最新企业</div><div class="cat_title-2"></div>
		 <div class="cat_url">商铺分类:{$pattern}</div>
     </div>

<div style="text-align:left;margin-left:1px;">{tag_经营模式页面列表}</div>
     </div>	
<!--搜索框--></td>
    <td width="10" valign="top"></td>
    <td width="270" valign="top" class="right_bg">
	<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">企业推荐</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196">{tag_推荐企业}</td>
                </tr>
              </table></td>
            </tr>
          </table>

	<TABLE>
		<TR>
			<TD height="5"></TD>
		</TR>
	  </TABLE>
<!--推荐文章js调用--><table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                              <tr>
                                <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                                <td width="76" background="{$skindir}/yp/index_41.jpg">点击排行</td>
                                <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                              </tr>
                          </table></td>
                          <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"></td>
                        </tr>
                        <tr>
                          <td colspan="2"></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="196">{tag_企业点击排行榜}</td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
  </tr>
</table>
{template 'yp','footer'}