{template 'yp','header'}
<script language="javascript">
<!--
function CheckForm()
{
	if ($('keyword').value == "")
	{
		alert("关键字不能为空！")
		Field.clear('keyword')
		Field.focus('keyword');
		return false
	}
}
-->
</script>

<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;" align="center">
<tr>
<td background="{$skindir}/yp/top.ht2.gif">
<!--搜素开始-->

<table border="0" cellpadding="0" cellspacing="0" style="font-size:12px;">
  <tr><form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit='return CheckForm();'>
    <td align="right"> &nbsp;&nbsp;关键字：
      <input name="keyword" type="text" id="keyword" size="44"/> 
	{trade_select('tradeid', '请选择行业')} <span id="select_area"> {area_select('areaid', '请选择地区')}
      <input name="search" type="hidden" value="1"/>
	  &nbsp;
      <input name="searchtype" type="hidden" value="company"/>
      <input name="Input2" type="submit" value=" 搜 索 "/>	  </td>
   </form></tr>
 
</table>

<!--搜索结束-->
</td>
</tr>
</table>

<table width="920" height="350" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="left" valign="top"><table width="241" height="670" border="0" cellpadding="0" cellspacing="0" style="margin-right: 6px;float: left;">
      <tr>
        <td height="670" align="left" valign="top"><table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">行业分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="197" valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $TRADE $trade}
					<tr>
						<td >
							{if !$trade[parentid]}<a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR>{/if}
							{loop $TRADE $childtrade}
								{if $childtrade[parentid]==$trade[tradeid]} <a href="{$childtrade[linkurl]}">{$childtrade[tradename]}</a> {/if}
							{/loop}
						
						</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
          <table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">企业推荐</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196">{tag_推荐企业}</td>
                </tr>
              </table></td>
            </tr>
          </table>
          <table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                              <tr>
                                <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                                <td width="76" background="{$skindir}/yp/index_41.jpg">点击排行</td>
                                <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                              </tr>
                          </table></td>
                          <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                        </tr>
                        <tr>
                          <td colspan="2"></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="196">{tag_企业点击排行榜}</td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
      </tr>
    </table><table height="632" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <td width="640" height="55"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" background="{$skindir}/yp/index_26.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tt">
                <tr>
                  <td width="109" height="24"><table width="103" border="0" cellpadding="0" cellspacing="0" class="ta3_1">
                      <tr>
                        <td width="103" height="24" background="{$skindir}/yp/qiyeku_07.jpg">最新企业</td>
                        </tr>
                  </table></td>
                  <td width="531" align="right" valign="middle" >&nbsp;{$pattern}&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="29" bgcolor="#F0F0F0"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ta3_2">
                <tr>
                  <td width="33%">&nbsp;&nbsp;企业名称</td>
                  <td width="21%" align="center">性 质</td>
                  <td width="16%" align="center">行 业</td>
                  <td width="17%" align="center">发布时间</td>
                  <td width="13%" align="center">浏览次数</td>
                </tr>
              </table></td>
            </tr>
          </table>
          </td>
        </tr>
        
        <tr valign="top">
          <td width="640" height="577">{tag_最新企业列表}</td>
        </tr>
        
    </table></td>
  </tr>
</table>

{template 'yp','footer'}