{template 'yp','header'}
<!--主体标签-->
<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
<td background="{$skindir}/yp/top.ht2.gif">
<!--搜素开始-->
<table cellspacing="2" cellpadding="5" style="font-size:12px;">
<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
<tr>
<td> 关键字： 
<input name="keyword" id="keyword" type="text" size="51" value="{$keyword}"> 
所属栏目: {$category_select}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="hidden" name="searchtype" value="product">
<input type="hidden" name="search" value="1">
<input type="submit" value="立即搜索" class="btn" />
</td>
</tr>
</form>
</table>
<!--搜索结束-->
</td>
</tr>
</table>

<table width="920"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="left" valign="top">
	<table border="0" cellpadding="0" cellspacing="0" style="margin-right: 6px;float: left;">
      <tr valign="top">
        <td width="650"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2_12">
          <tr>
            <td height="23" align="left" valign="top" background="{$skindir}/yp/index_23.jpg"><table class="ta2_13" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="573" height="24"><table width="112" border="0" cellpadding="0" cellspacing="0" class="ta4">
                      <tr>
                        <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                        <td width="103" background="{$skindir}/yp/index_41.jpg">推荐产品</td>
                        <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                      </tr>
                  </table></td>
                  <td width="65" align="center" valign="middle"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">{tag_产品推荐图片类表}</td>
          </tr>
        </table>
        <table border="0" height="6" cellpadding="0" style="border-collapse: collapse" width="100%">
			<tr>
				<td></td>
			</tr>
		</table></td>
      </tr>
      <tr valign="top">
        <td><!--自定义栏目开始-->
        
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table52" height="75">
{php $j=0;}
{loop $childcats $i $cat}
{if !$cat[parentid]}
{if $j%2==0}<tr>{/if}
<td width="317">
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%">
<tr>
<td class="cat_title">
<div class="cat_title-1"></div>
<div class="cat_name">{$cat[catname]}</div>
<div class="cat_title-2"></div>
<div class="cat_url"><a href="{$cat[linkurl]}"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></a></div>
</td>
</tr>
<tr>
<td class="ta2_12-1">{tag_企业产品首页栏目自定义列表}</td>
</tr>
</table>
</td>
{if $j%2==0}<td width="6">{/if}{if $j%2==1}</td>{/if}
{if $j%2==1}
</tr>
<tr><td colspan="3" height="6"></td></tr>
{/if}
{php $j++;}
{/if}
{/loop}
</table>
        
        
<!--自定义栏目结束--></td>
      </tr>
     
    </table></td><td  valign="top">
    <table width="270"  border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270"  align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">产品分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $CATEGORY $cats}
					<tr>
						<td valign="top" >
							{if !$cats[parentid]}<a href="{$cats[linkurl]}"><font color="#CC0000">{$cats[catname]}</font></a><BR>
							{loop $CATEGORY $childcats}
								{if $childcats[parentid]==$cats[catid]} <a href="{$childcats[linkurl]}">{$childcats[catname]}</a> {/if}
							{/loop}	{/if}					</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
          <table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                              <tr>
                                <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                                <td width="76" background="{$skindir}/yp/index_41.jpg">热点产品</td>
                                <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                              </tr>
                          </table></td>
                          <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                        </tr>
                        <tr>
                          <td colspan="2"></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="196">{tag_热点产品列表}</td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
{template 'yp','footer'}