{template 'yp','header'}

<script language="javascript">
<!--
function CheckForm()
{
	if ($F('companyname') == "")
	{
		alert("公司名称不能为空！")
		Field.clear('companyname')
		Field.focus('companyname');
		return false
	}
	if ($('tradeid').value=='0'){
		alert('请选择所属行业！');
		$('tradeid').focus();
		return false;
		}
if ($F('product') == "")
	{
		alert("主营产品不能为空！")
		Field.clear('product')
		Field.focus('product');
		return false
	}
	{if $MOD['enableSecondDomain']}
	if ($F('sitedomain') == "")
	{
		alert("域名不能为空！")
		Field.clear('sitedomain')
		Field.focus('sitedomain');
		return false
	}
	{/if}
}

{if $MOD['enableSecondDomain']}
function checkdomain(inputname)
{
    if(inputname==''){
        alert("域名不能为空！");
        $('domain_notice').innerHTML="<font color='red'>域名不能为空！</font>";
        Field.focus('sitedomain');
    }else{
        var checkurl = '{$MOD[linkurl]}register.php';
		var pars = "action=checkdomain&domain="+inputname;
		var myAjax = new Ajax.Request(checkurl, {method: 'post', parameters: pars, onComplete: checkmessage});
    }
}

function checkmessage(Request)
{
	if(Request.responseText == '1'){
		alert("域名只能为 英文 数字 - 等组成，如：php-518.{$MOD['secondDomain']}");
		$('domain_notice').innerHTML="域名只能为 英文 数字 - 等组成，如：<font color='#ff0000'>php-518</font>.{$MOD['secondDomain']}";
		Field.clear('sitedomain')
		Field.focus('sitedomain');
	}
	else if(Request.responseText == '2'){
		alert("该域名已经被注册，请换其它域名");
		$('domain_notice').innerHTML="<font color='#ff0000'>该域名已经被注册，请换其它域名</font>";
		Field.clear('sitedomain')
		Field.focus('sitedomain');
	}
	else{
		$('domain_notice').innerHTML="<font color='#009148'>该域名可以注册</font>";
	}
}
{/if}
//-->
</script>
<div class="memberborder_1">
<div class="memberborder_2">
<h1>注册企业信息</h1>
  <form name="myform" method="post" action="{$MOD[linkurl]}register.php" onSubmit='return CheckForm();'>
   <table cellpadding="0" cellspacing="0" class="righttable">
    <tr>
      <td width="15%" class="td_right">企业名称：</td>
      <td><input name="companyname" type="text" id="companyname" value="" size="25" > <font color="red">*</font>
     </td>
    </tr>
	<tr>
      <td class="td_right">所属行业：</td>
      <td>
      {trade_select('tradeid', '请选择所属行业')}<font color="red">*</font></td>
    </tr>
    <tr>
      <td class="td_right">经营模式：</td>
      <td>{$pattern} <font color="red">*</font></td>
    </tr>
    <tr>
      <td class="td_right">企业性质：</td>
      <td>{$type_selected}</td>
    </tr>
    <tr>
      <td class="td_right">主营产品/服务：</td>
      <td><textarea name="product" cols="50" rows="5" id="product"></textarea>
              <Font color="#FF0000">* 请简洁说明公司主营产品和服务内容。字数在250字以内。</Font></td>
    </tr>
	 <tr>
	 <td class="td_right">企业所在地区：</td>
      <td><span id="select_area" >
      {ajax_area_select('areaid', $mod)}</td>
    </tr>
    <tr>
      <td class="td_right">企业成立时间：</td>
      <td>{date_select('regtime',$fromdate)}
 <font color="red">*</font></td>
    </tr>
    <tr>
      <td class="td_right">员工人数：</td>
      <td>
        <select NAME="employnum" id="employnum">
                <option value=""  selected >请选择 </option>
                <option value="1-5"  >5 人以下 </option>
                <option value="5-10" >5-10 人 </option>
                <option value="11-50" >11-50 人 </option>
                <option value="51-100" >51-100 人 </option>
                <option value="101-500" >101-500 人 </option>
                <option value="501-1000" >501-1000 人 </option>
                <option value="1000人以上" >1000人以上 </option>
            </select></td>
    </tr>
<tr>
      <td class="td_right">年营业额：</td>
      <td>
        <SELECT name="turnover" id="turnover"  >
                <OPTION value=""  selected >选择年营业额</OPTION>
                <OPTION value="100万以下"  >100万以下</OPTION>
                <OPTION value="100万-250万"   >100万-250万</OPTION>
                <OPTION value="250万-500万" >250万-500万</OPTION>
                <OPTION value="500万-1000万"  >500万-1000万</OPTION>
                <OPTION value="1000万-5000万"  >1000万-5000万</OPTION>
                <OPTION value="5000万-1亿"   >5000万-1亿</OPTION>
                <OPTION value="1亿-10亿"  >1亿-10亿</OPTION>
                <OPTION value="10亿以上"  >10亿以上</OPTION>
            </SELECT></td>
    </tr>
{if $MOD['enableSecondDomain']}
	<tr>
		<td class="td_right">二级域名：</td>
		<td><input name="sitedomain" type="text" id="sitedomain" value="" size="25" onBlur="checkdomain(this.value);">
		.{$MOD['secondDomain']} <font color="red">*</font> <span id="domain_notice"> 域名只能为 英文 数字 - 等组成，如：<font color="#ff0000">php-518</font>.{$MOD['secondDomain']}</span></td>
	</tr>
{/if}
</table>

<table cellpadding="0" cellspacing="0" class="righttable">
    <tr>
      <td width="15%" class="td_right">&nbsp;</td>
      <td height="60">
	      <input name="dosubmit" type="hidden" id="dosubmit" value="1">
          <input name="forward" type="hidden" id="forward" value="{$forward}">
		  <input type="submit" name="submit" value=" 注 册 " class="btn">
		　<input type="reset" name="Submit" value=" 清 除 " class="btn">
	  </td>
     </tr>
</table>
</form>
</div>
</div>
{template 'yp','footer'}