{template 'yp','header'}
<!--主体标签-->
<script language="javascript">
<!--
function CheckForm()
{
	if ($('keyword').value == "")
	{
		alert("关键字不能为空！")
		Field.clear('keyword')
		Field.focus('keyword');
		return false
	}
}
-->
</script>
<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
	<td background="{$skindir}/yp/top.ht2.gif">
<table border="0" cellpadding="0" cellspacing="0">
  <form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit='return CheckForm();'><tr>
    <td width="800"><span style="font-size: 12px">&nbsp;&nbsp; 关键字：
      <input name="keyword" id="keyword" type="text" size="48"/> 
	{trade_select('tradeid', '请选择栏目')} </span>
	<span style="font-size: 12px" id="select_area">{area_select('areaid', '请选择地区')}&nbsp;&nbsp;
      <input name="search" type="hidden" value="1"/>
      <input name="searchtype" type="hidden" value="sales"/>
      <input name="Input2" type="submit" value=" 搜 索 "/>
	  </span>
	  </td>
  </tr>
  </form>
</table>
	</td>
</tr>
</table>

<table width="920" align="center" cellpadding="0"  cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td width="692" valign="top">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="5"></td>
   
  </tr>
</table>
<div class="position">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a> >> <a href="{$MOD[linkurl]}buy.php">找促销</a> </div>
<!--自定义栏目开始-->
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table52" height="75">
{php $j=0;}
{loop $TRADE $i $trade}
	{if !$trade[parentid]}
{if $j%2==0}<tr>{/if}
<td width="317">
<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%">
<tr>
<td class="cat_title">
<div class="cat_title-1"></div>
<div class="cat_name">{$trade[tradename]}</div>
<div class="cat_title-2"></div>
<div class="cat_url"><a href="{$trade[linkurl]}"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></a></div>
</td>
</tr>
<tr>
<td class="ta2_12-1">{tag_促销首页自定义列表}</td>
</tr>
</table>
</td>
{if $j%2==0}<td width="6">{/if}{if $j%2==1}</td>{/if}
{if $j%2==1}
</tr>
<tr><td colspan="3" height="6"></td></tr>
{/if}
{php $j++;}
{/if}
{/loop}
</table>
<!--自定义栏目结束-->
</td>
    <td width="8"></td>
    <td width="259" valign="top" class="right_bg">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" height="221" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">栏目分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="197" valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $TRADE $trade}
					<tr>
						<td >
							{if !$trade[parentid]}<a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR>{/if}
							{loop $TRADE $childtrade}
								{if $childtrade[parentid]==$trade[tradeid]} <a href="{$childtrade[linkurl]}">{$childtrade[tradename]}</a> {/if}
							{/loop}
						
						</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="5"></td>
      </tr>
    </table>
    <!--推荐文章js调用-->

<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">热点产品</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg">　</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196"><span style="font-size:12px;">{tag_热点产品列表}</span></td>
                </tr>
              </table></td>
            </tr>
          </table>

	</td>
  </tr>
</table>

{template 'phpcms','footer'}