<style type="text/css">
<!--
.STYLE1 {
	font-size: 12px;
	font-weight: bold;
}
-->
</style>
{template 'yp','header'}
<script language="javascript">
<!--
function CheckForm()
{
	if ($('keyword').value == "")
	{
		alert("关键字不能为空！")
		Field.clear('keyword')
		Field.focus('keyword');
		return false
	}
}
-->
</script>
<table width="920" height="48" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;margin-bottom: 6px;">
<tr>
	<td background="{$skindir}/yp/top.ht2.gif">
<table border="0" cellpadding="0" cellspacing="0">
  <form name="myform" action="{$MOD[linkurl]}search.php" method="get" onSubmit='return CheckForm();'><tr>
    <td width="800"><span style="font-size: 12px">&nbsp;&nbsp; 关键字：
      <input name="keyword" id="keyword" type="text"/> 
	{trade_select('tradeid', '请选择栏目')} </span>
	<span style="font-size: 12px" id="select_area">{area_select('areaid', '请选择地区')} 
	<select name="searchfrom">
		<option value="0" selected>全部时间</option>
		<option value="1">1 天前</option>
		<option value="2">2 天前</option>
		<option value="7">1 周前</option>
		<option value="30">1 个月前</option>
		<option value="90">3 个月前</option>
		<option value="180">6 个月前</option>
		<option value="365">1 年前</option>
		</select>
		<select name="ordertype">
		<option value="0"selected>按ID排序排序</option>
		<option value="1">更新时间降序</option>
		<option value="2">更新时间升序</option>
		<option value="3">浏览次数降序</option>
		<option value="4">浏览次数升序</option>
		</select>
      <input name="search" type="hidden" value="1"/>
      <input name="searchtype" type="hidden" value="sales"/>
      <input name="Input2" type="submit" value=" 搜 索 "/>
	  </span>
	  </td>
  </tr>
  </form>
</table>
	</td>
</tr>
</table>

<table width="920" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border-collapse: collapse" align="center">
	<tr>
		<td width="259" valign="top" rowspan="2"><table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6" id="table13">
			<tr>
				<td></td>
			</tr>
		</table>
		  <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6">
			<tr>
				<td></td>
			</tr>
		</table>
		<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" height="221" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">栏目分类</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="197" valign="top"><table border="0" width="100%" cellpadding="3" cellspacing="1" style="border-collapse: collapse" id="table51">
					{loop $TRADE $trade}
					<tr>
						<td >
							{if !$trade[parentid]}<a href="{$trade[linkurl]}"><font color="#CC0000">{$trade[tradename]}</font></a><BR>{/if}
							{loop $TRADE $childtrade}
								{if $childtrade[parentid]==$trade[tradeid]} <a href="{$childtrade[linkurl]}">{$childtrade[tradename]}</a> {/if}
							{/loop}
						
						</td>
					</tr>
					{/loop}
				  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		 <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6">
			<tr>
				<td></td>
			</tr>
		</table>
		<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" height="221" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="24" align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="218" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">推荐企业</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="53" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg"><img src="{$skindir}/yp/index_48.jpg" width="36" height="11" /></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="197" valign="top">{tag_推荐企业}</td>
                </tr>
              </table></td>
            </tr>
          </table>
		 <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6">
			<tr>
				<td></td>
			</tr>
		</table>
		<table height="224" border="0" cellpadding="0" cellspacing="0" bgcolor="#F27000" class="ta2">
            <tr>
              <td width="270" height="192" align="left" valign="top" bgcolor="#FFFFFF"><table width="50" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top"><table width="271" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="219" height="24" background="{$skindir}/yp/index_45.jpg"><table width="84" border="0" cellpadding="0" cellspacing="0" class="ta3">
                          <tr>
                            <td width="5"><img src="{$skindir}/yp/index_40.jpg" width="5" height="24" /></td>
                            <td width="76" background="{$skindir}/yp/index_41.jpg">点击排行</td>
                            <td width="4" align="right"><img src="{$skindir}/yp/index_43.jpg" width="4" height="24" /></td>
                          </tr>
                      </table></td>
                      <td width="52" align="center" valign="middle" background="{$skindir}/yp/index_45.jpg">　</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="196">{tag_企业点击排行榜}</td>
                </tr>
              </table></td>
            </tr>
          </table>
	  </td>
		<td width="10" rowspan="2">　</td>
		<td valign="top" width="685">
		<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" height="6">
			<tr>
				<td></td>
			</tr>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse" id="table39">
			<tr>
			    <td colspan="2"><div class="position">当前位置：<a href="{$MOD[linkurl]}">黄页首页</a>  &gt;&gt; <a href="{$MOD[linkurl]}buy.php"> 找买家</a> &gt;&gt;  {$tradepos} </div></td>
			</tr>
			<tr><td height="5" colspan="2" bgcolor="#FFF8E6">
	{if $child && $arrchildid}
	  <div style="padding:3px;line-height:180%;">
	  <span class="STYLE1">选择子分类：</span>
	  {loop $arrchild $child}
	  <a href="{$child[linkurl]}">{$child[tradename]}</a>&nbsp;-
	  {/loop}	  </div>
	  {/if}</td></tr>
			<tr>
			  <td colspan="2" valign="top" class="hy-5"></td>
		  </tr>
		  <tr><td colspan="2" id=jiaoti>{tag_促销栏目终极页面}</td></tr>
		  </table>
		</td>
	</tr>
</table>
{template 'phpcms','footer'}