{template 'yp','header'}
<link href="{$skindir}/style_main.css" rel="stylesheet" type="text/css" />
<table border="0" align=center cellpadding="0" style="border-collapse: collapse" width="920">
	<tr>
		<td><div class="search">
    <h1>黄页搜索</h1>
	    <table width="920"  cellspacing="2" cellpadding="5" align="center" bgcolor="#ffffff" style="font-size:12px;">
		<form name="myform" action="{$MOD[linkurl]}search.php" method="get">
		<tr>
		<td width="20%" class="search_l">搜索类型 </td>
		<td class="search_r">
		<input type="radio" class="radio" name="searchtype" value="article" onclick="location='?searchtype=article'">
		企业新闻
		<input type="radio" class="radio" name="searchtype" value="product" onclick="location='?searchtype=product'">		
		 产品库
		 <input type="radio" class="radio" name="searchtype" value="company" checked> 
		 企业库
		 <input type="radio" class="radio" name="searchtype" value="buy" onclick="location='?searchtype=buy'"> 
		 找买家
		 <input type="radio" class="radio" name="searchtype" value="sales" onclick="location='?searchtype=sales'"> 
		 找促销
		 </td>
		</tr>
		<tr>
		<td class="search_l">包含的关键字 </td>
		<td class="search_r"><input name="keyword" id="keyword" type="text" size="30" value="{$keyword}"> 
		  * 多个关键词之间用空格隔开</td>
		</tr>
		<tr>
		<td class="search_l">所属行业</td>
		<td class="search_r">{$trade_selected}</td>
		</tr>
		<tr >
		<td class="search_l">企业性质</td>
		<td class="search_r">{$type_selected}</td>
		</tr>
		<tr>
		<td class="search_l">所在地区</td>
		<td class="search_r"><span id="select_area"> {area_select('areaid', '请选择地区')}</td>
		</tr>

		<tr>
		<td class="search_l">更新时间 </td>
		<td class="search_r">
		<select name="searchfrom">
		<option value="0" {if !$searchfrom}selected{/if}>全部时间</option>
		<option value="1" {if $searchfrom==1}selected{/if}>1 天前</option>
		<option value="2" {if $searchfrom==2}selected{/if}>2 天前</option>
		<option value="7" {if $searchfrom==7}selected{/if}>1 周前</option>
		<option value="30" {if $searchfrom==30}selected{/if}>1 个月前</option>
		<option value="90" {if $searchfrom==90}selected{/if}>3 个月前</option>
		<option value="180" {if $searchfrom==180}selected{/if}>6 个月前</option>
		<option value="365" {if $searchfrom==365}selected{/if}>1 年前</option>
		</select>
		<input type="radio" class="radio" name="before" value="0" {if !$before}checked{/if}> 之后
		<input type="radio" class="radio" name="before" value="1" {if $before}checked{/if}> 之前
		</td>
		</tr>

		<tr>
		<td class="search_l">排序方式</td>
		<td class="search_r">
		<select name="ordertype">
		<option value="0" {if $ordertype==0}selected{/if}>按ID排序排序</option>
		<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
		<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
		<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
		<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
		</select>
		</td>
		</tr>

		<tr bgcolor="#F1F2F3">
		<td height="30" colspan="2" align="center">
	            <input type="hidden" name="search" value="1">
	            <input type="submit" value="立即搜索" class="btn" />
	            <input type="button" onClick="window.location='search.php'" value="重新搜索" class="btn" />		
                </td>
		</tr>

		</form>
		</table>
	<!--{if $search}-->
	<div class="searchresult">您输入的关键词<strong><font color=red>{$keyword}</font></strong>，共搜索到<font color=red>{$number}</font>个结果</div>
 <table width="100%" cellspacing="1" cellpadding="0" bgcolor="#f2f2f2">
	<!--{loop $searchs $rs}-->
	<tr>
	<td class="searchtitle">
	<h2><a href="{$rs[linkurl]}" target="_blank" class="searchtitle"><img src="{$skindir}/yp/3j.gif" align="absmiddle" border="0"> {$rs[title]}</a></h2> [{$rs[addtime]}]
	<!--{if $rs['thumb']}-->
	<img src="{$imgurl($rs['thumb'])}">
	<!--{/if}-->
	</td>
	</tr>
	<!--{if $rs['introduce']}-->
	<tr>
	<td class="search_txt">{$rs[introduce]}</td>
	</tr>
	<!--{/if}-->
	<tr>
	<td height="1" bgcolor="#eeeeee"> </td>
	</tr>
	<!--{/loop}-->
	<tr>
	<td class="pages">{$pages}</td>
	</tr>
	<!--{/if}-->
</table> 
</div></td>
	</tr>
</table>
{template 'yp','footer'}