<table cellpadding="0" cellspacing="0" class="tag_box" width="98%">
{loop $companys $i $company}
<tr><td height="24" width="40%"><a href="{$company[linkurl]}" {$target} class="tag_company_link">
{$company[companyname]}</a></td>
  <td width="14%">{$company[typeid]}</td>
  <td width="11%">{$company[catname]}</td>
  <td height="24" width="19%">{if $datetype}<span class="datetime f_r">{$company[adddate]}</span>{/if}</td>
  <td width="16%" height="24" align="right">{$company[hits]}</td>
</tr>
<tr>
<td height="24" colspan="5">{$company[introduce]}</td>
</tr>
<tr><td height="1" bgcolor="#feb15f" colspan="5"></td></tr>
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}
