<div id="left">
    <div id="treemenu">
      <h5>订阅管理</h5>
      <ul>
      {if $_userid}
        {if $state == 1}
        <li><a href="{$MODULE[$mod]['url']}subscription.php?action=send&state=1">我要订阅</a></li>
        {else}
        <li><a href="{$MODULE[$mod]['url']}subscription.php?action=do">我的订阅</a></li>        
        <li><a href="{$MODULE[$mod]['url']}subscription.php?action=delall">我要退订</a></li>
        {/if}
      {else}
       <li><a href="{$MODULE[$mod]['url']}nosubscription.php?action=del">订阅退订</a></li>
       <li><a href="{$MODULE[$mod]['url']}nosubscription.php?action=do">我要订阅</a></li>
      {/if}
        
      </ul>
    </div>
    <ol>
      <li class="local"><a href="{SITE_URL}">返回网站首页</a></li>
      {if $_userid}
        <li class="exit"><a href="{$MODULE['member']['url']}logout.php">退出登录</a></li>
      {/if}
    </ol>
</div>