{template 'mood','header'}
<!--begin main-->
<div id="main">
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
    <div id="position"><a href="">首页</a>心情排行</div>
    {loop $infos $r}
    <div class="cat_info">
    	<div class="cat_title">
        	<h3><img src="{$r[img]}" width="21" height="21" />{$r[title]}</h3>
      	</div>
		<ul class="text_list" style="height:210px;">
{get sql="select * from phpcms_content c,phpcms_mood_data m where c.contentid=m.contentid and m.moodid='$moodid' and m.n$r[id]>0" rows="10"}
<li><span>{$r[supports]}</span><a href="{$r[url]}" target="_blank"><font class="{$r[style]}">{str_cut($r[title], 44)}</font></a></li>
{/get}
        </ul>
    </div>
    {/loop}
  </div>
  <div id="main_r">
    <!--广告位-->
    <div class="ad_side">
      <script language="javascript" src="data/js.php?id=5"></script>
    </div>
    <h4>最新图片文章</h4>
    <div>
      <ul class="pic_list">
        {tag_内容页图片最新标签}
      </ul>
    </div>
    <h4>最新推荐</h4>
    <div>
      <ul class="text_list">
    {get sql="select * from phpcms_content where posids=1 and status=99 order by contentid desc" rows="20"}
	<li><span>{$r[supports]}</span><a href="{$r[url]}" target="_blank"><font class="{$r[style]}">{str_cut($r[title], 44)}</font></a></li>
	{/get}
      </ul>
    </div>
	<!--{block("mood_rank", 1)}-->
  </div>
</div>
<!--end main-->
<script language="JavaScript" src="count.php?contentid={$contentid}"></script>
{template 'phpcms','footer'}