<table width="100%" align="center" cellpadding="0" cellspacing="10">
{loop $votes $i $vote}
{if $i%$cols==0}
  <tr>
{/if}
 <td width="{$width}" valign="top" style="border:1px solid #2999d6;background-color:#ebf6fb;padding:10px;">
{if $showtype}
·<a href="{$vote[url]}" title="{$vote[subject]}" target="_blank" >{$vote[subject]}</a>
{else}
{$voteshow(0,$vote[voteid])}
{/if}
</td>
{if $i%$cols==($cols-1)}
  </tr>
{/if}
{/loop}
</table>

<table width="100%" align="center" cellpadding="0" cellspacing="0">
     <tr>
       <td class="pages">{$pages}</td>
     </tr>
 </table>
