<table cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td><b>{$subject}</b></td>
  </tr>
<form action="{PHPCMS_PATH}vote/vote.php" method="post" target="_blank" name="voteform" >
{loop $ops $op}
  <tr>
   <td align="left" valign="middle"> <input name="{$voteoption}" type="{$type}" value="{$op[optionid]}"> {$op[option]} </td>
 </tr>
{/loop}
<tr>
<td>&nbsp;&nbsp;
<input name="voteid" type="hidden" value="{$voteid}" />
<input name="referer" type="hidden" value="{PHPCMS_SITEURL}vote/show.php?voteid={$voteid}" />
<input name="submit" type="submit" value=" 投票 "> &nbsp;&nbsp;
<input name="show" type="button" value="查看结果" onclick="window.open('{PHPCMS_SITEURL}vote/show.php?voteid={$voteid}')">
</td>
</tr>
</form>
</table>