{template 'phpcms','header'}
<script type="text/javascript" src="{PHPCMS_PATH}include/js/MyCalendar.js"></script>
<div class="main">
<div class="main_content">
	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header t_c">广告位预定</li>
		</ul>
		<table width="98%" cellpadding="2" cellspacing="2" align="center">
		<form action="?action=add" method="post" name="myform">
		<tr> 
		<td class="li_bg_1">广告位</td>
		<td class="li_line">{$_adsplaces[$placeid][placename]}<input size=40 name="ads[placeid]" type="hidden" value="<?=$placeid?>"></td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告名称</td>
		<td class="li_line"><input size=40 name="ads[adsname]" type="text"> <font color="red">*</font></td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告说明</td>
		<td class="li_line"><input size=60 name="ads[introduce]" type=text></td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告类型</td>
		<td class="li_line">
		<input type='radio' name='ads[type]' value='image' onclick="document.all.imageid.style.display='block';document.all.flashid.style.display='none';document.all.textid.style.display='none';document.all.codeid.style.display='none';" checked> 图片 
		<input type='radio' name='ads[type]' value='flash' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='';document.all.textid.style.display='none';document.all.codeid.style.display='none';"> FLASH 
		<input type='radio' name='ads[type]' value='text' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='none';document.all.textid.style.display='';document.all.codeid.style.display='none';"> 文本 
		<input type='radio' name='ads[type]' value='code' onclick="document.all.imageid.style.display='none';document.all.flashid.style.display='none';document.all.textid.style.display='none';document.all.codeid.style.display='';"> 代码 
		<font color="red">*</font>
		</td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告内容</td>
		<td>

		<table cellpadding="2" cellspacing="1" width="100%" align="center" border="0">
		<tr id="imageid" style="display:block">
		<td class="li_line">
		图片地址：<input type="text" name="imageurl" size="50">&nbsp;<input type="button" name="upload" onclick="window.open('upload.php?url=imageurl&extid=1','viewads','height=200,width=400,status=yes,toolbar=no,menubar=no,location=no,resizable=yes');" value=" 上传文件 " target="_blank"><font color="red">*</font><br/>图片提示：<input type="text" name="ads[alt]" size="50"><br/>链接地址：<input name="ads[linkurl]" type="text" size="50" value="http://"> <font color="red">*</font>
		</td>
		<tr>
		<tr id="flashid" style="display:none">
		<td>
		FLASH地址：<input type="text" name="flashurl" size="50">&nbsp;<input type="button" name="upload" onclick="window.open('upload.php?url=flashurl&extid=2','viewads','height=200,width=400,status=yes,toolbar=no,menubar=no,location=no,resizable=yes');" value=" 上传文件 " target="_blank"><font color="red">*</font><br/>背景透明：<input type='radio' name='ads[wmode]' value='transparent' checked> 是 <input type='radio' name='ads[wmode]' value=''> 否
		</td>
		<tr>
		<tr id="textid"  style="display:none">
		<td>
		<textarea name='ads[text]' cols='64' rows='15' id='text'></textarea> <font color="red">*</font>
		</td>
		<tr>
		<tr id="codeid"  style="display:none">
		<td>
		<textarea name='ads[code]' cols='64' rows='15' id='text'></textarea> <font color="red">*</font>
		</td>
		<tr>
		</table>

		</td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告发布日期</td>
		<td class="li_line">
		<script language=javascript>
		var dateFrom=new MyCalendar("ads[fromdate]","<?=date("Y-n-j")?>","选择,年,月,日,上一年,下一年,上个月,下个月,一,二,三,四,五,六"); dateFrom.display();</script> <font color="red">*</font>
		</td>
		</tr>
		<tr> 
		<td class="li_bg_1">广告投放时间</td>
		<td class="li_line">{$_month}</td>
		</tr>
		<tr> 
		<td></td>
		<td> <input type="submit" name="submit" value=" 我要预订 " class="btn" /> 
		&nbsp; <input type="reset" name="reset" value=" 重 置 " class="btn" /> </td>
		</tr>
		</form>
		</table>
		<table cellpadding="0" cellspacing="0" border="0" width="100%" height="10">
		<tr>
		<td></td>
		</tr>
		</table>

	</div>
</div>
</div>
{template 'phpcms','footer'}