{template 'phpcms','header'}
<link href="{SKIN_PATH}product.css" rel="stylesheet" type="text/css" />
<div id="main">
  <!--begin left-->
  <div id="mian_l_1">
    <div class="product_nav_top">
      <h3>产品分类</h3>
    </div>
    <div class="product_nav">
{loop $catlist $cat}
{php $cols=1;}
{php if(!$parentid) $parentid = $catid;}
{if $cat[parentid]==$parentid}
<dl>
<dt><a href="{$cat[url]}" >{$cat[catname]}</a></dt>
<dd>{loop $catlist $childcat}
{if $cols<4 && $childcat[parentid]==$cat[catid]}<a href="{$childcat[url]}" >{$childcat[catname]}</a>
{php $cols++;}
{/if}
{/loop}<a href="{$cat[url]}" >>></a>
</dd></dl>
{/if}
{/loop}
      <span></span> </div>
    <div class="product_nav_btm"></div>
    <div class="product_nav_top mar_10">
      <h3>产品搜索</h3>
    </div>
    <div class="product_nav">
      <ul id="product_search">
        {template 'phpcms','product_search_table'}
      </ul>
    </div>
    <div class="product_nav_btm"></div>
  </div>
  <div id="mian_r_1">
     <div class="bdr_1">
     <p id="position"><a href="">首页</a>{catpos($catid)}</p>
    </div>
  </div>

  <div id="mian_r_1">
{if $C[parentid]}
   	<div class="product_cat">
    <h5>{$catname}</h5>

      <ul>
		<!--{loop $arrchildid $r}-->
		<li><a href="{$r[url]}" class="link_2">{$r['catname']}</a></li>
		<!--{/loop}-->
      </ul>
    </div>
{/if}
    <div class="cat">
      <h3>推荐产品</h3>
      <ul>
       {tag_产品首页推荐列表}
      </ul>
    </div>
    <!--AD-->
    <div class="ad"><script language="javascript" src="data/js.php?id=6"></script></div>
    <div class="cat">
      <h3>新品展示</h3>
      <ul>
       {tag_产品列表页最新}
      </ul>
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}