{template 'phpcms','header'}
<div id="submenu">{tag_栏目页子菜单}</div>
<!--begin main-->
<div id="main">
  <!--begin left-->
 <div id="main_l" >
    <!--位置导航-->
    <div id="position" class="bdr_1"><a href="">首页</a>{catpos($catid)}</div>
   
    <!--begin　栏目列表-->
    <div class="float_div" style="width:100%;">
      <div class="cat_title mar_10">
        <h3>最新下载</h3>
      </div>
      <!--专题图片列表-->
      <ul class="pic_list">
     {tag_下载大栏目最新图片标签}
      </ul>
    </div>
<!--{loop $arrchildid $cid $c}-->
    <div class="cat_info">
      <div class="cat_title"><a href="{$c[url]}"><img src="images/more.gif" alt="更多" /></a>
        <h3>{$c[catname]}</h3>
      </div>
      <ul class="text_list">
        {tag_下载子栏目循环列表}
      </ul>
    </div>
<!--{/loop}-->
  </div>
  <!--end left-->
  <!--begin right-->
  <div id="main_r">
  <!--广告位-->
    <div class="ad_side">
      <script language="javascript" src="data/js.php?id=5"></script>
    </div>
    <h4>下载推荐</h4>
    <div>
      <ul class="text_list">
		{tag_下载列表页推荐文章列表}
      </ul>
    </div>
  </div>
  <!--end right-->
</div>
<!--end main-->
{template 'phpcms','footer'}