{template 'phpcms','header'}
<link href="{SKIN_PATH}video.css" rel="stylesheet" type="text/css" />
<div id="submenu">{tag_栏目页子菜单}</div>
<!--begin main-->
<div id="main">
  <!--begin left-->
  <div id="mian_l_1">
   <div class="video_nav_top ">
      <h3>影片搜索</h3>
    </div>
    <div class="video_nav">
    <form name="search" action="{SITE_URL}search.php" method="get" target="_blank">
    <input type="hidden" name="modelid" value="{$modelid}"  />
      <ul id="video_search">
        <li>
          <input type="text" name="title" size="19" />
          <input type="submit" name="dosubmit" value="搜索" class="btn_blue" />
        </li>
      </ul>
      </form>
    </div>
    <div class="video_nav_btm"></div>
    <div class="video_nav_top mar_10">
      <h3>影片索引</h3>
    </div>
    <div class="video_nav">
      {if $catlist}
      <dl>
        <dt><a>按类型</a></dt>
        <dd>
        {loop $catlist $c}
        	<a href="{$c[url]}">{$c[catname]}</a>
        {/loop}
        </dd>
      </dl>
	  {/if}
      <div class="clear"></div>
      <dl>
        <dt><a>按地区</a></dt>
        <dd>{loop $AREA $a}
	{php if($a[parentid]==1) break;}
	<a href="area.php?areaid={$a[areaid]}&catid={$catid}">{$a[name]}</a>
    {/loop}</dd>
      </dl>
      <div class="clear"></div>
      </div>
    <div class="video_nav_btm"></div>
   
    <div class="video_nav_top mar_10">
      <h3>影视排行</h3>
    </div>
    <div class="video_nav">
      <ul class="text_list_1">
       {php $arrchild = $CATEGORY[$catid][arrchildid]}
      {get sql="SELECT title, catid, url FROM phpcms_content a, phpcms_content_count b WHERE a.contentid=b.contentid AND a.status=99 AND a.catid IN ($arrchild) ORDER BY b.hits" rows="10"}
     <li><a href="{$CATEGORY[$r[catid]][url]}" class="gray">[{$CATEGORY[$r[catid]][catname]}]</a><a href="{$r[url]}">{$r[title]}</a> </li>
      {/get}
      </ul>
      <span></span> </div>
    <div class="video_nav_btm"></div>
  </div>
  <div id="mian_r_1">
    <!--产品搜索-->
    <div class="cat">
      <h3>推荐影片</h3>
      <ul>
        {tag_视频模型}
      </ul>
    </div>
    <!--AD-->
    <div class="ad"><script language="javascript" src="data/js.php?id=8"></script></div>
    <div class="cat">
      <h3>最新加入影片</h3>
      <ul>
		{tag_最新加入影片}
      </ul>
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}