{template 'phpcms','header'}
<div id="submenu">{tag_栏目页子菜单}</div>
<!--begin main-->
<div id="main">
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
    <div id="position"><a href="">首页</a>{catpos($catid)}</div>
    <!--{loop $arrchildid $cid $c}-->
    <div class="cat">
      <div class="cat_title_1"><a href="{$c[url]}"><img src="images/more.gif" alt="更多" /></a>
        <h3>{$c[catname]}</h3>
      </div>
      <div class="cat_left"> {tag_栏目页图片标题} </div>
      <div class="cat_right">
        <ul class="text_list">
          {tag_栏目页信息列表}
        </ul>
      </div>
    </div>
    <!--{/loop}-->
	</div>
  <div id="main_r">
    <!--广告位-->
    <div class="ad_side">
      <script language="javascript" src="data/js.php?id=5"></script>
    </div>
    <h4>图片文章</h4>
    <div>
      <ul class="pic_list">
        {tag_栏目页图片文章}
      </ul>
    </div>
    <h4>推荐文章</h4>
    <div>
      <ul class="text_list">
        {tag_列表页推荐文章}
      </ul>
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}