<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords" />
<meta content="{$head[description]}" name="description" />
<base href="{SITE_URL}" />
<link href="{SKIN_PATH}{$mod}.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div align="center">
<table width="300" align="center" cellpadding="0" cellspacing="5" bgcolor="#f4f4f4" style="border:1px solid #dcdcdc; margin-top:100px">
  <tr>
    <td height="200" align="center" bgcolor="#FFFFFF">
	{if $allow_readpoint}<!--判断是否已经扣点-->
		<a href="{$downurl}"><img src="{SKIN_PATH}images/down.gif" alt="{$title}" border="0"></a>
	{else}
		<span style='background:#E4F5FA'><a href='readpoint.php?contentid={$contentid}'>阅读本文需要消耗<font color='red'>{$readpoint}</font>点，您确认查看吗？</a></span>
	{/if}
	</td>
  </tr>
</table>
</div>
</body>
</html>