<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords" />
<meta content="{$head[description]}" name="description" />
<base href="{SITE_URL}" />
<link href="favicon.ico" rel="shortcut icon" />
<link href="{SKIN_PATH}{$mod}.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="{$head[title]}" href="/rss.php?rssid={$catid}" />
<script language="JavaScript" src="data/config.js"></script>
<script language="JavaScript" src="images/js/jquery.min.js"></script>
<script language="JavaScript" src="images/js/css.js"></script>
<script language="JavaScript" src="images/js/common.js"></script>
<script language="JavaScript" src="images/js/login.js"></script>
<script language="JavaScript" src="images/js/validator.js"></script>
</head>
<body onload="menu_selected('{php echo $catid ? $catid : $mod;}')">
<div id="top">
{if isset($MODULE['search'])}
{php $types = cache_read('search_type.php');}
  <div class="f_r">
     <form name="site_search" action="{$MODULE[search][url]}" target="_blank">
	  <input type="hidden" name="type" value="all"/>
      <input type="text" name="q" size="20" class="input_blur"/>
      <select>
        <option value="all">全部</option>
		{loop $types $k $name}
        <option value="{$k}">{$name}</option>
		{/loop}
      </select>
      <input type="submit" name="s" id="button" value="搜索" class="button_style"/>
	 </form>
  </div>
{/if}
  <div class="f_l">
    <div id="div_login" style="display:none">
		<form action="{$MODULE[member][url]}login.php" method="post" name="login" onsubmit="return loginSubmit(this, {PASSPORT_ENABLE});">
		用户名：<input type="text" name="username" size="12" class="input_blur"/>
		密码：<input type="password" name="password" size="12" class="input_blur"/>
			  <input type="submit" name="dosubmit" value="登录" class="button_style"/>
			  <input type="button" name="register" value="注册" onclick="redirect('{$MODULE[member][url]}register.php')" class="button_style"/>
			  <input type="hidden" name="cookietime" value="0"/>
		</form>
	</div>
    <div id="div_logined" style="display:none">
		<strong id="logined_username" ></strong>，<a href="{$MODULE[member][url]}">会员中心</a> | 
        <a href="{if PASSPORT_ENABLE}{$MODULE[member][url]}logout.php{else}javascript:logout('{$MODULE[member][url]}logout.php?action=ajax');{/if}">退出登录</a>
	</div>
  </div>
</div>
<div id="head">
  <div id="logo">
    <a href="{SITE_URL}"><img src="images/logo.gif" alt="{$PHPCMS[sitename]}" /></a>
    <a href="{SITE_URL}rss.php" target="_blank"><img src="images/rss.jpg" alt="rss信息聚合" /></a></div>
  <div class="ad" id="topbanner"><script language="javascript" src="data/js.php?id=1"></script></div>
</div>
<div id="menu">
	<ul>
	  <li><a href="" id="menu_phpcms"><span>首页</span></a></li>
	  {tag_一级栏目}
	</ul>
</div>