{template 'phpcms','header'}

<!--begin main-->
<div id="main">
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
    <div id="position"><a href="">首页</a>{catpos($catid)}</div>
    <div class="bdr_2">
      <ul class="pic_list">
		{tag_二级栏目图片}
      </ul>
    </div>
		{tag_二级栏目标题列表}
  </div>
  <div id="main_r">
    <!--广告位-->
    <div class="ad_side"><script language="javascript" src="data/js.php?id=5"></script></div>
    <h4>推荐图片文章</h4>
    <div>
      <ul class="pic_list">
        {tag_栏目页图片文章}
      </ul>
    </div>
	<!--{block("list_article", 1)}-->
    <h4>热点文章</h4>
    <div>
      <ul class="text_list">
       {tag_栏目页热点}
      </ul>
    </div>
	<!--{block("list_$catid", 2)}-->
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}