{template 'phpcms','header'}
<link href="{SKIN_PATH}product.css" rel="stylesheet" type="text/css" />
<!--begin main-->
<div id="main">
  <!--begin left-->
  <div id="mian_l_1">
    <div class="product_nav_top">
      <h3>产品分类</h3>
    </div>
    <div class="product_nav">
{loop $catlist $cat}
{php $cols=1;}
{if $cat[parentid]==$parentid}
<dl>
<dt><a href="{$cat[url]}" >{$cat[catname]}</a></dt>
<dd>{loop $catlist $childcat}
{if $cols<4 && $childcat[parentid]==$cat[catid]}<a href="{$childcat[url]}" >{$childcat[catname]}</a>
{php $cols++;}
{/if}
{/loop}<a href="{$cat[url]}" >>></a>
</dd></dl>
{/if}
{/loop}
      <span></span>
      </div>
    <div class="product_nav_btm"></div>
    <div class="product_nav_top mar_10">
      <h3>产品搜索</h3>
    </div>
    <div class="product_nav">
      <ul id="product_search">
        {template 'phpcms','product_search_table'}
      </ul>
    </div>
    <div class="product_nav_btm"></div>
	<!--{block("list_$catid", 1)}-->
  </div>
  <div id="mian_r_1">
     <div class="bdr_1">
     <p id="position"><a href="">首页</a>{catpos($catid)}产品列表</p>
      {tag_产品终极栏目产品列表}
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}