{template 'phpcms','header'}
<script language="JavaScript">
<!--
function killerrors() { 
return true; 
}
window.onerror = killerrors;
//-->
</script>
<style type="text/css" >
#bimg img { 
vertical-align: middle;
max-width:600px;   /* FF IE7 */
width:expression(this.width > 600 && this.width > this.height ? 600 : true);
overflow:hidden;
}
</style>
<!--begin main-->
<div id="main">
  <!--begin left-->
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
	<div id="position"><a href="">首页</a>{catpos($r['catid'])}组图展示</div>
    <div id="content">
    <div id="content_head">
      <!--文章标题-->
      <h1><a href="{$url}">{$title}</a></h1>
      <!--基本属性-->
      <div id="text"><span>{$updatetime}</span> 作者：{$userid} 来源：<a href="{$copyfromurl}">{$copyfromname}</a> 浏览次数：<span id="hits">0</span></div></div>
      <!--begin 图片浏览-->

<div id="ArticleCnt">
  <a id="p" name="p"></a>
  <div id="lantern">
  <!--播放工具-->
    <div id="tool">
      <div class="f_l">
        <select id="cSpeed" onchange="SaveTime()" style="display: none;">
          <option value="6" selected="selected">中</option>
        </select>
        <input style="display: inline;" id="startplay" title="播放/暂停" src="images/picture/9423081.gif" onclick="playpic()" align="absmiddle" type="image">
        <input id="stopplay" title="播放/暂停" src="images/picture/9423085.gif" style="display: none;" onclick="stop()" align="absmiddle" type="image">
		{if $page==1}<img src="images/picture/9423087.gif" align="absmiddle" width="48" height="22">
		{else}<a href="javascript:changeUrl({max(intval($page-1),1)})"><img src="images/picture/9423087.gif" alt="上一张" align="absmiddle" width="48" height="22"></a>{/if}
		{if $page==$images_number}&nbsp;
		<img src="images/picture/9423077.gif" align="absmiddle" width="48" height="22">
		{else}
		<a href="javascript:changeUrl({min(intval($page+1),$images_number)})"><img src="images/picture/9423077.gif" alt="下一张" align="absmiddle" width="48" height="22"></a>
		{/if}
        <select id="pagejump" onchange="changeUrl(this.value)">
		{loop $array_images $j $img}
          <option value="{$j}" {if $j==$page}selected{/if}>{$j}/{$images_number}张</option>
		{/loop}
        </select>
      </div>
      <div class="f_r"> <a href="{$array_images[$page][filepath]}" target="_blank"><img src="images/picture/9423079.gif" border="0" width="60" height="22"></a> </div>
      <div class="clear"></div>
    </div>
    <!--正中大图-->
    <div id="bimg"><a href="javascript:changeUrl({min($page+1,$images_number)})"><img style="cursor: pointer;" src="{$array_images[$page][filepath]}" alt="点击浏览下一张" ></a>
      <div id="Explain" align="center">
        <p></p>
      </div>
    </div>

    <div id="simg">
      <div class="p"><a href="javascript:changeUrl({intval(floor($page/6)*6-5)})"><img src="images/picture/9423218.gif" alt="上一组"></a></div>
      <div id="sImage">
	  
		{loop $array_images $k $r}
		{php if(($k<ceil($page/6)*6-5) || ($k>ceil($page/6)*6)) continue;}
		 <div><a href="javascript:changeUrl({$k})"><img src="{thumb($r[filepath], 60, 60)}" alt="点击浏览大图" width="60" height="60" {if $k==$page}class="s"{/if}/></a></div>
		{/loop}
      </div>

      <div class="n"><a href="javascript:changeUrl({min(ceil($page/6)*6+1,$images_number)})"><img src="images/picture/9423216.gif" alt="下一组"></a></div>
    </div>
  </div>
  <div id="hdcnt"></div>
</div>
      <!--end 图片浏览-->
      <!--快速链接-->
	<div class="clear"></div>
      {if isset($MODULE[mail])}
      <form action="{$MODULE[mail][url]}sendmail.php" name="sendmail" id="sendmail">
        <input type="hidden" name="title" value="推荐：{$title}" />
        <input type="hidden" name="content" value=" <a href='{SITE_URL}{$url}' target='_blank'>{$title}</a><br/>" />
      </form>
      {/if}
      {if isset($MODULE[error_report])}
      <form action="{$MODULE[error_report][url]}error_report.php" name="errors" id="errors">
        <input type="hidden" name="title" value="{$title}" />
      </form>
      {/if}      
      <h3 class="align_r">{if isset($MODULE[error_report])}<a href="javascript:$('#errors').submit();">[错误报告]</a>{/if} {if isset($MODULE[mail])}<a href="javascript:$('#sendmail').submit();">[推荐]</a>{/if} <a href="javascript:myAddPanel('{$title}',window.location.href)">[收藏]</a> <a href="javascript:window.print();">[打印]</a> <a href="javascript:window.close();">[关闭]</a> <a href="{SITE_URL}{$url}#top">[返回顶部]</a> </h3>
      <!--评论-->
      {if isset($MODULE[comment])}
      {php list($keyid, $verify) = keyid_make('phpcms', 'content', 'title', $contentid);}
      <div id="commnent_tag"><a href="{$MODULE[comment][url]}?keyid={$keyid}&verify={$verify}"><img src="images/comment.gif" alt=""/></a> 当前共有<strong class="c_red"><span id="comments">0</span></strong>人发表了评论.</div>
      {/if} </div>
    <div class="clear"></div>    
    </div>
  <!--end left-->
  <!--begin right-->
  <div id="main_r">
    <h4>推荐{$CATEGORY[$catid][catname]}</h4>
    <div>
      <ul class="pic_list">
        {tag_组图图片列表页推荐}
      </ul>
    </div>
    <h4>最新{$CATEGORY[$catid][catname]}信息</h4>
    <div>
      <ul class="text_list">
        {tag_组图图片列表页最新}
      </ul>
    </div>
  </div>
  <!--end right-->
</div>
<!--end main-->
<script language="JavaScript">
<!--
function changeUrl(id)
{
	redirect("{SCRIPT_NAME}?contentid={$contentid}&page="+id);
}
var autoplay=false;
if(getcookie("autoplay") != null)
{
  if(getcookie("autoplay")=="1")
  {
   autoplay=true;
   $('#startplay').css('display','none');
   $('#stopplay').css('display','inline');
  }
  else
  {
	$('#startplay').css('display','inline');
	$('#stopplay').css('display','none');
  }
}
else
{
	stop();
}
if(autoplay)
{
	setInterval("play()",6000);
}
function playpic()
{ 
	
   $('#startplay').css('display','none');
   $('#stopplay').css('display','inline');
   setcookie("autoplay",1);
   play();
}
function play()
{
	var t = {$images_number};
	var page = {$page};
	if(t==page)
	{
		stop();
	}
	else
	{
		setInterval("changeUrl({min(intval($page+1),$images_number)})",6000);
	}
}
function stop()
{
	setcookie("autoplay",0);
	$('#startplay').css('display','inline');
	$('#stopplay').css('display','none');
}
//-->
</script>
<script language="JavaScript" src="count.php?contentid={$contentid}"></script>
{template 'phpcms','footer'}