{template 'phpcms','header'}
<link href="{SKIN_PATH}video.css" rel="stylesheet" type="text/css" />
<div id="submenu">{tag_栏目页子菜单}</div>
<!--begin main-->
<div id="main">
  <!--begin left-->
  <div id="mian_l_1">
   <div class="video_nav_top ">
      <h3>影片搜索</h3>
    </div>
    <div class="video_nav">
    <form name="search" action="{SITE_URL}search.php" method="get" target="_blank">
    <input type="hidden" name="modelid" value="{$modelid}"  />
      <ul id="video_search">
        <li>
          <input type="text" name="title" size="19" />
          <input type="submit" name="dosubmit" value="搜索" class="btn_blue" />
        </li>
      </ul>
      </form>
    </div>
    <div class="video_nav_btm"></div>
    <div class="video_nav_top mar_10">
      <h3>影片索引</h3>
    </div>
    <div class="video_nav">
      <dl>
        <dt><a>按地区</a></dt>
        <dd>{loop $AREA $a}
	{php if($a[parentid]==1) break;}
	<a href="area.php?areaid={$a[areaid]}&catid={$catid}">{$a[name]}</a>
    {/loop}</dd>
      </dl>
      <div class="clear"></div>
      </div>
    <div class="video_nav_btm"></div>
   
    <div class="video_nav_top mar_10">
      <h3>影视排行</h3>
    </div>
    <div class="video_nav">
      <ul class="text_list_1">
	  {php $rr= $r;}
       {php $arrchild = $CATEGORY[$catid][arrchildid]}
      {get sql="SELECT title, catid, url FROM phpcms_content a, phpcms_content_count b WHERE a.contentid=b.contentid AND a.status=99 AND a.catid IN ($arrchild) ORDER BY b.hits" rows="10"}
     <li><a href="{$CATEGORY[$r[catid]][url]}" class="gray">[{$CATEGORY[$r[catid]][catname]}]</a><a href="{$r[url]}">{$r[title]}</a> </li>
      {/get}
      </ul>
      <span></span> </div>
    <div class="video_nav_btm"></div>
  </div>
  <div id="mian_r_1">
    <div class="bdr_1">
      <p id="position"><a href="{SITE_URL}">网站首页</a>{catpos($catid)}{$title}</p>
      <dl class="video_show">
        <dt>{$title}</dt>
        <dd class="video_pic_s"><a href="{if $rr[thumb]}{$rr[thumb]}{else}images/nopic.gif{/if}" target="_blank"><img src="{if $rr[thumb]}{$rr[thumb]}{else}images/nopic.gif{/if}" alt="{$title}" /></a><br />
        </dd>
        <dd class="video_attribute_s">导演：{$director} </dd>
        <dd class="video_attribute_s">主要演员：{$actor}</dd>
        <dd class="video_attribute_s">影片评级：{$rank}</dd>
        <dd class="video_attribute_s">影片类型：<a href="{SITE_URL}type.php?typeid={$typeid}">{$typeid}</a></dd>
        <dd class="video_attribute_s" id="keyword_v">关键词：{if $keywords}{$keywords}{/if} </dd>
        <dd class="video_attribute_s">地区：{$areaid}</dd>
      </dl>
      <div class="clear"></div>
      <h4>分集点播</h4>
      <div class="vod_list">{$video}
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <h4>影片简介</h4>
      <div class="video_txt_1">{$content}</div>
      <h4>影片剧照</h4>
      <ul class="pic_list">
	  {loop $photo $n $r}
		<li><a href="{$r[filepath]}"><img src="{$r[thumb]}" width="136" height="180" /></a></li>
	  {/loop}
      </ul>
    </div>
  </div>
</div>
</div>
<!--end main-->
<script language="JavaScript" src="count.php?contentid={$contentid}"></script>
{template 'phpcms','footer'}