{loop $data $n $r}
<dl class="video_list_1">
        <dt><a href="{$r[url]}" title="{$r[title]}" {$target}>{str_cut($r[title], $titlelen, '')}</a><a href="{$r[url]}" class="play_btn"><img src="images/play.gif" alt="点击播放" title="点击播放" /></a></dt>
        <dd class="video_pic"><a href="{$r[url]}"><img src="{if $r[thumb]}{$r[thumb]}{else}images/nopic_small.gif{/if}" alt="{$r[title]}" height="{$height}" width="{$width}" /></a></dd>
        <dd class="video_attribute_1">导演：{$r[director]}</dd>
        <dd class="video_attribute_1">主演：{$r[actor]}</dd>
        <dd class="video_attribute_1">{str_cut($r[content], 40)}</dd>
</dl>
{/loop}
<p id="pages">{$pages}</p>