{loop $data $n $r}
<dl class="product_list_1">
	<dt><a href="{$r[url]}" target="{$target}">{if $r[style]}<span class="{$r[style]}">{str_cut($r[title], $titlelen,'..')}</span>{else}{str_cut($r[title], $titlelen,'..')}{/if}</a></dt>
	<dd class="product_pic"><a href="{$r[url]}" target="{$target}"><img src="{thumb($r[thumb], $width, $height)}" width="{$width}" height="{$height}" alt="{$r[title]}" /></a></dd>
	<dd class="product_attribute_1">产品价格：<font color="#FF0000">{$r[price]}元/{$r[unit]}</font></dd>
	<dd class="product_attribute_1">产品编号：{$r[contentid]}</dd>
	<dd class="product_attribute_1">更新日期：{date('Y-m-d',$r[updatetime])}</dd>
</dl>
{/loop}
{if $pages}<p id="pages">{$pages}</p>{/if}