TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
A {
	COLOR: #4d4d4d; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.input {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.wight {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px
}
.dian {
	FONT-SIZE: 12px; COLOR: #009933; LINE-HEIGHT: 18px
}
.blue {
	FONT-SIZE: 12px; COLOR: #000099; TEXT-DECORATION: underline
}
.orange {
	FONT-SIZE: 12px; COLOR: #ff6600
}
.red {
	FONT-SIZE: 12px; COLOR: #cc3300; LINE-HEIGHT: 18px
}
.tdbg {
	BORDER-RIGHT: #cccc66 1px solid; BORDER-TOP: #eeffdd 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #cccc66 1px solid; COLOR: #ff6600; LINE-HEIGHT: 18px; BORDER-BOTTOM: #aeae39 1px solid; BACKGROUND-COLOR: #d7e69d
}
.hui {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px
}
.button {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.BUTTON {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: auto; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; FONT-FAMILY: "宋体","Verdana"; POSITION: static; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff
}
