	{template 'phpcms','header'}

<table width="980" align="center" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="760" valign="top">
    <div class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}</div>
<!--子栏目导航-->
    <div class="subnav">{tag_频道子栏目列表}</div>
{if $enableadd}
<div class="cat_box_1">
	<div class="cat_title">
	  <div class="cat_name">{$catname}</div>
	  <div class="cat_url"><a href="{$linkurl}" class="more">更多</a></div>
	</div>
<!--图片列表-->
{tag_一级栏目图片列表}
   <table width="100%" align="center" cellpadding="0" cellspacing="0" class="gray">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
{/if}

<!--子栏目开始-->
	{loop $arrchildid $i $childcat}
<div class="cat_box_1">
  <div class="cat_title">
    <div class="cat_name">{$childcat[catname]}</div>
	<div class="cat_url"><a href="{$childcat[linkurl]}" target="{$childcat[target]}" class="more">更多</a></div>
  </div>
{tag_子栏目图片列表}</div>
	{/loop}
<!--子栏目结束-->
   <table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
<!--搜索框-->
<script language="Javascript" src="{PHPCMS_PATH}data/js/search.js"></script>
	</td>
    <td width="10"></td>
	<td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>推荐图片</h1><h2><a href="{$channelurl}search.php?catid={$catid}&elite=1&search=1" class="more">更多</a></h2></div>
{tag_推荐图片}
	<div class="rightcats"><h1>热点图片</h1><h2><a href="{$channelurl}search.php?catid={$catid}&ordertype=3&search=1" class="more">更多</a></h2></div>
{tag_热点图片}
	</td>
  </tr>
</table>

{template 'phpcms','footer'}