{template 'phpcms','header'}
<script language=javascript type="text/javascript">
function fontZoom(size){
$('content').style.fontSize=size+'px'
}
</script>
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="760" valign="top" class="content">
<!--位置导航-->
	<div class="position_1">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} </div>

<!--主标题--><h1><a href="{$itemurl}">{$title}</a></h1>
<!--文件属性--><div id="property">发布日期：{$adddate}&nbsp;&nbsp;作者：<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$author}</a>&nbsp;&nbsp;来源：<a href="{$copyfromurl}" target="_blank">{$copyfromname}</a>&nbsp;&nbsp;浏览次数：<span id="hits">0</span>&nbsp;&nbsp;文字大小：【<a href="javascript:fontZoom(16)">大</a>】【<a href="javascript:fontZoom(14)">中</a>】【<a href="javascript:fontZoom(12)">小</a>】 </div>
  <table width="740" align="center" cellPadding="0" cellSpacing="0" class="mar_10">
    <tbody>
      <tr>
        <td valign="top" align="center">
		{$purview_message}
		{if $ispage && !$purview_message}
			<div class="td_center_1"><img src="{$img_src}" alt="{$img_alt}" id="Img" {if !$MOD['show_mode']}onclick="window.open(this.src);"  style="cursor:pointer"{/if} /></div>
			<div class="td_center_1">{$pages}</div>
			<script type="text/javascript">
			window.onload = function()
			{
				if($('Img').width>{$img_maxwidth})
				{
					$('Img').height=parseInt($('Img').height*{$img_maxwidth}/$('Img').width);
					$('Img').width={$img_maxwidth};
				}
			}
			</script>
{else}
<table width="740" cellspacing="0" cellpadding="0" id="content" class="mar_10">
{loop $pictureurls $i $pic}
      {if $i%3==0}<tr>{/if}
<td align="center" style="padding:0 5px;">
<a href="{$pic[href]}"><img src="{$pic[thumb]}" alt="{$pic[alt]}" id="img_{$pic[id]}"/></a>
</td>
     {if $i%3==2}</tr>{/if}
{/loop}
</table>
<script type="text/javascript">
function ImgZoom(Id)//重新设置图片大小 防止撑破表格
{
	var w = $(Id).width;
	var m = {$thumb_maxwidth};
	if(w < m)
	{
		return;
	}
	else
	{
		var h = $(Id).height;
		$(Id).height = parseInt(h*m/w);
		$(Id).width = m;
	}
}
window.onload = function()
{
	var Imgs = $("content").getElementsByTagName("img");
	var i=0;
	for(;i<Imgs.length;i++)
	{
		ImgZoom(Imgs[i]);
	}
}
</script>

			<!--自定义字段//-->
			<table width="100%" align="center" cellspacing="0" cellpadding="0">
             {loop $fields $v}
              <tr>
                <td>{$v[title]}：{$v[value]}</td>
              </tr>
             {/loop}
			 </table>
			 <!--自定义字段\\-->

{/if}
        </td>
      </tr>
    </tbody>
  </table>
<div class="border_1 mar_10" id="content">{$introduce}</div>
<h3>责任编辑：<a href="{PHPCMS_PATH}member/member.php?username={$checker}" class="member_url">{$checker}</a></h3>
<div id="par" class="iconbox">
<form action="{$MODULE['mail']['linkurl']}sendmail.php" name="sendmail" id="sendmail">
<input type="hidden" name="title" value="推荐《{$title}》" />
<input type="hidden" name="content" value="<a href={$itemurl} target=_blank>{$title}<br/>{$itemurl}</a>" />
</form>
<a href="#comment" class="comment_icon">发表评论</a>　<a href="javascript:window.external.addFavorite(window.location,'{$title}')" class="favorites_icon">加入收藏</a>　<a href="javascript:$('sendmail').submit();" class="friend_icon">告诉好友</a>　<a href="javascript:window.print();" class="print_icon">打印本页</a>　<a href="javascript:window.close()" class="close_icon">关闭窗口</a>　<a href="#top" class="top_icon">返回顶部</a></div>
<div class="cat_title">
  <div class="cat_name">相关图片</div>
  <div class="cat_url"><a href="#" class="more"></a></div>
</div>
{tag_相关图片}
<!--评论部分-->
<div class="clearboth"></div>
<!--发表评论-->
<script type="text/javascript" src="{$MODULE['comment']['linkurl']}list_js.php?keyid={$channelid}&itemid={$pictureid}&commentnum=10&ordertype=1&title={$urlencode($title)}"></script>

    </td>
    <td width="10"></td>
	<td width="210" valign="top" class="right_bg">
	 <div class="rightcats"><h1>最新图片</h1></div>
{tag_侧栏最新图片}
	<div class="rightcats"><h1>推荐图片</h1><h2><a href="{$channelurl}search.php?catid={$catid}&elite=1&search=1" class="more">更多</a></h2></div>
{tag_推荐图片}
	<div class="rightcats"><h1>热点图片</h1><h2><a href="{$channelurl}search.php?catid={$catid}&ordertype=3&search=1" class="more">更多</a></h2></div>
{tag_热点图片}
  </td>
  </tr>
</table>
<script type="text/javascript" src="{$channelurl}show_js.php?itemid={$pictureid}"></script>

{template 'phpcms','footer'}