{template 'phpcms','header'}
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="270" class="slidepic"><!--260X220-->{tag_图片频道首页幻灯片}</td>
    <td width="10"> </td>
    <td valign="top" width="475">
    <!--推荐图片-->
	<div class="cat_box_1">
	  <div class="cat_title">
	    <div class="cat_name">推荐图片</div>
	    <div class="cat_url"><a href="{$channelurl}search.php?elite=1&search=1" class="more"></a></div></div>
{tag_图片频道首页推荐}</div>
    </td>
    <td width="15"></td>
    <td width="210" valign="top" class="right_bg">
   	<div class="rightcats"><h1>推荐专题</h1><h2></h2></div>
<!--图片专题标签-->
{tag_图片频道首页专题}
	</td>
  </tr>
    </table></td>
  </tr>
</table>
<table width="980" cellpadding="0" cellspacing="0" class="mar_5">
  <tr>
    <td width="760" valign="top">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
<table height="5" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>
</table>
<!--自定义栏目开始-->
	{loop $childcats $cat}
	<div class="cat_box_1">
	<div class="cat_title">
	  <div class="cat_name">{$cat[catname]}</div>
	  <div class="cat_url"><a href="{$cat[linkurl]}" class="more">更多</a></div>
	</div>
    {tag_图片频道首页栏目最新图片}</div>
	{/loop}
<!--自定义栏目结束-->
    </td>
    <td width="10"> </td>
    <td width="210" align="center" valign="top" class="right_bg">
	<div class="rightcats"><h1>最新公告</h1><h2><a href="{PHPCMS_PATH}announce/?keyid={$channelid}" class="more">更多</a></h2></div>
      {tag_频道首页最新公告}
	  <div class="rightcats"><h1>投票调查</h1><h2><a href="{PHPCMS_PATH}vote/?keyid={$channelid}" class="more">更多</a></h2></div>
<!--投票调查-->
     <table width="100%" height="100" cellpadding="0" cellspacing="5">
        <tr>
          <td>{tag_图片频道首页投票}</td>
        </tr>
      </table>
 
	  <div class="rightcats"><h1>友情链接</h1><h2><a href="{PHPCMS_PATH}link/" class="more">更多</a></h2></div> 
{tag_图片频道首页logo链接}
{tag_图片频道首页文字链接}
    </td>
  </tr>
</table>
{template 'phpcms','footer'}