{template 'phpcms','header'}
<script language="javascript" type="text/javascript">
function doCheck(){

// 检测表单的有效性
	if (document.myform.catid.value=='0'){
	alert('请选择栏目！');
	return false;
	}
	if (myform.title.value=="") {
	alert("请输入标题！");
	return false;
	}
        for(var i=0;i<document.myform.PictureUrl.length;i++){
           if (document.myform.pictureurls.value=='') document.myform.pictureurls.value=document.myform.PictureUrl.options[i].value;
           else document.myform.pictureurls.value+="\n"+document.myform.PictureUrl.options[i].value;
        }
}
</script>

<table cellspacing="0" cellpadding="0" border="0" width="980" align="center">
<tr>
<td class="tablerowhighlight" width="190" align="center" valign="top" bgcolor="#F7F2E3">
{template 'member','left'}
</td>
<td width="20" valign="top">
</td>
<td width="770" valign="top">

<table width="100%" cellpadding="0" cellspacing="0" class="tableBorder">
  <tr>
    <td height="25" bgcolor="#F7F2E3"> &nbsp;
	·<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=add"><font color="red">发布图片</font></a>&nbsp;&nbsp;
	·<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=manage&status=3">已通过[{$num_3}]</a>&nbsp;&nbsp;
	·<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=manage&status=1">待审核[{$num_1}]</a>&nbsp;&nbsp;
	·<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=manage&status=0">草稿[{$num_0}]</a>&nbsp;&nbsp;
	·<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=manage&status=2">退稿[{$num_2}]</a>&nbsp;&nbsp;
	</td>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td height="15" class="tablerow"> </td>
  </tr>
</table>

{if $action=='add' || $action=='edit'}

<script type="text/javascript" src="{PHPCMS_PATH}fckeditor/fckeditor.js"></script>
<script type="text/javascript">
	var editorBasePath = '{PHPCMS_PATH}fckeditor/';
	var ChannelId = {$channelid} ;
</script>

<script type="text/javascript">
window.onload = function()
{
	var oFCKeditor = new FCKeditor('content') ;
	oFCKeditor.BasePath	= editorBasePath ;
	oFCKeditor.ReplaceTextarea() ;
}
</script>

<form action="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action={$action}&submit=1&pictureid={$pictureid}" method="post" name="myform" onsubmit="return doCheck();">

<table cellpadding="2" cellspacing="1" class="tableborder">
  <tr>
    <th colspan=2>图片添加</th>
  </tr>
<!-- 基本信息 -->
    <tr>
      <td class="tablerow" width="15%"> <b>所属栏目</b> </td>
      <td class="tablerow" width="85%">
		{$cat_select}
		<font color='#FF0000'>*</font>
	</td>
    </tr>
	
	<tr> 
      <td class="tablerow"> <b>所属专题</b></td>
      <td class="tablerow">
		{$special_select}
	</td>
    </tr>

    <tr> 
      <td class="tablerow"> <b>标题</b></td>
      <td width="687" class="tablerow">
	  <input name='title' type='text' id='title' value='{$title}' size='44' maxlength='100' class='inputtitle'>
      <font color='#FF0000'>*</font></td>
    </tr>
	
    <tr> 
      <td class="tablerow"> <b>关键词</b></td>
      <td class="tablerow">
	  <input name="keywords" type="text" id="keywords" size="45" value='{$keywords}' title='提示;多个关键词请用半角逗号“,”隔开'>
	  </td>
    </tr>
    <tr> 
      <td class="tablerow"> <b>作者</b></td>
      <td class="tablerow">
	  <input name='author' type='text' id='author' value='{$author}' size='45' maxlength='30'>

	  </td>
    </tr>
    <tr> 
      <td class="tablerow"> <b>来源</b></td>
      <td class="tablerow">
		<table width='100%' border='0' cellpadding='0' cellspacing='0'>
      	<tr>
	  	<td class="tablerow">名称 
	  	<input name='copyfromname' type='text' id='copyfromname' value='{$copyfromname}' size='15' maxlength='50'>  
	  	</td>
	  	<td class="tablerow">地 址 
	  	<input name='copyfromurl' type='text' id='copyfromurl'  value='{$copyfromurl}' size='30' maxlength='200'>
	  	</td>
	  	</tr>
		</table>
	  </td>
    </tr>
	
	<tr> 
      <td class="tablerow"> <b>图片介绍</b> </td>
      <td class="tablerow">	<textarea name="content" cols="70" rows="5">{$content}</textarea></td>
    </tr>
  <tr>
    <td class="tablerow">缩略图：</td>
    <td class="tablerow">
	<input name="thumb" type="text" id="thumb" size="50" value="<?php echo $thumb; ?>"/>
{if $_CHA[enableupload]}<input type="button" name="uploadpic" type="button" id="uploadpic" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}uppic.php?channelid={$channelid}&uploadtext=thumb&action=thumb&type=thumb&width=150&height=150','upload','350','350')"/>&nbsp;{/if}
	</td>
  </tr>
  <tr>
    <td class="tablerow">图片地址：</td>
    <td class="tablerow">
<table cellpadding='0' cellspacing='0' border='0' width='100%'>
<tr>
<td>
<input type="hidden" name="pictureurls">
<select id='PictureUrl' name='PictureUrl' style='width:400;height:100' size='2' ondblclick='return ModifyUrl();'>
{loop $pictureurls $pictureurl}<option value='{$pictureurl}'>{$pictureurl}</option>{/loop}
</select>
</td>
<td>
<input type='button' name='addurl' value='添加外部地址' onclick='AddUrl();'><br>
<input type='button' name='modifyurl' value='修改当前地址' onclick='return ModifyUrl();'><br>
<input type='button' name='delurl' value='删除当前地址' onclick='DelUrl();'>
<script language = 'JavaScript'>
function AddUrl(){
  var thisurl='图片地址'+(document.myform.PictureUrl.length+1)+'|http://'; 
  var url=prompt('请输入图片地址名称和链接，中间用“|”隔开：',thisurl);
  if(url!=null&&url!=''){document.myform.PictureUrl.options[document.myform.PictureUrl.length]=new Option(url,url);}
}
function ModifyUrl(){
  if(document.myform.PictureUrl.length==0) return false;
  var thisurl=document.myform.PictureUrl.value; 
  if (thisurl=='') {alert('请先选择一个图片地址，再点修改按钮！');return false;}
  var url=prompt('请输入图片地址名称和链接，中间用“|”隔开：',thisurl);
  if(url!=thisurl&&url!=null&&url!=''){document.myform.PictureUrl.options[document.myform.PictureUrl.selectedIndex]=new Option(url,url);}
}
function DelUrl(){
  if(document.myform.PictureUrl.length==0) return false;
  var thisurl=document.myform.PictureUrl.value; 
  if (thisurl=='') {alert('请先选择一个图片地址，再点删除按钮！');return false;}
  document.myform.PictureUrl.options[document.myform.PictureUrl.selectedIndex]=null;
}
</script>
</td>
</tr>
</table>
	</td>
  </tr>
{if $_CHA[enableupload]}
  <tr>
    <td class="tablerow">上传图片：</td>
    <td class="tablerow">
系统提供的上传功能只适合上传比较小的文件(2M以内)。如果文件过大，请点“添加外部地址”输入名称和下载地址。<br/>
<iframe id="upload" src="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=uploadfile" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="450" height="50"></iframe>
	</td>
  </tr>
{/if}
{$fields}
	<tr> 
      <td class="tablerow"> <b>图片状态</b></td>
      <td class="tablerow">
		<input name='status' type='radio' value='3' {if $status==3}checked{/if} {if !$_GROUP['enableaddalways']}disabled{/if}> 已通过&nbsp;
		<input name='status' type='radio' value='1' {if !isset($status) || $status==1}checked{/if} > 待审核&nbsp;
		<input name='status' type='radio' value='0' {if isset($status) && $status==0}checked{/if}>草稿&nbsp;
		<input name='status' type='radio' value='2'  {if $status==2}checked{else}disabled{/if}> 退槁&nbsp;
	</td>
    </tr>	
	
    <tr> 
      <td class="tablerow" colspan="2" height="30" align="center"><input type="Submit" name="Submit" value=" 发表 "> &nbsp; <input type="reset" name="Reset" value=" 重置 "></td>
    </tr>
	</table>
	
  </form>
<!--//--->

{elseif $action=='preview'}

<table cellpadding="2" cellspacing="1" class="tableborder">
  <tr>
    <th colspan=6>{$title} - {$adddate}</th>
  </tr>
  <tr>
    <td class="tablerow">{$content}</td>
  </tr>
  <tr>
    <td class="tablerow">
{loop $pictureurls $id $pic}<p><a href="{$pic[url]}" target="_blank"><img src="{$pic[url]}" alt="{$pic[name]}" border="0" id="picture{$id}" onload="javascript:setpicWH(picture{$id},650,1000)" ></a><br/>{$pic[name]}</p>{/loop}
</td>
  </tr>
  <tr align=right>
    <td class="tablerow">
	<a href="#" onclick="javascript:history.go(-1);">返回</a>
	<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=edit&pictureid={$pictureid}">编辑</a>
	<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=send&pictureid={$pictureid}">投稿</a>
	<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=delete&pictureid={$pictureid}">删除</a>	
	</td>
  </tr>
</table>

{elseif $action=='manage'}

<table cellpadding="2" cellspacing="1" class="tableborder">
  <tr>
    <th colspan=6>图片管理</th>
  </tr>
<tr align=center>
<td width="8%"  class="tablerowhighlight">ID</td>
<td width="43%" class="tablerowhighlight">标题</td>
<td width="15%" class="tablerowhighlight">栏目</td>
<td width="12%" class="tablerowhighlight">发表时间</td>
<td width="10%" class="tablerowhighlight">点击</td>
<td width="12%" class="tablerowhighlight">管理操作</td>
</tr>
<form method="post" name="myform">
{loop $pictures  $picture}
<tr align='center' onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor='#ffffff'>
<td>{$picture[pictureid]}</td>
<td align=left>{if $picture[status]==3}<a href="{$picture[url]}" target="_blank">{else}<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=preview&pictureid={$picture[pictureid]}">{/if}{$picture[title]}</a>{if $picture[ontop]}<font color=red> 顶</font>{/if}{if $picture[elite]}<font color=blue> 荐</font>{/if}
</td>
<td><a href="{$picture[catdir]}" target="_blank">{$_CAT[$picture[catid]][catname]}</a></td>
<td>{$picture[adddate]}</td>
<td>{$picture[hits]}</td>
<td>{if $status<3}<a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=edit&pictureid={$picture[pictureid]}">编辑</a> | <a href="{PHPCMS_PATH}member/myitem.php?module={$module}&channelid={$channelid}&action=delete&pictureid={$picture[pictureid]}">删除</a>{else}<span style="color:#C0C0C0">编辑 | 删除</span>{/if}</td>
</tr>
{/loop}
</table>

<table width="100%" height="10" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>
</table>

<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align='center'>{$pages}</td>
  </tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" class="tableBorder">
<form method="get" name="search" action="{PHPCMS_PATH}member/myitem.php?">
  <tr>
    <td height="30" class="tablerow" align="center">
	<input name='module' type='hidden' value='{$module}'>
	<input name='catid' type='hidden' value='{$catid}'>
        <input name='status' type='hidden' value='{$status}'>
	<select name="srchtype">
	<option value="0" {if $srchtype==0}selected{/if}> 标题 </option>
	<option value="1" {if $srchtype==1}selected{/if}> 内容 </option>
	<option value="2" {if $srchtype==2}selected{/if}> 作者 </option>
	</select>&nbsp;
	<input name='keywords' type='text' size='30' value='{$keywords}'>&nbsp;
	{$cat_select}
	<input type="checkbox" class="radio" name="elite" value="1" {if $elite==1}checked{/if}> 推荐
	<input type="checkbox" class="radio" name="ontop" value="1" {if $ontop==1}checked{/if}> 置顶
	<select name="ordertype">
	<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
	<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
	<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
	<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
	</select>
	<input name='submit' type='submit' value='图片搜索'></td>
  </tr>
</form>
</table>

<br />
{/if}

</td>
</tr>
</table>
{template 'phpcms','footer'}