{template 'phpcms','header'}
<table width="980" align="center" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="210" valign="top" class="gray">
	<table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
      <tr>
        <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
        <td width="76%">推荐专题</td>
        <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
      </tr>
    </table>
	<!--推荐专题，幻灯片显示-->
	<table width="190" align="center" cellpadding="2"  cellspacing="0" class="mar_5">
      <tr>
        <td align="center" class="pic">
{$slidespecial(0,3,0,3,50,0,0,180,150,5000,-1)}
</td>
      </tr>
    </table>

      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar mar_5">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25"></td>
          <td width="76%">推荐图片</td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25"></td>
        </tr>
    </table>
{$picpicture(0,$channelid,0,1,$specialid,0,5,28,0,1,0,1,1,0,150,150,1)}
    </td>
    <td width="10"></td>
    <td width="760" valign="top">
	<!--位置导航-->
	<table width="100%"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="position">当前位置：{$position}</td>
      </tr>
    </table>
	<table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
  <!--搜索框-->
    <script language="text/javascript" src="{PHPCMS_PATH}data/js/search.js"></script>
	<table width="100%"  cellspacing="0" cellpadding="0" class="mar_10">
      <tr>
        <td class="titlebar" width="107">本站专题</td>
        <td width="10" height="25"><img src="{$skindir}/images/tit3_r.jpg"></td>
        <td class="bg_titlebar" width="602">{$specialname}</td>
        <td width="37"><img src="{$skindir}/images/tit2_r.jpg"></td>
      </tr>
    </table>
         <table width="96%"  cellspacing="0" cellpadding="0" class="mar_10">
           <tr>
              <td class="pic" width="120"><img src="{$specialpic}" width="120" height="90"></td>
              <td width="20"></td>
              <td valign='top'><br /><strong>内容简介：</strong> {$introduce} </td>
           </tr>	   
         </table>

	<table width="100%" align="center" cellpadding="0" cellspacing="0" class="mar_10">
	<tr>
	<td width="30" height="25"><img src="{$skindir}/images/tit2_l.jpg"></td>
	<td width="714" class="bg_titlebar">本专题图片文章</td>
	<td  width="36"><img src="{$skindir}/images/tit2_r.jpg"></td>
	</tr>
	</table>
	{$picpicture(0,$channelid,0,1,$specialid,0,50,20,0,0,0,1,1,1,120,90,5)}
	</td>
      </tr>
    </table>

{template 'phpcms','footer'}