<div id="slidepic">
<a href="javascript:jump2url()" onmouseover="displayStatusMsg();return document.returnValue"><img style="filter: revealTrans(duration=1,transition={$effectid})" src="{$pictures[0][thumb]}" width="{$imgwidth}" height="{$imgheight}"  border="0" name="picrotator" class="slidepic" /></a>
</div>
<div id='picarticletitle' class='slidepic_title'>{$pictures[0][title]}</div>
<script type="text/javascript" src="{PHPCMS_PATH}include/js/picrotator.js"></script>
<script type="text/javascript">
var transition={$effectid}; //设定变换效果
var timeout={$timeout}; //设定时间
var istitle={$titlelen};
{loop $pictures $i $picture}
linkpic[{$i}]="{$picture[thumb]}";
linkurl[{$i}]="{$picture[url]}";
linktitle[{$i}]="{$picture[title]}";
{/loop}
nextpic();
</script>