@import url("base.css");
.sidesearch{ height:30px; line-height:30px;}
#mian_l_1{ width:210px; float:left; margin-right:10px;}
#mian_l_2{ width:420px; float:right; overflow:hidden;}

#ask_nav_top{ background:url(images/bg_ask_nav.gif) no-repeat 0 0; height:40px;}
#ask_nav_top h3 { background:url(images/bg_model.gif) no-repeat 0 10px; font-size:14px; font-weight:bold; padding-left:20px;	height:40px; line-height:40px; color:#1589c8;}
#ask_nav{ border-left:5px solid #E5F3FE; border-right:6px solid #E5F3FE; margin-top:-5px;}
#ask_nav dl{ margin:5px 5px 0;border-bottom:1px dashed #dcdcdc;}
#ask_nav dt{ font-size:14px; font-weight:bold; color:#06c;}
#ask_nav dd a{ margin-right:6px; height:28px; line-height:28px; color:#06c;}
#ask_nav_btm{ background:url(images/bg_ask_nav.gif) no-repeat 0 -48px; height:11px;}
#box_1{ border:1px solid #C7E8F9; background:#ECF7FE; padding:15px 10px; position:relative; z-index:10;}
#search_div{ width:252px; border:1px solid #C7E8F9; position:absolute; top:37px; left:10px; _left:0;  background:#fff; padding:5px; display:none; overflow:hidden;}
.cat{ border:1px solid #99D3FB; margin-top:10px;}
/*more*/
.cat img{ float:right; margin-right:8px;}
.cat h3{ font-size:14px; color:#1589c8; padding-left:1em; height:24px; line-height:24px; border:1px solid #fff; background:#E4F3FC; position:relative;}
.cat h3 span{ font-size:12px; font-weight:normal;} 
.cat ul{ margin:0 auto; padding:5px;}
a.catname{color:gray}
.cat ul li a:link,.cat ul li a:visited{ font-size:14px; line-height:180%; color:#06c;}
.cat ul li a:hover,.cat ul li a:active{ font-size:14px; line-height:180%; color:#06c;}

.myanswer{ border:1px solid #99D3FB; margin-top:10px;}
.myanswer img{margin-right:8px;}
.myanswer h3{ font-size:14px; color:#1589c8; padding-left:1em; height:24px; line-height:24px; border:1px solid #fff; background:#E4F3FC; position:relative;}
.myanswer h3 span{ font-size:12px; font-weight:normal;} 
.myanswer ul li a:link,.cat ul li a:visited{ font-size:14px; line-height:180%; color:#06c;}
.myanswer ul li a:hover,.cat ul li a:active{ font-size:14px; line-height:180%; color:#06c;}

/*详细栏目列表*/
.catlist{background:url(images/bg_1.gif) no-repeat 0 -20px;padding-top:5px; margin-top:10px;}
.catlist h3{ font-size:14px; color:#1589c8; height:26px; line-height:26px;background:#E4F3FC url(images/bg_model.gif) no-repeat 0 0; padding-left:20px;}
.cribox_bdr ul{ display:inline;}
.cribox_bdr li{ width:123px; display:block; float:left;}
.cribox_bdr ul li {color:#f90;}
.cribox_bdr ul li a{color:#06c; font-size:14px;}
.cribox_bdr{ border:6px solid #E5F3FE; border-width:0 6px; padding:5px; height:100%; overflow:hidden;}
.cribox_btm{ background:url(images/bg_1.gif) no-repeat 0 -12px; height:10px; overflow:hidden;}
#search_tag span a{ padding:5px 10px; margin:0 2px; }
#search_tag span a:hover,#search_tag span.selected a{ background:#fff; height:20px; line-height:20px;}
/*内容页*/
/*解决中未解决*/
.j_1,.j_2{border:1px solid #f90; background:#FFF7D7; width:60px; text-align:center; color:#f90; margin:0 10px; padding:2px 7px 0; font-size:12px; font-weight:normal;}
.j_2{border-color:#B9DFF9; background:#F0F9FD; color:#1589C8;}
.question{ font-size:14px; color:#1589C8; font-weight:bold; line-height:160%; margin:10px 10px 0;}
/*问题属性*/
.question_attribute{ color:#666;  margin-left:10px; line-height:24px;}
.question_attribute span{ padding-top:2px; padding-bottom:2px;}
.question_attribute img { float:left;}
/*补充问题*/
.question_add{ padding:5px 10px;}
.question_add p,.answer p{ line-height:180%; font-size:14px; text-indent:2em; }
/*回答*/
.answer{ margin:10px;}
.answer_list{ border-bottom:1px solid #99D3FB; margin-top:10px;}
.answer_list ul{ margin:0 10px; padding:0;}
.answer_list li{ text-indent:2em; color:#666; padding:4px 0;max-width:630px;overflow:hidden;}
.answer_list li.align_r{ text-align:right; padding-right:8px; color:#1589c8; border-top:1px dashed #dcdcdc; padding:-2px 0}
.answer img{}
/*icon*/
.cat h3.now,.time,.gold,.cat h3.good{ background:url(images/bg_question.gif) no-repeat 0 4px; padding-left:22px; height:26px;}
.cat h3.now{ background-color:#E4F3FC;}
.time{ background-position:left -33px;}
.gold{ background-position:left -65px; color:#f00;}
.cat h3.good{ background-position:1px -93px;background-color:#E4F3FC; }

/*标签菜单*/
.tag_menu {	width:100%;	margin:10px auto 0;	border-bottom:3px solid #99D3FB; overflow:hidden;}
.tag_menu li {	float:left;	margin-right:3px;	padding:0;	display:inline;	text-align:center;}
.tag_menu li a { background:url(images/tag_menu.gif) no-repeat 0 -27px;	height:27px; line-height:27px; float:left; width:98px; display:block; white-space: nowrap;	text-decoration:none; color:#1589C8;}
.tag_menu li a:link, .tag_menu li a:visited { text-decoration:none;}
.tag_menu li a:hover, .tag_menu li a:active {color:#fff; text-decoration:none; background:url(images/tag_menu.gif) no-repeat 0 0;}
.tag_menu li.selected {}
.tag_menu li.selected a { background:url(images/tag_menu.gif) no-repeat 0 0;}
.tag_menu li.selected a:link, .tag_menu li.selected a:visited {	font-weight:bold; text-decoration:none;	color:#fff;}
.tag_menu li.selected a:hover, .tag_menu li.selected a:active {	color:#fff;	font-weight:bold; text-decoration:none;}
/*另一种标签菜单*/
.tag_box{ position:relative;}
.tag_box span{ position:absolute; bottom:-2px; right:0; height:22px; line-height:22px;}
h3.tag_box span{position:absolute; bottom:-2px; left:10px; height:22px; line-height:22px;}
.tag_menu_1 a,.cat h3 span a{ font-size:12px; width:64px; text-align:center; margin-left:3px; height:22px; line-height:22px; display:block; float:left;}
.tag_menu_1 a:link,.tag_menu_1 a:visited{background:url(images/tag_menu.gif) no-repeat 0 -55px;}
.tag_menu_1 a:hover,.tag_menu_1 a:active,.tag_menu_1 a.selected{background:url(images/tag_menu.gif) no-repeat 0 -77px;}
.tag_menu_1 a.selected:link,.tag_menu_1 a.selected:visited,.tag_menu_1 a.selected:hover,.tag_menu_1 a.selected:active{background:url(images/tag_menu.gif) no-repeat 0 -77px;}
.box_1{ border-top:1px solid #BBDEFA; padding:10px;}
/*列表样式，提示信息样式，表单样式*/
.table_list{ width:100%;}
.table_list { border:1px solid #99d3fb; *border-collapse:collapse;}

.table_list td { border-bottom:1px solid #E5F3FE; text-align:center;	color:#787878;	height:28px; line-height:28px;}
.table_list td a{ font-size:14px; color:#069;}
.table_list th{	text-align:center;	color:#077ac7; border-top:1px solid #fff; border-right:1px solid #99d3fb; border-bottom:1px solid #99d3fb; border-left:1px solid #fff; background: url(images/bg_admin.jpg) repeat-x 0 -28px;	line-height:22px; height:22px;}
td.align_left {	text-align:left;}
.main_r h4 a span{ font-size:12px;width:80px;}