@import url("base.css");
.digg_list{ border-bottom:1px dashed #B9DFF9; margin-bottom:10px; padding:6px;}
.digg_list dt{ font-size:12px; font-weight:bold; color:#077ac7; float:right; width:560px; line-height:24px;}
dd.digg_pic{ background:url(images/bg_digg.png) no-repeat 0 0; width:53px; display:block; text-align:center; line-height:24px; padding-top:8px; text-decoration:none; color:#f90; float:left; margin:8px 10px 0 0;}
dd.digg_txt{ color:#666;  line-height:180%; margin-left:20px; height:50px; min-height:50px; width:560px; }
dd.digg_attribute{ text-align:right;}
/*digg*/
#digg { width:140px; margin:0 auto 10px; overflow:hidden;}
dd.digg_pic,#digg span,#digg span.cai{ background:url(images/bg_digg.png) no-repeat 0 0; width:53px; display:block; text-align:center; line-height:24px; padding-top:8px; text-decoration:none; color:#f90; float:left;}
dd.digg_pic span strong,#digg span strong{ color:#fff; font-family:Arial; font-size:14px;}
dd.digg_pic samp{cursor:pointer;}

#digg span.cai {background-position: -62px 0; width:53px; color:#09f; float:right;}
.commentbox{ border:1px solid #bde3fd; margin-top:10px;}
.commenthead{ background:#EDF8FE; color:#09c; border:1px solid #fff; line-height:26px; height:26px; padding:0 6px;}
.commenthead img{ float:right; margin:7px 10px 0 0; }
.commenttext{ padding:10px;}
.commenttext p{ font-size:14px; padding:5px; text-indent:2em;}
.commentfunction{ border:1px solid #fff; text-align:right; border-top:1px dotted #bde3fd; color:#09c; line-height:24px; padding-right:15px;}
.reply{ border:1px solid #bde3fd; border-left-width:5px; padding:5px 10px; font-size:12px; margin:10px auto; text-indent:0; line-height:180%; color:#454545;}
.reply p{ margin:2px auto; text-indent:2em; line-height:150%;font-size:12px;}
/*浮动层*/
.floatdiv{ position:absolute;width:400px;height:300px;background:#ff6600; margin:-150px 0 0 -200px; border:1px solid #dcdcdc; top:50%; left:50%; display:none;
}