/*digg样式一*/
* {margin: 0px;padding: 0px;}
#digg_1 {margin-bottom: 8px;line-height: 20px ; text-align:left; font-size: 12px;background-image: url(images/digg/d-1.gif);background-repeat: repeat-x;background-position: bottom;padding:5px 6px 8px 6px;}
#digg_1 #zhong {float: left;width: 22px;background-color: #F6F6F6;margin-right: 2px;margin-left: 2px;}
#digg_1 .980 {margin: auto;width: 980px;}
#digg_1 .bg {height: 48px;width: 47px;background-image: url(images/digg/dig_new.gif);text-align: center;float: left;}
#digg_1 .bg_1 {height: 48px;width: 47px;background-image: url(images/digg/dig_nonew.gif);text-align: center;float: left;}
#digg_1 .bg span,.bg_1 span {height: 20px;color: #D1910A;padding-left: 4px;}
#digg_1 .bg p,.bg_1 p {height: 20px;color: #CA9711;}
#digg_1 .list {}
#digg_1 .list h2 {font-size: 14px;color: #FF0000;}
#digg_1 .list h2 a:link,#digg_1 .list h2 a:visited{color: #FF6600;text-decoration: none;}
#digg_1 .list h2 a:hover,#digg_1 .list h2 a:active{color: #FF6600;text-decoration: underline;}
#digg_1 .list dt {color: #2D3938;background-image: url(images/digg/forum_readme.gif);background-position: 55px;padding-left: 70px;
background-repeat: no-repeat;}
#digg_1 .ys {color: #0270E8}
#digg_1 #zuo {width: 655px;padding: 10px;float: left;background-image: url(images/digg/title_bg.gif);background-repeat: no-repeat;}
#digg_1 #zuo .jinri {margin-bottom: 15px;font-size: 14px;color: #666666;font-weight: bold;}
#digg_1 #zuo .xia_8px {margin-bottom: 15px;padding-bottom: 6px;border-bottom-width: 1px;border-bottom-style: dotted;
border-bottom-color: #8FC4FE;}
#digg_1 .you {float: right;border: 1px solid #8FC4FE;width: 290px;padding-bottom: 10px;}
#digg_1 .you .biaoti {background-color:#8FC4FE;height:25px;line-height:25px;padding-left:10px;font-size: 13px;margin-bottom:8px;}
#digg_1 .you .link a:link,#digg_1 .you .link a:visited{color: #0273FF;text-decoration: none;}
#digg_1 .you .link a:hover,#digg_1 .you .link a:active{color: #FF6600;text-decoration: underline;}
#digg_1 .you ul {padding-left: 10px;}
#digg_1 .you li {height: 24px;list-style-type: none;padding-top: 3px;padding-bottom: 3px;}
#digg_1 .you span {font-size: 13px;color: #0270E8;padding-left: 8px;line-height: 24px;}
#digg_1 .you li p {background-color: #FFF5EC;	width: 35px;text-align: center;border: 1px solid #FFDFBF;float: left;}
