/*首页信息分类*/
.info_cat {
	background-color: #666666;
	height: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	position:relative;
	margin-left:-20px;
}
.info_cat_left{
margin-left:10px;
padding:0px 8px;
background-color:#FFFFFF;
height:20px;
line-height:20px;
width:80px;
float:left;
position:absolute;
bottom:0;
}
.info_cat_right{
	float:right;
	padding-right:15px;
	position:absolute;
	bottom:5px;
	right:0;
}
.info_cat_list {
    background-color:#FFF;
	border-left:1px solid #454545;
	border-right:1px solid #454545;
	border-bottom:1px solid #454545;
	margin-left:-20px;
}
.info_cat_list h3{
height:24px;
line-height:24px;
}
.info_cat_list h3 a{
    color:#454545;
	padding-left:15px;
	background:url(images/ico_4.gif) no-repeat 5px 0;
	font-size:12px;
	text-decoration: none;
  }
.info_cat_list h3 a:hover{
	text-decoration: underline;
 }
.info_cat_list li { 
   display:inline; 
   list-style: none;
} 

.info_cat_list li a{
padding-left:5px;
color:#454545;
}
.info_cat_list li a:hover{
   text-decoration: underline;
}

.area{
  border:1px solid #00c1f2;
  background-color:#ecfcff;
  padding:0 5px;
}
a.city:link,a.city:visited{
  font-size:12px;
  color:#fff;
  text-decoration:none;
}
a.city:hover,a.city:active{
  text-decoration:underline;
  }
a.tit:link,a.tit:visited{
  font-size:14px;
  color:#04d;
  text-decoration:none;
}
a.tit:hover,a.tit:active{
  font-size:14px;
  color:#09f;
  text-decoration:underline;
  }
/*城市切换*/
.city{
	background: url(images/bg_map_1.gif) no-repeat;
    height:26px;
	line-height:26px;
	text-align:center;
}
.province{
	background: url(images/bg_map_2.gif) top right no-repeat;
        height:145px;
}
/*联系*/
.messagebar{
	background: url(images/bg_message.jpg) repeat-x;
	border-top:2px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	line-height:26px;
	height:26px;
	font-size:14px;
    padding:0 10px;
}