/*弹出框*/
input, textarea, select, button, file { font-size:12px; padding-left:2px;}
.window{width:602px; border:2px solid #fff; overflow:hidden; position:fixed; top: 17%; left: 50%; z-index:3000; background: #fff; margin-left: -301px;}
.window_content{ border:1px solid #B9DFF9;}
.window h4{ margin: 0; background:url(images/bg_table.jpg) repeat-x 0 0; font-size:12px; padding:0 10px;}
.window h4 a{ float:right; margin-top:6px;}
.window table{width:100%;}
a.jqmClose{height:16px; width:16px; display:block; float:right; margin:5px 5px 0 0;}　
a.jqmClose:link,a.jqmClose:visited{}
a.jqmClose:hover,a.jqmClose:active{}
.window h4,.window table th{ border-bottom:1px solid #B9DFF9; color:#077AC7; height:28px; line-height:28px;}
.window table th{ font-weight:bold; height:24px; text-align:left;}
.window table td{ font-size:12px; height:28px; line-height:28px;}
.jqmOverlay { background-color: #000;z-index:2999;}
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .window {
	overflow-x: hidden; overflow-y: auto;
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm { position:absolute;top:0;left:0;
	z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

#protocol { line-height:180%; overflow:auto; padding:0px;}