.showbox_movie{
clear:both;
width:265px;
border:1px solid #dcdcdc;
border-top-width:0;
}
.movie_1{
width:265px;
border-left:1px solid #dcdcdc;
}
.movie_1 li{
width:88px;
float:left;
height:23px;
line-height:23px;
text-align:center;
font-weight:bold;
cursor: hand;
}

.thumb02{
background:url(images/02.gif);
}
.letter ul{float:right;margin:2px 2px 0 0;}
.letter li{float:left;color:#6e6e6e;padding:1px;line-height:10px;font-family:ms shell dlg;}
.letter li a:link,.letter li a:visited{float:left;border:1px solid #D9DCE8;text-decoration:none;color:#2e3e7c;padding:4px 2px 2px 2px;background:#fff;}
.letter li a:hover,.letter li a:active{color:#fff;background:#2e3e7a;}

.pictxt{ width:100px; height:130px; margin:0 auto; text-align:center; background-color:#fff; }
.pictxt img{ padding-top:3px; height:130px; width:100px; }
.pictxt .pict{ font-size:1px; }
.pictxt span{ height:20px; line-height:20px;}
.pictxt a,.pictxt a:visited{border:1px solid #ccc;width:100px;height:130px;display:block;}
.pictxt a:hover{width:100px; border:1px solid #8C4871; display:block;text-decoration: none;}

li{list-style-type: none;}
.list1{ padding:5px 0}		
.list1 li{ line-height:25px;width:100%; height:25px; overflow:hidden}
.list1 span{width:20px;text-align:center;color:#333;float:left;font:bold 10px/23px Tahoma;margin:0 8px 0 12px;background:url(images/bg_02.gif) no-repeat center;}
.list1 .topnum {background:url(images/bg_01.gif) no-repeat center; color:#fff;}