@import url("base.css");
@import url("table.css");
#main_full{ width:980px; border:1px solid #B9DFF9; margin:10px auto 0; }
#main_l{ width:638px;}
/*侧边搜索*/
.sidesearch{ height:30px; line-height:30px;}

/*圆角矩形*/
.cribox_top,.cribox_btm{ background:url(images/bg_1.gif) no-repeat 0 0; height:10px; line-height:10px;}
.cribox_bdr,.cribox_bdr_1{ border:6px solid #E5F3FE; border-width:0 6px; padding:0 5px; height:190px; max-height:190px; overflow:hidden;}
.cribox_bdr_1{height:25px; max-height:25px; padding-top:5px;}
.cribox_btm{ background-position:0 -10px; overflow:hidden;}

/*栏目*/
.cat,.cat_index{ margin:10px auto; clear:both; overflow:hidden!important;}
.cat{ padding:0 5px;}
/*栏目标题*/
.cat_title,.cat_title_1{ border:1px solid #99D3FB; background:url(images/bg_2.jpg) repeat-x 0 -64px; height:27px; overflow:hidden; line-height:27px; padding:0 10px; margin-bottom:10px;}
.cat_title_1{ background-position:0 24px; border:0;}
/*more*/
.cat_title img,.cat_title_1 img{ float:right;}
.cat_title h3,.cat_title_1 h3{ font-size:14px; color:#069;background:url(images/bg_model.gif) no-repeat -7px 3px; padding-left:1em;}
.cat_left{ width:214px; float:left; border:1px solid #99D3FB; text-align:center; padding:5px 0; overflow:hidden;}
.cat_left p{text-indent:2em; width:204px; text-align:left; line-height:200%; margin:0 auto;}
.cat_left p a{ font-size:12px;}
.cat_left a img{ border:1px solid #CCCCCC;padding:1px;}
.cat_left ul{ margin:0 auto;}
.cat_right{ width:410px; float:right;}
.cat_right a{ font-size:14px;}
/*幻灯片*/
#slide{ width:300px;}
/*热点新闻*/
#hotnews{ width:312px;}
#hotnews h1{}
#hotnews li{ font-size:14px;}
/*首页搜索*/
.search_tag_top{background:url(images/bg_1.gif) no-repeat 0 -20px;padding-top:5px;}
.search_tag_top p{ height:20px; line-height:20px;background:#E4F3FC url(images/bg_search.jpg) no-repeat 10px 0; padding-left:60px;}
#search_tag span{ padding:5px 10px; margin:0; cursor:pointer;}
#search_tag span.selected{ background:#fff; height:20px; line-height:20px;}
/*内容页*/
#content {width:100%; margin:0 auto; overflow:hidden;}
#content_head { text-align:center; padding:10px; border-bottom:1px solid #B9DFF9; }
#content_head h1 { font-family:"宋体"; font-size:20px; color:#077ac7;}
#content_head h2{line-height:24px; font-size:12px; font-weight:normal;}
#digest { margin:10px; border:1px solid #eee; background-color: #fefeff; padding:8px; line-height:150%;text-indent:2em; font-size:14px;}
#digest strong { color:#f00;}
#endtext{ margin:0 auto;}
#endtext,#endtext p,#endtext li,#content p{text-align:left; text-indent:2em; overflow:hidden; font-size:14px; clear:both; line-height: 180%; word-wrap:break-word; word-break:break-all;}
#endtext,#endtext p,#endtext li{ width:620px;}
#endtext .icon { border:0; margin:3px 0 0;}
#endtext img { border:1px solid #ccc;max-width:700px;width:expression(this.width > 700 && this.width > this.height ? 700 : true);overflow:hidden;}
#endtext p{ margin-top:10px;}
#endtext a { text-decoration:underline;	color:#1f3a87;}
#endtext a:hover { color:#bc2931;}

/*关键字*/
#keyword{ font-size:14px; margin:10px 14px; padding:0; color:#077ac7;}
#keyword a{ margin-left:8px; color:#f00;}
/*分页标题*/
#titles{ margin:10px 20px; border:1px solid #B9DFF9; width:596px; overflow:hidden;}
#titles h3{ font-size:12px; background-color:#E4F3FC; color:#077ac7; line-height:22px; border:1px #fff solid; padding:0 8px;}
#titles a{ list-style:none; width:280px; float:left; padding-left:8px;line-height:180%; }
/*上下页*/
#pre_and_next{border-top:1px solid #6DC0E9; border-bottom:1px solid #6DC0E9;}
#pre_and_next li{ margin:8px 10px;}
#commnent_tag{ font-size:12px; padding:10px; margin-top:5px; font-weight:bold;color:#077ac7;}
#commnent_tag img{ float:right; margin-top:-10px;}

/*内容页栏目样式*/
#content h3,.box h3,#text_1{ font-size:12px; background-color:#E4F3FC; color:#077ac7; line-height:24px;  padding:0 8px;}
#content h3 a,.box h3 a,#text_1 a{ color:#077ac7; font-weight:bold; font-size:12px;}
#text_1{text-align:right; padding-right:10px;}
.search_list{ border-bottom:1px dashed #B9DFF9; margin-bottom:10px; padding:6px;}
.search_list dt{ line-height:24px;}
.search_list dt a:link,.search_list dt a:visited{ font-size:14px; color:#00c; text-decoration:underline;}
.search_list dt a:hover,.search_list dt a:active{ font-size:14px; color:#00c; text-decoration:underline;}
dd.search_txt{ color:#666; line-height:180%;}
dd.search_attribute,dd.search_attribute a:link,dd.search_attribute a:visited,dd.search_attribute a:hover,dd.search_attribute a:active{ text-align:left; color:#008000;}

/*搜索条件*/
.search_term{ width:100%;}
.search_term th{ text-align:right; padding-right:10px;}
.search_term td{ height:36px; line-height:36px; }
.search_res{ height:28px; line-height:28px; background-color:#E4F3FC; font-size:14px; text-indent:10px; font-weight:bold;}
.c_red{ color:#f00;}
#search_index{ width:500px; height:400px; overflow:hidden; margin:0 auto; clear:both; padding:40px 0; }
#search_index li { height:30px; line-height:30px; text-align:center;}
#search_index p { padding:20px 0; margin:0 auto; text-align:center; }
#search_index li span{ font-size:14px; color:#00c; padding:0 8px; }
#search_index a:link,#search_index a:visited,#search_index a:hover,#search_index a:active{ color:#00c; text-decoration:underline;}
#search_index a.now:link,#search_index a.now:visited,#search_index a.now:hover,#search_index a.now:active{ color:#454545; text-decoration:none; font-weight:bold;}
.search_box{ margin:20px 10px;}
/*图片内容页*/
#ArtFrom{margin-bottom:0;border-bottom:0}
#ArticleCnt{margin-top:10px; width:100%; text-align:center;}
#lantern { width:610px; margin:10px auto; background:#f4f4f4;overflow:hidden;}
#tool { background:url(images/pic_tool.gif) repeat-x;height:33px; border-bottom:#FFF solid 1px }
#tool .f_l{ margin:6px 0 0 12px;font-size:12px}
#tool .f_r{ margin:6px 9px 0 0 }
#pagejump{ margin-left:5px}
#bimg {margin:7px 5px; text-align:center; overflow:hidden;width:600px;overflow:hidden;}

#simg {height:75px;padding-top:8px;background:url(images/tool_img.gif) repeat-x #E9E9E9}
#simg .p{ float:left;width:22px;text-align:right;text-indent:0}
#simg .n{ float:right;width:22px;text-align:left;text-indent:0}
#simg img.s{ filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
#simg img{text-indent:0}
#sImage{float:left;width:510px;}
#sImage div,#sImage p{ width:70px; height:58px; background:#ececec; display:block; text-align:center; float:left; display:inline; overflow:hidden; border:#C7C7C7 solid 1px; margin:0 0 0 12px}
#sImage img{ filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; height:58px;text-indent:0}
#Explain { padding:5px 15px 0 15px;margin:0 auto; line-height:18px; font-size:12px}
#Explain p{margin:0;padding:0;font-size:12px;}
.ss{filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
#butStop,#ArtPLinkTop,#ArtPLink,#cntLeft #Article #atPage{display:block;}
#hdcnt p{text-indent:2em}
#hdcnt{margin-bottom:40px}
#ArticleCnt,#ArtCnt{text-indent:0}
/* 下载*/
.down_info { width:610px; background:#E4F3FC; margin:10px;}
.down_info caption { font-size:14px; font-weight:bold; padding:8px;	text-align:left; color:#077ac7;}
.down_info th {	width:110px; text-align:right; font-weight:normal; background:#fff;}
.down_info td {background:#fff;	padding:8px;}
#down_intro{ font-size:14px; margin:5px; text-indent:2em; line-height:1.8em;}
/*下载列表*/
.down_list{ padding:5px; margin-bottom:8px; border-bottom:1px dashed #B9DFF9;}
.down_list dt{ font-size:14px; font-weight:bold; color:#077ac7; line-height:30px;}
dd.down_txt{ color:#787878; text-indent:2em; line-height:180%;}
dd.down_attribute{ padding:10px 0 0;}
/*下载信息*/
.down_info { width:610px; background:#E4F3FC; margin:10px;}
.down_info caption { font-size:14px; font-weight:bold; padding:8px;	text-align:left; color:#077ac7;}
.down_info th {	width:110px; text-align:right; font-weight:normal; background:#fff;}
.down_info td {background:#fff;	padding:8px;}
/*下载简介*/
#down_intro{ text-indent:0;}
/*下载地址*/
#down_address{ padding:10px; line-height:24px;}
#down_address a{ width:300px; display: block;}
/* 下载&信息 */
.cat_info{ width:315px; margin:10px 4px 0 0; float:left;}
/*信息 */
#info_nav{ margin-top:-5px;}
#info_nav dl{ margin:5px 5px 0;border-bottom:1px dashed #dcdcdc;}
#info_nav dt{ font-size:14px; font-weight:bold; color:#06c;}
#info_nav dd a{ margin-right:6px; height:28px; line-height:28px; color:#06c;}
/*地区*/
#area{ padding:8px 8px;}
#area a{margin:0 6px; line-height:180%;}

.vote_submit p {border:#FFFFFF 1px solid;}
/*热门标签列表*/
#tag_list{}
#tag_list li{ width:139px; text-indent:8px; display:block; float:left; line-height:30px; color:#ccc; font-family:arial; font-size:11px;}
#tag_list li a{ font-size:14px;}
/*vote*/
#vote_info{ line-height:180%; text-indent:2em; font-size:14px; color:#454545; padding:10px; border-bottom:1px dotted #B9DFF9;}
#vote_list{ padding:10px;}

#vote_list dl{ margin-bottom:5px; width:100%; overflow:hidden; border-bottom:1px dotted #B9DFF9;}
#vote_list dt{ color:#077ac7; font-size:12px; font-weight:bold; text-indent:1em;height:30px; line-height:30px;}
#vote_list dd{ color:#077ac7; padding-right:10px; height:24px; line-height:24px;}

#vote_list dl.inline{}
#vote_list dl.inline dd{ float:left; display:block;}
#vote_list dl.pic_vote{}
#vote_list dl.pic_vote dd{ float:left; display:block; width:94px; height:90px; overflow:hidden; text-align:center; margin-top:10px; line-height:18px;}
#vote_list dl.pic_vote dd img{ padding:1px; border:1px solid #ccc;}

.block_add {position:absolute;z-index:100;border:#ff9900 solid 1px;background-color: yellow;filter:Alpha(Opacity=45);cursor:pointer;padding:5px}
#sitemap{ margin:10px;}
#sitemap h3{ font-size:14px; line-height:30px; margin-top:10px;}
#sitemap p{ padding-left:20px; line-height:28px; border-bottom:1px dashed #B9DFF9;}
#sitemap p a{margin-right:40px;}