@import url("base.css");
#main{ background-image:none;}
#mian_l_1{ width:210px; float:left;}
#mian_r_1{ width:750px; margin-left:20px; float:right;}

.product_nav_top{ background:url(images/bg_ask_nav.gif) no-repeat 0 0; height:40px;}
.product_nav_top h3 { background:url(images/bg_model.gif) no-repeat 0 10px; font-size:14px; font-weight:bold; padding-left:20px;	height:40px; line-height:40px; color:#077ac7}
.product_nav{ border-left:5px solid #E5F3FE; border-right:6px solid #E5F3FE;margin-top:-5px;}
.product_nav dl{ margin:5px 5px 0;border-bottom:1px dashed #dcdcdc;}
.product_nav dt{ font-size:14px; font-weight:bold; color:#077ac7; margin-bottom:3px;}
.product_nav dd a{ margin-right:6px; height:22px; line-height:22px; color:#077ac7}
.product_nav_btm{ background:url(images/bg_ask_nav.gif) no-repeat 0 -48px; height:11px;}

.cat{ border:1px solid #99D3FB; width:746px; padding:1px;}
.cat h3{ font-size:14px; color:#077ac7; padding-left:12px; height:28px; line-height:28px; background:#E4F3FC;}
.cat ul{ margin:0 auto; width:746px; overflow:hidden;}
.cat ul li{ float:left; display:inline; text-align:center; font-size:12px;}
.cat ul li a{ width:140px; display:block; margin:0 4px;}
.cat ul li a img{ width:136px; height:100px; border:1px solid #ccc; padding:1px; margin:10px auto 5px auto;}
.cat ul li a strong,.cat ul li a span{width:140px; display:block; cursor:pointer;}
.cat ul li a span{ color:#F90;}
.cat ul li a span em{ font-style:normal; font-weight:bold;}
.cat ul li a:link,.cat ul li a:visited,.cat ul li a:hover,.cat ul li a:active{ line-height:120%; color:#454545; text-decoration:none;}
.main_r h4 a span{ font-size:12px;width:80px;}
#box_1{ border:1px solid #99D3FB; padding:5px 10px; height:40px; line-height:40px;}
.ad{margin:6px auto; border:0; padding:0;}

.product_list{ border-bottom:1px dashed #99d3fb; clear:both; margin:10px 5px; height:110px;}
.product_list dt{ float:right; font-size:12px; font-weight:bold; width:586px; text-align:left; line-height:30px;}
.product_pic{ float:left;margin-right:10px;}
.product_pic img,.product_pic_s img{ border:1px solid #ccc; padding:1px;}
.product_txt,.product_txt_1{ color:#787878; text-indent:20px; line-height:180%; zoom:1;}
.product_attribute{ line-height:200%; color:#666;padding-top:8px;}
.product_attribute span{color:#077ac7}
.product_show{ clear:both; margin:10px 5px;}
.product_show dt{ float:right; font-size:16px; font-weight:bold; width:502px; text-align:left; line-height:30px;}
.product_pic_s{ float:left; margin-right:32px; text-align:center; line-height:30px; font-weight:bold;}
.product_attribute_s{ line-height:140%; color:#666;padding:8px 0 0 8px; border-bottom:1px dotted #dcdcdc; width:300px; zoom:1; margin-left:210px;}
#mian_r_1 h4{ font-size:12px; color:#077ac7; background:url(images/bg_2.jpg) repeat-x 0 24px; padding-left:1em; line-height:27px; clear:both; margin:5px 0;}
.product_txt_1{ padding:5px 10px;}
.diy_attribute { width:723px; background:#ddd; margin:10px;}
.diy_attribute td,.diy_attribute th{ background:#fff; text-align:left; padding:5px;}
.diy_attribute th{ width:100px;}
.diy_attribute li{ line-height:27px; color:#787878;}
#product_search li{ padding-left:10px; height:30px; width:180px;}

.product_list_1{ width:350px; margin:10px 8px; height:110px; float:left;}
.product_list_1 dt{ font-weight:bold; float:right; text-align:left; width:200px; height:30px; line-height:30px;}
.product_attribute_1{ line-height:140%; color:#666;padding-top:8px; border-bottom:1px dotted #dcdcdc; width:34	0px; padding-left:8px; zoom:1;}
.bdr_1{ overflow:hidden; height:100%;}
.product_cat{ margin-top:10px;}
.product_cat h5{ background: #99D3FB url(images/tag_menu.gif) no-repeat 0 0; color:#fff;width:98px; text-align:center;height:24px; line-height:24px;}
.product_cat ul{ padding:10px; border:1px solid #99D3FB; padding:1px;}
.product_cat li{ padding:4px 10px;}
#pages{ border-top:1px solid #99D3FB; padding-top:5px;}
.product_txt_1 img {max-width:700px;width:expression(this.width > 700 && this.width > this.height ? 700 : true);overflow:hidden;}