/*************商城样式***************/
.shopleft_box{
width:210px;
margin-bottom:10px;
}
.box_header_1{
background:url(images/header_bg1.gif) no-repeat 0 0;
height:37px;
width:210px;
}
.box_border_1{
border-left:3px solid #ffa317;
border-right:3px solid #ffa317;
}
.box_footer_1{
background:url(images/footer_bg1.gif) no-repeat 0 0;
height:6px;
width:210px;
}
.box_header_2{
background:url(images/header_bg2.gif) no-repeat 0 0;
height:37px;
width:210px;
}
.box_border_2{
border-left:3px solid #1e80af;
border-right:3px solid #1e80af;
}
.box_footer_2{
background:url(images/footer_bg2.gif) no-repeat 0 0;
height:6px;
width:210px;
}
.box_header_3{
background:url(images/header_bg3.gif) no-repeat 0 0;
height:37px;
width:210px;
}
.box_border_3{
border-left:3px solid #cdcd82;
border-right:3px solid #cdcd82;
}
.box_footer_3{
background:url(images/footer_bg3.gif) no-repeat 0 0;
height:6px;
width:210px;
}
.box_header_4{
background:url(images/header_bg4.gif) no-repeat 0 0;
height:37px;
width:210px;
}
.box_border_4{
border-left:3px solid #006699;
border-right:3px solid #006699;
}

/*首页商品列表*/
.product_1{
float:left;
width:186px;
padding:5px 0;
}
.product_1 li{
margin:0;
padding:0;
}
.product_1 h1{
background:#ffffff url(images/icon_2.gif) no-repeat 5px 0;
padding-left:20px;
}
/*热点商品列表*/
.product_2{
float:left;
width:122px;
padding:5px 0;
}
.product_2 li{
margin:0;
padding:0;
}
.product_2 h1{
background:#ffffff url(images/icon_2.gif) no-repeat 5px 0;
padding-left:20px;
}
.product_3{
margin:5px;
width:100%;
padding:5px;
}
.product_3 li{
margin:0;
padding:0;
}
.product_3 h1{
background:#ffffff url(images/icon_2.gif) no-repeat 0 2px;
padding-left:10px;
}
.picture_border{
padding:10px;
border:1px solid #dcdcdc;
}
/*浏览过商品列表*/
.product_4 li{
margin:0;
padding:0;
float:left;
}
.product_4 img{
width:80px;
height:64px;
border:1px solid #dcdcdc;
margin:6px;
}
.font_blue_1{
color:#006699;
}
/*商品分类列表*/
.catlist{
width:190px;
margin:5px;
}
/*商品一级分类名称*/
.catlist h1{
padding-left:15px;
background:url(images/ico_4.gif) no-repeat 0 3px;
text-align:left;
}
.catlist h1 a{
    color:#04d;
	text-decoration: none;
}
.catlist h1 a:hover{
	text-decoration: underline;
  }
/*商品二级分类名称*/
.catlist li{
text-align:left;
margin-left:5px;
/*border-right:1px solid #069;*/
border-bottom:1px dotted #dcdcdc;
}

.catlist li a{
}
.catlist li a:hover{
   text-decoration: underline;
}

.shopsearch{
background:url(images/search_bg.jpg) repeat-x;
border:1px solid #e2e3e5;
height:30px;
margin:5px auto;
}
.shopsearch td{
text-align:center;
}

/*商品基本信息*/
.shop_property{
margin:10px 5px;
}
.shop_property tr{
background:url(images/list_arrow.gif) no-repeat 7px 7px;
}
.shop_property td{
border-bottom:1px dotted #dcdcdc;
border-top:1px solid #ffffff;
height:26px;
line-height:26px;
font-size:14px;
padding-left:30px;
}
.price{
margin:10px;
height:40px;
line-height:40px;
text-align:center;
font-size:14px;
border:1px solid #dcdcdc;
}

/*商品相册*/
.picture_show{
border:5px solid #ffffff;
margin:5px;
}
.picture_show img{
width:500px;
height:440px;
overflow:hidden;
}
.picture_list{
width:112px;
height:440px;
overflow:auto;
overflow-x:hidden;
}
.picture_list ul{
text-align:center;
padding:0;
margin:0;
}
.picture_list li{
margin:9px auto;
}
.picture_list img{
height:70px;
width:90px;
border:1px solid #ababab;
}
/*表格颜色*/
.t1{
	background-color:#f8f8f8;
}
.t2{
background-color:#fff;
}