@import url("base.css");
#main{ background-image:none; width:980px; border:1px solid #B9DFF9;}
.search_list,.search_member{ border-bottom:1px dashed #B9DFF9; margin-bottom:10px; padding:6px;}
.search_list dt{ line-height:24px;}
.search_list dt a:link,.search_list dt a:visited, alink,a.name:visited{ font-size:14px; color:#00c; text-decoration:underline;}
.search_list dt a:hover,.search_list dt a:active,a.name:hover, a.name:active{ font-size:14px; color:#00c; text-decoration:underline;}
dd.search_txt{ color:#666;  line-height:180%;}
dd.search_attribute,dd.search_attribute a:link,dd.search_attribute a:visited,dd.search_attribute a:hover,dd.search_attribute a:active{ text-align:left; color:#008000;}
/*搜索条件*/
.search_term{ width:100%;}
.search_term th{ text-align:right; width:130px; padding-right:10px;}
.search_term td{ height:36px; line-height:36px; }
.search_res{ height:20px; line-height:20px; background-color:#E4F3FC; font-size:12px; text-indent:10px; padding:0 6px;}
.c_red{ color:#f00;}
/**/
#search_index{ width:500px; height:400px; overflow:hidden; margin:0 auto; clear:both; padding:40px 0; }
#search_index li { height:30px; line-height:30px; text-align:center;}
#search_index p { padding:20px 0; margin:0 auto; text-align:center; }
.search_box{ margin:20px 10px;}
#search_index li span,.search_box li span{ font-size:14px; color:#00c; padding:0 8px;  text-decoration:underline; cursor:pointer;}
#search_index li span.selected,.search_box li span.selected{ color:#454545; text-decoration:none; font-weight:bold;}
.search_member { height:96px; min-height:96px; padding:8px; clear:both;}
.search_member dt{ float:left; }
.search_member dt img{ height:90px; width:90px; padding:1px; border:1px solid #dcdcdc;}
.search_member dd{ float:right; height:30px; line-height:30px; width:860px;}
.search_member dd em{ font-style:normal; color:#999;padding-left:10px;}