{template 'phpcms','header'}

<!--begin main-->
<div id="main">
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
    <div id="position"><a href="">首页</a><a href="{$MODULE[special][url]}">专题</a><a href="{$MODULE[special][url]}{$TYPE[$typeid][url]}">{$TYPE[$typeid][name]}</a><a href="{$url}">{$title}</a></div>
    <div class="bdr_2">
      <ul class="pic_list">
      {get sql="SELECT * FROM `phpcms_content` AS a, `phpcms_special_content` AS b WHERE b.contentid = a.contentid AND a.thumb != '' AND b.specialid = $specialid ORDER BY  b.contentid DESC" rows="8" }
        <li><a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="142" height="90" alt="{$r[title]}" /></a><br /><a href="{$r[url]}" target="_blank">{str_cut($r[title],20)}</a>
        </li>
      {/get}        
      </ul>
    </div>
<div class="mar_10">
<ul class="text_list text_list_f14">
{get sql="SELECT * FROM `phpcms_content` AS a , `phpcms_special_content` AS b WHERE b.contentid = a.contentid AND b.specialid = $specialid ORDER BY  b.contentid DESC" rows="20"  page="$page" }
    <li><span class="date">{date('Y-m-d',$r[updatetime])}</span>
    <a href="{$r[url]}" target="_blank" class="url">{$r[title]}</a>
  </li>
{/get}
</ul>
</div>
<p id="pages">{$pages}</div>  
  <div id="main_r">
    <!--广告位-->
    <div class="ad_side">
      <script language="javascript" src="data/js.php?id=5"></script>
    </div>
    <h4>图片文章</h4>
    <div>
      <ul class="pic_list">
        {tag_栏目页图片文章}
      </ul>
    </div>
    <h4>推荐文章</h4>
    <div>
      <ul class="text_list">
        {tag_列表页推荐文章}
      </ul>
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}