{template 'phpcms','header'}
<!--begin main-->
<div id="main">
  <div id="main_l" class="bdr_1">
    <!--位置导航-->
    <div id="position"><a href="">首页</a><a href="{$M[url]}">专题</a>{$typename}</div>
    <div class="bdr_2">
      <ul class="pic_list">
        {tag_专题列表页图片专题}
      </ul>
    </div>
    <div class="mar_10">
      <ul class="text_list text_list_f14">
        {tag_专题列表页文字列表}
      </ul>
    </div>
  </div>
  <div id="main_r">
    <!--广告位-->
    <div class="ad_side">
      <script language="javascript" src="data/js.php?id=5"></script>
    </div>
   <h4>推荐专题</h4>
    <div>
      <ul class="pic_list">
        {tag_推荐专题}
      </ul>
    </div>
  </div>
</div>
<!--end main-->
{template 'phpcms','footer'}