#flash {float: left;}
#jhxxnn #btnewmenu a {color: #014196;text-decoration: none;}
#jhxxnn {width:410px;list-style-type:none;line-height: 18px;padding: 0;float: right;background-color: #F5FAFD;border: 1px solid #D8F0FD;}
#jhxxnn #btnewmenu {height: 30px;}
#jhxxnn #btnewmenu ul {background: url(images/news_menubg.gif) repeat-x top;margin: 1px;height:24px;width: 408px;list-style-type:none;padding: 0;}
#jhxxnn #btnewmenu ul li{
	margin:3px 0px;
}
#jhxxnn #btnewmenu li {float: left;width: 100px;font-size: 14px;font-weight: bold;text-align: center;}
.downph {background-image: url(images/downn-bg.gif);line-height: 24px;padding: 0px;font-size: 12px;color: #444444;text-indent: 3px;margin: 5px;list-style-type: none;}
.downph li {list-style-type: none;}
.downph strong {background: url(images/downli1.gif) no-repeat;width: 30px;height: 24px;text-indent: 2px;color: #FFFFFF;padding-left: 2px;margin-right:4px;}
.downph em {background: url(images/downli2.gif) no-repeat;width: 30px;height: 24px;text-indent: 2px;color: #FFFFFF;padding-left: 2px;font-weight: bold;margin-right:4px;}

#down-wz {background: url(images/d-1.gif) repeat-x bottom;font-size: 12px;line-height: 25px;color: #7C7C7C;padding: 13px;margin-top: 15px;margin-bottom: 15px;}

#down-wz .smdown {padding: 15 15 10 }
#down-wz .bzdown{text-align: right;color: #FF6600;line-height: 23px;padding-right: 30px;}
#down-wz .bzdown a {color: #FF6600;}
#down-wz h3 a {
	color: #013780;
	text-decoration: underline;
	font-size: 16px;
	font-weight: bold;
}
#down-wz h3 a:hover {text-decoration: none;}
/*gaidong*/
#down-wz h3 {
/*
	background-image: url(images/infor-li.gif);
	background-repeat: no-repeat;

	background-position: 5px;
	padding-left: 20px;*/
}
#down-topr {width: 135px;float: left;margin: 5px;}
#down-topr li {list-style-position: outside;list-style-image: url(images/down-lilm.gif);line-height: 23px; }
#down-topr ul {padding-left: 20px;}
.down-List-1 {color:#013780;padding:5px 10px;}
.down-List-1 li {line-height:22px;height:22px;background:url(images/down-List_li3.gif) no-repeat left center;list-style-type:none;clear: both;}
.down-List-1 em {font-size: 12px;color: #FFFFFF;padding-left: 3px;margin-right: 4px;}
.down-List-1 ul {list-style-type:none;}
.down-List-1 span {float:right;}
.down-List-1 a,.down-List-1 a:visited {color:#013780;}
.down-List-1 a:hover,.globalMenu a:hover {color:#bc2931;}
#downn {background-color:#FFFFFF;border-right:1px solid #d7e4ee;border-bottom:1px solid #d7e4ee;border-left:1px solid #d7e4ee;line-height: 23px;width: 100%;}
#downn .imgrj img {float: left;border: 2px solid #CCCCCC;padding: 2px;margin:10px 15px 10px 10px }
/*
#downn .downrjsm b {font-size: 14px;line-height: 35px;color: #013780;text-decoration: underline;}
*/
#bt111 a {color: #FF6600;}
#downn .downrjsm .xz {margin-top: 10px;color: font-size: 12px;line-height: 30px; }
.xz{padding-left:10px;}
#downn .downrjsm{ padding:10px;}
#downn .downrjsm a {color: #013780;text-decoration:}
#downn .downrjsm a:hover {text-decoration: none;}
#downn .downrjsm .xz a {color: #FF6600;}


#bt111 {background-color:#F1F7FC;height:25px;width:100%;line-height:25px;border-top: 1px solid #d7e4ee;border-bottom: 1px solid #d7e4ee;text-indent: 15px;font-size: 12px;color: #FF6600;}
#bt111 strong {font-size: 13px;}
.STYLE1 {color: #013780;font-weight: bold;}
#downn #padding{padding: 10px;}
#downn #down-jies {padding: 11px;color: #013780;}
.xwonnimg {padding: 8px;}
#bg span{background: url(images/down-bt.gif) no-repeat;background-position: left center;
padding-left: 20px;}

.down_title{
text-align: center;
font-size:16px;
font-weight: bolder;
padding-top:10px;
}
.tag_title_link_down{
margin:0pt -7px;
}
.ltbiao{
	padding:8px;
}
.ltbiao li{
	display:inline;
}
.ltbiao li a{
	display:block;
	padding:2px 6px 2px 0px;
	float:left;
}
.qu8{
	margin-bottom:0px!important;
}
.tutuss{
	border:#FAFAFA 1px solid;
	background:#FCFCFC;
	margin-bottom:8px;
}
.jjsss{
	width:664px;
}
.infos{
	display:block;
	width:492px;
	float:right;

}
.infos ul{
	float:left;
	width:240px
}
.infos .cxx{
	width:100%;
}

