#homeleft {width:223px;float:left;}
#homeright {float:right;width:749px;clear:none;}
#homeright .homel {width:506px;float:left;}
.homeicleft {background:url(images/home/leftbt_03.gif) no-repeat left;height:30px;padding-left:6px;}
.homeicleft div {background:url(images/home/right_03.gif) no-repeat right;height:30px;}
#homeright .homer {width:235px;float:right;}
.xianhome {border-right:#ccc solid 1px;border-bottom:#ccc solid 1px;border-left:#ccc solid 1px;}
.xianhome2 {border-right:#BCD8FB solid 1px;border-bottom:#BCD8FB solid 1px;border-left:#BCD8FB solid 1px;}
.homelist {line-height:23px;color:#999;padding:5px 8px;}
.homelist span {float:right;}
.home1 {text-align:center;float:left;width:60px;}
.homerr {line-height:23px;}.zxfc li {width:100px;float:left;color:#666;text-align:center;line-height:21px;margin:8px 10px 5px;}
.zxfc img {border:1px solid #CDCDCD;padding:2px;}
.homelist a {color:#2A2A2A;}.homelist a:hover {color:#C92B03;}
.hometopic {padding:6px 5px;}
.homeon {background:url(images/home/menu_03.gif) no-repeat center bottom;float:left;width:72px;height:26px;line-height:26px;text-align:center;cursor:pointer;color:#000;font-weight:700;padding-top:4px;}
.homeoff {float:left;width:71px;line-height:26px;text-align:center;cursor:pointer;color:#FFF;height:26px;padding-top:4px;}
.homen {font-size:14px;line-height:30px;font-weight:700;border-bottom:#A0A0A0 solid 1px;height:30px;text-align:center;}
.homen1 {line-height:23px;border-bottom:#EFEFEF solid 1px;color:#8A8A8A;margin:5px 10px;}
.qznr {line-height:30px;color:#4C4C4C;}
.qznr span {display:block;width:130px;float:left;background-color:#F8FBFE;text-align:left;color:#1895E8;margin-right:18px;font-weight:600;padding-left: 20px;}
.qznr li {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#B0B9D1;}
.qznr ul {width:465px;border-top:#B0B9D1 solid 1px;border-left:#B0B9D1 solid 1px;border-right:#B0B9D1 solid 1px;}
.homeny1 {width:265px;float:left;}
.homeny2 {width:80px;float:left;text-align:center;}
.homeny3 {width:205px;float:left;text-align:center;}
.homeny4 {float:left;width:80px;text-align:center;}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	ZOOM: 1
}