.linksl {
	width: 228px;
	float: left;
	background-color: #F3F7FA;
}
.sqljn {
	color: #65666A;
	clear: both;
}
.sqljn li {
	background-color: #F3F7FA;
	padding: 5px;
	clear: both;
}
.linksr {
	float: right;
	width: 740px;
}
.yqlj {
	background-image: url(link/link.gif);
	background-repeat: no-repeat;
	padding-top: 27px;
	clear: both;
	background-color: #FFFFFF;
}
.linkx {
	border: 1px solid #A4D6F7;
	margin-top: 8px;
	clear: both;
	background-color: #6EBCF1;
}
.yqlj span {
	width: 80px;
	line-height: 20px;
	margin-left: 16px;
	margin-bottom: 4px;
	text-align: center;
	color: #555555;
	font-weight: 800;
	padding: 1px;
	display: block;
	float: left;
	margin-top: 4px;
	background-image: url(link/sjjjj.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
.rbox1 {
	border: 1px solid #A4D6F7;
	clear: both;
	margin-bottom: 8px;
}
.rbox1 h6 {
	background-color: #e2f0ff;
	margin-top: 1px;
	line-height: 21px;
	margin-left: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6EDFC;
	height: 20px;
	color: #045890;
	font-size: 13px;
	background-image: url(images/li2222.gif);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-left: 20px;
}
.wzdhh li {
	height: 22px;
	width: 110px;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	text-align: center;
	line-height: 22px;
	padding-top: 2px;
}
.wzdhh {
	background-image: url(link/linkbg.gif);
	background-position: top;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 2px;
}
.wzdhh ul {
}

.wzdhh strong {
	font-weight: normal;
	color: #E66F02;
}


.sqlj {
	clear: both;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 0px;
	margin-left: 0px;
padding-left: 10px;
}

.xianlink {
	border: 1px solid #A4D6F7;
}
.sqlj span {
	border: 1px solid #DCF3FC;
	color: #FFFFFF;
	height: 40px;
	width: 100px;
	font-size: 13px;
	padding: 2px;
	margin-left: 5px;
	cursor: hand;
}
.yqljbt {
	clear: both;
}
.rbox1 h6 span { float:right; padding-right:10px;
}
.logodh {
	padding: 4px;
}
.logodh img {
	margin-top: 2px;
	margin-right: 9px;
	margin-bottom: 3px;
	margin-left: 3px;
}
