a.movie_link_1:link,a.movie_link_1:visited{color: #009F00;}
a.movie_link_1:hover,a.movie_link_1:active{color: #FF6600;}
#leftmove {border:0;width:721px;float:left;margin-top: 0px;margin-bottom: 0;}
.movebtleft a {color: #0994E8;}
#rightmove {border:0;width:248px;float:right;clear:none;background-image: url(images/vblog_lmy_030.gif);background-repeat: no-repeat;background-position: left bottom;}
#rpaiH {background-color:#97D6F7;width:248px;line-height:23px;padding-top:2px;}
#rpaiH .topBg {background-image:url(images/vblog_lmy_028.gif);background-repeat:no-repeat;line-height:24px;padding-top:3px;}
#rpaiH .botBg {line-height:24px;}
#rpaiH .topBg .botBg .Menu {width:242px;height:24px;clear:both;list-style-type:none;background-image:url(images/vblog_lmy_061.gif);background-repeat:repeat-x;margin:0 0 0 3px;padding:0;}
#rpaiH .topBg .botBg .Menu li.selectd {background-image:url(images/vblog_lmy_031.gif);background-repeat:no-repeat;}
.order {background-color:#FFF;border-right-width:3px;border-left-width:3px;border-right-style:solid;border-left-style:solid;border-right-color:#99D5F9;border-left-color:#97D6F7;}
.num {float:left;width:13px;height:11px;text-align:center;line-height:11px;font-size:10px;color:#fff;background-image:url(images/vblog_lmy_034.gif);background-repeat:no-repeat;margin:6px 4px 0 6px;}
#rpaiH .topBg .botBg .Menu li {width:43px;height:24px;cursor:pointer;float:left;text-align:center;line-height:24px;color:#00183d;background-image:url(images/vblog_lmy_032.gif);background-repeat:no-repeat;margin-left:8px;}
#jhxx .piccentent img {float:left;border:3px solid #B8D5E4;margin-right:10px;}
.piccentent strong {line-height:30px;color:#C00;font-size:15px;}
#jhxx .piccentent {background-image:url(images/movelibg.gif);background-repeat:repeat-x;background-position:bottom;line-height:20px;font-size:13px;color:#666;margin-right:10px;padding:5px 0;}
#rpaiH .topBg .botBg .links {border-right-width:3px;border-left-width:3px;border-right-style:solid;border-left-style:solid;border-right-color:#97D6F7;border-left-color:#97D6F7;background-color: #FFFFFF;}
.botBg .links img {margin-top:5px;margin-right:5px;margin-left:5px;}
.order li {background-image:url(images/movelibg.gif);background-repeat:repeat-x;background-position:bottom;width:220px;margin-left:15px;}
.searchzm a {
	color:#017ACE;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:4px;
	margin-left:4px;
}
.searchzm {
	color:#017ACE;
	font-weight:800;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom: 4px;
	height: 30px;
	line-height: 30px;
}
.searchzm img {
	margin-top: 7px;
	float: left;
}


#movebd {width:483px;float:left;margin-bottom: 8px;background-image: url(images/movebt4.gif);background-repeat: no-repeat;background-position: 50% bottom;padding-bottom: 6px;}
.move_8px {margin-right: 10px;}
#movebdr {width:483px;float:right;}
.movenr {border-right:#BFDCEC solid 1px;border-left:#BFDCEC solid 1px;padding-top:6px;}
#movecenl {float:left;width:246px;}
.movellist li {float:left;width:115px;text-align:center;margin-bottom:4px;line-height:23px;}
#movecenr {float:right;width:725px;}
#movecenr .movenrce {width:300px;float:left;line-height:18px;color:#999;margin:10px 20px;}
.movenr .movellist img {border:3px solid #E1E1E1;}
#movecenr .movenrce strong {font-size:13px;line-height:25px;}
#movecenr .movenrce a {color:#005CB1;text-decoration:underline;}
#movecenr .movenrce img {float:left;border:4px solid #CCC;margin-right:12px;}
.clearfix:unknown {CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."}
.clearfix {ZOOM: 1}
.movenr .movellist {float:left;width:230px;padding-top:15px;padding-bottom:0px;margin-left: 4px;}
.movenr .moverlist {float:right;padding-top:10px;padding-bottom:0px;width:235px;margin-right: 4px;}
.movebttop {height:6px;background-image:url(images/movebttop.gif);background-repeat:no-repeat;background-position:left top;}
.movenr h2 {background:url(images/movebt5.gif) repeat-x left bottom;height:25px;line-height:25px;color:#0994E8;padding-left:10px;}
.movenr h2 img {float:right;padding-top:10px;padding-right:15px;}
.moveList-1 {
	margin:0px auto;
	padding:0px;
}
.moveList-1 li{
	background:url(images/moveli2.gif) no-repeat;
	background-position:0% 50%;
	padding:5px 0px 4px 14px;
}
.moveList-1 li a{
	color:#333;
}
.moveList-1 li span{
	float:right;
}



.movecbttop {height:6px;background-image:url(images/movece.gif);background-repeat:no-repeat;background-position:left top;}
.mvoecbot {background-image:url(images/movese2.gif);background-repeat:no-repeat;background-position:left top;height:6px;}
#movecenl .movenr li {
	margin-right:9px;
	margin-left:9px;
	height:31px;
	line-height:31px;
	color:#060;
	background-image: url(images/movelibg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.movenr .movecli1 {background-image:url(images/lice1.gif);background-repeat:no-repeat;line-height:35px;height:30px;font-weight:700;color:#995B00;padding-left:7px;padding-top:4px;font-size:12px;margin-right:0px;}
.movenr .movecli2 {background-image:url(images/lice2.gif);background-repeat:no-repeat;line-height:35px;height:30px;font-weight:700;color:#00175E;padding-left:7px;padding-top:4px;font-size:12px;margin-right:0px;}
.movenr .movecli3 {background-image:url(images/lice3.gif);background-repeat:no-repeat;line-height:35px;height:30px;font-weight:700;color:#840084;padding-left:7px;padding-top:4px;font-size:12px;margin-right:0px;}
.movenr .movecli4 {
background-image:url(images/lice4.gif);background-repeat:no-repeat;line-height:35px;height:30px;font-weight:700;color:#009F00;padding-left:7px;padding-top:4px;font-size:12px;margin-right:0px;
}
.mxiannr {border:1px dashed #CCC;color:#666;}
.mxiannr li {line-height:28px;background-image:url(images/movelibg.gif);background-repeat:repeat-x;background-position:bottom;margin-left:228px;}
.mxiannr h3 {line-height:30px;padding-top:10px;padding-left:5px;color:#002B00;height:30px;}
.movebtleft {background-image:url(images/move/btleft.gif);background-repeat:no-repeat;background-position:left;line-height:31px;}
.movebtleft div {background-image:url(images/move/btcn.gif);background-repeat:repeat-x;margin-left:12px;font-size:14px;color:#0994E8;font-weight:700;}
.movebtleft span {background-image:url(images/move/btright.gif);background-position:right;background-repeat:no-repeat;float:right;
padding-right:10px;line-height:31px;font-size: 13px;font-weight: normal;color: #999999;}
.mxiannr .mnrjs {line-height:20px;height:53px;padding-top:5px;padding-bottom:5px;overflow:auto;text-indent:20px;}

#movecenr .xzdy {
	background-image:url(images/xzdy.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:70px;
	margin-left:20px;
	margin-top:10px;
	height: 23px;
}
#movecenr .zxgk ul{
	padding:6px 12px;
	border:1px #E1E7EC solid;
}
#movecenr .zxgk ul span{
	height:20px;
	font-size:14px;
	font-weight:700;
	padding:2px 8px 0px 0px;
	display:block;
	float:left;
}
#movecenr .zxgk ul li{
	display:inline;
}
#movecenr .zxgk ul li a{
	background:url(images/movexzbg.gif);
	display:block;
	float:left;
	width:24px;
	height:18px;
	padding-top:2px;
	margin-right:4px;
	text-align:center;
	overflow:hidden;
	margin-bottom:6px;
}
.linkmv{
	padding:6px 12px;
	background:#FBFEFF;
}
.linkmv li{
	padding:4px 0px;
}

.mxiannr img {float:left;margin:10px;}
#jhxx .piccentent a,.moveList-1 a,.moveList-1 a:visited {color:#666;}
.moveList-1 ul,#movecenl .movenr ul {list-style-type:none;}
.flash {margin-left: 3px;}
.introduce {
	line-height: 22px;
	font-size: 15px;
	color: #666666;
	background-color: #FFFAF4;
	padding: 8px;
	border: 1px solid #FFE7CE;
	margin-top: 10px;
	margin-bottom: 10px;
}
.introduce h2 {
	color: #FF6600;
}
.introduce p{
	text-indent:2em;
}
/*标题背景*/
.moviecat_title{
border-top:1px solid #A8D9DD;
height:22px;
line-height:22px;
padding:0 5px;
clear:both;
}
/*标题栏左侧样式标题名称*/
.moviecat_name{
background:url(images/li2222.gif) no-repeat 0 2px;
float:left;
font-size:12px;
font-weight:bold;
height:22px;
line-height:22px;
padding-left:25px;
}
/*标题栏右侧样式*/
.moviecat_url{
float:right;
font-size:12px;
font-weight:normal;
height:22px;
line-height:22px;
}
.jjsss{
	width:664px;
}