.fcsleft {width: 124px;float: left;text-align: center;margin: 5px; display:inline;}
.fcsright {width: 510px;float: right;margin: 0px; display:inline;}
.fcnew img {border: 1px solid #333333;}
.fcsright .fwzsy {}
.fwzsy {margin-top: 4px;margin-right: 8px;}
.fwzsynr {
color: #585858;
background-image: url(images/movelibg.gif);
background-repeat: repeat-x;
background-position: bottom;
line-height: 28px;
margin-right: 8px;
}
.hylefty {
float: left;
width: 395px;
margin: 5px;
line-height: 22px;
}
.hylefty1 {
float: left;
width: 432px;
line-height: 22px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
}
.qystjy img {
margin: 4px;
}
.qystjy {
}
.btfcyy {
background-image: url(images/btrightyy.gif);
background-repeat: repeat-x;
background-position: right bottom;
margin-right: 5px;
margin-left: 5px;
}
.btscy {
height: 20px;
font-size: 14px;
color: #6AC000;
font-weight: 700;
background-image: url(images/homeindex/homein.gif);
background-repeat: no-repeat;
background-position: right;
padding-left: 10px;
}
.cpnnn {
width: 130px;
color: #333333;
text-align: center;
line-height: 20px;
float: left;
display: block;
margin-top: 0px;
margin-right: 5px;
margin-bottom: 0px;
margin-left: 5px;
}
.spbpx {
margin: 10px;
}
.spbpx span{
display:block;
}
.cpnnn img {

margin-right: 5px;
margin-left: 4px;
clear: both;
}

.btfcyy div {
background-image: url(images/li44gif.gif);
background-repeat: no-repeat;
background-position: 0px 50%;
padding-left: 22px;
font-weight: bold;
color: #766656;
font-size: 15px;
}
.zxxxy span {
float: right;
color: #999999;
font-size: 12px;
}
.zxxxy a {
color: #535353;
font-size: 13px;
}
.hyrighty {
width: 221px;
float: right;
background-image: url(images/fcboty.gif);
background-position: bottom;
background-repeat: no-repeat;
margin: 4px;
margin-right: 8px;
padding-bottom: 10px;
}
.hyrighty1 {
width: 198px;
float: right;
background-image: url(images/homeindex/spmlbo.gif);
background-position: bottom;
background-repeat: no-repeat;
margin-top: 8px;
margin-right: 8px;
margin-bottom: 10px;
padding-bottom: 4px;
}
.hymltop {
background-image: url(images/fctopy.gif);
background-position: top;
background-repeat: no-repeat;
height: 22px;
}
.hymltop1 {
background-image: url(images/homeindex/spmln.gif);
background-position: top;
background-repeat: no-repeat;
padding-top: 12px;

}
.hylili {
float: left;
margin: 5px;
}
.hybtnr {
line-height: 25px;
}
.hybtnnnr {
color: #666666;
font-size: 12px;
margin-right: 5px;
margin-bottom: 5px;
margin-left: 5px;
}
.hymlcenter ul {
margin-bottom: 4px;
}
.hymlcenter {
border-right-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #F3DBC0;
border-left-color: #F3DBC0;
}
.hymlcenter1 {
border-right-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #75B82D;
border-left-color: #75B82D;
}


.zxxxy {
width: 215px;
float: left;
}
.tbsj {
background-image: url(images/homeindex/li557.gif);
background-repeat: no-repeat;
background-position: 0px;
padding-left: 10px;
margin-right: 10px;
margin-left: 10px;
margin-top: 5px;
margin-bottom: 5px;
color: #5C5C5C;
border-bottom-width: 1px;
border-bottom-style: dashed;
border-bottom-color: #787878;
}
* html .tbsj{
	background: url(images/homeindex/li557.gif) no-repeat;
	background-position:0% 50%;
	padding-left:8px;
	margin-left:0px;
	line-height:24px;
	overflow:hidden;
	height:26px;
}
*+html .tbsj{
	background: url(images/homeindex/li557.gif) no-repeat;
	background-position:0% 50%;
	padding-left:8px;
	margin-left:0px;
	line-height:24px;
	overflow:hidden;
	height:22px;
}
.qystjy {
clear: both;
margin: 3px;
}
.zxzpy {
float: right;
width: 180px;
}
.zxzpy ul {
background-image: url(images/li444.gif);
background-repeat: no-repeat;
background-position: 0px 20%;
}
.zxzpbt {
padding-left: 15px;
color: #333333;
font-size: 13px;
}
.zxzpnr {
}
.zxzpnr a {
color: #AF3A25;
text-decoration: underline;
}
.fwzsybt {
background-color: #FFEADF;
height: 19px;
line-height: 19px;
color: #605500;
}
.mcy1 {
width: 210px;
float: left;
}
.mcy2 {
width: 70px;
float: left;
text-align: center;
}
.mcy3 {
width: 140px;
float: left;
text-align: center;
}
.fwzsybt .mcy4{
	width:70px!important;
	float: left;
	text-align:left;
}
.fcnew {
color: #333333;
margin-bottom: 5px;
}
.fcsleft a {
color: #333333;
}
.fclisty {
border: 1px solid #FBDEBB;
background-color: #FFF9F2;
color: #666666;
padding: 5px;
}
.fclisty a {
color: #48525D;
}
