{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>在线支付</h1>
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="120" class="td_right">订单号：</td>
      <td class="td_left">{$orderid}</td>
    </tr>
    <tr>
      <td class="td_right">支付金额：</td>
      <td class="td_left"><font color='red'>{$total_amount}元</font></td>
    </tr>

{if $paystatus==0}
    <tr>
      <td class="td_right">支付结果：</td>
      <td class="td_left">支付失败</td>
    </tr>
    <tr>
      <td class="td_right">提示信息：</td>
      <td class="td_left">Md5校验码错误！请联系管理员处理！</td>
    </tr>
{elseif $paystatus==1}
    <tr>
      <td class="td_right">支付结果：</td>
      <td class="td_left"><font color="red">支付成功</font></td>
    </tr>
    <tr>
      <td class="td_right">提示信息：</td>
      <td class="td_left">系统已经给您的<font color='red'>帐号充值{$amount}元</font>{if $trade_fee}，<font color='red'>扣除手续费{$trade_fee}元</font>{/if}。</td>
    </tr>
{else}
    <tr>
      <td class="td_right">支付结果：</td>
      <td class="td_left">支付失败</td>
    </tr>
    <tr>
      <td class="td_right">支付结果：</td>
      <td class="td_left">如果钱已从您的银行卡划出，请联系管理员处理！</td>
    </tr>
{/if}
  </table>
  </div></div>
</td>
</tr>
</table>
{template "phpcms","footer"}