{template "phpcms","header"}
<script language="javascript">
function CheckForm() 
{
{if $typenum>1}
    if(!checkradio(document.myform.type))
	{
		alert("请选择转入类型！");
	    document.myform.type[0].focus();
	    return false
	}
{/if}
    if(!Common.isnumber(document.myform.number.value))
	{
		alert("请填写正确的转入额度！");
	    document.myform.number.focus()
	    return false
	}
	return true;
}
</script>
<table cellspacing="0" cellpadding="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>资金/点数/积分 转入</h1>
<form name="myform" action="{$MOD[linkurl]}transferin.php" method="post" onsubmit="return CheckForm()">
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="120" class="td_right">用户名：</td>
      <td class="tablerow" >{$_username}</td>
    </tr>
    <tr >
      <td class="td_right">当前帐户：</td>
      <td class="tablerow">资金：{$_money} 元&nbsp;&nbsp;&nbsp;&nbsp;点数：{$_point} 点&nbsp;&nbsp;&nbsp;&nbsp;积分：{$_credit} 分</td>
    </tr>
    <tr>
      <td class="td_right" style="color:red">可转入：</td>
      <td class="tablerow" style="color:red">{if $MOD['field_money']}资金：{$money} 元&nbsp;&nbsp;&nbsp;&nbsp;{/if}{if $MOD['field_point']}点数：{$point} 点&nbsp;&nbsp;&nbsp;&nbsp;{/if}{if $MOD['field_credit']}积分：{$credit} 分{/if}</td>
    </tr>
    <tr>
      <td class="td_right">转入类型：</td>
      <td class="tablerow">{if $MOD['field_money']}<input type="radio" name="type" value="money" <?=($typenum == 1 ? 'checked' : '')?>> 资金&nbsp;&nbsp;&nbsp;&nbsp;{/if}{if $MOD['field_point']}<input type="radio" name="type" value="point" <?=($typenum == 1 ? 'checked' : '')?>> 点数&nbsp;&nbsp;&nbsp;&nbsp;{/if}{if $MOD['field_credit']}<input type="radio" name="type" value="credit" <?=($typenum == 1 ? 'checked' : '')?>> 积分{/if}</td>
    </tr>
    <tr>
      <td class="td_right">转入额度：</td>
      <td class="tablerow"><input type="text" name="number" size="8" value="<?=$number?>"></td>
    </tr>
    <tr>
      <td class="td_right">&nbsp;</td>
      <td height="40" class="tablerow">
        <input name="dosubmit" type="submit" value=" 确认转入 ">
      </td>
    </tr>
  </table>
</form>
</div></div>
</td>
</tr>
</table>
{template "phpcms","footer"}