{template 'phpcms','header'}

<div class="main">
<div class="main_content">
	<div class="main_left">
		<script type="text/javascript" src="{PHPCMS_PATH}ads/ads.php?id=4"></script>
		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />{$catname}</li>
			</ul>
			<table width="100%" align="center" cellpadding="0" cellspacing="1">
			<tr align="center" bgcolor="#EAF0F0" height="23px">
			<td width="52%" class="f_b">软件名称</td>
			<td width="12%" class="f_b">下载次数</td>
			<td width="12%" class="f_b">软件大小</td>
			<td width="12%" class="f_b">软件评价</td>
			<td width="12%" class="f_b">更新时间</td>
			</tr>
			</table>
			<table width="100%" align="center" cellpadding="0" cellspacing="0">
			<tr>
			<td height="5"></td>
			</tr>
			</table>
			{$downlist('tag_downlist-cat',$channelid,$catid,0,0,$page,$maxperpage,56,240,0,0,$itemordertype,2,0,1,1,1,1,1,1)}
			
		</div>
		
	</div>
	<div class="main_right">

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">推荐{$_CHANNEL[$channelid][channelname]}</li>
		{$downlist(0,$channelid,$catid,1,0,0,10,24,0,1,0,1,0,0,0,0,0,0,1,1)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">{$_CHANNEL[$channelid][channelname]}排行</li>
		{$downlist(0,$channelid,$catid,1,0,0,10,24,0,60,0,5,0,0,0,0,0,0,1,1)}
		</ul>
		</div>



	</div>
</div>
</div>
{template 'phpcms','footer'}