{template 'phpcms','header'}
<div class="main">
	<div class="rec">

		<div class="rec_pic">{$slidepicdown(0,$channelid,0,1,0,5,30,0,0,1,220,220,5000,-1)}</div>

		<div class="rec_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="5" height="5" alt="" /></div>

		<div class="rec_content">
		<ul style="padding:6px;">
		<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />最新{$_CHANNEL[$channelid][channelname]}</li>
		{$downlist(0,$channelid,0,1,0,0,10,30,0,0,0,3,2,1,0,0,0,0,1,1)}
		</ul>
		</div>

		<div class="rec_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="5" height="5" alt="" /></div>

		<div class="rec_right">
		<ul style="padding:6px;">
		<li class="li_header">推荐{$_CHANNEL[$channelid][channelname]}</li>
		{$downlist(0,$channelid,0,1,0,0,10,24,0,1,0,1,0,0,0,0,0,0,1,1)}
		</ul>
		</div>
	</div>
</div>

<div class="blank5"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="5" alt="" /></div>
<div class="main" style="background:red"><script type="text/javascript" src="{PHPCMS_PATH}ads/ads.php?id=2"></script></div>
<div class="blank5"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="5" alt="" /></div>

<div class="main">
<div class="main_content">
	<div class="main_left">

		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />图片{$_CHANNEL[$channelid][channelname]}</li>
			</ul>
			<ul>
			 {$picdown(0,$channelid,0,0,0,0,5,12,0,0,0,1,1,1,100,100,5)}
			</ul>
		</div>


{loop $childcats $i $cat}
		<div class="left_box_1">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cat[caturl]}" class="m_p"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />{$cat[catname]}</li>
			{$downlist(0,$channelid,$cat[catid],1,0,0,10,26,0,0,0,$cat[ordertype],2,0,0,0,0,0,$cat[target],1)}
			</ul>
		</div>
		{if $i%2!=1}<div class="main_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>{/if}

{/loop}
		
	</div>
	<div class="main_right">

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">{$_CHANNEL[$channelid][channelname]}排行</li>
		{$downlist(0,$channelid,0,1,0,0,15,22,0,60,0,5,0,0,0,0,0,0,1,1)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">投票调查</li>
		{$voteshow(0,0,$channelid)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">友情链接</li>
		</ul>
		{$linklist(0,$channelid,1,0,10,2)}
		{$linklist(0,$channelid,0,0,10,2)}
		</div>

	</div>
</div>
</div>
{template 'phpcms','footer'}