{loop $downs $i $down}
<div id="down-wz">
	<h3>
    <img src="{$skindir}/images/down_li.gif" width="16" height="17" />&nbsp;{$down[type]}
    <a class="tag_title_link"  href="{$down[linkurl]}" title="{$down[title]}"{$target}>{$down[stitle]}</a>
    </h3>
      <div class="smdown">{if $introducelen}{$down[introduce]}{/if}</div><!--简介-->
       <div class="bzdown">
       <img src="{$skindir}/images/down-1.gif" width="18" height="18" />&nbsp;下载次数：{$down[totaldowns]}次
       <img src="{$skindir}/images/down2.gif" width="17" height="18" />&nbsp;软件大小：{$down[filesize]}
       <img src="{$skindir}/images/down3.gif" width="19" height="19" />&nbsp;关注度：{$down[stars]}
       <img src="{$skindir}/images/down4.gif" width="17" height="19" />&nbsp;更新时间：{$down[adddate]} 
       </div>
</div>
{/loop}

{if $pages}
<div class="pages">{$pages}</div>
{/if}