<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
{loop $downs $i $down}
  <tr align="center" bgcolor="#F0F0F0">
    <td width="52%" height="25" align="left">&nbsp;<strong>·<a href="{$down[url]}" title="{$down[alt]}" target="{$target}">{$down[title]}</a></strong></td>
    <td width="12%">{$down[downs]}</td>
    <td width="12%">{$down[filesize]}</td>
    <td width="12%">{$down[stars]}</td>
    <td width="12%" class="px10">{$down[adddate]}</td>
  </tr>
  <tr align="center">
    <td height="25" colspan="5" align="left" bgcolor="#F9F9F9" style="padding: 5px;">{$down[introduce]}</td>
  </tr>
{/loop}
</table>
{if $pages}
<ul>
<li class="pages">{$pages}</li>
</ul>
{/if}
