{loop $downs $i $down}
<li class="li_line">
{if $datetype}<span class="px10 f_r">{$down[adddate]}</span>{/if}
{$down[img]}{if $showcatname}{$down[catname]}{/if} <a href="{$down[url]}" title="{$down[alt]}" target="{$target}">{$down[title]}</a>
{if $showdowns}({$down[downs]}){/if}
{if $showsize}({$down[filesize]}){/if}
{if $showstars}({$down[stars]}){/if}
{if $showauthor}[作者:{$down[author]}]{/if}
{if $descriptionlen}</li><li><span class="tag_description">{$down[introduce]}</span>{/if}
</li>
{/loop}
{if $pages}
<li class="pages">{$pages}</li>
{/if}