{loop $downs $i $down}
<li style="width:{$width}">
{if $datetype}<span class="datetime f_r">{$down[adddate]}</span>{/if}
·{if $showcatname}<a  class="tag_cat_link"href="{$down[catlinkurl]}"{$target}>[{$down[catname]}]</a>{/if} 
{$down[type]} <a class="tag_title_link_down" href="{$down[linkurl]}" title="{$down[title]}" {$target}>{$down[stitle]}</a>
{if $showdowns}({$down[totaldowns]}){/if}
{if $showauthor}[作者:{$down[author]}]{/if}
{if $introducelen}<br/>{$down[introduce]}{/if}
</li>
{/loop}

{if $pages}
<div class="pages">{$pages}</div>
{/if}