{template 'phpcms','header'}
<link href="{$skindir}/down.css" rel="stylesheet" type="text/css">
<div id="censent">
  <!--content-->
  <div id="left" >
    <!--位置导航-->
	<div class="boxmargin"id="bt11">当前位置：<a href="{$CHA[linkurl]}">频道首页</a> >> <a href="{$CHA[linkurl]}type.php">类别首页</a> >></div>
    <!--搜索框-->
    <div class="search">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
</div>
    <!--类别列表-->
    {tag_类别下载列表} </div>
  <div id="right">
    <div class="boxmargin">
      <script language="javascript" src="{PHPCMS_PATH}data/js/7.js"></script>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><img src="{$skindir}/images/down-List.gif" />&nbsp;<span>类别导航</span></div>
        </li>
        <li class="xw-right"></li>
      </ul>
      <div class="xian boxr boxmargin">
        <ul class="ltbiao">
          {phpcms_type(0, $channelid)}
        </ul>
      </div>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"><img src="{$skindir}/images/down-List.gif" />&nbsp;<span>推荐下载</span></div>
        </li>
        <li class="xw-right"></li>
      </ul>
      <div class="xian boxr boxmargin">
        <ul class="down-List-1">
          {tag_推荐下载}
        </ul>
      </div>
    </div>
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-onn"> <img src="{$skindir}/images/down-List.gif" />&nbsp;热点下载 </div>
        </li>
        <li class="xw-right"></li>
      </ul>
      <div class="xian boxr boxmargin">
        <ul class="down-List-1">
          {tag_下载排行}
        </ul>
      </div>
    </div>
  </div>
</div>
{template 'phpcms','footer'}