{template 'phpcms','header'}
<table width="980" align="center" cellpadding="1" cellspacing="1">
<tr>
<td width="730" valign="top">
	<table width="100%"  border="0" cellspacing="0" cellpadding="0" align="center" class="gbook_tit">
	<tr>
	<td>&nbsp;&nbsp;&nbsp;<b>LOGO链接 </b></td>
	</tr>
	</table>
<!--标准logo链接-->
	{$linklist(0,$channelid,1,$page,24,8)}

	<table width="100%"  border="0" cellspacing="0" cellpadding="0" align="center" class="gbook_tit mar_5">
	<tr>
	<td>&nbsp;&nbsp;&nbsp;<b>文字链接 </b></td>
	</tr>
	</table>
<!--文字logo链接-->
	{$linklist(0,$channelid,0,$page,24,8)}


<script language = 'JavaScript'>
function CheckReg()
{
    if(document.myform.name.value==''){
      alert('网站名不能为空！');
      document.myform.name.focus();
      return(false) ;
    }
  if(document.myform.name.value.length>30){
    alert('网站名太长了！');
    document.myform.name.focus();
    return(false);
  }

  if(document.myform.url.value=='' || document.myform.url.value=='http://'){
      alert('网站地址不能为空！');
      document.myform.url.focus();
      return(false) ;
    }

  if(document.myform.username.value==''){
    alert('姓名不能为空！');
    document.myform.username.focus();
    return(false);
  }
  if(document.myform.password.value==''){
    alert('密码不能为空！');
    document.myform.password.focus();
    return(false);
  }
  if(document.myform.password.value.length<3){
    alert('密码至少为4位！');
    document.myform.password.focus();
    return(false);
  }

    if(document.myform.introduction.value=='' || document.myform.introduction.value=='网站简介：'){
      alert('网站简介不能为空！');
      document.myform.introduction.focus();
      return(false) ;
    }

	{if $checkcodeguestbook}
	  if(document.myform.checkcode.value==''){
		alert('请输入您的验证码！');
		document.myform.checkcode.focus();
		return(false);
	  }
	{/if}
}
</script>


</td>
<td width="10">
<td valign="top" width="240" class="gray" style="border-left:1px solid #cccccc">
<table width="100%" cellspacing="1" cellpadding="1" align="center" style="border:1px solid #999999;">
    <tr align="center">
		<td id='TabTitle0' onclick='ShowTabs(0)' style="cursor:hand;background:#E0E0E0;letter-spacing:1px;">申请链接</td>
		<td id='TabTitle1' onclick='ShowTabs(1)' style="cursor:hand;background:#F5F5F5;letter-spacing:1px;">获取代码</td>
		<td id='TabTitle2' onclick='ShowTabs(2)' style="cursor:hand;background:#F5F5F5;letter-spacing:1px;">修改链接</td>
</table>

	<table width="230"  border="0" align="center" cellpadding="5" cellspacing="0">
	<tbody id='Tabs0' style='display:'>
	<form method="post" name="myform" action="{PHPCMS_PATH}link/index.php?channelid={$channelid}&action=reg" onsubmit="return CheckReg()">
	<input name='channelid' type='hidden' value='{$channelid}'>
	<tr>
	<td>链接类型：
	  <input name="linktype" type="radio" value="1" checked style="border:0">
	LOGO&nbsp;&nbsp;
	<input type="radio" name="linktype" value="0" style="border:0">
	文字</td>
	</tr>
	<tr>
	<td>网站名称：　 <input name="name" size="18"  maxlength="20"><font color="#FF0000"> *</font></td>
	</tr>
	<tr>
	<td>网站地址：　 <input name="url" size="18"  maxlength="100" type="text"  value="http://">
	<font color="#FF0000">*</font></td>
	</tr>
	<tr>
	<td>网站Logo：　<input name="logo" size="18"  maxlength="100" type="text"  value="http://"></td>
	</tr>
	<tr>
	<td>站长姓名： 　<input name="username" size="18"  maxlength="20" type="text" value="{$_username}">
	<font color="#FF0000">*</font></td>
	</tr>
	<tr>
	<td>电子邮件：　 <input name="email" size="18"  maxlength="30" type="text"  value="@">
	<font color="#FF0000">*</font></td>
	</tr>
	<tr>
	<td>网站密码： 　<input name="password" type="password" id="password" size="20" maxlength="20">
	<font color="#FF0000">*</font></td>
	</tr>
	<tr>
	<td>确认密码：　 <input name="pwdconfirm" type="password" id="pwdconfirm" size="20" maxlength="20">
	<font color="#FF0000">*</font>	</tr>
	<tr>
	<td><textarea name="introduction" cols="34" rows="5" id="introduction">网站简介：</textarea></td>
	</tr>
	<tr>
		<td align="center" height="30">
		<input name='submit' type='submit' value=' 提 交 ' class="btn">&nbsp;&nbsp;
		<input name='reset' type='reset' value=' 重 填 ' class="btn">		</td>
	  </tr>
	  </form>

	<tbody id='Tabs1' style='display:none'>
	<form method="post" name="link">
	<tr>
		<td>本站LOGO链接代码</td>
	</tr>
	<tr>
	  <td><textarea name="logo" cols="34" rows="5" id="logo" onfocus="document.link.elements['logo'].select();"><a href="{$PHP_SITEURL}" target="_blank"><img src="http://{$PHP_DOMAIN}{$get_imgurl($_PHPCMS[linklogo])}" width="88" height="31" border="0"></a></textarea></td>
		</tr>
	<tr>
		<td>本站文字链接代码</td>
		</tr>
	<tr>
	  <td><textarea name="text" cols="34" rows="5" id="text" onfocus="document.link.elements['text'].select();"><a href="{$PHP_SITEURL}" target="_blank">{$_PHPCMS['sitename']}</a></textarea></td>
		</tr>
        <tr><td height="10"></td></tr>
	</form>
	  </tbody>

	 <tbody id='Tabs2' style='display:none'>
	  <form method="post" name="edit" action="?channelid={$channelid}&action=edit">
		<input name='channelid' type='hidden' value='<?=$channelid?>'>
	<tr>
		<td>站长姓名： 　<input name="username" size="18"  maxlength="20" type="text" value="{$_username}">
		<font color="#FF0000">*</font></td>
		</tr>
	<tr>
		<td>网站密码：　 <input name="password" type="password" id="password" size="20" maxlength="20">
		<font color="#FF0000">*</font></td>
		</tr>
	<tr>
		<td>链接类型： 　<input name="linktype" type="radio" value="1" checked style="border:0">
		LOGO&nbsp;&nbsp;
		<input type="radio" name="linktype" value="0" style="border:0">
		文字</td>
		</tr>
	<tr>
		<td>网站名称： 　<input name="name" size="18"  maxlength="20"><font color="#FF0000"> *</font></td>
		</tr>
	<tr>
		<td>网站地址： 　<input name="url" size="18"  maxlength="100" type="text"  value="http://">
		<font color="#FF0000">*</font></td>
		</tr>
	<tr>
		<td>网站Logo：　<input name="logo" size="18"  maxlength="100" type="text"  value="http://"></td>
		</tr>
	<tr>
		<td><textarea name="introduction" cols="34" rows="5" id="introduction">网站简介：</textarea></td>
		</tr>
	<tr>
		<td align="center" height="30">
		<input name='submit' type='submit' value=' 修 改 ' class="btn">&nbsp;&nbsp;
		<input name='reset' type='reset' value=' 重 填 ' class="btn">		</td>
	  </tr>
	  </form>
	  </tbody>
</table></td>
</tr>
</table>
{template 'phpcms','footer'}