<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$head[title]}</title>
<meta content="{$head[keywords]}" name="keywords">
<meta content="{$head[description]}" name="description">
<base href="{SITE_URL}" />
<link href="{SKIN_PATH}{$mod}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="images/js/jquery.min.js"></script>
<script type="text/javascript" src="images/js/css.js"></script>
<script type="text/javascript">
function set_type(type)
{
	$('#type').val(type);
	q = $('#q').val();
    if(q)
	{
	    search.submit();
	}
	else
	{
		$('#search_form>span').removeClass('selected');
		$('#type_'+type).addClass('selected');
	}
}
</script>
</head>
<body>
<style>
<!--
body{ background-image:none;}
-->
</style>
<!--end head-->
<div id="search_index">
<form name="search">
<p><img src="images/logo.gif"/></p>
  <ul>
    <li id="search_form">
	<span id="type_all" class="selected" onclick="set_type('all')">全部</span>
	{loop $types $type $name}
	<span id="type_{$type}" onclick="set_type('{$type}')">{$name}</span>
	{/loop}
	</li>
    <li>
      <input type="hidden" name="type" value="all" id="type"/>
      <input type="text" name="q" size="48" id="q"/>
      <input type="submit" name="s" id="button" value="搜索" />
    </li>
	<li><strong>热门关键字:</strong>{get sql="SELECT `tag` FROM phpcms_keyword ORDER BY hits DESC" rows="6"}<a href="javascript:$('#q').val('{$r[tag]}');void(0);">{$r['tag']}</a> {/get}</li>
  </ul>
</form>
</div>
{template 'phpcms','footer'} 