
.digg_main{text-align:center;width:54px;height:71px;float:left; overflow:hidden;}
.digg_num{width:54px;height:50px;}
.digg_text{width:54px;height:28px;}
#digg_down{background: url(images/digg_down.gif);}
#digg_up{
	background: url(images/digg_up.gif);
	margin-right: 15px;
}
.digg_num1{
padding-top:2px;
font-size:18px;
font-weight:bolder;
}
.digg_num{
padding-top:2px;
font-size:18px;
font-weight:bolder;
}
