{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template 'member','left'}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>支付充值</h1>
<form name="myform" method="post" action="{$MOD[linkurl]}pay.php">
  <table cellpadding='2' cellspacing='1' class='righttable'>
    <tr>
      <td width="120" class="td_right">用户名：</td>
      <td class="td_left">{$_username}</td>
    </tr>
    <tr >
      <td class="td_right">资金余额：</td>
      <td class="td_left">{$_money} 元</td>
    </tr>
    <tr >
      <td class="td_right">可用积分：</td> 
      <td class="td_left">{$_credit} 分</td>
    </tr>
    <tr >
      <td class="td_right">可用点数：</td>
      <td class="td_left">{$_point} 点</td>
    </tr>
    <tr >
      <td class="td_right">有效期：</td>
      <td class="td_left">{$_begindate}&nbsp;&nbsp;至&nbsp;&nbsp;{$_enddate}<br>
      </td>
    </tr>
    <tr>
      <td class="td_right">支付方式：</td>
      <td class="td_left">
	  <input name='paytype' type='radio' value='{$MOD[linkurl]}payonline.php' checked> 在线支付<br/>
	  <input name='paytype' type='radio' value='{$MOD[linkurl]}paycard.php'> 支付卡充值<br/>
	  <input name='paytype' type='radio' value='{$MOD[linkurl]}bank.php'> 银行汇款<br/>
    </td>
    </tr>
    <tr>
      <td class="td_right"></td>
      <td height="40" class="td_left">
        <input name='forward' type='hidden' value='{$forward}'>
        <input name='amount' type='hidden' value='{$amount}'>
        <input name="dosubmit" type="submit" value=" 下一步 ">
      </td>
    </tr>
  </table>
</form>
</div></div>
</td>
</tr>
</table>
{template 'phpcms','footer'}