{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" width="980" align="center">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>在线支付确认</h1>
<form name="myform" method="post" action="{$MOD[linkurl]}payonline_send.php">
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="120" class="td_right">订单号：</td>
      <td class="td_left">{$orderid}</td>
    </tr>
    <tr>
      <td class="td_right">支付金额：</td>
      <td class="td_left">{$total_amount}元{if $trade_fee}（<font color="red">充值金额{$amount}元，手续费{$trade_fee}元</font>）{/if}</td>
    </tr>
    <tr >
      <td class="td_right">支付平台：</td>
      <td class="td_left">{$payonline_setting[$paycenter]["name"]}
</td>
    </tr>
    <tr>
      <td class="td_right">联系人：</td>
      <td class="td_left">{$contactname}</td>
    </tr>
    <tr>
      <td class="td_right">联系电话：</td>
      <td class="td_left">{$telephone}</td>
    </tr>
    <tr>
      <td class="td_right">E-mail：</td>
      <td class="td_left">{$email}</td>
    </tr>
    <tr >
      <td class="td_right"></td>
      <td height="40" class="td_left">
        <input name="paycenter" type="hidden" value="{$paycenter}">
        <input name="amount" type="hidden" value="{$amount}">
        <input name="trade_fee" type="hidden" value="{$trade_fee}">
        <input name="contactname" type="hidden" value="{$contactname}">
        <input name="telephone" type="hidden" value="{$telephone}">
        <input name="email" type="hidden" value="{$email}">
        <input name="orderid" type="hidden" value="{$orderid}">
        <input name="dosubmit" type="submit" value=" 确认支付 ">&nbsp;&nbsp;
        <input name="gourl" type="hidden" value="{$gourl}">
        <input name="goback" type="button" value=" 返回上一步 " onclick="javascript:history.back();">
      </td>
    </tr>
  </table>
</form>
</div></div>
	</td>
 </tr>
</table>
{template "phpcms","footer"}