{template "phpcms","header"}
<div id="censent">
<table cellspacing="0" cellpadding="0" width="980">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10" valign="top">
</td>
<td class="right" valign="top">
<div class="memberborder_1">
<div class="memberborder_2">
<h1>资金购买有效期</h1>
<form name="myform" action="{$MOD[linkurl]}time.php" method="post">
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="120" class="td_right">用户名：</td>
      <td class="td_left">{$_username}</td>
    </tr>
    <tr >
      <td class="td_right">资金余额：</td>
      <td class="td_left">{$_money} 元</td>
    </tr>
    <tr >
      <td class="td_right">可用积分：</td> 
     <td class="td_left">{$_credit} 分</td>
    </tr>
    <tr >
      <td class="td_right">可用点数：</td>
      <td class="td_left">{$_point} 点</td>
    </tr>
    <tr >
      <td class="td_right">有效天数：</td>
      <td class="td_left">开始计算日期：{$_begindate}&nbsp;&nbsp;&nbsp;&nbsp;有效期：{$_enddate}<br>
      </td>
    </tr>
    <tr>
      <td class="td_right">购买有效期：</td>
      <td class="td_left">
{loop $money2times $time}
	  <input name="id" type="radio" value="{$time[id]}"> {$time[time]}{$units[$time["unit"]]}（价格：{$time[price]}元）<br/>
{/loop}
    </td>
    </tr>
    <tr>
      <td class="td_right">&nbsp;</td>
      <td height="40" class="td_left">
	  	<input type="hidden" name="type" value="money2time">
        <input name="dosubmit" type="submit" value=" 确定购买 ">
      </td>
    </tr>
  </table>
</form>
</div></div>
<br />
<div class="memberborder_1">
<div class="memberborder_2">
<h1>积分兑换有效期</h1>
<form name="myform" action="{$MOD[linkurl]}time.php" method="post">
  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td width="120" class="td_right">用户名：</td>
      <td class="td_left">{$_username}</td>
    </tr>
    <tr >
      <td class="td_right">资金余额：</td>
      <td class="td_left">{$_money} 元</td>
    </tr>
    <tr >
      <td class="td_right">可用积分：</td> 
     <td class="td_left">{$_credit} 分</td>
    </tr>
    <tr >
      <td class="td_right">可用点数：</td>
      <td class="td_left">{$_point} 点</td>
    </tr>
    <tr >
      <td class="td_right">有效天数：</td>
      <td class="td_left">开始计算日期：{$_begindate}&nbsp;&nbsp;&nbsp;&nbsp;有效期：{$_enddate}<br>
      </td>
    </tr>
    <tr>
      <td class="td_right">购买有效期：</td>
      <td class="td_left">
{loop $credit2times $time}
	  <input name="id" type="radio" value="{$time[id]}"> {$time[time]}{$units[$time["unit"]]}（所需积分：{$time[price]}分）<br/>
{/loop}
    </td>
    </tr>
    <tr>
      <td class="td_right">&nbsp;</td>
      <td height="40" class="td_left">
	    <input type="hidden" name="type" value="credit2time">
        <input name="dosubmit" type="submit" value=" 确定兑换 ">
      </td>
    </tr>
  </table>
</form>
</div></div>
</td>
</tr>
</table>
</div>
{template "phpcms","footer"}