{template "phpcms","header"}
<script LANGUAGE="javascript">
<!--
function CheckForm()
{
    if (document.myform.email.value=="")
	{
	  alert("请输入E-mail！")
	  document.myform.email.focus()
	  return false
	 }
}
//-->
</script>
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10">
</td>
<td class="right" valign="top">
<div class="memberborder_3">
<div class="memberborder_2">
<h1>基本资料</h1>
<table cellpadding="0" cellspacing="0" class="righttable">
<form name="myform" method="post" action="{$MOD[linkurl]}edit.php" onSubmit="return CheckForm();">
      <tr>
        <td width="16%" class="td_right">用户名：</td>
        <td class="td_left">{$username}        </td>
      </tr>
      <tr>
        <td class="td_right">密码提示问题：</td>
        <td class="td_left"><input name="question" type="text" id="question" size="30" value="{$question}"></td>
      </tr>
      <tr>
        <td class="td_right">问题答案：</td>
        <td class="td_left"><input name="answer" type="text" id="answer" size="30"></td>
      </tr>
      <tr>
        <td class="td_right">Email地址：</td>
        <td class="td_left"> <input name="email" type="text" id="email" size="30" value="{$email}"> <input type="checkbox" name="showemail" id="showemail" value="1" {if $showemail}checked{/if} class="radio"> <span class="color_1">是否公开</span> </td>
      </tr>
</table>
<h1>详细资料</h1>
<table cellpadding="0" cellspacing="0" class="righttable">
  <tr>
    <td width="16%" class="td_right">真实姓名：</td>
    <td class="td_left"><input name="truename" type="text" id="truename" size="20" 

value="{$truename}" /></td>
  </tr>
  <tr>
    <td class="td_right">性别：</td>
    <td class="td_left"><input name="gender" type="radio" style="border:0px " value="1" {if 

$gender}checked{/if} />
        <span class="color_2">男</span>
        <input type="radio" name="gender" value="0" style="border:0px " {if !$gender}

checked{/if} />
        <span class="color_2">女</span> </td>
  </tr>
  <tr>
    <td class="td_right">生日：</td>
    <td class="td_left"><input name="byear" type="text" size="4" value="{$byear}">
      <span class="color_2">年</span> 
<select name="bmonth" id="bmonth">
 <option value="00"></option>
{loop $montharr $month}
 <option value="{$month}" {if $month==$bmonth}selected{/if}>{$month}</option>
{/loop}
</select>
      <span class="color_2">月</span> 
      <select name="bday" id="bday">
<option value="00"></option>
{loop $dayarr $day}
 <option value="{$day}" {if $day==$bday}selected{/if}>{$day}</option>
{/loop}
        </select>
      <span class="color_2">日</span> </td>
  </tr>
  <tr>
    <td class="td_right">证件类别：</td>
    <td class="td_left"><select name="idtype">
      <option value="身份证" {if $idtype=="身份证"}selected{/if} >身份证 </option>
      <option value="学生证" {if $idtype=="学生证"}selected{/if}>学生证 </option>
      <option value="军人证" {if $idtype=="军人证"}selected{/if}>军人证 </option>
      <option value="护照" {if $idtype=="护照"}selected{/if} >护照 </option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">证件号码：</td>
    <td class="td_left"><input type=text name="idcard" value="{$idcard}" size=22 maxlength=18 /></td>
  </tr>
  <tr>
    <td class="td_right">所在地：</td>
    <td class="td_left">
	
<select name="province" id="province" onchange="javascript:loadcity(this.value);">
<option value="0" selected="selected">请选择</option>
</select>

<select name="city" id="city" onchange="javascript:loadarea($('province').value, this.value);">
<option value="0" selected="selected">请选择</option>
</select>

<select name="area" id="area">
<option value="0" selected="selected">请选择</option>
</select>

<script language="javascript">
<!--
var phpcms_path = '{PHPCMS_PATH}';
var selectedprovince = '{$province}';
var selectedcity = '{$city}';
var selectedarea = '{$area}';
//-->
</script>
<script type="text/javascript" src="{PHPCMS_PATH}include/js/area.js"></script>


    </td>
  </tr>
  <tr>
    <td class="td_right">所属行业：</td>
    <td class="td_left"><select name="industry">
      <option value="">请选择　　</option>
      <option value="金融业" {if $industry=="金融业"}selected{/if}>金融业</option>
      <option value="服务业" {if $industry=="服务业"}selected{/if}>服务业</option>
      <option value="信息产业" {if $industry=="信息产业"}selected{/if}>信息产业</option>
      <option value="制造业" {if $industry=="制造业"}selected{/if}>制造业</option>
      <option value="传播业" {if $industry=="传播业"}selected{/if} >传播业</option>
      <option value="教育" {if $industry=="教育"}selected{/if} >教育</option>
      <option value="政府机构" {if $industry=="政府机构"}selected{/if} >政府机构</option>
      <option value="医疗保健" {if $industry=="医疗保健"}selected{/if} >医疗保健</option>
      <option value="房地产" {if $industry=="房地产"}selected{/if} >房地产</option>
      <option value="其它" {if $industry=="其它"}selected{/if} >其它</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">教育水平：</td>
    <td class="td_left"><select name="edulevel" size=1>
      <option value="">请选择　　</option>
      <option value="博士" {if $edulevel=="博士"}selected{/if} >博士</option>
      <option value="硕士" {if $edulevel=="硕士"}selected{/if}>硕士</option>
      <option value="大学" {if $edulevel=="大学"}selected{/if}>大学</option>
      <option value="高中" {if $edulevel=="高中"}selected{/if}>高中</option>
      <option value="初中" {if $edulevel=="初中"}selected{/if}>初中</option>
      <option value="小学" {if $edulevel=="小学"}selected{/if}>小学</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">从事职业：</td>
    <td class="td_left"><select name="occupation">
      <option value="">请选择　　</option>
      <option value="学生" {if $occupation=="学生"}selected{/if}>学生</option>
      <option value="职员" {if $occupation=="职员"}selected{/if}>职员</option>
      <option value="经理" {if $occupation=="经理"}selected{/if}>经理</option>
      <option value="专业人士" {if $occupation=="专业人士"}selected{/if}>专业人士 </option>
      <option value="公务员" {if $occupation=="公务员"}selected{/if}>公务员</option>
      <option value="私营主" {if $occupation=="私营主"}selected{/if}>私营主</option>
      <option value="待业" {if $occupation=="待业"}selected{/if}>待业</option>
      <option value="退休" {if $occupation=="退休"}selected{/if}>退休</option>
      <option value="其它" {if $occupation=="其它"}selected{/if}>其它</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">收入水平：</td>
    <td class="td_left"><select name="income">
      <option value="">请选择　　</option>
      <option value="6000以上" {if $income=="6000以上"}selected{/if} >6000以上</option>
      <option value="4001-6000" {if $income=="4001-6000"}selected{/if}>4001-6000</option>
      <option value="2001-4000" {if $income=="2001-4000"}selected{/if}>2001-4000</option>
      <option value="1001-2000" {if $income=="1001-2000"}selected{/if}>1001-2000</option>
      <option value="501-1000" {if $income=="501-1000"}selected{/if}>501-1000</option>
      <option value="500以下" {if $income=="500以下"}selected{/if}>500以下</option>
    </select>
    </td>
  </tr>
  <tr>
    <td class="td_right">电话：</td>

    <td class="td_left"><input name="telephone" type="text" id="telephone" size="20" 

value="{$telephone}" /></td>
  </tr>
  <tr>
    <td class="td_right">手机：</td>
    <td class="td_left"><input name="mobile" type="text" id="mobile" size="20" value="{$mobile}" /></td>
  </tr>
  <tr>
    <td class="td_right">地址：</td>
    <td class="td_left"><input name="address" type="text" id="address" size="50" value="{$address}" /></td>
  </tr>
  <tr>
    <td class="td_right">邮编：</td>
    <td class="td_left"><input name="postid" type="text" id="postid" size="10" value="{$postid}" /></td>
  </tr>
  <tr>
    <td class="td_right">主页：</td>
    <td class="td_left"><input name="homepage" type="text" id="homepage" size="20" value="{$homepage}" /></td>
  </tr>
  <tr>
    <td class="td_right">QQ号码：</td>
    <td class="td_left"><input name="qq" type="text" id="qq" size="20" maxlength="20" value="{$qq}" /></td>
  </tr>
  <tr>
    <td class="td_right">MSN帐号：</td>
    <td class="td_left"><input name="msn" type="text" id="msn" size="20" value="{$msn}" /></td>
  </tr>
  <tr>
    <td class="td_right">ICQ号码：</td>
    <td class="td_left"><input name="icq" type="text" id="icq" size="20" maxlength="20" value="{$icq}" /></td>
  </tr>
  <tr>
    <td class="td_right">Skype帐号：</td>
    <td class="td_left"><input name="skype" type="text" id="skype" size="20" value="{$skype}" /></td>
  </tr>
  <tr>
    <td class="td_right">支付宝帐号：</td>
    <td class="td_left"><input name="alipay" type="text" id="alipay" size="20" value="{$alipay}" /></td>
  </tr>
  <tr>
    <td class="td_right">贝宝帐号：</td>
    <td class="td_left"><input name="paypal" type="text" id="paypal" size="20" value="{$paypal}" /></td>
  </tr>
  <tr>
    <td class="td_right">头像地址：</td>
    <td class="td_left"><input name="userface" type="text" id="userface" size="50" value="{$userface}" /> <input type="button" value="上传" onClick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid=member&type=thumb&uploadtext=userface','upload','350','200')"></td>
  </tr>
  <tr>
    <td class="td_right">头像大小：</td>
    <td class="td_left"><span class="color_2"> 宽度：</span>
        <input name="facewidth" type="text" id="facewidth" size="4" value="{$facewidth}" />px
      　
      <span class="color_2"> 高度：</span>
        <input name="faceheight" type="text" id="faceheight" size="4" value="{$faceheight}" /><span class="color_2"> px</span></td>
  </tr>
  <tr>
    <td class="td_right">签名信息：</td>
    <td class="td_left"><textarea name="sign" cols="35" rows="5" id="sign">{$sign}</textarea></td>
  </tr>
</table>
{if $fields}
<h1>其他资料</h1>
<table cellpadding="0" cellspacing="0" class="righttable">
{$fields}
</table>
{/if}
<table cellpadding="0" cellspacing="0" class="righttable">
  <tr>
    <td class="td_right" width="16%">&nbsp;</td>
    <td class="td_left">
        <input type="submit" name="dosubmit" value=" 修 改 " class="btn" />&nbsp;&nbsp;
        <input type="reset" name="reset" value=" 清 除 " class="btn" /></td>
  </tr>
</table>
</div>
</div>
</td>
</tr>
</table>
{template "phpcms","footer"}