{template 'phpcms','header'}
<div class="memberborder_3">
<div class="memberborder_2">
<h1>找回密码</h1>
<table cellpadding="2" cellspacing="0" class="righttable">
{if $step==1}

<form name="myform" action="{$MOD[linkurl]}getpassword.php" method="post">
<tr>
<td width="40%" class="td_right" >用户名：</td>
<td class="td_left"> <input name="username" type="text" size="30" maxlength="30" /> </td>
</tr>
<tr>
<td class="td_right">Email：</td>
<td class="td_left"> <input name="email" type="text" size="30" maxlength="30" /> </td>
</tr>
<tr>
<td class="td_right"> <input name="step" type="hidden" value="2" /> </td>
<td class="td_left"> <input name="submit" type="submit" value=" 下一步 " class="btn" /> <input name="reset" type="reset" value=" 重置 " class="btn" /></td>
</tr>
</form>

{elseif $step==2}

<form name="myform" action="{$MOD[linkurl]}getpassword.php" method="post">
<tr>
<td width="40%" class="td_right" >密码提示问题：</td>
<td class="td_left">{$question}</td>
</tr>
<tr>
<td class="td_right">密码提示问题答案：</td>
<td class="td_left"><input name="answer" type="text" size="50" maxlength="50" /> </td>
</tr>
<tr>
<td class="tablerow"> <input name="username" type="hidden" value="{$username}" /> <input name="email" type="hidden" value="{$email}" />  <input name="step" type="hidden" value="3" /> </td>
<td class="td_left"><input name="submit" type="submit" value=" 确定 " class="btn" /> <input name="reset" type="reset" value=" 重置 " class="btn" /></td>
</tr>
</form>

{elseif $step==3}

<tr>
<td colspan=2 class="td_center">系统已经把密码找回方法发送到{$email}信箱中，请查收！</td>
</tr>

{elseif $step==4}

<form name="myform" action="{$MOD[linkurl]}getpassword.php" method="post">
<tr>
<td width="40%" class="td_right" >新密码：</td>
<td class="td_left"> <input name="password" type="text" size="50" maxlength="50" /> </td>
</tr>
<tr>
<td class="td_right">确认新密码：</td>
<td class="td_left"> <input name="password1" type="text" size="50" maxlength="50" /> </td>
</tr>
<tr>
<td class="td_right"> <input name="username" type="hidden" value="{$username}" /> <input name="authstr" type="hidden" value="{$authstr}" />  <input name="step" type="hidden" value="5" /> </td>
<td class="td_left"><input name="submit" type="submit" value=" 确定 " class="btn" /> <input name="reset" type="reset" value=" 重置 " class="btn" /></td>
</tr>
</form>
{/if}
</table>
</div></div>
{template 'phpcms','footer'}