<script language="javascript" src="{$MODULE[member][linkurl]}info_js.php"></script>

<ul class="functionlist">

<!--{loop $CHANNEL $cha}-->
<!--{if $cha['islink'] == 0}--><li><a href="{$cha[linkurl]}myitem.php">{$cha[channelname]}发布管理</a></li><!--{/if}-->
<!--{/loop}-->

{$menu('member', 'member_menu')}

  <li><a href="{$MODULE[member][linkurl]}member.php?username={$_username}" target="_blank">我的文集</a></li>
  <li><a href="{$MODULE[member][linkurl]}index.php">查看资料</a></li>
  <li><a href="{$MODULE[member][linkurl]}edit.php">修改资料</a></li>
  <li><a href="{$MODULE[member][linkurl]}editpassword.php">修改密码</a></li>
  <li><a href="{$MODULE[member][linkurl]}logout.php">退出登录</a></li>
</ul>