{template 'phpcms','header'}
<script language="javascript">
function checkform()
{
	if(document.myform.username.value=="")
	{
		alert("请输入用户名！");
		document.myform.username.focus();
		return false;
	}
	if(document.myform.password.value == "")
	{
		alert("请输入密码！");
		document.myform.password.focus();
		return false;
	}
    document.myform.phpcms_user.value = escape(document.myform.username.value);
    return true;
}
</script>

<div class="main">
<div class="main_content">
	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header t_c">会员登录</li>
		</ul>
		<table cellpadding="2" cellspacing="2" border="0" width="98%" align="center">
		<form name="myform" method="post" action="{PHPCMS_PATH}member/login.php"  onsubmit="return checkform();">
		<tr>
		<td align="right" class="li_bg_1" width="40%">用户名：</td>
		<td class="li_line" width="60%">&nbsp;<input name="username" type="text" id="username" size="15" style="width:120px">
		<a href="{PHPCMS_PATH}member/register.php" target="_blank">立即注册</a><input name="phpcms_user" type="hidden" id="phpcms_user" /></td>
		</tr>
		<tr>
		<td align="right" class="li_bg_1">密　码：</td>
		<td class="li_line">&nbsp;<input name="password" type="password" id="password" size="15" style="width:120px" />
		<a href="{PHPCMS_PATH}member/getpassword.php" target="_blank">忘记密码?</a> </td>
		</tr>
		<tr>
		<td align="right" class="li_bg_1">Cookie：</td>
		<td class="li_line">&nbsp;<select name="cookietime" id="cookietime" style="width:120px">
		<option value="0">不保存</option>
		<option value="86400" {$cookietimeselect[86400]}>保存一天</option>
		<option value="2592000" {$cookietimeselect[2592000]}>保存一月</option>
		<option value="31536000" {$cookietimeselect[31536000]}>保存一年</option>
		</select></td>
		</tr>
		<tr>
		<td height="30" colspan="2" align="center">
		<input name="referer" type="hidden" id="referer" value="{$referer}">
		<input name="loginsubmit" type="submit" id="loginsubmit" size="15" value=" 登 录 " class="btn">&nbsp;
		<input name="reset" type="reset" id="reset"  size="15" value=" 重 置 " class="btn">
		</td>
		</tr>
		</form>
		</table>
		<table cellpadding="1" cellspacing="1" border="0" width="98%" align="center">
		<tr>
		<td height="30" class="f_red f_b t_c li_line" >没有注册？您只需填写一些简单的信息即可成为我们的会员</td>
		</tr>
		<tr>
		<td align="center"><a href="{PHPCMS_PATH}member/register.php" target="_blank"><br /><img src="{PHPCMS_PATH}images/reg.jpg" width="135" height="54" border="0" alt="" /></a><br /></td>
		</tr>
		</table>
	</div>
</div>
</div>




{template 'phpcms','footer'}