{template 'phpcms','header'}

<div class="main">
<div class="main_content">
	<div class="main_left">
{loop $cha $channelid $channel}
		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$channel['channelurl']}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />{$channel['channelname']} <span class="px10">[Total:{$channel['itemnumber']}]</span></li>
			{loop $items[$channelid] $item}
			<li class="li_line">
			<span class="px10 f_r">{$item['adddate']}</span>
			·<a href="{$item['itemurl']}" target="_blank">{$item['title']}</a>
			{if $item[ontop]}<span class="f_red">顶</span>{/if} 
			{if $item[elite]}<span class="f_blue">荐</span>{/if}
			<span class="px10">[View:{$item['hits']}]</span>			
			</li>
			{/loop}
			</ul>
		</div>
{/loop}
	</div>
	<div class="main_right">
	{template 'member','member_right'}
	</div>
</div>
</div>
{template 'phpcms','footer'}