{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","member_left"}
</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
<div class="memberborder_1">
<div class="memberborder_2">
<h1><a href="{$MODULE[member][linkurl]}member.php?username={$urlencode($username)}" class="red">{$username}的作品集</a></h1>  <table cellpadding="2" cellspacing="1" class="righttable">
    <tr>
      <td align="left" colspan="3" class="tablerowhighlight">
        <table cellpadding="0" cellspacing="0" width="100%" height="25" class="gray">
          <tr>
            <td width="80%" class="td_left">&nbsp;&nbsp;□ <a href="{$CHA["linkurl"]}"><strong>{$CHA["channelname"]}</strong></a>（总数：{$totalnumber}）</td>
            <td class="td_left"><a href="{$CHA["linkurl"]}">更多>></a>&nbsp;</td>
          </tr>
         </table>

      </td>
    </tr>
{loop $items $item}
    <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor="#ffffff">
      <td>·<a href="{$item[linkurl]}" target="_blank">{$item[title]}</a></td>
      <td align="center" width="80">{$item[hits]}</td>
      <td align="center" width="120">{$item[adddate]}</td>
    </tr>
{/loop}
    <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor="#ffffff">
      <td align="center" colspan="3" height="25">{$pages}</td>
    </tr>
  </table>
</form>
</div></div>
</td>
</tr>
</table>
{template "phpcms","footer"}