{template 'phpcms','header'}
<script type="text/javascript" src="{PHPCMS_PATH}include/js/MyCalendar.js"></script>
<script LANGUAGE="javascript">
<!--
function CheckForm() {

if (document.myform.pwdconfirm.value!=document.myform.password.value)
	{
	  alert("两次输入的密码不一致！")
      document.myform.password.value = ""
      document.myform.pwdconfirm.value = ""
	  document.myform.password.focus()
	  document.myform.password.select()
	  return false
	 }
if (document.myform.email.value=="")
	{
	  alert("请输入E-mail！")
	  document.myform.email.focus()
	  return false
	 }
    document.myform.province.value=area.document.regionform.province.value;
    document.myform.city.value=area.document.regionform.city.value;
    document.myform.submit.disabled=true;
}
//-->
</script>
<div class="main">
<div class="main_content">
	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header t_c">基本资料</li>
		</ul>

		<table cellpadding="1" cellspacing="1" border="0" width="98%" align="center">
		<form name="myform" method="post" action="{PHPCMS_PATH}member/modify.php" onSubmit="return CheckForm();">
		<tr>
		<td class="li_bg_1" width="15%">&nbsp;用户名</td>
		<td class="li_line" width="85%">{$username}</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;密码</td>
		<td class="li_line"><input name="password" type="password" id="password" size="15" /> <span class="f_red">4到20个字符</span></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;确认密码</td>
		<td class="li_line"><input name="pwdconfirm" type="password" id="pwdconfirm" size="15" /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;密码提示问题</td>
		<td class="li_line"><input name="question" type="text" id="question" size="30" value="{$question}" /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;问题答案</td>
		<td class="li_line"><input name="answer" type="text" id="answer" size="30" /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;Email地址</td>
		<td class="li_line"><input name="email" type="text" id="email" size="30" maxlength="50" value="{$email}" /> <input type="checkbox" name="showemail" id="showemail" value="1" {if $showemail}checked="checked"{/if} class="radio" /> <span class="f_red">是否公开</span> </td>
		</tr>
		</table>

	</div>
</div>
</div>

<div class="blank10"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="10" alt="" /></div>

<div class="main">
<div class="main_content">
	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header t_c">详细资料</li>
		</ul>

		<table cellpadding="1" cellspacing="1" border="0" width="98%" align="center">
		<tr>
		<td class="li_bg_1" width="15%">&nbsp;真实姓名</td>
		<td class="li_line" width="85%"><input name="truename" type="text" id="truename" size="20" maxlength="50" value="{$truename}" /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;性别</td>
		<td class="li_line"><input name="gender" type="radio" style="border:0px " value="1" {if $gender}checked="checked"{/if} /> <span class="f_blue">男</span> 
		<input type="radio" name="gender" value="0" style="border:0px " {if !$gender}checked="checked"{/if} /> <span class="f_blue">女</span></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;生日</td>
		<td class="li_line"><input name="byear" type="text" size="4" value="{$byear}">
		<span class="f_blue">年</span> 
		<select name="bmonth" id="bmonth">
		<option value="00" {$bmonth['00']} ></option>
		<option value="01" {$bmonth['01']}>1</option>
		<option value="02" {$bmonth['02']}>2</option>
		<option value="03" {$bmonth['03']}>3</option>
		<option value="04" {$bmonth['04']}>4</option>
		<option value="05" {$bmonth['05']}>5</option>
		<option value="06" {$bmonth['06']}>6</option>
		<option value="07" {$bmonth['07']}>7</option>
		<option value="08" {$bmonth['08']}>8</option>
		<option value="09" {$bmonth['09']}>9</option>
		<option value="10" {$bmonth['10']}>10</option>
		<option value="11" {$bmonth['11']}>11</option>
		<option value="12" {$bmonth['12']} >12</option>
		</select>
		<span class="f_blue">月</span> 
		<select name="bday" id="bday">
		<option value="00" {$bday['00']} ></option>
		<option value="01" {$bday['01']} >1</option>
		<option value="02" {$bday['02']} >2</option>
		<option value="03" {$bday['03']} >3</option>
		<option value="04" {$bday['04']} >4</option>
		<option value="05" {$bday['05']} >5</option>
		<option value="06" {$bday['06']} >6</option>
		<option value="07" {$bday['07']} >7</option>
		<option value="08" {$bday['08']} >8</option>
		<option value="09" {$bday['09']} >9</option>
		<option value="10" {$bday['10']} >10</option>
		<option value="11" {$bday['11']} >11</option>
		<option value="12" {$bday['12']} >12</option>
		<option value="13" {$bday['13']} >13</option>
		<option value="14" {$bday['14']} >14</option>
		<option value="15" {$bday['15']} >15</option>
		<option value="16" {$bday['16']} >16</option>
		<option value="17" {$bday['17']} >17</option>
		<option value="18" {$bday['18']} >18</option>
		<option value="19" {$bday['19']} >19</option>
		<option value="20" {$bday['20']} >20</option>
		<option value="21" {$bday['21']} >21</option>
		<option value="22" {$bday['22']} >22</option>
		<option value="23" {$bday['23']} >23</option>
		<option value="24" {$bday['24']} >24</option>
		<option value="25" {$bday['25']} >25</option>
		<option value="26" {$bday['26']} >26</option>
		<option value="27" {$bday['27']} >27</option>
		<option value="28" {$bday['28']} >28</option>
		<option value="29" {$bday['29']} >29</option>
		<option value="30" {$bday['30']} >30</option>
		<option value="31" {$bday['31']} >31</option>
		</select>
		<span class="f_blue">日</span> </td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;证件类别</td>
		<td class="li_line"><select name="idtype">
		<option value="身份证" {if $idtype=="身份证"}selected{/if} >身份证</option>
		<option value="学生证" {if $idtype=="学生证"}selected{/if}>学生证</option>
		<option value="军人证" {if $idtype=="军人证"}selected{/if}>军人证</option>
		<option value="护照" {if $idtype=="护照"}selected{/if} >护照</option>
		</select>
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;证件号码</td>
		<td class="li_line"><input type=text name="idcard" value="{$idcard}" size=22 maxlength=18 /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;所在地：</td>
		<td class="li_line"><iframe name="area" id="area" src="../region.php?country=中华人民共和国&province={$province}&city={$city}" width="300" height="60" frameborder="0" scrolling="no"></iframe>
		<input name="province" type="hidden">
		<input name="city" type="hidden">
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;所属行业</td>
		<td class="li_line"><select name="industry">
		<option value="">请选择　　</option>
		<option value="金融业" {if $industry=="金融业"}selected{/if}>金融业</option>
		<option value="服务业" {if $industry=="服务业"}selected{/if}>服务业</option>
		<option value="信息产业" {if $industry=="信息产业"}selected{/if}>信息产业</option>
		<option value="制造业" {if $industry=="制造业"}selected{/if}>制造业</option>
		<option value="传播业" {if $industry=="传播业"}selected{/if} >传播业</option>
		<option value="教育" {if $industry=="教育"}selected{/if} >教育</option>
		<option value="政府机构" {if $industry=="政府机构"}selected{/if} >政府机构</option>
		<option value="医疗保健" {if $industry=="医疗保健"}selected{/if} >医疗保健</option>
		<option value="房地产" {if $industry=="房地产"}selected{/if} >房地产</option>
		<option value="其它" {if $industry=="其它"}selected{/if} >其它</option>
		</select>
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;教育水平</td>
		<td class="li_line"><select name="edulevel" size=1>
		<option value="">请选择　　</option>
		<option value="博士" {if $edulevel=="博士"}selected{/if} >博士</option>
		<option value="硕士" {if $edulevel=="硕士"}selected{/if}>硕士</option>
		<option value="大学" {if $edulevel=="大学"}selected{/if}>大学</option>
		<option value="高中" {if $edulevel=="高中"}selected{/if}>高中</option>
		<option value="初中" {if $edulevel=="初中"}selected{/if}>初中</option>
		<option value="小学" {if $edulevel=="小学"}selected{/if}>小学</option>
		</select>
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;从事职业</td>
		<td class="li_line"><select name="occupation">
		<option value="">请选择　　</option>
		<option value="学生" {if $occupation=="学生"}selected{/if}>学生</option>
		<option value="职员" {if $occupation=="职员"}selected{/if}>职员</option>
		<option value="经理" {if $occupation=="经理"}selected{/if}>经理</option>
		<option value="专业人士" {if $occupation=="专业人士"}selected{/if}>专业人士</option>
		<option value="公务员" {if $occupation=="公务员"}selected{/if}>公务员</option>
		<option value="私营主" {if $occupation=="私营主"}selected{/if}>私营主</option>
		<option value="待业" {if $occupation=="待业"}selected{/if}>待业</option>
		<option value="退休" {if $occupation=="退休"}selected{/if}>退休</option>
		<option value="其它" {if $occupation=="其它"}selected{/if}>其它</option>
		</select>
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;收入水平</td>
		<td class="li_line"><select name="income">
		<option value="">请选择　　</option>
		<option value="6000以上" {if $income=="6000以上"}selected{/if} >6000以上</option>
		<option value="4001-6000" {if $income=="4001-6000"}selected{/if}>4001-6000</option>
		<option value="2001-4000" {if $income=="2001-4000"}selected{/if}>2001-4000</option>
		<option value="1001-2000" {if $income=="1001-2000"}selected{/if}>1001-2000</option>
		<option value="501-1000" {if $income=="501-1000"}selected{/if}>501-1000</option>
		<option value="500以下" {if $income=="500以下"}selected{/if}>500以下</option>
		</select>
		</td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;电话</td>
		<td class="li_line"><input name="telephone" type="text" id="telephone" size="20" value="{$telephone}" /></td>
		</tr>
		<tr>
		<td class="li_bg_1">&nbsp;手机</td>
		<td class="li_line"><input name="mobile" type="text" id="mobile" size="20" value="{$mobile}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;地址</td>
		<td class="li_line"><input name="address" type="text" id="address" size="50" value="{$address}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;邮编</td>
		<td class="li_line"><input name="postid" type="text" id="postid" size="10" value="{$postid}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;主页</td>
		<td class="li_line"><input name="homepage" type="text" id="homepage" size="20" value="{$homepage}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;QQ号码</td>
		<td class="li_line"><input name="qq" type="text" id="qq" size="20" maxlength="20" value="{$qq}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;MSN帐号</td>
		<td class="li_line"><input name="msn" type="text" id="msn" size="20" maxlength="50" value="{$msn}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;ICQ号码</td>
		<td class="li_line"><input name="icq" type="text" id="icq" size="20" maxlength="20" value="{$icq}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;Skype帐号</td>
		<td class="li_line"><input name="skype" type="text" id="skype" size="20" maxlength="50" value="{$skype}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;支付宝帐号</td>
		<td class="li_line"><input name="alipay" type="text" id="alipay" size="20" maxlength="50" value="{$alipay}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;贝宝帐号</td>
		<td class="li_line"><input name="paypal" type="text" id="paypal" size="20" maxlength="50" value="{$paypal}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;头像地址</td>
		<td class="li_line"><input name="userface" type="text" id="userface" size="50" maxlength="50" value="{$userface}" /></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;头像大小</td>
		<td class="li_line"><span class="f_blue"> 宽度：</span><input name="facewidth" type="text" id="facewidth" size="4" maxlength="50" value="{$facewidth}">　<span class="f_blue">px 高度：</span>  <input name="faceheight" type="text" id="faceheight" size="4" maxlength="50" value="{$faceheight}"> <span class="f_blue"> px</span></td>
		</tr>
		<tr>

		<td class="li_bg_1">&nbsp;签名信息</td>
		<td class="li_line"><textarea name="sign" cols="35" rows="5" id="sign">{$sign}</textarea></td>
		</tr>
		<tr>
		<tr>
		<td height="43"></td>
		<td class="li_line"><input type="hidden" name="save" value="1" />
		<input type="submit" name="submit" value="修 改" class="btn" />
		<input type="reset" name="reset" value="清 除" class="btn" /></td>
		</td>
		</tr>
		</form>
		</table>

	</div>
</div>
</div>
{template 'phpcms','footer'}