{template 'phpcms','header'}
<div class="memberborder_3">
<div class="memberborder_2">
<h1>phpcms 服务条款和声明</h1>
<table cellpadding="0" cellspacing="0" class="righttable">
  <form name="licenseform" method="get" action="{$MOD[linkurl]}register.php">
    <tr>
      <td align="center"><TEXTAREA style="FONT-WEIGHT: normal; FONT-SIZE: 9pt; WIDTH: 90%; LINE-HEIGHT: normal; FONT-STYLE: normal; HEIGHT: 310px; FONT-VARIANT: normal" readOnly>{$MOD[reglicense]}</textarea></td>
    </tr>
    <tr>
    <tr>
      <td height="60"  align="center">
          <input name="action" id="action" type="hidden" value="register">
          <input name="forward" type="hidden" id="forward" value="{$forward}">
		  <input type="submit" name="btnSubmit" value=" 我同意 " class="btn">
		　<INPUT style="CURSOR: hand" onclick="window.location.href='{PHPCMS_PATH}'" type=button value=" 不同意 "></td>
        <SCRIPT language="javascript" type="text/javascript">
        			
        <!--
        			var secs = 9;
        			var wait = secs * 1000;
        			document.licenseform.btnSubmit.value = "我同意 [" + secs + "]";
        			document.licenseform.btnSubmit.disabled = true;
        			for(i = 1; i <= secs; i++)
        			{
        				window.setTimeout("Update(" + i + ")", i * 1000);
        			}
        			window.setTimeout("Timer()", wait);
        			
        			function Update(num)
        			{
        				if(num != secs)
        				{
        					printnr = (wait / 1000) - num;
        					document.licenseform.btnSubmit.value = "我同意 [" + printnr + "]";
        				}
        			}
        			
        			function Timer()
        			{
        				document.licenseform.btnSubmit.disabled = false;
        				document.licenseform.btnSubmit.value = " 我同意 ";
        			}
        			-->
        			</SCRIPT>
		</td>
		</tr>
  </form>
</table>
</div></div>
{template 'phpcms','footer'}