		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">帐户中心</li>
		<li class="li_line">您的身份：{$_GROUP['groupname']}</li>
		{if $_chargetype}
		<li class="li_line">计费方式：有效期</li>
		<li class="li_line">剩余天数：{$validdatenum}</li>
		{else}
		<li class="li_line">计费方式：扣点数</li>
		<li class="li_line">可用点数：{$_point}点</li>
		{/if}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">信息管理</li>
		{loop $_CHANNEL $channel}
		{if $channel[channeltype]}
		<li class="li_line"><a href="{PHPCMS_PATH}member/myitem.php?module={$channel[module]}&channelid={$channel[channelid]}&action=manage">{$channel[channelname]}管理 | 发布</a></li>
		{/if}
		{/loop}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">短信息</li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/pm.php?action=send">发短信息</a> | <a href="{PHPCMS_PATH}member/pm.php?action=tract">信息追踪</a></li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/pm.php">收件箱{if $inbox_new_num} <span style="font-size:10px;color:red;">[{$inbox_new_num}]new!</span>{/if}</a> | <a href="{PHPCMS_PATH}member/pm.php?action=draft">草稿箱</a></li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/pm.php?action=outbox">已发送</a> | <a href="{PHPCMS_PATH}member/pm.php?action=recycle">垃圾箱</a></li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/pm.php?action=addresslist">通讯录</a> | <a href="{PHPCMS_PATH}member/pm.php?action=blacklist">黑名单</a></li>
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">充值服务</li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/exchange.php?action=paycard">充值卡充值</a> | <a href="{PHPCMS_PATH}member/exchange.php?action=getpoint">兑换点数</a></li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/exchange.php?action=gettime">兑换有效期</a> | <a href="{PHPCMS_PATH}member/exchange.php?action=sendpoint">赠送点数</a></li>
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">个人资料</li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/member.php?username={$_username}" target="_blank">我的作品</a> | <a href="{PHPCMS_PATH}member/index.php">查看资料</a></li>
		<li class="li_line"><a href="{PHPCMS_PATH}member/modify.php">修改资料</a> | <a href="{PHPCMS_PATH}member/logout.php">退出登录</a></li>
		</ul>
		</div>