{if $digg_on==1}
<script language="javascript" src="{PHPCMS_PATH}include/js/digg.js"></script>
<link href="{$skindir}/digg/style{$style}/style.css" rel="stylesheet" type="text/css">
<div id="digg">
<div class="kuangkuang">
<!--顶一下-->
<dl class="bg" style="margin-right:8px;" id="digg_up">
	<p id="diggDivCount_{$mod}_{$channelid}_{$id}">0</p>
	<span id="diggDivDo_{$mod}_{$channelid}_{$id}" style="cursor:hand" onclick="getAjax('{PHPCMS_PATH}digg/digg_add.php?','channelid={$channelid}&id={$id}&digg_mod={$mod}&con=1','digg_up')">顶一下</span>
</dl>
 {if $digg_down_on==1}

 <dl class="bg_1" id="digg_down">
	 <p id="diggDivCount_down{$mod}_{$channelid}_{$id}">0</p>
	 <span id="diggDivDo_down{$mod}_{$channelid}_{$id}" style="cursor:hand" onclick="getAjax('{PHPCMS_PATH}digg/digg_add.php?','channelid={$channelid}&id={$id}&digg_mod={$mod}&con=3','digg_down')">踩一下</span>
 </dl>
  {/if}
  <div style="clear:both"></div>
  </div>
<!--完毕-->  
  <div style="clear:both"></div>
</div>
<script type="text/javascript">
var digg_cookie=getcookie("{$mod}{$channelid}{$id}");
var down_name='{$mod}{$channelid}{$id}'+'down';
var digg_cookie_down=getcookie(down_name);
if(digg_cookie=="{$id}")
{
	getAjax('{PHPCMS_PATH}digg/digg_add.php?','channelid={$channelid}&digg_mod={$mod}&id={$id}&con=0','digg_up');

}
else
{
	getAjax('{PHPCMS_PATH}digg/digg.php?','channelid={$channelid}&digg_mod={$mod}&id={$id}&con=6','diggDivCount_{$mod}_{$channelid}_{$id}')

}
if(digg_cookie_down=="{$id}")
{
	getAjax('{PHPCMS_PATH}digg/digg_add.php?','channelid={$channelid}&digg_mod={$mod}&id={$id}&con=5','digg_down');
}
else
{
	getAjax('{PHPCMS_PATH}digg/digg.php?','channelid={$channelid}&digg_mod={$mod}&id={$id}&con=7','diggDivCount_down{$mod}_{$channelid}_{$id}');
}

</script>
{/if}

