<link href="{PHPCMS_PATH}images/comment/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$MODULE['comment']['linkurl']}include/js/comment.js"></script>
<!--查看与发表评论区域-->
<div class="pinglun">
<form name="commentform" method="post" action="{$MODULE['comment']['linkurl']}post.php" onSubmit="return docheck();">
<input name="keyid" type="hidden" value="{$keyid}">
<input name="itemid" type="hidden" value="{$itemid}">
<input name="replycid" type="hidden" value="">
<div class="end_pl">
<div class="title_c">
	<div class="tip">
		<img height="34" alt="讨论区" src="{PHPCMS_PATH}images/end_p1.gif" width="85" border="0"></div>
	<div class="text_bg" style="width: 68px; height: 19px">
<a href="{$MODULE['comment']['linkurl']}index.php?keyid={$keyid}&itemid={$itemid}&title={$urlencode($title)}">点击查看</a></div>
<div class="text">
已有<span class="comm" id="commentnumber">0</span>位网友发表评论</div>
</div>
<div>评分：
<input name="score" type="radio" class="radio" title="很差" value="1"><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /> 
<input name="score" type="radio" class="radio" title="差" value="2"><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /> 
<input name="score" type="radio" class="radio" title="一般" value="3" checked><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /> 
<input name="score" type="radio" class="radio" title="好" value="4"><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /> 
<input name="score" type="radio" class="radio" title="很好" value="5"><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /><img src="{PHPCMS_PATH}images/comment/star.gif" alt="小星星" /> 
</div>
<div class="loginTip">
<a name="content"><div class="textBox">
<textarea name="commentcontent"  id="commentcontent" rows="1" cols="20" onClick="this.style.background='';if(document.commentform.checkcodeimg.src.indexOf('checkcode.php')<0) document.commentform.checkcodeimg.src='{PHPCMS_PATH}checkcode.php';" {if !$_userid && !$mod['ischecklogin']}style="color:#cccccc;" readonly {/if}><!--{if !$_userid && !$MOD['ischecklogin']}-->游客不能发表评论<!--{/if}--></textarea>
</div>
<div>
<!--{if $MOD['enablecheckcode'] }-->
<span id="showcheckcode">
验证码：<input name="checkcodestr" type="text" id="checkcodestr" size="4"> 
<img src="{PHPCMS_PATH}images/checkcodeinit.png" id="checkcodeimg" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle" />
</span>
<!--{/if}--> 
<span><input name="dosubmit" type="submit" class="input" value="发表评论"></span>
</div>
<div class="login"></div>
<div style="clear:both"></div>
</div>
</div>
<div class="r_1">
<?php
$i=0;
foreach($SMILIES as $smile=>$listorder)
{
if($i>15) break;
$smile = PHPCMS_PATH.$smile;
$fname = basename($smile);
$fname = substr($fname,0,strrpos($fname,'.'));
if($i%4==0) echo "";
?>
<li><img src="{$smile}" id="{$fname}" alt="{$fname}" border="0" onClick="AddOnPos(document.commentform.commentcontent,'[{$fname}]');" onMouseover="this.style.cursor = 'pointer';" /></li>
<?php
if($i%4==3) echo "";
$i++;
}
?>
<br style="clear:both">
{if !$info}<a href="javascript:SelectSmilies('{PHPCMS_PATH}');">
<span>更多表情››</span></a>{/if}
</div>
<div style="clear:both">
    <ul style="border:#c0c0c0 1px dotted;padding:5px;">
		<li>请遵守《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律法规。 </li>
		<li>严禁发表危害国家安全、损害国家利益、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容的评论 。</li>
		<li>用户需对自己在使用本站服务过程中的行为承担法律责任（直接或间接导致的），本站管理员有权保留或删除评论内容。</li>
	</ul>
</div>
</form>
</div>