{template 'phpcms','header'}
<script type="text/javaScript">
function docheck(){
if (myform.content.value=="") {
alert("请输入评论内容!");
myform.content.focus();
return false;
}
{if $_PHPCMS['comment_checkcode']}
if (myform.checkcode.value=="") {
alert("请输入验证码!");
myform.checkcode.focus();
return false;
}
{/if}
return true;
}
</script>

<div class="main">
<div class="main_content">

	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />评论列表</li>
		<li class="li_line"><span class="f_red">注意:评论内容只代表网友个人观点，与本网站立场无关。</span>&nbsp;&nbsp;【<a href="javascript:window.close();">关闭窗口</a>】【<a href="{$itemurl}">返回原文</a>】</li>
		<li class="li_line">共<span class="f_red">{$totalnumber}</span>人参与评论，总评价为：<span class="f_blue">{$avgscore}</span> </li>
		{$commentlist(0,$item,$itemid,$page,15,0)}
		</ul>
	</div>

<div class="blank10"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="10" alt="" /></div>

	<div class="box_1">
			<ul style="padding:6px;">
			<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />发表评论</li>
			<li>
			<form name="myform" method="post" action="{PHPCMS_PATH}comment/?action=add&amp;submit=1" onSubmit="return docheck();">
			<input name="item" type="hidden" value="{$item}" />
			<input name="itemid" type="hidden" value="{$itemid}" />
			<input name="itemurl" type="hidden" value="{$itemurl}" />
			评分：
			<input name="score" type="radio" class="radio" title="很差" value="1" /> 1 
			<input name="score" type="radio" class="radio" title="差" value="2" /> 2 
			<input name="score" type="radio" class="radio" title="一般" value="3" checked /> 3 
			<input name="score" type="radio" class="radio" title="好" value="4" /> 4 
			<input name="score" type="radio" class="radio" title="很好" value="5" /> 5 
			<br/>
			<textarea name="content" cols="50" rows="8" id="content"></textarea><br/>
			{if $_PHPCMS['comment_checkcode']}
	&nbsp;&nbsp;验证码：<input name="checkcode" type="text" id="checkcode" size="5" /> <img src="{PHPCMS_PATH}checkcode.php"  />&nbsp;
	{/if}&nbsp;&nbsp;<input name="submit" type="submit" class="btn" value=" 发表 " />&nbsp;&nbsp;<input name="reset" type="reset" class="btn" value=" 重置 " /></form>
			</li>
			<li>·请遵守《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律法规。 </li>
			<li>·严禁发表危害国家安全、损害国家利益、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容 。</li>
			<li>·用户需对自己在使用本站服务过程中的行为承担法律责任（直接或间接导致的）。</li> 
			<li>·本站管理员有权保留或删除评论内容。</li>
			</ul>
			
	</div>

</div>
</div>

{template 'phpcms','footer'}
