<script language="javascript" src="{PHPCMS_PATH}include/js/digg.js"></script>
<div id="digg_list_{$digg_defind}_{$digg_channelid}"></div>
<script type="text/javascript">
getAjax('{PHPCMS_PATH}digg/digg_list.php?','digg_channelid={$digg_channelid}&title_text={$title_text}&list_num={$list_num}&digg_defind={$digg_defind}&templateid={$templateid}&digg_mod={$digg_mod}&digg_catid={$digg_catid}&text_num={$text_num}&page_on={$page_on}&page={$page}&comment_on={$comment_on}&hits_on={$hits_on}','digg_list_{$digg_defind}_{$digg_channelid}')
</script>