<!--digg-->
{loop $digg_list $list}
<div id="digg_list">
{if getcookie($list['mod'].$list['digg_channel'].$list['text_id'])!=$list['text_id']}
<dl class="bg"  id="diggDivDo_{$list['mod']}_{$list['digg_channel']}_{$list['text_id']}"><p>{$list['digg_hits']}</p><span style="cursor:hand" onClick="getAjax('{PHPCMS_PATH}digg/digg_add.php?','channelid={$list['digg_channel']}&digg_mod={$list['mod']}&id={$list['text_id']}&con=2','diggDivDo_{$list['mod']}_{$list['digg_channel']}_{$list['text_id']}')">顶一下</span></dl>
{else}
<dl class="bg"  id="diggDivDo_{$list['mod']}_{$list['digg_channel']}_{$list['text_id']}"><p>{$list['digg_hits']}</p><span><a href="{PHPCMS_PATH}{$list['digg_link']}">查看</a></span></dl>
{/if}
<div><h2><a href="{PHPCMS_PATH}{$list['digg_link']}" target="_blank" >{$list['digg_title']}</a></h2>
{$list['digg_text']}</div>
<dt><span id="b_1">{$list['digg_comment']}条评论</span><span id="b_2">{$CHANNEL[$list['digg_channel']]['channelname']}频道</span><span id="b_3">{$list['hits']} 位访客</span></dt>
</div>{/loop}