.ov {
	cursor:pointer;
	width:19px;
	height:19px;
	border-top:#FFFFFF 1px solid;
	border-left:#FFFFFF 1px solid;
}
.ot {
	width:20px;
	height:20px;
	border:none;
	background:none;
}
.select {
	margin-right:2px;
	float:left;
	font-size:12px;
	background:#F1F1F1;
}
.tb {
	background:#EEEEEE;
	border:#B6B6B6 1px solid;
}