<div class="blank10"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="10" alt="" /></div>

<div class="main">
	<div id="footer">
	{$showdefinedpage(0)}<a href="{PHPCMS_PATH}guestbook/?channelid={$channelid}">留言本</a><br />
	{$_PHPCMS['copyright']}<br />
	<a href="http://validator.w3.org/check?uri=referer" target="_blank"><span class="px10">XHTML1.0 + CSS 2.0</span></a>&nbsp;
	<a href="http://master8.net" target="_blank"><span class="px10">Designed By Master8.NET</span></a>
	</div>
</div>
<div class="blank10"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="10" alt="" /></div>
<script type="text/javascript" src="{PHPCMS_PATH}include/js/Std_StranJF.Js"></script>
{$copyright()}
</body>
</html>
{$output()}