<script language="JavaScript" src="{PHPCMS_PATH}include/js/flash.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--//--><![CDATA[//><!--
//注意：此flash焦点图必须保证图片数量为 4 幅，不可多不可少！
var pics="{$flash_pics}";
var mylinks="{$flash_links}";
var texts="{$flash_texts}";
var Flash = new Flash("{PHPCMS_PATH}images/flash.swf","Flash","240","230","5","#ffffff");
Flash.addParam("quality", "high");
Flash.addParam("salign", "t");
Flash.addVariable("p",pics);
Flash.addVariable("l",mylinks);
Flash.addVariable("icon",texts);
Flash.write("flash");
//--><!]]>
</script>