{template 'phpcms','header'}
<div class="main">
	<div class="rec">

		<div class="rec_pic">{$slidepicarticle(0,1,0,1,0,5,30,1,0,1,220,220,5000,-1)}</div>

		<div class="rec_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="5" height="5" alt="" /></div>

		<div class="rec_content">
		<ul style="padding:6px;">
		<li class="li_header"><img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />推荐{$_CHANNEL[1][channelname]}</li>
		{$articlelist(0,1,0,1,0,0,10,30,0,1,0,1,2,1,0,0,1,1)}
		</ul>
		</div>

		<div class="rec_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="5" height="5" alt="" /></div>

		<div class="rec_right">
		<ul style="padding:6px;">
		<li class="li_header">最新专题</li>
		{$speciallist(0,1,0,0,10,24,0,0,0,0,100,100,1)}
		</ul>
		</div>
	</div>
</div>

<div class="blank5"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="5" alt="" /></div>
<div class="main" style="background:red"><script type="text/javascript" src="{PHPCMS_PATH}ads/ads.php?id=2"></script></div>
<div class="blank5"><img src="{PHPCMS_PATH}images/spacer.gif" width="1" height="5" alt="" /></div>

<div class="main">
<div class="main_content">
	<div class="main_left">
{loop $cha_articles $i $cha}
		<div class="left_box_1">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />最新{$cha[channelname]}</li>
			{$articlelist(0,$cha[channelid],0,1,0,0,10,26,0,0,0,1,0,1,0,0,1,1)}
			</ul>
		</div>

		<div class="main_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>

		<div class="left_box_1">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />热点{$cha[channelname]}</li>
			{$articlelist(0,$cha[channelid],0,1,0,0,10,26,0,0,60,5,0,1,0,0,1,1)}
			</ul>
		</div>
{/loop}

{loop $cha_pictures $i $cha}
		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />最新{$cha[channelname]}
			</li>
			</ul>
			<ul>
			{$picpicture(0,$cha[channelid],0,1,0,0,5,12,0,0,0,1,1,0,100,100,3)}
			</ul>
		</div>

		<div class="left_box_2">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />热门{$cha[channelname]}
			</li>
			</ul>
			<ul>
			{$picpicture(0,$cha[channelid],0,1,0,0,5,12,0,0,60,5,1,0,100,100,3)}
			</ul>
		</div>
{/loop}

{loop $cha_downs $i $cha}
		<div class="left_box_1">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />最新{$cha[channelname]}</li>
			{$downlist(0,$cha[channelid],0,1,0,0,10,26,0,0,0,1,0,1,0,0,0,0,1,1)}
			</ul>
		</div>

		<div class="main_nav"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>

		<div class="left_box_1">
			<ul style="padding:6px;">
			<li class="li_header">
			<span class="f_r"><a href="{$cha[channelurl]}"><img src="{PHPCMS_PATH}images/more.gif" width="34" height="9" alt="More" /></a></span>
			<img src="{$skindir}/images/arrow.gif" width="15" height="15" alt="" />热点{$cha[channelname]}</li>
			{$downlist(0,$cha[channelid],0,1,0,0,10,26,0,0,60,5,0,1,0,0,0,0,1,1)}
			</ul>
		</div>
{/loop}
		
	</div>
	<div class="main_right">

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">用户排行</li>
		{$user_itemstop(10)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">投票调查</li>
		{$voteshow(0,0,0)}
		</ul>
		</div>

		<div class="right_box">
		<ul style="padding:6px;">
		<li class="li_header">友情链接</li>
		{$linklist(0,0,1,0,10,2)}
		{$linklist(0,0,0,0,10,2)}
		</ul>
		</div>


	</div>
</div>
</div>
{template 'phpcms','footer'}