{template 'phpcms','header'}
<script type="text/javascript">
	function changediv(id)
	{
		if(document.getElementById("cate_info_"+id).style.display == "block") return;
		for(var i=1; i<=3; i++)
		{
		 try {
			 document.getElementById("cate_"+i).className = "";
			 document.getElementById("cate_info_"+i).style.display = "none";
		     }catch(e) {}
		}
		document.getElementById("cate_"+id).className = "current";  
		document.getElementById("cate_info_"+id).style.display = "block";
	}
	function showContent(total, channelid, id)
	{
		for (var i = 0; i < total; i++)
		{
			var nav = document.getElementById('nav'+channelid+'_'+i);
			var showcontent = document.getElementById('showcontent'+channelid+'_'+i);
			if (i == id)
			{
				nav.className = 'xw-on';
				showcontent.style.display = "";
			}
			else
			{
				nav.className = 'xw-off';
				showcontent.style.display = "none";
			}
		}
	}
</script>
<div id="censent">
  <div id="left">
    <div class="boxmargin">
      <div id="flash"> {tag_首页幻灯片} </div>
      <div id="jhxx">
        <ul class="List-1">
          {tag_首页推荐信息}
        </ul>
      </div>
      <div id="clear"></div>
    </div>
    <div class="search">
      <script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script>
    </div>
    <div id="leftbanner"></div>
    <div class="boxmargin" id="hy">
{if isset($MODULE['house']) || isset($MODULE['yp']) || isset($MODULE['product'])}
     <link href="{$skindir}/newhy.css" rel="stylesheet" type="text/css" />
     <div id="RecomContent" class="MT imgborder">
        <ul class="CateMenu FLli">
		<!--{if isset($MODULE['house'])}-->
          <li class="current" id="cate_1"><a href="{$MODULE[house][linkurl]}" class="Cate" onmouseover="changediv('1');" target="_blank"><h3>房产</h3></a></li>
		<!--{/if}-->
		<!--{if isset($MODULE['yp'])}-->
          <li id="cate_2"><a href="{$MODULE[yp][linkurl]}" class="Map" onmouseover="changediv('2');" target="_blank"><h3>黄页</h3></a></li>
		<!--{/if}-->
		<!--{if isset($MODULE['product'])}-->
          <li id="cate_3"><a href="{$MODULE[product][linkurl]}" class="Cook" onmouseover="changediv('3');" target="_blank"><h3>商城</h3></a></li>
		<!--{/if}-->
        </ul>
        <div class="hackbox" id="up_button"></div>
		<!--{if isset($MODULE['house'])}-->
        <div id="cate_info_1">
          <div class="ContStyle">
            <div class="hackbox"></div>
            <div class="fcsleft">
              <div class="fcnew"> {tag_网站首页推荐楼盘} </div>
              <div class="fclisty">
                <ul>
                  {tag_网站首页最新楼盘}
                </ul>
              </div>
            </div>
            <div class="fcsright">
              <div class="fwzsy">
                <ul class="fwzsybt">
                  <li class="mcy1">名称</li>
                  <li class="mcy3">户型</li>
                  <li class="mcy2">价格</li>
                  <li class="mcy4" style="text-align: center">登记时间</li>
                </ul>
              </div>
              <div id="ac_yp0"> {tag_首页房产出租}</div>
            </div>
            <div style="clear:both"></div>
          </div>
        </div>
		<!--{/if}-->
		<!--{if isset($MODULE['yp'])}-->
        <div style="display:none;margin-left:1px;" id="cate_info_2">
          <div id="tempdiv" class="ContStyle MB">
            <div class="hylefty">
              <div class="boxmargin">
                <div class="zxxxy">
                  <div class="btfcyy">
                    <div>最新信息</div>
                  </div>
                  <ul>
                    {tag_网站首页-黄页新闻}
                  </ul>
                </div>
                <div class="zxzpy">
                  <div class="btfcyy">
                    <div>最新招聘</div>
                  </div>
                  {tag_网站首页-黄页招聘}</div>
              </div>
              <div class="qystjy">
                <div class="btfcyy">
                  <div>推荐企业</div>
                </div>
                {tag_网站首页企业推荐}</div>
            </div>
<div class="hyrighty">
    <div  class="hymltop"></div>
    <div class="hymlcenter">
	{tag_网站首页产品推荐}
    </div>
  </div>
            <div style="clear:both"></div>
          </div>
        </div>
        <div class="hackbox"></div>
        <div class="hackbox"></div>
		<!--{/if}-->
		<!--{if isset($MODULE['product'])}-->
        <div style="display:none;" id="cate_info_3">
          <div class="ContStyle">
			  <div class="hylefty1">
				<div class="btscy">推荐商品</div>
				<ul class="spbpx">
				{tag_首页推荐商品图文} 
				<div  style="clear:both"></div>
				</ul>
			  </div>
			  <div class="hyrighty1">
				<div class="hymltop1">
				<div class="hymlcenter1">
				  {tag_网站首页热点产品}
				</div>
				</div>
			  </div>
			  <div style="clear:both"></div>
			</div>
        </div>
        <div class="hackbox"></div>
      </div>
    </div>
	<!--{/if}-->
{/if}

    <!--{loop $channels['article'] $channelid $cha}-->
    <div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on" onClick="showContent(2, {$channelid}, 0)" id="nav{$channelid}_0"><span>{$cha[channelname]}</span></div>
          <div class="xw-off" onClick="showContent(2, {$channelid}, 1)" id="nav{$channelid}_1"><span>推荐文章</span></div>
        </li>
        <li class="xw-right"><a href="{$cha[linkurl]}">更多</a></li>
      </ul>
      <div class="xian boxl boxmargin wzss" id="showcontent{$channelid}_0"> {tag_网站首页推荐图片文章}
        <div id="w2">
          <ul class="List-1">
            {tag_网站首页最新文章}
          </ul>
        </div>
      </div>
      <div class="xian boxl boxmargin wzss" id="showcontent{$channelid}_1" style="display:none;">
        <div id="photoxh"><ul class="List-1">{tag_网站首页推荐文章}</ul></div>
      </div>
    </div>
    <!--{/loop}-->

    <!--{loop $channels['picture'] $channelid $cha}-->
    <div  class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on" onClick="showContent(2, {$channelid}, 0)" id="nav{$channelid}_0"><span>{$cha[channelname]}</span></div>
          <div class="xw-off" onClick="showContent(2, {$channelid}, 1)" id="nav{$channelid}_1"><span>推荐图片</span></div>
        </li>
        <li class="xw-right"><a class="more" href="{$cha[linkurl]}">更多</a></li>
      </ul>
      <div class="xian boxl boxmargin boxpadding" id="showcontent{$channelid}_0">
        <div id="photoxh">{tag_网站首页最新图片}</div>
      </div>
      <div class="xian boxl boxmargin boxpadding" id="showcontent{$channelid}_1" style="display:none;">
        <div id="photoxh">{tag_网站首页推荐图片}</div>
      </div>
      <div class="clear"></div></div>
      <!--{/loop}-->

	  <!--{loop $channels['info'] $channelid $cha}-->
      <div class="layout">
        <ul class="xw-1">
          <li class="xw-left">
            <div class="xw-on"><span>{$cha[channelname]}</span></div>
          </li>
          <li class="xw-right"><a href="{$cha[linkurl]}" class="more">更多</a></li>
        </ul>
        <div class="xian boxl boxmargin boxpadding">{tag_网站首页-最新分类信息}
        </div>
      </div>
      <!--{/loop}-->

	  <!--{loop $channels['movie'] $channelid $cha}-->
      <div class="layout">
        <ul class="xw-1">
          <li class="xw-left">
            <div class="xw-on" onClick="showContent(2, {$channelid}, 0)" id="nav{$channelid}_0"><span>{$cha[channelname]}</span></div>
            <div class="xw-off" onClick="showContent(2, {$channelid}, 1)" id="nav{$channelid}_1"><span>推荐影视</span></div>
          </li>
          <li class="xw-right"><a class="more" href="{$cha[linkurl]}">更多</a></li>
        </ul>
        <div class="xian boxl boxmargin boxpadding" id="showcontent{$channelid}_0">{tag_sp6首页影视}</div>
        <div class="xian boxl boxmargin boxpadding" id="showcontent{$channelid}_1" style="display:none;">{tag_sp6首页影视_推荐}</div>
      </div>
      <!--{/loop}-->
	</div>
  <div id="right">
{if isset($MODULE['announce'])}
    <div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on"><span>最新公告</span></div>
        </li>
        <li class="xw-right"> <a href="{$MODULE[announce][linkurl]}">更多</a></li>
      </ul>
      <div class="xian boxr boxmargin" id="ggnr">{tag_网站首页最新公告}</div>
    </div>
{/if}

{if isset($MODULE['wenba'])}
    <div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on"><span>在线问答</span></div>
        </li>
        <li class="xw-right"><a href="{$MODULE[wenba][linkurl]}">更多</a></li>
      </ul>
      <div class="xian boxr boxmargin">
        <div class="zxwddh"><strong>推荐问吧</strong>： {tag_首页推荐问吧}</div>
        <ul class="List-1">
          {tag_网站首页最新问答}
        </ul>
        <div align="center"><a href="{$MODULE[wenba][linkurl]}ask.php"><img src="{PHPCMS_PATH}images/wen.gif" width="137" height="49" border="0" /></a><a href="{$MODULE[wenba][linkurl]}browse.php?option=nosolve"><img src="{PHPCMS_PATH}images/da.gif" width="144" height="49" border="0" /></a></div>
      </div>
    </div>
{/if}

{if $channels['down']}
    <!--下载板块-->
    <div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on"><span>下载排行</span></div>
        </li>
        <li class="xw-right"></li>
      </ul>
      <!--{loop $channels['down'] $channelid $cha}-->
      <div class="xian boxr boxmargin" id="xzphnr">
        <h2><a class="more" href="{$cha[linkurl]}">{$cha[channelname]}</a></h2>
        <ul class="List-1">
          {tag_网站首页最新下载}
        </ul>
      </div>
      <!--{/loop}-->
    </div>
{/if}

{if isset($MODULE['digg'])}
    <div class="layout" style="margin-bottom:8px;">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on" ><span>Digg排行</span></div>
        </li>
        <li class="xw-right"><a href="{$MODULE[digg][linkurl]}list.php?digg_mod=article">更多</a></li>
      </ul>
      <div class="xian"> {tag_首页DIGG文章排行} </div>
    </div>
{/if}

{if isset($MODULE['link'])}
	<!--友情链接-->
	<div class="layout">
      <ul class="xw-1">
        <li class="xw-left">
          <div class="xw-on" ><span>友情链接</span></div>
        </li>
        <li class="xw-right"><a href="{$MODULE[link][linkurl]}">更多</a></li>
      </ul>
      <div class="xian">{tag_网站首页图片链接} {tag_网站首页文字链接}</div>
    </div>
	<script language="javascript">
	<!--
	function ajaxlink(id)
	{
		var url =  "{$MODULE[link][linkurl]}update_hits.php";
		var pars = "linkid="+id;
		var myajax = new ajax.request(url, { method: 'get', parameters: pars });
	}
	//-->
	</script>
{/if}
  </div>
</div>
{template 'phpcms','footer'}