<ul>
<form onSubmit="this.action=document.search.channelsearch.value" method="get" target="_blank" name="search">
<li>站内搜索：<input class="search-input" size="20" name="keywords" /></li>
<li><select name="channelsearch"> {loop $CHANNEL $channel} {if $channel['islink']==0}
<option value="{$channel[linkurl]}search.php">{$channel[channelname]}</option>
{/if} {/loop}
{if isset($MODULE['product'])}
<option value="{$MODULE['product']['linkurl']}search.php">{$MODULE['product']['name']}</option>
{/if}</select> 
</li>
<li><input class="search-input" type="hidden" name="search" value="1" /></li>
<li><input type="image" src="{$skindir}/images/ss.gif" name="submit" value=" 搜 索 " /></li>
 </form></ul>