<div id="tpxwlb-1" class="bgcss">
{loop $specials $i $special}
<div id="itit">
        <div class="tit_imgs"> <a href='{$special[linkurl]}' target='_blank'><img src="{$special[specialpic]}" width="{$imgwidth}" height="{$imgheight}" /></a><!--缩略图 --> </div>
        <div class="itit_info">
          <h4><a href='{$special[linkurl]}'>{$special[specialname]}</a> [{$special[adddate]}]<!--专题名称 --></h4>
          </div>
        <p>{$special[introduce]}<!--简介信息 --></p>
        <div style="clear:both"></div>
      </div>
      <div style="clear:both"></div>
{/loop}
<div style="clear:both"></div>
 </div>
{if $pages}
<div class="pages">{$pages}</div>
{/if}