<div id=3dswf align="center"></div>
<script language=JavaScript src="{PHPCMS_PATH}js/3dswf.js"></script>
<script type="text/javascript">
//<![CDATA[
var pics='{$flash_pics}';
var links='{$flash_links}'; 	
var texts='{$flash_texts}';
	
	var sohuFlash2 = new sohuFlash("{PHPCMS_PATH}images/3dswf.swf","sohuFlashID01","{$imgwidth}","{$imgheight}","6","#ffffff");
	sohuFlash2.addParam("quality", "high");
	sohuFlash2.addParam("salign", "t");
	sohuFlash2.addParam("wmode", "opaque");
	sohuFlash2.addVariable("pics",pics);
	sohuFlash2.addVariable("links",links);
	sohuFlash2.addVariable("texts",texts);
	sohuFlash2.write("3dswf")
//]]>
</script>