{template 'wenba','header'}
<div id="middle">
<div id="left">
<div class="t3 bcb bgb">问题分类</div>
<div class="b3 bcb mb12">
<span class="grn">已解决的问题数 {$solve_ques_count}<br />待解决的问题数 {$nosolve_ques_count}</span><hr size="1" color="#999999" />
{loop $CATEGORY $i $cat}
{if !$cat[parentid]}<span class="f14b"><a href="{$cat[linkurl]}">{$cat[catname]}</a></span><br />
	{loop $CATEGORY $j $childcat}
		{if $childcat[parentid]==$cat[catid]} <a href="{$childcat[linkurl]}" class="sort">{$childcat[catname]}</a> &nbsp;{/if}
	{/loop}
	<br />
{/if}
{/loop}
</div>
</div>
<div id="right">
<div class="t3 bcb bgb"><a class="lbk" href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=week">上周积分排行榜</a></div>
<div class="b3 bcb mb12">
<div class="w100">
{tag_上周积分排行榜}
<div class="lmore"><a class=lmore href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=week">更多</a>&nbsp;&nbsp;</div>
</div>
</div>
<div class="t3 bcb bgb"><a class="lbk" href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=month">上月积分排行榜</a></div>
<div class="b3 bcb mb12">
<div class="w100">
{tag_上月积分排行榜}
<div class="lmore"><a class=lmore href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=month">更多</a>&nbsp;&nbsp;</div>
</div>
</div>
<div class="t3 bcb bgb"><a class="lbk" href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=all">总积分排行榜</a></div>
<div class="b3 bcb mb12">
<div class="w100">
{tag_总积分排行榜}
<div class="lmore"><a class="lmore" href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/scorelist.php?option=all">更多</a>&nbsp;&nbsp;</div>
</div>
</div>
</div>
<div id="center">
<div class="w100">
<div class="t3 bcb bgb"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=commend" class="lbk">推荐的问题</a></div>
<div id="qlist" class="b3 bcb mb12">
<div class="w100">
{tag_推荐的问题}
<div class="lmore"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=commend" class="lmore">更多</a></div>
</div>
</div>
<div class="t3 bcb bgb"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=nosolve" class="lbk">待解决问题</a></div>
<div id="qlist" class="b3 bcb mb12">
<div class="w100">
{tag_待解决问题}
<div class="lmore"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=nosolve" class="lmore">更多</a></div>
</div>
</div>
<div class="t3 bcb bgb"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=solve" class="lbk">已解决问题</a></div>
<div id="qlist" class="b3 bcb mb12">
<div class="w100">
{tag_已解决问题}
<div class="lmore"><a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/browse.php?option=solve" class="lmore">更多</a></div>
</div>
</div>
</div>
</div>
</div>
<!--{if $flcount}-->
<div id="friend">
<hr width="98%" size="1" color="#698cc3" />
<!--{loop $links_list $link_list}-->&nbsp;<a href="http://{$link_list['url']}" target="_blank">{$link_list['name']}</a>&nbsp;
<!--{/loop}-->
</div>
<!--{/if}-->
{template 'phpcms','footer'}