{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
	<tr>
		<td valign="top" class="left">
			{template 'member','left'}
		</td>
		<td width="10">
		</td>
		<td class="right" valign="top">
			<h1>我的提问</h1>
			<div class="nav_1">
			  <li onmouseover="this.style.cursor='hand'" {if $action=='all'}class="bg_nav"{else}class="bg_nav_current"{/if}><a href="{PHPCMS_PATH}wenba/member_index.php?action=all">全部问题</a></li>
			  <li onmouseover="this.style.cursor='hand'" {if $action=='outtime'}class="bg_nav"{else}class="bg_nav_current"{/if}><a href="{PHPCMS_PATH}wenba/member_index.php?action=outtime">过期提问</a></li>
			  <li onmouseover="this.style.cursor='hand'" {if $action=='vote'}class="bg_nav"{else}class="bg_nav_current"{/if}><a href="{PHPCMS_PATH}wenba/member_index.php?action=vote">投票中的提问</a></li>
			</div>
				<table cellpadding="2" cellspacing="1" class="righttable" border="0">
					<tr>
						<td width="67%" class="td_center">标题&nbsp;</td>
						<td width="7%" class="td_center">回答数&nbsp;</td>
						<td width="6%" class="td_center">状态&nbsp;</td>
						<td width="20%" class="td_center">提问时间&nbsp;</td>
					</tr>
					<!--{if $all_questionlist}-->
					<!--{loop $all_questionlist $question}-->
					<tr>
						<td width="67%" class="td_left">
						<a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/question.php?qid={$question['qid']}" title="点击查看问题的详细信息">{$question['title']}</a>&nbsp;
						</td>
						<td width="7%" class="td_center">{$question['answercount']}&nbsp;</td>
						<td width="6%" class="td_center">
						<!--{if $question['status']==1}-->
						<img src="{$PHPCMS[siteurl]}images/icn_time.gif">
						<!--{elseif $question['status']==2}-->
						<img src="{$PHPCMS[siteurl]}images/icn_ok.gif">
						<!--{elseif $question['status']==3}-->
						<img src="{$PHPCMS[siteurl]}images/icn_vote.gif">
						<!--{else}-->
						<img src="{$PHPCMS[siteurl]}images/icn_cancel.gif">
						<!--{/if}-->&nbsp;
						</td>
						<td width="20%" class="td_center">{$question['asktime']}&nbsp;</td>
					</tr>
					<!--{/loop}-->
					<tr>
					<td width="67%" colspan=4 align="center">{$pages}</td>
					</tr>
					<!--{else}-->
					<tr>
						<td colspan="6" align="center">
							<font color="red"><strong>对不起，您暂时还没有任何提问.</strong></font>
						</td>
					</tr>
					<!--{/if}-->
					<tr>
				</table>
		</td>
	</tr>
</table>
{template 'phpcms','footer'}
