{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
	<tr>
		<td valign="top" class="left">
			{template 'member','left'}
		</td>
		<td width="10">
		</td>
		<td class="right" valign="top">
			<h1>我的回答</h1>
			<div class="nav_1">
			  <li onmouseover="this.style.cursor='hand'" {if $status==''}class="bg_nav"{else}class="bg_nav_current"{/if}><a href="?action=all">全部回答</a></li>
			  <li onmouseover="this.style.cursor='hand'" {if $status==1}class="bg_nav"{else}class="bg_nav_current"{/if}><a href="?status=1">被采纳的回答</a></li>
			</div>
				<table cellpadding="2" cellspacing="1" class="righttable" border="0">
					<tr>
						<td width="57%" class="td_center">标题&nbsp;</td>
						<td width="7%" class="td_center">回答数&nbsp;</td>
						<td width="6%" class="td_center">状态&nbsp;</td>
						<td width="10%" class="td_center">被采纳答案</td>
						<td width="26%" class="td_center">提问时间&nbsp;</td>
					</tr>
					<!--{if count($answers)}-->
					<!--{loop $answers $list}-->
					<tr>
						<td width="57%" class="td_left">
						<a href="{$PHPCMS[siteurl]}{$MOD[moduledir]}/question.php?qid={$list['qid']}" title="点击查看问题的详细信息">{$list['title']}</a>&nbsp;
						</td>
						<td width="7%" class="td_center">{$list['answercount']}&nbsp;</td>
						<td width="6%" class="td_center">
						<!--{if $list['status']==1}-->
						<img src="{$PHPCMS[siteurl]}images/icn_time.gif">
						<!--{elseif $list['status']==2}-->
						<img src="{$PHPCMS[siteurl]}images/icn_ok.gif">
						<!--{elseif $list['status']==3}-->
						<img src="{$PHPCMS[siteurl]}images/icn_vote.gif">
						<!--{else}-->
						<img src="{$PHPCMS[siteurl]}images/icn_cancel.gif">
						<!--{/if}-->&nbsp;
						</td>
						<td width="10%" class="td_center">{if $list['accept_status']}<img src="{$PHPCMS[siteurl]}images/best_answer.gif">{else}&nbsp;{/if}</td>
						<td width="26%" class="td_center">{$list['asktime']}&nbsp;</td>
					</tr>
					<!--{/loop}-->
					<tr>
					<td width="67%" colspan=4 align="center">{$pages}</td>
					</tr>
					<!--{else}-->
					<tr>
						<td colspan="6" align="center">
							<font color="red"><strong>对不起，您暂时还没有任何回答.</strong></font>
						</td>
					</tr>
					<!--{/if}-->
					<tr>
				</table>
		</td>
	</tr>
</table>
{template 'phpcms','footer'}
