<div class="subt bgb">共有相关问题{$total}项</div>

<table class="tlp4" id="tl" cellspacing="0" width="100%" border="0">
	<tr>
		<td class="nl" height="30">标题</td>
		<td class="nl" align="center" width="10%">回答数</td>
		<td class="nl" align="center" width="10%">状态</td>
		<td class="nl" align="center" width="15%">提问时间</td>
	</tr></table >
<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
<!--{loop $question $i $g}-->
<!--{if $i%$cols==0}--><tr><!--{/if}-->
		<td height="30" class="line_1">
		<!--{if $g['score']}-->
			<img width="12" height="11" align="absmiddle" alt="悬赏分" src="{$PHPCMS[siteurl]}images/money.gif" /><span class="red" title="悬赏分">{$g['score']}</span>
		<!--{/if}--> 
		{if $showcatname}&nbsp;&nbsp;[<a href="{$MODULE['wenba']['linkurl']}browse.php?catid={$g['catid']}" class="lgy">{$g['catname']}</a>]{/if}
		 <span><a href="{$MODULE['wenba']['linkurl']}question.php?qid={$g['qid']}" {$target}>{$g['title']}</a></span>
		
		</td>
		<td align="center" width="10%" class="line_1">{$g['answercount']}</td>
		<td align="center" width="10%" class="line_1">
<!--{if $g['status']==1}-->
			<img src="{$PHPCMS[siteurl]}images/icn_time.gif">
			<!--{elseif $g['status']==2}-->
			<img src="{$PHPCMS[siteurl]}images/icn_ok.gif">
			<!--{elseif $g['status']==3}-->
			<img src="{$PHPCMS[siteurl]}images/icn_vote.gif">
			<!--{else}-->
			<img src="{$PHPCMS[siteurl]}images/icn_cancel.gif">
			<!--{/if}-->
		</td>
		<td align="center" width="15%" class="line_1">{$g[adddate]}</td>
<!--{if $i%$cols==($cols-1)}--></tr><!--{/if}-->
<!--{/loop}-->
</table>

{if $pages}
<div class="askpages">{$pages}</div>
{/if}