<link href="{$skindir}/wenba.css" rel="stylesheet" type="text/css">
<div class="t3 bgb bcb">投票结果</div>
<div class="b3 bcb mb12">
<div class="w100">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td class="f14" width="15%" align="left">回答者</td>
		<td width="5%" align="center">票数</td>
		<td width="80%" align="left">图示分析</td>
	</tr>
<!--{if $num}-->
<!--{loop $viewvotelist $view_vote}-->
	<tr>
		<td class="f14" width="15%">{$view_vote['username']}</td>
		<td width="5%" align="center">{$view_vote['vote_count']}</td>
		<td width="80%" align="left"><hr color="red" width="{$view_vote['view_vote']}">{$view_vote['view_vote']}</td>
	</tr>
<!--{/loop}-->
<!--{else}-->
	<tr>
		<td colspan="3"><font color="red">对不起，此问题暂时没有投票，欢迎您成为投票该问题的第一人. </font></td>
	</tr>
<!--{/if}-->
</table>
</div>
</div>
<div align="center"><a href="javascript:;" onclick="window.close();">关闭</a></div>