{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}</td>
<td width="10" valign="top">
</td>
<td valign="top" class="right">
当前位置：<a href="{$MODULE[ask][linkurl]}">咨询首页</a>
<br />
<br />
{template 'ask','menu'}

<div class="clearboth"></div>
<div class="memberborder_1">
<div class="memberborder_2">
{loop $departments $departmentid $department}
<h1>{$department[department]} —— <a href="{$MOD[linkurl]}post.php?departmentid={$department[departmentid]}">我要提问</a>{if $department[point]} [需扣 {$department[point]} 点]{/if}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$MOD[linkurl]}list.php?departmentid={$department[departmentid]}">更多 &gt;&gt;</a></h1>
<table cellpadding="2" cellspacing="1" class="righttable">
{loop $asks[$departmentid] $ask}
<tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor="#ffffff">
<td width="*" class="td_left"><a href="{$MOD[linkurl]}show.php?askid={$ask[askid]}">·{$ask[subject]}</a></td>
<td width="10%" class="td_center">{$ask[stat]}</td>
<td width="18%" class="td_center">{$ask[addtime]}</td>
</tr>
{/loop}
</table>
{/loop}

</div>
</div>
</td>
</tr>
 </tbody>
</table>
{template 'phpcms','footer'}