{template 'phpcms','header'}
<link href="{$skindir}/infor.css" rel="stylesheet" type="text/css">
<link href="{$skindir}/down.css" rel="stylesheet" type="text/css" />
<!--频道下属栏目列表-->
<div id="censent"><!--content-->
  <div id="rightinfor">
  <div class="boxmargin"id="bt11">当前位置：<a href="{$channelurl}">{$channelname}首页</a> &gt;&gt; {$position} 

<script type="text/javascript">
function D_on(Id){
	$(Id).style.display = '';
}
function D_off(Id){
	$(Id).style.display = 'none';
}
</script>
		<a href="javascript:D_on('showprovince')" class="tit"><span style="color:#FF0000">切换地区</span></a>
<div style="padding:5px;position: absolute;width:310px;border:#FFCC00 2px solid;display:none;z-index:3;margin:-20px 0 0 -60px;background:#FFFFFF;" id="showprovince" onmouseover="D_on(this)" onmouseout="D_off(this)">
{if $areaid}<span style="font-size:14px;font-weight:bold;">当前地区:<span style="color:red">{$AREA[$areaid]['areaname']}</span></span><br/>{/if}
{loop $AREA $v}{if $v['parentid']==0}<a href="{$v['linkurl']}">{$v['areaname']}</a>&nbsp;{/if}{/loop}&nbsp;</div></div>
  <div class="area_dh">
<div class="housexx">
		   <ul>
		{loop $arrchildid $i $v}<li>
        <a href="{$v['linkurl']}">{$v['areaname']}</a>
		</li>{/loop}
		</ul></div></div>
<!--本类信息分类列表-->
{tag_终极地区信息列表}
  </div>
  <div id="leftinfor">
    <div class="boxmargin"><a href="{$channelurl}contribute.php"><img src="{$skindir}/images/fbxx.gif" /></a>&nbsp;<a href="{$MODULE[member][linkurl]}register.php"><img src="{$skindir}/images/mfzc.gif" /></a></div>
        <div  class="boxmargin "><script language="javascript" src="{PHPCMS_PATH}data/js/5.js"></script></div>
<div  class="layout">
            <ul class="xw-1">
            <li class="xw-left">
            <div class="xw-onn"><span>地区热点信息</span></div>
            </li>
            <li class="xw-right"></li></ul>
            <div class="xian boxr boxmargin ">
<ul class="List-1">{tag_本地区热点信息}</ul>
    </div>
  </div>
</div>
</div>
{template 'phpcms','footer'}