{template 'phpcms','header'}
<link href="{$skindir}/infor.css" rel="stylesheet" type="text/css">
<div id="censent">
  <!--content-->
  <div  id="rightinfor">
    <div class="xianinfor boxl boxmargin" id="articlecontent0">
      <div class="nrinfor">
        <h3>{$title}</h3>
        <div class="biaoti">&nbsp;&nbsp;&nbsp;&nbsp;ID号：{$infoid}&nbsp;&nbsp;发布日期： {$adddate} &nbsp;&nbsp; 截止日期： {$enddate}&nbsp;&nbsp;地区：<a href="{$AREA[$areaid]['linkurl']}">{$AREA[$areaid]['areaname']}</a> 浏览次数：<span id="hits">{$hits}</span></div>
        {loop $fields $v}
        <p> {$v[title]}：{$v[value]}</p>
        {/loop}
        
        <p>{$content}</p>
      </div>
      <div id="clear"></div>
      <div class="ieeinfor">
        <div class="ipinfor">
          <h3><strong>联系方式</strong></h3>
		  {if $point_message}
		  {$point_message}
		  {else}
          <ul>
            <li><strong>联系人：</strong><a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$author}</a></li>
            <li><strong>电　话：</strong>
              <script type="text/javascript" src="{PHPCMS_PATH}toimg.php?auth={$urlencode(phpcms_auth($telephone, 'ENCODE', $PHPCMS['authkey']))}"></script>
            </li>
            <li><strong>地　址：</strong>{$address} </li>
            <li> <strong>E-mail：</strong>
              <script type="text/javascript" src="{PHPCMS_PATH}toimg.php?auth={$urlencode(phpcms_auth($email, 'ENCODE', $PHPCMS['authkey']))}"></script>
            </li>
            <li> <strong>Q Q：</strong><a href="http://wpa.qq.com/msgrd?V=1&Uin={$qq}&Site={$PHP_DOMAIN}&Menu=yes" title="点击QQ交谈" target="_blank">{$qq}</a></li>
          </ul>
		  {/if}
        </div>
        <div class="ipinfor">
          <h3><strong>发布人信息</strong></h3>
          <ul>
            <li><strong>发布人：</strong><a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$username}</a></li>
            <li><strong>目前身份：</strong><span id="span_group"></span></li>
            <li><strong>最后登陆：</strong><span id="span_lastlogintime"></span></li>
            <li><strong> E-mail：</strong><span id="span_email"></span></li>
            <li><a href="{PHPCMS_PATH}member/member.php?username={$username}&channelid={$channelid}" target="_blank">查看用户发布的所有信息 >></a></li>
          </ul>
        </div>
        <div style="clear:both;"></div>
		<div id="bt111"><span class="STYLE1">相关信息</span></div>
		<div id="down-jies">
          {tag_相关信息} 
        </div>
        <div id="bt111"><span class="STYLE1">相关评论</span></div>
        <div id="down-jies">
          <script type="text/javascript" src="{$MODULE['comment']['linkurl']}list_js.php?keyid={$channelid}&itemid={$infoid}&commentnum=10&ordertype=1&title={$urlencode($title)}"></script>
        </div>
        </div>
    </div>
  </div>
  <div id="leftinfor">
    <div class="boxmargin infortp"><img src="{$thumb}" width="290" /></div>
    <div class="boxmargin"><a href="{$channelurl}contribute.php" ><img src="{$skindir}/images/fbxx.gif" /></a>&nbsp;<a href="{$MODULE[member][linkurl]}register.php"><img src="{$skindir}/images/mfzc.gif" /></a></div>
    <div  class="boxmargin "><script language="javascript" src="{PHPCMS_PATH}data/js/5.js"></script></div>
    <div  class="layout">
            <ul class="xw-1">
            <li class="xw-left">
            <div class="xw-onn"><span>热点信息</span></div>
            </li>
            <li class="xw-right"></li></ul>
            <div class="xian boxr boxmargin ">
<ul class="List-1">{tag_本类热点信息}</ul>
		  <div id="clear"></div>
 </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{$channelurl}show_js.php?itemid={$itemid}"></script>
{template 'phpcms','footer'}