{template 'phpcms','header'}
<script type="text/javascript">
// 表单提交检测
function doCheck(){
	// 检测表单的有效性
	// 如：标题不能为空，内容不能为空，等等....
	if ($('catid').value=='0'){
		alert('指定的栏目不允许添加信息！只允许在其子栏目中添加信息。');
		$('catid').focus();
		return false;
	}
	if ($('title').value=='') {
		alert('对不起，标题不能为空！');
        $('title').focus();
		return false;
	}
	if ($('author').value=='') {
		alert('对不起，联系人不能为空！');
        $('author').focus();
		return false;
	}
	if ($('telephone').value=='') {
		alert('对不起，电话不能为空！');
        $('telephone').focus();
		return false;
	}
	{if $MOD['check_code']}
	if ($('checkcodestr').value=='') {
		alert("请输入验证码！");
		$('checkcodestr').focus();
		return false;
	}
	{/if}

}
</script>
<div class="memberborder_1">
<div class="memberborder_2">
<h1>发布信息</h1>
<form action="{$PHPCMS[siteurl]}{$CHA[channeldir]}/contribute.php" method="post" name="myform" onsubmit="return doCheck();">
<table cellpadding="2" cellspacing="1" class="righttable">
<tbody>
<tr>
<td width="15%" class="td_right"><strong>类别</strong></td>
<td class="td_left">{$category_select}</td>
</tr>
<tr>
<td class="td_right"><strong>地区</strong></td>
<td class="td_left">
{ajax_area_select('areaid', $channelid)}
</td>
</tr>
<tr>
<td class="td_right"><strong>标题</strong><font color="red">*</font></td>
<td class="td_left">{$type_select} <input type="text" name="title" size="50"> </td>
</tr>
<tr>
<td class="td_right"><strong>截至日期</strong></td>
<td class="td_left">{$date_select('endtime')}&nbsp;格式：yyyy-mm-dd 留空表示不限</td>
</tr>
<tr> 
<td class="td_right"><strong>标题图片</strong> </td>
<td class="td_left">
<input name="thumb" type="text" id="thumb" size="50"> <input type="button" value="上传图片" onclick="javascript:openwinx('{PHPCMS_PATH}upload.php?keyid={$channelid}&uploadtext=thumb&type=thumb&width=150&height=150','upload','360','300')">          </td>
</tr>
<tr>
<td class="td_right"><strong>内容</strong><font color="red">*</font></td>
<td class="td_left">
<textarea name="content" id="content" cols="100" rows="25"></textarea>{$editor("content",$MOD['editor_mode'],$MOD['editor_width'],$MOD['editor_height'])}
</td>
</tr>
<tr>
<td class="td_right"><strong>联系人</strong><font color="red">*</font></td>
<td class="td_left"><input type="text" name="author" size="40"></td>
</tr>
<tr>
<td class="td_right"><strong>电话</strong><font color="red">*</font></td>
<td class="td_left"><input type="text" name="telephone" size="40"></td>
</tr>
<tr>
<td class="td_right"><strong>地址</strong></td>
<td class="td_left"><input type="text" name="address" size="40"></td>
</tr>
<tr>
<td class="td_right"><strong>E-mail</strong></td>
<td class="td_left"><input type="text" name="email" size="40"></td>
</tr>
<tr>
<td class="td_right"><strong>MSN</strong></td>
<td class="td_left"><input type="text" name="msn" size="40"></td>
</tr>
<tr>
<td class="td_right"><strong>Q Q</strong></td>
<td class="td_left"><input type="text" name="qq" size="40"></td>
</tr>
{$fields}
{if $MOD['check_code']}
    <tr> 
      <td class="td_right"><strong>验证码</strong></td>
      <td class="td_left"><input name="checkcodestr" type="text" size="15" id="checkcodestr">
	  <img src="{PHPCMS_PATH}checkcode.php" id="checkcode" onclick="this.src='{PHPCMS_PATH}checkcode.php?id='+Math.random()*5;" style="cursor:pointer;" alt="验证码,看不清楚?请点击刷新验证码" align="absmiddle"/></td>
    </tr>
{/if}
<tr>
<td class="td_right"></td>
<td class="td_left">
<input type="submit" name="dosubmit" value="发布信息">
</td>
</tr>
</tbody>
</table>
</form>
</div></div>
{template 'phpcms','footer'}
