{template 'phpcms','header'}
<link href="{$skindir}/infor.css" rel="stylesheet" type="text/css">
<div id="censent"><!--content-->
  <div  id="rightinfor"><div class="boxmargin"><div class="flashinfor">
          <div id="flash">
{tag_首页幻灯片}
</div>
</div>
<div id="infor_top">
              <ul class="List-1">
 {tag_信息频道首页推荐}
</ul></div>
<div id="clear"></div>
</div>
<div class="search">
<script language="JavaScript" src="{PHPCMS_PATH}data/js/search.js"></script></div> 
        <div class="boxmargin" id="hy"><!--切换1开始-->
</div>
        <div class="xianinfor boxmargin" id="articlecontent0">
		 {loop $childcats $i $cat}
          <div class="infornew"><h3><a href="{$cat[linkurl]}" target="{$cat[target]}">
		  {$cat[catname]}</a></h3>
          <ul class="List-1">
		  {tag_信息频道首页栏目最新}
</ul></div>{/loop}
    </div>
        <div class="clear"></div>

  </div>  <div id="leftinfor">
    <div class="boxmargin"><a href="{$channelurl}contribute.php"><img src="{$skindir}/images/fbxx.gif" border="0" /></a>&nbsp;<a href="{$MODULE[member][linkurl]}register.php"><img src="{$skindir}/images/mfzc.gif" /></a></div>
        <div class="layout">
            <ul class="xw-1">
            <li class="xw-left">
            <div class="xw-onn">按地区浏览</div>
            </li>
            <li class="xw-right"></li></ul>
          <div class="xian boxr boxmargin">
          <div class="housexx">
		   <ul>{loop $mainareas $i $v}
		<li><a href="{$v['linkurl']}" target="_blank">{$v['areaname']}</a></li>
	  {/loop}
        </ul></div></div>
    </div>
        <div  class="boxmargin "><script language="javascript" src="{PHPCMS_PATH}data/js/5.js"></script></div>
<div  class="layout">
            <ul class="xw-1">
            <li class="xw-left">
            <div class="xw-onn"><span>栏目分类</span></div>
            </li>
            <li class="xw-right"></li></ul>
            <div class="xian boxr boxmargin ">

{loop $childcats $i $cat}			
			<div class="housexx"><a href="{$cat[linkurl]}"><h2><span>{$cat[catname]}</span></h2></a><ul>
          {loop $subcats[$i] $k $c}<li><a href="{$c['linkurl']}">{$c[catname]}</a>({$c[items]})</li>{/loop}</ul>
		  <div id="clear"></div>
 </div>
{/loop} 

    </div>
  </div>
</div>
</div>
{template 'phpcms','footer'}