<!--分类信息开始-->
<div class="yp_qg">
<ul class="yp_qg_ul">
<li class="s_1 s_1_1">类型</li>
<li class="s_2 s_1_1">信息标题</li>
<li class="s_4 s_1_1">地区</li>
<li class="s_4 s_1_1">日期</li>
</ul>
{loop $infos $i $info}<ul>
<li class="s_1">{$info[type]}</li>
<li class="s_2 "><a href="{$info[linkurl]}" title="{$info[title]}" {$target} class="tag_title_link">{$info[stitle]}</a></li>
<li class="s_4"><a href="{$AREA[$info[areaid]][linkurl]}">{$AREA[$info[areaid]][areaname]}</a></li>
<li class="s_4">{if $datetype}{$info[adddate]}{/if}</li>
</ul>{/loop}
<div style="clear:both"></div>
</div>
{if $pages}
<div class="pages">{$pages}</div>
{/if}<!--分类信息结束-->