{loop $infos $i $info}
<li style="width:{$width}">
{if $datetype}<span class="datetime f_r">{$info[adddate]}</span>{/if}·{if $showcatname}<a href="{$info[catlinkurl]}"{$target}>[{$info[catname]}]</a>{/if}<a href="{$info[linkurl]}" title="{$info[title]}" {$target} class="tag_title_link">{$info[stitle]}</a>
{if $showhits}({$info[hits]}){/if}
{if $showauthor}[作者:{$info[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$info[introduce]}</span>{/if}    
</li>
{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}