/* comment 0709 edit */
.end_pl{
	width:70%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
}
.pinglun {
	margin:4px auto;
	width: 100%;
}
.end_pl .title_c{text-align:left; clear:both;height:35px; background:url(end_bg2.gif) 0 10px repeat-x;}
.end_pl .title_c .tip{float:left; padding:0 3px 0 0; background:#fff;}
.end_pl .title_c .text{
	float:right;
	background:#fff;
	font-size:14px;
	padding-right: 4px;
	padding-left: 4px;
	height: 31px;
}
.end_pl .title_c .text_bg{float:right; background:#fff; margin:2px 0 0;}
.end_pl .title_c .text_bg a{
	width:68px;
	text-align:center;
	color:#bc2931;
	background:url(end_n_input_bg2.gif) no-repeat;
	font-size:12px;
	display:block;
	line-height: 19px;
	height: 19px;
	padding: 0;
}
.end_pl .title_c .text_bg a:visited{ width:68px; color:#bc2931; height:19px;background:url(end_n_input_bg2.gif) no-repeat; padding:3px 0 0; font-size:12px; display:block;}
.end_pl .title_c .text_bg a:hover{width:68px; color:#bc2931; height:19px;background:url(end_n_input_bg2_.gif) no-repeat; text-decoration:none; padding:3px 0 0; font-size:12px;}
.end_pl .title_c a{color:#000;}
.end_pl .title_c a:visited{color:#000;}
.end_pl .title_c a:hover{color:#bc2931;}
.end_pl .textBox{clear:both; padding:2px 0 0;}
.end_pl .textBox textarea{
	width:440px;
	height:130px;
	border:1px solid #666;
	font-size:12px;
	background-color: #FFFEFB;
	background-repeat: no-repeat;
	background-position: center 50px;
}
.end_pl .loginTip{clear:both; }
.end_pl .loginTip .login{float:left;padding:5px 0 0;}
.end_pl .loginTip .login .input1{width:50px; height:15px; border:1px solid #ccc; font-size:12px;}
.end_pl .loginTip .login .input2{border:0; width:53px; cursor:pointer;  height:19px;background:url(end_n_input_bg1.gif) no-repeat; padding:3px 0 0; font-size:12px;}
.end_pl .loginTip .login .inputOver2{border:0; width:53px; cursor:pointer; height:19px;background:url(end_n_input_bg1_.gif) no-repeat; padding:3px 0 0; font-size:12px;}
.end_pl .loginTip .send{
	padding-top: 5px;
	padding-right: 5;
	padding-bottom: 0;
	padding-left: 10px;
}
.end_pl .loginTip .send .input{
	border:0;
	width:70px;
	cursor:pointer;
	height:19px;
	background:url(end_n_input_bg2.gif) no-repeat;
	font-size:12px;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.end_pl .loginTip .send .inputOver{border:0; width:68px; cursor:pointer; height:19px;background:url(end_n_input_bg2_.gif) no-repeat; padding:3px 0 0; font-size:12px;}
.end_pl .loginTip a{color:#1f3a87;}
.end_pl .loginTip a:visited{color:#1f3a87;}
.end_pl .loginTip a:hover{color:#bc2931;}
.r_1 {
	float: left;
	margin-left: 0px;
	text-align: left;
	width: 160px;
	margin-top: 50px;
	border: 1px dotted #FFECD9;
}
.r_1 li {
	float: left;
	margin: 3px;
}
.comm {
	font-weight: bold;
	color: #FF0000;
}
/*评论列表*/
.pinglun {width: 100%;margin: auto;}
.pinglun .c_1 {
	height: 26px;
	background-image: url(cc_5.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 30px;
	line-height: 22px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.pinglun .c_2 {
	background-color: #FDFDF7;
	padding:6px;
	margin-top: 4px;
	margin-bottom: 5px;
	border: 1px dashed #FFE4CA;
}