{template 'phpcms','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="760" valign="top">
<!--位置导航-->
	<div class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}</div>
<table width="100%" cellpadding="0" cellspacing="1" class="subnav">
      <tr>
        <td width="52%">软件名称</td>
        <td width="12%">下载次数</td>
        <td width="12%">软件大小</td>
        <td width="12%">软件评价</td>
        <td width="12%">更新时间</td>
      </tr>
    </table>
<!--下载列表-->
{tag_终极栏目下载列表}
	</td>
	<td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>推荐下载</h1></div>
        {tag_推荐下载}
	  <div class="rightcats"><h1>下载排行</h1></div>
        {tag_下载排行}
    </td>
  </tr>
</table>
{template 'phpcms','footer'}