{template 'phpcms','header'}
<table width="980" cellpadding="0"  cellspacing="0">
  <tr>
    <td width="760" valign="top">
<!--位置导航-->
	<div class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}
    </div>
<!--子栏目名称列表-->
    <div class="subnav">{tag_频道子栏目列表}</div>
{if $enableadd}
<div class="cat_box">
    <div class="cat_title">
	  <div class="cat_name">{$catname}</div>
	  <div class="cat_url"><a href="{$linkurl}" class="more">更多</a></div></div>
<!--下载列表图片形式显示-->{tag_栏目页图片下载列表}
<!--下载列表文章形式显示-->{tag_一级栏目下载列表}
    </div>
   <table width="100%" align="center" cellpadding="0" cellspacing="0" class="gray">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
{/if}
<!--自定义栏目开始-->
{loop $arrchildid $i $childcat}
<div class="cat_box">
  <div class="cat_title">
    <div class="cat_name">{$childcat[catname]}</div>
	<div class="cat_url"><a href="{$childcat[linkurl]}" target="{$childcat[target]}" class="more">更多</a></div>
  </div>
{tag_子栏目最新下载}</div>
{if $i%2!==1}<!--两列之间的间隔--><div class="float_left"><img src="{PHPCMS_PATH}images/spacer.gif" width="10" height="10" alt="" /></div>{/if}{/loop}
<!--自定义栏目结束-->
<!--搜索框-->
  </td>
    <td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	  <div class="rightcats"><h1>推荐下载</h1></div>
        {tag_推荐下载}
	  <div class="rightcats"><h1>下载排行</h1></div>
        {tag_下载排行}
    </td>
  </tr>
</table>
{template 'phpcms','footer'}