{template 'phpcms','header'}

<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="210" valign="top" class="gray">
      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25" /></td>
          <td width="76%">最新下载</td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25" /></td>
        </tr>
      </table>

<!--最新下载js调用--><script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&downnum=10&titlelen=30&ordertype=1"></script>
     
     <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25" /></td>
          <td width="76%">推荐下载</td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25" /></td>
        </tr>
      </table>

<!--推荐下载js调用--><script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&iselite=1&downnum=10&titlelen=30&ordertype=1"></script>

      <table width="100%"  cellspacing="0" cellpadding="0" class="sidebar">
        <tr>
          <td width="11%"><img src="{$skindir}/images/tit1_l.jpg" width="22" height="25" /></td>
          <td width="76%">下载排行</td>
          <td width="13%"><img src="{$skindir}/images/tit1_r.jpg" width="28" height="25" /></td>
        </tr>
      </table>
<!--下载排行js调用--><script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&downnum=10&titlelen=30&ordertype=5"></script>
	  </td>
    <td width="10">&nbsp;</td>
    <td width="760" valign="top">
	<!--位置导航-->
	<table width="100%"  cellspacing="0" cellpadding="0" >
      <tr>
        <td class="position">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</td>
      </tr>
    </table>
<!--下载文档名称-->
    <table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="40"><h3>{$title} {$ontop} {$elite}</h3></td>
      </tr>
    </table>

    <table width="740" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
  <tr class="bgwhite">
    <td width="210" rowspan="8" align="center">
<!--下载文档图片-->
    <img src="{$thumb}" border="0" width="200" height="160" /></td>
<!--下载文档属性-->
    <td width="85">　授权形式：</td>
    <td width="115">　{$copytype}</td>
    <td width="93">　作者/开发商：</td>
    <td>　{$author}</td>
  </tr>
  <tr class="bgwhite">
                <td>　所需点数：</td>
                <td>　{$readpoint}</td>
                <td>　软件来源：</td>
                <td>　<a href="{$copyfromurl}" target="_blank" >{$copyfromname}</a></td>
  </tr>
  <tr class="bgwhite">
                <td>　软件语言：</td>
                <td>　{$language}</td>
                <td>　更新时间：</td>
                <td>　{$edittime}</td>
  </tr>
  <tr class="bgwhite">
                <td>　版本号：</td>
                <td>　{$version}</td>
                <td>　软件平台：</td>
                <td>　{$system}</td>
  </tr>
  <tr class="bgwhite">
                <td>　软件类别：</td>
                <td>　{$classtype}</td>
                <td>　演示地址：</td>
                <td>　<a href="{$demourl}" target="_blank">{$demourl}</a></td>
  </tr>
  <tr class="bgwhite">
                <td>　评分等级：</td>
                <td>　{$stars}</td>
                <td>　注册地址：</td>
                <td>　<a href="{$regurl}" target="_blank">{$regurl}</a></td>
  </tr>
  <tr class="bgwhite">
<td>　发布人：</td>
		<td>　<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$username}</a></td>
                <td>　下载次数：</td>
		<td>　<span id="downs">0</span>（今日：<span id="daydowns">0</span>，本周：<span id="weekdowns">0</span>，本月：<span id="monthdowns">0</span>）</td>
  </tr>
  <tr class="bgwhite">
		<td>　浏览次数：</td>
		<td>　<span id="hits">0</span>&nbsp;&nbsp;</td>
                <td></td><td></td>
  </tr>
</table><!--下载地址-->
	<table width="740" cellpadding="0" cellspacing="5" class="downaddress">
      <tr>
        <td width="14%" align="center"><img src="{$skindir}/images/down.gif" width="84" height="26"></td>
        <td width="86%">{$readmessage}
{loop $downurls $downurl} <a href="{$channelurl}download.php?downid={$downid}&id={$downurl['id']}" title="{$downurl['name']}">{$downurl['name']}{$downurl['type']}</a> 
{/loop}
      </td>
      </tr>
    </table>
<!--下载站广告横幅-->
<SCRIPT LANGUAGE="JavaScript" src="/phpcms3.0/phpcms/ads/ads.php?id=4"></SCRIPT>
	<table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
<!--软件介绍-->
	<table width="100%"  cellspacing="0" cellpadding="0" class="gray">
      <tr>
        <td class="bg_5" width="100">软件介绍</td>
        <td>&nbsp;</td>
      </tr>
    </table>
	<table width="96%" cellpadding="0" cellspacing="0" align="center">
      <tr>
        <td>{$introduce}</td>
      </tr>
    </table>
	<table width="100%"  cellspacing="0" cellpadding="0" class="gray">
      <tr>
        <td class="bg_5" width="100">相关下载</td>
        <td>&nbsp;</td>
      </tr>
    </table>
	<table width="96%" cellpadding="0" cellspacing="0" align="center">
      <tr>
        <td>
<!--相关下载调用-->
{$relateddown(0,$channelid,$keywords,$downid,10,100,1)}
		</td>
      </tr>
    </table>
	<table width="100%"  cellspacing="0" cellpadding="0" class="gray">
      <tr>
        <td class="bg_5" width="100">相关评论</td>
        <td align="right" style="padding-right:20px;"><a href="{PHPCMS_PATH}comment/index.php?item=downid&itemid={$downid}&itemurl={$itemurl}" class="commenturl">共<span id="commentnumber">0</span>条评论&nbsp;&nbsp;发表/查看更多评论</a></td>
        </tr>
    </table>	
<!--相关评论js调用--><script type="text/javascript" src="{PHPCMS_PATH}comment/list_js.php?item=downid&itemid={$downid}&commentnum=10&ordertype=1"></script>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
	<tr>
	<td bgcolor="#F5F5F5" height="23">&nbsp;&nbsp;<b>发表评论</b> </td>
	<td align="right" bgcolor="#F5F5F5"><a name="comment">　【<a href="#top">返回顶部</a>】【<a href="javascript:window.close();">关闭窗口</a>】&nbsp;</td>
	</tr>
	<form name="myform" method="post" action="{PHPCMS_PATH}comment/index.php?action=add&submit=1" onSubmit="return docheck();">
	<input name="item" type="hidden" value="downid">
	<input name="itemid" type="hidden" value="{$downid}">
	<input name="itemurl" type="hidden" value="{$itemurl}">
	<tr>
	<td valign="top">
        评分：
        <input name="score" type="radio" class="radio" title="很差" value="1"> 1 
        <input name="score" type="radio" class="radio" title="差" value="2"> 2 
        <input name="score" type="radio" class="radio" title="一般" value="3" checked> 3 
        <input name="score" type="radio" class="radio" title="好" value="4"> 4 
        <input name="score" type="radio" class="radio" title="很好" value="5"> 5 
        <br/>
	<textarea name="content" cols="50" rows="8" id="content"></textarea><br/>
	<span id="showcheckcode"></span>&nbsp;&nbsp;<input name="submit" type="submit" class="btn" value=" 发表 ">&nbsp;&nbsp;<input name="reset" type="reset" class="btn" value=" 重置 ">
	</td>
	<td valign="top">
		<ul style="border:#c0c0c0 1px dotted;padding:5px;">
		<li>请遵守《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律法规。 </li>
		<li>严禁发表危害国家安全、损害国家利益、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容的评论 。</li>
		<li>用户需对自己在使用本站服务过程中的行为承担法律责任（直接或间接导致的）。</li> 
		<li>本站管理员有权保留或删除评论内容。</li>
		</ul>
	</td>
	</tr>
	</form>
	</table>
    </td>
  </tr>
</table>

<script type="text/javascript" src="{$channelurl}show_js.php?downid={$downid}"></script>
<script type="text/javascript">
function docheck()
{
    myform.itemurl.value = window.location;
    if(myform.content.value=="") {
       alert("请输入评论内容!");
       myform.content.focus();
       return false;
    }
    return true;
}
</script>
{template 'phpcms','footer'}