{template 'phpcms','header'}

<table width="980" cellpadding="0" cellspacing="0">
  <tr>
    <td width="760" valign="top" class="content">
	<!--位置导航-->
	<div class="position_1">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</div>
<!--下载文档名称-->
<h1>{$title}</h1>
<div class="border_3 mar_5">
    <table width="100%" class="border_4 righttable">
  <tr>
    <td width="210" rowspan="8" class="td_center">
<!--下载文档图片-->
    <img src="{$thumb}" border="0" width="200" height="160" /></td>
<!--下载文档属性-->
    <td width="85" class="td_right">授权形式：&nbsp;</td>
    <td width="115" class="td_left">{$my_copytype}&nbsp;</td>
    <td width="93" class="td_right">作者/开发商：&nbsp;</td>
    <td class="td_left"><a href="{$homepage}" target="_blank">{$author}</a>&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">文件大小：&nbsp;</td>
    <td class="td_left">{$filesize}&nbsp;</td>
    <td class="td_right">解压密码：&nbsp;</td>
    <td class="td_left">{$password}&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">软件语言：&nbsp;</td>
    <td class="td_left">{$my_language}&nbsp;</td>
    <td class="td_right">更新时间：&nbsp;</td>
    <td class="td_left">{$adddate}&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">版本号：&nbsp;</td>
    <td class="td_left">{$my_version}&nbsp;</td>
    <td class="td_right">软件平台：&nbsp;</td>
    <td class="td_left">{$my_system}&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">软件类别：&nbsp;</td>
    <td class="td_left">{$my_classtype}&nbsp;</td>
    <td class="td_right">演示地址：&nbsp;</td>
    <td class="td_left"><a href="{$my_demourl}" target="_blank">{$my_demourl}</a>&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">评分等级：&nbsp;</td>
    <td class="td_left">{$stars}&nbsp;</td>
    <td class="td_right">注册地址：&nbsp;</td>
    <td class="td_left"><a href="{$my_regurl}" target="_blank">{$my_regurl}</a>&nbsp;</td>
  </tr>
  <tr>
    <td class="td_right">　发布人：&nbsp;</td>
	<td class="td_left"><a href="{$MODULE[member][linkurl]}member.php?username={$username}" class="member_url">{$username}</a>&nbsp;</td>
    <td class="td_right">下载次数：&nbsp;</td>
	<td class="td_left"><span id="totaldowns">{$totaldowns}</span>（今日：<span id="todaydowns">{$todaydowns}</span>，本周：<span id="weekdowns">{$weekdowns}</span>，本月：<span id="monthdowns">{$monthdowns}</span>）&nbsp;</td>
  </tr>
  <tr>
	<td class="td_right">插件认证：&nbsp;</td>
	<td class="td_left">{$my_plugin}&nbsp;</td>
    <td class="td_right">浏览次数：&nbsp;</td>
	<td class="td_left"><span id="hits">{$hits}</span>&nbsp;</td>
  </tr>
</table>
</div>
<!--下载地址-->
	<table width="740" cellpadding="0" cellspacing="5" class="downaddress">
      <tr>
        <td width="14%" align="center"><img src="{$skindir}/images/down.gif" width="82" height="20"></td>
        <td width="86%">
本地下载：
{loop $downurls $downurl}
 <a href="{$channelurl}down.php?downid={$downid}&id={$downurl['id']}" title="{$downurl['name']}" target="_blank">{$downurl['name']}</a> 
{/loop}

{if !$arrgroupidview && !$readpoint}
	{if $MOD['enable_xunlei']}
		<br />
		<script src="http://pstatic.xunlei.com/js/webThunderDetect.js"></script>
		迅雷下载：
		{loop $downurls $downurl}
		<a href="#" thunderHref="{$ThunderEncode($downurl['url'])}" thunderPid="{$MOD[xunleipid]}" thunderType="" thunderResTitle="{$title}{$downurl[name]}" onClick="return OnDownloadClick_Simple(this,2)" oncontextmenu="ThunderNetwork_SetHref(this)" >{$downurl[name]}</a>
		{/loop}
	{/if}
	{if $MOD['enable_flashget']}
		<br />
		<script src="http://ufile.kuaiche.com/Flashget_union.php?fg_uid={$MOD[flashgetpid]}"></script>
		<script>
			function ConvertURL2FG(url,fUrl,uid)
			{	
				try{
					FlashgetDown(url,uid);
				}catch(e){location.href = fUrl;}
			}
			function Flashget_SetHref(obj,uid){obj.href = obj.fg;}
		</script>
		快车下载：
		{loop $downurls $downurl}
		{php $flashgeturl = FlashgetEncode($downurl['url'], $MOD['flashgetpid']);}
		<a href="#" onClick="ConvertURL2FG('{$flashgeturl}', '{$downurl[url]}', {$MOD[flashgetpid]})" oncontextmenu="Flashget_SetHref(this)" fg="{$flashgeturl}">{$downurl[name]}</a>
		{/loop}
	{/if}
{/if}
      </td>
      </tr>

    </table>

	<table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
  <div class="cat_title">
    <div class="cat_name">软件介绍</div>
    <div class="cat_url"><a href="#" class="more"></a></div></div>
	{$introduce}

</div>
{if $MODULE[digg]}<p align="center">{tag_点击标签样式一}</p>{/if}
  <div class="cat_title">
    <div class="cat_name">相关下载</div>
	<div class="cat_url"><a href="#" class="more"></a></div>
  </div>
{tag_相关下载}
  </div>
<!--评论部分-->
<script type="text/javascript" src="{$MODULE['comment']['linkurl']}list_js.php?keyid={$channelid}&itemid={$downid}&commentnum=10&ordertype=1&title={$urlencode($title)}"></script>
</td>
    <td width="10">&nbsp;</td>
	<td width="210" valign="top" class="right_bg">
	<div class="rightcats"><h1>最新下载</h1></div>
        {tag_侧栏最新下载}
	<div class="rightcats"><h1>推荐下载</h1></div>
        {tag_推荐下载}
	<div class="rightcats"><h1>下载排行</h1></div>
        {tag_下载排行}
{if $MODULE[digg]}
<div class="rightcats"><h1>下载DIGG日排行</h1><h2><a href="{PHPCMS_PATH}/digg/list.php?digg_mod={$mod}&digg_catid={$catid}" class="more">更多</a></h2></div>
{tag_今日下载DIGG列表}
{/if}
	</td>
  </tr>
</table>
<script type="text/javascript" src="{$channelurl}show_js.php?itemid={$itemid}"></script>
{template 'phpcms','footer'}