<table width="100%"  cellpadding="2" cellspacing="0">
{loop $downs $i $down}
{if $i%$cols==0}<tr>{/if}
<td width="{$width}" valign="top">

	<table width="100%" cellpadding="5" cellspacing="0">
	<tr>
	<td align="center"><a href="{$down['linkurl']}" {$target}><img src="{$down[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$down[alt]}" /></a></td>
	</tr>
	<tr>
	<td align="center">
	{$down[type]} <a href="{$down['linkurl']}" title="{$down['title']}" {$target} class="tag_title_link">{$down[stitle]}</a>
	{if $datetype}[<span class="datetime">{$down[adddate]}</span>]{/if}
	</tr>
	{if $introducelen}
	<tr>
	<td><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$down[introduce]}</span></td>
	</tr>
	{/if}
	</table>

</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}