<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
{loop $downs $i $down}
  <tr align="center">
    <td width="52%" height="25" align="left" bgcolor="#F0F0F0">&nbsp;<strong>·{$down[type]} <a href="{$down[linkurl]}" title="{$down[title]}"{$target}>{$down[stitle]}</a></strong></td>
    <td width="12%" bgcolor="#F0F0F0">{$down[totaldowns]}</td>
    <td width="12%" bgcolor="#F0F0F0">{$down[filesize]}</td>
    <td width="12%" bgcolor="#F0F0F0">{$down[stars]}</td>
    <td width="12%" bgcolor="#F0F0F0">{$down[adddate]}</td>
  </tr>
  <tr align="center">
    <td height="25" colspan="5" align="left" bgcolor="#F9F9F9" style="padding: 5px;">{$down[introduce]}</td>
  </tr>
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}