{template 'phpcms','header'}
<div class="main">
<div class="main_content">
	<div class="box_1">
		<ul style="padding:6px;">
		<li class="li_header t_c">{$channelname}搜索</li>
		<form name="myform" action="{$channelurl}search.php" method="get">
		<li class="li_1">搜索范围
		<input type="radio" class="radio" name="srchtype" value="title" {$srchtypecheck['title']} /> 标题
        <input type="radio" class="radio" name="srchtype" value="content" {$srchtypecheck['content']} {if !$_PHPCMS['searchcontent']}disabled{/if} /> 内容 
		<input type="radio" class="radio" name="srchtype" value="username" {$srchtypecheck['username']} /> 会员
		<input type="radio" class="radio" name="srchtype" value="author" {$srchtypecheck['author']} /> 作者</li>
		<li class="li_1">包含的关键字 <input name="keywords" type="text" size="30" value="{$keywords}" /> * 多个关键词之间用空格隔开</li>
		<li class="li_1">所属栏目 {$cat_select}</li>
		<li class="li_1">所属专题 {$special_select}</li>
		<li class="li_1">更新时间 
		<select name="srchfrom">
		<option value="0" {if !$srchfrom}selected{/if}>全部时间</option>
		<option value="1" {if $srchfrom==1}selected{/if}>1 天前</option>
		<option value="2" {if $srchfrom==2}selected{/if}>2 天前</option>
		<option value="7" {if $srchfrom==7}selected{/if}>1 周前</option>
		<option value="30" {if $srchfrom==30}selected{/if}>1 个月前</option>
		<option value="90" {if $srchfrom==90}selected{/if}>3 个月前</option>
		<option value="180" {if $srchfrom==180}selected{/if}>6 个月前</option>
		<option value="365" {if $srchfrom==365}selected{/if}>1 年前</option>
		</select>
		<input type="radio" class="radio" name="before" value="0" {if !$before}checked{/if} /> 之后
		<input type="radio" class="radio" name="before" value="1" {if $before}checked{/if} /> 之前</li>
		<li class="li_1">图片性质 
		<input type="checkbox" class="radio" name="elite" value="1" {if $elite}checked{/if} /> 推荐
		<input type="checkbox" class="radio" name="ontop" value="1" {if $ontop}checked{/if} /> 置顶</li>
		<li class="li_1">排序方式
		<select name="ordertype">
		<option value="1" {if $ordertype==1}selected{/if}>更新时间降序</option>
		<option value="2" {if $ordertype==2}selected{/if}>更新时间升序</option>
		<option value="3" {if $ordertype==3}selected{/if}>浏览次数降序</option>
		<option value="4" {if $ordertype==4}selected{/if}>浏览次数升序</option>
		</select>
		</li>
		<li class="li_1"> <input type="hidden" name="search" value="1">
		<input type="submit" name="submit" value="立即搜索" />
		<input type="button" onClick="location='search.php'" value="重新搜索" /></form></li>
		{if $search}
		<li class="li_1"> </li>
		<li class="li_line t_c f_b">您输入的关键词是<span class="f_red">{$keywords}</span>，一共从<span class="f_red">{$totalnumber}</span>个结果中搜到<span class="f_red">{$number}</span>个结果</li>
		<li class="li_1"> </li>
		{loop $searchs $picture}
		<li class="li_line"><span class="f_r px10">{$picture[adddate]}</span><a href="{$picture[url]}" target="_blank">{$picture[title]}</a></li>
		{if $picture[description]}
		<li class="content"></li>
		{/if}
		{/if}
		{/loop}
		<li class="pages">{$pages}</li>
		</ul>
	</div>
</div>
</div>

{template 'phpcms','footer'}