<table width="100%" align="center" cellpadding="1" cellspacing="1">
{loop $pictures $i $picture}
{if $i%$cols==0}
  <tr>
{/if}
    <td height="20" width="{$width}">
    {$picture[img]} {$picture[catname]}	<a href="{$picture[url]}" title="{$picture[alt]}" target="{$picture[target]}">{$picture[title]}</a>
	{if $showhits}({$picture[hits]}){/if}
        {if $showauthor}[作者:{$picture[author]}]{/if}
	{if $datetype}[<span class="tag_date">{$picture[adddate]}</span>]{/if}
	{if $descriptionlen}{$picture[content]}{/if}
    </td>
{if $i%$cols==($cols-1)}
  </tr>
{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}
