{loop $pictures $i $picture}
<dl>
    <dt>
    <a href="{$picture['linkurl']}" {$target}><img src="{$picture[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$picture[alt]}" /></a>
    </dt>
    <dt>
    {$picture[type]} <a href="{$picture['linkurl']}" title="{$picture['title']}" {$target}>{$picture[stitle]}</a>
	{if $datetype}[{$picture[adddate]}</span>]{/if}
	{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$picture[introduce]}</span>{/if}
    </dt>
</dl>
{/loop}
{if $pages}
<div class="pages">{$pages}</div>
{/if}