<table class="tag_box"  cellpadding="0" cellspacing="0">
{loop $pictures $i $picture}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}">{if $datetype}<span class="datetime f_r">{$picture[adddate]}</span>{/if}·{if $showcatname} <a href="{$picture[catlinkurl]}"{$target}>[{$picture[catname]}]</a> {/if} {$picture[type]} <a href="{$picture[linkurl]}" title="{$picture[title]}" {$target} class="tag_title_link">{$picture[stitle]}</a>
{if $showhits}({$picture[hits]}){/if}
{if $showauthor}[作者:{$picture[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$picture[introduce]}</span>{/if}    
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>
{if $pages}
<div class="pages">{$pages}</div>
{/if}