{template 'phpcms','header'}
<div id="censent"><!--content-->
  <div id="leftgg">
    <!--切换结束-->
        <div class="layout">
        <ul class="xw-1">
        <li class="xw-left">
        <div class="xw-on"><span>公告信息</a></span></div>
        </li>
        <li class="xw-right"></li>
        </ul>
        <div class="xian boxggl boxmargin">
        <ul class="gglistn">
{$announce_list(0,$keyid,0,10,290,100,26,1,0,1)}
</ul>   </div>
        </div><!--切换结束-->       
</div>
    <div id="rightgg">
	<div id="bt11" style="margin-bottom: 8px;> 当前位置：<a href="{$MOD[linkurl]}">公告</a></div>
      <div  class="topgg">
      <ul class="box-xian">
      <li class="ggbthl"><span>有效期：{$fromdate} 至 {$todate} </span>{$title}</li>
      <li class="nrgg">{$content}</li>
      <li class="fblyg">发布人：<a href="{PHPCMS_PATH}member/member.php?username={$username}" target="_blank">{$username}</a>　浏览次数：{$hits}　<a href="javascript:window.close()">关闭窗口</a></li>
      </ul>
      </div>
    </div>
</div>
{template 'phpcms','footer'}
