a.yellow_link_1:link,a.yellow_link_1:visited{color: #0277BC;}
.ynr a {color: #000000;}
a.yellow_link_1:hover,a.yellow_link_1:active{color: #FF6600;}
.down-List-1 {color:#013780;padding:5px 10px;}
.down-List-1 li {line-height:22px;height:22px;background:url(yellow/down-List_li3.gif) no-repeat left center;list-style-type:none;clear: both;}
.down-List-1 em {font-size: 12px;color: #FFFFFF;padding-left: 3px;margin-right: 4px;}
.down-List-1 ul {list-style-type:none;}
.down-List-1 span {float:right;}
.down-List-1 a,.down-List-1 a:visited {color:#013780;}
.down-List-1 a:hover,.globalMenu a:hover {color:#bc2931;}
#rightyellow {float:right;width:669px;clear:none;}#leftyellow {width:303px;float:left;}
#rightproduct {float:right;width:780px;clear:none;}#leftproduct {width:192px;float:left;}
#rightlead {float:right;width:695px;clear:none;}#leftlead {width:277px;float:left;}
.yleftbox {border:1px solid #1D98DE;}.yleftbox h4 {line-height:21px;background-color:#1D98DE;color:#FFF;font-size:13px;padding-left:12px;}.yleftbox .ynr {line-height:24px;margin:8px;}
.ynr ul {background:url(yellow/movelibg.gif) repeat-x bottom;margin-top:5px;}
.ltplist {background:url(images/movelibg.gif) repeat-x bottom;line-height:21px;clear:both;padding-bottom:10px;}.ltplist img {border:3px solid #C8C8C8;float:left;margin:8px;}.ltplist strong {color:#C00;font-size:15px;line-height:25px;}
.ynr h6 {color:#000;}.rlbox {width:368px;border:1px solid #9EC9EC;float:left;}
.rnewlbox {width:368px;float:left;line-height:25px;font-size:14px;}.ynebt {font-size:18px;line-height:30px;font-weight:700;text-align:left;padding-left:10px;}
.jieshi {font-size:12px;line-height:20px;border-bottom:#CCC solid 1px;text-align:left;padding-left:10px;}
.ynewlst em {color:#999;}
.ynewlst li span {
	color:#999;
	float: right;
	font-size: 12px;
}
.rrbox {float:right;width:293px;}
.rnewrbox {float:right;width:287px;font-size:12px;line-height:23px;}
.ynewleft {background:url(yellow/ynew1.gif) no-repeat left;line-height:34px;}
.jieshi2 {width:180px;float:left;margin-left:4px;}
.rlbox h5 {line-height:21px;background-color:#D1E7FC;border-bottom-width:#9EC9EC solid 1px;color:#000;font-size:13px;padding-left:12px;}
.picbox {margin:5px;background: url(images/movelibg.gif) repeat-x bottom;height: 65px;
}.picbox img {border:1px solid #BFBAAC;float:left;margin:5px 8px 5px 5px;}.picbox strong {line-height:20px;}
.xianyellow2 {border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right:#9EC9EC;border-bottom-color:#9EC9EC;border-left-color:#9EC9EC;border-width:0 1px 1px;}
.yellowicbot {height:21px;line-height:21px;border-color:#9EC9EC;border-style:solid;border-width:1px 0 0 1px;}
.yellowicbot .yellowon {float:left;color:#5B514B;width:96px;text-align:center;height:21px;cursor:pointer;background-color:#D1E7FC;border-right:#9EC9EC solid 1px;border-bottomr:#9EC9EC solid 1px;}
.listynn {background-color:#F1F7FC;margin-top:5px;margin-bottom:10px;line-height:25px;padding-right:8px;padding-bottom:8px;padding-left:8px;}
.listynn strong {background:url(yellow/sjlist.gif) no-repeat left;display:block;padding-left:10px;}
.qynrn {
	line-height:23px;
	color:#737373;
	clear:both;
	margin-right:5px;
	margin-left:5px;
	background-image: url(yellow/movelibg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	margin-top: 3px;
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 8px;
}
.qynrnbt {line-height:30px;color:#444;clear:both;margin-right:5px;margin-left:5px;font-weight:700;font-size:15px;height:30px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#8F8F8F;}
.qyn1 strong {color:#4F4F4F;}
.qynrn h3 {font-size:14px;text-decoration:underline;line-height:30px;}
.qyn1 {float:left;width:370px;}
.qyn2 {float:left;width:100px;text-align:center;}.btbj a {text-decoration:underline;color:#001D4C;}.yellowicbot .yellowoff {float:left;width:97px;text-align:center;cursor:pointer;font-weight:700;border-right-width:1px;border-right-style:solid;border-right-color:#9EC9EC;color:#5B514B;}
.ybton {background:url(yellow/btleft.gif) no-repeat;height:23px;width:117px;float:left;line-height:23px;color:#FFF;text-align:center;font-weight:700;cursor:pointer;}
.ybtoff {background-image:url(yellow/btright.gif);background-repeat:no-repeat;height:23px;width:117px;float:left;line-height:23px;text-align:center;color:#000;font-weight:600;cursor:pointer;}
.ynrrbox {clear:both;border-color:#00B0FF;border-style:solid;border-width:2px 1px 1px;padding:4px;}.ypiclist img {border:4px solid #CECECE;}.ypiclist {width:100px;text-align:center;line-height:23px;color:#757575;margin-right:17px;margin-left:10px;float:left;display:block;}
.zpbg li {width:206px;height:57px;float:left;background-image:url(yellow/xianbg.gif);line-height:18px;padding-top:14px;padding-left:10px;}
.zpbg {
	margin:5px;
	background-image: url(yellow/xianbg.gif);
	background-repeat: repeat-x;
}
.pbtl {background:url(yellow/pbtl.gif) no-repeat left;line-height:28px;font-size:15px;color:#013780;font-weight:700;margin-left:10px;margin-top:10px;}.pbtl span {float:right;padding-right:10px;}
.csbt {line-height:30px;color:#F30;font-size:15px;font-weight:600;}
.pgyfln {line-height:23px;font-size:12px;margin:3px 15px 8px;}
.pbtl div {background:url(yellow/pbtr.gif) no-repeat right;margin-left:12px;margin-right:10px;margin-bottom:5px;}
.ynrrboxn {height:210px;width:160px;float:left;margin:12px;}
.ynrrboxn img {border:1px solid #B2B2B2;padding:1px;}
.liqt {
	display:block;
	height:22px;
	line-height:22px;
	margin:5px;
	text-align: center;
}
.num {
	line-height:20px;
	color:#000;
	font-size:12px;
	text-align: center;
}
.leadtop {background-image:url(yellow/leadtop.gif);line-height:50px;height:50px;color:#F60;font-size:15px;font-weight:600;}.rebtl {background:url(yellow/zpbt.gif) no-repeat left center;line-height:34px;}.rebtl span {background:url(yellow/zpbtr.gif) no-repeat right;float:right;padding-right:15px;font-weight:400;font-size:13px;color:#747474;}
.rercnr {padding-top:5px;padding-bottom:5px;padding-left:5px;border-color:#9CF;border-style:solid;border-width:1px;}.zpxx {background-image:url(yellow/zpxxbg.gif);}
.zpxx li {height:40px;width:161px;float:left;line-height:18px;text-align:left;padding-left:8px;padding-top:2px;}
.rercnr img {border:1px solid silver;margin:3px;}
.zpli1 {width:70px;float:left;text-align:center;}.zpli2 {float:left;width:95px;text-align:center;}.btzpli li {background-color:#E7F5FF;}.zpli3 {width:110px;float:left;text-align:center;}
.btzpli {background-color:#E7F5FF;line-height:24px;}.btzpli2 {line-height:34px;clear:both;}
.rebtl div {background:url(yellow/zpbtbg.gif) repeat-x center;margin-left:29px;color:#004884;font-weight:700;font-size:14px;}
.leadtop span {padding:0 25px;}
.leadnr {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#D6D6D6;line-height:23px;margin-top:5px;margin-right:10px;margin-left:10px;color:#8E8E8E;padding:5px;}.leadnr em {color:#F60;margin-right:20px;}.leadnr strong {line-height:34px;font-size:14px;}
.ynewlst a {
	color:#003278;
}.ynewlst a:hover {color:#FF7300;}
.jieshi1 {border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#999;}
.ynewnn {
	line-height:25px;
	font-size:14px;
	width:330px;
	float:left;
	margin-bottom: 8px;
}.btnyn {background-color:#ebf3fb;border:1px solid #ace;padding-left:15px;color:#000;font-weight:700;}
.ynewleft div {background:url(yellow/ynew2.gif) no-repeat right;padding-left:14px;font-size:15px;font-weight:700;}.ynewleft span {float:right;padding-right:10px;font-weight:400;font-size:13px;}
.ynewm {background:url(yellow/ynew5.gif) repeat-y;}
.bt123 {
	line-height:23px;
	padding-left:20px;
	margin-left:10px;
	background-image: url(yellow/lbnew.gif);
	background-repeat: no-repeat;
	background-position: 1px 4px;
	font-size: 13px;
}.banneryn {border:1px solid #333;clear:both;margin-top:8px;margin-bottom:8px;}
.bt123 li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F1F1F1;
}
.btnyn span {float:right;padding-right:15px;font-weight:400;font-size:13px;}
.boxmaginl {margin-right:8px;}
.ynewb {background:url(yellow/ynew3.gif) no-repeat top;height:11px;}
.hylistn em {background:url(yellow/newnr_03.gif) no-repeat;line-height:35px;height:30px;font-weight:700;color:#076aac;padding-left:7px;padding-top:5px;font-size:13px;margin-right:8px;}
.hylistn ul {list-style-type:none;}
.hylistn li {margin-right:9px;margin-left:9px;height:31px;background:url(images/movelibg.gif) repeat-x bottom;line-height:31px;color:#060;}
.ytpxw dl {width:130px;float:left;text-align:center;line-height:23px;font-size:12px;margin:5px 12px;}.nrhyn {line-height:25px;font-size:14px;clear:both;margin:4px;}
.ytpxw img {border:1px solid #8A8A8A;padding:2px;}
.zpli0 {width:67px;float:left;text-align:center;line-height:28px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#DDD;}.zpli4 {float:left;width:200px;text-align:center;}
.yqytj {line-height:26px;background-image:url(yellow/bgtj_03.gif);padding-left:15px;margin:5px;}
.goym {line-height:37px;background-color:#F0F9FE;border:1px solid #9CC3D9;text-align:right;padding-right:15px;}.goymimg {display:block;float:right;margin-top:7px;margin-left:10px;}
.ytoppic {padding-top: 4px;padding-bottom: 4px;}
.clearfix:unknown {CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."}
.clearfix {ZOOM: 1}
/*供求信息*/
.yp_qg {width: 660px;}
.yp_qg ul {clear: both;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #D4D4D4;height: 24px;}
.yp_qg ul li {float: left;line-height: 24px;}
.yp_qg .s_1 {width: 50px;color: #FF6600;font-weight: bold;text-align: center;}
.yp_qg .s_2 {width: 300px;}
.yp_qg .s_3 {width: 70px;text-align: center;}
.yp_qg .s_4 {width: 70px;text-align: center;}
.yp_qg .s_1_1 {color: #000066;font-weight: bold;text-align: center;}
.yp_qg_ul {background-color: #E6EEFF;}

.yp_cx {width: 655px;line-height: 18px;padding-left: 5px;padding-bottom: 8px;}
.yp_cx div{width:100px;text-align: center;padding-top:5px;padding-bottom:10px;float:left;padding-right:3px;padding-left:3px;}
.yp_cx span {border: 1px solid #E6E6E6;	background-color: #EAEAEA;padding: 1px;}
.yp_cx .cx_xian {border-right-width: 1px;border-right-style: dashed;border-right-color: #CCCCCC;}
/*频道首页企业列表*/
.yp_job {background-image: url(yellow/dian.jpg);background-repeat: repeat-x;background-position: top;clear: both;height: 50px;}
.yp_job_bg {background-color: #F6F9FF;}
.yp_job li {float: left;line-height: 23px;margin-top: 4px;width: 200px;	margin-left: 10px;}
/*频道首页人才列表*/
.yp_job_rc {text-align: center;}
.yp_job_rc ul {line-height: 24px;clear: both;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #DEF5FE;
height: 24px;}.yp_job_rc li {float: left;}
.yp_job_rc_zhong {font-weight: bold;color: #000099;background-color: #DEF5FE;}
.yp_job_rc .c_1 {width: 50px;}.yp_job_rc .c_2 {width: 110px;}
.yp_job_rc .c_3 {width: 80px;}.yp_job_rc .c_4 {width: 140px;}
.yp_job_rc_ul {line-height: 26px;margin-top: 3px;}.yp_job_rc .c_5 {width: 110px;}