{template 'wenba','header'}
<link href="{$skindir}/why.css" rel="stylesheet" type="text/css">
<div id="censent">
<div id="whyleftn">
<div class="boxmargin wntop">
      <div class="wnmiddle">
<h2 class="link_3"><b>当前位置：</b><a href="{$MOD['linkurl']}">问吧首页</a> >> {$ques}</h2>
<!--子栏目--><!--{if $child==1}-->
<div class="wndhn">
<ul>
<!--{loop $arrchild $key $sl}-->
<li><a href="{$MOD[linkurl]}browse.php?catid={$sl['catid']}" class="link_2">{$sl['catname']}</a>({$sl['items']})</li>
<!--{/loop}--></ul>
<div style="clear:both"></div>
</div><!--{/if}-->
</div>
</div>
	
<div class="why_c">
<!--{if $option=='all'}-->
<div class="why_c1">
<b>全部问题</b></div>
<!--{else}-->
<div class="why_c1"><a href="{$linkurl}&option=all">全部问题</a></div>
<!--{/if}-->
<!--{if $option=='solve'}-->
<div class="why_c1"><b>已解决问题</b></div>
<!--{else}-->
<div class="why_c1"><a href="{$linkurl}&option=solve">已解决问题</a>
</div><!--{/if}-->
<!--{if $option=='nosolve'}-->
<div class="why_c1"><b>待解决问题</b></div>
<!--{else}-->
<div class="why_c1"><a href="{$linkurl}&option=nosolve">待解决问题</a>
</div><!--{/if}-->
<!--{if $option=='vote'}-->
<div class="why_c1"><b>投票中问题</b></div>
<!--{else}-->
<div class="why_c1"><a href="{$linkurl}&option=vote">投票中问题</a>
</div><!--{/if}-->
<!--{if $option=='highscore'}-->
<div class="why_c1"><b>高分问题</b></div>
<!--{else}-->
<div class="why_c1"><a href="{$linkurl}&option=highscore">高分问题</a></div>
<!--{/if}--><div class="why_c1"><a href="{$MOD[linkurl]}ask.php">我要提问</a></div>
</div>

<div class="boxmargin">
<!--列表开始-->
{tag_栏目页问题标签}
<!--列表结束-->
</div>

<div id="whyrightn">
{template 'wenba','right'}
</div>
</div>

{template 'phpcms','footer'} 