{template 'wenba','header'}
<script language="JavaScript">
function search_submit()
{
	if(document.wordform.qtitle.value=="" || document.wordform.qtitle.value.length<2)
    {
		document.wordform.qtitle.focus();
		alert("请填写您要搜索的问题.");
		return false;
	}
	var word=document.wordform.qtitle.value;
	location.href="search.php?word="+word;
}

{if $_userid}
	window.onunload=function()
	{
	   var pars = "";
	   var myAjax = new Ajax.Request('{$MOD[linkurl]}onunload.php', {method: 'get', parameters: pars});
	}
{/if}
</script>
<link href="{$skindir}/why.css" rel="stylesheet" type="text/css">
<div id="censent">
  <div id="whyleft">
    <div class="wtop" ><p class="wtop_span_1">已解决的问题数 {$solve_ques_count}</p></div>
    <div class="wtop" ><p class="wtop_span_2">待解决的问题数 {$nosolve_ques_count}</p></div>
    <div class="wbtleft"><div><span class="wbtbg"></span> 问吧导航</div> 
    </div>
    <div class="boxmargin xianwhy">
{loop $CATEGORY $i $cat}
<div class="wenba_fl">
{if !$cat[parentid]}
<h2><a href="{$cat[linkurl]}" class="link_2">{$cat[catname]}</a></h2>{/if}
{loop $CATEGORY $j $childcat}
{if $childcat[parentid]==$cat[catid]}<span><a href="{$childcat[linkurl]}" class="link_2">{$childcat[catname]}</a></span>{/if}
{/loop}
{if !$cat[parentid]}{/if}
</div>
{/loop}
</div> 
  </div>
  <div id="whyright">
    <div  class="whyl">
	<div id="why_xian"><form name="wordform" action="{$MOD[linkurl]}ask.php" method="post">
<input name="qtitle" id="qtitle" class="formfont" tabIndex="1" maxLength="50" size="42" />
<input type="submit" value="我要提问" /> 
<input type="button" value="搜索答案" name="search" onClick="search_submit();" />
</form></div>
      <div class="wbtleft">
        <div><span class="wbtbg "><a href="{$MOD[linkurl]}browse.php?option=commend" class="link_1">更多</a></span><a href="{$MOD[linkurl]}browse.php?option=commend" class="link_1">推荐的问题</a></div> 
      </div>
<div class="xianwhy boxmargin">
<ul class="whylist">
{tag_推荐的问题}
</ul>
</div>
      <div class="wbtleft">
        <div><span class="wbtbg"><a href="{$MOD[linkurl]}browse.php?option=nosolve" class="link_1">更多</a></span><a href="{$MOD[linkurl]}browse.php?option=nosolve" class="link_1">待解决问题</a></div> 
      </div>
<div class="xianwhy boxmargin">
<ul class="whylist">
{tag_待解决问题} 
</ul>
</div>
   <div class="wbtleft">
     <div><span class="wbtbg"><a href="{$MOD[linkurl]}browse.php?option=solve" class="link_1">更多</a></span> <a href="{$MOD[linkurl]}browse.php?option=solve" class="link_1">已解决问题</a></div> 
   </div>
<div class="xianwhy boxmargin">
<ul class="whylist">
{tag_已解决问题}
</ul>
</div>
 </div>
    <div  class="whyr">
{template 'wenba','right'}
    </div>
  </div></div>
{template 'phpcms','footer'}