{template 'wenba','header'}
<link href="{$skindir}/why.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
var selnum = 0;
<!--
function check_answerform()
{
	if(!ck_user()) return false;

	if(!ck_answer()) return false;
}

function ck_user()
{
	var username = "{$_username}";
	if(!username)
	{
		$("user_msg").innerHTML="<font color='red'></strong>提示：您还没有登录.</strong></font>";
		return false;
	}
	else
	{
		$("user_msg").innerHTML='';
		return true;
	}
}

function ck_answer()
{
	if($("answer").value=='')
	{
		$("user_msg").innerHTML="<font color='red'><strong>请在下面填写您的回答内容.</strong></font>";
		return false;
	}
	else if($("answer").value!='' && $("answer").value.length<10)
	{
		$("user_msg").innerHTML="<font color='red'><strong>您回答内容少于10个字.</strong></font>";
		return false;
	}
	else
	{
		$("user_msg").innerHTML='';
		return true;
	}
}

function ck_addscore()
{
	if($('addscore').value > {$credit})
	{
		$('addscore_msg').innerHTML = "<font color='red'><strong>抱歉,追加悬赏不能高于您目前的总积分.</strong></font>";
		return false;
	}
	else
	{
		$('addscore_msg').innerHTML = "";
		return true;
	}	
}
function ck_superadditionscore(obj,id)
{
	if(obj.value>{$credit})
	{
		$('superadditionscore_msg_'+id).innerHTML = "<font color='red'><strong>抱歉,追加悬赏不能高于您目前的总积分.</strong></font>";
		obj.options[0].selected=true;
		return false;
	}
	else
	{
		$('superadditionscore_msg_'+id).innerHTML ="";
		return true;
	}
}

function ck_voteform()
{
	if(selnum >= 2)
	{
		$('vote_msg').innerHTML = "";
		return true;
	}
	else
	{
		$('vote_msg').innerHTML = "<font color='red'><strong>请选择至少两个备选答案.</strong></font>";
		return false;
	}
}

function show_edit_answer(id)
{
	if(id)
	{
		$('edit_answer').style.display='none';
	}
	else
	{
		$('edit_answer').style.display='block';
	}
}

function show_ques_supply(id)
{
	if(id)
	{
		$('ques_supply').style.display='none';
	}
	else
	{
		$('ques_supply').style.display='block';
	}
}

function show_ques_addscore(id)
{
	if(id)
	{
		$('ques_addscore').style.display='none';
	}
	else
	{
		$('ques_addscore').style.display='block';
	}
}

function show_ques_adopt(id,obj)
{
	if(id)
	{
		$('ques_adopt_'+obj).style.display='none';
	}
	else
	{
		$('ques_adopt_'+obj).style.display='block';
	}
}

function show_ques_vote(id)
{
	if(id)
	{
		$('ques_hidden').style.display='block';
		$('ques_vote').style.display='none';
	}
	else
	{
		$('ques_hidden').style.display='none';
		$('ques_vote').style.display='block';
	}
}
function t_vote(username,qid,aid)
{
	var checkurl = '{$MOD[linkurl]}vote.php';
	var pars = "username="+username+"&qid="+qid+"&aid="+aid;
	var myAjax = new Ajax.Request(checkurl, {method: 'post', parameters: pars, onComplete: checkmessage});
}
function checkmessage(Request)
{
	if(Request.responseText == 'A'){
		alert("您还没有登陆，请登陆！");
	}else if(Request.responseText == 'B'){
		alert("感谢您的投票！");
	}else if(Request.responseText == 'C'){
		alert("您已经投过票了！");
	}else if(Request.responseText == 'D'){
		alert("不能给自己投票！");
	}
}
-->
</script>
<div id="censent">
  <div id="whyleftn">
  <div class="boxmargin">
      <div class="wntop"></div>
      <div class="wnmiddle">
<h2 class="link_3"><b>当前位置：</b><a href="{$MOD['linkurl']}">问吧首页</a> >> {$position}</h2>
      </div>
    </div>
    <div class="wbtleft"><div><!--{if $status==1}-->待解决问题<!--{/if}--><!--{if $status==2}-->已解决问题<!--{/if}--><!--{if $status==3}-->投票中问题<!--{/if}--><!--{if $status==4}-->已关闭问题<!--{/if}--></div>
    </div>
    <div class="boxmargin xianwhy">
    <dl class="wtkuang">
      <dt class="wt"><strong>问:</strong>{$title}</dt>
      <dd class="da"><img src="{$skindir}/images/why/xsf.gif" width="16" height="16" />悬赏分<em>{$score}</em>分 <!--{if $status==1}-->离问题结束还有<em>{$left_day}天{$left_hour}小时</em><!--{/if}-->
<!--{if $status==2}-->解决时间：{$introtimes}<!--{/if}-->
<!--{if $status==3}-->离投票结束还有<em>{$left_voteday}天{$left_votehour}小时</em><!--{/if}-->
</dd>
<!--{if $content}-->
<dt>
<b>问题补充：</b>{$content}
<!--{/if}-->
<dt></dt>

<form name="collectForm" action="" method="post">
	<!--{if $question_allowanswer}-->
		<input name="go" type="image" src="{$skindir}/images/why/wyhd.gif" onclick="location.href='#reply'" value="我要回答"  class="kuangimg" />&nbsp;&nbsp;
	<!--{/if}-->
</form>

 提问者：
<!--{if $hidname}--><em>匿名</em><!--{else}--><a href="{$PHPCMS[siteurl]}member/member.php?username={$username}"><em>{$username}</em></a><!--{/if}-->
&nbsp;{$user_grade} {$user_actor} ({$credit}) &nbsp;提问时间：{$asktime} &nbsp;</dt>
</dl>
</div>
<!--问题补充-->
<!--{if $question_allowhandle}-->
<div class="boxmargin xianwhyn">
<br />
<div style="padding:0 10px 5px 3px">
<input type="button" name="submit" value="问题补充" class="bnsrh" onclick="show_ques_supply();"/>&nbsp;&nbsp;&nbsp;&nbsp;可以对您的提问补充细节，以得到更准确的答案.
<div id="ques_supply" style="display:none">
<form name="handleform1" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post">
<div class="t3 bgb bcb">
	<table cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
			<td class="f14" align="left" colspan="2">请对您的问题进行补充</td>
		</tr>
		<tr valign="top">
			<td class="f14" width="15%" align="left" colspan="2">
				<textarea name="content" type="text" rows="5" cols="100">{$content}</textarea>
			</td>
		</tr>
		<tr>
			<td class="f14" width="15%">&nbsp;
			</td>
			<td width="85%">
				<input type="submit" name="dosubmit" value="好了，提交问题补充" class="bnsrh" />
				<input type="button" name="submit" value="关闭问题补充" class="bnsrh" onClick="show_ques_supply(1);"/>
			</td>
		</tr>
	</table>
</div>	
	<input type="hidden" name="option" value="ques_supply" />
	<input type="hidden" name="qid" value="{$qid}" />
</form>
</div>
</div>
<div style="padding:0 10px 5px 3px">
<input type="button" name="submit" value="提高悬赏" class="bnsrh" onclick="show_ques_addscore();"/>&nbsp;&nbsp;&nbsp;&nbsp;提高悬赏分，以提高问题的关注度，并获得额外5天问题有效期.
<div id="ques_addscore" style="display:none">
<form name="handleform2" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post" onsubmit="return ck_addscore(this)">
<div class="t3 bgb bcb">
	<table cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
			<td class="f14" align="left" colspan="2">请给您的提问追加悬赏分</td>
		</tr>
		<tr valign="top">
			<td class="f14" width="15%" align="right">追加悬赏：&nbsp;
			</td>
			<td width="85%" align="left">
				<select name="addscore" onchange="ck_addscore();"> 
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="50">50</option>
				<option value="80">80</option>
				<option value="100">100</option>
				<option value="2000">2000</option>
				</select>
				您目前的总积分<strong>{$credit}</strong><span id="addscore_msg"></span>
			</td>
		</tr>
		<tr>
			<td class="f14" width="15%">&nbsp;
			</td>
			<td width="85%">
				<input type="submit" name="dosubmit" value="好了，提交追加悬赏" class="bnsrh" />
				<input type="button" name="submit" value="关闭追加悬赏" class="bnsrh" onClick="show_ques_addscore(1);"/>
			</td>
		</tr>
	</table>
</div>	
	<input type="hidden" name="option" value="ques_addscore" />
	<input type="hidden" name="qid" value="{$qid}" />
</form>
</div>
</div>
<!--{if $question_allowsetvote}-->
<div style="padding:0 10px 5px 3px">
<input type="button" name="submit" value="发起投票" class="bnsrh" onclick="show_ques_vote();"/>&nbsp;&nbsp;&nbsp;&nbsp;不知道哪个回答最好时，可让网友投票来选出最佳答案.
<form name="handleform3" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post">
	<input type="hidden" name="option" value="ques_vote" />
	<input type="hidden" name="qid" value="{$qid}" />	
</form>
</div>
<!--{/if}-->
<div style="padding:0 10px 5px 3px">
<form name="handleform4" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post">
	<input type="submit" name="dosubmit" value="结束问题" class="bnsrh" />&nbsp;&nbsp;&nbsp;&nbsp;没有满意的回答，还可直接结束提问，关闭问题.
	<input type="hidden" name="option" value="ques_close" />
	<input type="hidden" name="qid" value="{$qid}" />
</form>
</div>
</div><!--{/if}-->
<!--发起投票-->
<div class="boxmargin xianwhyn">
<div id="ques_hidden" style="display:blcok">
<!--{if $answer_count && ($status==1 || $status==4)}-->
<div style="padding:10px 0 0 10px"><b>问题答案 ( 共{$answer_count}条 )</b></div>
<div class="b3">
<div class="w100">
<!--{loop $answer_list $answer}-->



<dl class="wdwtn">
<dt>回答者：<em><a href="{$PHPCMS[siteurl]}member/member.php?username={$answer['username']}">{$answer['username']}</a> &nbsp;</em> &nbsp;{$answer['grade']}({$answer['credit']}) &nbsp;回答时间：<em>{$answer['answertime']}</em></dt>

<dt><strong>答：</strong>{$answer['answer']}</dt>
</dl>




<!--{if $username==$_username && $status==1}-->
<div style="padding:0 10px 5px 3px">
<input type="button" name="submit" value="采纳答案" class="bnsrh" onclick="show_ques_adopt('','{$answer['aid']}');"/>
</div><div id="ques_adopt_{$answer['aid']}" style="display:none">
<form name="handleform5" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post">
<div class="t3 bgb bcb">
	<table cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr valign="top">
			<td class="f14" width="20%" align="right">感谢语或评论：&nbsp;<br>（选填）
			</td>
			<td width="80%" align="left">
				<textarea name="response" type="text" rows="5" cols="95"></textarea>
			</td>
		</tr>
		<tr valign="top">
			<td width="80%" align="left" colspan="2">如果您对这一回答非常满意,您可以选择给回答者额外的积分奖励（选填）：
				<select name="superadditionscore" onchange="ck_superadditionscore(this,'{$answer['aid']}');"> 
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="50">50</option>
				<option value="80">80</option>
				<option value="100">100</option>
				<option value="3000">3000</option>
				</select>
				您目前的总积分<strong>{$credit}</strong><span id="superadditionscore_msg_{$answer['aid']}"></span>	
			</td>
		</tr>
		<tr>
			<td class="f14" width="20%">&nbsp;
			</td>
			<td width="80%">
				<input type="submit" name="dosubmit" value="好了，提交评论" class="bnsrh" />
				<input type="button" name="submit" value="关闭评论" class="bnsrh" onClick="show_ques_adopt(1,'{$answer['aid']}');"/>
			</td>
		</tr>
	</table>
</div>
	<input type="hidden" name="aid" value="{$answer['aid']}" />
	<input type="hidden" name="score" value="{$score}" />
	<input type="hidden" name="answername" value="{$answer['username']}" />
	<input type="hidden" name="option" value="ques_adopt" />
	<input type="hidden" name="qid" value="{$qid}" />
</form>
</div>
<!--{/if}-->
<!--{if ($_username && $answer['username']==$_username) && $status==1}-->
<div style="padding:0 10px 5px 3px">
<input type="button" name="submit" value="修复答案" class="bnsrh" onClick="show_edit_answer();"/>
<div id="edit_answer" style="display:none">
<form name="editanswerForm" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post" onsubmit="return check_answerform(this);">
<div class="t3 bgb bcb">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td class="f14" width="15%">&nbsp;</td>
		<td><span id="user_msg"></span></td>
		</td>
	</tr>
	<tr valign="top">
		<td class="f14" width="15%" align="right">修复答案：&nbsp;
		</td>
		<td width="85%" align="left">
			<textarea name="answer" id="answer" type="text" rows="10" cols="100">{$answer['answer']}</textarea><br>回答字数在10000字以内
			<br /><br />
		</td>
	</tr>
	<tr>
		<td class="f14" width="15%">&nbsp;
		</td>
		<td width="85%">
			<input type="hidden" name="aid" value="{$answer['aid']}">
			<input type="hidden" name="qid" value="{$qid}">
			<input type="hidden" name="option" value="edit_answer">
			<input type="submit" name="dosubmit" value="好了，提交修复答案" class="bnsrh" />
			<input type="button" name="submit" value="关闭修复答案" class="bnsrh" onClick="show_edit_answer(1);"/>
		</td>
	</tr>
</table>
</div>
</form>
</div>
<br />
</div>
<!--{/if}-->

<!--{/loop}-->
</div>
</div>
<!--{/if}-->
<!--{if $status==2}-->
<div class="t3 bgb bcb"><img src="{$PHPCMS[siteurl]}images/best_answer.gif">最佳答案</div>
    <dl class="wdwtn">
      <dt>回答者：<em><a href="{$PHPCMS[siteurl]}member/member.php?username={$other_ques['other_username']}">{$other_ques['other_username']}</a></em> {$good_answer_grade} {$good_answer_actor} ({$gcredit}) &nbsp;回答时间：<em>{$good_answertime}</em></dt>
    <dt><strong>答：</strong>{$good_answer}</dt>
    </dl>
<!--{if $other_answer_count}-->
<div class="t3 bgb bcb">其他答案 ( 共{$other_answer_count}条 )</div>
<div class="b3 bcb mb12">
<div class="w100">
<!--{loop $other_queslist $other_ques}-->
<dl class="wdwtn">
      <dt>回答者 <em><a href="{$PHPCMS[siteurl]}member/member.php?username={$other_ques['other_username']}">{$other_ques['other_username']}</a></em> &nbsp;{$other_ques['other_answer_grade']} {$other_ques['other_answer_actor']} ({$other_ques['other_answer_credit']}) 回答时间<em>{$other_ques['other_answertime']}</em></dt>
    <dt><strong>答</strong>：{$other_ques['other_answer']} </dt>
    </dl>
<!--{/loop}-->
</div>
</div>
<!--{/if}-->
<!--{/if}-->

<!--{if $status==3}-->
<script language="JavaScript">
<!--
function newin (url,w,h)
{		
	window.open(url,"","toolbar=no,width="+w+",height="+h+",directories=no,status=no,scrollbars=yes,resizable=no,menubar=no")
}                                 
//-->
</script>
<div class="t3 bgb bcb">投票流程说明</div>
<div class="b3 bcb mb12">
<div class="w100">
当投票时间达到5天,投票自动结束,此时:<br>
1) 如果总投票数多于4票,且票数最高的回答得票数多于3票,<br> 
&nbsp;&nbsp;&nbsp;&nbsp;则系统自动将得票数最多的回答选为正确答案;<br>
2) 如果总投票数不足4票,则问题将被自动关闭;
</div>
</div>
<div class="t3 bgb bcb">投票备选答案 ( 共{$vote_answer_count}条 )</div>
<div class="b3 bcb mb12">
<div class="w100">
<!--{loop $vote_queslist $vote_ques}-->
<div class="f14">{$vote_ques['vote_answer']}</div>
<div class="f13" align="right">回答者：<a href="{$PHPCMS[siteurl]}member/member.php?username={$vote_ques['vote_username']}">{$vote_ques['vote_username']}</a> &nbsp;{$vote_ques['vote_answer_grade']} {$vote_ques['vote_answer_actor']} ({$vote_ques['vote_answer_credit']}) &nbsp;回答时间：{$vote_ques['vote_answertime']} &nbsp;</div>
<input type="button" name="submit" value="投他一票" class="bnsrh" onclick="t_vote('{$vote_ques['vote_username']}','{$qid}','{$vote_ques['aid']}')"/> 

<div class="f12"><hr size=1 color="#cccccc" width="99%"></div>
<!--{/loop}-->
</div>
<a href="javascript:newin('{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php?option=viewvote&qid={$qid}',716,300);">查看投票结果</a>
</div><!--{/if}-->
</div>
</div>
<div id="ques_vote" style="display:none">
<div class="t3 bgb bcb">投票流程说明</div>
<div class="b3 bcb mb12">
<div class="w100">
当投票时间达到5天,投票自动结束,此时:<br>
1) 如果总投票数多于4票,且票数最高的回答得票数多于3票,<br> 
&nbsp;&nbsp;&nbsp;&nbsp;则系统自动将得票数最多的回答选为正确答案;<br>
2) 如果总投票数不足4票,则问题将被自动关闭;
</div>
</div>
<!--{if $answer_count && $status==1}-->
<div class="t3 bgb bcb">设定候选答案 ( 共{$answer_count}条 )</div>
<div class="b3 bcb mb12">
<div class="w100">
<form name="voteForm" id="voteForm" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/handle.php" method="post" onSubmit="return ck_voteform();">
<!--{loop $answer_list $answer}-->
<div class="f14">{$answer['answer']}</div>
<div class="f13" align="right">回答者：<a href="{$PHPCMS[siteurl]}member/member.php?username={$answer['username']}">{$answer['username']}</a> &nbsp;{$answer['answer_grade']} {$answer['answer_actor']} ({$answer['credit']}) &nbsp;回答时间：{$answer['answertime']} &nbsp;</div>
<input type="checkbox" name="check_answer[]" id="check_answer" value="{$answer['aid']}" onclick="selnum+=checked?1:-1;ck_voteform();"/>候选
<div class="f12"><hr size=1 color="#cccccc" width="99%"></div>
<!--{/loop}-->
<input type="hidden" name="option" value="ques_vote" />
<input type="hidden" name="qid" value="{$qid}" />
<input type="submit" name="dosubmit" value="好了，转入投票流程" class="bnsrh" />
<input type="button" name="submit" value="关闭转入投票流程" class="bnsrh" onClick="show_ques_vote(1);"/><span id="vote_msg"><font color='red'><strong>请选择至少两个备选答案.</strong></font></span>
</form>
</div>
</div>
<!--{/if}-->
</div>




<!--{if !$longinanswer && $status==1 && $username!=$_username}-->
<div class="b4 bcb mb12">
<div class="w100">
<form name="answerForm" action="{$PHPCMS[siteurl]}{$MOD[moduledir]}/question.php" method="post" onsubmit="return check_answerform(this);">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td class="f14" width="15%">&nbsp;</td>
		<td><span id="user_msg"></span></td>
		</td>
	</tr>
	<tr valign="top">
		<td class="f14" width="15%" align="right"><a name="reply"></a>我要回答：&nbsp;
		</td>
		<td width="85%" align="left">
			<textarea name="answer" id="answer" type="text" rows="20"></textarea>
			<br>回答字数在10000字以内
			<br /><br />
		</td>
	</tr>
	<tr>
		<td class="f14" width="15%">&nbsp;
		</td>
		<td width="85%">
			<input type="hidden" name="qid" value="{$qid}">
			<input type="submit" name="dosubmit" value="好了，提交回答" class="bnsrh" />
		</td>
	</tr>
</table>
</form>
<br />
</div>
</div>
<script type="text/javascript">ck_user();</script>
<!--{/if}-->
  </div>
<div id="whyrightn">
{template 'wenba','right'}
</div>
</div>

{template 'phpcms','footer'}