{template 'member','header'}
<div id="main">
  {template "ask","left"}
  <div id="right">
    <p id="position"><strong>当前位置：</strong><a href="{$MODULE[member][url]}">会员中心</a><a href="{$M[url]}center.php">问吧</a>查看积分</p>
    <div class="clear"></div>
    <table cellpadding="0" cellspacing="1" class="table_list">
      <caption>
      查看积分
      </caption>
	<tr>
		<th>提问数</th>
		<th>回答数</th>
		<th>等级头衔</th>
		<th>总积分</th>
		<th>本月积分</th>
		<th>上月积分</th>
		<th>本周积分</th>
		<th>上周积分</th>
	</tr>
	<tr>
		<td>{$asknumber}</td>
		<td>{$answernumber}</td>
		<td>{actor($actortype,$_point)}</td>
		<td>{$_point}</td>
		<td>{$month}</td>
		<td>{$premonth}</td>
		<td>{$week}</td>
		<td>{$preweek}</td>

	</tr>
    </table>
    <!--提示信息-->
    <table cellpadding="0" cellspacing="1" class="table_form">
      <caption>
      积分规则
      </caption>
      <tr>
        <td class="align_left"> 
		1、匿名默认扣除积分 <font color="#ff0000">{$M[anybody_score]}</font> 分<br>
		2、会员回答问题奖励积分 <font color="#ff0000">{$M[answer_give_credit]}</font> 分<br>
		3、回答问题每日最多可获得积分 <font color="#ff0000">{$M[answer_max_credit]}</font> 分<br>
		4、回答被采纳为最佳答案奖励积分 <font color="#ff0000">{$M[answer_bounty_credit]}</font> 分<br>
		5、会员投票奖励积分 <font color="#ff0000">{$M[vote_give_credit]}</font> 分<br>
		6、会员投票每日最多可获得积分 <font color="#ff0000">{$M[vote_max_credit]}</font> 分<br>
		7、提问上线后被删除扣除积分 <font color="#ff0000">{$M[del_question_credit]}</font> 分<br>
		8、回答上线后被删除扣除积分 <font color="#ff0000">{$M[del_answer_credit]}</font> 分<br>
		9、问题15天内不处理扣除积分 <font color="#ff0000">{$M[del_day15_credit]}</font> 分 <font color="#FF9933">(问题到期，提问用户不作处理不做最佳答案判断、不通过提高悬赏延期问题有效时间，不关闭问题，或不转入投票流程，在问题直接过期或自动转投票时扣除提问用户{$M[del_day15_credit]}分)</font><br>
		10、处理过期问题返回积分 <font color="#ff0000">{$M[return_credit]}</font> 分 <font color="#FF9933">（过期自动转投票问题选出最佳答案或提问者对过期问题进行处理，包括采纳最佳答案和选择无满意答案，提问者都可以获得系统返还的 {$M[return_credit]}分）</font><br>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>
{template 'phpcms','footer'}