{template 'member','header'}
<div id="main">
  {template "ask","left"}
  <div id="right">
    <p id="position"><strong>当前位置：</strong><a href="{$MODULE[member][url]}">会员中心</a><a href="{$M[url]}center.php">问吧</a>{if $status==-1}全部提问{elseif $status==3}待解决问题{elseif $status==5}已解决问题{elseif $flag==1}投票中的问题{else}全部提问{/if}</p>
    <div class="clear"></div>
    <table cellpadding="0" cellspacing="1" class="table_list">
      <caption>提问管理</caption>
      <tr>
        <th>标题</th>
        <th width="50">回答数</th>
        <th width="50">状态</th>
        <th width="50">点击数</th>
        <th width="110">提问时间</th>
        <th width="50">编辑</th>
      </tr>
	{loop $infos $info}
	<tr>
		<td class="align_left">
{if $info['reward']}<span style="color:orange;"><img src="images/icon_credit.gif" width="12" height="11">{$info[reward]} </span>{/if}
	<a href="{ask_url($info[askid])}" target="{$target}" title="{$info[title]}">{str_cut($info[title], 72, '..')}</a> <a href="{$CATEGORY[$info[catid]][url]}" style="color:gray">[{$CATEGORY[$info[catid]][catname]}]</a>
		</td>
		<td>{$info[answercount]}</td>
		<td>{if $info[status]==3}<font color=#009900>待解决</font>{elseif $info[status]==5}<font color=#FF9900>已解决</font>{else}<font color=#BCBCBC>已关闭</font>{/if}</td>
		<td>{$info[hits]}</td>
		<td>{date('Y-m-d H:i',$info[addtime])}</td>
		<td>{if $info[status]==3}<a href="{$M[url]}center.php?action=edit&job=ask&id={$info[askid]}"><img src="{$M[url]}images/edit.gif" alt="编辑" width="16" height="16" /></a>{else}<img src="{$M[url]}images/edit.gif" width="16" height="16" /></a>{/if}</td>
	</tr>
	{/loop}
    </table>
    <div id="pages">{$pages}</div>
    <table cellpadding="0" cellspacing="1" class="table_info">
      <caption>
      提示信息
      </caption>
      <tr>
        <td> 为了让您的提问被更多人关注，以获得最佳的回答，您可以追加悬赏
<br/>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>
{template 'phpcms','footer'}