{template 'member','header'}
<div id="main">
  {template "ask","left"}
  <div id="right">
    <p id="position"><strong>当前位置：</strong><a href="{$MODULE[member][url]}">会员中心</a><a href="{$M[url]}center.php">问吧</a>我的回答</p>
    <div class="clear"></div>
    <table cellpadding="0" cellspacing="1" class="table_list">
      <caption>我的回答</caption>
      <tr>
        <th width="50">问题ID</th>
        <th>回复内容摘要</th>
        <th width="110">回答时间</th>
        <th width="50">状态</th>
        <th width="50">编辑</th>
      </tr>
	{loop $infos $info}
	<tr>
		<td>{$info[askid]}</td>
		<td class="align_left"><a href="{$M[url]}show.php?id={$info[askid]}" >{str_cut(strip_tags($info[message]), 72, '..')}</a></td>
		<td>{date('Y-m-d H:i',$info[addtime])}</td>
		<td>{if $info[optimal]}<font color=#009900>已采纳</font>{else}未采纳{/if}</td>
		<td>{if $info[optimal]}<img src="{$M[url]}images/edit.gif" width="16" height="16" />{else}<a href="{$M[url]}center.php?action=edit&id={$info[pid]}"><img src="{$M[url]}images/edit.gif" alt="编辑" width="16" height="16" /></a>{/if}</td>
	</tr>
	{/loop}
    </table>
    <div id="pages">{$pages}</div>
    <table cellpadding="0" cellspacing="0" 0 class="table_info">
      <caption>提示信息</caption>
      <tr>
        <td> 为了让您的提问被更多人关注，以获得最佳的回答，您可以一次追加悬赏20分以上（含20分），<br/> 
将问题在分类下的“待解决”问题列表中显示为最新，类似于新提出的问题 
<br/>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>
{template 'phpcms','footer'}