{template 'phpcms','header'}
<!--begin main-->
<div id="main">
  <!--begin left-->
  <div id="main_l">
    <!--导航-->
    <div id="position"><a href="{$M[url]}">问吧首页</a>积分排行</div>
    <!--标签页-->
    <div class="tag_menu">
      <ul>
        <li {if $action=='week'}class="selected"{/if}><a href="{$M[url]}creditlist.php?action=week">上周积分</a></li>
        <li {if $action=='month'}class="selected"{/if}><a href="{$M[url]}creditlist.php?action=month">上月积分</a></li>
        <li {if $action=='all'}class="selected"{/if}><a href="{$M[url]}creditlist.php?action=all">总积分</a></li>
      </ul>
    </div>
{if $action=='week'}{tag_积分列表页周排行}{elseif $action=='month'}{tag_积分列表页月排行}{else}{tag_积分列表页总排行}{/if}
  </div>
  <!--end left-->
  <!--begin right-->
  <div id="main_r">
    <h4>最新问题</h4>
    <div>
      <ul class="text_list">
       {tag_侧栏最新问题}
      </ul>
    </div>
    <h4>推荐问题</h4>
    <div class="text_list">
      <ul>
        {tag_侧栏推荐问题}
      </ul>
    </div>
  </div>
  <!--end right-->
</div>
<!--end main-->
<!--begin foot-->
{template 'phpcms','footer'}