<table cellpadding="0" cellspacing="0" class="table_list">
<tr>
<th>用户名</th>
<th>积分</th>
<th>角色</th>
<th>最后登陆时间</th>
<th>登陆次数</th>
<th>回答数</th>
<th>采纳数</th>
</tr>
{loop $data $n $r}
<tr>
<td><a href="{$MODULE[member][url]}view.php?userid={$r[userid]}">{$r[username]}</a></td>
<td>{$r[point]}</td>
<td>{actor($r[actortype],$r[point])}</td>
<td>{date('Y-m-d H:i',$r[lastlogintime])}</td>
<td>{$r[logintimes]}</td>
<td>{$r[answercount]}</td>
<td>{$r[acceptcount]}</td>
</tr>
{/loop}
</table> 
{if $pages}<p id="pages">{$pages}</p>{/if}