{template 'phpcms','header'}
<script type="text/javascript" src="images/js/jqModal.js"></script>
<div id="main">
  <!--begin left-->
  <div id="main_l">
    <!--导航-->
    <div id="position"><a href="{$M[url]}">问吧首页</a>具体问题</div>
    <div class="cat">
      <h3 class="now">{if $status==5}<span class="j_1">已解决</span>{elseif $status==6}<span class="j_1">已关闭</span>{else}<span class="j_2">未解决</span>{/if}</h3>
      <div class="question">{$title}</div>
      <div class="question_attribute">
	  {if !$isask && $status==3 && !$have_answer}<a href="{URL}#answerdiv"><img src="{$M[url]}images/btn_answer.gif" alt="我要回答"/></a>&nbsp;{/if}
	  {if $status==5} 解决时间：{date('Y-m-d H:i',$solvetime)} {elseif $status==3}离问题结束还有<span class="time">{$day}天{$hour}小时{$minute}分</span>{/if} {if $reward}悬赏：<span class="gold">{$reward}</span>{/if}</div>
      <div class="question_add" >
        <p><span id="askmessage">{$message}</span></p>
      </div>
    </div>

    <!--最佳答案-->
	{if $status==5}
    <div class="cat">
      <h3 class="good">最佳答案　<span>回答者： phpcms   一级  试用期 (0)     回复时间：{date('Y-m-d H:i',$answertime)}</span></h3>
      <div class="answer">
        <p>{$answer}</p>
      </div>
    </div>
	{/if}
    <!--其他答案-->
   <div class="cat">
<h3>其他回答<span>({$answercount})</span></h3>
<form name="voteForm" id="voteForm" action="" method="post" onSubmit="return ck_voteform();">
	  {loop $infos $info}
      <div class="answer_list">
        <ul>
          <li><span id="answermessage">{$info[message]}</span></li>
          <li>
		{if $status==3 && $userid==$_userid}
		<input type="checkbox" name="check_answer[]"  value="{$info[pid]}" onclick="selnum+=checked?1:-1;ck_voteform();"/>候选
		{/if}
          </li>
          <li class="align_r">回答者：{$info[username]} {$info[actor]} 回复时间：{date('Y-m-d H:i',$info[addtime])}</li>
        </ul>
      </div>
	  {/loop}
	<p>
	<input type="submit" name="dosubmit" value="好了，转入投票流程" />
	<input type="hidden" name="forward" value="{$forward}" />
	<input type="button" value="返回" onclick="history.back(-1);"/> <span id="vote_msg"><font color='red'><strong>请选择至少两个备选答案.</strong></font></span></p>
</form>
</div>
  </div>
  <!--end left-->
  <!--begin right-->
  <div id="main_r">
    <h4>热点问题</h4>
    <div>
      <ul class="text_list">
       {tag_侧栏热点问题}
      </ul>
    </div>
    <h4>推荐问题</h4>
    <div class="text_list">
      <ul>
        {tag_栏目页推荐问题}
      </ul>
    </div>
    <h4 class="tag_box">积分排行<span class="tag_menu_1"><a href="{$M[url]}creditlist.php?action=week" onMouseOver="showContent('0')" id="nav0">上周</a><a href="{$M[url]}creditlist.php?action=month" onMouseOver="showContent('1')" id="nav1">上月</a><a href="{$M[url]}creditlist.php?action=all" onMouseOver="showContent('2')" id="nav2" class="selected">总排行</a></span></h4>
    <div id="content0" style="display:none;">
      <ul class="text_list_1">
	  {tag_上周积分排行榜}
      </ul>
    </div>
	<div id="content1" style="display:none;">
      <ul class="text_list_1">
	  {tag_上月积分排行榜}
      </ul>
    </div>
	<div id="content2">
      <ul class="text_list_1">
	  {tag_总积分排行榜}
      </ul>
    </div>
  </div>
  <!--end right-->
</div>

<SCRIPT LANGUAGE="JavaScript">
<!--
function showContent(id)
{
for (var i = 0;i < 3;i++)
{
var nav = document.getElementById("nav" + i);
var content = document.getElementById("content" + i);
	if (i == id)
	{
	nav.className = 'selected';
	content.style.display = "";
	}
	else
	{
	nav.className = '';        
	content.style.display = "none";
	}
}
}
var selnum = 0;
function ck_voteform()
{
	if(selnum >= 2)
	{
		$('#vote_msg').html('');
		return true;
	}
	else
	{
		$('#vote_msg').html("<font color='red'><strong>请选择至少两个备选答案.</strong></font>");
		return false;
	}
}
//-->
</SCRIPT>
<!--end main-->
<!--begin foot-->
{template 'phpcms','footer'}