/* base */
* { margin:0; padding:0;
}
body {font-family:"宋体";font-size:13px;background-color:#fff;color:#013780;margin:0 auto;}
body,form,p,ol,ul,li,p,h2,h3,h4,dl,dt{padding: 0px;margin: 0px;}
li {list-style-type: none;}
img,fieldset{border:0;}
a:link,a:visited{ color:#013780;text-decoration:none;}
a:hover{text-decoration:underline;}
em{font-style:normal;}
#clear{clear: both;height: 1px;}
#hd,#censent,#bottem {width:980px;text-align:left;margin:0 auto;}
/*js切换标题*/
.xw-1 {clear:both;background:url(images/bttopbg.gif) repeat-x;height:29px;margin:0;padding:0;}
.xw-1 li {list-style-type:none;display:block;height:29px;}
.xw-left {background:url(images/bttop1.gif) no-repeat;padding-left:20px;float:left;}
.xw-on {float:left;background:url(images/bttop1-1.gif) left bottom no-repeat;line-height:23px;padding-top:6px;cursor:pointer;}
.xw-onn {line-height:29px;font-weight:700;color:#013780;font-size: 14px;}
.xw-on span {background-image:url(images/bttop1-2.gif);background-position:right bottom;padding-right:10px;padding-left:10px;float:left;background-repeat:no-repeat;font-weight:700;}
.xw-off {float:left;height:23px;padding-right:10px;padding-left:10px;line-height:23px;padding-top:6px;cursor:pointer;}
.xw-off span {color:#434343;}
.xw-right {float:right;background:url(images/bttop2.gif) no-repeat right;padding-right:20px;line-height:29px;color:#999;height:29px;}
/*hd*/
#articlecontenttop0 a {color: #000000;}
#dl {line-height: 23px;color: #51B2F4;}
#dl a {color: #0098FF;text-decoration: none;}
#top{position:relative;margin-top:12px;margin-bottom:8px;height: 71px;}
#logo {float:left;margin:12px 12px 0;}
#topbanner {width: 593px;float:left;background-color: #EBEBEB;height: 71px;}
#dl {width: 210px;height:71px;float:right;}
#menu{ clear:both;background:url(images/menubg.gif) repeat-x left; height:59px; line-height:29px; padding-left:140px; }
/*导航*/
#Nav-head {width: 960px;background-image: url(images/menubg.gif);background-repeat: repeat-x;height: 30px;margin-top: 0;
margin-right: auto;margin-bottom: 0;margin-left: auto;padding-left: 20px;}
#Nav-head li {float: left;list-style-type: none;}
.nav-on {background: url(images/menuleft.gif) no-repeat left bottom;line-height: 27px;CURSOR: pointer}
.nav-on p {background: url(images/menuright1.gif) no-repeat right bottom;padding:3px 10px 0 10px;}
.nav-off {height: 29px;background-repeat: no-repeat;color: #fff;CURSOR: pointer}
.nav-off p {line-height: 27px;padding:3px 10px 0 10px;background-repeat: no-repeat;background-position: right;}
.Nav-Bottom {margin:auto auto 8px auto;width: 958px;background: url(images/menubg.gif) bottom;height: 29px;padding-left: 20px;border-width:0 1px 0 1px;border-style: solid;border-color: #CCCCCC;clear: both;}
.Nav-Bottom span {line-height: 28px;margin-right: 10px;}
/*censent布局框架*/
.xian { float:left;border:solid #dadada;border-width:0 1px 1px;}
.boxmargin {margin-bottom:8px;clear:both;}
.boxpadding{padding-top: 8px;padding-bottom: 8px;}
#left {border:0px;width: 666px;float:left;margin-top: 8;margin-right: 8;margin-bottom: 0;margin-left: 3;}
#right {border:0;width:303px;float:right;clear:none;}
.layout{height:auto;clear: both;}
#xwzxboxl{width:329px;float:left;margin-right: 8px;margin-bottom: 8px;}
#xwzxboxr{width:329px;float:left;margin-bottom: 8px;}
.boxr {width:301px;}
.boxl {width:664px;}
.boxzwzx {width:327px;}px;}
/*censent交换图片*/
/*censent新闻列表*/
/*censent左边广告位*/#leftbanner {clear:both;height:137px;margin-bottom:8px;background-image: url(images/index-2_24.gif);background-repeat: no-repeat;text-align: center;}
/*censent新闻频道*/
#w1 {width:200px;height:auto;text-align:center;padding:15px 10px;}
.w1-box {color:#EFF8FD;border:1px solid #B8E4FE;background-color:#EFF8FD;text-align:left;line-height:20px;text-indent:5px;padding:8px;}
#w2 {width:420px;float:right;}
/*房产 黄页 供求 商城 */
#hy ul{margin:0;padding:0;}
#hy li{list-style:none;}
#hy h1,h2,h3,h4,h5,h6{margin:0;font-weight:bold;font-size:14px;}
#hy ul.FLli li{float:left;list-style:none;}
#hy .hackbox{clear:both;border-top:transparent 0 solid;}
#hy .imgborder img{border:1px solid #e6e6e6;padding:2px;background-color:#fff;}
#hy a{padding:2px 1px 0 ;color:#25f;text-decoration:none;}
#hy a:hover{color:#f50;text-decoration:underline;}
#hy a.NobgLink:hover{background:none;}
#RecomContent{background-color:#ffedd9;padding:5px 0 5px 8px;font-family:Verdana, Arial, Helvetica, sans-serif;}
#hy .CateMenu h3{display:inline;}
#hy .CateMenu li{margin-right:4px;width:105px;height:39px;background:url(images/recommenubg_01.gif) no-repeat;}
#hy .CateMenu li.current{position:relative;background:url(images/recommenubg_02.gif) no-repeat;}
#hy .CateMenu li.current span{position:absolute;width:101px;bottom:-2px;/*>bottom:-2px;*/left:2px;border-bottom:3px solid #fff;}
#hy .CateMenu li a{color:#c30;font-size:14px;font-weight:bold;line-height:2.4em;padding:10px 10px 11px 35px;}
#hy .CateMenu li a:hover{color:#c30;text-decoration:underline;}
#hy .CateMenu li a.Map{background:url(images/icon_map.gif) no-repeat 10px 3px;}
#hy .CateMenu li a.Cate{background:url(images/icon_cate.gif) no-repeat 5px 3px;}
#hy .CateMenu li a.Discount{background:url(images/icon_discount.gif) no-repeat 10px 3px;}
#hy .CateMenu li a.Cook{background:url(images/icon_cook.gif) no-repeat 10px 3px;}
#hy .ContStyle,.ContStyleUp{margin-left:1px;border:1px solid #fbdebb;background-color:#fff;width:648px;}
#hy .ContStyle{padding:5px 0;}
#hy .ContStyleUp{height:148px;padding:5px 0 0 ;}
#hy .ContStyle h4{float:left;}

/*censent图片频道*/
.xunhuan {width:300px;float:left;height: 100px;margin-top: 5px;margin-bottom: 5px;margin-right: 10px;margin-left: 10px;}
.xunhuan img {float:left;margin-right:10px;border:1px solid #CCC;padding:3px;}
.xunhuan span{line-height:26px;}
/*censent影视频道*/
#digg {margin: 5px;padding: 0px;background-image: url(images/d-1.gif);background-repeat: repeat-x;line-height: 25px;background-position: bottom;}
#digg #img img {float: left;padding-top: 5px;padding-right: 10px;padding-bottom: 10px;}
#digg ul{margin: 0px;padding: 0px;} 
#digg li {clear: both;padding: 5px;margin-bottom: 8px;list-style-type: none;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
/*censent新闻公告*/
#ggnr p {line-height:160%;font-weight:400;background-image:url(images/d-1.gif);background-position:bottom;background-repeat:repeat-x;margin:10px;}
/*censent在线问答*/
.zxwddh {font-size: 14px;line-height: 23px;margin: 10px;padding-bottom: 10px;background-image: url(images/d-1.gif);background-repeat: repeat-x;background-position: bottom;}
/*censent下载排行*/
#xzphnr h2 {line-height:26px;font-weight:400;color:#000;background-color:#f0f9fe;border:1px solid #9cc3d9;text-align:left;height:26px;width:auto;text-indent:20px;margin:4px;}
/*搜索*/
.search {height:29px;width:auto;background-color:#f0f9fe;border:1px solid #9cc3d9;padding-left:20px;color:#000;font-size:12px;clear:both;padding-top:8px;}
.box {border:1px solid silver;width:182px;height:20px;clip:rect( 0px, 181px, 20px, 0px );overflow:hidden;}
.box2 {border:1px solid #F4F4F4;width:180px;height:18px;clip:rect( 0px, 179px, 18px, 0px );overflow:hidden;}

#articlecontenta0 dl {float:left;line-height:15px;text-align:center;width: 165px;padding-top: 2px;padding-right: 0;padding-bottom: 2px;padding-left: 0;height: 120px;margin: 0;
}
#articlecontenta0 img {border:1px solid #CCC;}
#articlecontenta0 dt {height:25px;line-height:25px;margin:0;padding:0;} 
/*censent置顶排行*/
.sptb1 {background: url(images/hj.gif) no-repeat;width: 70px;line-height: 20px;padding-left: 20px;height: 20px;float: left;}
.sptb2 {background: url(images/wj.gif) no-repeat;width: 70px;line-height: 20px;padding-left: 20px;height: 20px;float: left;}
.sptb3 {background: url(images/hy.gif) no-repeat;width: 70px;line-height: 20px;padding-left: 20px;height: 20px;float: left;} 
/*所以列表链接*/
.List-1 {color:#013780;padding:5px 10px;}
.List-1 li {line-height:22px;height:22px;background-position:left center;background-repeat:no-repeat;list-style-type:none;clear: both;}
.List-1 ul {list-style-type:none;}
.List-1 span {float:right;}
.List-1 a,.List-1 a:visited {color:#013780;}
.List-1 a:hover,.globalMenu a:hover {color:#bc2931;}
.globalMenu a, a:visited {color:#000;}
/*censent内容页面*/
.news-on {background: url(images/news_menu.gif) no-repeat;background-position: right top;}
.news-off {}
#jhxxn #btnewmenu a {color: #014196;text-decoration: none;} 
#jhxxn {width:410px;list-style-type:none;line-height: 18px;padding: 0;float: right;background-color: #F5FAFD;border: 1px solid #D8F0FD;}
#jhxxn #btnewmenu {height: 40px;}
#jhxxn #btnewmenu ul {background-image: url(images/news_menubg.gif);margin: 1px;height: 38px;width: 408px;list-style-type: none;padding: 0;line-height: 38px;background-repeat: repeat-x;background-position: top;}
#jhxxn #btnewmenu li {float: left;width: 100px;font-size: 14px;font-weight: bold;text-align: center;}

#xwxx {width:387px;float:right;margin:15px;}
#tp dl {float:left;margin:15px 0 0 15px;padding:0 15px;}
#tp dt {text-align:center;line-height:24px;}
#tpxwlb-1 {background-color:#fcfcfc;border:1px solid #ebebeb;clear:both;margin-top:8px;padding: 8px 8px 2px ;}
#tpxwlb-1 dl {float:left;margin:0 5px 0 0;padding:0;}
#tpxwlb-1 dt {}
#xwlb p {font-size:14px;text-indent:5px;clear:both;width:656px;}
#xwlb li {background-image:url(images/d-1.gif);background-repeat:repeat-x;background-position:bottom;}
#xwlb li div {color:#999;font-size:13px;margin-bottom:10px;background-color:#f3f7fc;padding:10px;}
#xwlb .shuoming {background-color:#f3f7fc;margin-bottom:10px;text-indent:20px;font-size:13px;color:#979797;line-height:200%;clear:both;padding:15px;}
#xwlb {margin-top:8px;margin-bottom:8px;line-height:25px;clear:both;color:#1f3a87;}
#xwlb span {line-height:25px;text-align:right;padding-right:20px;color:#006;float:right;}
#bt11 {background-color:#F1F7FC;height:29px;width:100%;border:1px solid #d7e4ee;line-height:29px;color:#000;text-align:left;text-indent:25px;background-image: url(images/li2222.gif);background-repeat: no-repeat;background-position: 8px; }
#tpxwlb {background-color:#fcfcfc;border:1px solid #ebebeb;height:auto;width:auto;margin-top:8px;padding:8px;}
#tpxwlb-1 img {border:1px solid #CCC;padding:4px;}
.floatl {float:left;}
#xwlb.h2 {font-size:25px;line-height:80px;font-weight:700;color:#000;height:80px;text-align:center;padding:15px 0;}
.rightk {width:301px;}
#xwlbn {background-color:#f7fcff;width:100%;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#d7e4ee;border-bottom-color:#d7e4ee;border-left-color:#d7e4ee;}
#xwlbn .theTitle {height:85px;clear:both;width:100%;}
#xwlbn .theTitle .btt {font-family:"宋体";font-size:24px;font-weight:700;color:#000;line-height:30px;text-align:center;height:40px;padding-top:10px;}
#xwlbn .theTitle .text {clear:both;text-align:center;padding-top:0;padding-right:0;padding-bottom:10px;font-size:12px;
line-height:15px;}
#xwlbn #endText {text-align:left;overflow:hidden;font-size:14px;clear:both;line-height:23px;word-wrap:break-word;word-break:break-all;padding:11px;}
#xwlbn .endSummary {width:545px;clear:both;border:1px solid #DCE1E5;background:#fff;list-style-type:none;margin:0 auto 20px}
#xwlbn .endSummary ul {list-style-type:none;}
#xwlbn .endSummary li {text-align:left;font-size:14px;clear:both;line-height:23px;margin-bottom:10px;padding:9px 12px 6px;}
#xwlbn #endText h2 {font-size:14px;}
#xwlbn #endText p {margin:5px;}
#xwlbn #endText .icon {border:0;margin:3px 0 0;}
#xwlbn #endText table {table-layout:fixed;}
#xwlbn #endText td {overflow:hidden;text-overflow:ellipsis;}
#xwlbn #endText a {text-decoration:underline;color:#1f3a87;}
#xwlbn #endText a:hover {color:#bc2931;}
#tpxwlb-1 dt {text-indent:25px;}
#bgnew span{background: url(images/linn.gif) no-repeat;background-position: left center;
padding-left: 20px;}
/*页面底部 bottem*/
#bottem {height:auto;clear:both;float:left;color:0;margin-top:20px;margin-bottom:10px;}
#yqlj {height:auto;width:auto;text-align:center;padding:5px;}
#bqxx {text-align:center;height:30px;}
#flash {float: left;}
#jhxx {width:410px;line-height: 18px;padding: 0;float:right;list-style-type:none;}
.pages {
	text-align:center;
}