.digg_main{text-align:center;width:61px;height:68px;background-image: url(images/digg_up.gif);float:left; overflow:hidden;}
.digg_num{width:61px;height:40px;}
.digg_text{width:61px;height:28px;}
#digg_down{background-image: url(images/digg_down.gif);}
.digg_num1{
padding-top:2px;
font-size:18px;
font-weight:bolder;
}
.digg_num{
padding-top:2px;
font-size:18px;
font-weight:bolder;
}