{template 'member','header'}
<script type="text/javascript" src="images/js/validator.js"></script>
<body>
<div id="main">
  {template 'pay' , 'left'}
  <div id="right">
    <p id="position"> <strong>当前位置：</strong><a href="{$M[url]}">财务管理</a>点卡充值</p>
	<form name="thisForm" id= "thisForm" action="{$MODULE[$mod]['url']}showpayment.php?action=card" method="POST">   
    <table cellpadding="0" cellspacing="1" class="table_form">
     <caption>点卡充值</caption>
     <tr>
        <th width="15%">点数余额：</th>        
        <td>{$_point} 点</td>
     </tr>
     <tr>
        <th width="15%">资金余额：</th>        
        <td>{$_amount} 元</td>
     </tr>      
         <input name="cardtype" value="point" type="hidden" checked><!--input name="cardtype" value="amount" type="radio">&nbsp金钱-->
      <tr>
        <th width="15%"><font style="color:red;">*</font>卡号：</th>
        <td><input name="cardid" type="text" id="cardid" size="30" require='true' datatype='number'  msg='请检查卡号是否输入正确' msgid="card"/><span id="card"></span></td>
      </tr>
       <tr><tH>验证码：</tH>
        <td> {form::checkcode('checkcode',4,'require="true" datatype="require" msg="请输入验证码" msgid="checkcodetip"')}
        <span class="errtip" id="checkcodetip"></span>
        </td>
      </tr>
      <tr>
        <th></th>
        <td colspan="2"><label>
          <input type="submit" name="button" id="button" value="确 定" />
          </label></td>
      </tr>
    </table>
	</form>
  </div>
</div>
<div class="clear"></div>
{template 'member' , 'footer'}
<script language="javascript" type="text/javascript">
$().ready(function() {
	  $('form').checkForm(1);
	});
</script>