{template 'member','header'}
<body>
<div id="main">
  {template 'pay' , 'left'}
  <div id="right">
    <!--面包屑导航-->
    <p id="position"><strong>当前位置：</strong><a href="{$M[url]}">财务管理</a>交易记录</p>
    <!--欢迎页基本信息-->
    <div class="clear"></div>
    <div class="clear"></div>
    <table width="98%" cellpadding="0" cellspacing="1" class="table_form">
      <caption>交易类型</caption>
     <td class="align_c">
{if ($type == 'amount' || $type == '') }
            <input type="radio" onclick="redirect('{$M[url]}pay.php?type=amount')" value="amount" name="type" checked="checked"/> 资金 
            {else}
            <input type="radio" onclick="redirect('{$M[url]}pay.php?type=amount')" value="amount" name="type" checked="checked"/> 资金 
            {/if}
        {if ($type == 'point') }
        <input type="radio" onclick="redirect('{$M[url]}pay.php?type=point')" checked="checked" value="point" name="type" /> 点数
        {else}
        <input type="radio" onclick="redirect('{$M[url]}pay.php?type=point')" value="point" name="type" /> 点数
        {/if}

</td>
    </table>
    <!--列表样式-->
    <table width="98%" cellpadding="0" cellspacing="1" class="table_list">
      <caption>交易记录</caption>
      <tr>
        <th style="width:150px;">交易时间</th>
		<th style="width:80px;">交易类型</th>
        <th style="width:100px;">交易金额</th>
		<th>交易事由</th>
      </tr>
      <tr>{if !empty($exchanges[info])}
	  {loop $exchanges['info'] $exchange}
        <td>{$exchange['time']}</td>
		<td>{$exchange['type_type']}</td>
        <td>{$exchange['number']}</td>
        <td>{$exchange['note']}</td>
      </tr>{/loop}
	  {else}
		<tr><td colspan="5">暂无记录</td></tr>
	  {/if}
    </table>
    <div class="button_box">
    </div>
    <div id="pages">{$pages}</div>
    <!--表单样式-->
  </div>
</div>
<div class="clear"></div>
{template 'member' , 'footer'}
