{template 'member','header'}
<script type="text/javascript">
</script>
<body>
<div id="main">
  {template 'pay' , 'left'}
  <div id="right">
    <p id="position"> <strong>当前位置：</strong><a href="{$M[url]}">财务管理</a>银行汇款</p>
	<table cellpadding="0" cellspacing="1" class="table_info">
     <caption>银行汇款</caption>
	 {if (!empty($offlines['info'])) }
     {loop $offlines['info'] $offline}
	 <tr>
		<td>{$offline['pay_desc']}</td>
	 </tr>
     {/loop}
	 {else}
     <tr>
		<td>暂无此服务</td>
	 </tr>
     {/if}
     </table>
  </div>
</div>
<div class="clear"></div>
{template 'member' , 'footer'}
