{template 'member','header'}
<body>
<div id="main">
  {template 'pay' , 'left'}
  <div id="right">
    <p id="position"> <strong>当前位置：</strong><a href="{$M[url]}">财务管理</a>汇款确认</p>    
    <table cellpadding="0" cellspacing="1" class="table_form">
      <caption>汇款确认</caption>
      <tr>
        <th style="width:20%">订单号</th>
        <td><strong style="color: red;">{$order['order_sn']}</strong></td>
      </tr>
      <tr>
        <th>付款金额</th>
        <td><strong style="color: red;">￥{$order['order_amount']}元</strong></td>
      </tr>
      <tr>
        <th>支付方式</th>
        <td>{$payment['pay_name']}</td>
      </tr>	  
	  <tr>
        <th>支付平台介绍</th>
        <td>{$order['pay_desc']}</td>
      </tr>
	  <tr>
        <th></th>
        <td>{$pay_online}</td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>
{template 'member','footer'}
