{template 'info','header'}

<script type="text/javascript" src="{PHPCMS_PATH}fckeditor/fckeditor.js"></script>
<script type="text/javascript">
	var editorBasePath = '{PHPCMS_PATH}fckeditor/';
	var ChannelId = {$channelid} ;
</script>

<script type="text/javascript">
window.onload = function()
{
	var oFCKeditor = new FCKeditor('content') ;
	oFCKeditor.BasePath	= editorBasePath ;
	oFCKeditor.ReplaceTextarea() ;
}
</script>

<style type="text/css">
<!--
td{
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
-->
</style>
<script language="JavaScript" src="{PHPCMS_PATH}include/js/common.js"></script>
<script language="javascript">
function showfile(c_Str)
{
	if(document.all(c_Str).style.display=='none'){
		document.all(c_Str).style.display='block'
	}else{
		document.all(c_Str).style.display='none'
	}
}

function checkform()
{
    if(myform.title.value=="") {
       alert("请输入标题!");
       myform.title.focus();
       return false;
    }
    if(myform.author.value=="") {
       alert("请输入联系人!");
       myform.author.focus();
       return false;
    }
    if(myform.telephone.value=="") {
       alert("请输入电话!");
       myform.telephone.focus();
       return false;
    }
{if !$_userid}
    if(myform.password.value=="") {
       alert("请输入管理密码!");
       myform.password.focus();
       return false;
    }
{/if}
	return true;
}
</script>

</head>
<body>
<table width="980" cellpadding="0" cellspacing="3">
<tr>
<td class="addstep_3">请填写相关信息</td>
</tr>
</table>
<table width="980" cellpadding="2" cellspacing="1" class="mar_10">
<tr>
<td width="80" class="addstep_l">类别</td>
<td class="addstep_r">{$position}</td>
</tr>
<tr>
<td class="addstep_l">地区</td>
<td class="addstep_r">
{$show_area($province,$city,$area,$catid)}
</td>
</tr>
<form name="myform" id="myform" action="{PHPCMS_PATH}{$_CHA[channeldir]}/add.php" method="post" enctype="multipart/form-data" onsubmit="return checkform();">
<tr>
<td class="addstep_l">标题 <font color="red">*</font></td>
<td class="addstep_r"><input type="text" name="title" size="50">
<a href="javascript:showfile('showfile');" style="color:blue">增加图片</a> 
</td>
</tr>
<tr id="showfile" style="DISPLAY: none">
<td class="addstep_l" >图片 <font color="red">*</font></td>
<td class="addstep_r"><input name="uploadfile" type="file" size="30"/>&nbsp;
<span>大小不能超过<font color="red">{$maxfilesize}K</font>的GIF或JPG的图片</span></td>
</tr>
{$fields}
<tr>
<td class="addstep_l">内容 <font color="red">*</font></td>
<td class="addstep_r">
<textarea name='content' cols='60' rows='8'></textarea>
</td>
</tr>
<tr>
<td class="addstep_l">联系人 <font color="red">*</font></td>
<td class="addstep_r"><input type="text" name="author" size="40" value="{$truename}"></td>
</tr>
<tr>
<td class="addstep_l">电话 <font color="red">*</font></td>
<td class="addstep_r"><input type="text" name="telephone" size="40" value="{$telephone}"></td>
</tr>
<tr>
<td class="addstep_l">地址</td>
<td class="addstep_r"><input type="text" name="address" size="40" value="{$address}"></td>
</tr>
<tr>
<td class="addstep_l">E-mail</td>
<td class="addstep_r"><input type="text" name="email" size="40" value="{$email}"></td>
</tr>
<tr>
<td class="addstep_l">Q Q</td>
<td class="addstep_r"><input type="text" name="qq" size="40" value="{$qq}"></td>
</tr>
<tr>
<td class="addstep_l"></td>
<td class="addstep_r">
<input type="hidden" name="catid1" value="{$catid1}">
<input type="hidden" name="catid2" value="{$catid2}">
<input type="hidden" name="catid3" value="{$catid3}">
<input type="hidden" name="catid" value="{$catid}">
<input type="hidden" name="province" value="{$province}">
<input type="hidden" name="city" value="{$city}">
<input type="hidden" name="area" value="{$area}">
<input type="hidden" name="step" value="add">
<input type="submit" name="next" value="发布信息" style='height:25px;width:80px;'>
</td>
</tr>
</form>
</table>
{template 'phpcms','footer'}
