{template 'phpcms','header'}

<!--频道下属栏目列表-->
<table width="980" cellpadding="0" cellspacing="0">
  <tr>
  <td width="250" valign="top" class="right_bg">
		<div class="rightcats"><h1>本地区推荐信息</h1></div>
		{tag_本地区推荐信息}
<div class="rightcats"><h1>本地区热点信息</h1></div>
		{tag_本地区热点信息}
</td>
  <td width="10"></td>
    <td width="720" valign="top">
<!--位置导航-->
    <table width="100%"  cellspacing="0" cellpadding="0" class="position">
      <tr>
        <td style="padding-left:20px;">当前位置：<a href="{$channelurl}">{$channelname}首页</a> &gt;&gt; {$position} 

<script type="text/javascript">
function D_on(Id){
	$(Id).style.display = '';
}
function D_off(Id){
	$(Id).style.display = 'none';
}
</script>
		<a href="javascript:D_on('showprovince')" class="tit"><span style="color:#FF0000">切换地区</span></a>&nbsp;
<div style="padding:5px;position: absolute;width:310px;border:#FFCC00 2px solid;display:none;z-index:3;margin:-20px 0 0 -60px;background:#FFFFFF;" id="showprovince" onmouseover="D_on(this)" onmouseout="D_off(this)">
{if $areaid}<span style="font-size:14px;font-weight:bold;">当前地区:<span style="color:red">{$AREA[$areaid]['areaname']}</span></span><br/>{/if}
{loop $AREA $v}{if $v['parentid']==0}<a href="{$v['linkurl']}">{$v['areaname']}</a>&nbsp;{/if}{/loop}&nbsp;</div>
		
		</td>
      </tr>
    </table>
<table width="100%"cellpadding="0" cellspacing="0">
<tr>
<td height="5"></td>
</tr>
</table>
<!--本类信息分类列表-->
    <div class="subnav">

	<table width="98%"cellpadding="2" cellspacing="2" align="center">
	{loop $arrchildid $i $v}
	{if $i%10==0}<tr>{/if}
	<td>·<a href="{$v['linkurl']}">{$v['areaname']}</a></td>
	{if $i%10==9}</tr>{/if}
	{/loop}
	</table>

	</div>

   <table width="100%"  cellspacing="0" cellpadding="0" class="mar_10">
{loop $arrchildid $i $childarea}
      {if $i%2==0}<tr>{/if}
        <td width="50%" valign="top" style="padding:0px 5px;">
	     <div class="cat_title">
		   <div class="cat_name">{$childarea[areaname]}</div>
		   <div class="cat_url"><a href="{$childarea[linkurl]}" target="{$childarea[target]}" class="more">更多</a></div></div>
<!--自定义栏目信息列表-->
{tag_子地区最新信息}
	</td>
     {if $i%2==1}</tr>{/if}
{/loop}
    </table>
<!--自定义栏目结束-->
<table width="100%"cellpadding="0" cellspacing="0"><tr><td height="10"></td></tr></table>
<!--搜索框-->	<script language="Javascript" src="{PHPCMS_PATH}data/js/search.js"></script>
</td>
  </tr>
</table>
{template 'phpcms','footer'}