{template 'phpcms','header'}

 <table width="980" cellpadding="0" cellspacing="0">
  <tr>
  <td width="250" valign="top" class="right_bg">
		<div class="rightcats"><h1>本地区推荐信息</h1></div>
		{tag_本地区推荐信息}
<div class="rightcats"><h1>本地区热点信息</h1></div>
		{tag_本地区热点信息}
</td>
  <td width="10"></td>
    <td width="720" valign="top">
<table width="100%"  cellspacing="0" cellpadding="0" class="position" style="background:#EEEEEE;">
      <tr>
        <td style="padding-left:20px;">当前位置：<a href="{$channelurl}">{$channelname}首页</a> &gt;&gt; {$position} 

<script type="text/javascript">
function D_on(Id){
	$(Id).style.display = '';
}
function D_off(Id){
	$(Id).style.display = 'none';
}
</script>
		<a href="javascript:D_on('showprovince')" class="tit"><span style="color:#FF0000">切换地区</span></a>
<div style="padding:5px;position: absolute;width:310px;border:#FFCC00 2px solid;display:none;z-index:3;margin:-20px 0 0 -60px;background:#FFFFFF;" id="showprovince" onmouseover="D_on(this)" onmouseout="D_off(this)">
{if $areaid}<span style="font-size:14px;font-weight:bold;">当前地区:<span style="color:red">{$AREA[$areaid]['areaname']}</span></span><br/>{/if}
{loop $AREA $v}{if $v['parentid']==0}<a href="{$v['linkurl']}">{$v['areaname']}</a>&nbsp;{/if}{/loop}&nbsp;</div>
		
		</td>
      </tr>
    </table>
<!--分类信息-->
{tag_终极地区信息列表}
<!--搜索框-->
</td>
  </tr>
</table>
{template 'phpcms','footer'}