{template 'phpcms','header'}
 <table width="980" cellpadding="0" cellspacing="0">
  <tr>
  <td width="250" valign="top" class="right_bg">
		<div class="rightcats"><h1>本类推荐信息</h1></div>
		{tag_本类推荐信息}
<div class="rightcats"><h1>本类热点信息</h1></div>
		{tag_本类热点信息}
</td>
  <td width="10"></td>
    <td width="720" valign="top">
	<table width="100%"  cellspacing="0" cellpadding="0"  class="position" style="background:#EEEEEE;">
      <tr>
        <td>当前位置：<a href="{$channelurl}">{$channelname}首页</a> &gt;&gt; {$position}</div></td>
		<td width="200" align="right"><a href="{$channelurl}contribute.php?catid={$catid}"><img src="{$skindir}/images/btns.gif" /></a></td>
      </tr>
    </table>
<!--分类信息-->
{tag_终极栏目信息列表}
<!--搜索框-->
</td>
  </tr>
</table>

{template 'phpcms','footer'}
