{template 'info','header'}

<!--频道下属栏目列表-->
<table width="980" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <td width="250" valign="top">
  <table width="100%"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="nuv_head"></td>
      </tr>
      <tr>
        <td class="side_4"><table width="94%" align="center" cellpadding="0"  cellspacing="0">
          <tr>
            <td class="lefttitle leftposition">本类推荐信息</td>
          </tr>
          <tr>
            <td>
         <script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&iselite=1&infonum=10&titlelen=32&ordertype=1"></script>
         </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td class="nuv_btm"></td>
      </tr>
    </table>
	<table cellpadding="0" cellspacing="0" >
     <tr>
	  <td height="10"></td>
	 </tr>
	</table>
	<table width="249"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="nuv_head"></td>
      </tr>
      <tr>
        <td valign="top" class="side_4">
          <table width="94%" align="center" cellpadding="0"  cellspacing="0">
          <tr>
            <td class="lefttitle">本类热点信息</td>
          </tr>
          <tr>
            <td height="22" align="right">
			<script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&infonum=10&titlelen=32&ordertype=5"></script>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td class="nuv_btm" height="10"></td>
      </tr>
    </table></td>
  <td width="10"></td>
    <td width="720" valign="top">
<!--位置导航-->
    <table width="100%"  cellspacing="0" cellpadding="0" class="position">
      <tr>
        <td style="padding-left:20px;">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position}</td>
      </tr>
    </table>
<table width="100%"cellpadding="0" cellspacing="0">
<tr>
<td height="5"></td>
</tr>
</table>
<!--本类信息分类列表-->
    <table width="100%"  cellspacing="0" cellpadding="0" class="area">
      <tr>
        <td>
          {$catlist(0,$channelid,$catid,0,2,0)}
        </td>
      </tr>
    </table>
    <table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="5"></td>
      </tr>
    </table>
{if $enableadd}
   <table width="100%"  cellspacing="0" cellpadding="0" class="subtitle">
      <tr>
        <td style="padding-left:10px;" width="110">{$catname}</td>
        <td align="right"><a href="{$catlisturl}" class="more">更多</a></td>
      </tr>
    </table>
<!--图片文章列表-->
   <table width="100%" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%">{$picinfo(0,$channelid,$catid,0,0,0,2,20,0,1,0,1,1,1,180,150,2)}</td>
        <td width="50%">{$infolist(0,$channelid,$catid,0,0,0,8,36,0,0,0,$itemordertype,2,0,0,0,1,1)}</td>
      </tr>
    </table>
   <table width="100%" align="center" cellpadding="0" cellspacing="0" class="gray">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
{/if}
<!--自定义栏目开始-->
   <table width="100%"  cellspacing="0" cellpadding="0" class="mar_10">
{loop $arrchildid $i $childcat}
      {if $i%2==0}<tr>{/if}
        <td width="50%" valign="top" style="padding:0px 5px;">
	     <table width="100%"  cellspacing="0" cellpadding="0" class="subtitle">
            <tr>
              <td style="padding-left:10px;" width="110">{$childcat[catname]}</td>
              <td align="right"><a href="{$childcat[caturl]}" target="{$childcat[target]}" class="more">更多</a>&nbsp;</td>
            </tr>
        </table>
<!--自定义栏目信息列表-->
{$infolist(0,$channelid,$childcat[catid],1,0,0,$showchilditems,36,0,0,0,$childcat[itemordertype],2,0,0,0,1,1)}
	</td>
     {if $i%2==1}</tr>{/if}
{/loop}
    </table>
<!--自定义栏目结束-->

<table width="100%"cellpadding="0" cellspacing="0"><tr><td height="10"></td></tr></table>
<!--搜索框-->	<script language="Javascript" src="{PHPCMS_PATH}data/js/search.js"></script>
</td>
  </tr>
</table>

{template 'phpcms','footer'}

