{template 'info','header'}

		  <table width="980"  cellspacing="0" cellpadding="0" class="position">
            <tr>
              <td style="padding-left:20px;">当前位置：<a href="{$channelurl}">{$channelname}首页</a> >> {$position} {$title}</td>
            </tr>
          </table>

      <table width="980" cellspacing="0" cellpadding="0" class=" mar_10">
        <tr>
          <td width="720" valign="top">


            <table width="100%"  cellspacing="0" cellpadding="0">
              <tr>
                <td class="title">{$title}</td>
              </tr>
              <tr>
                <td height="30" align="center">帖子号：{$infoid}&nbsp;&nbsp;发布日期：<span class="orange"style="font-size:12px ; font-weight:normal">{$adddate}</span>&nbsp;&nbsp;地区：{$show_area($province,$city,$area,$catid)}
				</td>
              </tr>
            </table>
			<hr align="center" width="700" size="2" noshade color="#eeeeee" />
            <table width="700" align="center" cellspacing="0" cellpadding="0">
             {loop $fields $v}
              <tr>
                <td class="con_text">{$v[title]}：{$v[value]}</td>
              </tr>
             {/loop}
              <tr>
                <td class="con_text"><img src="{$thumb}" width="180" height="120"><div>{$content}</div></td>
              </tr>
            </table>
			<table width="700" align="center" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><img src="{$skindir}/images/save.gif" width="16" height="16">　<a href="#" onclick="window.external.addFavorite(window.location,'{$title}')" class="tit">收藏此信息</a></td>
              </tr>
            </table>		  
            <table width="100%"  cellspacing="0" cellpadding="0" class="mar_10">
              <tr>
			    <td width="300" valign="top"><table width="100%"  cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="messagebar">联系方式</td>
                  </tr>
				  </table>
				  <table width="100%"  cellspacing="10" cellpadding="0" class="side_lrb">
                  <tr>
                    <td>联系人：<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$author}</a></td>
                  </tr>
                  <tr>
                    <td>电　话：{$telephone}</td>
                  </tr>
                  <tr>
                    <td>地　址：{$address}</td>
                  </tr>
                  <tr>
                    <td>E-mail：<a href="{PHPCMS_PATH}mail/sendmail.php?mailto={$email}" target="_blank">{$email}</a></td>
                  </tr>
                  <tr>
                    <td>Q Q：<a href="http://wpa.qq.com/msgrd?V=1&Uin={$qq}&Site={$PHP_DOMAIN}&Menu=yes" title="点击QQ交谈" target="_blank">{$qq}</a></td>
                  </tr>
                </table></td>
				<td width="10"></td>
                <td width="410" valign="top">
				<table width="100%"  cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="messagebar">我要留言</td>
                  </tr>
				  </table>
				  <table width="100%"  cellspacing="10" cellpadding="0" class="side_lrb">
	<form name="myform" method="post" action="{PHPCMS_PATH}comment/index.php?action=add&submit=1" onSubmit="return docheck();">
	<input name="item" type="hidden" value="infoid">
	<input name="itemid" type="hidden" value="{$infoid}">
	<input name="itemurl" type="hidden" value="{$itemurl}">

                  <tr>
                    <td>
        评分：
        <input name="score" type="radio" class="radio" title="很差" value="1"> 1 
        <input name="score" type="radio" class="radio" title="差" value="2"> 2 
        <input name="score" type="radio" class="radio" title="一般" value="3" checked> 3 
        <input name="score" type="radio" class="radio" title="好" value="4"> 4 
        <input name="score" type="radio" class="radio" title="很好" value="5"> 5 
        <br/>
	<textarea name="content" cols="50" rows="6" id="content"></textarea><br/>
	<span id="showcheckcode"></span>&nbsp;&nbsp;<input name="submit" type="submit" class="btn" value=" 发表 ">&nbsp;&nbsp;<input name="reset" type="reset" class="btn" value=" 重置 ">
					</td>
                  </tr>
                </table></td>                
              </tr>
            </table>

 <table width="100%"  cellspacing="0" cellpadding="0" class="messagebar mar_10">
      <tr>
        <td width="15"></td>
        <td>最新留言</td>
        <td class="bg_title" align="right"> <a href="{PHPCMS_PATH}comment/index.php?item=infoid&itemid={$infoid}&itemurl={$itemurl}" class="more">共<span id="commentnumber">0</span>条留言 &nbsp;发表/查看更多留言</a>&nbsp;</td>
      </tr>
    </table>	
<!--相关评论js调用-->
<script type="text/javascript" src="{PHPCMS_PATH}comment/list_js.php?item=infoid&itemid={$infoid}&commentnum=10&ordertype=1"></script>
		  </td>
          <td width="10"> </td>
          <td width="250" valign="top">

		  <table width="249"  cellspacing="0" cellpadding="0">
            <tr>
              <td class="nuv_head"></td>
            </tr>
            <tr>
              <td valign="top" class="side_3">
                <table width="94%" align="center" cellpadding="0"  cellspacing="0">
                  <tr>
                    <td class="lefttitle">发布人信息</td>
                  </tr>
              </table>
			  <table width="98%" align="center" cellpadding="0"  cellspacing="0">
              <tr>
                <td height="22">发布人：<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$username}</a> </td>
              </tr>
              <tr>
                <td height="22">目前身份：<span id="span_group"></span></td>
              </tr>
              <tr>
                <td height="22">最后登录：<span id="span_lastlogintime"></span></td>
              </tr>
              <tr>
                <td height="22">E-mail：<span id="span_email"></span></td>
              </tr>
              <tr>
                <td height="22"><a href="{$channelurl}search.php?search=1&srchtype=username&keywords={$username}" target="_blank">查看用户发布的所有信息 >></a></td>
              </tr>
            </table>

			  </td>
            </tr>
            <tr>
              <td class="nuv_btm" height="10"></td>
            </tr>
          </table>
		  <table width="249"  cellspacing="0" cellpadding="0" class="mar_10">
            <tr>
              <td class="nuv_head"></td>
            </tr>
            <tr>
              <td valign="top" class="side_3">
                <table width="94%" align="center" cellpadding="0"  cellspacing="0">
                  <tr>
                    <td class="lefttitle">本类最新信息</td>
                  </tr>
              </table>
		<script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&infonum=10&titlelen=32&ordertype=1"></script>
			</td>
            </tr>
            <tr>
              <td class="nuv_btm" height="10"></td>
            </tr>
          </table>
	   <table width="249"  cellspacing="0" cellpadding="0" class="mar_10">
            <tr>
              <td class="nuv_head"></td>
            </tr>
            <tr>
              <td valign="top" class="side_3">
                <table width="94%" align="center" cellpadding="0"  cellspacing="0">
                  <tr>
                    <td class="lefttitle">本类推荐信息</td>
                  </tr>
              </table>
<script type="text/javascript" src="{$channelurl}list_js.php?catid={$catid}&iselite=1&infonum=10&titlelen=32&ordertype=1"></script>
			  </td>
            </tr>
            <tr>
              <td class="nuv_btm" height="10"></td>
            </tr>
          </table>
		  <table width="249"  cellspacing="0" cellpadding="0" class="mar_10">
            <tr>
              <td class="nuv_head"></td>
            </tr>
            <tr>
              <td valign="top" class="side_3">
                <table width="94%" align="center" cellpadding="0"  cellspacing="0">
                  <tr>
                    <td class="lefttitle">相关信息</td>
                  </tr>
              </table>
{$relatedinfo(0,$channelid,$keywords,$infoid,10,32,0)}
            </td>
            </tr>
            <tr>
              <td class="nuv_btm" height="10"></td>
            </tr>
          </table>
			</td>
        </tr>
      </table>
<script type="text/javascript" src="{$channelurl}show_js.php?infoid={$infoid}&username={$username}"></script>

{template 'phpcms','footer'}