{template 'phpcms','header'}

<table cellspacing="0" cellpadding="0" width="980" align="center">
<tr>
<td width="240" align="center" valign="top" bgcolor="#EBF6FB">

{template 'member','member_left'}

</td>
<td width="10" valign="top">
</td>
<td width="730" valign="top">

  <table align='center' cellpadding='2' cellspacing='1' class='tableborder'>
   <tr>
   <th colspan='3'><a href="{PHPCMS_PATH}member/member.php?username={$username}">{$username}的作品集</a> - [{$cha['channelname']}]</th>
  </tr>
    <tr>
      <td align='left' colspan='3' class="tablerowhighlight">&nbsp;&nbsp;□ <a href="{$cha['channelurl']}">{$cha['channelname']}</a> （总数：{$cha['itemnumber']}）</td>
    </tr>
{loop $items $item}
    <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#EBF6FB'" bgColor='#ffffff'>
      <td width='80%'>·<a href="{$item['itemurl']}" target="_blank">{$item['title']}</a>
{if $item[ontop]}<font color="red">顶</font>{/if} 
{if $item[elite]}<font color="blue">荐</font>{/if}
</td>
      <td width="6%" align='center'>{$item['hits']}</td>
      <td width="14%" align='center'>{$item['adddate']}</td>
    </tr>
{/loop}
    <tr>
      <td align='center' colspan='3' class="tablerowhighlight">{$pages}</td>
    </tr>
  </table>
</form>
</td>
</tr>
</table>

{template 'phpcms','footer'}