<table class="tag_box"  cellpadding="1" cellspacing="1">
{loop $infos $i $info}
{if $i%$cols==0}<tr>{/if}
<td height="24" width="{$width}">{if $datetype}<span class="datetime f_r">{$info[adddate]}</span>{/if}·{if $showcatname} <a href="{$info[catlinkurl]}"{$target}>[{$info[catname]}]</a> {/if} {$info[type]} <a href="{$info[linkurl]}" title="{$info[title]}" {$target} class="tag_title_link">{$info[stitle]}</a>
{if $showhits}({$info[hits]}){/if}
{if $showauthor}[作者:{$info[author]}]{/if}
{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$info[introduce]}</span>{/if}    
</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}