<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
{loop $infos $i $info}
  {if $i%$cols==0}  <tr>  {/if}
      <td height="20" width="{$width}">
{$info[img]}
{if $showcatname}{$info[catname]}{/if} <a href="{$info[url]}" title="{$info[alt]}" target="{$target}" class="nominate">{$info[title]}</a>
{if $showhits}({$info[hits]}){/if}
{if $showauthor}[作者:{$info[author]}]{/if}
{if $datetype}[<span class="tag_date">{$info[adddate]}</span>]{/if}
{if $descriptionlen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$info[description]}</span>{/if}    
      </td>
  {if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}