<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
{loop $infos $i $info}
{if $i%$cols==0}<tr>{/if}
<td width="{$width}">

	<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
	<tr>
	<td align="center"><a href="{$info['linkurl']}" {$target}><img src="{$info[thumb]}" width="{$imgwidth}" height="{$imgheight}" alt="{$info[alt]}" /></a></td>
	</tr>
	<tr>
	<td align="center">
	{$info[type]} <a href="{$info['linkurl']}" title="{$info['title']}" {$target} class="tag_title_link">{$info[stitle]}</a>
	{if $datetype}[<span class="datetime">{$info[adddate]}</span>]{/if}
	{if $introducelen}<br/><span class="tag_description">&nbsp;&nbsp;&nbsp;&nbsp;{$info[introduce]}</span>{/if}
	</td>
	</tr>
	</table>

</td>
{if $i%$cols==($cols-1)}</tr>{/if}
{/loop}
</table>

{if $pages}
<div class="pages">{$pages}</div>
{/if}