{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template 'member','left'}
</td>
<td width="10">
</td>
<td class="right" valign="top">
{template 'message','message_catlist'}
<div class="memberborder_1">
<div class="memberborder_2">
  <h1>发送短消息</h1>
{if $totalnum < $limit}
<form action="{$PHP_SELF}" method="post" onsubmit="return formSubmit();" onreset="formReset();">
<table cellpadding="0" cellspacing="0" class="righttable">
  <tbody>
	<tr>
		<td width="10%" class="td_center">发送到：</td>
		<td width="60%" class="td_left"><input id="sendto" type="text" name="sendto" value="{$sendto}" style="width:98%"></td>
		<td width="30%" rowspan="4" class="td_center">{template 'message','frdlist'}</td>
	</tr>
	<tr>
		<td class="td_center">标&nbsp;&nbsp;题：</td>
		<td class="td_left"><input name="title" type="text" id="title" style="width:98%" value="{$title}"></td>
	</tr>
	<tr>
		<td class="td_center">内&nbsp;&nbsp;容：<br />
		  <script src="{PHPCMS_PATH}{$mod}/face/face.js.php" language="javascript" type="text/javascript"></script><br />插入表情</td>
		<td height="200"  class="td_left"><textarea id="content" name="content" rows="1" cols="1" style="display:none">{$content}</textarea><script src="{PHPCMS_PATH}{$mod}/face/editor.js" language="javascript" type="text/javascript"></script></td>
	</tr>
	<tr>
		<td  class="td_center">&nbsp;</td>
		<td class="td_center"><div style="margin-top:0px;padding-top:0px;width:120px;height:14px;float:left"><input type="checkbox" name="save" value="1"{if isset($mid)} disabled{/if}>保存到发件箱中</div><input type="submit" name="dosubmit" value="发　送">&nbsp;&nbsp;<input type="reset" value="清 除"></td>
	</tr>
  </tbody>
</table>
</form>
{else}
<table cellpadding="5" cellspacing="0">
  <tbody>
	<tr>
		<td width="100%" height="100%" align="center" valign="middle">
<div style="width:60%">您的消息数量已经到达上限，所以暂时不能发送短消息，同时也无法接收新的消息(系统管理员消息除外)。请删除您的过时消息或清空回收站。</div><div style="text-align:center;color:#ff0000;font-style:italic;text-decoration:underline">[注：消息数量为收件箱、发件箱、回收站的消息数量总和]</div>{template 'message','numalert'}</td>
	</tr>
  </tbody>
</table>
{/if}
</div></div>
    </td>
	</tr>
  </table>
		</div></td>
	</tr>
</tbody></table>
{template 'phpcms','footer'}