{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
  <tr>
    <td valign="top" class="left">
      {template 'member','left'}
    </td>
    <td width="10"></td>
    <td class="right" valign="top">
{template 'message','message_catlist'}
<div class="memberborder_1">
<div class="memberborder_2">
  <h1>{$message[1]}</h1>
  <table cellpadding="0" cellspacing="0" class="righttable">
    <tbody>
	  <tr>
		<td width="15%" class="td_right">发送到：</td>
		<td width="85%" class="td_left">{$message[0]}</td>
	</tr>
	<tr>
		<td class="td_right">时&nbsp;&nbsp;间：</td>
		<td class="td_left">{date('Y-m-d H:i:s', $message[3])}</td>
	</tr>
	<tr>
		<td class="td_right">内&nbsp;&nbsp;容：</td>
		<td class="td_left">{$message[2]}</td>
	</tr>
	<tr>
		<td colspan="2" class="td_center"><a href="{$MOD[linkurl]}{$folder}.php" title="转到发件箱" target="_self">返回</a> - <a href="{$MOD[linkurl]}outbox.php?action=quite&mid={$mid}" title="彻底删除该短消息" target="_self">删除</a></td>
	</tr>
  </tbody>
</table>
<script language="javascript" type="text/javascript">
<!--
var folder = document.getElementById("{$folder}");
folder.style.fontWeight = "bold";
//-->
</script>
</div>
</div>
    </td>
  </tr>
</table>
		</div></td>
	</tr>
</tbody></table>
{template 'phpcms','footer'}