{template 'phpcms','header'}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template 'member','left'}
</td>
<td width="10">
</td>
<td class="right" valign="top">
{template 'message','message_catlist'}
<div class="memberborder_1">
<div class="memberborder_2">
  <h1>消息跟踪</h1>
{if isset($track) && count($track) > 0}
<form action="{$PHP_SELF}" method="post" onsubmit="return frmChk();">
<table cellpadding="0" cellspacing="0" class="righttable">
  <tbody>
	<tr>
		<td width="8%" class="td_center">状态</td>
		<td width="8%" class="td_center">删除</th>
		<td width="49%" class="td_center">标题</th>
		<td width="15%" class="td_center">发送到</td>
		<td width="20%" class="td_center">时间</td>
	</tr>
{loop $track $value}
	<tr onmouseover="this.className='mrowbg2';" onmouseout="this.className='mrowbg1';">
		<td width="8%" align="center" valign="middle">{if $value[3] == 0}<span style="color:#ff0000">未读</span>{else}已读{/if}</td>
		<td width="8%" align="center" valign="middle"><input id="mid" type="checkbox" name="mid[]" value="{$value[0]}" onclick="delCheck();"></td>
		<td width="49%" align="left" valign="middle"><a href="{$MOD[linkurl]}show.php?folder=track&mid={$value[0]}" target="_self" title="查看消息内容"{if $value[3] == 0} style="font-weight:bold"{/if}>{$value[2]}</a></td>
		<td width="15%" align="center" valign="middle">{$value[1]}</td>
		<td width="20%" align="center" valign="middle">{date('Y-m-d H:i:s', $value[4])}</td>
	</tr>
{/loop}
</tbody></table><script src="{PHPCMS_PATH}templates/xhtml/message/mutexbtn.js" language="javascript" type="text/javascript"></script>
<table cellpadding="0" cellspacing="0" class="righttable">
	<tr>
		<td width="50%" class="td_center"><input id="checkAll" type="button" value="全选" onclick="selectAll();">&nbsp;<input id="checkOther" type="button" value="反选" disabled onclick="selOther();">&nbsp;<input id="cancel" type="button" value="取消选择" disabled onclick="noCheck();"></td>
		<td width="50%" class="td_center"><span style="display:none"><input id="quite" type="checkbox" name="quite" value="1" disabled>彻底删除&nbsp;&nbsp;</span><input id="subBtn" type="submit" name="dosubmit" value="删除消息" disabled title="彻底删除发出的短消息"></td>
	</tr>
  </tbody>
</table></form>
{/if}
{template 'message','numalert'}
</div></div>
    </td>
	</tr>
  </table>
		</div></td>
	</tr>
</tbody></table>
{template 'phpcms','footer'}