{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10">
</td>
<td class="right" valign="top">
{template "union","menu"}
<div class="memberborder_1">
<div class="memberborder_2">
<h1>推广联盟代码</h1>
  <table cellpadding="2" cellspacing="1" class="righttable">
  <tr>
    <td class="td_left">推广链接</td>
    <td class="td_left"><font color="red">{$PHP_SITEURL}union/?{$_userid}</font></td>
  </tr>
  <tr>
    <td class="td_left" colspan=2>
	·点击“<a href="{$MOD[linkurl]}manage.php?action=stats">统计信息</a>”可查看您的业绩情况<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=visit">访问记录</a>”可查看点过广告的访客记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=reguser">注册用户</a>”可查看点过广告并注册为会员的注册用户记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=expend">用户消费记录</a>”可查看您的下线会员的所有消费记录<br />
	·点击“<a href="{$MOD[linkurl]}manage.php?action=pay">结算记录</a>”可查看每次本站给您支付的推广提成记录<br />
	·点击“<a href="{$MOD[linkurl]}edit.php">修改资料</a>”可修改您的支付宝帐号和联系方式<br />
	</td>
  </tr>
</table>
</div></div>

</td>
</tr>
</table>
{template "phpcms","footer"}