{template "phpcms","header"}
<table cellspacing="0" cellpadding="0" class="member">
<tr>
<td valign="top" class="left">
{template "member","left"}
</td>
<td width="10">
</td>
<td class="right" valign="top">
{template "union","menu"}
<div class="memberborder_1">
<div class="memberborder_2">
<h1>访问记录</h1>
<table cellpadding="2" cellspacing="1" class="righttable">
  <tr align="center">
    <td width="38%" class="td_center">来源地址</td>
    <td width="14%" class="td_center">访问IP</td>
    <td width="18%" class="td_center">访问时间</td>
    <td width="12%" class="td_center">注册用户</td>
    <td width="18%" class="td_center">注册时间</td>
  </tr>
 {loop $visits $visit}
  <tr align="center">
    <td class="td_left" align="left">{if $visit['referer']}<a href="{$visit[referer]}" target="_blank">{$visit[referer]}</a>{else}地址栏输入{/if}</td>
    <td class="td_center">{$visit[visitip]}</td>
    <td class="td_center">{$visit[visittime]}</td>
    <td class="td_center">&nbsp;{$visit[regusername]}</td>
    <td class="td_center">&nbsp;{$visit[regtime]}</td>
  </tr>
  {/loop}
</table>
<table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">{$pages}</td>
  </tr>
</table>
</div></div>

</td>
</tr>
</table>
{template "phpcms","footer"}