<div class="membercatslist">
<ul>
<li><a id="send" href="{$MOD[linkurl]}send.php"><span>发送消息</span></a></li>
<li><a id="inbox" href="{$MOD[linkurl]}inbox.php"><span>收件箱</span></a></li>
<li><a id="outbox" href="{$MOD[linkurl]}outbox.php"><span>发件箱</span></a></li>
<li><a id="recycle" href="{$MOD[linkurl]}recycle.php"><span>回收站</span></a></li>
<li><a id="track" href="{$MOD[linkurl]}track.php"><span>消息跟踪</span></a></li>
<li><a id="search" href="{$MOD[linkurl]}search.php"><span>消息搜索</span></a></li>
<li><a id="export" href="{$MOD[linkurl]}export.php"><span>消息导出</span></a></li>
<li><a id="friend" href="{$MOD[linkurl]}friends.php"><span>好友列表</span></a></li>
</ul>
</div>
<div class="clearboth"></div>