{template 'phpcms','header'}
<link href="{PHPCMS_PATH}images/guestbook/guestbook.css" rel="stylesheet" type="text/css" />
<!--主体标签-->
<div id="censent">
<div id="bt11">&nbsp;当前位置:<a href="{PHPCMS_PATH}">网站首页</a>&gt;&gt;{$position}</div>
<div class="liuyan"><ul><li class="d_1"><a href="{$MODULE[guestbook][linkurl]}index.php?keyid={$keyid}">留言首页</a></li><li class="d_1"><a href="{$MODULE[guestbook][linkurl]}post.php?keyid={$keyid}">签写留言</a></li>
<li class="d_2"><form method="get" name="search" action="{$MODULE[guestbook][linkurl]}index.php?keyid={$keyid}">
	
	<input name='keyid' type='hidden' value='{$keyid}'>

	关键字：
	<input name='keywords' type='text' size='30' value='{$keyword}'>&nbsp;
	<input type="radio" name="srchtype" value="0" {if (!$srchtype)} checked {/if}> 标题 	
	<input type="radio" name="srchtype" value="1" {if ($srchtype==1)} checked {/if}> 内容	
	<input type="radio" name="srchtype" value="2" {if ($srchtype==2)} checked {/if}> 会员
	<input name='submit' type='submit' value='留言搜索'>
	
  </form></li>
</ul>
</div>
<!--{loop $gbooks $gbook}-->
<div class="layout">
            <ul class="xw-1">
            <li class="xw-left">
            <div class="xw-onn d_3">
                <span><b><font color="#F96706">留言主题：</font></b>{$gbook['title']} ---- [{$gbook['addtime']}]</span>
            </div>
            </li>
            <li class="xw-right">No:{$gbook['gid']}&nbsp;</li>
            </ul>
            <div class="kuan">
			
<div class="d_5"><p>{$gbook['content']}</p>
<!--{if $gbook['reply']}--><div class="d_6"><b>管理员 [ <font color="red">{$gbook['replyer']}</font> ] 于 <font color="red">{$gbook['replytime']}</font> <br>回复：</b>{$gbook['reply']}</div>
<!--{/if}--></div>



<div class="d_4">
<ul><li><img src="{PHPCMS_PATH}images/guestbook/face/{$gbook[head]}.gif" width="88" height="99" alt="" />
<br /><b>{$gbook['username']}</b></li>
<li> <li><!--{if $gbook['homepage']}--><a href="{$gbook['homepage']}" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/url.gif" width="45" height="16" border="0" alt="Homepage:{$gbook['homepage']}"></a>
				<!--{else}-->
				<img src="{PHPCMS_PATH}images/guestbook/nourl.gif" width="45" height="16" border="0" alt="Homepage">
				<!--{/if}-->
		<!--{if $gbook['email']}--><a href="mailto:{$gbook['email']}" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/email.gif" width="45" height="16" border="0" alt="Email:{$gbook['email']}"></a>
		<!--{else}-->
		<img src="{PHPCMS_PATH}images/guestbook/noemail.gif" width="45" height="16" border="0" alt="Email">
		<!--{/if}-->
		<!--{if $gbook['qq']}--><a href="http://wpa.qq.com/msgrd?V=1&Uin={$gbook['qq']}&Site={$_SERVER[HTTP_HOST]}&Menu=yes" target="_blank"><img src="{PHPCMS_PATH}images/guestbook/oicq.gif" width="45" height="16" border="0" alt="QQ:{$gbook['qq']}">
		<!--{else}-->
		<img src="{PHPCMS_PATH}images/guestbook/nooicq.gif" width="45" height="16" border="0" alt="QQ">
		<!--{/if}-->
		        </li></li>

</ul>
</div>
  </div>
<!--{/loop}-->
  </div>
</div>
{template 'phpcms','footer'}